workflows/ask-data_Bot_Feedback.json
{
  "updatedAt": "2025-11-15T21:34:33.000Z",
  "createdAt": "2025-09-29T06:01:17.149Z",
  "id": "IAws4Mwb3krnBRmf",
  "name": "ask-data_Bot_Feedback",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "### When someone emoji's on the bot message",
        "height": 288,
        "width": 1072
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        1072
      ],
      "typeVersion": 1,
      "id": "829e7efe-d037-4d89-8d5f-b765c94f1068",
      "name": "Sticky Note21",
      "disabled": true
    },
    {
      "parameters": {
        "content": "### Test data for emoji only on omni bot message\n\n```\n{\n      \"user_email\": \"nkwok@cribl.io\",\n      \"message_ts\": \"1758911298.124399\",\n      \"message_message_timestamp\": \"2025-09-26T18:28:18.124Z\",\n      \"message_raw_text\": \"<@U06PVBEK9T6> I found a few Omni dashboards related to free Cribl Cloud user metrics and associated email addresses within your accounts. These dashboards might contain the data you need:\\n• <https://cribl.omniapp.co/dashboards/47d94e3c|Overview: OEM Metrics> in <https://cribl.omniapp.co/f/revenue|Revenue>\\n• <https://cribl.omniapp.co/dashboards/credit-consumption|Customer: Cloud Credit Consumption> in <https://cribl.omniapp.co/f/product|Product>\\n• <https://cribl.omniapp.co/dashboards/2fb66a67|Product: Copilot Trend Metrics> in <https://cribl.omniapp.co/f/product|Product>\",\n      \"user_id\": \"U06PVBEK9T6\",\n      \"message_user_name\": \"Omni Bot\",\n      \"message_channel_name\": \"data-eng-test-ai-channel\",\n      \"message_channel_id\": \"C0912AANW1L\",\n      \"event_timestamp\": \"2025-09-28T05:39:57.000Z\",\n      \"conversation_id\": \"C0912AANW1L\",\n      \"reaction\": \"+1\",\n      \"event_ts\": \"1759037997.000668\",\n      \"message_user_is_bot\": \"True\",\n      \"message_team_domain\": \"cribl\",\n      \"message_team_id\": \"T3XQYAF26\",\n      \"message_team_name\": \"Cribl\",\n      \"message_text\": \"@nathan_kwok I found a few Omni dashboards related to free Cribl Cloud user metrics and associated email addresses within your accounts. These dashboards might contain the data you need:\\n• https://cribl.omniapp.co/dashboards/47d94e3cOverview: OEM Metrics> in https://cribl.omniapp.co/f/revenueRevenue>\\n• https://cribl.omniapp.co/dashboards/credit-consumptionCustomer: Cloud Credit Consumption> in https://cribl.omniapp.co/f/productProduct>\\n• https://cribl.omniapp.co/dashboards/2fb66a67Product: Copilot Trend Metrics> in https://cribl.omniapp.co/f/productProduct>\",\n      \"message_thread_ts\": \"1758911151.912309\",\n      \"message_thread_ts_time\": \"2025-09-26T18:25:51.000Z\",\n      \"feedback_medium\": \"emoji\",\n      \"original_message_ts\": \"1758911151.912309\",\n      \"original_message_text\": \"Hi team - Is there a dashboard in Omni to see free cribl cloud users, and associated email addresses within accounts I own similar to <https://cribl.cloud.looker.com/explore/Product/cloud_orgs?qid=6AczKnvfgAdLscURN8AKDq&amp;toggle=fil|this one> I used in looker?\",\n      \"original_message_user_id\": \"U06PVBEK9T6\",\n      \"original_message_thread_ts\": \"1758911151.912309\",\n      \"message_permalink\": \"https://cribl.slack.com/archives/C0912AANW1L/p1758911298124399?thread_ts=1758911151.912309&cid=C0912AANW1L\"\n    }\n```",
        "height": 656,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1088,
        352
      ],
      "typeVersion": 1,
      "id": "96234e8b-4be0-4a0a-842b-5658ca614946",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### Test data for feedback text\n\n```\n{\n      \"ts\": \"1759120221.028239\",\n      \"user_name\": \"nathan_kwok\",\n      \"user_real_name\": \"Nathan Kwok\",\n      \"channel_id\": \"C0912AANW1L\",\n      \"permalink\": \"https://cribl.slack.com/archives/C0912AANW1L/p1759120221028239?thread_ts=1758911151.912309&cid=C0912AANW1L\",\n      \"user_profile_first_name\": \"Nathan\",\n      \"ts_time\": \"2025-09-29T04:30:21.000Z\",\n      \"user_profile_last_name\": \"Kwok\",\n      \"raw_text\": \"<@U08DHKDMR8C> this is the 9th tagged message\",\n      \"thread_ts\": \"1758911151.912309\",\n      \"user_id\": \"U06PVBEK9T6\",\n      \"user_profile_email\": \"nkwok@cribl.io\",\n      \"team_name\": \"Cribl\",\n      \"user_is_bot\": \"False\",\n      \"team_domain\": \"cribl\",\n      \"team_id\": \"T3XQYAF26\",\n      \"text\": \"@omni this is the 9th tagged message\",\n      \"channel_name\": \"data-eng-test-ai-channel\",\n      \"user_email\": \"nkwok@cribl.io\",\n      \"feedback_medium\": \"text\",\n      \"omni_message_text\": \"Thank you! How can I assist you today?\",\n      \"omni_message_subtype\": \"bot_message\",\n      \"omni_message_bot_id\": \"B01304K3N6S\",\n      \"omni_message_bot_username\": \"Omni Bot\",\n      \"omni_message_ts\": \"1759104317.219099\",\n      \"original_message_ts\": \"1758911151.912309\",\n      \"original_message_text\": \"Hi team - Is there a dashboard in Omni to see free cribl cloud users, and associated email addresses within accounts I own similar to <https://cribl.cloud.looker.com/explore/Product/cloud_orgs?qid=6AczKnvfgAdLscURN8AKDq&amp;toggle=fil|this one> I used in looker?\",\n      \"original_message_user_id\": \"U06PVBEK9T6\",\n      \"original_message_thread_ts\": \"1758911151.912309\",\n      \"original_message_thread_ts_time\": \"2025-09-26T18:25:51.000Z\"\n    }\n```",
        "height": 640,
        "width": 672
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -416,
        320
      ],
      "typeVersion": 1,
      "id": "24baa0e6-00b0-4c9a-b636-71485fb8f17e",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "### When someone tags @Omni with a message. Needs to have found the original message",
        "height": 400,
        "width": 1072
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        1408
      ],
      "typeVersion": 1,
      "id": "a84555e1-02d4-4922-9336-2a317eaad9d2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// const items = $input.all();\nconst omni_message_timestamp_obj = $input.last().json;\nconst global_vars_output_obj = $input.first().json;\nconst body = global_vars_output_obj['body'];\n\nbody['omni_message_timestamp'] = omni_message_timestamp_obj['omni_message_timestamp'];\n\nglobal_vars_output_obj['body'] = body;\n\nreturn global_vars_output_obj;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        1488
      ],
      "id": "4329aa57-e661-47c3-b490-7a1d65847e56",
      "name": "Insert Message Timestamp into Body"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1776,
        1488
      ],
      "id": "e09e72cd-2607-4fc3-85b6-100ce99663e9",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const ts = $input.first().json.body.omni_message_ts;\nconsole.log(ts);\n\n// Python used seconds -> JS Date expects milliseconds\nconst dt = new Date(parseFloat(ts) * 1000);\nconsole.log(dt); // or: console.log(dt.toISOString())\n\nconst iso = dt.toISOString(); // UTC with milliseconds and trailing 'Z'\nconsole.log(iso);\n\nreturn [{ omni_message_timestamp: iso }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        1600
      ],
      "id": "c5c0b4df-f2a0-4a58-8e59-c5ecb635f7f1",
      "name": "Extract Message Timestamp"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.feedback_medium }}",
                    "rightValue": "emoji",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c2a34b63-358c-414f-bb10-c9df2559fc09"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "45226139-ff8a-4b14-bb81-66d4318cde04",
                    "leftValue": "={{ $json.body.feedback_medium }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1008,
        1136
      ],
      "id": "e7f9cda6-3d9b-4fd9-9801-556624da82b3",
      "name": "Route Emoji or Text",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "OFpD7aepKHcHCvqz",
          "mode": "list",
          "cachedResultUrl": "/workflow/OFpD7aepKHcHCvqz",
          "cachedResultName": "Global Vars"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        672,
        1136
      ],
      "id": "51f2cdf3-93c6-4808-b5ad-df871dbff98c",
      "name": "Global Vars",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"table_schema_mapping\": {\n    \"feedback_id\": \"event_ts\",\n    \"feedback_medium\": \"feedback_medium\",\n    \"feedback_timestamp\": \"event_timestamp\",\n    \"feedback_user_email\": \"user_email\",\n    \"feedback_user_id\": \"user_id\",\n    \"channel_id\": \"message_channel_id\",\n    \"channel_name\": \"message_channel_name\",\n    \"team_id\": \"message_team_id\",\n    \"team_domain\": \"message_team_domain\",\n    \"omni_message_id\": \"message_ts\",\n    \"omni_message_text\": \"message_raw_text\",\n    \"omni_message_timestamp\": \"message_message_timestamp\",\n    \"omni_message_user_name\": \"message_user_name\",\n    \"original_message_id\": \"original_message_ts\",\n    \"original_message_text\": \"original_message_text\",\n    \"original_message_user_id\": \"original_message_user_id\",\n    \"original_message_thread_ts\": \"original_message_thread_ts\",\n    \"thread_ts\": \"message_thread_ts\",\n    \"thread_timestamp\": \"message_thread_ts_time\",\n    \"feedback_content\": \"reaction\",\n    \"permalink\": \"message_permalink\"\n  }\n}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        1120
      ],
      "id": "f18f1b7e-f70b-4154-a2ce-3d414264fb7e",
      "name": "Insert Emoji Schema Mapping"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n\"table_schema_mapping\": {\n    \"feedback_id\": \"ts\",\n    \"feedback_medium\": \"feedback_medium\",\n    \"feedback_timestamp\": \"ts_time\",\n    \"feedback_user_email\": \"user_profile_email\",\n    \"feedback_user_id\": \"user_id\",\n    \"channel_id\": \"channel_id\",\n    \"channel_name\": \"channel_name\",\n    \"team_id\": \"team_id\",\n    \"team_domain\": \"team_domain\",\n    \"omni_message_id\": \"omni_message_ts\",\n    \"omni_message_text\": \"omni_message_text\",\n    \"omni_message_timestamp\": \"omni_message_timestamp\",\n    \"omni_message_user_name\": \"omni_message_bot_username\",\n    \"original_message_id\": \"original_message_ts\",\n    \"original_message_text\": \"original_message_text\",\n    \"original_message_user_id\": \"original_message_user_id\",\n    \"original_message_thread_ts\": \"original_message_thread_ts\",\n    \"thread_ts\": \"thread_ts\",\n    \"thread_timestamp\": \"original_message_thread_ts_time\",\n    \"feedback_content\": \"text\",\n    \"permalink\": \"permalink\"\n  }\n}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2192,
        1488
      ],
      "id": "625f2fb9-543f-452d-9caf-346fa0a71621",
      "name": "Insert Text Schema Mapping"
    },
    {
      "parameters": {
        "jsCode": "const mapping = $input.first().json.table_schema_mapping;\nconst body = $input.first().json.body;\nconst result = {};\n\nfor (const key in mapping) {\n  result[key] = body[mapping[key]];\n};\n\nreturn result;\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        1280
      ],
      "id": "5ec7077e-bfd2-41ec-8ac6-64d2732cad1d",
      "name": "Map Feedback to Snowflake Schema"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT count(*) as \"count\" FROM \"{{ $('Global Vars').first().json.snowflake_tables.dashboard_recommendations_feedback.snowflake_database }}\".\"{{ $('Global Vars').first().json.snowflake_tables.dashboard_recommendations_feedback.snowflake_schema }}\".\"{{ $('Global Vars').first().json.snowflake_tables.dashboard_recommendations_feedback.table_name }}\" WHERE feedback_id = '{{ $json.feedback_id }}'"
      },
      "type": "n8n-nodes-base.snowflake",
      "typeVersion": 1,
      "position": [
        2992,
        1632
      ],
      "id": "48c6659a-487e-4407-a180-626f37194513",
      "name": "Find Count for Event ID",
      "credentials": {
        "snowflake": {
          "id": "C9vmzM7wtMKbWSDI",
          "name": "Snowflake TRANSFORM"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c806ba43-d60d-4a2e-8d62-281726ec7bf6",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3264,
        1632
      ],
      "id": "80f5f187-6825-4c56-8887-9cebfe76357c",
      "name": "If",
      "disabled": true
    },
    {
      "parameters": {
        "table": "={{ $('Global Vars').first().json.snowflake_tables.dashboard_recommendations_feedback.table_name }}",
        "columns": "={{ $('Retrieve Mapped Object').item.json.keys().join(\",\") }}"
      },
      "type": "n8n-nodes-base.snowflake",
      "typeVersion": 1,
      "position": [
        3856,
        1616
      ],
      "id": "d5a3a786-e36f-42bb-86c6-50ed98386cf6",
      "name": "Insert Feedback into Snowflake",
      "credentials": {
        "snowflake": {
          "id": "G9CKV4DYGKPmDc2f",
          "name": "Snowflake LOADER"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('Map Feedback to Snowflake Schema').item.json }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3568,
        1616
      ],
      "id": "c548d44e-4dce-447e-8af6-1d30aa908260",
      "name": "Retrieve Mapped Object",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ask-data-feedback-f2cbcffc-c539-4be3-a636-cf5e0b5d7db0",
        "authentication": "basicAuth",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        1136
      ],
      "id": "a5134e34-247a-4d7b-b8ad-5d3c1bb69849",
      "name": "Trigger",
      "webhookId": "1298ec1c-5d6c-4010-9b21-b40fada0aa39",
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "3AVUqEU99hkVKUOW",
          "name": "Zapier Inbound Basic Auth Webhook"
        }
      }
    },
    {
      "parameters": {
        "content": "## Save Feedback to Snowflake",
        "height": 272,
        "width": 368,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2896,
        1200
      ],
      "typeVersion": 1,
      "id": "fbadcf87-4ea5-490c-a4d8-f15bc76ce8d1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"save_obj\": {\n    \"input_object\": {{ $json.body.toJsonString() }},\n    \"execution_id\": {{ $execution.id }},\n    \"workflow_id\": {{ $workflow.id.toJsonString() }},\n    \"workflow_name\": {{ $workflow.name.toJsonString() }},\n    \"workflow_execution_start_time\": \"{{ $now.toString() }}\",\n    \"host_name\": \"https://n8n-relayer-1.app.n8n.cloud\"\n  },\n  \"primary_keys\": [\"workflow_id\", \"execution_id\"],\n  \"snowflake_table_obj\": {{ $json.snowflake_tables.n8n_workflow_executions }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        784
      ],
      "id": "530ac96f-4c7b-412a-a8f5-dd30386aecf1",
      "name": "Create Workflow Execution Object"
    },
    {
      "parameters": {
        "content": "## Save input object",
        "height": 336,
        "width": 560,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        656
      ],
      "typeVersion": 1,
      "id": "fb94bd0d-441d-4eeb-b7e2-fa0ca75289fb",
      "name": "Sticky Note31"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5fLEtpYDMhJTTEzh",
          "mode": "list",
          "cachedResultUrl": "/workflow/5fLEtpYDMhJTTEzh",
          "cachedResultName": "Insert into Snowflake Table"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "save_obj": "={{ $json }}",
            "primary_keys": "=[\"feedback_id\"]",
            "snowflake_table_obj": "={{ $('Global Vars').first().json.snowflake_tables.dashboard_recommendations_feedback }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "save_obj",
              "displayName": "save_obj",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "primary_keys",
              "displayName": "primary_keys",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "snowflake_table_obj",
              "displayName": "snowflake_table_obj",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2976,
        1280
      ],
      "id": "67c210aa-3aca-42ac-8b2f-ab06d267b261",
      "name": "Save Dashboard Recommendations Feedback"
    },
    {
      "parameters": {
        "content": "```\nCREATE TABLE IF NOT EXISTS dashboard_recommendations_feedback (\n    -- Primary identifiers\n    feedback_id VARCHAR(17) PRIMARY KEY ,                                          -- emoji: event_ts \"1759037997.000668\", text: ts \"1759106330.788269\"\n    feedback_medium VARCHAR(20) NOT NULL, -- \"emoji\" or \"text\"\n    feedback_timestamp TIMESTAMP_TZ NOT NULL,                                      -- emoji: event_timestamp \"2025-09-28T05:39:57.000Z\", text: ts_time \"2025-09-29T00:38:50.000Z\"\n\n    -- Feedback provider information\n    feedback_user_email VARCHAR(255) NOT NULL,                                     -- emoji: user_email, text: user_profile_email \"nkwok@cribl.io\"\n    feedback_user_id VARCHAR(11) NOT NULL,                                         -- \"U06PVBEK9T6\"\n\n    -- Channel and team context\n    channel_id VARCHAR(50) NOT NULL,                                               -- \"C0912AANW1L\"\n    channel_name VARCHAR(255),                                                     -- \"data-eng-test-ai-channel\"\n    team_id VARCHAR(11) NOT NULL,                                                  -- \"T3XQYAF26\"\n    team_domain VARCHAR(255),                                                      -- \"cribl\"\n\n    -- Omni message being reacted to/commented on (bot's response)\n    omni_message_id VARCHAR(17) NOT NULL,                                          -- emoji: message_ts \"1758911298.124399\", text: omni_message_ts \"1758911298.124399\"\n    omni_message_text TEXT,                                                        -- emoji: \"I found a few Omni dashboards...\", text: omni_message_text \"Hi Nathan Kwok,\\n\\nHere are the dashboards...\"\n    omni_message_timestamp TIMESTAMP_TZ,                                           -- emoji: \"2025-09-26T18:28:18.124Z\"\n    omni_message_user_name VARCHAR(75),                                           -- emoji: \"Omni Bot\", text: omni_message_bot_username \"Omni Bot\"\n\n    -- Original message (user's original query that started the conversation)\n    original_message_id VARCHAR(17) NOT NULL,                                      -- original_message_ts \"1758911151.912309\"\n    original_message_text TEXT,                                                    -- original_message_text \"Hi team - Is there a dashboard in Omni to see free cribl cloud users...\"\n    original_message_user_id VARCHAR(11),                                          -- original_message_user_id \"U06PVBEK9T6\"\n    original_message_thread_ts VARCHAR(17),                                        -- original_message_thread_ts \"1758911151.912309\"\n\n    -- Thread context (if feedback is in a thread)\n    thread_timestamp TIMESTAMP_TZ,                                                 -- emoji: \"2025-09-26T18:25:51.000Z\", text: original_message_thread_ts_time \"2025-09-26T18:25:51.000Z\"\n\n    -- Feedback content (emoji or text)\n    feedback_content TEXT NOT NULL,                                                         -- emoji: \"+1\", text: \"@omni this is the 8th tagged message\"\n\n    -- Additional metadata\n    permalink VARCHAR(750),                                                        -- text: \"https://cribl.slack.com/archives/C0912AANW1L/p1759106330788269?thread_ts=1758911151.912309&cid=C0912AANW1L\"\n    created_at TIMESTAMP_TZ DEFAULT CURRENT_TIMESTAMP(),\n    updated_at TIMESTAMP_TZ DEFAULT CURRENT_TIMESTAMP()\n);\n```"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3264,
        784
      ],
      "typeVersion": 1,
      "id": "b21ec66c-9258-4760-8593-c46623160c9b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5fLEtpYDMhJTTEzh",
          "mode": "list",
          "cachedResultUrl": "/workflow/5fLEtpYDMhJTTEzh",
          "cachedResultName": "Insert into Snowflake Table"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "save_obj": "={{ $json.save_obj }}",
            "primary_keys": "={{ $json.primary_keys }}",
            "snowflake_table_obj": "={{ $json.snowflake_table_obj }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "save_obj",
              "displayName": "save_obj",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "primary_keys",
              "displayName": "primary_keys",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "snowflake_table_obj",
              "displayName": "snowflake_table_obj",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1232,
        784
      ],
      "id": "42eecf33-9800-40d7-b350-cb4a91f65ea5",
      "name": "Save Workflow Execution Data"
    }
  ],
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Insert Message Timestamp into Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Timestamp": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Insert Message Timestamp into Body": {
      "main": [
        [
          {
            "node": "Insert Text Schema Mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Emoji or Text": {
      "main": [
        [
          {
            "node": "Insert Emoji Schema Mapping",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Message Timestamp",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Vars": {
      "main": [
        [
          {
            "node": "Route Emoji or Text",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Workflow Execution Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Emoji Schema Mapping": {
      "main": [
        [
          {
            "node": "Map Feedback to Snowflake Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Text Schema Mapping": {
      "main": [
        [
          {
            "node": "Map Feedback to Snowflake Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Feedback to Snowflake Schema": {
      "main": [
        [
          {
            "node": "Find Count for Event ID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Dashboard Recommendations Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Count for Event ID": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Retrieve Mapped Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Mapped Object": {
      "main": [
        [
          {
            "node": "Insert Feedback into Snowflake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger": {
      "main": [
        [
          {
            "node": "Global Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Workflow Execution Object": {
      "main": [
        [
          {
            "node": "Save Workflow Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Trigger": [
      {
        "json": {
          "headers": {
            "host": "n8n-relayer-1.app.n8n.cloud",
            "user-agent": "Zapier",
            "content-length": "1869",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "authorization": "Basic emFwaWVyOldNRXY4NDlmcGZGVlpYNkdoQjM2MGFmT3JmMWtfRFF2TlhfOFRSSjEzS1U=",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "34.230.29.176",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9965fe4da6840626-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json; charset=utf-8",
            "x-forwarded-for": "34.230.29.176, 172.71.194.142",
            "x-forwarded-host": "n8n-relayer-1.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-72-585f59b6c7-kn8mt",
            "x-is-trusted": "yes",
            "x-real-ip": "34.230.29.176"
          },
          "params": {},
          "query": {},
          "body": {
            "ts": "1761775710.350779",
            "user_name": "priya_gupta",
            "user_real_name": "Priya Gupta",
            "channel_id": "C02GRDZS7QF",
            "permalink": "https://cribl.slack.com/archives/C02GRDZS7QF/p1761775710350779?thread_ts=1761775573.179029&cid=C02GRDZS7QF",
            "user_profile_first_name": "Priya",
            "ts_time": "2025-10-29T22:08:30.000Z",
            "user_profile_last_name": "Gupta",
            "raw_text": "<@U08DHKDMR8C> my bad, it looks like we do not have a dashboard with this info. Will create it myself instead!",
            "thread_ts": "1761775573.179029",
            "user_id": "U02CBV3GSM9",
            "user_profile_email": "pgupta@cribl.io",
            "team_name": "Cribl",
            "user_is_bot": "False",
            "team_domain": "cribl",
            "team_id": "T3XQYAF26",
            "text": "@omni my bad, it looks like we do not have a dashboard with this info. Will create it myself instead!",
            "channel_name": "ask-data",
            "user_email": "pgupta@cribl.io",
            "feedback_medium": "text",
            "omni_message_text": "<@U02CBV3GSM9> I found a few dashboards related to pipeline insights that might help you visualize pipeline trends over time:\n• [Growth: Pipeline Xray](<https://cribl.omniapp.co/dashboards/2e7a63d6>) in the [Revenue](<https://cribl.omniapp.co/f/Revenue>) folder\n• [Growth: Pipeline Generation by Deal Generated Source](<https://cribl.omniapp.co/dashboards/bba09253>) in the [Revenue](<https://cribl.omniapp.co/f/Revenue>) folder\n• [Goals: FY26 Estaff Scorecard](<https://cribl.omniapp.co/dashboards/estaff-scorecard>) in the [BizOps](<https://cribl.omniapp.co/f/BizOps>) folder",
            "omni_message_subtype": "bot_message",
            "omni_message_bot_id": "B01304K3N6S",
            "omni_message_bot_username": "Data Team Bot",
            "omni_message_ts": "1761775683.612449",
            "original_message_ts": "1761775573.179029",
            "original_message_text": "Hi Omni, can you show me fedramp pipeline over time?",
            "original_message_user_id": "U02CBV3GSM9",
            "original_message_thread_ts": "1761775573.179029",
            "original_message_thread_ts_time": "2025-10-29T22:06:13.000Z"
          },
          "webhookUrl": "https://n8n-relayer-1.app.n8n.cloud/webhook/ask-data-feedback-f2cbcffc-c539-4be3-a636-cf5e0b5d7db0",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "743fed87-86e5-464c-b752-172866df64f3",
  "activeVersionId": "743fed87-86e5-464c-b752-172866df64f3",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-09-29T06:01:17.155Z",
      "createdAt": "2025-09-29T06:01:17.155Z",
      "role": "workflow:owner",
      "workflowId": "IAws4Mwb3krnBRmf",
      "projectId": "2vHf2VxAoKk0WgJE"
    }
  ],
  "activeVersion": {
    "updatedAt": "2025-12-07T06:45:42.203Z",
    "createdAt": "2025-12-07T06:45:42.203Z",
    "versionId": "743fed87-86e5-464c-b752-172866df64f3",
    "workflowId": "IAws4Mwb3krnBRmf",
    "nodes": [
      {
        "parameters": {
          "content": "### When someone emoji's on the bot message",
          "height": 288,
          "width": 1072
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1264,
          1072
        ],
        "typeVersion": 1,
        "id": "829e7efe-d037-4d89-8d5f-b765c94f1068",
        "name": "Sticky Note21",
        "disabled": true
      },
      {
        "parameters": {
          "content": "### Test data for emoji only on omni bot message\n\n```\n{\n      \"user_email\": \"nkwok@cribl.io\",\n      \"message_ts\": \"1758911298.124399\",\n      \"message_message_timestamp\": \"2025-09-26T18:28:18.124Z\",\n      \"message_raw_text\": \"<@U06PVBEK9T6> I found a few Omni dashboards related to free Cribl Cloud user metrics and associated email addresses within your accounts. These dashboards might contain the data you need:\\n• <https://cribl.omniapp.co/dashboards/47d94e3c|Overview: OEM Metrics> in <https://cribl.omniapp.co/f/revenue|Revenue>\\n• <https://cribl.omniapp.co/dashboards/credit-consumption|Customer: Cloud Credit Consumption> in <https://cribl.omniapp.co/f/product|Product>\\n• <https://cribl.omniapp.co/dashboards/2fb66a67|Product: Copilot Trend Metrics> in <https://cribl.omniapp.co/f/product|Product>\",\n      \"user_id\": \"U06PVBEK9T6\",\n      \"message_user_name\": \"Omni Bot\",\n      \"message_channel_name\": \"data-eng-test-ai-channel\",\n      \"message_channel_id\": \"C0912AANW1L\",\n      \"event_timestamp\": \"2025-09-28T05:39:57.000Z\",\n      \"conversation_id\": \"C0912AANW1L\",\n      \"reaction\": \"+1\",\n      \"event_ts\": \"1759037997.000668\",\n      \"message_user_is_bot\": \"True\",\n      \"message_team_domain\": \"cribl\",\n      \"message_team_id\": \"T3XQYAF26\",\n      \"message_team_name\": \"Cribl\",\n      \"message_text\": \"@nathan_kwok I found a few Omni dashboards related to free Cribl Cloud user metrics and associated email addresses within your accounts. These dashboards might contain the data you need:\\n• https://cribl.omniapp.co/dashboards/47d94e3cOverview: OEM Metrics> in https://cribl.omniapp.co/f/revenueRevenue>\\n• https://cribl.omniapp.co/dashboards/credit-consumptionCustomer: Cloud Credit Consumption> in https://cribl.omniapp.co/f/productProduct>\\n• https://cribl.omniapp.co/dashboards/2fb66a67Product: Copilot Trend Metrics> in https://cribl.omniapp.co/f/productProduct>\",\n      \"message_thread_ts\": \"1758911151.912309\",\n      \"message_thread_ts_time\": \"2025-09-26T18:25:51.000Z\",\n      \"feedback_medium\": \"emoji\",\n      \"original_message_ts\": \"1758911151.912309\",\n      \"original_message_text\": \"Hi team - Is there a dashboard in Omni to see free cribl cloud users, and associated email addresses within accounts I own similar to <https://cribl.cloud.looker.com/explore/Product/cloud_orgs?qid=6AczKnvfgAdLscURN8AKDq&amp;toggle=fil|this one> I used in looker?\",\n      \"original_message_user_id\": \"U06PVBEK9T6\",\n      \"original_message_thread_ts\": \"1758911151.912309\",\n      \"message_permalink\": \"https://cribl.slack.com/archives/C0912AANW1L/p1758911298124399?thread_ts=1758911151.912309&cid=C0912AANW1L\"\n    }\n```",
          "height": 656,
          "width": 560
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1088,
          352
        ],
        "typeVersion": 1,
        "id": "96234e8b-4be0-4a0a-842b-5658ca614946",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "### Test data for feedback text\n\n```\n{\n      \"ts\": \"1759120221.028239\",\n      \"user_name\": \"nathan_kwok\",\n      \"user_real_name\": \"Nathan Kwok\",\n      \"channel_id\": \"C0912AANW1L\",\n      \"permalink\": \"https://cribl.slack.com/archives/C0912AANW1L/p1759120221028239?thread_ts=1758911151.912309&cid=C0912AANW1L\",\n      \"user_profile_first_name\": \"Nathan\",\n      \"ts_time\": \"2025-09-29T04:30:21.000Z\",\n      \"user_profile_last_name\": \"Kwok\",\n      \"raw_text\": \"<@U08DHKDMR8C> this is the 9th tagged message\",\n      \"thread_ts\": \"1758911151.912309\",\n      \"user_id\": \"U06PVBEK9T6\",\n      \"user_profile_email\": \"nkwok@cribl.io\",\n      \"team_name\": \"Cribl\",\n      \"user_is_bot\": \"False\",\n      \"team_domain\": \"cribl\",\n      \"team_id\": \"T3XQYAF26\",\n      \"text\": \"@omni this is the 9th tagged message\",\n      \"channel_name\": \"data-eng-test-ai-channel\",\n      \"user_email\": \"nkwok@cribl.io\",\n      \"feedback_medium\": \"text\",\n      \"omni_message_text\": \"Thank you! How can I assist you today?\",\n      \"omni_message_subtype\": \"bot_message\",\n      \"omni_message_bot_id\": \"B01304K3N6S\",\n      \"omni_message_bot_username\": \"Omni Bot\",\n      \"omni_message_ts\": \"1759104317.219099\",\n      \"original_message_ts\": \"1758911151.912309\",\n      \"original_message_text\": \"Hi team - Is there a dashboard in Omni to see free cribl cloud users, and associated email addresses within accounts I own similar to <https://cribl.cloud.looker.com/explore/Product/cloud_orgs?qid=6AczKnvfgAdLscURN8AKDq&amp;toggle=fil|this one> I used in looker?\",\n      \"original_message_user_id\": \"U06PVBEK9T6\",\n      \"original_message_thread_ts\": \"1758911151.912309\",\n      \"original_message_thread_ts_time\": \"2025-09-26T18:25:51.000Z\"\n    }\n```",
          "height": 640,
          "width": 672
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -416,
          320
        ],
        "typeVersion": 1,
        "id": "24baa0e6-00b0-4c9a-b636-71485fb8f17e",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "content": "### When someone tags @Omni with a message. Needs to have found the original message",
          "height": 400,
          "width": 1072
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1264,
          1408
        ],
        "typeVersion": 1,
        "id": "a84555e1-02d4-4922-9336-2a317eaad9d2",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "jsCode": "// const items = $input.all();\nconst omni_message_timestamp_obj = $input.last().json;\nconst global_vars_output_obj = $input.first().json;\nconst body = global_vars_output_obj['body'];\n\nbody['omni_message_timestamp'] = omni_message_timestamp_obj['omni_message_timestamp'];\n\nglobal_vars_output_obj['body'] = body;\n\nreturn global_vars_output_obj;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1968,
          1488
        ],
        "id": "4329aa57-e661-47c3-b490-7a1d65847e56",
        "name": "Insert Message Timestamp into Body"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1776,
          1488
        ],
        "id": "e09e72cd-2607-4fc3-85b6-100ce99663e9",
        "name": "Merge"
      },
      {
        "parameters": {
          "jsCode": "const ts = $input.first().json.body.omni_message_ts;\nconsole.log(ts);\n\n// Python used seconds -> JS Date expects milliseconds\nconst dt = new Date(parseFloat(ts) * 1000);\nconsole.log(dt); // or: console.log(dt.toISOString())\n\nconst iso = dt.toISOString(); // UTC with milliseconds and trailing 'Z'\nconsole.log(iso);\n\nreturn [{ omni_message_timestamp: iso }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1552,
          1600
        ],
        "id": "c5c0b4df-f2a0-4a58-8e59-c5ecb635f7f1",
        "name": "Extract Message Timestamp"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.body.feedback_medium }}",
                      "rightValue": "emoji",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "c2a34b63-358c-414f-bb10-c9df2559fc09"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "45226139-ff8a-4b14-bb81-66d4318cde04",
                      "leftValue": "={{ $json.body.feedback_medium }}",
                      "rightValue": "text",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {
            "ignoreCase": true
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3,
        "position": [
          1008,
          1136
        ],
        "id": "e7f9cda6-3d9b-4fd9-9801-556624da82b3",
        "name": "Route Emoji or Text",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "OFpD7aepKHcHCvqz",
            "mode": "list",
            "cachedResultUrl": "/workflow/OFpD7aepKHcHCvqz",
            "cachedResultName": "Global Vars"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          672,
          1136
        ],
        "id": "51f2cdf3-93c6-4808-b5ad-df871dbff98c",
        "name": "Global Vars",
        "alwaysOutputData": false,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "{\n  \"table_schema_mapping\": {\n    \"feedback_id\": \"event_ts\",\n    \"feedback_medium\": \"feedback_medium\",\n    \"feedback_timestamp\": \"event_timestamp\",\n    \"feedback_user_email\": \"user_email\",\n    \"feedback_user_id\": \"user_id\",\n    \"channel_id\": \"message_channel_id\",\n    \"channel_name\": \"message_channel_name\",\n    \"team_id\": \"message_team_id\",\n    \"team_domain\": \"message_team_domain\",\n    \"omni_message_id\": \"message_ts\",\n    \"omni_message_text\": \"message_raw_text\",\n    \"omni_message_timestamp\": \"message_message_timestamp\",\n    \"omni_message_user_name\": \"message_user_name\",\n    \"original_message_id\": \"original_message_ts\",\n    \"original_message_text\": \"original_message_text\",\n    \"original_message_user_id\": \"original_message_user_id\",\n    \"original_message_thread_ts\": \"original_message_thread_ts\",\n    \"thread_ts\": \"message_thread_ts\",\n    \"thread_timestamp\": \"message_thread_ts_time\",\n    \"feedback_content\": \"reaction\",\n    \"permalink\": \"message_permalink\"\n  }\n}\n",
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1776,
          1120
        ],
        "id": "f18f1b7e-f70b-4154-a2ce-3d414264fb7e",
        "name": "Insert Emoji Schema Mapping"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "{\n\"table_schema_mapping\": {\n    \"feedback_id\": \"ts\",\n    \"feedback_medium\": \"feedback_medium\",\n    \"feedback_timestamp\": \"ts_time\",\n    \"feedback_user_email\": \"user_profile_email\",\n    \"feedback_user_id\": \"user_id\",\n    \"channel_id\": \"channel_id\",\n    \"channel_name\": \"channel_name\",\n    \"team_id\": \"team_id\",\n    \"team_domain\": \"team_domain\",\n    \"omni_message_id\": \"omni_message_ts\",\n    \"omni_message_text\": \"omni_message_text\",\n    \"omni_message_timestamp\": \"omni_message_timestamp\",\n    \"omni_message_user_name\": \"omni_message_bot_username\",\n    \"original_message_id\": \"original_message_ts\",\n    \"original_message_text\": \"original_message_text\",\n    \"original_message_user_id\": \"original_message_user_id\",\n    \"original_message_thread_ts\": \"original_message_thread_ts\",\n    \"thread_ts\": \"thread_ts\",\n    \"thread_timestamp\": \"original_message_thread_ts_time\",\n    \"feedback_content\": \"text\",\n    \"permalink\": \"permalink\"\n  }\n}\n",
          "includeOtherFields": true,
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2192,
          1488
        ],
        "id": "625f2fb9-543f-452d-9caf-346fa0a71621",
        "name": "Insert Text Schema Mapping"
      },
      {
        "parameters": {
          "jsCode": "const mapping = $input.first().json.table_schema_mapping;\nconst body = $input.first().json.body;\nconst result = {};\n\nfor (const key in mapping) {\n  result[key] = body[mapping[key]];\n};\n\nreturn result;\n\n\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2640,
          1280
        ],
        "id": "5ec7077e-bfd2-41ec-8ac6-64d2732cad1d",
        "name": "Map Feedback to Snowflake Schema"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT count(*) as \"count\" FROM \"{{ $('Global Vars').first().json.snowflake_tables.dashboard_recommendations_feedback.snowflake_database }}\".\"{{ $('Global Vars').first().json.snowflake_tables.dashboard_recommendations_feedback.snowflake_schema }}\".\"{{ $('Global Vars').first().json.snowflake_tables.dashboard_recommendations_feedback.table_name }}\" WHERE feedback_id = '{{ $json.feedback_id }}'"
        },
        "type": "n8n-nodes-base.snowflake",
        "typeVersion": 1,
        "position": [
          2992,
          1632
        ],
        "id": "48c6659a-487e-4407-a180-626f37194513",
        "name": "Find Count for Event ID",
        "credentials": {
          "snowflake": {
            "id": "C9vmzM7wtMKbWSDI",
            "name": "Snowflake TRANSFORM"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "c806ba43-d60d-4a2e-8d62-281726ec7bf6",
                "leftValue": "={{ $json.count }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3264,
          1632
        ],
        "id": "80f5f187-6825-4c56-8887-9cebfe76357c",
        "name": "If",
        "disabled": true
      },
      {
        "parameters": {
          "table": "={{ $('Global Vars').first().json.snowflake_tables.dashboard_recommendations_feedback.table_name }}",
          "columns": "={{ $('Retrieve Mapped Object').item.json.keys().join(\",\") }}"
        },
        "type": "n8n-nodes-base.snowflake",
        "typeVersion": 1,
        "position": [
          3856,
          1616
        ],
        "id": "d5a3a786-e36f-42bb-86c6-50ed98386cf6",
        "name": "Insert Feedback into Snowflake",
        "credentials": {
          "snowflake": {
            "id": "G9CKV4DYGKPmDc2f",
            "name": "Snowflake LOADER"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={{ $('Map Feedback to Snowflake Schema').item.json }}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3568,
          1616
        ],
        "id": "c548d44e-4dce-447e-8af6-1d30aa908260",
        "name": "Retrieve Mapped Object",
        "disabled": true
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "ask-data-feedback-f2cbcffc-c539-4be3-a636-cf5e0b5d7db0",
          "authentication": "basicAuth",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          256,
          1136
        ],
        "id": "a5134e34-247a-4d7b-b8ad-5d3c1bb69849",
        "name": "Trigger",
        "webhookId": "1298ec1c-5d6c-4010-9b21-b40fada0aa39",
        "alwaysOutputData": true,
        "credentials": {
          "httpBasicAuth": {
            "id": "3AVUqEU99hkVKUOW",
            "name": "Zapier Inbound Basic Auth Webhook"
          }
        }
      },
      {
        "parameters": {
          "content": "## Save Feedback to Snowflake",
          "height": 272,
          "width": 368,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2896,
          1200
        ],
        "typeVersion": 1,
        "id": "fbadcf87-4ea5-490c-a4d8-f15bc76ce8d1",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n  \"save_obj\": {\n    \"input_object\": {{ $json.body.toJsonString() }},\n    \"execution_id\": {{ $execution.id }},\n    \"workflow_id\": {{ $workflow.id.toJsonString() }},\n    \"workflow_name\": {{ $workflow.name.toJsonString() }},\n    \"workflow_execution_start_time\": \"{{ $now.toString() }}\",\n    \"host_name\": \"https://n8n-relayer-1.app.n8n.cloud\"\n  },\n  \"primary_keys\": [\"workflow_id\", \"execution_id\"],\n  \"snowflake_table_obj\": {{ $json.snowflake_tables.n8n_workflow_executions }}\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1008,
          784
        ],
        "id": "530ac96f-4c7b-412a-a8f5-dd30386aecf1",
        "name": "Create Workflow Execution Object"
      },
      {
        "parameters": {
          "content": "## Save input object",
          "height": 336,
          "width": 560,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          912,
          656
        ],
        "typeVersion": 1,
        "id": "fb94bd0d-441d-4eeb-b7e2-fa0ca75289fb",
        "name": "Sticky Note31"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "5fLEtpYDMhJTTEzh",
            "mode": "list",
            "cachedResultUrl": "/workflow/5fLEtpYDMhJTTEzh",
            "cachedResultName": "Insert into Snowflake Table"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "save_obj": "={{ $json }}",
              "primary_keys": "=[\"feedback_id\"]",
              "snowflake_table_obj": "={{ $('Global Vars').first().json.snowflake_tables.dashboard_recommendations_feedback }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "save_obj",
                "displayName": "save_obj",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": false
              },
              {
                "id": "primary_keys",
                "displayName": "primary_keys",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "array",
                "removed": false
              },
              {
                "id": "snowflake_table_obj",
                "displayName": "snowflake_table_obj",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": false
              }
            ],
            "attemptToConvertTypes": true,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2976,
          1280
        ],
        "id": "67c210aa-3aca-42ac-8b2f-ab06d267b261",
        "name": "Save Dashboard Recommendations Feedback"
      },
      {
        "parameters": {
          "content": "```\nCREATE TABLE IF NOT EXISTS dashboard_recommendations_feedback (\n    -- Primary identifiers\n    feedback_id VARCHAR(17) PRIMARY KEY ,                                          -- emoji: event_ts \"1759037997.000668\", text: ts \"1759106330.788269\"\n    feedback_medium VARCHAR(20) NOT NULL, -- \"emoji\" or \"text\"\n    feedback_timestamp TIMESTAMP_TZ NOT NULL,                                      -- emoji: event_timestamp \"2025-09-28T05:39:57.000Z\", text: ts_time \"2025-09-29T00:38:50.000Z\"\n\n    -- Feedback provider information\n    feedback_user_email VARCHAR(255) NOT NULL,                                     -- emoji: user_email, text: user_profile_email \"nkwok@cribl.io\"\n    feedback_user_id VARCHAR(11) NOT NULL,                                         -- \"U06PVBEK9T6\"\n\n    -- Channel and team context\n    channel_id VARCHAR(50) NOT NULL,                                               -- \"C0912AANW1L\"\n    channel_name VARCHAR(255),                                                     -- \"data-eng-test-ai-channel\"\n    team_id VARCHAR(11) NOT NULL,                                                  -- \"T3XQYAF26\"\n    team_domain VARCHAR(255),                                                      -- \"cribl\"\n\n    -- Omni message being reacted to/commented on (bot's response)\n    omni_message_id VARCHAR(17) NOT NULL,                                          -- emoji: message_ts \"1758911298.124399\", text: omni_message_ts \"1758911298.124399\"\n    omni_message_text TEXT,                                                        -- emoji: \"I found a few Omni dashboards...\", text: omni_message_text \"Hi Nathan Kwok,\\n\\nHere are the dashboards...\"\n    omni_message_timestamp TIMESTAMP_TZ,                                           -- emoji: \"2025-09-26T18:28:18.124Z\"\n    omni_message_user_name VARCHAR(75),                                           -- emoji: \"Omni Bot\", text: omni_message_bot_username \"Omni Bot\"\n\n    -- Original message (user's original query that started the conversation)\n    original_message_id VARCHAR(17) NOT NULL,                                      -- original_message_ts \"1758911151.912309\"\n    original_message_text TEXT,                                                    -- original_message_text \"Hi team - Is there a dashboard in Omni to see free cribl cloud users...\"\n    original_message_user_id VARCHAR(11),                                          -- original_message_user_id \"U06PVBEK9T6\"\n    original_message_thread_ts VARCHAR(17),                                        -- original_message_thread_ts \"1758911151.912309\"\n\n    -- Thread context (if feedback is in a thread)\n    thread_timestamp TIMESTAMP_TZ,                                                 -- emoji: \"2025-09-26T18:25:51.000Z\", text: original_message_thread_ts_time \"2025-09-26T18:25:51.000Z\"\n\n    -- Feedback content (emoji or text)\n    feedback_content TEXT NOT NULL,                                                         -- emoji: \"+1\", text: \"@omni this is the 8th tagged message\"\n\n    -- Additional metadata\n    permalink VARCHAR(750),                                                        -- text: \"https://cribl.slack.com/archives/C0912AANW1L/p1759106330788269?thread_ts=1758911151.912309&cid=C0912AANW1L\"\n    created_at TIMESTAMP_TZ DEFAULT CURRENT_TIMESTAMP(),\n    updated_at TIMESTAMP_TZ DEFAULT CURRENT_TIMESTAMP()\n);\n```"
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          3264,
          784
        ],
        "typeVersion": 1,
        "id": "b21ec66c-9258-4760-8593-c46623160c9b",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "5fLEtpYDMhJTTEzh",
            "mode": "list",
            "cachedResultUrl": "/workflow/5fLEtpYDMhJTTEzh",
            "cachedResultName": "Insert into Snowflake Table"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "save_obj": "={{ $json.save_obj }}",
              "primary_keys": "={{ $json.primary_keys }}",
              "snowflake_table_obj": "={{ $json.snowflake_table_obj }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "save_obj",
                "displayName": "save_obj",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": false
              },
              {
                "id": "primary_keys",
                "displayName": "primary_keys",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "array",
                "removed": false
              },
              {
                "id": "snowflake_table_obj",
                "displayName": "snowflake_table_obj",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1232,
          784
        ],
        "id": "42eecf33-9800-40d7-b350-cb4a91f65ea5",
        "name": "Save Workflow Execution Data"
      }
    ],
    "connections": {
      "Merge": {
        "main": [
          [
            {
              "node": "Insert Message Timestamp into Body",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Message Timestamp": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Insert Message Timestamp into Body": {
        "main": [
          [
            {
              "node": "Insert Text Schema Mapping",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route Emoji or Text": {
        "main": [
          [
            {
              "node": "Insert Emoji Schema Mapping",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Extract Message Timestamp",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Global Vars": {
        "main": [
          [
            {
              "node": "Route Emoji or Text",
              "type": "main",
              "index": 0
            },
            {
              "node": "Create Workflow Execution Object",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert Emoji Schema Mapping": {
        "main": [
          [
            {
              "node": "Map Feedback to Snowflake Schema",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert Text Schema Mapping": {
        "main": [
          [
            {
              "node": "Map Feedback to Snowflake Schema",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Map Feedback to Snowflake Schema": {
        "main": [
          [
            {
              "node": "Find Count for Event ID",
              "type": "main",
              "index": 0
            },
            {
              "node": "Save Dashboard Recommendations Feedback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find Count for Event ID": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Retrieve Mapped Object",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retrieve Mapped Object": {
        "main": [
          [
            {
              "node": "Insert Feedback into Snowflake",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Trigger": {
        "main": [
          [
            {
              "node": "Global Vars",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Workflow Execution Object": {
        "main": [
          [
            {
              "node": "Save Workflow Execution Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "tags": []
}