workflows/ask-data Omni Dashboard Search HTTP.json
{
  "createdAt": "2025-09-26T08:40:31.056Z",
  "updatedAt": "2025-09-26T19:57:56.925Z",
  "id": "4bqYeLDmprfUiEna",
  "name": "ask-data Omni Dashboard Search HTTP",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "authentication": "bearerAuth",
        "path": "86aa3590-aecf-4d0c-a279-77fe3054f363"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "typeVersion": 2,
      "position": [
        640,
        -864
      ],
      "id": "4eb32744-d5df-4ab3-9123-8e49861497f2",
      "name": "MCP Server Trigger",
      "webhookId": "86aa3590-aecf-4d0c-a279-77fe3054f363",
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "model": "gpt-4",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        592,
        -400
      ],
      "id": "c3694614-9912-4d2a-8dd0-1531cd60b384",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "amfaI9YXiWesQ4eT",
          "name": "Azure Open AI gpt-4"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "omni_dashboard_discovery",
        "text": "you are a helpful assistant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        704,
        -624
      ],
      "id": "36012056-7fd0-4fe1-aac9-1c1df6d133b9",
      "name": "Omni Dashboard Discovery",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "Semantic search for documents (dashboards) using the name",
        "method": "POST",
        "url": "https://ml16699-hya89079.snowflakecomputing.com/api/v2/databases/analytics_dev/schemas/dev_omni/cortex-search-services/omni_documents_search_service_dev:query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"query\": \"customer breakdown\",\n    \"columns\": [\n        \"name\",\n        \"identifier\",\n        \"scope\",\n        \"owner_name\",\n        \"folder_name\"\n    ],\n    \"filter\": {\n        \"@not\": {\n            \"@eq\": {\n                \"scope\": \"restricted\"\n            }\n        }\n    },\n    \"limit\": 3\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        960,
        -400
      ],
      "id": "1469c2bf-ebb9-4085-bb3c-07e534f6822e",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "PnKZCKVe26AxmdDj",
          "name": "Snowflake API"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "8394a134-6af3-4ec0-b605-3270129037cc",
        "authentication": "basicAuth",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        176,
        0
      ],
      "id": "2cb9c8c5-738c-4063-9951-f14a3fbcada4",
      "name": "Webhook",
      "webhookId": "1298ec1c-5d6c-4010-9b21-b40fada0aa39",
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "qYqaYFYnJhcQuBMI",
          "name": "Zapier Inbound Basic Auth Webhook"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"snowflake_base_url\": \"https://ml16699-hya89079.snowflakecomputing.com\",\n  \"omni_documents_search_service\": {\n    \"snowflake_database\": \"ANALYTICS\",\n    \"snowflake_schema\": \"OMNI\",\n    \"service_name\": \"omni_documents_search_service\"\n  },\n  \"omni_document_queries_query_table_search_service\": {\n    \"snowflake_database\": \"ANALYTICS\",\n    \"snowflake_schema\": \"OMNI\",\n    \"agent_name\": \"omni_document_queries_query_table_search_service\"\n  },\n  \"omni_document_queries_query_name_search_service\": {\n    \"snowflake_database\": \"ANALYTICS\",\n    \"snowflake_schema\": \"OMNI\",\n    \"agent_name\": \"omni_document_queries_query_name_search_service\"\n  },\n  \"omni_documents_analyst_agent\": {\n    \"snowflake_database\": \"SNOWFLAKE_INTELLIGENCE\",\n    \"snowflake_schema\": \"AGENTS\",\n    \"agent_name\": \"OMNI_DOCUMENTS_ANALYST_AGENT\"\n  },\n  \"zapier_slack_response_webhook\": {\n    \"webhook_url\": \"https://hooks.zapier.com/hooks/catch/23046078/u1mp0gx/\"\n  },\n  \"slack\": {\n    \"error_message\": \"The Omni agent could not find relevant dashboards :cry:\"\n  },\n  \"omni\":{\n    \"omni_base_url\": \"https://cribl.omniapp.co\",\n    \"model_id\": \"4345b118-cbbe-4f7c-a705-ea0aa8da57c0\"\n  }\n}",
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "body",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        0
      ],
      "id": "23edfb09-41ca-46df-b02f-72af04ce30db",
      "name": "Global Vars"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<task>\n1. Go through the inptu list of documents to filter out ones that have a false boolean value for `has_dashboard` . \n2. Extract out the fields from each output.\n  - Use the document_id to craft a dashboard_url `https://cribl.omniapp.co/dashboards/{document_id}` \n  - Use the folder_path to craft a folder_url like `https://cribl.omniapp.co/f/{folder_path}`\n3. Then craft a well formatted slack_message in the tone of a helpful data analyst, using each output document, keeping in mind everything in the slack_message_format .\n4. Finally, output in a structured JSON output format with the following keys:\n- message\n- dashboard_urls\n- folder_urls\n</task>\n\n<input>\n```json\n{{ $('Map Reduce Document Count').item.json.output.toJsonString() }}\n```\n</input>\n\n<guidelines>\n\n<slack_message_format>\nThe message should:\n  - tag the user's username, which is `{{ $('Global Vars').item.json.body.user_name }}`. \n  - address their original request, which was `{{ $('Global Vars').item.json.body.message }}`\n  - should not write word-for-word their original request but instead should extract key words from their request to use to summarize what their original request might be related to \n  - say that these dashboards might contain what they need.\n  - should list out documents after addressing them.\n  - Each document in the slack message should include the {document_name} that is linked to the respective {dashboard_url} and that the document exists in the {folder_name}, which is also linked to the respective {folder_url}.\n  - should not include any notes about helping further.\n  - **CRITICAL**: should order the list of document in descending order by the count value, but the count should not be in the message itself.\n  - should limit the number of documents to the top 3 documents by count.\n</slack_message_format>\n\n</guidelines>\n\n\n<output_format>\nThe resulting output JSON should be something like this:\n```json\n{\n  \"message\": \"formatted slack message\",\n  \"dashboard_url\": [\n    \"dashboard_url_1\",\n    \"dashboard_url_2\"\n  ],\n  \"folder_urls\": [\n    \"folder_url_1\",\n    \"folder_url_2\"\n  ]\n}\n</output_format>",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are an expert data analyst who is well versed with the dashboards you have built in Omni Analytics Business Intelligence tool. You triage requests from company stakeholders who want to find relevant dashboards in the Omni BI tool."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        5984,
        1056
      ],
      "id": "810b8ca9-5a28-4911-90ec-eda46e495e8b",
      "name": "Response Agent",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "o4-mini",
        "options": {
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        5856,
        1280
      ],
      "id": "5c551426-ea35-454f-a023-82085b990f79",
      "name": "Response Agent o4-mini",
      "credentials": {
        "azureOpenAiApi": {
          "id": "owGiNLHIZQGtrPG1",
          "name": "Azure Open AI o4-mini"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        6032,
        1328
      ],
      "id": "545d0b13-40f7-446e-88e8-5a9195cd426d",
      "name": "Response Agent Gemini 2.5 Pro",
      "credentials": {
        "googlePalmApi": {
          "id": "yw1nLb6Dxz18ENh2",
          "name": "Gemini - Cribl"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n      \"message\": {\n        \"type\": \"string\"\n      },\n      \"dashboard_urls\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"string\"\n        }\n      },\n      \"folder_urls\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"string\"\n        }\n      }\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        6240,
        1296
      ],
      "id": "0f361edd-3dc8-4372-aad6-50b9047d66ae",
      "name": "Response Agent Structured Output Parser",
      "notesInFlow": true,
      "notes": "Success path"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"array\"\t\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        6224,
        1568
      ],
      "id": "25acd2dd-fc3e-4bff-9730-4e59826f01c0",
      "name": "Response Agent Structured Output Parser1",
      "notesInFlow": true,
      "notes": "Error path"
    },
    {
      "parameters": {
        "content": "filter for if has error? \nrest of output might still be good? \nerror message send to slack at all? "
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6000,
        864
      ],
      "typeVersion": 1,
      "id": "5b26fc77-89fb-4ee8-b185-3a2c359fb6cd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "```\n[\n  {\n    \"headers\": {\n      \"connection\": \"upgrade\",\n      \"host\": \"agenticflows.xyz\",\n      \"x-real-ip\": \"34.237.75.253\",\n      \"x-forwarded-for\": \"34.237.75.253\",\n      \"x-forwarded-proto\": \"https\",\n      \"x-forwarded-host\": \"agenticflows.xyz\",\n      \"x-forwarded-port\": \"443\",\n      \"content-length\": \"403\",\n      \"authorization\": \"Basic emFwaWVyOldNRXY4NDlmcGZGVlpYNkdoQjM2MGFmT3JmMWtfRFF2TlhfOFRSSjEzS1U=\",\n      \"content-type\": \"application/json; charset=utf-8\",\n      \"user-agent\": \"Zapier\",\n      \"accept\": \"*/*\",\n      \"accept-encoding\": \"gzip,deflate\"\n    },\n    \"params\": {},\n    \"query\": {},\n    \"body\": {\n      \"channel_id\": \"C0912AANW1L\",\n      \"channel_name\": \"data-eng-test-ai-channel\",\n      \"conversation_id\": \"C0912AANW1L\",\n      \"emoji_user_id\": \"U06PVBEK9T6\",\n      \"message\": \"Hi Team, do we have a dashboard that shows the customers daily ingest volume in GB/TB? I cant seem to find it in Omni?\",\n      \"message_ts\": \"1758696971.562899\",\n      \"user_email\": \"nkwok@cribl.io\",\n      \"user_first_name\": \"Nathan\",\n      \"user_last_name\": \"Kwok\",\n      \"user_name\": \"nathan_kwok\"\n    },\n    \"webhookUrl\": \"https://agenticflows.xyz/webhook-test/8394a134-6af3-4ec0-b605-3270129037cc\",\n    \"executionMode\": \"test\"\n  }\n]\n```",
        "height": 464,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        -80
      ],
      "typeVersion": 1,
      "id": "f5ab778c-b959-4275-aaa4-bffb945e6603",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Global Vars').item.json.zapier_slack_response_webhook.webhook_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"output\": {{ $json.output.toJsonString() }},\n  \"body\": {{ $('Global Vars').item.json.body.toJsonString() }},\n  \"message\": {{ $('Global Vars').item.json.slack.error_message.toJsonString() }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6752,
        1232
      ],
      "id": "c232d355-b9c1-42c7-b929-54272795235a",
      "name": "Send Slack Error Message",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Global Vars').item.json.zapier_slack_response_webhook.webhook_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"output\": {{ $('Response Agent').item.json.output.toJsonString() }},\n  \"body\": {{ $('Global Vars').item.json.body.toJsonString() }},\n  \"message\": {{ $('Response Agent').item.json.output.message.toJsonString() }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6752,
        1040
      ],
      "id": "a876da05-6d79-4eec-ac49-39c128776181",
      "name": "Send Slack Success Message",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "content": "# Top down\n- extract key words from message\n- use key words to search similarly named document names\n- using document_ids, find their associated document query names\n  - validate that the query names are similar to key words and to the message\n\n- using document_ids, find their associated document query filters\n  - validate that list of document query filters are similar to key words and to the message\n\n- do for every document \n",
        "height": 368,
        "width": 656
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -928,
        -1056
      ],
      "typeVersion": 1,
      "id": "7e3c872c-a622-45ed-91a1-0cfd2ebe152e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Bottoms Up\n- extract key words from message\n- use key words to search similarly named document query filters\n- get the list of document query filters and find the document queries associated with them\n  - validate that the query names are similar to key words and to the message\n\n- from the list of document query filters, get their associated documents\n  - validate that list of document names are similar to key words and to the message\n\n\n",
        "height": 368,
        "width": 656
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        -1056
      ],
      "typeVersion": 1,
      "id": "390c5755-8e3c-4760-9171-af6bcb4dfbf7",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# ask-data questions\nhttps://cribl.slack.com/archives/C02GRDZS7QF/p1758010156612549\n\nhttps://cribl.slack.com/archives/C02GRDZS7QF/p1758008040422269\n\nhttps://cribl.slack.com/archives/C02GRDZS7QF/p1757955122490669\n\nhttps://cribl.slack.com/archives/C02GRDZS7QF/p1758039148424459\n\nhttps://cribl.slack.com/archives/C02GRDZS7QF/p1758036683995729\n\n",
        "height": 352,
        "width": 784
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -768,
        -1488
      ],
      "typeVersion": 1,
      "id": "792307e2-cbcb-454e-a8b2-bec5a47d942b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Features\n- filter by user who emoji'ed?\nalec U050E77CEQP\nnathan U06PVBEK9T6\npriya U02CBV3GSM9\nlaura U0544ACG6SV\nmatt U073M1QH10R\nrebecca U099VNZAC3D\njerome U07KD0478CQ\n\nhttps://www.productcompass.pm/p/n8n-mcp-servers-uv\n\n\n\n- filter by person access\n",
        "height": 240,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        -1472
      ],
      "typeVersion": 1,
      "id": "813fac8b-14b0-4672-91a6-15d8227ac152",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# Infra Cleanup\n\n/home/nathankwok/n8n_deployment contains the working dir of n8n\n\nget rid of /home/nathankwok/n8n_deployment/temp_deployment_copy . its just a copy of the working dir\n\n/home/nathankwok/n8n_deployment/temp_deploy.sh tries to deploy with references to the temp_deployment_copy dir\n\ncheck is deploy-n8n-supabase.sh also references temp dir\n\n\n",
        "height": 432,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        -592
      ],
      "typeVersion": 1,
      "id": "e4e83aa8-8702-4dae-bb7a-d912ecc53579",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.omni.omni_base_url }}/api/v1/ai/pick-topic",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"modelId\": \"{{ $json.omni.model_id }}\",\n  \"prompt\": \"{{ $json.body.message }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        1808
      ],
      "id": "a9ebeca9-5508-47b2-8406-67b7796582c2",
      "name": "Omni PickTopic API Request 0",
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "qgd1tz9uaILvjXIu",
          "name": "Omni API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.omni.omni_base_url }}/api/v1/ai/pick-topic",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"modelId\": \"{{ $json.omni.model_id }}\",\n  \"prompt\": \"{{ $json.body.message }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        2016
      ],
      "id": "4b7dbcd3-e565-4281-a70f-8c6be02e867d",
      "name": "Omni PickTopic API Request 1",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "qgd1tz9uaILvjXIu",
          "name": "Omni API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.omni.omni_base_url }}/api/v1/ai/pick-topic",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"modelId\": \"{{ $json.omni.model_id }}\",\n  \"prompt\": \"{{ $json.body.message }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        2240
      ],
      "id": "7c767da8-a0d2-4aec-af42-1855daff89a2",
      "name": "Omni PickTopic API Request 2",
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "qgd1tz9uaILvjXIu",
          "name": "Omni API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1440,
        2000
      ],
      "id": "11bccc51-e2ff-40f9-807c-ad87cca8826b",
      "name": "Merge",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "topicName",
              "renameField": true,
              "outputFieldName": "topic_name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1664,
        2016
      ],
      "id": "1a38cd2b-a5f0-4800-b793-7dee64f4eaeb",
      "name": "Aggregate",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "onError": "continueRegularOutput",
      "notes": "Combine into one list (not unique)"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2160,
        2320
      ],
      "id": "03ffca7c-307e-458b-ab56-ddd079ab1bf1",
      "name": "Cortex Agent Gemini 2.5 Pro1",
      "credentials": {
        "googlePalmApi": {
          "id": "yw1nLb6Dxz18ENh2",
          "name": "Gemini - Cribl"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Semantic search for documents queries with the query name similar to a given topic",
        "method": "POST",
        "url": "={{ $('Global Vars').item.json.snowflake_base_url }}/api/v2/databases/{{ $('Global Vars').item.json.omni_document_queries_query_name_search_service.snowflake_database }}/schemas/{{ $('Global Vars').item.json.omni_document_queries_query_name_search_service.snowflake_schema }}/cortex-search-services/{{ $('Global Vars').item.json.omni_document_queries_query_name_search_service.agent_name }}:query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"query\": \"{{ $fromAI('topic', 'topic name', 'string') }}\",\n    \"columns\": [\n        \"query_name\",\n        \"query_id\",\n        \"document_id\",\n        \"document_scope\",\n        \"query_table\"\n    ],\n    \"filter\": {\n        \"@not\": {\n            \"@eq\": {\n                \"document_scope\": \"restricted\"\n            }\n        }\n    },\n    \"limit\": 4\n}",
        "options": {},
        "optimizeResponse": true,
        "dataField": "results"
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        2496,
        2304
      ],
      "id": "91807fa4-50a4-4835-a84a-a32db039e5ba",
      "name": "Cortex Search Query Name",
      "credentials": {
        "httpBearerAuth": {
          "id": "PnKZCKVe26AxmdDj",
          "name": "Snowflake API"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Semantic search for documents queries with the query table similar to a given topic",
        "method": "POST",
        "url": "={{ $('Global Vars').item.json.snowflake_base_url }}/api/v2/databases/{{ $('Global Vars').item.json.omni_document_queries_query_table_search_service.snowflake_database }}/schemas/{{ $('Global Vars').item.json.omni_document_queries_query_table_search_service.snowflake_schema }}/cortex-search-services/{{ $('Global Vars').item.json.omni_document_queries_query_table_search_service.agent_name }}:query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"query\": \"{{ $fromAI('topic', 'topic name', 'string') }}\",\n    \"columns\": [\n        \"query_name\",\n        \"query_id\",\n        \"document_id\",\n        \"document_scope\",\n        \"query_table\"\n    ],\n    \"filter\": {\n        \"@not\": {\n            \"@eq\": {\n                \"document_scope\": \"restricted\"\n            }\n        }\n    },\n    \"limit\": 6\n}",
        "options": {},
        "optimizeResponse": true,
        "dataField": "results"
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        2336,
        2368
      ],
      "id": "cfeaf652-e0eb-4a62-bbb4-38fceea64314",
      "name": "Cortex Search Query Table",
      "credentials": {
        "httpBearerAuth": {
          "id": "PnKZCKVe26AxmdDj",
          "name": "Snowflake API"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2176,
        2992
      ],
      "id": "3c507a87-c6d4-493e-8804-049247ddff33",
      "name": "Cortex Agent Gemini 2.5 Pro2",
      "credentials": {
        "googlePalmApi": {
          "id": "yw1nLb6Dxz18ENh2",
          "name": "Gemini - Cribl"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You must use the Cortex Search Query Name and the Cortex Search Query Nameto find document query filters that are similar to the topics:\n- Cortex Search Query Name\n- Cortex Search Query Table\n\nYour input is a list of Omni Analytic topics, which are high level objects that describe the underlying dbt model being used to query for business data and analytics. \n\n<task>\n1. **CRITICAL**: Make sure to deduplicate the input topics list so that you have a unique set of topic names\n2. For each topic in the unique set of topic names, give the topic as a string parameter to the tool.\n3. Then aggregate the responses from each tool call into a single list of document query objects.\n</task>\n\n<topics>\n{{ $json.topic_name }}\n</topics>\n\n\nThe Cortex Search Query Name and Cortex Search Query Table tools will return a list of results, which represents document queries. Each document query object is in this structure.\n\n<document_query_structure>\n```json\n{\n\"query_table\": \"engineering__azure_cloud_cost\",\n\"document_scope\": \"organization\",\n\"query_name\": \"Monthly Costs by Usage\",\n\"document_id\": \"45d06a29\",\n\"query_id\": \"b3fe0946-15c0-4ea5-a6ff-fd8f23ac5964\"\n}\n```\n</document_query_structure>\n\n\n\n\n\nReturn the aggregated output as a structured JSON output of the list of document queries, with each document query object in the same structure as document_query_structure.",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are an expert data analyst who has built many dashboards in the Omni Analytics tool, which is a business intelligence tool, that sits on top of Snowflake data through dbt. You triage natural language queries from Stakeholders within the company in order to find the best dashboard (otherwise known as document) to answer the question. Documents, also known as dashboards, are parents of document queries, which are individual queries that run against the data within the parent document. Metadata on the documents and document queries and document query filters are stored in Snowflake and can be accessed through the Cortex Search Service and the Cortex Analyst tools."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2192,
        2016
      ],
      "id": "25aaf072-f65f-4925-b1e9-19e739933a32",
      "name": "Cortex Search Query by Topic",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You must use the following core text search services to find documents With names that are similar to the topics:\n- Cortex Search Document Name\n\nYour input is a list of Omni Analytic topics, which are high level objects that describe the underlying dbt model being used to query for business data and analytics. \n\n<task>\n1. **CRITICAL**: Make sure to deduplicate the input topics list so that you have a unique set of topic names .\n2. For each topic in the unique set of topic names, give the topic as a string parameter to the tool. This will return a list of results, each object being a document object in the format of tool_call_response_document_structure .\n3. Then aggregate the responses from each tool call into a single list of document objects.\n</task>\n\n<topics>\n{{ $json.topic_name }}\n</topics>\n\n\nThe Cortex Search Document Name tool will return a list of results, which represents documents. Each document object is in the following json structure.\n\n<tool_call_result_document_structure>\n```json\n{\n\"identifier\": \"959cb1c9\",\n\"owner_name\": \"John McGuire\",\n\"owner_id\": \"86a545a6-5958-43e5-8f16-68eb9f148744\",\n\"scope\": \"organization\",\n\"name\": \"Team: SDR Manager\",\n\"folder_name\": \"Marketing\",\n\"folder_id\": \"3089bcee-baea-45af-8613-63077f0e9417\",\n\"has_dashboard\": true,\n\"folder_path\": \"marketing\"\n}\n```\n</tool_call_result_document_structure>\n\n<output>\nOutput a structured JSON **list** of documents, with each document object in the same schema as tool_call_result_document_structure .\n</output>",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are an expert data analyst who has built many dashboards in the Omni Analytics tool, which is a business intelligence tool, that sits on top of Snowflake data through dbt. You triage natural language queries from Stakeholders within the company in order to find the best dashboard (otherwise known as document) to answer the question. Documents, also known as dashboards, are parents of document queries, which are individual queries that run against the data within the parent document. Metadata on the documents and document queries and document query filters are stored in Snowflake and can be accessed through the Cortex Search Service and the Cortex Analyst tools."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2192,
        2640
      ],
      "id": "8bec15e6-a3b3-44e6-a9f5-80cc7ca33a46",
      "name": "Cortex Search Document by Topic",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "o4-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        1984,
        2912
      ],
      "id": "6373fc20-6f5c-4af3-bf0c-dc6d3d4e0b4e",
      "name": "Search Document Agent",
      "credentials": {
        "azureOpenAiApi": {
          "id": "owGiNLHIZQGtrPG1",
          "name": "Azure Open AI o4-mini"
        }
      }
    },
    {
      "parameters": {
        "model": "o4-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        2016,
        2256
      ],
      "id": "23c9fb87-085c-4197-8892-382e83760e4e",
      "name": "Search Document Query by Topic Agent",
      "credentials": {
        "azureOpenAiApi": {
          "id": "owGiNLHIZQGtrPG1",
          "name": "Azure Open AI o4-mini"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Semantic search for documents (dashboards) using the document's name field",
        "method": "POST",
        "url": "={{ $('Global Vars').item.json.snowflake_base_url }}/api/v2/databases/{{ $('Global Vars').item.json.omni_documents_search_service.snowflake_database }}/schemas/{{ $('Global Vars').item.json.omni_documents_search_service.snowflake_schema }}/cortex-search-services/{{ $('Global Vars').item.json.omni_documents_search_service.service_name }}:query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"query\": \"{{ $fromAI('topic', 'topic name', 'string') }}\",\n    \"columns\": [\n        \"name\",\n        \"identifier\",\n        \"scope\",\n        \"has_dashboard\",\n        \"owner_name\",\n        \"owner_id\",\n        \"folder_name\",\n        \"folder_id\",\n        \"folder_path\"\n    ],\n    \"filter\": {\n      \"@and\": [\n        { \n          \"@not\": {\n            \"@eq\": {\n                \"scope\": \"restricted\"\n            }\n          }\n        },\n        { \n          \"@eq\": {\n              \"has_dashboard\": \"true\"\n          }\n        }\n      ]\n    },\n    \"limit\": 3\n}",
        "options": {},
        "optimizeResponse": true,
        "dataField": "results"
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        2400,
        2992
      ],
      "id": "f2207dcb-d5dc-4cae-a32c-df1432e9c8cd",
      "name": "Cortex Search Document Name",
      "credentials": {
        "httpBearerAuth": {
          "id": "PnKZCKVe26AxmdDj",
          "name": "Snowflake API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are given lists of objects with objects representing:\n- documents\n\n\n<task>\n1. Extract out only the document data into a list, with all keys only from the document_structure schema. There will potentially be duplicate document objects in this list.\n2. Map-reduce the resulting documents by deduplicating the same documents (by document_id) but keeping count of documents with the same id before deduplicating. The count should be an additional key in each document object with each document being unique by the document_id\n3. Output the list of document objects with counts with each object in the schema like map_reduce_count_document_structure .\n</task>\n\n\n<document_structure>\n```json\n{\n\"document_id\": \"959cb1c9\",\n\"owner_name\": \"John McGuire\",\n\"owner_id\": \"86a545a6-5958-43e5-8f16-68eb9f148744\",\n\"document_scope\": \"organization\",\n\"document_name\": \"Team: SDR Manager\",\n\"folder_name\": \"Marketing\",\n\"folder_id\": \"3089bcee-baea-45af-8613-63077f0e9417\",\n\"has_dashboard\": true,\n\"folder_path\": \"marketing\"\n}\n```\n</document_structure>\n\n\n<map_reduce_count_document_structure>\n```json\n{\n\"document_id\": \"959cb1c9\",\n\"owner_name\": \"John McGuire\",\n\"owner_id\": \"86a545a6-5958-43e5-8f16-68eb9f148744\",\n\"document_scope\": \"organization\",\n\"document_name\": \"Team: SDR Manager\",\n\"folder_name\": \"Marketing\",\n\"folder_id\": \"3089bcee-baea-45af-8613-63077f0e9417\",\n\"has_dashboard\": true,\n\"folder_path\": \"marketing\",\n\"count\": 3\n}\n```\n</map_reduce_count_document_structure>\n\n\n<input_documents>\n{{ $('Aggregate Documents').item.json.output.toJsonString() }}\n</input_documents>\n\n\n<output_format>\nThe output must be a list of map_reduce_count_document_structure.\nExample:\n```json\n[\n  {\n    \"document_id\": \"959cb1c9\",\n    \"owner_name\": \"John McGuire\",\n    \"owner_id\": \"86a545a6-5958-43e5-8f16-68eb9f148744\",\n    \"document_scope\": \"organization\",\n    \"document_name\": \"Team: SDR Manager\",\n    \"folder_name\": \"Marketing\",\n    \"folder_id\": \"3089bcee-baea-45af-8613-63077f0e9417\",\n    \"has_dashboard\": true,\n    \"folder_path\": \"marketing\",\n    \"count\": 3\n  }\n]\n```\n</output_format>",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        5296,
        1056
      ],
      "id": "6abd66c2-21c9-4e53-a012-7b635fd75fa7",
      "name": "Map Reduce Document Count",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "Documents with more counts are weighted higher"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5280,
        880
      ],
      "typeVersion": 1,
      "id": "0456f64f-46bb-4750-9364-dbbe101cd654",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3952,
        976
      ],
      "id": "b41250e9-d344-4455-91c6-ea4595a37df3",
      "name": "Merge1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n  \"identifier\": \"959cb1c9\",\n  \"owner_name\": \"John McGuire\",\n  \"owner_id\": \"86a545a6-5958-43e5-8f16-68eb9f148744\",\n  \"scope\": \"organization\",\n  \"name\": \"Team: SDR Manager\",\n  \"folder_name\": \"Marketing\",\n  \"folder_id\": \"3089bcee-baea-45af-8613-63077f0e9417\",\n  \"has_dashboard\": true,\n  \"folder_path\": \"marketing\"\n}\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2576,
        2912
      ],
      "id": "3ded6298-348d-4aca-85b3-e5e48b3a44af",
      "name": "Cortex Search Document by Topic Structured Output"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"query_table\": {\n          \"type\": \"string\"\n      },\n      \"document_scope\": {\n          \"type\": \"string\"\n      },\n      \"query_name\": {\n          \"type\": \"string\"\n      },\n      \"document_id\": {\n          \"type\": \"string\"\n      },\n      \"query_id\": {\n          \"type\": \"string\"\n      }\n    }\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2640,
        2256
      ],
      "id": "189eba29-4003-40f3-8596-ba13c6fc082d",
      "name": "Cortex Search Query by Topic Structured Output"
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"document_id\": \"959cb1c9\",\n    \"owner_name\": \"John McGuire\",\n    \"owner_id\": \"86a545a6-5958-43e5-8f16-68eb9f148744\",\n    \"document_scope\": \"organization\",\n    \"document_name\": \"Team: SDR Manager\",\n    \"folder_name\": \"Marketing\",\n    \"folder_id\": \"3089bcee-baea-45af-8613-63077f0e9417\",\n    \"has_dashboard\": true,\n    \"folder_path\": \"marketing\",\n    \"count\": 3\n  }\n]"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        5504,
        1280
      ],
      "id": "cc8aebf9-7dc4-405f-81c3-e24850d0ee85",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "content": "## Semantic Search by Message",
        "height": 688,
        "width": 1376,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1888,
        -224
      ],
      "typeVersion": 1,
      "id": "3e322012-6e37-43b9-acba-8a8aa95d3574",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "### Cortex Search Query by Topic\n- searches For document queries\n- uses query_name and query_table that are similar to the topic"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2192,
        1792
      ],
      "typeVersion": 1,
      "id": "7d33febe-0cda-4144-86a1-8b4e8f7cc49f",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "### Cortex Search Document by Topic\n- searches For documents\n- uses document name that is similar to the topic"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1824,
        2608
      ],
      "typeVersion": 1,
      "id": "d4998c06-5831-4c08-88c4-d8423ce8520d",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "### Cortex Search Document by Keyword\n- searches For documents\n- uses document name that is similar to keywords or key concepts extracted from the message"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2144,
        704
      ],
      "typeVersion": 1,
      "id": "79c57f7e-f26f-4659-aa06-39c64d860d4d",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "You are given lists of objects with objects representing:\n- documents\n- enriched document queries\n\n\n<task>\n1. Aggregate the list of documents and document_queries\n2. Extract out only the document data into a list, with all keys only from the document_structure schema. There will potentially be duplicate document objects in this list.\n3. Map-reduce the resulting documents by deduplicating the same documents (by document_id) but keeping count of documents with the same id before deduplicating. The count should be an additional key in each document object with each document being unique by the document_id\n3. Output the list of document objects with counts with each object in the schema like map_reduce_count_document_structure .\n</task>\n\n\n<enriched_document_query_structure>\n```json\n{\n  \"document_id\": \"45d06a29\",\n  \"query_id\": \"b3fe0946-15c0-4ea5-a6ff-fd8f23ac5964\",\n  \"query_table\": \"engineering__azure_cloud_cost\",\n  \"document_scope\": \"organization\",\n  \"query_name\": \"Monthly Costs by Usage\",\n  \"owner_name\": \"John McGuire\",\n  \"owner_id\": \"86a545a6-5958-43e5-8f16-68eb9f148744\",\n  \"document_name\": \"Team: Infrastructure Costs\",\n  \"folder_name\": \"Engineering\",\n  \"folder_id\": \"3089bcee-baea-45af-8613-63077f0e9417\",\n  \"has_dashboard\": true,\n  \"folder_path\": \"engineering\"\n}\n```\n</enriched_document_query_structure>\n\n\n<document_structure>\n```json\n{\n\"document_id\": \"959cb1c9\",\n\"owner_name\": \"John McGuire\",\n\"owner_id\": \"86a545a6-5958-43e5-8f16-68eb9f148744\",\n\"document_scope\": \"organization\",\n\"document_name\": \"Team: SDR Manager\",\n\"folder_name\": \"Marketing\",\n\"folder_id\": \"3089bcee-baea-45af-8613-63077f0e9417\",\n\"has_dashboard\": true,\n\"folder_path\": \"marketing\"\n}\n```\n</document_structure>\n\n\n<map_reduce_count_document_structure>\n```json\n{\n\"document_id\": \"959cb1c9\",\n\"owner_name\": \"John McGuire\",\n\"owner_id\": \"86a545a6-5958-43e5-8f16-68eb9f148744\",\n\"document_scope\": \"organization\",\n\"document_name\": \"Team: SDR Manager\",\n\"folder_name\": \"Marketing\",\n\"folder_id\": \"3089bcee-baea-45af-8613-63077f0e9417\",\n\"has_dashboard\": true,\n\"folder_path\": \"marketing\",\n\"count\": 3\n}\n```\n</map_reduce_count_document_structure>\n\n\n<input_enriched_document_queries>\n{{ $('Enrich Document Queries').item.json.output.toJsonString() }}\n</input_enriched_document_queries>\n\n\n<input_documents>\n{{ $('Cortex Search Document by Topic').item.json.output.toJsonString() }}\n</input_documents>\n\n\n<output_format>\nThe output must be a list of map_reduce_count_document_structure.\nExample:\n```json\n[\n  {\n    \"document_id\": \"959cb1c9\",\n    \"owner_name\": \"John McGuire\",\n    \"owner_id\": \"86a545a6-5958-43e5-8f16-68eb9f148744\",\n    \"document_scope\": \"organization\",\n    \"document_name\": \"Team: SDR Manager\",\n    \"folder_name\": \"Marketing\",\n    \"folder_id\": \"3089bcee-baea-45af-8613-63077f0e9417\",\n    \"has_dashboard\": true,\n    \"folder_path\": \"marketing\",\n    \"count\": 3\n  }\n]\n```\n</output_format>"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5280,
        592
      ],
      "typeVersion": 1,
      "id": "d69d701c-3272-47d7-9bff-1f4a0aa38b9e",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"output\": {{ $json.results.toJsonString() }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2448,
        -96
      ],
      "id": "97d96785-3a1b-4bd2-ad01-52d2d0e2ebb3",
      "name": "Extract only results",
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TolmVjtkOdfJXQ54",
          "mode": "list",
          "cachedResultUrl": "/workflow/TolmVjtkOdfJXQ54",
          "cachedResultName": "Rename Document Keys"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "documents": "={{ $json.output }}"
          },
          "matchingColumns": [
            "documents"
          ],
          "schema": [
            {
              "id": "documents",
              "displayName": "documents",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2704,
        -96
      ],
      "id": "0dad1b44-a8cf-4832-a4dd-14ada6636b90",
      "name": "Rename Document Keys",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Global Vars').item.json.snowflake_base_url }}/api/v2/databases/{{ $('Global Vars').item.json.omni_documents_search_service.snowflake_database }}/schemas/{{ $('Global Vars').item.json.omni_documents_search_service.snowflake_schema }}/cortex-search-services/{{ $('Global Vars').item.json.omni_documents_search_service.service_name }}:query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"query\": \"{{ $json.body.message }}\",\n    \"columns\": [\n        \"name\",\n        \"identifier\",\n        \"scope\",\n        \"has_dashboard\",\n        \"owner_name\",\n        \"owner_id\",\n        \"folder_name\",\n        \"folder_id\",\n        \"folder_path\"\n    ],\n    \"filter\": {\n      \"@and\": [\n        { \n          \"@not\": {\n            \"@eq\": {\n                \"scope\": \"restricted\"\n            }\n          }\n        },\n        { \n          \"@eq\": {\n              \"has_dashboard\": \"true\"\n          }\n        }\n      ]\n    },\n    \"limit\": 3\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2192,
        -96
      ],
      "id": "8faba44a-d7f1-4734-bbd5-12e362a3080a",
      "name": "Cortex Document Name Search",
      "credentials": {
        "httpBearerAuth": {
          "id": "PnKZCKVe26AxmdDj",
          "name": "Snowflake API"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": "o4-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        2000,
        1200
      ],
      "id": "dec8785e-b79f-4567-9835-629d9cb102ae",
      "name": "Cortex Agent o4-mini2",
      "credentials": {
        "azureOpenAiApi": {
          "id": "owGiNLHIZQGtrPG1",
          "name": "Azure Open AI o4-mini"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2176,
        1264
      ],
      "id": "8453cd28-7ecf-4314-aded-54651c820c5e",
      "name": "Cortex Agent Gemini 2.5 Pro4",
      "credentials": {
        "googlePalmApi": {
          "id": "yw1nLb6Dxz18ENh2",
          "name": "Gemini - Cribl"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"string\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2352,
        1200
      ],
      "id": "7b441366-027b-4fcf-bbc3-d5ab55272999",
      "name": "Cortex Agent Structured Output Parser2",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"output\": {{ $json.results.toJsonString() }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2816,
        896
      ],
      "id": "97fa1227-4602-4c7a-9540-857f0d88dd4d",
      "name": "Extract only results1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Global Vars').item.json.snowflake_base_url }}/api/v2/databases/{{ $('Global Vars').item.json.omni_documents_search_service.snowflake_database }}/schemas/{{ $('Global Vars').item.json.omni_documents_search_service.snowflake_schema }}/cortex-search-services/{{ $('Global Vars').item.json.omni_documents_search_service.service_name }}:query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"query\": \"{{ $('Extract Key Words Agent').item.json.output }}\",\n    \"columns\": [\n        \"name\",\n        \"identifier\",\n        \"scope\",\n        \"has_dashboard\",\n        \"owner_name\",\n        \"owner_id\",\n        \"folder_name\",\n        \"folder_id\",\n        \"folder_path\"\n    ],\n    \"filter\": {\n      \"@and\": [\n        { \n          \"@not\": {\n            \"@eq\": {\n                \"scope\": \"restricted\"\n            }\n          }\n        },\n        { \n          \"@eq\": {\n              \"has_dashboard\": \"true\"\n          }\n        }\n      ]\n    },\n    \"limit\": 3\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        896
      ],
      "id": "626cb6da-4ca0-421a-9aa9-2aa1e6ca4f1f",
      "name": "Cortex Document Name Search1",
      "credentials": {
        "httpBearerAuth": {
          "id": "PnKZCKVe26AxmdDj",
          "name": "Snowflake API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TolmVjtkOdfJXQ54",
          "mode": "list",
          "cachedResultUrl": "/workflow/TolmVjtkOdfJXQ54",
          "cachedResultName": "Rename Document Keys"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "documents": "={{ $json.output }}"
          },
          "matchingColumns": [
            "documents"
          ],
          "schema": [
            {
              "id": "documents",
              "displayName": "documents",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3024,
        896
      ],
      "id": "f615d762-1b96-48a7-ac39-2847c5578a28",
      "name": "Rename Document Keys_1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PBwxEp9lB6DQKhEp",
          "mode": "list",
          "cachedResultUrl": "/workflow/PBwxEp9lB6DQKhEp",
          "cachedResultName": "Extract document_ids"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "objects": "={{ $json.output }}"
          },
          "matchingColumns": [
            "objects"
          ],
          "schema": [
            {
              "id": "objects",
              "displayName": "objects",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2736,
        2000
      ],
      "id": "dfdcdd00-8237-4b50-9b87-fca04fbd5aa9",
      "name": "Extract document_ids 1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "### Cortex Search Document Query by Message\n- searches for document queries\n- uses document name that is similar to the message"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1856,
        224
      ],
      "typeVersion": 1,
      "id": "974b4de1-b610-4288-8b35-1038d8b632c0",
      "name": "Sticky Note13",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Global Vars').item.json.snowflake_base_url }}/api/v2/databases/{{ $('Global Vars').item.json.omni_documents_search_service.snowflake_database }}/schemas/{{ $('Global Vars').item.json.omni_documents_search_service.snowflake_schema }}/cortex-search-services/{{ $('Global Vars').item.json.omni_document_queries_query_name_search_service.agent_name }}:query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"query\": \"{{ $json.body.message }}\",\n    \"columns\": [\n        \"query_name\",\n        \"query_id\",\n        \"document_id\",\n        \"document_scope\",\n        \"query_table\"\n    ],\n    \"filter\": {\n        \"@not\": {\n            \"@eq\": {\n                \"document_scope\": \"restricted\"\n            }\n        }\n    },\n    \"limit\": 4\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2208,
        256
      ],
      "id": "40bb0e6f-b0ab-4010-9c8e-e47661f9831f",
      "name": "Cortex Document Query Name Search",
      "credentials": {
        "httpBearerAuth": {
          "id": "PnKZCKVe26AxmdDj",
          "name": "Snowflake API"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PBwxEp9lB6DQKhEp",
          "mode": "list",
          "cachedResultUrl": "/workflow/PBwxEp9lB6DQKhEp",
          "cachedResultName": "Extract document_ids"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "objects": "={{ $json.output }}"
          },
          "matchingColumns": [
            "objects"
          ],
          "schema": [
            {
              "id": "objects",
              "displayName": "objects",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2704,
        256
      ],
      "id": "a0a4731e-5289-4cd9-a164-9d98dfe30f03",
      "name": "Extract document_ids ",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"output\": {{ $json.results.toJsonString() }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2464,
        256
      ],
      "id": "16c63683-079e-443a-bc2c-9b2460407d21",
      "name": "Extract only results2",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\n<task>\n1. Analyze, understand, and infer the goal of the message.\n2. Extract key words and phrases from the message and the intent/goal of the message. The output of this step should be a single comma sepeparated string of words and phrases.\n</task>\n\n<message>\n{{ $('Global Vars').item.json.body.message }}\n</message>\n\n\n<guidelines>\n## Keyword Extraction\n- should not have 'Omni' as a key word\n- should not have names of specific persons\n- should relate to business metrics, analytics, and types of business data\n- should expand out abbreviations that relate to data and business concepts (e.g. gigabyte instead of GB or terabyte instead of TB)\n</guidelines>\n\n<output_format>\nOutput should only be a string, and not a string representation of a JSON.\nExample:\nkeyword_0, keyword_1, key_word_2, key_word_3, key_phrase_4, key_phrase_5\n</output_format>",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "You are an expert data analyst who has built many dashboards in the Omni Analytics tool, which is a business intelligence tool, that sits on top of Snowflake data through dbt. You triage natural language queries from Stakeholders within the company in order to find the best dashboard (otherwise known as document) to answer the question. Documents, also known as dashboards, are parents of document queries, which are individual queries that run against the data within the parent document. Metadata on the documents and document queries and document query filters are stored in Snowflake and can be accessed through the Cortex Search Service and the Cortex Analyst tools."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2128,
        912
      ],
      "id": "3effe3d2-e878-42e5-a688-437270578b99",
      "name": "Extract Key Words Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "### Cortex Search Document by Message\n- searches for documents\n- uses document name that is similar to the message"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1872,
        -128
      ],
      "typeVersion": 1,
      "id": "6088f346-9bef-4d4f-9cc8-2b0287b6ce86",
      "name": "Sticky Note14",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Semantic Search by Key Words/Phrases",
        "height": 976,
        "width": 1376,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1888,
        576
      ],
      "typeVersion": 1,
      "id": "967ccae3-8213-4c20-8e46-d526d81be88e",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## Semantic Search by Omni Picked Topic",
        "height": 1312,
        "width": 1376,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1904,
        1648
      ],
      "typeVersion": 1,
      "id": "cfc5352b-2303-4364-ae00-4ecc6c5c26c2",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Global Vars').item.json.snowflake_base_url }}/api/v2/databases/{{ $('Global Vars').item.json.omni_documents_search_service.snowflake_database }}/schemas/{{ $('Global Vars').item.json.omni_documents_search_service.snowflake_schema }}/cortex-search-services/{{ $('Global Vars').item.json.omni_document_queries_query_name_search_service.agent_name }}:query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"query\": \"{{ $('Extract Key Words Agent').item.json.output }}\",\n    \"columns\": [\n        \"query_name\",\n        \"query_id\",\n        \"document_id\",\n        \"document_scope\",\n        \"query_table\"\n    ],\n    \"filter\": {\n        \"@not\": {\n            \"@eq\": {\n                \"document_scope\": \"restricted\"\n            }\n        }\n    },\n    \"limit\": 4\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        1136
      ],
      "id": "fe6a3085-f375-4d9f-9f0d-619aa34a931a",
      "name": "Cortex Document Query Name Search1",
      "retryOnFail": false,
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "PnKZCKVe26AxmdDj",
          "name": "Snowflake API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PBwxEp9lB6DQKhEp",
          "mode": "list",
          "cachedResultUrl": "/workflow/PBwxEp9lB6DQKhEp",
          "cachedResultName": "Extract document_ids"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "objects": "={{ $json.output }}"
          },
          "matchingColumns": [
            "objects"
          ],
          "schema": [
            {
              "id": "objects",
              "displayName": "objects",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3104,
        1136
      ],
      "id": "ab54c37a-8b16-4a2d-b984-a6042c248196",
      "name": "Extract document_ids 2",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"output\": {{ $json.results.toJsonString() }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2864,
        1136
      ],
      "id": "f74fa9f7-15f5-4454-8bca-c562e8871948",
      "name": "Extract only results3",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PBwxEp9lB6DQKhEp",
          "mode": "list",
          "cachedResultUrl": "/workflow/PBwxEp9lB6DQKhEp",
          "cachedResultName": "Extract document_ids"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "objects": "={{ $json.output }}"
          },
          "matchingColumns": [
            "objects"
          ],
          "schema": [
            {
              "id": "objects",
              "displayName": "objects",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3104,
        1360
      ],
      "id": "801622e9-ab83-4268-9f2a-a2b60b7deff1",
      "name": "Extract document_ids 3",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"output\": {{ $json.results.toJsonString() }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2864,
        1360
      ],
      "id": "be168c14-a82e-4397-8fa7-e292236db9ca",
      "name": "Extract only results4",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Global Vars').item.json.snowflake_base_url }}/api/v2/databases/{{ $('Global Vars').item.json.omni_document_queries_query_table_search_service.snowflake_database }}/schemas/{{ $('Global Vars').item.json.omni_document_queries_query_table_search_service.snowflake_schema }}/cortex-search-services/{{ $('Global Vars').item.json.omni_document_queries_query_table_search_service.agent_name }}:query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"query\": \"{{ $('Extract Key Words Agent').item.json.output }}\",\n    \"columns\": [\n        \"query_name\",\n        \"query_id\",\n        \"document_id\",\n        \"document_scope\",\n        \"query_table\"\n    ],\n    \"filter\": {\n        \"@not\": {\n            \"@eq\": {\n                \"document_scope\": \"restricted\"\n            }\n        }\n    },\n    \"limit\": 4\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        1360
      ],
      "id": "c208943e-4fe2-4843-af91-41441dc6f27b",
      "name": "Cortex Document Query Table Search",
      "alwaysOutputData": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "PnKZCKVe26AxmdDj",
          "name": "Snowflake API"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PBwxEp9lB6DQKhEp",
          "mode": "list",
          "cachedResultUrl": "/workflow/PBwxEp9lB6DQKhEp",
          "cachedResultName": "Extract document_ids"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "objects": "={{ $json.output }}"
          },
          "matchingColumns": [
            "objects"
          ],
          "schema": [
            {
              "id": "objects",
              "displayName": "objects",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2944,
        -96
      ],
      "id": "3f556a84-8af8-4862-838d-399e926e5b78",
      "name": "Extract document_ids 4",
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PBwxEp9lB6DQKhEp",
          "mode": "list",
          "cachedResultUrl": "/workflow/PBwxEp9lB6DQKhEp",
          "cachedResultName": "Extract document_ids"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "objects": "={{ $json.output }}"
          },
          "matchingColumns": [
            "objects"
          ],
          "schema": [
            {
              "id": "objects",
              "displayName": "objects",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3328,
        896
      ],
      "id": "da1a51f5-7d04-4647-943b-3b427e0efb31",
      "name": "Extract document_ids 5",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "PBwxEp9lB6DQKhEp",
          "mode": "list",
          "cachedResultUrl": "/workflow/PBwxEp9lB6DQKhEp",
          "cachedResultName": "Extract document_ids"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "objects": "={{ $json.output }}"
          },
          "matchingColumns": [
            "objects"
          ],
          "schema": [
            {
              "id": "objects",
              "displayName": "objects",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2992,
        2608
      ],
      "id": "082308fb-cd04-40ff-95c6-e97eb79fecc8",
      "name": "Extract document_ids 6",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TolmVjtkOdfJXQ54",
          "mode": "list",
          "cachedResultUrl": "/workflow/TolmVjtkOdfJXQ54",
          "cachedResultName": "Rename Document Keys"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "documents": "={{ $json.output }}"
          },
          "matchingColumns": [
            "documents"
          ],
          "schema": [
            {
              "id": "documents",
              "displayName": "documents",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2752,
        2624
      ],
      "id": "ad2ff683-03f7-405e-83de-d94a27a8fa24",
      "name": "Rename Document Keys_",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ids AS (\n  SELECT\n    f.index AS ord,\n    f.value::VARCHAR AS doc_id\n  FROM LATERAL FLATTEN(\n    input => ARRAY_CONSTRUCT({{ $json.document_ids.map(item => `'${item}'`).join(', ') }})  -- duplicates allowed\n  ) f\n)\nSELECT \n\n  identifier as document_id,\n  name as document_name,\n  folder_id,\n  folder_name,\n  scope as document_scope,\n  owner_name,\n  owner_id,\n  has_dashboard\nfrom ids i\nJOIN DOCUMENTS d\n  ON d.identifier = i.doc_id"
      },
      "type": "n8n-nodes-base.snowflake",
      "typeVersion": 1,
      "position": [
        4400,
        1056
      ],
      "id": "4e3cbb0b-3dc6-4ba1-9d20-8c269c391c9a",
      "name": "Get Documents with Duplicates (multiple output)",
      "credentials": {
        "snowflake": {
          "id": "RmOaMDo0Ilqq9Xvl",
          "name": "Snowflake account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"document_id\": \"{{ $json.DOCUMENT_ID }}\",\n  \"document_name\": \"{{ $json.DOCUMENT_NAME }}\",\n  \"folder_id\": \"{{ $json.FOLDER_ID }}\",\n  \"folder_name\": \"{{ $json.FOLDER_NAME }}\",\n  \"document_scope\": \"{{ $json.DOCUMENT_SCOPE }}\",\n  \"owner_name\": \"{{ $json.OWNER_NAME }}\",\n  \"owner_id\": \"{{ $json.OWNER_ID }}\",\n  \"has_dashboard\": \"{{ $json.HAS_DASHBOARD }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4640,
        1056
      ],
      "id": "1b04bb09-704d-45b9-8593-dce156e662a0",
      "name": "Keys to Lowercase"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "document_ids"
            }
          ]
        },
        "options": {
          "mergeLists": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4160,
        1056
      ],
      "id": "d336da28-bbdb-4d43-bc63-b95dedcc9786",
      "name": "Aggregate Document Ids",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4880,
        1056
      ],
      "id": "a69562b6-bb38-4ebc-935b-abc12306f203",
      "name": "Aggregate Documents"
    },
    {
      "parameters": {
        "model": "o4-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        5328,
        1344
      ],
      "id": "82b98bda-60d4-4ea2-a2df-9e49d704afc0",
      "name": "Cortex Agent o4-mini4",
      "credentials": {
        "azureOpenAiApi": {
          "id": "owGiNLHIZQGtrPG1",
          "name": "Azure Open AI o4-mini"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        5184,
        1280
      ],
      "id": "b1eedf78-f7ae-40a0-a0c7-f3b1a04a4ecc",
      "name": "Map Reduce Agent Gemini 2.5 Pro",
      "credentials": {
        "googlePalmApi": {
          "id": "yw1nLb6Dxz18ENh2",
          "name": "Gemini - Cribl"
        }
      }
    },
    {
      "parameters": {
        "content": "```\n[\n  {\n    \"body\": {\n      \"channel_id\": \"C0912AANW1L\",\n      \"channel_name\": \"data-eng-test-ai-channel\",\n      \"conversation_id\": \"C0912AANW1L\",\n      \"emoji_user_id\": \"U06PVBEK9T6\",\n      \"message\": \"Hi Team, do we have a dashboard that shows the customers daily ingest volume in GB/TB? I cant seem to find it in Omni?\",\n      \"message_ts\": \"1758696971.562899\",\n      \"user_email\": \"nkwok@cribl.io\",\n      \"user_first_name\": \"Nathan\",\n      \"user_last_name\": \"Kwok\",\n      \"user_name\": \"nathan_kwok\"\n    },\n    \"snowflake_base_url\": \"https://ml16699-hya89079.snowflakecomputing.com\",\n    \"omni_documents_search_service\": {\n      \"snowflake_database\": \"ANALYTICS\",\n      \"snowflake_schema\": \"OMNI\",\n      \"service_name\": \"omni_documents_search_service\"\n    },\n    \"omni_document_queries_query_table_search_service\": {\n      \"snowflake_database\": \"ANALYTICS\",\n      \"snowflake_schema\": \"OMNI\",\n      \"agent_name\": \"omni_document_queries_query_table_search_service\"\n    },\n    \"omni_document_queries_query_name_search_service\": {\n      \"snowflake_database\": \"ANALYTICS\",\n      \"snowflake_schema\": \"OMNI\",\n      \"agent_name\": \"omni_document_queries_query_name_search_service\"\n    },\n    \"omni_documents_analyst_agent\": {\n      \"snowflake_database\": \"SNOWFLAKE_INTELLIGENCE\",\n      \"snowflake_schema\": \"AGENTS\",\n      \"agent_name\": \"OMNI_DOCUMENTS_ANALYST_AGENT\"\n    },\n    \"zapier_slack_response_webhook\": {\n      \"webhook_url\": \"https://hooks.zapier.com/hooks/catch/23046078/u1mp0gx/\"\n    },\n    \"slack\": {\n      \"error_message\": \"The Omni agent could not find relevant dashboards :cry:\"\n    },\n    \"omni\": {\n      \"omni_base_url\": \"https://cribl.omniapp.co\",\n      \"model_id\": \"4345b118-cbbe-4f7c-a705-ea0aa8da57c0\"\n    }\n  }\n]\n```",
        "height": 448,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        -144
      ],
      "typeVersion": 1,
      "id": "9ed08b40-d657-4fb4-b448-e0bd5e634e06",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "### TODO\n- need to filter out if user_name = \"Omni Bot\"\n- or if is_message_user_bot = true\n\nif bot and responding to omni bot, then save message to snowflake\n",
        "height": 272,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        656
      ],
      "typeVersion": 1,
      "id": "e1937fac-b35d-4e22-8c83-9aa861f9b469",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "db37641f-bd94-4380-9a63-3cb9c519e3fd",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        384,
        2272
      ],
      "id": "b352069a-cd77-47fa-98e0-87fa12529ffd",
      "name": "Filter"
    }
  ],
  "connections": {
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Omni Dashboard Discovery",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Omni Dashboard Discovery": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "Omni Dashboard Discovery",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Global Vars",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Vars": {
      "main": [
        [
          {
            "node": "Omni PickTopic API Request 0",
            "type": "main",
            "index": 0
          },
          {
            "node": "Omni PickTopic API Request 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Omni PickTopic API Request 2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cortex Document Name Search",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Key Words Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cortex Document Query Name Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Agent": {
      "main": [
        [
          {
            "node": "Send Slack Success Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Slack Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Agent o4-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Response Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Response Agent Gemini 2.5 Pro": {
      "ai_languageModel": [
        [
          {
            "node": "Response Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Response Agent Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Response Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Response Agent Structured Output Parser1": {
      "ai_outputParser": [
        []
      ]
    },
    "Omni PickTopic API Request 2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Omni PickTopic API Request 0": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Omni PickTopic API Request 1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Cortex Search Query by Topic",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cortex Search Document by Topic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cortex Agent Gemini 2.5 Pro1": {
      "ai_languageModel": [
        [
          {
            "node": "Cortex Search Query by Topic",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Cortex Search Query Name": {
      "ai_tool": [
        [
          {
            "node": "Cortex Search Query by Topic",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cortex Search Query Table": {
      "ai_tool": [
        [
          {
            "node": "Cortex Search Query by Topic",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cortex Agent Gemini 2.5 Pro2": {
      "ai_languageModel": [
        [
          {
            "node": "Cortex Search Document by Topic",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Cortex Search Query by Topic": {
      "main": [
        [
          {
            "node": "Extract document_ids 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cortex Search Document by Topic": {
      "main": [
        [
          {
            "node": "Rename Document Keys_",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Document Agent": {
      "ai_languageModel": [
        [
          {
            "node": "Cortex Search Document by Topic",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search Document Query by Topic Agent": {
      "ai_languageModel": [
        [
          {
            "node": "Cortex Search Query by Topic",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Cortex Search Document Name": {
      "ai_tool": [
        [
          {
            "node": "Cortex Search Document by Topic",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Map Reduce Document Count": {
      "main": [
        [
          {
            "node": "Response Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate Document Ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cortex Search Document by Topic Structured Output": {
      "ai_outputParser": [
        [
          {
            "node": "Cortex Search Document by Topic",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Cortex Search Query by Topic Structured Output": {
      "ai_outputParser": [
        [
          {
            "node": "Cortex Search Query by Topic",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Map Reduce Document Count",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Extract only results": {
      "main": [
        [
          {
            "node": "Rename Document Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cortex Document Name Search": {
      "main": [
        [
          {
            "node": "Extract only results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cortex Agent o4-mini2": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Key Words Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Cortex Agent Gemini 2.5 Pro4": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Key Words Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Cortex Agent Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Extract Key Words Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Extract only results1": {
      "main": [
        [
          {
            "node": "Rename Document Keys_1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cortex Document Name Search1": {
      "main": [
        [
          {
            "node": "Extract only results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Document Keys_1": {
      "main": [
        [
          {
            "node": "Extract document_ids 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract document_ids 1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Rename Document Keys": {
      "main": [
        [
          {
            "node": "Extract document_ids 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cortex Document Query Name Search": {
      "main": [
        [
          {
            "node": "Extract only results2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract document_ids ": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract only results2": {
      "main": [
        [
          {
            "node": "Extract document_ids ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Key Words Agent": {
      "main": [
        [
          {
            "node": "Cortex Document Name Search1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cortex Document Query Name Search1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cortex Document Query Table Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cortex Document Query Name Search1": {
      "main": [
        [
          {
            "node": "Extract only results3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract document_ids 2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Extract only results3": {
      "main": [
        [
          {
            "node": "Extract document_ids 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract document_ids 3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Extract only results4": {
      "main": [
        [
          {
            "node": "Extract document_ids 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cortex Document Query Table Search": {
      "main": [
        [
          {
            "node": "Extract only results4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Document Keys_": {
      "main": [
        [
          {
            "node": "Extract document_ids 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract document_ids 4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract document_ids 5": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Extract document_ids 6": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Get Documents with Duplicates (multiple output)": {
      "main": [
        [
          {
            "node": "Keys to Lowercase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keys to Lowercase": {
      "main": [
        [
          {
            "node": "Aggregate Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Document Ids": {
      "main": [
        [
          {
            "node": "Get Documents with Duplicates (multiple output)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Documents": {
      "main": [
        [
          {
            "node": "Map Reduce Document Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cortex Agent o4-mini4": {
      "ai_languageModel": [
        [
          {
            "node": "Map Reduce Document Count",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Map Reduce Agent Gemini 2.5 Pro": {
      "ai_languageModel": [
        [
          {
            "node": "Map Reduce Document Count",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Global Vars": [
      {
        "json": {
          "body": {
            "channel_id": "C0912AANW1L",
            "channel_name": "data-eng-test-ai-channel",
            "conversation_id": "C0912AANW1L",
            "emoji_user_id": "U06PVBEK9T6",
            "message": "Hi Team, do we have a dashboard that shows the customers daily ingest volume in GB/TB? I cant seem to find it in Omni?",
            "message_ts": "1758696971.562899",
            "user_email": "nkwok@cribl.io",
            "user_first_name": "Nathan",
            "user_last_name": "Kwok",
            "user_name": "nathan_kwok"
          },
          "snowflake_base_url": "https://ml16699-hya89079.snowflakecomputing.com",
          "omni_documents_search_service": {
            "snowflake_database": "ANALYTICS",
            "snowflake_schema": "OMNI",
            "service_name": "omni_documents_search_service"
          },
          "omni_document_queries_query_table_search_service": {
            "snowflake_database": "ANALYTICS",
            "snowflake_schema": "OMNI",
            "agent_name": "omni_document_queries_query_table_search_service"
          },
          "omni_document_queries_query_name_search_service": {
            "snowflake_database": "ANALYTICS",
            "snowflake_schema": "OMNI",
            "agent_name": "omni_document_queries_query_name_search_service"
          },
          "omni_documents_analyst_agent": {
            "snowflake_database": "SNOWFLAKE_INTELLIGENCE",
            "snowflake_schema": "AGENTS",
            "agent_name": "OMNI_DOCUMENTS_ANALYST_AGENT"
          },
          "zapier_slack_response_webhook": {
            "webhook_url": "https://hooks.zapier.com/hooks/catch/23046078/u1mp0gx/"
          },
          "slack": {
            "error_message": "The Omni agent could not find relevant dashboards :cry:"
          },
          "omni": {
            "omni_base_url": "https://cribl.omniapp.co",
            "model_id": "4345b118-cbbe-4f7c-a705-ea0aa8da57c0"
          }
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "connection": "upgrade",
            "host": "agenticflows.xyz",
            "x-real-ip": "54.234.201.125",
            "x-forwarded-for": "54.234.201.125",
            "x-forwarded-proto": "https",
            "x-forwarded-host": "agenticflows.xyz",
            "x-forwarded-port": "443",
            "content-length": "774",
            "authorization": "Basic emFwaWVyOldNRXY4NDlmcGZGVlpYNkdoQjM2MGFmT3JmMWtfRFF2TlhfOFRSSjEzS1U=",
            "content-type": "application/json; charset=utf-8",
            "user-agent": "Zapier",
            "accept": "*/*",
            "accept-encoding": "gzip,deflate"
          },
          "params": {},
          "query": {},
          "body": {
            "channel_id": "C0912AANW1L",
            "channel_name": "data-eng-test-ai-channel",
            "conversation_id": "C0912AANW1L",
            "emoji_user_id": "U06PVBEK9T6",
            "emoji_user_name": "nkwok",
            "is_message_user_bot": "True",
            "message": "Hey @nathan_kwok, I found a few dashboards around customer data ingestion and related metrics that might contain what you need:\n https://cribl.omniapp.co/dashboards/e445af06Product: Cribl Suite - Software> in https://cribl.omniapp.co/f/productProduct>\n https://cribl.omniapp.co/dashboards/de229002Customer: Customer Breakdown> in https://cribl.omniapp.co/f/customer experienceCustomer Experience>\n https://cribl.omniapp.co/dashboards/13c98724Team: SRE Engineering SLO> in https://cribl.omniapp.co/f/sreSRE>",
            "message_ts": "1758884220.687049",
            "user_name": "Omni Bot"
          },
          "webhookUrl": "https://agenticflows.xyz/webhook-test/8394a134-6af3-4ec0-b605-3270129037cc",
          "executionMode": "test"
        }
      }
    ]
  },
  "versionId": "b1002895-3e60-4975-9f60-783c3d22ba6c",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-09-26T08:40:31.056Z",
      "updatedAt": "2025-09-26T08:40:31.056Z",
      "role": "workflow:owner",
      "workflowId": "4bqYeLDmprfUiEna",
      "projectId": "w7JTueqTYNrmBYZn"
    }
  ],
  "tags": []
}