workflows/Backup_Workflows_to_GitHub.json
{
  "createdAt": "2025-08-16T19:50:22.786Z",
  "updatedAt": "2025-08-16T21:12:23.298Z",
  "id": "ddeDgxYM6E36WtW9",
  "name": "Backup_Workflows_to_GitHub",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{ $node['Global Vars'].json['repo']['owner'] }}",
        "repository": "={{ $node['Global Vars'].json['repo']['name'] }}",
        "filePath": "={{ $node['Global Vars'].json['repo']['path'] + $json['name'] + '.json' }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "4db84afd-98e2-4bc0-85e2-a1eaf49a3897",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "position": [
        2128,
        -208
      ],
      "typeVersion": 1.1,
      "alwaysOutputData": true,
      "webhookId": "91581b4c-1f47-4bef-b759-1e9a45af9a20",
      "credentials": {
        "githubApi": {
          "id": "KBH9KG8I0VZ6x3LD",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f6eef8c1-ce35-4c0f-a48e-75338fc78317",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1888,
        -288
      ],
      "executeOnce": false,
      "typeVersion": 3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "16a9182d-059d-4774-ba95-654fb4293fdb",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "de1b9fd9-c620-437c-a297-ca649ae8770e",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        2320,
        -208
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e0c66624-429a-4f1f-bf7b-1cc1b32bad7b",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": "={{ $('Loop Over Items').item.json.toJsonString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "17847d82-603e-419a-a7cf-f59d651fec96",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "position": [
        3200,
        112
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all()\n\nfor (item of items) {\n  item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"
      },
      "id": "4895b3d4-cf30-46e3-9567-c66d8e87a070",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        2880,
        -224
      ],
      "typeVersion": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "={{ $node['Global Vars'].json['repo']['owner'] }}",
        "repository": "={{ $node['Global Vars'].json['repo']['name'] }}",
        "filePath": "={{ $node['Global Vars'].json['repo']['path'] + $('Loop Over Items').item.json.name + '.json' }}",
        "fileContent": "={{ $('Loop Over Items').item.json.toJsonString() }}",
        "commitMessage": "=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"
      },
      "id": "e1e21c66-8201-4c9a-8dae-f6802df56f7a",
      "name": "Create new file and commit",
      "type": "n8n-nodes-base.github",
      "position": [
        2512,
        -48
      ],
      "typeVersion": 1.1,
      "webhookId": "89bca4de-1c07-4d62-8d6a-3f020efe2e7d",
      "credentials": {
        "githubApi": {
          "id": "KBH9KG8I0VZ6x3LD",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{ $node['Global Vars'].json['repo']['owner'] }}",
        "repository": "={{ $node['Global Vars'].json['repo']['name'] }}",
        "filePath": "={{ $node['Global Vars'].json['repo']['path'] + $('Loop Over Items').item.json.name + '.json' }}",
        "fileContent": "={{ JSON.stringify(JSON.parse($('Loop Over Items').item.json.toJsonString()), null, 2) }}",
        "commitMessage": "=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"
      },
      "id": "56fba9ea-1333-418d-8578-fe3ff35c46be",
      "name": "Update file content and commit",
      "type": "n8n-nodes-base.github",
      "position": [
        3568,
        304
      ],
      "typeVersion": 1.1,
      "webhookId": "0ade4e7d-b8f9-43cc-b52b-de000a53463e",
      "credentials": {
        "githubApi": {
          "id": "KBH9KG8I0VZ6x3LD",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "12 */3 * * 1,3,4"
            },
            {
              "field": "cronExpression",
              "expression": "38 */2 * * 2,5"
            },
            {
              "field": "cronExpression",
              "expression": "23 */5 * * 6"
            }
          ]
        }
      },
      "id": "f3b7d82e-ab11-4c75-a6ee-7fcad50d53e6",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        400,
        368
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "Workflow changes committed to the repository",
        "height": 80
      },
      "id": "d5a78154-1b36-4e48-9c92-b8109475de45",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3088,
        528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Check if there are any changes in the workflow ",
        "height": 80
      },
      "id": "1db37204-c229-44a8-8c82-bb0c350e2dc1",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2688,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Create a new file for the workflow",
        "height": 80
      },
      "id": "d97588a9-8525-4920-a37a-8e716d485b58",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2032,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Check if file exists in the repository",
        "height": 80
      },
      "id": "76136374-d9cd-4d19-aa0c-372adc9191d6",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1856,
        -400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Convert the file contents to JSON string ",
        "height": 80
      },
      "id": "efc1d6d1-64e8-4f15-a1b4-b0e023c415ac",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2384,
        -336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Get all n8n workflows",
        "height": 80
      },
      "id": "0377bd83-6f19-4197-9abb-5d136d183672",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1488,
        -400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Set variables:\nrepo.owner - Repo owner or org\nrepo.name - Repo name in Github\nrepo.path - Path within the repo to backup to",
        "height": 112,
        "width": 272
      },
      "id": "aae8c75a-8cc2-4e4d-869f-74417f5b6701",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const randomBool = Math.random() < 0.5;\nreturn {\"run_bool\": randomBool};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        368
      ],
      "id": "2b068680-ec7f-4bee-8ada-6c03a59c9fd7",
      "name": "Random Boolean Generator",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "92d25fb2-c8e0-4217-ac92-84ebf49afc75",
              "leftValue": "={{ $json.run_bool }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        368
      ],
      "id": "ada17589-40cf-4b49-bbd0-7d6b3190a025",
      "name": "Check if run",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb6b4bd1-9856-4ef4-879e-7070ed3d9eb1",
              "name": "repo.owner",
              "value": "nathankwok",
              "type": "string"
            },
            {
              "id": "f93fb912-08e6-422c-a35e-c9ae2e4d4001",
              "name": "repo.name",
              "value": "n8n_workflows",
              "type": "string"
            },
            {
              "id": "192d0f89-3cae-407a-ba5c-c73b4cb5fa69",
              "name": "repo.path",
              "value": "workflows/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9382e119-1e22-40d8-9a53-f14fb7cb8cb7",
      "name": "Global Vars",
      "type": "n8n-nodes-base.set",
      "position": [
        1248,
        64
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "5e2b997d-cdce-44b1-85fa-60f205a888b5",
      "name": "Get many workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1456,
        -288
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "RqX64FhD5jWjRPpF",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "04707657-2ca1-4924-ac6f-bb7511d9eaa9",
              "leftValue": "={{ $('Get many workflows').item.json.isArchived }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1648,
        -288
      ],
      "id": "a5a06a75-b27e-4fb6-a218-8a9cbb65d63a",
      "name": "Filter"
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create new file and commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update file content and commit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Global Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file and commit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update file content and commit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random Boolean Generator": {
      "main": [
        [
          {
            "node": "Check if run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if run": {
      "main": [
        [
          {
            "node": "Global Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Vars": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "53a31c39-2046-4135-be2d-23c6aea37712",
  "triggerCount": 1,
  "tags": []
}