workflows/Backup_Credentials.json
{"createdAt":"2025-06-24T04:45:49.437Z","updatedAt":"2025-06-24T06:55:14.771Z","id":"jfSKYMeYp9NQDB3t","name":"Backup_Credentials","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"30f552bb-4ccd-4bb2-b766-a6e583802ea3","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-940,100],"typeVersion":1.2},{"parameters":{"workflowId":{"__rl":true,"mode":"list","value":"U7Jh9njKLEjGLVIl","cachedResultName":"n8n Backup Changes"},"workflowInputs":{"value":{"filePath":"={{ $('Set Workflow Path').item.json.filePath }}"},"schema":[{"id":"filePath","type":"string","display":true,"removed":false,"required":false,"displayName":"filePath","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["filePath"],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"fc4e18f5-cd30-4b65-981d-366fa6002a67","name":"Get New Workflow Hash","type":"n8n-nodes-base.executeWorkflow","position":[-60,-20],"typeVersion":1.2,"alwaysOutputData":false,"disabled":true},{"parameters":{"workflowId":{"__rl":true,"mode":"list","value":"U7Jh9njKLEjGLVIl","cachedResultName":"n8n Backup Changes"},"workflowInputs":{"value":{"filePath":"={{ $('Set Workflow Path').item.json.filePath }}"},"schema":[{"id":"filePath","type":"string","display":true,"removed":false,"required":false,"displayName":"filePath","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":["filePath"],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"e771eec6-80bd-4aa7-8d44-3843535de50e","name":"Get Old Workflow Hash","type":"n8n-nodes-base.executeWorkflow","position":[-500,-20],"typeVersion":1.2,"alwaysOutputData":true,"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"fileSelector":"={{ $('Set Workflow Path').item.json.filePath }}","options":{}},"id":"4e08a0de-e733-48a4-bfb3-0a3ff5f88e23","name":"Read Workflow Data","type":"n8n-nodes-base.readWriteFile","position":[380,-20],"typeVersion":1,"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"c60cce2a-609d-417e-a73c-9719a490cc85","name":"filePath","type":"string","value":"/data/shared/WorkFlowBackup.json"}]},"options":{}},"id":"23cecdbb-0563-4a8b-83d2-92c12ada45e8","name":"Set Workflow Path","type":"n8n-nodes-base.set","position":[-720,-20],"typeVersion":3.4,"disabled":true},{"parameters":{"command":"=n8n export:workflow --all --output={{ $('Set Workflow Path').item.json.filePath }}"},"id":"a05d5793-b035-4734-a648-e2e817050246","name":"Execute Workflow Backup","type":"n8n-nodes-base.executeCommand","position":[-280,-20],"typeVersion":1,"alwaysOutputData":true,"disabled":true},{"parameters":{"fileSelector":"={{ $json.filePath }}","options":{}},"id":"306ee496-bd41-498c-b58b-b5b53447d0ec","name":"Read File","type":"n8n-nodes-base.readWriteFile","position":[-720,-280],"typeVersion":1},{"parameters":{"operation":"text","options":{}},"id":"c912ab9f-c3f9-4233-97a8-f30b0cd6f88e","name":"Extract Data","type":"n8n-nodes-base.extractFromFile","position":[-500,-280],"typeVersion":1},{"parameters":{"type":"SHA256","value":"={{$json.data}}","dataPropertyName":"hash"},"id":"65f469f4-e63a-4b00-9a4c-af0bc1778248","name":"Hash Data","type":"n8n-nodes-base.crypto","position":[-280,-280],"typeVersion":1},{"parameters":{"workflowInputs":{"values":[{"name":"filePath"}]}},"id":"7bcf05ea-5780-4724-b5bb-84e525e3b169","name":"Hash Maker","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-940,-280],"typeVersion":1.1},{"parameters":{"operation":"text","options":{}},"id":"7b51b298-61e2-4372-b6d6-f31efe6088d4","name":"Extract Workflow Data","type":"n8n-nodes-base.extractFromFile","position":[600,-20],"typeVersion":1,"disabled":true},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/nathankwok","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/nathankwok/n8n_workflows","mode":"url"},"filePath":"={{ \"backups/WorkFlow Backup \" + new Date($now).toISOString().replace('T', ' ').slice(0, 16) + \".json\" }}","fileContent":"={{ $json.data }}","commitMessage":"={{ \"WorkFlow Backup \" + new Date($now).toISOString().replace('T', ' ').slice(0, 16) }}"},"id":"f4c9414a-2ca3-4b44-ade3-e5de1ad2bbd5","name":"GitHub Workflow Backup","type":"n8n-nodes-base.github","position":[820,-20],"webhookId":"ccf2ad35-62aa-4e3e-9811-ea6d7fca0aba","typeVersion":1.1,"credentials":{"githubApi":{"id":"KBH9KG8I0VZ6x3LD","name":"GitHub account"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"jfSKYMeYp9NQDB3t","mode":"list","cachedResultName":"Backup_Credentials"},"workflowInputs":{"mappingMode":"defineBelow","value":{"filePath":"={{ $('Set Credential Path').item.json.filePath }}"},"matchingColumns":["filePath"],"schema":[{"id":"filePath","displayName":"filePath","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"b6a2d34e-247e-42ee-a5a9-5acbf2b4ae3c","name":"Get New Credential Hash","type":"n8n-nodes-base.executeWorkflow","position":[-60,200],"typeVersion":1.2,"alwaysOutputData":false},{"parameters":{"workflowId":{"__rl":true,"value":"jfSKYMeYp9NQDB3t","mode":"list","cachedResultName":"Backup_Credentials"},"workflowInputs":{"mappingMode":"defineBelow","value":{"filePath":"={{ $('Set Credential Path').item.json.filePath }}"},"matchingColumns":["filePath"],"schema":[{"id":"filePath","displayName":"filePath","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"86e86739-b7ce-4aa7-9fa2-219236fac893","name":"Get Old Credential Hash","type":"n8n-nodes-base.executeWorkflow","position":[-500,200],"typeVersion":1.2,"alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"fileSelector":"={{ $('Set Credential Path').item.json.filePath }}","options":{}},"id":"2e8c23e9-954f-4d1f-9922-ab18457bf2d3","name":"Read Credential Data","type":"n8n-nodes-base.readWriteFile","position":[380,200],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"c60cce2a-609d-417e-a73c-9719a490cc85","name":"filePath","type":"string","value":"/data/shared/CredentialBackup.json"}]},"options":{}},"id":"3d1d1bea-c44a-454d-9e49-a8c3ab129b5e","name":"Set Credential Path","type":"n8n-nodes-base.set","position":[-720,200],"typeVersion":3.4},{"parameters":{"command":"=n8n export:credentials --all --output={{ $('Set Credential Path').item.json.filePath }}"},"id":"f46fc0b4-cfa6-4e41-8044-bd03a016372d","name":"Execute Credential Backup","type":"n8n-nodes-base.executeCommand","position":[-280,200],"typeVersion":1,"alwaysOutputData":true},{"parameters":{"operation":"text","options":{}},"id":"91e6fe48-cfee-4a3f-a5b1-57b45258bfc8","name":"Extract Credential Data","type":"n8n-nodes-base.extractFromFile","position":[600,200],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/nathankwok","mode":"url"},"repository":{"__rl":true,"value":"https://github.com/nathankwok/n8n_workflows","mode":"url"},"filePath":"={{ \"backups/ Credential Backup \" + new Date($now).toISOString().replace('T', ' ').slice(0, 16) + \".json\" }}","fileContent":"={{ $json.data }}","commitMessage":"={{ \" Credential Backup \" + new Date($today).toISOString().replace('T', ' ').slice(0, 16) }}"},"id":"063384ef-6f4c-4a70-ae9f-b443a13c3184","name":"GitHub Credential Backup","type":"n8n-nodes-base.github","position":[820,200],"webhookId":"ccf2ad35-62aa-4e3e-9811-ea6d7fca0aba","typeVersion":1.1,"credentials":{"githubApi":{"id":"KBH9KG8I0VZ6x3LD","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c028ce1d-3fe9-4dc9-a3e9-296460e12c83","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $('Get New Workflow Hash').item.json.hash }}","rightValue":"={{ $('Get Old Workflow Hash').item.json.hash }}"}]},"options":{}},"id":"73586425-0ffa-44f5-93f0-fae63b06aa04","name":"If Workflow Updated","type":"n8n-nodes-base.if","position":[160,-20],"typeVersion":2.2,"disabled":true},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c028ce1d-3fe9-4dc9-a3e9-296460e12c83","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $('Get New Credential Hash').item.json.hash }}","rightValue":"={{ $('Get Old Credential Hash').item.json.hash }}"}]},"options":{}},"id":"40cba181-8f0c-49ae-a6d9-9aba2794e9b3","name":"If Credential Updated","type":"n8n-nodes-base.if","position":[160,200],"typeVersion":2.2}],"connections":{"Read File":{"main":[[{"node":"Extract Data","type":"main","index":0}]]},"Hash Maker":{"main":[[{"node":"Read File","type":"main","index":0}]]},"Extract Data":{"main":[[{"node":"Hash Data","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set Workflow Path","type":"main","index":0},{"node":"Set Credential Path","type":"main","index":0}]]},"Set Workflow Path":{"main":[[{"node":"Get Old Workflow Hash","type":"main","index":0}]]},"Read Workflow Data":{"main":[[{"node":"Extract Workflow Data","type":"main","index":0}]]},"If Workflow Updated":{"main":[[{"node":"Read Workflow Data","type":"main","index":0}]]},"Set Credential Path":{"main":[[{"node":"Get Old Credential Hash","type":"main","index":0}]]},"Read Credential Data":{"main":[[{"node":"Extract Credential Data","type":"main","index":0}]]},"Extract Workflow Data":{"main":[[{"node":"GitHub Workflow Backup","type":"main","index":0}]]},"Get New Workflow Hash":{"main":[[{"node":"If Workflow Updated","type":"main","index":0}]]},"Get Old Workflow Hash":{"main":[[{"node":"Execute Workflow Backup","type":"main","index":0}]]},"If Credential Updated":{"main":[[{"node":"Read Credential Data","type":"main","index":0}]]},"Execute Workflow Backup":{"main":[[{"node":"Get New Workflow Hash","type":"main","index":0}]]},"Extract Credential Data":{"main":[[{"node":"GitHub Credential Backup","type":"main","index":0}]]},"Get New Credential Hash":{"main":[[{"node":"If Credential Updated","type":"main","index":0}]]},"Get Old Credential Hash":{"main":[[{"node":"Execute Credential Backup","type":"main","index":0}]]},"Execute Credential Backup":{"main":[[{"node":"Get New Credential Hash","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cac46179-3df9-4c94-a6f0-3e36b38297e7","triggerCount":0,"tags":[]}