workflows/Board_Deck_Omni_Query_Analysis_Subworkflow.json
{"updatedAt":"2026-01-23T12:08:12.298Z","createdAt":"2026-01-23T04:17:13.959Z","id":"KNaGu0JiDRPuHSkx","name":"Board_Deck_Omni_Query_Analysis_Subworkflow","active":false,"isArchived":false,"nodes":[{"parameters":{"model":"gpt-5-mini","options":{"responseFormat":"json_object","timeout":360000}},"id":"97eea074-ab19-4273-a0b9-6137887c2d90","name":"Azure OpenAI GPT-5-mini","type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[2896,352],"credentials":{"azureOpenAiApi":{"id":"ljEp6Un527XmKGRN","name":"Azure OpenAI gpt-5-mini"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"current_quarter_analysis\": {\n    \"top_entities\": [\n      {\n        \"entity\": \"\",\n        \"metric_value\": 2.0,\n        \"percent_of_total\": 2,\n        \"insights\": [\n          {\n            \"text\": \"<concise insight>\",\n            \"category\": \"\",\n            \"confidence\": 0.1,\n            \"supporting_data\": {\n              \"total_metric\": 1,\n              \"comparison_to_median\": 2\n            }\n          }\n        ]\n      }\n    ],\n    \"overall_notes\": \"<data-quality comments>\"\n  },\n  \"previous_quarter_analysis\": {\n    \"top_entities\": [\n      {\n        \"entity\": \"\",\n        \"metric_value\": 2.0,\n        \"percent_of_total\": 2,\n        \"insights\": [\n          {\n            \"text\": \"<concise insight>\",\n            \"category\": \"\",\n            \"confidence\": 0.1,\n            \"supporting_data\": {\n              \"total_metric\": 1,\n              \"comparison_to_median\": 2\n            }\n          }\n        ]\n      }\n    ],\n    \"overall_notes\": \"<data-quality comments>\"\n  },\n  \"inter_quarter_comparison\": {\n    \"major_changes\": [\n      {\n        \"dimension\": \"<dimension_value>\",\n        \"current_metric\": 1,\n        \"previous_metric\": 2,\n        \"absolute_change\": 3,\n        \"percent_change\": 4,\n        \"insight\": \"<explanation or hypothesis>\",\n        \"category\": \"<category>\",\n        \"confidence\": 0.2,\n        \"supporting_data\": { \"rank_shift\": 5 }\n      }\n    ],\n    \"overall_delta_summary\": \"<paragraph>\",\n    \"confidence_overall\": 0.2\n  },\n  \"data_quality\": {\n    \"completeness_score\": 0.2,\n    \"issues_found\": [ \"<issue1>\", \"<issue2>\" ]\n  }\n}"},"id":"2860f067-da43-4e43-9317-1d6bb638d055","name":"Structured Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[3296,368]},{"parameters":{"assignments":{"assignments":[{"id":"ai_insights","name":"ai_insights","type":"object","value":"={{ $('Pattern Detection Agent').item.json.output }}"},{"id":"query_results","name":"query_results","type":"object","value":"={{ $('Aggregate').item.json }}"},{"id":"original_query","name":"current_fiscal_quarter_query","type":"object","value":"={{ $('Loop Over Items').item.json.current_fiscal_quarter_query }}"},{"id":"15a47ae9-849a-4166-b1fb-d7b024dfe5bd","name":"previous_fiscal_quarter_query","value":"={{ $('Loop Over Items').item.json.previous_fiscal_quarter_query }}","type":"object"},{"id":"metadata","name":"metadata","type":"object","value":"={{ {\n  processedAt: new Date().toISOString(),\n  workflowExecutionId: $execution.id,\n  processingTimeMs: Date.now() - new Date($execution.startedAt).getTime()\n} }}"}]},"options":{}},"id":"b871c7c4-12f5-48ee-a566-45985363f923","name":"Combine AI Insights with Raw Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4432,592]},{"parameters":{"method":"POST","url":"={{ $('Webhook').item.json.headers.callbackurl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $('Combine AI Insights with Raw Data').item.json }}","options":{}},"id":"bd48f0e7-2aa5-48d7-948f-538abfbc6e8b","name":"Send Results to Callback URL","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[4704,592],"retryOnFail":true,"maxTries":3,"waitBetweenTries":3000,"disabled":true},{"parameters":{"content":"```\n{\n  \"query\": {{ $('Webhook').item.json.body.query.toJsonString() }},\n  \"resultType\": \"json\",\n  \"userId\": {{ $('Webhook').item.json.body.userId || '893ce348-0fb2-44ac-b0f8-06521a341580' }}\n}\n```"},"type":"n8n-nodes-base.stickyNote","position":[320,-416],"typeVersion":1,"id":"01f44c49-7cd0-44e3-be24-604bf29baae2","name":"Sticky Note"},{"parameters":{"method":"POST","url":"https://cribl.omniapp.co/api/v1/query/run","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": {{ $json.current_fiscal_quarter_query.toJsonString() }},\n  \"resultType\": \"json\",\n  \"userId\": {{ $json.user_id.toJsonString() }}\n} ","options":{}},"id":"a763fa66-d5d8-4e00-a1a6-2ab2dd133ff8","name":"Run Current Fiscal Quarter Query","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[880,0],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"httpBearerAuth":{"id":"5VdIyCQ3QBhEpyIx","name":"Omni API"}},"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://cribl.omniapp.co/api/v1/query/run","authentication":"predefinedCredentialType","nodeCredentialType":"httpBearerAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": {{ $json.previous_fiscal_quarter_query.toJsonString() }},\n  \"resultType\": \"json\",\n  \"userId\": {{ $json.user_id.toJsonString() }}\n} ","options":{}},"id":"3b1ba739-5132-46aa-b1f2-5d6b1ff59b2b","name":"Run Previous Fiscal Quarter Query","type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[880,368],"retryOnFail":true,"maxTries":3,"waitBetweenTries":2000,"credentials":{"httpBearerAuth":{"id":"5VdIyCQ3QBhEpyIx","name":"Omni API"}},"onError":"continueErrorOutput"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"previous_fiscal_quarter_results","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1808,352],"id":"720f7a70-18cc-4b47-a64b-a66e1323ae74","name":"Aggregate Previous Quarter"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"current_fiscal_quarter_results","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1664,-16],"id":"d8ceca65-475b-4907-9b80-ef66382fc0ce","name":"Aggregate Current Quarter"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2160,112],"id":"1616b715-c69f-4305-96d6-8680fa5b6a33","name":"Merge"},{"parameters":{"promptType":"define","text":"=<role>\nYou are a seasoned Business-Intelligence Data Analyst from McKinsey. Given two quarter-level JSON datasets, you will surface the most significant single-quarter insights and the most impactful inter-quarter changes, then return a structured, evidence-backed report with confidence scores. The output must be fully self-contained and must contain board deck level insights.\n</role>\n\n<task>\n1. Parse both JSON inputs and verify they share compatible schemas.  \n2. Infer or confirm:\n   • primary metric name (e.g., revenue, usage, spend)  \n   • dimensions available (e.g., customer, region, product)  \n3. For each quarter separately:  \n   a. Rank the top N (default = 5) entities by the primary metric, descending.  \n   b. Detect notable patterns (spikes, dips, outliers, seasonality).  \n   c. Summarize key insights, each with: insight text, supporting numbers, confidence 0-1, and category (e.g., “Growth Driver”, “Risk”, “Anomaly”).  \n4. Across quarters:  \n   a. Calculate absolute and % deltas for every comparable metric.  \n   b. Flag the largest movers (both positive & negative).  \n   c. Explain possible causes and drivers for changes in the metric, or hypotheses wherever evident. \n5. Rate overall data quality (completeness, outliers, missing fields) and adjust confidence scores accordingly.  \n6. Assemble the final output in the exact structure defined in <output_format>.  \n7. Before finalising, self-check for:  \n   • numerical accuracy  \n   • insight completeness per requirements  \n   • clarity and conciseness  \n   • presence of every required field.\n</task>\n\n<context>\nInputs  \n• current_fiscal_quarter_results – full result set for the current fiscal quarter.  \n• previous_fiscal_quarter_results – full result set for the immediately preceding fiscal quarter.  \n\nScope & assumptions  \n• Each record contains at least: dimension(s), primary_metric, and optional secondary metrics.  \n• The primary metric is numeric and additive.  \n\nAssumptions  \n• Each record contains at least: dimension(s), primary_metric, plus optional secondary metrics.  \n• The primary metric is numeric and additive.  \n\nOutput expectations  \n• Must be fully self-contained; do not reference external resources.  \n• Confidence scores reflect statistical strength, data quality, and analyst certainty.  \n• Categories help stakeholders triage (examples: Growth Driver, Decline, Anomaly, Operational, Strategic).  \n\nConstraints  \nWe prefer the simplest workflow that fully handles edge cases and follows security-best practices.\n</context>\n\n<input>\n{\n  \"current_fiscal_quarter_results\": {{ $json.current_fiscal_quarter_results.toJsonString() }},\n\n  \"previous_fiscal_quarter_results\": {{ $json.previous_fiscal_quarter_results.toJsonString() }}\n}\n</input>\n\n<guidelines>\n– Keep prose short, active voice; avoid fluff. The notes should be short enough to go into a presentation.\n- Output only valid JSON or an error object - no commentary, nor preamble.\n– List insights as bullet points; keep paragraphs under 3 sentences.  \n– Sort entities strictly by descending primary metric.  \n– Include numeric evidence (totals, percentages, deltas).  \n– Confidence must be a decimal 0-1 with two digits (e.g., 0.87).  \n– Call out any data issues or hidden assumptions (“gotchas”).  \n– Never fabricate data; if uncertain, say so explicitly.  \n– Do not simply agree with the query; challenge ambiguities or gaps.  \n– Use ISO dates and standard units.  \n– All JSON keys must be lower_snake_case.  \n– Verify that every insight is traceable to values in the input datasets.\n</guidelines>\n- You **MUST** output a JSON with the fields `current_quarter_analysis`, `previous_quarter_analysis`, and `inter_quarter_comparison` at the very minimum.\n\n<output_format>\n```json\n{\n  \"current_quarter_analysis\": {\n    \"top_entities\": [\n      {\n        \"entity\": \"<dimension_value>\",\n        \"metric_value\": <number>,\n        \"percent_of_total\": <number>,\n        \"insights\": [\n          {\n            \"text\": \"<concise insight>\",\n            \"category\": \"<category>\",\n            \"confidence\": <0-1>,\n            \"supporting_data\": {\n              \"total_metric\": <number>,\n              \"comparison_to_median\": <number>\n            }\n          }\n        ]\n      }\n    ],\n    \"overall_notes\": \"<data-quality comments>\"\n  },\n  \"previous_quarter_analysis\": { ...same shape... },\n  \"inter_quarter_comparison\": {\n    \"major_changes\": [\n      {\n        \"dimension\": \"<dimension_value>\",\n        \"current_metric\": <number>,\n        \"previous_metric\": <number>,\n        \"absolute_change\": <number>,\n        \"percent_change\": <number>,\n        \"insight\": \"<explanation or hypothesis>\",\n        \"category\": \"<category>\",\n        \"confidence\": <0-1>,\n        \"supporting_data\": { \"rank_shift\": <integer> }\n      }\n    ],\n    \"overall_delta_summary\": \"<paragraph>\",\n    \"confidence_overall\": <0-1>\n  },\n  \"data_quality\": {\n    \"completeness_score\": <0-1>,\n    \"issues_found\": [ \"<issue1>\", \"<issue2>\" ]\n  }\n}\n```\n</output_format>","hasOutputParser":true,"options":{"systemMessage":"You are an expert data analyst specializing in pattern detection and business intelligence. You analyze query results to identify trends, patterns, anomalies, and actionable insights. You provide clear, concise analysis in structured JSON format."}},"id":"32b65e34-32dc-47e0-b62b-68931f261f08","name":"Pattern Detection Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[3072,112]},{"parameters":{"modelName":"models/gemini-3-pro-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[3600,432],"id":"debb087e-311b-4e12-b2f8-d39438738a87","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"LKQbGwmroZKBfciU","name":"Gemini - Cribl"}}},{"parameters":{"content":"## Gemini Analysis\n```\n{\n  \"current_quarter_analysis\": {\n    \"overall_notes\": \"Data represents a pipeline snapshot with mixed stages (Closed Won, Closing, Closed Lost). Dates range into FY26/27, indicating forward-looking pipeline. Account naming inconsistencies detected (e.g., 'WF' vs 'Wells Fargo').\",\n    \"top_entities\": [\n      {\n        \"percent_of_total\": 0.065,\n        \"metric_value\": 3135000,\n        \"entity\": \"Royal Bank of Canada\",\n        \"insights\": [\n          {\n            \"category\": \"Growth Driver\",\n            \"supporting_data\": {\n              \"comparison_to_median\": 11.75,\n              \"total_metric\": 3135000\n            },\n            \"confidence\": 0.85,\n            \"text\": \"Top pipeline contributor with $3.1M across 2 deals; primarily in 'Closing' or 'Visible' stages.\"\n          }\n        ]\n      },\n      {\n        \"insights\": [\n          {\n            \"text\": \"Significant realized revenue; $2.56M fully marked as 'Closed Won' this quarter.\",\n            \"supporting_data\": {\n              \"comparison_to_median\": 9.6,\n              \"total_metric\": 2563289.3\n            },\n            \"category\": \"Revenue Realization\",\n            \"confidence\": 0.99\n          }\n        ],\n        \"percent_of_total\": 0.053,\n        \"metric_value\": 2563289.3,\n        \"entity\": \"Dell Computer Corp.\"\n      },\n      {\n        \"percent_of_total\": 0.044,\n        \"entity\": \"CVS Health / Aetna\",\n        \"metric_value\": 2126250,\n        \"insights\": [\n          {\n            \"supporting_data\": {\n              \"total_metric\": 2126250,\n              \"comparison_to_median\": 7.97\n            },\n            \"confidence\": 0.9,\n            \"category\": \"Major Opportunity\",\n            \"text\": \"Largest single active opportunity ($2.1M) currently in 'Tech Close'.\"\n          }\n        ]\n      },\n      {\n        \"entity\": \"Leidos\",\n        \"metric_value\": 1710830.88,\n        \"insights\": [\n          {\n            \"text\": \"Strong upsell motion ($1.7M) driven by Fedramp Cloud Migration.\",\n            \"category\": \"Upsell\",\n            \"confidence\": 0.8,\n            \"supporting_data\": {\n              \"comparison_to_median\": 6.41,\n              \"total_metric\": 1710830.88\n            }\n          }\n        ],\n        \"percent_of_total\": 0.035\n      },\n      {\n        \"insights\": [\n          {\n            \"category\": \"Pipeline\",\n            \"supporting_data\": {\n              \"comparison_to_median\": 4.75,\n              \"total_metric\": 1268000\n            },\n            \"text\": \"New logo security deal ($1.27M) in early visibility stage.\",\n            \"confidence\": 0.75\n          }\n        ],\n        \"entity\": \"Truist Financial Corp.\",\n        \"metric_value\": 1268000,\n        \"percent_of_total\": 0.026\n      },\n      {\n        \"entity\": \"Verizon\",\n        \"insights\": [\n          {\n            \"supporting_data\": {\n              \"comparison_to_median\": 4.4,\n              \"total_metric\": 1173395\n            },\n            \"text\": \"Consistently high-value account ($1.17M); Hybrid Migration deal.\",\n            \"category\": \"Strategic Account\",\n            \"confidence\": 0.88\n          }\n        ],\n        \"metric_value\": 1173395,\n        \"percent_of_total\": 0.024\n      },\n      {\n        \"insights\": [\n          {\n            \"category\": \"Risk\",\n            \"supporting_data\": {\n              \"total_metric\": 1165595.5,\n              \"comparison_to_median\": 4.37\n            },\n            \"confidence\": 0.95,\n            \"text\": \"High value ($1.17M) at risk; $935k marked 'Closed Lost' this quarter.\"\n          }\n        ],\n        \"entity\": \"Mastercard\",\n        \"metric_value\": 1165595.5,\n        \"percent_of_total\": 0.024\n      },\n      {\n        \"entity\": \"Crowdstrike\",\n        \"insights\": [\n          {\n            \"category\": \"Partnership\",\n            \"text\": \"Strategic $1M upsell opportunity currently in early meeting stage.\",\n            \"confidence\": 0.7,\n            \"supporting_data\": {\n              \"total_metric\": 1000000,\n              \"comparison_to_median\": 3.75\n            }\n          }\n        ],\n        \"percent_of_total\": 0.021,\n        \"metric_value\": 1000000\n      },\n      {\n        \"entity\": \"Western Digital\",\n        \"percent_of_total\": 0.019,\n        \"insights\": [\n          {\n            \"supporting_data\": {\n              \"comparison_to_median\": 3.49,\n              \"total_metric\": 931300\n            },\n            \"category\": \"Loss\",\n            \"text\": \"Significant pipeline loss; $931k across two deals marked 'Closed Lost'.\",\n            \"confidence\": 0.95\n          }\n        ],\n        \"metric_value\": 931300\n      },\n      {\n        \"percent_of_total\": 0.02,\n        \"metric_value\": 948955,\n        \"entity\": \"Salesforce\",\n        \"insights\": [\n          {\n            \"confidence\": 0.8,\n            \"supporting_data\": {\n              \"total_metric\": 948955,\n              \"comparison_to_median\": 3.56\n            },\n            \"category\": \"Expansion\",\n            \"text\": \"Expansion opportunity ($949k) for SIEM Migration.\"\n          }\n        ]\n      }\n    ]\n  },\n  \"inter_quarter_comparison\": {\n    \"overall_delta_summary\": \"The pipeline composition has shifted dramatically. The previous quarter's leaders (WF, CDK Global, Elevance) have been replaced by new major opportunities in Financials (RBC) and Tech (Dell). Dell represents a successful 'Close Won' realization, while RBC represents fresh high-value pipeline. There is high volatility in the Top 10, suggesting a project-based rather than run-rate business model for large accounts.\",\n    \"major_changes\": [\n      {\n        \"category\": \"New Pipeline\",\n        \"absolute_change\": 3135000,\n        \"current_metric\": 3135000,\n        \"insight\": \"Account surged from $0 to $3.1M, becoming the top pipeline contributor.\",\n        \"supporting_data\": {\n          \"rank_shift\": 100\n        },\n        \"percent_change\": null,\n        \"confidence\": 0.9,\n        \"previous_metric\": 0,\n        \"dimension\": \"Royal Bank of Canada\"\n      },\n      {\n        \"percent_change\": null,\n        \"previous_metric\": 0,\n        \"supporting_data\": {\n          \"rank_shift\": 90\n        },\n        \"current_metric\": 2563289,\n        \"dimension\": \"Dell Computer Corp.\",\n        \"category\": \"Revenue Growth\",\n        \"confidence\": 0.95,\n        \"absolute_change\": 2563289,\n        \"insight\": \"Major conversion event; $2.56M closed this quarter (absent in previous top tier).\"\n      },\n      {\n        \"previous_metric\": 2068920,\n        \"supporting_data\": {\n          \"rank_shift\": -10\n        },\n        \"percent_change\": -1,\n        \"dimension\": \"WF - CSO - CDP\",\n        \"insight\": \"Previous top account ($2.07M) dropped from list (likely closed or naming convention change to 'Wells Fargo').\",\n        \"confidence\": 0.85,\n        \"category\": \"Pipeline Drop\",\n        \"absolute_change\": -2068920,\n        \"current_metric\": 0\n      },\n      {\n        \"category\": \"Stability\",\n        \"dimension\": \"Mastercard\",\n        \"absolute_change\": -184403,\n        \"confidence\": 0.85,\n        \"percent_change\": -0.13,\n        \"current_metric\": 1165596,\n        \"insight\": \"Consistent high-value activity (~$1.2M), though shifting from Upsell to Renewal/Loss mix.\",\n        \"supporting_data\": {\n          \"rank_shift\": 5\n        },\n        \"previous_metric\": 1349999\n      },\n      {\n        \"category\": \"Risk\",\n        \"confidence\": 0.8,\n        \"previous_metric\": 1227441,\n        \"current_metric\": 1173395,\n        \"absolute_change\": 223395,\n        \"insight\": \"Elevance Health dropped from Top 5 ($1.2M) in previous quarter to <$1M or removed in current.\",\n        \"supporting_data\": {\n          \"rank_shift\": -5\n        },\n        \"dimension\": \"Elevance Health\",\n        \"percent_change\": -1\n      }\n    ],\n    \"confidence_overall\": 0.88\n  },\n  \"data_quality\": {\n    \"issues_found\": [\n      \"Masked data detected: Opportunity Name '*******' in multiple records.\",\n      \"Inconsistent naming: 'WF - CSO - CDP' (Previous) vs 'Wells Fargo and Co.' (Current).\",\n      \"High variance in 'Close Date', mixing historical actuals with future forecasts.\"\n    ],\n    \"completeness_score\": 0.92\n  },\n  \"previous_quarter_analysis\": {\n    \"overall_notes\": \"Dataset contains masked opportunity names ('*******'). 'WF - CSO - CDP' likely refers to Wells Fargo.\",\n    \"top_entities\": [\n      {\n        \"percent_of_total\": 0.048,\n        \"metric_value\": 2068920,\n        \"insights\": [\n          {\n            \"text\": \"Dominant account with $2M+ split between closed renewal and open upsell.\",\n            \"supporting_data\": {\n              \"comparison_to_median\": 7.26,\n              \"total_metric\": 2068920\n            },\n            \"category\": \"Top Performer\",\n            \"confidence\": 0.9\n          }\n        ],\n        \"entity\": \"WF - CSO - CDP\"\n      },\n      {\n        \"metric_value\": 1349999.96,\n        \"entity\": \"Mastercard\",\n        \"insights\": [\n          {\n            \"text\": \"Strong upsell activity across PCF and Business Operations ($1.35M).\",\n            \"confidence\": 0.88,\n            \"category\": \"Strategic Growth\",\n            \"supporting_data\": {\n              \"comparison_to_median\": 4.74,\n              \"total_metric\": 1349999.96\n            }\n          }\n        ],\n        \"percent_of_total\": 0.031\n      },\n      {\n        \"percent_of_total\": 0.028,\n        \"insights\": [\n          {\n            \"category\": \"Cloud Migration\",\n            \"supporting_data\": {\n              \"total_metric\": 1227441.45,\n              \"comparison_to_median\": 4.31\n            },\n            \"text\": \"Major Cloud Migration and AI-CSOC initiatives totaling $1.2M.\",\n            \"confidence\": 0.85\n          }\n        ],\n        \"metric_value\": 1227441.45,\n        \"entity\": \"Elevance Health\"\n      },\n      {\n        \"percent_of_total\": 0.028,\n        \"metric_value\": 1226386.37,\n        \"entity\": \"CDK Global\",\n        \"insights\": [\n          {\n            \"confidence\": 0.9,\n            \"category\": \"Retention\",\n            \"supporting_data\": {\n              \"total_metric\": 1226386.37,\n              \"comparison_to_median\": 4.3\n            },\n            \"text\": \"Critical renewal ($1M) secured plus upsell opportunities.\"\n          }\n        ]\n      },\n      {\n        \"insights\": [\n          {\n            \"supporting_data\": {\n              \"comparison_to_median\": 4.15,\n              \"total_metric\": 1184000\n            },\n            \"confidence\": 0.8,\n            \"text\": \"Cyber expansion and AI Deeptemp land driving $1.18M pipeline.\",\n            \"category\": \"AI Adoption\"\n          }\n        ],\n        \"metric_value\": 1184000,\n        \"percent_of_total\": 0.027,\n        \"entity\": \"Verizon\"\n      },\n      {\n        \"entity\": \"DIA - CIO4\",\n        \"insights\": [\n          {\n            \"supporting_data\": {\n              \"comparison_to_median\": 3.51,\n              \"total_metric\": 1000000\n            },\n            \"category\": \"Federal\",\n            \"text\": \"Significant $1M federal search opportunity.\",\n            \"confidence\": 0.85\n          }\n        ],\n        \"percent_of_total\": 0.023,\n        \"metric_value\": 1000000\n      },\n      {\n        \"insights\": [\n          {\n            \"confidence\": 0.85,\n            \"supporting_data\": {\n              \"total_metric\": 1000000,\n              \"comparison_to_median\": 3.51\n            },\n            \"text\": \"$1M federal opportunity for Search-on-prem.\",\n            \"category\": \"Federal\"\n          }\n        ],\n        \"entity\": \"NGA - Caci - TCS\",\n        \"percent_of_total\": 0.023,\n        \"metric_value\": 1000000\n      },\n      {\n        \"metric_value\": 951157.09,\n        \"percent_of_total\": 0.022,\n        \"entity\": \"Rocket Companies, Inc.\",\n        \"insights\": [\n          {\n            \"text\": \"Large $951k renewal successfully closed.\",\n            \"supporting_data\": {\n              \"comparison_to_median\": 3.34,\n              \"total_metric\": 951157.09\n            },\n            \"confidence\": 0.95,\n            \"category\": \"Renewal\"\n          }\n        ]\n      },\n      {\n        \"percent_of_total\": 0.022,\n        \"metric_value\": 950000,\n        \"insights\": [\n          {\n            \"confidence\": 0.75,\n            \"text\": \"New 20TB Security deal ($950k) in visible pipeline.\",\n            \"supporting_data\": {\n              \"total_metric\": 950000,\n              \"comparison_to_median\": 3.33\n            },\n            \"category\": \"New Business\"\n          }\n        ],\n        \"entity\": \"Humana\"\n      },\n      {\n        \"insights\": [\n          {\n            \"supporting_data\": {\n              \"total_metric\": 950000,\n              \"comparison_to_median\": 3.33\n            },\n            \"category\": \"Upsell\",\n            \"text\": \"Cloud/Observability landing deal worth $950k.\",\n            \"confidence\": 0.8\n          }\n        ],\n        \"entity\": \"Salesforce\",\n        \"metric_value\": 950000,\n        \"percent_of_total\": 0.022\n      }\n    ]\n  }\n}\n```","height":2688,"width":1472},"type":"n8n-nodes-base.stickyNote","position":[4816,-448],"typeVersion":1,"id":"106c33c3-8eb0-439e-8fb6-f9db93946758","name":"Sticky Note2"},{"parameters":{"promptType":"define","text":"=<task>\nAnalyze the following query results from Omni Analytics and identify patterns, trends, and key insights.\n\nProvide your analysis in structured JSON format with the following structure:\n{\n  \"insights\": [\n    {\n      \"category\": \"trend\" | \"pattern\" | \"anomaly\" | \"summary\",\n      \"title\": \"Brief title of the insight\",\n      \"description\": \"Detailed description of what was found\",\n      \"confidence\": \"high\" | \"medium\" | \"low\",\n      \"supporting_data\": [\"key data points that support this insight\"]\n    }\n  ],\n  \"summary\": \"Overall summary of the analysis\",\n  \"recommendations\": [\"actionable recommendations based on the patterns\"]\n}\n</task>\n\n<query_results>\n{{ $json.data.toJsonString() }}\n</query_results>\n\n","hasOutputParser":true,"options":{"systemMessage":"You are an expert data analyst specializing in pattern detection and business intelligence. You analyze query results to identify trends, patterns, anomalies, and actionable insights. You provide clear, concise analysis in structured JSON format."}},"id":"80013daa-5d57-4bd1-bff1-b8c7ff547070","name":"OLD Pattern Detection Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[2784,-384],"disabled":true},{"parameters":{"content":"## OpenAI Analysis\n```\n{\n  \"current_quarter_analysis\": {\n    \"top_entities\": [\n      {\n        \"entity\": \"CVS Health / Aetna\",\n        \"metric_value\": 2126250,\n        \"percent_of_total\": 15.26,\n        \"insights\": [\n          {\n            \"text\": \"Largest single opportunity in the current quarter (New Arr = 2,126,250) — single account contributes materially to top-10 concentration.\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.85,\n            \"supporting_data\": {\n              \"total_metric\": 13938511.24,\n              \"comparison_to_median\": 808250\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Royal Bank of Canada\",\n        \"metric_value\": 1767000,\n        \"percent_of_total\": 12.68,\n        \"insights\": [\n          {\n            \"text\": \"Second-largest opportunity (1,767,000); note there are two large RBC opportunities in the quarter (this + 1,368,000).\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.8,\n            \"supporting_data\": {\n              \"total_metric\": 13938511.24,\n              \"comparison_to_median\": 449000\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Leidos\",\n        \"metric_value\": 1710830.88,\n        \"percent_of_total\": 12.28,\n        \"insights\": [\n          {\n            \"text\": \"Top-3 opportunity at 1,710,830.88 — part of a cluster of >1.6M deals increasing top-end concentration.\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.78,\n            \"supporting_data\": {\n              \"total_metric\": 13938511.24,\n              \"comparison_to_median\": 392830.88\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Dell Computer Corp.\",\n        \"metric_value\": 1640484.86,\n        \"percent_of_total\": 11.77,\n        \"insights\": [\n          {\n            \"text\": \"Large closed-won/upside Dell opportunity at 1,640,484.86; contributes to a top-heavy pipeline.\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.77,\n            \"supporting_data\": {\n              \"total_metric\": 13938511.24,\n              \"comparison_to_median\": 322484.86\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Royal Bank of Canada (Phase I)\",\n        \"metric_value\": 1368000,\n        \"percent_of_total\": 9.82,\n        \"insights\": [\n          {\n            \"text\": \"Second RBC entry (1,368,000) — account concentration risk if both convert or both fail.\",\n            \"category\": \"Risk\",\n            \"confidence\": 0.78,\n            \"supporting_data\": {\n              \"total_metric\": 13938511.24,\n              \"comparison_to_median\": 50000\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Truist Financial Corp.\",\n        \"metric_value\": 1268000,\n        \"percent_of_total\": 9.1,\n        \"insights\": [\n          {\n            \"text\": \"Truist at 1,268,000 — another >1M opportunity, reinforces top-end skew.\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.75,\n            \"supporting_data\": {\n              \"total_metric\": 13938511.24,\n              \"comparison_to_median\": -50000\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Verizon\",\n        \"metric_value\": 1173395,\n        \"percent_of_total\": 8.42,\n        \"insights\": [\n          {\n            \"text\": \"Verizon opportunity of 1,173,395 sits in top-10 and is similar in magnitude to its previous-quarter aggregate (see inter-quarter comparison).\",\n            \"category\": \"Operational\",\n            \"confidence\": 0.82,\n            \"supporting_data\": {\n              \"total_metric\": 13938511.24,\n              \"comparison_to_median\": -144605\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Crowdstrike\",\n        \"metric_value\": 1000000,\n        \"percent_of_total\": 7.18,\n        \"insights\": [\n          {\n            \"text\": \"Net-new or upsell Crowdstrike opportunity at 1,000,000 — notable single-opportunity but closed/won status blank.\",\n            \"category\": \"Anomaly\",\n            \"confidence\": 0.7,\n            \"supporting_data\": {\n              \"total_metric\": 13938511.24,\n              \"comparison_to_median\": -318000\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Salesforce\",\n        \"metric_value\": 948955,\n        \"percent_of_total\": 6.81,\n        \"insights\": [\n          {\n            \"text\": \"Salesforce opportunity 948,955 — comparable in size to previous quarter (950,000); pipeline stability for this account.\",\n            \"category\": \"Operational\",\n            \"confidence\": 0.85,\n            \"supporting_data\": {\n              \"total_metric\": 13938511.24,\n              \"comparison_to_median\": -369045\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Mastercard\",\n        \"metric_value\": 935595.5,\n        \"percent_of_total\": 6.71,\n        \"insights\": [\n          {\n            \"text\": \"Mastercard top opportunity 935,595.5 — note additional Mastercard entries exist (other 230,000), indicating multiple parallel deals.\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.74,\n            \"supporting_data\": {\n              \"total_metric\": 13938511.24,\n              \"comparison_to_median\": -382404.5\n            }\n          }\n        ]\n      }\n    ],\n    \"overall_notes\": \"Top-10 percent_of_total is computed relative to the top-10 sum (13,938,511.24). I did not compute full-quarter aggregate for all records to avoid aggregation errors from many duplicate account opportunities. Data shows a top-heavy pipeline (multiple >1M deals) and duplicate large opportunities for some accounts (Royal Bank of Canada, Mastercard). Several records have empty forecast values and mixed stage statuses (closed won/lost alongside strong upside), which reduces conversion certainty.\"\n  },\n  \"previous_quarter_analysis\": {\n    \"top_entities\": [\n      {\n        \"entity\": \"WF - CSO - CDP\",\n        \"metric_value\": 1068920,\n        \"percent_of_total\": 11.4,\n        \"insights\": [\n          {\n            \"text\": \"Largest recorded opportunity in previous quarter (1,068,920).\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.82,\n            \"supporting_data\": {\n              \"total_metric\": 9376712.97,\n              \"comparison_to_median\": 93341.46\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"CDK Global\",\n        \"metric_value\": 1009194.43,\n        \"percent_of_total\": 10.76,\n        \"insights\": [\n          {\n            \"text\": \"CDK Global at ~1.0M — material prior-quarter opportunity.\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.8,\n            \"supporting_data\": {\n              \"total_metric\": 9376712.97,\n              \"comparison_to_median\": 33615.89\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"WF - CSO - CDP (upsell)\",\n        \"metric_value\": 1000000,\n        \"percent_of_total\": 10.66,\n        \"insights\": [\n          {\n            \"text\": \"Second WF - CSO record (1,000,000) — duplicate account/opportunity names indicate aggregation risk.\",\n            \"category\": \"Anomaly\",\n            \"confidence\": 0.7,\n            \"supporting_data\": {\n              \"total_metric\": 9376712.97,\n              \"comparison_to_median\": 24421.46\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"DIA - CIO4\",\n        \"metric_value\": 1000000,\n        \"percent_of_total\": 10.66,\n        \"insights\": [\n          {\n            \"text\": \"DIA CIO4 (1,000,000) — large public-sector opportunity in previous quarter.\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.75,\n            \"supporting_data\": {\n              \"total_metric\": 9376712.97,\n              \"comparison_to_median\": 24421.46\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"NGA - Caci - TCS\",\n        \"metric_value\": 1000000,\n        \"percent_of_total\": 10.66,\n        \"insights\": [\n          {\n            \"text\": \"NGA-related 1,000,000 opportunity — contributes to prior-quarter top-end concentration.\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.75,\n            \"supporting_data\": {\n              \"total_metric\": 9376712.97,\n              \"comparison_to_median\": 24421.46\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Rocket Companies, Inc.\",\n        \"metric_value\": 951157.09,\n        \"percent_of_total\": 10.15,\n        \"insights\": [\n          {\n            \"text\": \"Rocket Companies at 951,157.09 — in prior quarter top-10.\",\n            \"category\": \"Operational\",\n            \"confidence\": 0.76,\n            \"supporting_data\": {\n              \"total_metric\": 9376712.97,\n              \"comparison_to_median\": -24421.46\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Humana\",\n        \"metric_value\": 950000,\n        \"percent_of_total\": 10.14,\n        \"insights\": [\n          {\n            \"text\": \"Humana recorded 950,000 prior quarter; sizable but below earlier 1M clusters.\",\n            \"category\": \"Operational\",\n            \"confidence\": 0.74,\n            \"supporting_data\": {\n              \"total_metric\": 9376712.97,\n              \"comparison_to_median\": -25578.55\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Salesforce\",\n        \"metric_value\": 950000,\n        \"percent_of_total\": 10.14,\n        \"insights\": [\n          {\n            \"text\": \"Salesforce prior-quarter 950,000 — consistent with current-quarter opportunity (948,955).\",\n            \"category\": \"Stability\",\n            \"confidence\": 0.86,\n            \"supporting_data\": {\n              \"total_metric\": 9376712.97,\n              \"comparison_to_median\": -25578.55\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Elevance Health\",\n        \"metric_value\": 727441.45,\n        \"percent_of_total\": 7.75,\n        \"insights\": [\n          {\n            \"text\": \"Elevance Health at 727,441.45 — a mid-size prior-quarter opportunity.\",\n            \"category\": \"Operational\",\n            \"confidence\": 0.72,\n            \"supporting_data\": {\n              \"total_metric\": 9376712.97,\n              \"comparison_to_median\": -248137.09\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"DOD - Army Cyber Command (Arcyber)\",\n        \"metric_value\": 720000,\n        \"percent_of_total\": 7.67,\n        \"insights\": [\n          {\n            \"text\": \"DOD Army Cyber Command 720,000 — sizable public-sector prior quarter deal.\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.72,\n            \"supporting_data\": {\n              \"total_metric\": 9376712.97,\n              \"comparison_to_median\": -255578.55\n            }\n          }\n        ]\n      }\n    ],\n    \"overall_notes\": \"Previous-quarter top-10 sum = 9,376,712.97 (used for percent_of_total). Multiple ~1.0M opportunities exist and some duplicate account/opportunity entries (WF - CSO appears multiple times). Dataset contains many mid-size deals; aggregation by account would change deltas materially.\"\n  },\n  \"inter_quarter_comparison\": {\n    \"major_changes\": [\n      {\n        \"dimension\": \"verizon\",\n        \"current_metric\": 1173395,\n        \"previous_metric\": 1184000,\n        \"absolute_change\": -10605,\n        \"percent_change\": -0.9,\n        \"insight\": \"Verizon aggregate is effectively flat quarter-over-quarter (-0.9%); rank improved slightly into current quarter top-10 (from previous rank 9 to current rank 7).\",\n        \"category\": \"Stability\",\n        \"confidence\": 0.86,\n        \"supporting_data\": {\n          \"rank_shift\": 2\n        }\n      },\n      {\n        \"dimension\": \"salesforce\",\n        \"current_metric\": 948955,\n        \"previous_metric\": 950000,\n        \"absolute_change\": -1045,\n        \"percent_change\": -0.11,\n        \"insight\": \"Salesforce shows near-zero change (-0.11%), indicating a stable ongoing opportunity across quarters.\",\n        \"category\": \"Stability\",\n        \"confidence\": 0.88,\n        \"supporting_data\": {\n          \"rank_shift\": -1\n        }\n      },\n      {\n        \"dimension\": \"teleperformance group\",\n        \"current_metric\": 336394.8,\n        \"previous_metric\": 600501.1,\n        \"absolute_change\": -264106.3,\n        \"percent_change\": -44.02,\n        \"insight\": \"Teleperformance aggregate declined sharply (-44%). Possible causes: prior-quarter included a large renewal/renewal+upsell (600,501.1) that is absent or materially reduced in current-quarter records.\",\n        \"category\": \"Decline\",\n        \"confidence\": 0.78,\n        \"supporting_data\": {\n          \"rank_shift\": 0\n        }\n      },\n      {\n        \"dimension\": \"mastercard\",\n        \"current_metric\": 1165595.5,\n        \"previous_metric\": 1349999.96,\n        \"absolute_change\": -184404.46,\n        \"percent_change\": -13.66,\n        \"insight\": \"Mastercard aggregate decreased (~13.7%). Prior-quarter included multiple sizeable entries (PCF expansion and others) that together were larger than current quarter's combined opportunities.\",\n        \"category\": \"Decline\",\n        \"confidence\": 0.77,\n        \"supporting_data\": {\n          \"rank_shift\": 0\n        }\n      },\n      {\n        \"dimension\": \"kkr and co.\",\n        \"current_metric\": 209709.05,\n        \"previous_metric\": 236550,\n        \"absolute_change\": -26840.95,\n        \"percent_change\": -11.36,\n        \"insight\": \"KKR shows a moderate reduction (-11%). Both quarters contain KKR entries but current-quarter opportunity is smaller.\",\n        \"category\": \"Decline\",\n        \"confidence\": 0.72,\n        \"supporting_data\": {\n          \"rank_shift\": 0\n        }\n      },\n      {\n        \"dimension\": \"united services automobile association (usaa)\",\n        \"current_metric\": 427000,\n        \"previous_metric\": 447000,\n        \"absolute_change\": -20000,\n        \"percent_change\": -4.47,\n        \"insight\": \"USAA shows a small decline (-4.47%); magnitude small relative to top-10 concentration.\",\n        \"category\": \"Operational\",\n        \"confidence\": 0.8,\n        \"supporting_data\": {\n          \"rank_shift\": 0\n        }\n      }\n    ],\n    \"overall_delta_summary\": \"Comparing top lists: top-10 sum increased from 9,376,712.97 (previous) to 13,938,511.24 (current) — a +48.66% rise. That increase is driven mainly by large new entries (e.g., CVS 2.126M, Dell 1.64M, Leidos 1.71M, RBC 1.77M) that were not present in previous-quarter top-10. Among accounts present in both datasets, most observable movements are decreases (Teleperformance, Mastercard, KKR); a few (Verizon, Salesforce) are effectively stable. Hypothesis: current-quarter pipeline is more top-heavy with large new opportunities rather than growth from prior-quarter incumbents.\",\n    \"confidence_overall\": 0.74\n  },\n  \"data_quality\": {\n    \"completeness_score\": 0.7,\n    \"issues_found\": [\n      \"Dataset provided as nested arrays; I used only the inner arrays of records — confirm no additional arrays hidden.\",\n      \"Multiple records per account (same 'Account Name') require clarification if comparison should be by-account (sum) or by-opportunity (as given). I aggregated by account for inter-quarter comparison where clear, but aggregation may miss opportunity-level differences.\",\n      \"Several records have empty forecast or stage fields (missing values) which reduces conversion confidence.\",\n      \"Percent_of_total values are computed relative to top-10 sums (not full-quarter totals) to avoid aggregation errors across many entries. Full-quarter aggregation was not performed to avoid incorrect consolidation of duplicate accounts.\",\n      \"Close dates span 2025–2027 and include future dates; confirm intended fiscal alignment before using for timing analysis.\"\n    ]\n  }\n}\n```","height":528,"width":640},"type":"n8n-nodes-base.stickyNote","position":[4864,-1008],"typeVersion":1,"id":"1986dca9-4c70-48f3-a0b7-cdcdd97f1578","name":"Sticky Note3"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"gemini_analysis\": {\n  \"current_quarter_analysis\": {\n    \"overall_notes\": \"Data represents a pipeline snapshot with mixed stages (Closed Won, Closing, Closed Lost). Dates range into FY26/27, indicating forward-looking pipeline. Account naming inconsistencies detected (e.g., 'WF' vs 'Wells Fargo').\",\n    \"top_entities\": [\n      {\n        \"percent_of_total\": 0.065,\n        \"metric_value\": 3135000,\n        \"entity\": \"Royal Bank of Canada\",\n        \"insights\": [\n          {\n            \"category\": \"Growth Driver\",\n            \"supporting_data\": {\n              \"comparison_to_median\": 11.75,\n              \"total_metric\": 3135000\n            },\n            \"confidence\": 0.85,\n            \"text\": \"Top pipeline contributor with $3.1M across 2 deals; primarily in 'Closing' or 'Visible' stages.\"\n          }\n        ]\n      },\n      {\n        \"insights\": [\n          {\n            \"text\": \"Significant realized revenue; $2.56M fully marked as 'Closed Won' this quarter.\",\n            \"supporting_data\": {\n              \"comparison_to_median\": 9.6,\n              \"total_metric\": 2563289.3\n            },\n            \"category\": \"Revenue Realization\",\n            \"confidence\": 0.99\n          }\n        ],\n        \"percent_of_total\": 0.053,\n        \"metric_value\": 2563289.3,\n        \"entity\": \"Dell Computer Corp.\"\n      },\n      {\n        \"percent_of_total\": 0.044,\n        \"entity\": \"CVS Health / Aetna\",\n        \"metric_value\": 2126250,\n        \"insights\": [\n          {\n            \"supporting_data\": {\n              \"total_metric\": 2126250,\n              \"comparison_to_median\": 7.97\n            },\n            \"confidence\": 0.9,\n            \"category\": \"Major Opportunity\",\n            \"text\": \"Largest single active opportunity ($2.1M) currently in 'Tech Close'.\"\n          }\n        ]\n      },\n      {\n        \"entity\": \"Leidos\",\n        \"metric_value\": 1710830.88,\n        \"insights\": [\n          {\n            \"text\": \"Strong upsell motion ($1.7M) driven by Fedramp Cloud Migration.\",\n            \"category\": \"Upsell\",\n            \"confidence\": 0.8,\n            \"supporting_data\": {\n              \"comparison_to_median\": 6.41,\n              \"total_metric\": 1710830.88\n            }\n          }\n        ],\n        \"percent_of_total\": 0.035\n      },\n      {\n        \"insights\": [\n          {\n            \"category\": \"Pipeline\",\n            \"supporting_data\": {\n              \"comparison_to_median\": 4.75,\n              \"total_metric\": 1268000\n            },\n            \"text\": \"New logo security deal ($1.27M) in early visibility stage.\",\n            \"confidence\": 0.75\n          }\n        ],\n        \"entity\": \"Truist Financial Corp.\",\n        \"metric_value\": 1268000,\n        \"percent_of_total\": 0.026\n      },\n      {\n        \"entity\": \"Verizon\",\n        \"insights\": [\n          {\n            \"supporting_data\": {\n              \"comparison_to_median\": 4.4,\n              \"total_metric\": 1173395\n            },\n            \"text\": \"Consistently high-value account ($1.17M); Hybrid Migration deal.\",\n            \"category\": \"Strategic Account\",\n            \"confidence\": 0.88\n          }\n        ],\n        \"metric_value\": 1173395,\n        \"percent_of_total\": 0.024\n      },\n      {\n        \"insights\": [\n          {\n            \"category\": \"Risk\",\n            \"supporting_data\": {\n              \"total_metric\": 1165595.5,\n              \"comparison_to_median\": 4.37\n            },\n            \"confidence\": 0.95,\n            \"text\": \"High value ($1.17M) at risk; $935k marked 'Closed Lost' this quarter.\"\n          }\n        ],\n        \"entity\": \"Mastercard\",\n        \"metric_value\": 1165595.5,\n        \"percent_of_total\": 0.024\n      },\n      {\n        \"entity\": \"Crowdstrike\",\n        \"insights\": [\n          {\n            \"category\": \"Partnership\",\n            \"text\": \"Strategic $1M upsell opportunity currently in early meeting stage.\",\n            \"confidence\": 0.7,\n            \"supporting_data\": {\n              \"total_metric\": 1000000,\n              \"comparison_to_median\": 3.75\n            }\n          }\n        ],\n        \"percent_of_total\": 0.021,\n        \"metric_value\": 1000000\n      },\n      {\n        \"entity\": \"Western Digital\",\n        \"percent_of_total\": 0.019,\n        \"insights\": [\n          {\n            \"supporting_data\": {\n              \"comparison_to_median\": 3.49,\n              \"total_metric\": 931300\n            },\n            \"category\": \"Loss\",\n            \"text\": \"Significant pipeline loss; $931k across two deals marked 'Closed Lost'.\",\n            \"confidence\": 0.95\n          }\n        ],\n        \"metric_value\": 931300\n      },\n      {\n        \"percent_of_total\": 0.02,\n        \"metric_value\": 948955,\n        \"entity\": \"Salesforce\",\n        \"insights\": [\n          {\n            \"confidence\": 0.8,\n            \"supporting_data\": {\n              \"total_metric\": 948955,\n              \"comparison_to_median\": 3.56\n            },\n            \"category\": \"Expansion\",\n            \"text\": \"Expansion opportunity ($949k) for SIEM Migration.\"\n          }\n        ]\n      }\n    ]\n  },\n  \"inter_quarter_comparison\": {\n    \"overall_delta_summary\": \"The pipeline composition has shifted dramatically. The previous quarter's leaders (WF, CDK Global, Elevance) have been replaced by new major opportunities in Financials (RBC) and Tech (Dell). Dell represents a successful 'Close Won' realization, while RBC represents fresh high-value pipeline. There is high volatility in the Top 10, suggesting a project-based rather than run-rate business model for large accounts.\",\n    \"major_changes\": [\n      {\n        \"category\": \"New Pipeline\",\n        \"absolute_change\": 3135000,\n        \"current_metric\": 3135000,\n        \"insight\": \"Account surged from $0 to $3.1M, becoming the top pipeline contributor.\",\n        \"supporting_data\": {\n          \"rank_shift\": 100\n        },\n        \"percent_change\": null,\n        \"confidence\": 0.9,\n        \"previous_metric\": 0,\n        \"dimension\": \"Royal Bank of Canada\"\n      },\n      {\n        \"percent_change\": null,\n        \"previous_metric\": 0,\n        \"supporting_data\": {\n          \"rank_shift\": 90\n        },\n        \"current_metric\": 2563289,\n        \"dimension\": \"Dell Computer Corp.\",\n        \"category\": \"Revenue Growth\",\n        \"confidence\": 0.95,\n        \"absolute_change\": 2563289,\n        \"insight\": \"Major conversion event; $2.56M closed this quarter (absent in previous top tier).\"\n      },\n      {\n        \"previous_metric\": 2068920,\n        \"supporting_data\": {\n          \"rank_shift\": -10\n        },\n        \"percent_change\": -1,\n        \"dimension\": \"WF - CSO - CDP\",\n        \"insight\": \"Previous top account ($2.07M) dropped from list (likely closed or naming convention change to 'Wells Fargo').\",\n        \"confidence\": 0.85,\n        \"category\": \"Pipeline Drop\",\n        \"absolute_change\": -2068920,\n        \"current_metric\": 0\n      },\n      {\n        \"category\": \"Stability\",\n        \"dimension\": \"Mastercard\",\n        \"absolute_change\": -184403,\n        \"confidence\": 0.85,\n        \"percent_change\": -0.13,\n        \"current_metric\": 1165596,\n        \"insight\": \"Consistent high-value activity (~$1.2M), though shifting from Upsell to Renewal/Loss mix.\",\n        \"supporting_data\": {\n          \"rank_shift\": 5\n        },\n        \"previous_metric\": 1349999\n      },\n      {\n        \"category\": \"Risk\",\n        \"confidence\": 0.8,\n        \"previous_metric\": 1227441,\n        \"current_metric\": 1173395,\n        \"absolute_change\": 223395,\n        \"insight\": \"Elevance Health dropped from Top 5 ($1.2M) in previous quarter to <$1M or removed in current.\",\n        \"supporting_data\": {\n          \"rank_shift\": -5\n        },\n        \"dimension\": \"Elevance Health\",\n        \"percent_change\": -1\n      }\n    ],\n    \"confidence_overall\": 0.88\n  },\n  \"data_quality\": {\n    \"issues_found\": [\n      \"Masked data detected: Opportunity Name '*******' in multiple records.\",\n      \"Inconsistent naming: 'WF - CSO - CDP' (Previous) vs 'Wells Fargo and Co.' (Current).\",\n      \"High variance in 'Close Date', mixing historical actuals with future forecasts.\"\n    ],\n    \"completeness_score\": 0.92\n  },\n  \"previous_quarter_analysis\": {\n    \"overall_notes\": \"Dataset contains masked opportunity names ('*******'). 'WF - CSO - CDP' likely refers to Wells Fargo.\",\n    \"top_entities\": [\n      {\n        \"percent_of_total\": 0.048,\n        \"metric_value\": 2068920,\n        \"insights\": [\n          {\n            \"text\": \"Dominant account with $2M+ split between closed renewal and open upsell.\",\n            \"supporting_data\": {\n              \"comparison_to_median\": 7.26,\n              \"total_metric\": 2068920\n            },\n            \"category\": \"Top Performer\",\n            \"confidence\": 0.9\n          }\n        ],\n        \"entity\": \"WF - CSO - CDP\"\n      },\n      {\n        \"metric_value\": 1349999.96,\n        \"entity\": \"Mastercard\",\n        \"insights\": [\n          {\n            \"text\": \"Strong upsell activity across PCF and Business Operations ($1.35M).\",\n            \"confidence\": 0.88,\n            \"category\": \"Strategic Growth\",\n            \"supporting_data\": {\n              \"comparison_to_median\": 4.74,\n              \"total_metric\": 1349999.96\n            }\n          }\n        ],\n        \"percent_of_total\": 0.031\n      },\n      {\n        \"percent_of_total\": 0.028,\n        \"insights\": [\n          {\n            \"category\": \"Cloud Migration\",\n            \"supporting_data\": {\n              \"total_metric\": 1227441.45,\n              \"comparison_to_median\": 4.31\n            },\n            \"text\": \"Major Cloud Migration and AI-CSOC initiatives totaling $1.2M.\",\n            \"confidence\": 0.85\n          }\n        ],\n        \"metric_value\": 1227441.45,\n        \"entity\": \"Elevance Health\"\n      },\n      {\n        \"percent_of_total\": 0.028,\n        \"metric_value\": 1226386.37,\n        \"entity\": \"CDK Global\",\n        \"insights\": [\n          {\n            \"confidence\": 0.9,\n            \"category\": \"Retention\",\n            \"supporting_data\": {\n              \"total_metric\": 1226386.37,\n              \"comparison_to_median\": 4.3\n            },\n            \"text\": \"Critical renewal ($1M) secured plus upsell opportunities.\"\n          }\n        ]\n      },\n      {\n        \"insights\": [\n          {\n            \"supporting_data\": {\n              \"comparison_to_median\": 4.15,\n              \"total_metric\": 1184000\n            },\n            \"confidence\": 0.8,\n            \"text\": \"Cyber expansion and AI Deeptemp land driving $1.18M pipeline.\",\n            \"category\": \"AI Adoption\"\n          }\n        ],\n        \"metric_value\": 1184000,\n        \"percent_of_total\": 0.027,\n        \"entity\": \"Verizon\"\n      },\n      {\n        \"entity\": \"DIA - CIO4\",\n        \"insights\": [\n          {\n            \"supporting_data\": {\n              \"comparison_to_median\": 3.51,\n              \"total_metric\": 1000000\n            },\n            \"category\": \"Federal\",\n            \"text\": \"Significant $1M federal search opportunity.\",\n            \"confidence\": 0.85\n          }\n        ],\n        \"percent_of_total\": 0.023,\n        \"metric_value\": 1000000\n      },\n      {\n        \"insights\": [\n          {\n            \"confidence\": 0.85,\n            \"supporting_data\": {\n              \"total_metric\": 1000000,\n              \"comparison_to_median\": 3.51\n            },\n            \"text\": \"$1M federal opportunity for Search-on-prem.\",\n            \"category\": \"Federal\"\n          }\n        ],\n        \"entity\": \"NGA - Caci - TCS\",\n        \"percent_of_total\": 0.023,\n        \"metric_value\": 1000000\n      },\n      {\n        \"metric_value\": 951157.09,\n        \"percent_of_total\": 0.022,\n        \"entity\": \"Rocket Companies, Inc.\",\n        \"insights\": [\n          {\n            \"text\": \"Large $951k renewal successfully closed.\",\n            \"supporting_data\": {\n              \"comparison_to_median\": 3.34,\n              \"total_metric\": 951157.09\n            },\n            \"confidence\": 0.95,\n            \"category\": \"Renewal\"\n          }\n        ]\n      },\n      {\n        \"percent_of_total\": 0.022,\n        \"metric_value\": 950000,\n        \"insights\": [\n          {\n            \"confidence\": 0.75,\n            \"text\": \"New 20TB Security deal ($950k) in visible pipeline.\",\n            \"supporting_data\": {\n              \"total_metric\": 950000,\n              \"comparison_to_median\": 3.33\n            },\n            \"category\": \"New Business\"\n          }\n        ],\n        \"entity\": \"Humana\"\n      },\n      {\n        \"insights\": [\n          {\n            \"supporting_data\": {\n              \"total_metric\": 950000,\n              \"comparison_to_median\": 3.33\n            },\n            \"category\": \"Upsell\",\n            \"text\": \"Cloud/Observability landing deal worth $950k.\",\n            \"confidence\": 0.8\n          }\n        ],\n        \"entity\": \"Salesforce\",\n        \"metric_value\": 950000,\n        \"percent_of_total\": 0.022\n      }\n    ]\n  }\n},\n  \"openai_analysis\": {\n  \"current_quarter_analysis\": {\n    \"top_entities\": [\n      {\n        \"entity\": \"CVS Health / Aetna\",\n        \"metric_value\": 2126250,\n        \"percent_of_total\": 15.26,\n        \"insights\": [\n          {\n            \"text\": \"Largest single opportunity in the current quarter (New Arr = 2,126,250) — single account contributes materially to top-10 concentration.\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.85,\n            \"supporting_data\": {\n              \"total_metric\": 13938511.24,\n              \"comparison_to_median\": 808250\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Royal Bank of Canada\",\n        \"metric_value\": 1767000,\n        \"percent_of_total\": 12.68,\n        \"insights\": [\n          {\n            \"text\": \"Second-largest opportunity (1,767,000); note there are two large RBC opportunities in the quarter (this + 1,368,000).\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.8,\n            \"supporting_data\": {\n              \"total_metric\": 13938511.24,\n              \"comparison_to_median\": 449000\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Leidos\",\n        \"metric_value\": 1710830.88,\n        \"percent_of_total\": 12.28,\n        \"insights\": [\n          {\n            \"text\": \"Top-3 opportunity at 1,710,830.88 — part of a cluster of >1.6M deals increasing top-end concentration.\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.78,\n            \"supporting_data\": {\n              \"total_metric\": 13938511.24,\n              \"comparison_to_median\": 392830.88\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Dell Computer Corp.\",\n        \"metric_value\": 1640484.86,\n        \"percent_of_total\": 11.77,\n        \"insights\": [\n          {\n            \"text\": \"Large closed-won/upside Dell opportunity at 1,640,484.86; contributes to a top-heavy pipeline.\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.77,\n            \"supporting_data\": {\n              \"total_metric\": 13938511.24,\n              \"comparison_to_median\": 322484.86\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Royal Bank of Canada (Phase I)\",\n        \"metric_value\": 1368000,\n        \"percent_of_total\": 9.82,\n        \"insights\": [\n          {\n            \"text\": \"Second RBC entry (1,368,000) — account concentration risk if both convert or both fail.\",\n            \"category\": \"Risk\",\n            \"confidence\": 0.78,\n            \"supporting_data\": {\n              \"total_metric\": 13938511.24,\n              \"comparison_to_median\": 50000\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Truist Financial Corp.\",\n        \"metric_value\": 1268000,\n        \"percent_of_total\": 9.1,\n        \"insights\": [\n          {\n            \"text\": \"Truist at 1,268,000 — another >1M opportunity, reinforces top-end skew.\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.75,\n            \"supporting_data\": {\n              \"total_metric\": 13938511.24,\n              \"comparison_to_median\": -50000\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Verizon\",\n        \"metric_value\": 1173395,\n        \"percent_of_total\": 8.42,\n        \"insights\": [\n          {\n            \"text\": \"Verizon opportunity of 1,173,395 sits in top-10 and is similar in magnitude to its previous-quarter aggregate (see inter-quarter comparison).\",\n            \"category\": \"Operational\",\n            \"confidence\": 0.82,\n            \"supporting_data\": {\n              \"total_metric\": 13938511.24,\n              \"comparison_to_median\": -144605\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Crowdstrike\",\n        \"metric_value\": 1000000,\n        \"percent_of_total\": 7.18,\n        \"insights\": [\n          {\n            \"text\": \"Net-new or upsell Crowdstrike opportunity at 1,000,000 — notable single-opportunity but closed/won status blank.\",\n            \"category\": \"Anomaly\",\n            \"confidence\": 0.7,\n            \"supporting_data\": {\n              \"total_metric\": 13938511.24,\n              \"comparison_to_median\": -318000\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Salesforce\",\n        \"metric_value\": 948955,\n        \"percent_of_total\": 6.81,\n        \"insights\": [\n          {\n            \"text\": \"Salesforce opportunity 948,955 — comparable in size to previous quarter (950,000); pipeline stability for this account.\",\n            \"category\": \"Operational\",\n            \"confidence\": 0.85,\n            \"supporting_data\": {\n              \"total_metric\": 13938511.24,\n              \"comparison_to_median\": -369045\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Mastercard\",\n        \"metric_value\": 935595.5,\n        \"percent_of_total\": 6.71,\n        \"insights\": [\n          {\n            \"text\": \"Mastercard top opportunity 935,595.5 — note additional Mastercard entries exist (other 230,000), indicating multiple parallel deals.\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.74,\n            \"supporting_data\": {\n              \"total_metric\": 13938511.24,\n              \"comparison_to_median\": -382404.5\n            }\n          }\n        ]\n      }\n    ],\n    \"overall_notes\": \"Top-10 percent_of_total is computed relative to the top-10 sum (13,938,511.24). I did not compute full-quarter aggregate for all records to avoid aggregation errors from many duplicate account opportunities. Data shows a top-heavy pipeline (multiple >1M deals) and duplicate large opportunities for some accounts (Royal Bank of Canada, Mastercard). Several records have empty forecast values and mixed stage statuses (closed won/lost alongside strong upside), which reduces conversion certainty.\"\n  },\n  \"previous_quarter_analysis\": {\n    \"top_entities\": [\n      {\n        \"entity\": \"WF - CSO - CDP\",\n        \"metric_value\": 1068920,\n        \"percent_of_total\": 11.4,\n        \"insights\": [\n          {\n            \"text\": \"Largest recorded opportunity in previous quarter (1,068,920).\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.82,\n            \"supporting_data\": {\n              \"total_metric\": 9376712.97,\n              \"comparison_to_median\": 93341.46\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"CDK Global\",\n        \"metric_value\": 1009194.43,\n        \"percent_of_total\": 10.76,\n        \"insights\": [\n          {\n            \"text\": \"CDK Global at ~1.0M — material prior-quarter opportunity.\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.8,\n            \"supporting_data\": {\n              \"total_metric\": 9376712.97,\n              \"comparison_to_median\": 33615.89\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"WF - CSO - CDP (upsell)\",\n        \"metric_value\": 1000000,\n        \"percent_of_total\": 10.66,\n        \"insights\": [\n          {\n            \"text\": \"Second WF - CSO record (1,000,000) — duplicate account/opportunity names indicate aggregation risk.\",\n            \"category\": \"Anomaly\",\n            \"confidence\": 0.7,\n            \"supporting_data\": {\n              \"total_metric\": 9376712.97,\n              \"comparison_to_median\": 24421.46\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"DIA - CIO4\",\n        \"metric_value\": 1000000,\n        \"percent_of_total\": 10.66,\n        \"insights\": [\n          {\n            \"text\": \"DIA CIO4 (1,000,000) — large public-sector opportunity in previous quarter.\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.75,\n            \"supporting_data\": {\n              \"total_metric\": 9376712.97,\n              \"comparison_to_median\": 24421.46\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"NGA - Caci - TCS\",\n        \"metric_value\": 1000000,\n        \"percent_of_total\": 10.66,\n        \"insights\": [\n          {\n            \"text\": \"NGA-related 1,000,000 opportunity — contributes to prior-quarter top-end concentration.\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.75,\n            \"supporting_data\": {\n              \"total_metric\": 9376712.97,\n              \"comparison_to_median\": 24421.46\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Rocket Companies, Inc.\",\n        \"metric_value\": 951157.09,\n        \"percent_of_total\": 10.15,\n        \"insights\": [\n          {\n            \"text\": \"Rocket Companies at 951,157.09 — in prior quarter top-10.\",\n            \"category\": \"Operational\",\n            \"confidence\": 0.76,\n            \"supporting_data\": {\n              \"total_metric\": 9376712.97,\n              \"comparison_to_median\": -24421.46\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Humana\",\n        \"metric_value\": 950000,\n        \"percent_of_total\": 10.14,\n        \"insights\": [\n          {\n            \"text\": \"Humana recorded 950,000 prior quarter; sizable but below earlier 1M clusters.\",\n            \"category\": \"Operational\",\n            \"confidence\": 0.74,\n            \"supporting_data\": {\n              \"total_metric\": 9376712.97,\n              \"comparison_to_median\": -25578.55\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Salesforce\",\n        \"metric_value\": 950000,\n        \"percent_of_total\": 10.14,\n        \"insights\": [\n          {\n            \"text\": \"Salesforce prior-quarter 950,000 — consistent with current-quarter opportunity (948,955).\",\n            \"category\": \"Stability\",\n            \"confidence\": 0.86,\n            \"supporting_data\": {\n              \"total_metric\": 9376712.97,\n              \"comparison_to_median\": -25578.55\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Elevance Health\",\n        \"metric_value\": 727441.45,\n        \"percent_of_total\": 7.75,\n        \"insights\": [\n          {\n            \"text\": \"Elevance Health at 727,441.45 — a mid-size prior-quarter opportunity.\",\n            \"category\": \"Operational\",\n            \"confidence\": 0.72,\n            \"supporting_data\": {\n              \"total_metric\": 9376712.97,\n              \"comparison_to_median\": -248137.09\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"DOD - Army Cyber Command (Arcyber)\",\n        \"metric_value\": 720000,\n        \"percent_of_total\": 7.67,\n        \"insights\": [\n          {\n            \"text\": \"DOD Army Cyber Command 720,000 — sizable public-sector prior quarter deal.\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.72,\n            \"supporting_data\": {\n              \"total_metric\": 9376712.97,\n              \"comparison_to_median\": -255578.55\n            }\n          }\n        ]\n      }\n    ],\n    \"overall_notes\": \"Previous-quarter top-10 sum = 9,376,712.97 (used for percent_of_total). Multiple ~1.0M opportunities exist and some duplicate account/opportunity entries (WF - CSO appears multiple times). Dataset contains many mid-size deals; aggregation by account would change deltas materially.\"\n  },\n  \"inter_quarter_comparison\": {\n    \"major_changes\": [\n      {\n        \"dimension\": \"verizon\",\n        \"current_metric\": 1173395,\n        \"previous_metric\": 1184000,\n        \"absolute_change\": -10605,\n        \"percent_change\": -0.9,\n        \"insight\": \"Verizon aggregate is effectively flat quarter-over-quarter (-0.9%); rank improved slightly into current quarter top-10 (from previous rank 9 to current rank 7).\",\n        \"category\": \"Stability\",\n        \"confidence\": 0.86,\n        \"supporting_data\": {\n          \"rank_shift\": 2\n        }\n      },\n      {\n        \"dimension\": \"salesforce\",\n        \"current_metric\": 948955,\n        \"previous_metric\": 950000,\n        \"absolute_change\": -1045,\n        \"percent_change\": -0.11,\n        \"insight\": \"Salesforce shows near-zero change (-0.11%), indicating a stable ongoing opportunity across quarters.\",\n        \"category\": \"Stability\",\n        \"confidence\": 0.88,\n        \"supporting_data\": {\n          \"rank_shift\": -1\n        }\n      },\n      {\n        \"dimension\": \"teleperformance group\",\n        \"current_metric\": 336394.8,\n        \"previous_metric\": 600501.1,\n        \"absolute_change\": -264106.3,\n        \"percent_change\": -44.02,\n        \"insight\": \"Teleperformance aggregate declined sharply (-44%). Possible causes: prior-quarter included a large renewal/renewal+upsell (600,501.1) that is absent or materially reduced in current-quarter records.\",\n        \"category\": \"Decline\",\n        \"confidence\": 0.78,\n        \"supporting_data\": {\n          \"rank_shift\": 0\n        }\n      },\n      {\n        \"dimension\": \"mastercard\",\n        \"current_metric\": 1165595.5,\n        \"previous_metric\": 1349999.96,\n        \"absolute_change\": -184404.46,\n        \"percent_change\": -13.66,\n        \"insight\": \"Mastercard aggregate decreased (~13.7%). Prior-quarter included multiple sizeable entries (PCF expansion and others) that together were larger than current quarter's combined opportunities.\",\n        \"category\": \"Decline\",\n        \"confidence\": 0.77,\n        \"supporting_data\": {\n          \"rank_shift\": 0\n        }\n      },\n      {\n        \"dimension\": \"kkr and co.\",\n        \"current_metric\": 209709.05,\n        \"previous_metric\": 236550,\n        \"absolute_change\": -26840.95,\n        \"percent_change\": -11.36,\n        \"insight\": \"KKR shows a moderate reduction (-11%). Both quarters contain KKR entries but current-quarter opportunity is smaller.\",\n        \"category\": \"Decline\",\n        \"confidence\": 0.72,\n        \"supporting_data\": {\n          \"rank_shift\": 0\n        }\n      },\n      {\n        \"dimension\": \"united services automobile association (usaa)\",\n        \"current_metric\": 427000,\n        \"previous_metric\": 447000,\n        \"absolute_change\": -20000,\n        \"percent_change\": -4.47,\n        \"insight\": \"USAA shows a small decline (-4.47%); magnitude small relative to top-10 concentration.\",\n        \"category\": \"Operational\",\n        \"confidence\": 0.8,\n        \"supporting_data\": {\n          \"rank_shift\": 0\n        }\n      }\n    ],\n    \"overall_delta_summary\": \"Comparing top lists: top-10 sum increased from 9,376,712.97 (previous) to 13,938,511.24 (current) — a +48.66% rise. That increase is driven mainly by large new entries (e.g., CVS 2.126M, Dell 1.64M, Leidos 1.71M, RBC 1.77M) that were not present in previous-quarter top-10. Among accounts present in both datasets, most observable movements are decreases (Teleperformance, Mastercard, KKR); a few (Verizon, Salesforce) are effectively stable. Hypothesis: current-quarter pipeline is more top-heavy with large new opportunities rather than growth from prior-quarter incumbents.\",\n    \"confidence_overall\": 0.74\n  },\n  \"data_quality\": {\n    \"completeness_score\": 0.7,\n    \"issues_found\": [\n      \"Dataset provided as nested arrays; I used only the inner arrays of records — confirm no additional arrays hidden.\",\n      \"Multiple records per account (same 'Account Name') require clarification if comparison should be by-account (sum) or by-opportunity (as given). I aggregated by account for inter-quarter comparison where clear, but aggregation may miss opportunity-level differences.\",\n      \"Several records have empty forecast or stage fields (missing values) which reduces conversion confidence.\",\n      \"Percent_of_total values are computed relative to top-10 sums (not full-quarter totals) to avoid aggregation errors across many entries. Full-quarter aggregation was not performed to avoid incorrect consolidation of duplicate accounts.\",\n      \"Close dates span 2025–2027 and include future dates; confirm intended fiscal alignment before using for timing analysis.\"\n    ]\n  }\n}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4480,-672],"id":"b6378b97-3dac-4049-a008-2cc902ab8eda","name":"Edit Fields"},{"parameters":{"content":"## OpenAI Max Lake GBs\n```\n{\n  \"current_quarter_analysis\": {\n    \"top_entities\": [\n      {\n        \"entity\": \"CDK Global\",\n        \"metric_value\": 4067740.0016714605,\n        \"percent_of_total\": null,\n        \"insights\": [\n          {\n            \"text\": \"CDK Global is the largest cloud-stream consumer at 4,067,740 GB (30d).\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.95,\n            \"supporting_data\": {\n              \"total_metric\": 4067740.0016714605,\n              \"comparison_to_median\": null\n            }\n          },\n          {\n            \"text\": \"CDK’s consumption (4,067,740 GB) is multiple times larger than most customers in the dataset, indicating concentrated usage risk/opportunity.\",\n            \"category\": \"Risk\",\n            \"confidence\": 0.88,\n            \"supporting_data\": {\n              \"total_metric\": 4067740.0016714605,\n              \"comparison_to_median\": null\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Rocket Companies, Inc.\",\n        \"metric_value\": 814184.8620399833,\n        \"percent_of_total\": null,\n        \"insights\": [\n          {\n            \"text\": \"Rocket Companies is the #2 consumer at 814,185 GB (30d).\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.88,\n            \"supporting_data\": {\n              \"total_metric\": 814184.8620399833,\n              \"comparison_to_median\": null\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"BlackRock\",\n        \"metric_value\": 601060.610129498,\n        \"percent_of_total\": null,\n        \"insights\": [\n          {\n            \"text\": \"BlackRock shows heavy cloud-stream usage: 601,061 GB (30d).\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.88,\n            \"supporting_data\": {\n              \"total_metric\": 601060.610129498,\n              \"comparison_to_median\": null\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Iherb Inc.\",\n        \"metric_value\": 494955.2631045757,\n        \"percent_of_total\": null,\n        \"insights\": [\n          {\n            \"text\": \"Iherb ranks high with ~494,955 GB (30d) of cloud stream usage.\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.85,\n            \"supporting_data\": {\n              \"total_metric\": 494955.2631045757,\n              \"comparison_to_median\": null\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Deloitte and Touche Corp.\",\n        \"metric_value\": 430406.2063953094,\n        \"percent_of_total\": null,\n        \"insights\": [\n          {\n            \"text\": \"Deloitte consumes 430,406 GB (30d), a clear enterprise-scale account.\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.88,\n            \"supporting_data\": {\n              \"total_metric\": 430406.2063953094,\n              \"comparison_to_median\": null\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Thomson Reuters\",\n        \"metric_value\": 378933.5952276997,\n        \"percent_of_total\": null,\n        \"insights\": [\n          {\n            \"text\": \"Thomson Reuters uses 378,934 GB (30d), consistent with large enterprise activity.\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.86,\n            \"supporting_data\": {\n              \"total_metric\": 378933.5952276997,\n              \"comparison_to_median\": null\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"McDonald's\",\n        \"metric_value\": 311134.07586756255,\n        \"percent_of_total\": null,\n        \"insights\": [\n          {\n            \"text\": \"McDonald's shows 311,134 GB (30d) of stream activity, among top customers.\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.85,\n            \"supporting_data\": {\n              \"total_metric\": 311134.07586756255,\n              \"comparison_to_median\": null\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Mass Mutual\",\n        \"metric_value\": 310384.73870919365,\n        \"percent_of_total\": null,\n        \"insights\": [\n          {\n            \"text\": \"Mass Mutual is a top consumer at 310,385 GB (30d), similar scale to McDonald's.\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.84,\n            \"supporting_data\": {\n              \"total_metric\": 310384.73870919365,\n              \"comparison_to_median\": null\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"StoneX\",\n        \"metric_value\": 287937.76076414436,\n        \"percent_of_total\": null,\n        \"insights\": [\n          {\n            \"text\": \"StoneX streaming: 287,938 GB (30d) — material enterprise usage with recent increase vs prior quarter.\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.86,\n            \"supporting_data\": {\n              \"total_metric\": 287937.76076414436,\n              \"comparison_to_median\": null\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Maersk a/S\",\n        \"metric_value\": 233021.86995429825,\n        \"percent_of_total\": null,\n        \"insights\": [\n          {\n            \"text\": \"Maersk records 233,022 GB (30d), a high-volume industrial account.\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.82,\n            \"supporting_data\": {\n              \"total_metric\": 233021.86995429825,\n              \"comparison_to_median\": null\n            }\n          }\n        ]\n      }\n    ],\n    \"overall_notes\": \"Primary metric: 'Total Cloud Stream In Gb 30d' per record. percent_of_total and comparisons to global median are omitted (null) because full-dataset aggregate/median calculations require programmatic summation not performed here; individual metric values are taken directly from input. Data contains inconsistent types (strings for numeric zeros), and some large swings that may reflect ingestion/aggregation changes or true usage shifts.\"\n  },\n  \"previous_quarter_analysis\": {\n    \"top_entities\": [\n      {\n        \"entity\": \"CDK Global\",\n        \"metric_value\": 828209.4731167974,\n        \"percent_of_total\": null,\n        \"insights\": [\n          {\n            \"text\": \"Previous quarter CDK had 828,209 GB (30d); already very large but far smaller than current quarter value.\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.92,\n            \"supporting_data\": {\n              \"total_metric\": 828209.4731167974,\n              \"comparison_to_median\": null\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"1ST American Financial\",\n        \"metric_value\": 398804.38554508425,\n        \"percent_of_total\": null,\n        \"insights\": [\n          {\n            \"text\": \"1ST American Financial was among the largest previous-quarter consumers at ~398,804 GB (30d).\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.8,\n            \"supporting_data\": {\n              \"total_metric\": 398804.38554508425,\n              \"comparison_to_median\": null\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Thomson Reuters\",\n        \"metric_value\": 391051.2768690549,\n        \"percent_of_total\": null,\n        \"insights\": [\n          {\n            \"text\": \"Thomson Reuters used 391,051 GB (30d) in the prior quarter.\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.86,\n            \"supporting_data\": {\n              \"total_metric\": 391051.2768690549,\n              \"comparison_to_median\": null\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"1ST American Financial (duplicate check)\",\n        \"metric_value\": 398804.38554508425,\n        \"percent_of_total\": null,\n        \"insights\": [\n          {\n            \"text\": \"(Dataset contains repeated very-large enterprise records; included above.)\",\n            \"category\": \"Anomaly\",\n            \"confidence\": 0.6,\n            \"supporting_data\": {\n              \"total_metric\": 398804.38554508425,\n              \"comparison_to_median\": null\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Moody’s Corp.\",\n        \"metric_value\": 379572.37881332636,\n        \"percent_of_total\": null,\n        \"insights\": [\n          {\n            \"text\": \"Moody’s consumed 379,572 GB (30d) previous quarter.\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.8,\n            \"supporting_data\": {\n              \"total_metric\": 379572.37881332636,\n              \"comparison_to_median\": null\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Deloitte and Touche Corp.\",\n        \"metric_value\": 371699.9413286671,\n        \"percent_of_total\": null,\n        \"insights\": [\n          {\n            \"text\": \"Deloitte previously used 371,700 GB (30d).\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.86,\n            \"supporting_data\": {\n              \"total_metric\": 371699.9413286671,\n              \"comparison_to_median\": null\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Mass Mutual\",\n        \"metric_value\": 310384.73870919365,\n        \"percent_of_total\": null,\n        \"insights\": [\n          {\n            \"text\": \"Mass Mutual at 310,385 GB (30d) — stable between quarters.\",\n            \"category\": \"Operational\",\n            \"confidence\": 0.8,\n            \"supporting_data\": {\n              \"total_metric\": 310384.73870919365,\n              \"comparison_to_median\": null\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"McDonald's\",\n        \"metric_value\": 264086.5283754915,\n        \"percent_of_total\": null,\n        \"insights\": [\n          {\n            \"text\": \"McDonald's was 264,087 GB (30d) prior quarter (current quarter shows higher usage).\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.82,\n            \"supporting_data\": {\n              \"total_metric\": 264086.5283754915,\n              \"comparison_to_median\": null\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"StoneX\",\n        \"metric_value\": 238654.10046730936,\n        \"percent_of_total\": null,\n        \"insights\": [\n          {\n            \"text\": \"StoneX had 238,654 GB (30d) prior quarter.\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.82,\n            \"supporting_data\": {\n              \"total_metric\": 238654.10046730936,\n              \"comparison_to_median\": null\n            }\n          }\n        ]\n      },\n      {\n        \"entity\": \"Maersk a/S\",\n        \"metric_value\": 201703.30188817158,\n        \"percent_of_total\": null,\n        \"insights\": [\n          {\n            \"text\": \"Maersk used 201,703 GB (30d) previously; increased this quarter.\",\n            \"category\": \"Growth Driver\",\n            \"confidence\": 0.8,\n            \"supporting_data\": {\n              \"total_metric\": 201703.30188817158,\n              \"comparison_to_median\": null\n            }\n          }\n        ]\n      },\n      \"overall_notes\\\":\\\"Previous-quarter rankings use the same primary metric. Some large accounts (CDK) show dramatic quarter-to-quarter movement; verify ingestion and account-mapping logic. Several fields have inconsistent types (numeric vs string '0').\\\"},\",\n      \"inter_quarter_comparison\\\":{\\\"major_changes\\\":[{\"\n    ]\n  },\n  \"data_quality\": {\n    \"completeness_score\": 0.74,\n    \"issues_found\": [\n      \"inconsistent_data_types: numeric fields sometimes stored as strings (e.g., 'Total Software Edge Nodes 30d': \\\"0\\\").\",\n      \"no_global_aggregate: percent_of_total and median comparisons omitted because full-dataset programmatic aggregation not performed here.\",\n      \"potential_ingestion_anomaly: several customers show very large quarter-over-quarter shifts (e.g., CDK Global) that may reflect data aggregation changes rather than pure usage shifts.\"\n    ]\n  }\n}\n```","height":736,"width":1264},"type":"n8n-nodes-base.stickyNote","position":[2960,1472],"typeVersion":1,"id":"cffa22a4-7a51-4214-873e-d8ce79a5cadd","name":"Sticky Note4"},{"parameters":{},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1008,1040],"id":"b7a03108-5dd0-4e74-b8ba-6096b71a5445","name":"Create a document","credentials":{"googleDocsOAuth2Api":{"id":"dzy8xbOq7YSB6444","name":"Google Docs Cribl"}}},{"parameters":{"operation":"update","documentURL":"={{ $('Loop Over Items').first().json.google_document_id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $json.output }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[4160,112],"id":"76499ffe-1ae1-4bb4-876d-e75ea0376276","name":"Update a document1","credentials":{"googleDocsOAuth2Api":{"id":"dzy8xbOq7YSB6444","name":"Google Docs Cribl"}}},{"parameters":{"promptType":"define","text":"=<role>\nYou are a business intelligence analyst who extracts and formats executive-level takeaways from structured analysis data into presentation-ready text.\n</role>\n\n<task>\nGoal: Extract key insights from structured quarterly analysis JSON and format them as concise, executive-ready takeaways for Google Docs insertion.\n\nPlan of action (follow sequentially):\n1. Parse the input JSON containing quarterly analysis data\n2. Extract high-priority insights from current quarter, previous quarter, and inter-quarter comparisons\n3. Categorize insights by priority: Critical Anomalies, Growth Drivers, Risks, and Operational Notes\n4. Format each takeaway with proper structure for Google Docs API insertion\n5. Return plain text with clear section markers and bullet formatting\n</task>\n\n<context>\nYou will receive a JSON object containing:\n- **current_quarter_analysis**: Top entities with metric values, percentages, and categorized insights\n- **previous_quarter_analysis**: Same structure for the prior period\n- **inter_quarter_comparison**: Major changes between quarters with absolute and percent changes\n- **data_quality**: Completeness score and data quality issues\n\nEach insight has:\n- **text**: The actual insight narrative\n- **category**: Classification (Anomaly, Growth Driver, Risk, Operational, Decline)\n- **confidence**: Confidence score (0.0 to 1.0)\n- **supporting_data**: Metrics and context\n\nYour output must be plain text formatted for direct insertion into Google Docs via API, with clear section headers and bullet points using standard text characters.\n</context>\n\n<extraction_rules>\n<priority_classification>\nPriority Classification:\n\n1. **CRITICAL (Must Include)**:\n   - Insights with category \"Anomaly\" and confidence >= 0.80\n   - Major changes with absolute percent_change > 1000% OR > 50% with high confidence\n   - Any insight mentioning \"validation required\", \"investigate\", or \"immediate\"\n   - Data quality issues with completeness_score < 0.85\n\n2. **HIGH (Should Include)**:\n   - Insights with category \"Risk\" and confidence >= 0.90\n   - Growth Drivers with confidence >= 0.90 and significant impact\n   - Inter-quarter changes with absolute value > 20% and confidence >= 0.85\n   - Top 3 entities by metric value in current quarter\n\n3. **MEDIUM (Include if Space Permits)**:\n   - Operational insights with confidence >= 0.90\n   - Entities showing consistent trends across quarters\n   - Minor declines (< 10%) with context\n   - Supporting data points that add clarity\n\n4. **LOW (Optional)**:\n   - Operational notes with low impact\n   - Stable accounts with minimal change\n   - Redundant information already covered\n</priority_classification>\n\n<insight_selection>\nInsight Selection Criteria:\n\nFor each category, select insights based on:\n\n**Critical Anomalies**:\n- Include ALL insights with category \"Anomaly\"\n- Prioritize by confidence score (highest first)\n- Include supporting metrics (current_metric, previous_metric, percent_change)\n- Highlight if validation or investigation is recommended\n\n**Growth Drivers**:\n- Include top 3-5 growth insights by percent_change or absolute_change\n- Focus on confidence >= 0.90\n- Include specific numbers (growth %, absolute change)\n- Note consistency across quarters if applicable\n\n**Risks & Declines**:\n- Include ALL risks with confidence >= 0.90\n- Include declines > 5% regardless of confidence\n- Provide context (is it normal fluctuation or concerning trend?)\n- Flag accounts that dropped out of top rankings\n\n**Operational Notes**:\n- Include only if adding strategic context\n- Summarize stable trends rather than listing each one\n- Focus on overall patterns rather than individual accounts\n</insight_selection>\n\n<text_formatting>\nText Formatting Rules:\n\n1. Use hierarchical structure with clear headers\n2. Use \"•\" for bullet points (not \"- \" or \"* \")\n3. Use numbers with metric formatting: \"53,805 nodes\" not \"53805 nodes\"\n4. Use percentage formatting: \"+11.2%\" not \"11.19\"\n5. Bold important terms using **term** (will be converted for Google Docs)\n6. Rich text formatting such as bolding for emphasis, not hyphens nor em-dash (—)\n7. Keep sentences concise (max 25 words per bullet)\n8. Start each bullet with action or state, not \"The account...\"\n9. Always make sure to put 3 new lines at the end so that any text appended to this output would have new lines to pad\n10. Always make sure to make the header, which is in the format of `[METRIC NAME] - [CURRENT QUARTER] vs [PREVIOUS QUARTER]` , as a header with bold text \n</text_formatting>\n</extraction_rules>\n\n<output_structure>\n<document_layout>\nDocument Layout:\n\nThe output should follow this exact structure:\n\n```\n[METRIC NAME] - [CURRENT QUARTER] vs [PREVIOUS QUARTER]\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n🔴 CRITICAL ANOMALIES (Require Validation)\n\n• [Highest priority anomaly with specific numbers and context]\n• [Second priority anomaly]\n• [Additional critical items...]\n\nData Quality Note: [Completeness score and major issues if < 0.85]\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n📈 GROWTH DRIVERS\n\n• [Top growth driver with percent change and absolute numbers]\n• [Second growth driver]\n• [Additional growth items...]\n\nOverall Trend: [Summary of aggregate growth with total change metrics]\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n⚠️ RISKS & DECLINES\n\n• [Highest risk item with context]\n• [Decline with percentage and interpretation]\n• [Additional risk items...]\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n📊 OPERATIONAL HIGHLIGHTS\n\n• [Key stable accounts or patterns]\n• [Notable operational trends]\n• [Context for understanding the data]\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nRECOMMENDATIONS\n\n• [Specific action item based on critical anomalies]\n• [Validation or investigation needed]\n• [Strategic consideration based on trends]\n```\n</document_layout>\n\n<section_details>\nSection-Specific Guidelines:\n\n**CRITICAL ANOMALIES Section**:\n- Start with the highest impact anomaly (largest absolute change or highest % with high base)\n- Include entity name, current metric, previous metric, and percent change\n- State specific recommendation (e.g., \"Validate with GTM/ETL\", \"Investigate onboarding\")\n- Group similar anomalies if applicable (e.g., \"Three accounts show >1000% growth\")\n- Always include data quality note if completeness < 0.85\n\n**GROWTH DRIVERS Section**:\n- Lead with largest absolute contributors to growth\n- Include both percentage and absolute numbers\n- Note if growth is consistent vs. one-time jump\n- End with \"Overall Trend\" line showing aggregate metrics from overall_delta_summary\n- Format: \"Overall Trend: Aggregate increased by [absolute] nodes (+[percent]%) from [prev total] to [current total]\"\n\n**RISKS & DECLINES Section**:\n- Prioritize by confidence score and magnitude\n- Provide context: \"Normal fluctuation\" vs \"Monitor for churn\"\n- Include ranking changes if significant (e.g., \"Dropped from #5 to #8\")\n- Note if decline is accelerating vs. stabilizing\n\n**OPERATIONAL HIGHLIGHTS Section**:\n- Summarize stable trends rather than listing each account\n- Include context that helps interpret other sections\n- Note data patterns or methodology considerations\n- Keep to 3-5 bullets maximum\n\n**RECOMMENDATIONS Section**:\n- Derive directly from Critical Anomalies and High Risks\n- Make action-oriented and specific\n- Include owner or team if identifiable (GTM, ETL, Ops)\n- Prioritize by urgency: Immediate → Near-term → Strategic\n</section_details>\n</output_structure>\n\n<formatting_examples>\n<good_examples>\nGood Examples:\n\n✅ **Entity Reference**:\n\"quizzical-khorana-50rbbst (53,805 nodes, 34.6% of top-10) shows massive increase vs Q2\"\n\n✅ **Percentage Formatting**:\n\"Increased by +11.2% quarter-over-quarter (from 19,407 to 21,579 nodes)\"\n\n✅ **Change Description**:\n\"Massive increase of 53,567 nodes (+22,508%) — likely new onboarding or account consolidation; validate with GTM/ETL immediately\"\n\n✅ **Risk Statement**:\n\"Declined by -455 nodes (-5.9%) vs prior quarter — monitor for potential churn or capacity reduction\"\n\n✅ **Operational Summary**:\n\"Five accounts remain stable in top-10 across both quarters with <2% variance\"\n\n✅ **Recommendation**:\n\"Validate three accounts with >1000% growth (quizzical, hardcore, upbeat) with GTM team to confirm contract start dates and ingestion logic\"\n</good_examples>\n\n<bad_examples>\nBad Examples:\n\n❌ **Too Verbose**:\n\"The account named quizzical-khorana-50rbbst, which is one of our accounts, has shown an increase in the metric we are tracking, going from a previous value to a current value\"\n\n❌ **Poor Number Formatting**:\n\"Increased by 11.19237% (from 19407 to 21579)\"\n\n❌ **Passive Voice**:\n\"A decline was observed in the account caprine-euclid-l7uwlrq\"\n\n❌ **Missing Context**:\n\"Account X increased by 50%\"\n(Should include: what metric, from what to what, why significant)\n\n❌ **Vague Recommendation**:\n\"Look into the data issues\"\n(Should be: \"Validate data completeness score of 0.78 by reviewing ETL pipeline for account name mapping consistency\")\n</bad_examples>\n</formatting_examples>\n\n<number_formatting>\n<rules>\nNumber Formatting Rules:\n\n1. **Large Numbers**: Use comma separators\n   - 53805 → 53,805\n   - 155367 → 155,367\n\n2. **Percentages**: Round to 1 decimal place, include sign\n   - 11.19 → +11.2%\n   - -5.91 → -5.9%\n   - 22507.56 → +22,508% (round to whole number for very large %)\n\n3. **Percent of Total**: Round to 1 decimal place\n   - 34.63 → 34.6%\n   - 4.52 → 4.5%\n\n4. **Confidence Scores**: Convert to percentage or use descriptive terms\n   - 0.95 → \"high confidence (95%)\" or just \"high confidence\"\n   - 0.78 → \"moderate confidence (78%)\"\n   - < 0.70 → \"low confidence\"\n\n5. **Decimal Numbers**: Round to whole numbers unless precision matters\n   - 7070.37% → 7,070%\n   - 2611.59% → 2,612%\n\n6. **Small Changes**: Use +/- with precision\n   - -172 → -172 nodes\n   - +136 → +136 nodes\n\n7. **Rank Changes**: Use # symbol and direction\n   - \"Dropped from #5 to #8\"\n   - \"Rose from #10 to #3\"\n</rules>\n\n<examples>\nFormatting Examples:\n\n**Before**: \"entity metric_value is 53805 and percent_of_total is 34.63\"\n**After**: \"53,805 nodes (34.6% of top-10)\"\n\n**Before**: \"percent_change: 11.19\"\n**After**: \"+11.2% growth\"\n\n**Before**: \"confidence: 0.85\"\n**After**: \"high confidence\" or \"(85% confidence)\"\n\n**Before**: \"absolute_change: -455, percent_change: -5.91\"\n**After**: \"-455 nodes (-5.9%)\"\n</examples>\n</number_formatting>\n\n<input_processing>\n<steps>\nInput Processing Steps:\n\n1. **Parse JSON Structure**:\n   - Verify all required sections exist (current_quarter_analysis, previous_quarter_analysis, inter_quarter_comparison)\n   - Check data_quality.completeness_score\n   - Count total insights available\n\n2. **Extract Current Quarter Insights**:\n   - Iterate through current_quarter_analysis.top_entities\n   - For each entity, extract insights array\n   - Tag each insight with entity name and metric_value for context\n   - Calculate entity rank (1st, 2nd, 3rd, etc.)\n\n3. **Extract Previous Quarter Insights**:\n   - Same process as current quarter\n   - Note which entities appear in both quarters\n   - Flag entities that disappeared or newly appeared\n\n4. **Extract Inter-Quarter Comparisons**:\n   - Process inter_quarter_comparison.major_changes array\n   - Sort by absolute_change magnitude (descending)\n   - Separate into growth vs. decline\n   - Flag extreme changes (> 1000% or > 50 with high base)\n\n5. **Categorize All Insights**:\n   - Critical Anomalies: category=\"Anomaly\" OR percent_change > 1000%\n   - Growth Drivers: category=\"Growth Driver\" OR positive major_changes\n   - Risks: category=\"Risk\" OR category=\"Decline\" OR negative changes\n   - Operational: category=\"Operational\" OR stable accounts\n\n6. **Prioritize Within Categories**:\n   - Sort by confidence score (descending)\n   - Then by magnitude (absolute_change or metric_value)\n   - Then by category priority (Anomaly > Risk > Growth > Operational)\n\n7. **Format Each Insight**:\n   - Apply number formatting rules\n   - Construct narrative sentence\n   - Add context from supporting_data if relevant\n   - Keep to max 25 words\n</steps>\n\n<edge_cases>\nEdge Cases to Handle:\n\n**Missing Data**:\n- If previous_metric is null or 0: \"New account in current quarter\"\n- If current_metric is null: \"Account no longer in top rankings\"\n- If percent_change is null: Calculate manually or state \"baseline comparison unavailable\"\n\n**Extreme Values**:\n- If percent_change > 10000%: Round to nearest thousand, flag as \"likely data issue\"\n- If confidence < 0.5: Include disclaimer \"low confidence — verify data\"\n- If metric_value is negative: Flag as \"data error — negative value impossible\"\n\n**Data Quality Issues**:\n- If completeness_score < 0.70: Add prominent warning in Critical Anomalies\n- If issues_found array has > 5 items: Summarize top 3 most critical\n- If overall_notes mentions \"ETL\" or \"mapping\": Include in recommendations\n\n**Ranking Changes**:\n- If rank_shift is null: \"First appearance in top-10\" or \"Not previously in top-10\"\n- If rank_shift > 0: \"Rose [shift] positions\"\n- If rank_shift < 0: \"Dropped [shift] positions\"\n- If rank_shift == 0: \"Maintained ranking\"\n</edge_cases>\n</input_processing>\n\n<validation_checklist>\nValidation Before Returning:\n\n- [ ] All sections are present (Critical Anomalies, Growth Drivers, Risks, Operational, Recommendations)\n- [ ] Each section has at least 1 bullet (or states \"None identified\")\n- [ ] All numbers are properly formatted with commas and appropriate rounding\n- [ ] All percentages include +/- sign\n- [ ] Entity names are spelled exactly as in input\n- [ ] Confidence scores are interpreted, not just reported as decimals\n- [ ] Section headers use proper emoji indicators (🔴 ⚠️ 📈 📊)\n- [ ] Separator lines use exactly 64 \"━\" characters\n- [ ] Bullets use \"•\" character consistently\n- [ ] Total character count is reasonable for Google Docs (< 5000 chars recommended)\n- [ ] No JSON artifacts or raw field names appear in output\n- [ ] Recommendations are actionable and specific\n- [ ] Data quality issues are prominently noted if completeness < 0.85\n- [ ] Overall trend summary is included in Growth Drivers section\n</validation_checklist>\n\n<output_requirements>\nOutput Requirements:\n\n**Format**: Plain text, UTF-8 encoded\n\n**Structure**: Exactly 6 sections in order:\n1. Title line\n2. Critical Anomalies\n3. Growth Drivers\n4. Risks & Declines\n5. Operational Highlights\n6. Recommendations\n\n**Separators**: Use \"━\" (U+2501) character for horizontal rules (64 characters wide)\n\n**Bullets**: Use \"•\" (U+2022) character\n\n**Emojis**: Use standard emoji codes:\n- 🔴 (Red Circle) for Critical\n- 📈 (Chart Increasing) for Growth\n- ⚠️ (Warning) for Risks\n- 📊 (Bar Chart) for Operational\n\n**Length Guidelines**:\n- Title: 1 line\n- Critical Anomalies: 3-7 bullets + data quality note\n- Growth Drivers: 3-5 bullets + overall trend\n- Risks & Declines: 2-5 bullets\n- Operational Highlights: 2-4 bullets\n- Recommendations: 2-4 bullets\n\n**Tone**: Professional, concise, action-oriented\n\n**Perspective**: Third-person objective (\"Account X shows...\" not \"We see account X...\")\n\n**No Preamble**: Output should start immediately with title line, no \"Here is the formatted output:\" or similar\n</output_requirements>\n\n<example_output>\nExample Output Structure:\n\n```\nEXECUTIVE TAKEAWAYS: Edge Nodes - FY2026 Q3 vs FY2026 Q2\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n🔴 CRITICAL ANOMALIES (Require Validation)\n\n• quizzical-khorana-50rbbst shows massive increase of 53,567 nodes (+22,508%) vs Q2 — likely new onboarding or account consolidation; validate with GTM/ETL immediately\n• hardcore-elbakyan-50xvd2z jumped from 135 to 9,680 nodes (+7,070%) — probable reclassification or new deployment; confirm contract start date\n• upbeat-ansell-7ikkus7 increased from 276 to 7,478 nodes (+2,612%) — verify data mapping and ingestion logic\n• intelligent-bose-h8omefz appears as new top account with no prior-quarter match — likely renamed or previously uncategorized\n\nData Quality Note: Completeness score of 78% indicates potential ETL or name-mapping inconsistencies; review data pipeline before executive reporting.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n📈 GROWTH DRIVERS\n\n• keen-engelbart-yrawjpm delivered healthy growth of +2,172 nodes (+11.2%), from 19,407 to 21,579 — largest stable contributor\n• sharp-ptolemy-o24v40l recovered strongly with +1,073 nodes (+17.9%) vs prior quarter\n• beautiful-montalcini-msl3hcr showed consistent growth of +136 nodes (+1.7%) — stable mid-size performer\n\nOverall Trend: Top-10 aggregate increased by 58,533 nodes (+60.4%) from 96,834 to 155,367, driven primarily by three large movers noted in Critical Anomalies.\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n⚠️ RISKS & DECLINES\n\n• caprine-euclid-l7uwlrq declined by -455 nodes (-5.9%), dropping from #5 to #8 — monitor for potential churn or capacity reduction\n• priceless-archimedes-d0qkdzk contracted by -280 nodes (-1.6%) — likely normal fluctuation for large account, but track trend\n• ruminant-gagarin-k690duv decreased by -172 nodes (-1.0%) — minimal decline, operational monitoring sufficient\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\n📊 OPERATIONAL HIGHLIGHTS\n\n• Five accounts (keen-engelbart, priceless-archimedes, ruminant-gagarin, beautiful-montalcini, caprine-euclid) remain in top-10 across both quarters\n• Core account base shows stability with <2% variance for established accounts\n• Dataset contains strong outliers requiring validation before extrapolating trends to full population\n• Account naming inconsistencies suggest ETL review needed for accurate quarter-over-quarter tracking\n\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n\nRECOMMENDATIONS\n\n• Immediate: Validate three accounts with >1000% growth (quizzical, hardcore, upbeat) with GTM team to confirm contract start dates and rule out data errors\n• Near-term: Review ETL pipeline and account name mapping logic to improve data completeness from 78% to >90%\n• Strategic: Investigate concentration risk — top account (quizzical) now holds 34.6% of top-10 aggregate, up from negligible share in Q2\n• Monitoring: Track caprine-euclid-l7uwlrq decline trajectory over next 2 quarters to distinguish normal fluctuation from churn signal\n\n\n```\n</example_output>\n\n\n<input>\n{{ $json.output.toJsonString() }}\n</input>\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[3664,112],"id":"289582e8-5cba-4736-a788-bb759f8eb1e2","name":"AI Agent"},{"parameters":{"model":"gpt-5-mini","options":{"responseFormat":"json_object","timeout":360000}},"id":"49052d57-8258-4283-bba5-ca3ec33c3043","name":"Azure OpenAI GPT-5-mini1","type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[3760,432],"credentials":{"azureOpenAiApi":{"id":"ljEp6Un527XmKGRN","name":"Azure OpenAI gpt-5-mini"}}},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"current_fiscal_quarter_query\": {},\n  \"previous_fiscal_quarter_query\": {},\n  \"document_query_id\": \"82b670ff-cdbd-4bfd-9cd1-e33da5a9fa74\",\n  \"document_query_name\": \"Product: Edge (Cloud)\",\n  \"drill_name\": \"count_orgs\",\n  \"current_fiscal_quarter\": \"FY2026 Q3\",\n  \"previous_fiscal_quarter\": \"FY2026 Q2\",\n  \"current_fiscal_half\": \"FY2026 H2\",\n  \"previous_fiscal_half\": \"FY2026 H1\",\n  \"user_id\": \"893ce348-0fb2-44ac-b0f8-06521a341580\",\n  \"google_document_id\": \"1TN9S5sCp-DBlhYFV6a_ihTvVa6tr4pkjDb8JHL9PWyA\"\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-400,160],"id":"90c29892-a0c6-4785-b37f-cf8ad23795ad","name":"Trigger"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[336,160],"id":"9a7e849d-6edb-4476-95cf-b8de4723d6e9","name":"Loop Over Items"},{"parameters":{"mode":"raw","jsonOutput":"[\n  {\n    \"current_fiscal_quarter_results\": [\n      {\n        \"Fiscal Quarter\": \"FY2026 Q3\",\n        \"Customer Name\": \"Paramount\",\n        \"First Purchase Quarter Date\": \"Aug 1, 2020\",\n        \"Cribl ID\": \"20080001\",\n        \"Customer Type\": \"Cumulative\",\n        \"Total Starting ARR\": 1723922.7,\n        \"Total New ARR\": 0,\n        \"Total Upsell ARR\": 0,\n        \"Total Churn ARR\": 0,\n        \"Total Downsell ARR\": 0,\n        \"Total Ending ARR\": 1723922.7\n      }\n    ]\n  },\n  {\n    \"previous_fiscal_quarter_results\": [\n      {\n        \"Fiscal Quarter\": \"FY2026 Q3\",\n        \"Customer Name\": \"Paramount\",\n        \"First Purchase Quarter Date\": \"Aug 1, 2020\",\n        \"Cribl ID\": \"20080001\",\n        \"Customer Type\": \"Cumulative\",\n        \"Total Starting ARR\": 1723922.7,\n        \"Total New ARR\": 0,\n        \"Total Upsell ARR\": 0,\n        \"Total Churn ARR\": 0,\n        \"Total Downsell ARR\": 0,\n        \"Total Ending ARR\": 1723922.7\n      }\n    ]\n  }\n]","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,-608],"id":"e6848974-89b5-4fc6-b1ac-ff61720260cd","name":"Edit Fields1"},{"parameters":{"jsCode":"\nconst results = [];\nfor (const item of $input.all()) {\n  item.json.current_fiscal_quarter_result = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,-608],"id":"dca1b383-78e9-49a5-93b4-3c6d33250281","name":"Code in JavaScript1"},{"parameters":{"jsCode":"// const results = [];\n// let current_fiscal_quarter_results = [];\n// let previous_fiscal_quarter_results = [];\nlet result_dict = {};\n\nfor (const quarter_results of $input.all()) {\n  // if (\"current_fiscal_quarter_results\" in quarter_results.json) {\n  //   current_fiscal_quarter_results = quarter_results.json.current_fiscal_quarter_results;\n  //   results.push(...quarter_results.json.current_fiscal_quarter_results);\n    \n  // }\n\n  // if (\"previous_fiscal_quarter_results\" in quarter_results.json) {\n  //   previous_fiscal_quarter_results = quarter_results.json.previous_fiscal_quarter_results;\n  //   results.push(...quarter_results.json.previous_fiscal_quarter_results);\n  // }\n\n  result_dict = {...result_dict, ...quarter_results.json};\n}\n\nreturn [result_dict];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2368,528],"id":"f9d6780a-0ff6-4558-8c04-e3dc16452888","name":"Aggregate"}],"connections":{"Azure OpenAI GPT-5-mini":{"ai_languageModel":[[{"node":"Pattern Detection Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Pattern Detection Agent","type":"ai_outputParser","index":0}]]},"Combine AI Insights with Raw Data":{"main":[[{"node":"Send Results to Callback URL","type":"main","index":0}]]},"Run Current Fiscal Quarter Query":{"main":[[{"node":"Aggregate Current Quarter","type":"main","index":0}],[]]},"Run Previous Fiscal Quarter Query":{"main":[[{"node":"Aggregate Previous Quarter","type":"main","index":0}],[]]},"Aggregate Previous Quarter":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Aggregate Current Quarter":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Pattern Detection Agent":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OLD Pattern Detection Agent":{"main":[[],[]]},"Update a document1":{"main":[[{"node":"Combine AI Insights with Raw Data","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Update a document1","type":"main","index":0}]]},"Azure OpenAI GPT-5-mini1":{"ai_languageModel":[[]]},"Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Pattern Detection Agent","type":"main","index":0}],[{"node":"Run Current Fiscal Quarter Query","type":"main","index":0},{"node":"Run Previous Fiscal Quarter Query","type":"main","index":0}]]},"Edit Fields1":{"main":[[]]},"Aggregate":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"OLD Pattern Detection Agent":[{"json":{"output":{"insights":[{"category":"pattern","title":"High volume of 'Closed Lost' opportunities","description":"A large share of rows are in Stage '8. Closed Lost', indicating many deals are not converting. This suggests either aggressive pipeline generation with low conversion or a gap in later-stage qualification/sales execution.","confidence":"medium","supporting_data":["Examples: 'Informatica' (Closed Lost), 'Loandepot, Inc.' (Closed Lost), 'Equifax: Google+Cribl Logging Architecture' (Closed Lost), many additional Stage '8. Closed Lost' entries across the dataset"]},{"category":"trend","title":"Revenue concentrated in a small number of very large opportunities","description":"Several opportunities have exceptionally high New ARR (>$1M) and represent disproportionate revenue potential. Prioritizing these high-value deals could materially affect ARR but they also appear in varied stages (some Closed Lost, some Visible/Commit).","confidence":"high","supporting_data":["AT&T Inc. - New ARR 3,664,451.23 (Commit, Closed Won)","Verizon - Network Engineering New Technology deployment - New ARR 3,472,200 (Visible/Upside)","Navy Federal Credit Union - New ARR 1,923,894.31 (Strong Upside, Closed Lost)","Toyota Systems - New ARR 1,300,000 (Visible Opportunity)"]},{"category":"pattern","title":"Renewals and upsells show stronger conversion to 'Closed Won'","description":"Many 'Record Type' values labeled Renewal or Upsell are present in Stage '7. Closed Won' with reliable New ARR, indicating that expansion/renewal motions have higher win rates than net-new in this dataset.","confidence":"high","supporting_data":["Maersk A/S - Renewal+Upsell New ARR 494,601.83 (Commit, Closed Won)","Fairview Health Services - New ARR 342,000 (Commit, Closed Won)","FIS - Cyber Data Science Expansion - New ARR 446,725.43 (Commit, Closed Won)","South Carolina Department of Administration - Upsell New ARR 606,581.47 (Commit, Closed Won)"]},{"category":"anomaly","title":"Large number of opportunities with New ARR = 0","description":"Many opportunities have New Arr set to 0 which may indicate missing pricing, placeholder entries, or deals without ARR (e.g., trials/PoCs). This undermines revenue forecasting accuracy and may distort pipeline metrics.","confidence":"high","supporting_data":["Examples with New Arr = 0: 'Pennymac Financial Services, Inc.', 'Signify N.V.', 'Tractor Supply', 'Gordon Food Service, Inc.', plus many others"]},{"category":"pattern","title":"Long-tail and public sector deals with extended timelines","description":"A sizeable portion of high-value public sector and FedRAMP/defense opportunities have close dates in 2026-2027 and are in early stages (New Business Meeting / Tech Close / Visible Opportunity), implying long sales cycles but large upside.","confidence":"medium","supporting_data":["U.S. Department of Education - New ARR 2,146,958.48 (Close Date Oct 1, 2026, New Business Meeting)","DOJ - FBI ITID/Dchoss - New ARR 745,000 (Close Date Sep 22, 2027, New Business Meeting)","Navy/NAVWAR/DOD opportunities (multiple entries) with large New ARR and late close dates"]},{"category":"pattern","title":"Opportunity ownership concentrated among recurring sellers","description":"Certain account owners appear frequently across opportunities, suggesting pockets of seller specialization or ownership concentration. That can be leveraged for targeted enablement or risk management if those sellers turnover.","confidence":"medium","supporting_data":["Examples of frequent owners: Travis Sanchez (many entries), Bart Vey (multiple DoD/Army/Navy deals), Sarah Mantz (many New Business/Partner deals), Patrick Gleason (DOE/DOE labs)"]},{"category":"anomaly","title":"Some extremely low non-zero New ARR values likely data artifacts","description":"A few records show tiny non-zero New ARR amounts (e.g., single-dollar or fractional values) inconsistent with typical enterprise deal sizes. These are likely data-entry artifacts or system test values and should be cleaned before analysis.","confidence":"high","supporting_data":["Examples: 'Gap - 2025 Renewal' New ARR 20.02, 'Mr. Cooper' New ARR 0.66, 'Jack Henry and Assoc.' New ARR 1.64, 'BBC iPlayer' New ARR 5,920 (small compared to dataset but still valid)"]}],"summary":"The pipeline shows two dominant features: (1) many deals are recorded as 'Closed Lost', reducing immediate convertibility, and (2) revenue potential is highly concentrated in a subset of very large opportunities (multiple >$1M). Renewal/upsell motions are converting more reliably than net-new. Data quality issues (numerous zero or tiny New ARR values) and long sales cycles for public-sector/FedRAMP opportunities add forecasting risk. Ownership concentration creates both opportunities for specialist-driven wins and single points of failure.","recommendations":["Audit and clean pipeline data: identify and correct New Arr = 0 or implausible values and standardize entry rules to improve forecasting accuracy.","Prioritize 'win-back' and re-engagement for high-value Closed Lost deals: create targeted campaigns and executive outreach for the largest lost opportunities (e.g., AT&T, Verizon, Navy Federal).","Double down on renewals & upsells: allocate more resources to expansion motions where win rates are higher; establish playbooks to accelerate these deals.","Fast-track visible/tech-close public sector opportunities: assign senior sellers and proposal resources to long-cycle, high-value FedRAMP/government deals to reduce time-to-close.","Owner-level coaching and risk mitigation: identify top-performing owners and share best practices broadly; create backup coverage for heavily concentrated owner portfolios to reduce continuity risk."]}},"pairedItem":{"item":0}}],"Trigger":[{"json":{"current_fiscal_quarter_query":{"limit":200,"sorts":[{"column_name":"finance__customer_quarterly_arr.total_starting_arr","sort_descending":true}],"table":"finance__customer_quarterly_arr","fields":["finance__customer_quarterly_arr.fiscal_quarter[fiscal_quarter]","finance__customer_quarterly_arr.customer_name","finance__customer_quarterly_arr.first_purchase_quarter[date]","finance__customer_quarterly_arr.cribl_id","finance__customer_quarterly_arr.customer_type","finance__customer_quarterly_arr.total_starting_arr","finance__customer_quarterly_arr.total_new_arr","finance__customer_quarterly_arr.total_upsell_arr","finance__customer_quarterly_arr.total_churn_arr","finance__customer_quarterly_arr.total_downsell_arr","finance__customer_quarterly_arr.total_ending_arr"],"pivots":[],"dbtMode":false,"filters":{"finance__customer_quarterly_arr.fiscal_quarter":{"type":"composite","filters":[{"kind":"TIME_FOR_UNIT_DURATION","type":"date","left_side":""},{"kind":"TIME_FOR_INTERVAL_DURATION","type":"date","left_side":"6 complete fiscal quarters ago","right_side":"6 quarters","is_negative":false}],"conjunction":"AND","is_negative":false},"finance__customer_quarterly_arr.source_granularity":{"kind":"EQUALS","type":"string","values":["cloud"]}},"modelId":"e3a78095-f13c-49a2-9a4c-617fca386ca4","version":8,"controls":[],"rewriteSql":true,"row_totals":{},"fill_fields":[],"calculations":[],"column_limit":50,"join_via_map":{},"column_totals":{},"userEditedSQL":"","dimensionIndex":0,"default_group_by":true,"custom_summary_types":{},"join_paths_from_topic_name":"customer_quarterly_arr"},"previous_fiscal_quarter_query":{"limit":200,"sorts":[{"column_name":"finance__customer_quarterly_arr.total_starting_arr","sort_descending":true}],"table":"finance__customer_quarterly_arr","fields":["finance__customer_quarterly_arr.fiscal_quarter[fiscal_quarter]","finance__customer_quarterly_arr.customer_name","finance__customer_quarterly_arr.first_purchase_quarter[date]","finance__customer_quarterly_arr.cribl_id","finance__customer_quarterly_arr.customer_type","finance__customer_quarterly_arr.total_starting_arr","finance__customer_quarterly_arr.total_new_arr","finance__customer_quarterly_arr.total_upsell_arr","finance__customer_quarterly_arr.total_churn_arr","finance__customer_quarterly_arr.total_downsell_arr","finance__customer_quarterly_arr.total_ending_arr"],"pivots":[],"dbtMode":false,"filters":{"finance__customer_quarterly_arr.fiscal_quarter":{"type":"composite","filters":[{"kind":"TIME_FOR_UNIT_DURATION","type":"date","left_side":""},{"kind":"TIME_FOR_INTERVAL_DURATION","type":"date","left_side":"6 complete fiscal quarters ago","right_side":"6 quarters","is_negative":false}],"conjunction":"AND","is_negative":false},"finance__customer_quarterly_arr.source_granularity":{"kind":"EQUALS","type":"string","values":["cloud"]}},"modelId":"e3a78095-f13c-49a2-9a4c-617fca386ca4","version":8,"controls":[],"rewriteSql":true,"row_totals":{},"fill_fields":[],"calculations":[],"column_limit":50,"join_via_map":{},"column_totals":{},"userEditedSQL":"","dimensionIndex":0,"default_group_by":true,"custom_summary_types":{},"join_paths_from_topic_name":"customer_quarterly_arr"},"document_query_id":"c3023df3-39f1-4913-86c8-07d69f6caeb1","document_query_name":"Incremental Cloud ARR and Customers Over Time","drill_name":"total_customers","current_fiscal_quarter":"FY2026 Q3","previous_fiscal_quarter":"FY2026 Q2","current_fiscal_half":"FY2026 H2","previous_fiscal_half":"FY2026 H1","user_id":"893ce348-0fb2-44ac-b0f8-06521a341580","google_document_id":"1JOEw6ZleZhs63bLzAP4TwDQaSp6rfT9HncFsQ8PsIt8"}},{"json":{"current_fiscal_quarter_query":{"limit":200,"sorts":[{"column_name":"finance__customer_quarterly_arr.total_new_arr","sort_descending":true}],"table":"finance__customer_quarterly_arr","fields":["finance__customer_quarterly_arr.fiscal_quarter[fiscal_quarter]","finance__customer_quarterly_arr.customer_name","finance__customer_quarterly_arr.first_purchase_quarter[date]","finance__customer_quarterly_arr.cribl_id","finance__customer_quarterly_arr.customer_type","finance__customer_quarterly_arr.total_starting_arr","finance__customer_quarterly_arr.total_new_arr","finance__customer_quarterly_arr.total_upsell_arr","finance__customer_quarterly_arr.total_churn_arr","finance__customer_quarterly_arr.total_downsell_arr","finance__customer_quarterly_arr.total_ending_arr"],"pivots":[],"dbtMode":false,"filters":{"finance__customer_quarterly_arr.fiscal_quarter":{"type":"composite","filters":[{"kind":"TIME_FOR_UNIT_DURATION","type":"date","left_side":""},{"kind":"TIME_FOR_INTERVAL_DURATION","type":"date","left_side":"6 complete fiscal quarters ago","right_side":"6 quarters","is_negative":false}],"conjunction":"AND","is_negative":false},"finance__customer_quarterly_arr.source_granularity":{"kind":"EQUALS","type":"string","values":["cloud"]}},"modelId":"e3a78095-f13c-49a2-9a4c-617fca386ca4","version":8,"controls":[],"rewriteSql":true,"row_totals":{},"fill_fields":[],"calculations":[],"column_limit":50,"join_via_map":{},"column_totals":{},"userEditedSQL":"","dimensionIndex":0,"default_group_by":true,"custom_summary_types":{},"join_paths_from_topic_name":"customer_quarterly_arr"},"previous_fiscal_quarter_query":{"limit":200,"sorts":[{"column_name":"finance__customer_quarterly_arr.total_new_arr","sort_descending":true}],"table":"finance__customer_quarterly_arr","fields":["finance__customer_quarterly_arr.fiscal_quarter[fiscal_quarter]","finance__customer_quarterly_arr.customer_name","finance__customer_quarterly_arr.first_purchase_quarter[date]","finance__customer_quarterly_arr.cribl_id","finance__customer_quarterly_arr.customer_type","finance__customer_quarterly_arr.total_starting_arr","finance__customer_quarterly_arr.total_new_arr","finance__customer_quarterly_arr.total_upsell_arr","finance__customer_quarterly_arr.total_churn_arr","finance__customer_quarterly_arr.total_downsell_arr","finance__customer_quarterly_arr.total_ending_arr"],"pivots":[],"dbtMode":false,"filters":{"finance__customer_quarterly_arr.fiscal_quarter":{"type":"composite","filters":[{"kind":"TIME_FOR_UNIT_DURATION","type":"date","left_side":""},{"kind":"TIME_FOR_INTERVAL_DURATION","type":"date","left_side":"6 complete fiscal quarters ago","right_side":"6 quarters","is_negative":false}],"conjunction":"AND","is_negative":false},"finance__customer_quarterly_arr.source_granularity":{"kind":"EQUALS","type":"string","values":["cloud"]}},"modelId":"e3a78095-f13c-49a2-9a4c-617fca386ca4","version":8,"controls":[],"rewriteSql":true,"row_totals":{},"fill_fields":[],"calculations":[],"column_limit":50,"join_via_map":{},"column_totals":{},"userEditedSQL":"","dimensionIndex":0,"default_group_by":true,"custom_summary_types":{},"join_paths_from_topic_name":"customer_quarterly_arr"},"document_query_id":"c3023df3-39f1-4913-86c8-07d69f6caeb1","document_query_name":"Incremental Cloud ARR and Customers Over Time","drill_name":"total_customers","current_fiscal_quarter":"FY2026 Q3","previous_fiscal_quarter":"FY2026 Q2","current_fiscal_half":"FY2026 H2","previous_fiscal_half":"FY2026 H1","user_id":"893ce348-0fb2-44ac-b0f8-06521a341580","google_document_id":"1JOEw6ZleZhs63bLzAP4TwDQaSp6rfT9HncFsQ8PsIt8"}},{"json":{"current_fiscal_quarter_query":{"limit":200,"sorts":[{"column_name":"finance__customer_quarterly_arr.total_upsell_arr","sort_descending":true}],"table":"finance__customer_quarterly_arr","fields":["finance__customer_quarterly_arr.fiscal_quarter[fiscal_quarter]","finance__customer_quarterly_arr.customer_name","finance__customer_quarterly_arr.first_purchase_quarter[date]","finance__customer_quarterly_arr.cribl_id","finance__customer_quarterly_arr.customer_type","finance__customer_quarterly_arr.total_starting_arr","finance__customer_quarterly_arr.total_new_arr","finance__customer_quarterly_arr.total_upsell_arr","finance__customer_quarterly_arr.total_churn_arr","finance__customer_quarterly_arr.total_downsell_arr","finance__customer_quarterly_arr.total_ending_arr"],"pivots":[],"dbtMode":false,"filters":{"finance__customer_quarterly_arr.fiscal_quarter":{"type":"composite","filters":[{"kind":"TIME_FOR_UNIT_DURATION","type":"date","left_side":""},{"kind":"TIME_FOR_INTERVAL_DURATION","type":"date","left_side":"6 complete fiscal quarters ago","right_side":"6 quarters","is_negative":false}],"conjunction":"AND","is_negative":false},"finance__customer_quarterly_arr.source_granularity":{"kind":"EQUALS","type":"string","values":["cloud"]}},"modelId":"e3a78095-f13c-49a2-9a4c-617fca386ca4","version":8,"controls":[],"rewriteSql":true,"row_totals":{},"fill_fields":[],"calculations":[],"column_limit":50,"join_via_map":{},"column_totals":{},"userEditedSQL":"","dimensionIndex":0,"default_group_by":true,"custom_summary_types":{},"join_paths_from_topic_name":"customer_quarterly_arr"},"previous_fiscal_quarter_query":{"limit":200,"sorts":[{"column_name":"finance__customer_quarterly_arr.total_upsell_arr","sort_descending":true}],"table":"finance__customer_quarterly_arr","fields":["finance__customer_quarterly_arr.fiscal_quarter[fiscal_quarter]","finance__customer_quarterly_arr.customer_name","finance__customer_quarterly_arr.first_purchase_quarter[date]","finance__customer_quarterly_arr.cribl_id","finance__customer_quarterly_arr.customer_type","finance__customer_quarterly_arr.total_starting_arr","finance__customer_quarterly_arr.total_new_arr","finance__customer_quarterly_arr.total_upsell_arr","finance__customer_quarterly_arr.total_churn_arr","finance__customer_quarterly_arr.total_downsell_arr","finance__customer_quarterly_arr.total_ending_arr"],"pivots":[],"dbtMode":false,"filters":{"finance__customer_quarterly_arr.fiscal_quarter":{"type":"composite","filters":[{"kind":"TIME_FOR_UNIT_DURATION","type":"date","left_side":""},{"kind":"TIME_FOR_INTERVAL_DURATION","type":"date","left_side":"6 complete fiscal quarters ago","right_side":"6 quarters","is_negative":false}],"conjunction":"AND","is_negative":false},"finance__customer_quarterly_arr.source_granularity":{"kind":"EQUALS","type":"string","values":["cloud"]}},"modelId":"e3a78095-f13c-49a2-9a4c-617fca386ca4","version":8,"controls":[],"rewriteSql":true,"row_totals":{},"fill_fields":[],"calculations":[],"column_limit":50,"join_via_map":{},"column_totals":{},"userEditedSQL":"","dimensionIndex":0,"default_group_by":true,"custom_summary_types":{},"join_paths_from_topic_name":"customer_quarterly_arr"},"document_query_id":"c3023df3-39f1-4913-86c8-07d69f6caeb1","document_query_name":"Incremental Cloud ARR and Customers Over Time","drill_name":"total_customers","current_fiscal_quarter":"FY2026 Q3","previous_fiscal_quarter":"FY2026 Q2","current_fiscal_half":"FY2026 H2","previous_fiscal_half":"FY2026 H1","user_id":"893ce348-0fb2-44ac-b0f8-06521a341580","google_document_id":"1JOEw6ZleZhs63bLzAP4TwDQaSp6rfT9HncFsQ8PsIt8"}},{"json":{"current_fiscal_quarter_query":{"limit":200,"sorts":[{"column_name":"finance__customer_quarterly_arr.total_churn_arr","sort_descending":true}],"table":"finance__customer_quarterly_arr","fields":["finance__customer_quarterly_arr.fiscal_quarter[fiscal_quarter]","finance__customer_quarterly_arr.customer_name","finance__customer_quarterly_arr.first_purchase_quarter[date]","finance__customer_quarterly_arr.cribl_id","finance__customer_quarterly_arr.customer_type","finance__customer_quarterly_arr.total_starting_arr","finance__customer_quarterly_arr.total_new_arr","finance__customer_quarterly_arr.total_upsell_arr","finance__customer_quarterly_arr.total_churn_arr","finance__customer_quarterly_arr.total_downsell_arr","finance__customer_quarterly_arr.total_ending_arr"],"pivots":[],"dbtMode":false,"filters":{"finance__customer_quarterly_arr.fiscal_quarter":{"type":"composite","filters":[{"kind":"TIME_FOR_UNIT_DURATION","type":"date","left_side":""},{"kind":"TIME_FOR_INTERVAL_DURATION","type":"date","left_side":"6 complete fiscal quarters ago","right_side":"6 quarters","is_negative":false}],"conjunction":"AND","is_negative":false},"finance__customer_quarterly_arr.source_granularity":{"kind":"EQUALS","type":"string","values":["cloud"]}},"modelId":"e3a78095-f13c-49a2-9a4c-617fca386ca4","version":8,"controls":[],"rewriteSql":true,"row_totals":{},"fill_fields":[],"calculations":[],"column_limit":50,"join_via_map":{},"column_totals":{},"userEditedSQL":"","dimensionIndex":0,"default_group_by":true,"custom_summary_types":{},"join_paths_from_topic_name":"customer_quarterly_arr"},"previous_fiscal_quarter_query":{"limit":200,"sorts":[{"column_name":"finance__customer_quarterly_arr.total_churn_arr","sort_descending":true}],"table":"finance__customer_quarterly_arr","fields":["finance__customer_quarterly_arr.fiscal_quarter[fiscal_quarter]","finance__customer_quarterly_arr.customer_name","finance__customer_quarterly_arr.first_purchase_quarter[date]","finance__customer_quarterly_arr.cribl_id","finance__customer_quarterly_arr.customer_type","finance__customer_quarterly_arr.total_starting_arr","finance__customer_quarterly_arr.total_new_arr","finance__customer_quarterly_arr.total_upsell_arr","finance__customer_quarterly_arr.total_churn_arr","finance__customer_quarterly_arr.total_downsell_arr","finance__customer_quarterly_arr.total_ending_arr"],"pivots":[],"dbtMode":false,"filters":{"finance__customer_quarterly_arr.fiscal_quarter":{"type":"composite","filters":[{"kind":"TIME_FOR_UNIT_DURATION","type":"date","left_side":""},{"kind":"TIME_FOR_INTERVAL_DURATION","type":"date","left_side":"6 complete fiscal quarters ago","right_side":"6 quarters","is_negative":false}],"conjunction":"AND","is_negative":false},"finance__customer_quarterly_arr.source_granularity":{"kind":"EQUALS","type":"string","values":["cloud"]}},"modelId":"e3a78095-f13c-49a2-9a4c-617fca386ca4","version":8,"controls":[],"rewriteSql":true,"row_totals":{},"fill_fields":[],"calculations":[],"column_limit":50,"join_via_map":{},"column_totals":{},"userEditedSQL":"","dimensionIndex":0,"default_group_by":true,"custom_summary_types":{},"join_paths_from_topic_name":"customer_quarterly_arr"},"document_query_id":"c3023df3-39f1-4913-86c8-07d69f6caeb1","document_query_name":"Incremental Cloud ARR and Customers Over Time","drill_name":"total_customers","current_fiscal_quarter":"FY2026 Q3","previous_fiscal_quarter":"FY2026 Q2","current_fiscal_half":"FY2026 H2","previous_fiscal_half":"FY2026 H1","user_id":"893ce348-0fb2-44ac-b0f8-06521a341580","google_document_id":"1JOEw6ZleZhs63bLzAP4TwDQaSp6rfT9HncFsQ8PsIt8"}},{"json":{"current_fiscal_quarter_query":{"limit":200,"sorts":[{"column_name":"finance__customer_quarterly_arr.total_downsell_arr","sort_descending":true}],"table":"finance__customer_quarterly_arr","fields":["finance__customer_quarterly_arr.fiscal_quarter[fiscal_quarter]","finance__customer_quarterly_arr.customer_name","finance__customer_quarterly_arr.first_purchase_quarter[date]","finance__customer_quarterly_arr.cribl_id","finance__customer_quarterly_arr.customer_type","finance__customer_quarterly_arr.total_starting_arr","finance__customer_quarterly_arr.total_new_arr","finance__customer_quarterly_arr.total_upsell_arr","finance__customer_quarterly_arr.total_churn_arr","finance__customer_quarterly_arr.total_downsell_arr","finance__customer_quarterly_arr.total_ending_arr"],"pivots":[],"dbtMode":false,"filters":{"finance__customer_quarterly_arr.fiscal_quarter":{"type":"composite","filters":[{"kind":"TIME_FOR_UNIT_DURATION","type":"date","left_side":""},{"kind":"TIME_FOR_INTERVAL_DURATION","type":"date","left_side":"6 complete fiscal quarters ago","right_side":"6 quarters","is_negative":false}],"conjunction":"AND","is_negative":false},"finance__customer_quarterly_arr.source_granularity":{"kind":"EQUALS","type":"string","values":["cloud"]}},"modelId":"e3a78095-f13c-49a2-9a4c-617fca386ca4","version":8,"controls":[],"rewriteSql":true,"row_totals":{},"fill_fields":[],"calculations":[],"column_limit":50,"join_via_map":{},"column_totals":{},"userEditedSQL":"","dimensionIndex":0,"default_group_by":true,"custom_summary_types":{},"join_paths_from_topic_name":"customer_quarterly_arr"},"previous_fiscal_quarter_query":{"limit":200,"sorts":[{"column_name":"finance__customer_quarterly_arr.total_downsell_arr","sort_descending":true}],"table":"finance__customer_quarterly_arr","fields":["finance__customer_quarterly_arr.fiscal_quarter[fiscal_quarter]","finance__customer_quarterly_arr.customer_name","finance__customer_quarterly_arr.first_purchase_quarter[date]","finance__customer_quarterly_arr.cribl_id","finance__customer_quarterly_arr.customer_type","finance__customer_quarterly_arr.total_starting_arr","finance__customer_quarterly_arr.total_new_arr","finance__customer_quarterly_arr.total_upsell_arr","finance__customer_quarterly_arr.total_churn_arr","finance__customer_quarterly_arr.total_downsell_arr","finance__customer_quarterly_arr.total_ending_arr"],"pivots":[],"dbtMode":false,"filters":{"finance__customer_quarterly_arr.fiscal_quarter":{"type":"composite","filters":[{"kind":"TIME_FOR_UNIT_DURATION","type":"date","left_side":""},{"kind":"TIME_FOR_INTERVAL_DURATION","type":"date","left_side":"6 complete fiscal quarters ago","right_side":"6 quarters","is_negative":false}],"conjunction":"AND","is_negative":false},"finance__customer_quarterly_arr.source_granularity":{"kind":"EQUALS","type":"string","values":["cloud"]}},"modelId":"e3a78095-f13c-49a2-9a4c-617fca386ca4","version":8,"controls":[],"rewriteSql":true,"row_totals":{},"fill_fields":[],"calculations":[],"column_limit":50,"join_via_map":{},"column_totals":{},"userEditedSQL":"","dimensionIndex":0,"default_group_by":true,"custom_summary_types":{},"join_paths_from_topic_name":"customer_quarterly_arr"},"document_query_id":"c3023df3-39f1-4913-86c8-07d69f6caeb1","document_query_name":"Incremental Cloud ARR and Customers Over Time","drill_name":"total_customers","current_fiscal_quarter":"FY2026 Q3","previous_fiscal_quarter":"FY2026 Q2","current_fiscal_half":"FY2026 H2","previous_fiscal_half":"FY2026 H1","user_id":"893ce348-0fb2-44ac-b0f8-06521a341580","google_document_id":"1JOEw6ZleZhs63bLzAP4TwDQaSp6rfT9HncFsQ8PsIt8"}},{"json":{"current_fiscal_quarter_query":{"limit":200,"sorts":[{"column_name":"finance__customer_quarterly_arr.total_ending_arr","sort_descending":true}],"table":"finance__customer_quarterly_arr","fields":["finance__customer_quarterly_arr.fiscal_quarter[fiscal_quarter]","finance__customer_quarterly_arr.customer_name","finance__customer_quarterly_arr.first_purchase_quarter[date]","finance__customer_quarterly_arr.cribl_id","finance__customer_quarterly_arr.customer_type","finance__customer_quarterly_arr.total_starting_arr","finance__customer_quarterly_arr.total_new_arr","finance__customer_quarterly_arr.total_upsell_arr","finance__customer_quarterly_arr.total_churn_arr","finance__customer_quarterly_arr.total_downsell_arr","finance__customer_quarterly_arr.total_ending_arr"],"pivots":[],"dbtMode":false,"filters":{"finance__customer_quarterly_arr.fiscal_quarter":{"type":"composite","filters":[{"kind":"TIME_FOR_UNIT_DURATION","type":"date","left_side":""},{"kind":"TIME_FOR_INTERVAL_DURATION","type":"date","left_side":"6 complete fiscal quarters ago","right_side":"6 quarters","is_negative":false}],"conjunction":"AND","is_negative":false},"finance__customer_quarterly_arr.source_granularity":{"kind":"EQUALS","type":"string","values":["cloud"]}},"modelId":"e3a78095-f13c-49a2-9a4c-617fca386ca4","version":8,"controls":[],"rewriteSql":true,"row_totals":{},"fill_fields":[],"calculations":[],"column_limit":50,"join_via_map":{},"column_totals":{},"userEditedSQL":"","dimensionIndex":0,"default_group_by":true,"custom_summary_types":{},"join_paths_from_topic_name":"customer_quarterly_arr"},"previous_fiscal_quarter_query":{"limit":200,"sorts":[{"column_name":"finance__customer_quarterly_arr.total_ending_arr","sort_descending":true}],"table":"finance__customer_quarterly_arr","fields":["finance__customer_quarterly_arr.fiscal_quarter[fiscal_quarter]","finance__customer_quarterly_arr.customer_name","finance__customer_quarterly_arr.first_purchase_quarter[date]","finance__customer_quarterly_arr.cribl_id","finance__customer_quarterly_arr.customer_type","finance__customer_quarterly_arr.total_starting_arr","finance__customer_quarterly_arr.total_new_arr","finance__customer_quarterly_arr.total_upsell_arr","finance__customer_quarterly_arr.total_churn_arr","finance__customer_quarterly_arr.total_downsell_arr","finance__customer_quarterly_arr.total_ending_arr"],"pivots":[],"dbtMode":false,"filters":{"finance__customer_quarterly_arr.fiscal_quarter":{"type":"composite","filters":[{"kind":"TIME_FOR_UNIT_DURATION","type":"date","left_side":""},{"kind":"TIME_FOR_INTERVAL_DURATION","type":"date","left_side":"6 complete fiscal quarters ago","right_side":"6 quarters","is_negative":false}],"conjunction":"AND","is_negative":false},"finance__customer_quarterly_arr.source_granularity":{"kind":"EQUALS","type":"string","values":["cloud"]}},"modelId":"e3a78095-f13c-49a2-9a4c-617fca386ca4","version":8,"controls":[],"rewriteSql":true,"row_totals":{},"fill_fields":[],"calculations":[],"column_limit":50,"join_via_map":{},"column_totals":{},"userEditedSQL":"","dimensionIndex":0,"default_group_by":true,"custom_summary_types":{},"join_paths_from_topic_name":"customer_quarterly_arr"},"document_query_id":"c3023df3-39f1-4913-86c8-07d69f6caeb1","document_query_name":"Incremental Cloud ARR and Customers Over Time","drill_name":"total_customers","current_fiscal_quarter":"FY2026 Q3","previous_fiscal_quarter":"FY2026 Q2","current_fiscal_half":"FY2026 H2","previous_fiscal_half":"FY2026 H1","user_id":"893ce348-0fb2-44ac-b0f8-06521a341580","google_document_id":"1JOEw6ZleZhs63bLzAP4TwDQaSp6rfT9HncFsQ8PsIt8"}}]},"versionId":"98ccefdc-e466-426a-a9f5-271597d660ac","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-01-23T04:17:13.970Z","createdAt":"2026-01-23T04:17:13.970Z","role":"workflow:owner","workflowId":"KNaGu0JiDRPuHSkx","projectId":"2vHf2VxAoKk0WgJE"}],"activeVersion":null,"tags":[{"updatedAt":"2025-09-29T05:57:24.200Z","createdAt":"2025-09-29T05:57:24.200Z","id":"JC97st4iY7gpPYhF","name":"subworkflow"}]}