workflows/Board_Deck_Takeaways_TEST.json
{"updatedAt":"2025-12-20T05:03:13.011Z","createdAt":"2025-12-20T04:46:03.305Z","id":"ndF6sSCRTxfFwT83","name":"Board_Deck_Takeaways_TEST","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"trigger1","name":"When clicking 'Execute workflow'","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[100,300]},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"dashboard_discovery_model_version\": \"1.0\",\n  \"snowflake_base_url\": \"https://ml16699-hya89079.snowflakecomputing.com\",\n  \"omni_documents_search_service\": {\n    \"snowflake_database\": \"ANALYTICS\",\n    \"snowflake_schema\": \"OMNI\",\n    \"service_name\": \"omni_documents_search_service\"\n  },\n  \"omni_api\": {\n    \"omni_base_url\": \"https://cribl.omniapp.co\",\n    \"model_id\": \"4345b118-cbbe-4f7c-a705-ea0aa8da57c0\"\n  },\n  \"snowflake_tables\": {\n    \"omni_documents\": {\n      \"snowflake_database\": \"ANALYTICS\",\n      \"snowflake_schema\": \"OMNI\",\n      \"table_name\": \"DOCUMENTS\"\n    },\n    \"dashboard_recommendations\": {\n      \"snowflake_database\": \"RAW\",\n      \"snowflake_schema\": \"OMNI\",\n      \"table_name\": \"DASHBOARD_RECOMMENDATIONS\"\n    }\n  }\n}","includeOtherFields":true,"include":"except","excludeFields":"headers,params,query,webhookUrl,executionMode","options":{}},"id":"globalVars1","name":"Global Vars","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[300,300]},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"56a414f9-4bc9-4d41-958a-9f5652389081\": [\n    {\n      \"drill_name\": \"upsell_opps\",\n      \"query\": {\n        \"limit\": 1000,\n        \"table\": \"sales__opportunity\",\n        \"fields\": [\"sales__accounts.account_name\", \"sales__opportunity.opportunity_name\"]\n      },\n      \"sql\": \"SELECT * FROM sales__opportunity\"\n    },\n    {\n      \"drill_name\": \"new_opps\",\n      \"query\": {\n        \"limit\": 1000,\n        \"table\": \"sales__opportunity\",\n        \"fields\": [\"sales__accounts.account_name\"]\n      },\n      \"sql\": \"SELECT * FROM sales__opportunity WHERE type='new'\"\n    }\n  ]\n}","includeOtherFields":true,"options":{}},"id":"loadQueries1","name":"Load Drill Queries","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[500,300]},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"filtered_data","name":"filtered_data","type":"object","value":"={{ Object.fromEntries(Object.entries($json).filter(([key, value]) => !['headers', 'params', 'query', 'webhookUrl', 'executionMode'].includes(key) && Array.isArray(value))) }}"}]},"options":{}},"id":"prepareUUIDs1","name":"Filter System Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[700,300]},{"parameters":{"options":{"reset":false}},"id":"outerLoop1","name":"Loop Over UUIDs","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1100,300]},{"parameters":{"fieldToSplitOut":"queries","include":"selectedOtherFields","fieldsToInclude":{"fields":[{"fieldName":"uuid"}]},"options":{"destinationFieldName":"","disableDotNotation":false}},"id":"extractQueries1","name":"Expand Queries Array","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1300,450]},{"parameters":{"options":{"reset":true}},"id":"innerLoop1","name":"Loop Over Queries","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1500,450]},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"uuid","name":"uuid","type":"string","value":"={{ $json.uuid }}"},{"id":"drill_name","name":"drill_name","type":"string","value":"={{ $json.drill_name }}"},{"id":"query","name":"query","type":"object","value":"={{ $json.query || {} }}"}]},"options":{}},"id":"formatBody1","name":"Format Request Body","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1700,600]},{"parameters":{"method":"POST","url":"https://n8n-relayer-1.app.n8n.cloud/webhook/omni-pattern-detection-subworkflow","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"callbackurl","value":"={{ $execution.resumeUrl }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  query: $json.query,\n  userId: $json.userId || '893ce348-0fb2-44ac-b0f8-06521a341580'\n} }}","options":{}},"id":"httpPost1","name":"POST Drill Query","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1900,600]},{"parameters":{"amount":1},"id":"wait1","name":"Wait Between Requests","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2100,750]},{"id":"transformUUIDs1","name":"Transform to UUID Array","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[900,300],"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"uuid_items","name":"uuid_items","type":"array","value":"={{ Object.entries($json.filtered_data).map(([uuid, queries]) => ({ uuid, queries, queryCount: queries.length })) }}"}]},"options":{}}}],"connections":{"When clicking 'Execute workflow'":{"main":[[{"node":"Global Vars","type":"main","index":0}]]},"Global Vars":{"main":[[{"node":"Load Drill Queries","type":"main","index":0}]]},"Load Drill Queries":{"main":[[{"node":"Filter System Fields","type":"main","index":0}]]},"Loop Over UUIDs":{"main":[[],[{"node":"Expand Queries Array","type":"main","index":0}]]},"Expand Queries Array":{"main":[[{"node":"Loop Over Queries","type":"main","index":0}]]},"Loop Over Queries":{"main":[[{"node":"Loop Over UUIDs","type":"main","index":0}],[{"node":"Format Request Body","type":"main","index":0}]]},"Format Request Body":{"main":[[{"node":"POST Drill Query","type":"main","index":0}]]},"POST Drill Query":{"main":[[{"node":"Wait Between Requests","type":"main","index":0}]]},"Wait Between Requests":{"main":[[{"node":"Loop Over Queries","type":"main","index":0}]]},"Filter System Fields":{"main":[[{"node":"Transform to UUID Array","type":"main","index":0}]]},"Transform to UUID Array":{"main":[[{"node":"Loop Over UUIDs","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"7c0fc0b4-a1c9-4c82-b865-dfab9067d1c6","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-20T04:46:03.308Z","createdAt":"2025-12-20T04:46:03.308Z","role":"workflow:owner","workflowId":"ndF6sSCRTxfFwT83","projectId":"2vHf2VxAoKk0WgJE"}],"activeVersion":null,"tags":[]}