workflows/Board_Deck_Document_Query_Analysis_Subworkflow.json
{"updatedAt":"2026-01-27T12:29:48.339Z","createdAt":"2026-01-27T10:27:54.005Z","id":"mDJHNy6DrprAll2W","name":"Board_Deck_Document_Query_Analysis_Subworkflow","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"805ae3de-6ee2-4609-a3c4-f2dd251fd391","name":"Loop Over Queries","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1840,320],"executeOnce":false},{"parameters":{"jsCode":"\nconst currentItem = $(\"Trigger\").item.json.input;\n\n\nif (!currentItem.document_query_id || !currentItem.queries) {\n  return [{\n    json: {\n      error: 'Missing required fields: document_query_id or queries',\n      received: currentItem\n    }\n  }];\n}\n\nconst document_query_id = currentItem.document_query_id;\nconst queries = currentItem.queries;\n\nif (!Array.isArray(queries)) {\n  return [{\n    json: {\n      error: 'queries is not an array',\n      type: typeof queries\n    }\n  }];\n}\n\nreturn queries.map(query => ({\n  json: {\n    document_query_id: document_query_id,\n    document_query_name: query.document_query_name || '',\n    drill_name: query.drill_name || 'unnamed_drill',\n    query: query.query || {}\n  }\n}));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1264,144],"id":"b574817d-b864-44bb-975b-1741e6d29241","name":"Extract Queries for UUID"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"document_query_id\": \"{{ $('Loop Query Item').item.json.document_query_id }}\",\n  \"document_query_name\": \"{{ $('Loop Query Item').item.json.document_query_name }}\",\n  \"drill_name\": \"{{ $('Loop Over Queries').item.json.drill_name }}\",\n  \"current_fiscal_quarter\": \"{{ $('Trigger').item.json.input.current_fiscal_quarter }}\",\n  \"previous_fiscal_quarter\": \"{{ $('Trigger').item.json.input.previous_fiscal_quarter }}\",\n  \"user_id\": \"{{ $('Trigger').item.json.input.default_user_id }}\",\n  \"current_fiscal_quarter_query\": {{ $('Parse Modified Query AI Output1').item.json.current_fiscal_quarter_query || {} }},\n  \"previous_fiscal_quarter_query\": {{ $('Parse Modified Query AI Output1').item.json.previous_fiscal_quarter_query || {} }},\n  \"google_document_id\": \"{{ $('Create Chart Document').item.json.id }}\"\n\n}\n\n\n\n","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3840,528],"id":"ad009bca-b0cf-4271-b064-fb041136936d","name":"Create Request Payload"},{"parameters":{"schemaType":"manual","inputSchema":"{\n    \"type\": \"object\",\n    \"properties\": {\n      \"limit\": {\n        \"type\": \"number\",\n        \"description\": \"Maximum number of rows to return\"\n      },\n      \"sorts\": {\n        \"type\": \"array\",\n        \"description\": \"Array of sort configuration objects\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"column_name\": {\n              \"type\": \"string\",\n              \"description\": \"Full field name to sort by (must exist in fields array)\"\n            },\n            \"sort_descending\": {\n              \"type\": \"boolean\",\n              \"description\": \"true for descending (highest first), false for ascending\"\n            },\n            \"null_sort\": {\n              \"type\": \"string\",\n              \"description\": \"Optional: How to handle NULL values (OMNI_DEFAULT, NULLS_FIRST, NULLS_LAST)\",\n              \"enum\": [\"OMNI_DEFAULT\", \"NULLS_FIRST\", \"NULLS_LAST\"]\n            },\n            \"is_column_sort\": {\n              \"type\": \"boolean\",\n              \"description\": \"Optional: Whether this is a column-based sort vs aggregation sort\"\n            }\n          },\n          \"required\": [\"column_name\", \"sort_descending\"]\n        }\n      },\n      \"table\": {\n        \"type\": \"string\",\n        \"description\": \"The primary table/view to query (format: schema__table)\"\n      },\n      \"fields\": {\n        \"type\": \"array\",\n        \"description\": \"List of column names to SELECT\",\n        \"items\": {\n          \"type\": \"string\"\n        }\n      },\n      \"pivots\": {\n        \"type\": \"array\",\n        \"description\": \"Pivot table configuration\"\n      },\n      \"dbtMode\": {\n        \"type\": \"boolean\",\n        \"description\": \"Whether to use dbt model directly\"\n      },\n      \"filters\": {\n        \"type\": \"object\",\n        \"description\": \"WHERE clause conditions\"\n      },\n      \"modelId\": {\n        \"type\": \"string\",\n        \"description\": \"Omni model identifier (UUID format)\"\n      },\n      \"version\": {\n        \"type\": \"number\",\n        \"description\": \"Query schema version\"\n      },\n      \"controls\": {\n        \"type\": \"array\",\n        \"description\": \"Dashboard filter controls\"\n      },\n      \"rewriteSql\": {\n        \"type\": \"boolean\",\n        \"description\": \"Allow SQL rewriting for optimization\"\n      },\n      \"row_totals\": {\n        \"type\": \"object\",\n        \"description\": \"Row totaling configuration\"\n      },\n      \"fill_fields\": {\n        \"type\": \"array\",\n        \"description\": \"Fields to fill with default values\"\n      },\n      \"calculations\": {\n        \"type\": \"array\",\n        \"description\": \"Custom calculated fields\"\n      },\n      \"column_limit\": {\n        \"type\": \"number\",\n        \"description\": \"Maximum columns to return\"\n      },\n      \"join_via_map\": {\n        \"type\": \"object\",\n        \"description\": \"Custom join configurations\"\n      },\n      \"column_totals\": {\n        \"type\": \"object\",\n        \"description\": \"Column totaling configuration\"\n      },\n      \"userEditedSQL\": {\n        \"type\": \"string\",\n        \"description\": \"User-overridden SQL\"\n      },\n      \"dimensionIndex\": {\n        \"type\": \"number\",\n        \"description\": \"Dimension ordering\"\n      },\n      \"default_group_by\": {\n        \"type\": \"boolean\",\n        \"description\": \"Use default grouping\"\n      },\n      \"custom_summary_types\": {\n        \"type\": \"object\",\n        \"description\": \"Custom aggregation types\"\n      },\n      \"join_paths_from_topic_name\": {\n        \"type\": \"string\",\n        \"description\": \"Topic/model name for joins\"\n      }\n    },\n    \"required\": [\n      \"limit\",\n      \"sorts\",\n      \"table\",\n      \"fields\",\n      \"pivots\",\n      \"dbtMode\",\n      \"filters\",\n      \"modelId\",\n      \"version\",\n      \"controls\",\n      \"rewriteSql\",\n      \"row_totals\",\n      \"fill_fields\",\n      \"calculations\",\n      \"column_limit\",\n      \"join_via_map\",\n      \"column_totals\",\n      \"userEditedSQL\",\n      \"dimensionIndex\",\n      \"default_group_by\",\n      \"custom_summary_types\",\n      \"join_paths_from_topic_name\"\n    ]\n  }"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2720,560],"id":"3f29bec3-cc32-4a9e-ac0c-42acb3a31a18","name":"Structured Output Parser2"},{"parameters":{"jsCode":"\n// for (const item of $input.all()) {\n//   let output = JSON.parse(item.json.output);\n\n//   if (\"current_fiscal_quarter_query\" in output) {\n//     item.json.current_fiscal_quarter_query = output.current_fiscal_quarter_query;\n//   }\n\n//   if (\"previous_fiscal_quarter_query\" in output) {\n//     item.json.previous_fiscal_quarter_query = output.previous_fiscal_quarter_query;\n//   }\n  \n//   if (\"query\" in output) {\n//     item.json.query = output.query;\n//   }\n\n//   delete item.json.output;\n// }\n\n// return $input.all();\n\n\nconst results = [];\n\nfor (const item of $input.all()) {\n  let output = JSON.parse(item.json.output);\n\n  // Handle the new array format\n  if (Array.isArray(output)) {\n    // Each element in the array is a query pair for a single measure\n    for (const queryPair of output) {\n      const newItem = {\n        json: {\n          ...item.json,\n          sorted_by_measure: queryPair.sorted_by_measure,\n          current_fiscal_quarter_query: queryPair.current_fiscal_quarter_query,\n          previous_fiscal_quarter_query: queryPair.previous_fiscal_quarter_query\n        }\n      };\n      delete newItem.json.output;\n      results.push(newItem);\n    }\n  }\n  // Backwards compatibility: handle old object format\n  else if (typeof output === 'object' && output !== null) {\n    if (\"current_fiscal_quarter_query\" in output) {\n      item.json.current_fiscal_quarter_query = output.current_fiscal_quarter_query;\n    }\n    if (\"previous_fiscal_quarter_query\" in output) {\n      item.json.previous_fiscal_quarter_query = output.previous_fiscal_quarter_query;\n    }\n    if (\"query\" in output) {\n      item.json.query = output.query;\n    }\n    if (\"error\" in output) {\n      item.json.error = output.error;\n      item.json.details = output.details;\n    }\n    delete item.json.output;\n    results.push(item);\n  }\n}\n\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3424,336],"id":"e52ea67f-a690-48e4-aac1-761df22c371f","name":"Parse Modified Query AI Output1"},{"parameters":{"model":"gpt-5-mini","options":{"timeout":360000}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[2928,560],"id":"23da83ec-5a39-4951-a6a9-e4c81141aa0b","name":"gpt-5-mini","credentials":{"azureOpenAiApi":{"id":"ljEp6Un527XmKGRN","name":"Azure OpenAI gpt-5-mini"}}},{"parameters":{"promptType":"define","text":"=<role>\nYou are a JSON-transformation agent who generates multiple BI-tool query pairs for fiscal quarter comparisons, with each pair sorted by a single numeric measure.\n</role>\n\n<task>\nGoal: Produce an **array of query pairs**, one pair per numeric measure, where each pair contains queries sorted by a single measure with different fiscal quarter filters.\n\nPlan of action (follow sequentially):\n1. Parse the input JSON exactly as received; preserve every field order and value.\n2. **Identify Measures**: Scan the \"fields\" array to identify all numeric measures using the inclusion/exclusion patterns.\n3. **Locate Filters**:\n   a. Detect filter structure (nested field-keyed OR array-based conditions)\n   b. Find the first filter where `\"kind\": \"TIME_FOR_UNIT_DURATION\"` (required)\n   c. Find the first filter where `\"kind\": \"TIME_FOR_INTERVAL_DURATION\"` (optional)\n4. **Generate Query Pairs**: For each numeric measure identified:\n   a. Create a query pair object with that single measure in the \"sorts\" array.\n   b. For `current_fiscal_quarter_query`:\n      - Set TIME_FOR_UNIT_DURATION \"left_side\" to {current_fiscal_quarter}\n      - If TIME_FOR_INTERVAL_DURATION exists: set \"left_side\" to \"1 complete fiscal quarters ago\", \"right_side\" to \"1 quarters\"\n      - Set \"limit\" to 200\n   c. For `previous_fiscal_quarter_query`:\n      - Set TIME_FOR_UNIT_DURATION \"left_side\" to {previous_fiscal_quarter}\n      - If TIME_FOR_INTERVAL_DURATION exists: set \"left_side\" to \"2 complete fiscal quarters ago\", \"right_side\" to \"1 quarters\"\n      - Set \"limit\" to 200\n   d. Include `sorted_by_measure` metadata field with the measure name.\n5. **Return**: A JSON array where each element is a query pair object containing `sorted_by_measure`, `current_fiscal_quarter_query`, and `previous_fiscal_quarter_query`.\n</task>\n\n<context>\nYou will receive:\n• A complete JSON object named \"query\" following Omni analytics query structure\n• Two strings:\n  – current_fiscal_quarter\n  – previous_fiscal_quarter\n\nThe query object contains these key fields:\n- **fields**: Array of column names to SELECT and display (format: \"schema__table.field_name\")\n- **sorts**: Array of sort configuration objects (you will modify this)\n- **filters**: Object containing WHERE clause conditions\n- **limit**: Numeric value for row limit (you will set this to 200)\n- **table**: String reference to the data table\n- **modelId**: Omni model identifier (UUID)\n- **version**: Query schema version\n- **Other fields**: pivots, calculations, etc. (preserve unchanged)\n\nModify **ONLY**:\n- The \"sorts\" array (replacing it with a single-measure sort)\n- The \"limit\" value (set to 200)\n- TIME_FOR_UNIT_DURATION filter: `left_side` value\n- TIME_FOR_INTERVAL_DURATION filter (if present): `left_side` and `right_side` values\nAll other content must remain bit-for-bit identical, including whitespace and ordering. We prefer the simplest workflow that fully handles edge cases and follows security-best practices.\n</context>\n\n<numeric_measure_identification>\n<step_1>\n<description>\nIdentify Numeric Measures in Fields Array\n\nScan the \"fields\" array and identify numeric measures using these patterns:\n</description>\n\n<inclusion_patterns>\nInclusion Patterns (these ARE numeric measures):\n- `total_*` → e.g., total_ending_arr, total_customers, total_new_arr\n- `*_arr` → e.g., new_arr, upsell_arr, churn_arr, downsell_arr\n- `*_sum` → e.g., revenue_sum, new_arr_sum\n- `*_count` → e.g., opportunity_count, customer_count\n- `*_max`, `*_min` → e.g., lake_gbs_customer_data_max, min_date\n- `*_avg`, `*_average`, `*_mean` → e.g., avg_deal_size, mean_time_to_close\n- `*_gb`, `*_tb`, `*_bytes` → e.g., total_cloud_stream_in_gb_30d, total_edge_in_bytes\n- `*_nodes`, `*_instances` → e.g., total_edge_nodes, cloud_edge_nodes_30d\n- `*_percentage`, `*_percent`, `*_rate`, `*_ratio` → percentage/ratio metrics\n- `*_revenue`, `*_bookings`, `*_billings` → financial metrics\n- `*_headcount`, `*_employees`, `*_users` → when aggregated\n- `*_derived` → e.g., new_arr_derived, calculated_revenue_derived\n- `cumulative_*` → e.g., cumulative_revenue\n- `max_*`, `min_*` → e.g., max_edge_nodes, min_starting_arr\n</inclusion_patterns>\n\n<exclusion_patterns>\nExclusion Patterns (these are NOT numeric measures - they're dimensions):\n- `*_name`, `*_title` → e.g., customer_name, account_name, owner_name\n- `*_id` → e.g., cribl_id, org_id, opportunity_id (identifiers are dimensions)\n- `*_date`, `*_time`, `*_timestamp` → e.g., close_date, created_at\n- `*_type`, `*_category`, `*_status` → e.g., customer_type, stage_name\n- `*_description`, `*_notes` → text descriptions\n- `is_*`, `has_*` → e.g., is_last_day_of_fq, is_active (boolean flags)\n- Fields with `[transformations]` → e.g., fiscal_quarter[fiscal_quarter], first_purchase_quarter[date]\n- `owner_*`, `created_by_*`, `updated_by_*` → user references\n- `*_key` → lookup keys\n</exclusion_patterns>\n\n<pattern_matching_rules>\nPattern Matching Rules (Regex):\n```\nINCLUDE if field name matches ANY of:\n  - ^.*total_.*$              (contains \"total_\")\n  - ^.*_arr$                  (ends with \"_arr\")\n  - ^.*_sum$                  (ends with \"_sum\")\n  - ^.*_count$                (ends with \"_count\")\n  - ^.*_max$                  (ends with \"_max\")\n  - ^.*_min$                  (ends with \"_min\")\n  - ^.*_avg$|^.*_mean$        (ends with \"_avg\" or \"_mean\")\n  - ^.*_gb.*$|^.*_bytes.*$    (contains \"_gb\" or \"_bytes\")\n  - ^.*_nodes.*$              (contains \"_nodes\")\n  - ^.*_derived$              (ends with \"_derived\")\n  - ^max_.*$|^min_.*$         (starts with \"max_\" or \"min_\")\n  - ^cumulative_.*$           (starts with \"cumulative_\")\n\nEXCLUDE if field name matches ANY of:\n  - ^.*_name$|^.*_title$      (ends with \"_name\" or \"_title\")\n  - ^.*_id$                   (ends with \"_id\")\n  - ^.*date.*$|^.*quarter.*$  (contains \"date\" or \"quarter\")\n  - ^.*_at$                   (ends with \"_at\")\n  - ^.*_type$|^.*_status$     (ends with \"_type\" or \"_status\")\n  - ^.*_stage$                (ends with \"_stage\")\n  - ^is_.*$|^has_.*$          (starts with \"is_\" or \"has_\")\n  - ^.*\\[.*\\]$                (contains brackets)\n```\n</pattern_matching_rules>\n\n<example_field_analysis>\nExample Field Analysis:\n- `finance__customer_quarterly_arr.total_customers` → ✅ NUMERIC MEASURE (matches `total_*`)\n- `finance__customer_quarterly_arr.customer_name` → ❌ DIMENSION (matches `*_name`)\n- `finance__customer_quarterly_arr.total_arr` → ✅ NUMERIC MEASURE (matches `total_*` and `*_arr`)\n- `finance__customer_quarterly_arr.fiscal_quarter_name` → ❌ DIMENSION (matches `*_name`)\n- `finance__customer_quarterly_arr.new_arr_sum` → ✅ NUMERIC MEASURE (matches `*_sum`)\n- `finance__customer_quarterly_arr.fiscal_quarter[fiscal_quarter]` → ❌ DIMENSION (has brackets)\n</example_field_analysis>\n</step_1>\n</numeric_measure_identification>\n\n<sort_object_creation>\n<step_2>\n<description>\nIdentify Measures for Individual Query Generation\n\nFor each identified numeric measure, you will create a **separate query pair**. Each query pair will have a single-element \"sorts\" array containing only that measure:\n\n```json\n{\n  \"column_name\": \"schema__table.field_name\",\n  \"sort_descending\": true\n}\n```\n</description>\n\n<field_definitions>\nField Definitions:\n- **column_name** (required, string): The exact field reference from the fields array\n- **sort_descending** (required, boolean): Set to `true` for descending sort (largest values first)\n</field_definitions>\n\n<sort_direction_guidelines>\nSort Direction Guidelines:\n- Numeric measures: Use `true` (descending) to show largest values first\n- This is the standard for BI tools to show \"top performers\" or \"highest values\"\n</sort_direction_guidelines>\n\n<one_measure_per_query>\nOne Measure Per Query:\n- Each query pair is sorted by exactly ONE measure\n- If there are N numeric measures, you will generate N query pairs\n- Existing sorts in the input are **replaced entirely** (not appended to)\n- Each query pair's sorts array contains a single sort object\n</one_measure_per_query>\n\n<example>\nExample:\nInput fields:\n```json\n[\n  \"finance__customer_quarterly_arr.customer_name\",\n  \"finance__customer_quarterly_arr.total_ending_arr\",\n  \"finance__customer_quarterly_arr.total_new_arr\"\n]\n```\n\nIdentified numeric measures:\n1. `finance__customer_quarterly_arr.total_ending_arr`\n2. `finance__customer_quarterly_arr.total_new_arr`\n\nThis will result in **2 query pairs**:\n- Query pair 1: sorted by `total_ending_arr` only\n- Query pair 2: sorted by `total_new_arr` only\n\nNote: `customer_name` is excluded because it ends with `_name` (dimension, not measure).\n</example>\n</step_2>\n</sort_object_creation>\n\n<filter_structure_detection>\n<description>\nDetect Filter Structure Type\n\nThe query may use one of two filter structures. Detect which one is present:\n</description>\n\n<structure_a>\nStructure A: Nested Field-Keyed (Most Common in Production)\n- Root \"filters\" object has field names as keys (e.g., \"schema__table.field_name\")\n- Each field key contains a composite with \"filters\" array and \"conjunction\"\n- Traverse: filters[field_key].filters[] to find KIND filters\n\nDetection:\n- Check if filters has keys that look like field names (contain \"__\" and \".\")\n- Check if those values have \"filters\" array (not \"conditions\")\n\nExample:\n```json\n\"filters\": {\n  \"finance__customer_quarterly_arr.fiscal_quarter\": {\n    \"type\": \"composite\",\n    \"filters\": [\n      {\"kind\": \"TIME_FOR_UNIT_DURATION\", ...},\n      {\"kind\": \"TIME_FOR_INTERVAL_DURATION\", ...}\n    ],\n    \"conjunction\": \"AND\"\n  }\n}\n```\n</structure_a>\n\n<structure_b>\nStructure B: Array-Based Conditions\n- Root \"filters\" object is a single composite with \"conditions\" array\n- Uses \"operator\" instead of \"conjunction\"\n- Traverse: filters.conditions[] to find KIND filters\n\nDetection:\n- Check if filters has \"conditions\" key\n- Check if filters has \"operator\" key\n\nExample:\n```json\n\"filters\": {\n  \"type\": \"composite\",\n  \"operator\": \"and\",\n  \"conditions\": [\n    {\"kind\": \"TIME_FOR_UNIT_DURATION\", ...}\n  ]\n}\n```\n</structure_b>\n\n<traversal_algorithm>\nTraversal Algorithm (pseudocode):\n\n```\nfunction findFiltersArray(filters):\n    // Structure B check first\n    if filters.conditions exists:\n        return filters.conditions\n\n    // Structure A check - search all field-keyed values\n    for each key in filters:\n        if key contains \"__\" AND filters[key].filters exists:\n            // Found a field-keyed composite, search its filters\n            for each filter in filters[key].filters:\n                if filter.kind matches target:\n                    return filter\n            // Also check for nested composites\n            for each filter in filters[key].filters:\n                if filter.type == \"composite\" AND filter.filters exists:\n                    // Recursively search nested composite\n                    result = findInNestedComposite(filter)\n                    if result: return result\n    return null\n```\n</traversal_algorithm>\n</filter_structure_detection>\n\n<pattern_detection>\n<description>\nDetect Filter Pattern Type\n\nAfter detecting the filter structure, identify which pattern the filters follow. Each pattern requires different handling:\n</description>\n\n<pattern_1>\nPattern 1: TIME_FOR_UNIT_DURATION + TIME_FOR_INTERVAL_DURATION (Most Common ~35 instances)\n\nDetection: Both filter kinds present in the same composite\n\nStructure:\n```json\n\"filters\": [\n  {\"kind\": \"TIME_FOR_UNIT_DURATION\", \"left_side\": \"FY2026 Q3\"},\n  {\"kind\": \"TIME_FOR_INTERVAL_DURATION\", \"left_side\": \"6 complete fiscal quarters ago\", \"right_side\": \"6 quarters\"}\n]\n```\n\nAction: Handle both filters\n- TIME_FOR_UNIT_DURATION: Set `left_side` from INPUT (current_fiscal_quarter or previous_fiscal_quarter)\n- TIME_FOR_INTERVAL_DURATION: Set HARDCODED values (left_side: \"1/2 complete fiscal quarters ago\", right_side: \"1 quarters\")\n</pattern_1>\n\n<pattern_2>\nPattern 2: TIME_FOR_UNIT_DURATION + BETWEEN (~6 instances)\n\nDetection: TIME_FOR_UNIT_DURATION exists, no TIME_FOR_INTERVAL_DURATION, BETWEEN filter present\n\nStructure:\n```json\n\"filters\": [\n  {\"kind\": \"TIME_FOR_UNIT_DURATION\", \"left_side\": \"FY2026 Q3\"},\n  {\"kind\": \"BETWEEN\", \"left_side\": \"2024-05-01\", \"right_side\": \"2025-04-30\"}\n]\n```\n\nAction: Handle TIME_FOR_UNIT_DURATION only, leave BETWEEN unchanged\n- TIME_FOR_UNIT_DURATION: Set `left_side` from INPUT\n- BETWEEN: Leave unchanged (no modification)\n</pattern_2>\n\n<pattern_3>\nPattern 3: Nested OR Composites with BETWEEN (~3 instances)\n\nDetection: TIME_FOR_INTERVAL_DURATION exists inside a nested composite with conjunction \"OR\" alongside a BETWEEN filter\n\nStructure:\n```json\n\"filters\": [\n  {\"kind\": \"TIME_FOR_UNIT_DURATION\", \"left_side\": \"FY2027 Q1\"},\n  {\n    \"type\": \"composite\",\n    \"conjunction\": \"OR\",\n    \"filters\": [\n      {\"kind\": \"TIME_FOR_INTERVAL_DURATION\", \"left_side\": \"2 complete fiscal quarters ago\", \"right_side\": \"2 quarters\"},\n      {\"kind\": \"BETWEEN\", \"left_side\": \"0 fiscal quarters ago\", \"right_side\": \"2 fiscal quarters from now\"}\n    ]\n  }\n]\n```\n\nAction: Flatten structure to Pattern 1\n1. Find TIME_FOR_UNIT_DURATION and modify `left_side`\n2. Find TIME_FOR_INTERVAL_DURATION inside nested composite\n3. Lift TIME_FOR_INTERVAL_DURATION to the parent filters array\n4. Drop the nested OR composite containing BETWEEN\n5. Modify TIME_FOR_INTERVAL_DURATION with hardcoded values\n\nOutput structure:\n```json\n\"filters\": [\n  {\"kind\": \"TIME_FOR_UNIT_DURATION\", \"left_side\": \"FY2026 Q3\"},\n  {\"kind\": \"TIME_FOR_INTERVAL_DURATION\", \"left_side\": \"1 complete fiscal quarters ago\", \"right_side\": \"1 quarters\"}\n]\n```\n</pattern_3>\n\n<pattern_4>\nPattern 4: Two TIME_FOR_INTERVAL_DURATION filters (~1 instance)\n\nDetection: Two TIME_FOR_INTERVAL_DURATION filters exist - one RELATIVE (contains \"fiscal quarters ago\") and one SPECIFIC DATE (YYYY-MM-DD format)\n\nStructure:\n```json\n\"filters\": [\n  {\"kind\": \"TIME_FOR_INTERVAL_DURATION\", \"left_side\": \"6 complete fiscal quarters ago\", \"right_side\": \"6 quarters\"},\n  {\"kind\": \"TIME_FOR_INTERVAL_DURATION\", \"left_side\": \"2024-05-01\", \"right_side\": \"1 year\"}\n]\n```\n\nAction: Keep only the RELATIVE filter, drop the SPECIFIC DATE filter\n- Detection Rules:\n  - RELATIVE filter: `left_side` contains \"fiscal quarters ago\" or similar relative terms\n  - SPECIFIC DATE filter: `left_side` is a date string (YYYY-MM-DD format)\n\n1. Remove the specific date TIME_FOR_INTERVAL_DURATION\n2. Modify the relative TIME_FOR_INTERVAL_DURATION with hardcoded values\n3. Add TIME_FOR_UNIT_DURATION if missing (using input fiscal quarter)\n\nOutput structure:\n```json\n\"filters\": [\n  {\"kind\": \"TIME_FOR_UNIT_DURATION\", \"left_side\": \"FY2026 Q3\"},\n  {\"kind\": \"TIME_FOR_INTERVAL_DURATION\", \"left_side\": \"1 complete fiscal quarters ago\", \"right_side\": \"1 quarters\"}\n]\n```\n</pattern_4>\n\n<pattern_5>\nPattern 5: BEFORE filter on a separate field (~3 instances)\n\nDetection: BEFORE filter exists on a different field than the TIME_FOR_UNIT_DURATION/TIME_FOR_INTERVAL_DURATION filters\n\nStructure:\n```json\n\"filters\": {\n  \"sales__opportunity.close_date\": {\n    \"type\": \"composite\",\n    \"filters\": [\n      {\"kind\": \"TIME_FOR_UNIT_DURATION\", ...},\n      {\"kind\": \"TIME_FOR_INTERVAL_DURATION\", ...}\n    ]\n  },\n  \"sales__opportunity.stage_last_updated\": {\n    \"kind\": \"BEFORE\",\n    \"type\": \"date\",\n    \"right_side\": \"2025-11-03\"\n  }\n}\n```\n\nAction: Drop the BEFORE filter if time duration filters exist\n- Remove the entire BEFORE filter field from the output\n- Process TIME_FOR_UNIT_DURATION and TIME_FOR_INTERVAL_DURATION as normal\n</pattern_5>\n</pattern_detection>\n\n<query_modification>\n<step_3>\n<description>\nGenerate Multiple Query Copies - One Per Measure\n\nFor each numeric measure identified, create a separate query pair. Each pair contains two queries (current and previous FQ), both sorted by that single measure.\n</description>\n\n<input_query>\nInput Query:\n```json\n{\n  \"sorts\": [],\n  \"fields\": [\n    \"finance__customer_quarterly_arr.fiscal_quarter_name\",\n    \"finance__customer_quarterly_arr.total_customers\",\n    \"finance__customer_quarterly_arr.total_arr\"\n  ]\n}\n```\n\nNumeric measures identified: `total_customers`, `total_arr` (2 measures)\n</input_query>\n\n<output_query_pairs>\nOutput: Array with 2 query pairs\n\n**Query Pair 1 - Sorted by total_customers:**\n```json\n{\n  \"sorted_by_measure\": \"finance__customer_quarterly_arr.total_customers\",\n  \"current_fiscal_quarter_query\": {\n    \"sorts\": [{ \"column_name\": \"finance__customer_quarterly_arr.total_customers\", \"sort_descending\": true }],\n    /* ... rest of query with current FQ filter, limit: 200 */\n  },\n  \"previous_fiscal_quarter_query\": {\n    \"sorts\": [{ \"column_name\": \"finance__customer_quarterly_arr.total_customers\", \"sort_descending\": true }],\n    /* ... rest of query with previous FQ filter, limit: 200 */\n  }\n}\n```\n\n**Query Pair 2 - Sorted by total_arr:**\n```json\n{\n  \"sorted_by_measure\": \"finance__customer_quarterly_arr.total_arr\",\n  \"current_fiscal_quarter_query\": {\n    \"sorts\": [{ \"column_name\": \"finance__customer_quarterly_arr.total_arr\", \"sort_descending\": true }],\n    /* ... rest of query with current FQ filter, limit: 200 */\n  },\n  \"previous_fiscal_quarter_query\": {\n    \"sorts\": [{ \"column_name\": \"finance__customer_quarterly_arr.total_arr\", \"sort_descending\": true }],\n    /* ... rest of query with previous FQ filter, limit: 200 */\n  }\n}\n```\n</output_query_pairs>\n</step_3>\n</query_modification>\n\n<fiscal_quarter_modification>\n<step_4>\n<description>\nModify Fiscal Quarter Filters and Limit\n\nAfter adding sorts, locate and modify the time-based filters:\n\n1. **TIME_FOR_UNIT_DURATION** (required):\n   - Find the first filter where `\"kind\": \"TIME_FOR_UNIT_DURATION\"`\n   - Modify `left_side` value based on query type\n\n2. **TIME_FOR_INTERVAL_DURATION** (optional):\n   - Find the first filter where `\"kind\": \"TIME_FOR_INTERVAL_DURATION\"`\n   - If found, modify both `left_side` and `right_side` values\n   - If not found, skip silently (do not add or error)\n</description>\n\n<time_for_unit_duration_structure>\nTIME_FOR_UNIT_DURATION Filter Structure:\n```json\n{\n  \"kind\": \"TIME_FOR_UNIT_DURATION\",\n  \"type\": \"date\",\n  \"left_side\": \"FY2026 Q3\"\n}\n```\n\nModifications:\n- **current_fiscal_quarter_query**: Set `left_side` to the value of {current_fiscal_quarter} from input\n  - Example: If input has `\"current_fiscal_quarter\": \"FY2026 Q3\"`, set `left_side` to `\"FY2026 Q3\"`\n- **previous_fiscal_quarter_query**: Set `left_side` to the value of {previous_fiscal_quarter} from input\n  - Example: If input has `\"previous_fiscal_quarter\": \"FY2026 Q2\"`, set `left_side` to `\"FY2026 Q2\"`\n</time_for_unit_duration_structure>\n\n<time_for_interval_duration_structure>\nTIME_FOR_INTERVAL_DURATION Filter Structure:\n```json\n{\n  \"kind\": \"TIME_FOR_INTERVAL_DURATION\",\n  \"type\": \"date\",\n  \"left_side\": \"6 complete fiscal quarters ago\",\n  \"right_side\": \"6 quarters\",\n  \"is_negative\": false\n}\n```\n\nModifications (HARDCODED VALUES - do not use input variables):\n- **current_fiscal_quarter_query**:\n  - Set `left_side` to exactly: `\"1 complete fiscal quarters ago\"`\n  - Set `right_side` to exactly: `\"1 quarters\"`\n- **previous_fiscal_quarter_query**:\n  - Set `left_side` to exactly: `\"2 complete fiscal quarters ago\"`\n  - Set `right_side` to exactly: `\"1 quarters\"`\n\nNote: These values are FIXED strings, not derived from input. The `right_side` is always `\"1 quarters\"` for both query types. Only the `left_side` differs.\n</time_for_interval_duration_structure>\n\n<limit_modification>\nLimit Modification:\n- Set `limit` to 200 in all output queries\n</limit_modification>\n</step_4>\n</fiscal_quarter_modification>\n\n<examples>\n<example_1>\n<title>Pattern 1: TIME_FOR_UNIT_DURATION + TIME_FOR_INTERVAL_DURATION (Most Common)</title>\n\n<input>\n```json\n{\n  \"query\": {\n    \"limit\": 1000,\n    \"sorts\": [],\n    \"table\": \"finance__customer_quarterly_arr\",\n    \"fields\": [\n      \"finance__customer_quarterly_arr.customer_name\",\n      \"finance__customer_quarterly_arr.total_ending_arr\"\n    ],\n    \"filters\": {\n      \"finance__customer_quarterly_arr.fiscal_quarter\": {\n        \"type\": \"composite\",\n        \"filters\": [\n          {\"kind\": \"TIME_FOR_UNIT_DURATION\", \"type\": \"date\", \"left_side\": \"FY2026 Q3\"},\n          {\"kind\": \"TIME_FOR_INTERVAL_DURATION\", \"type\": \"date\", \"left_side\": \"6 complete fiscal quarters ago\", \"right_side\": \"6 quarters\", \"is_negative\": false}\n        ],\n        \"conjunction\": \"AND\"\n      }\n    },\n    \"modelId\": \"e3a78095-f13c-49a2-9a4c-617fca386ca4\",\n    \"version\": 8\n  },\n  \"current_fiscal_quarter\": \"FY2026 Q3\",\n  \"previous_fiscal_quarter\": \"FY2026 Q2\"\n}\n```\n</input>\n\n<processing_steps>\nProcessing Steps:\n\n**Step 1: Identify numeric measures**\n- ❌ `customer_name` → ends with `_name` (dimension)\n- ✅ `total_ending_arr` → matches `total_*` (measure)\n\n**Result:** 1 numeric measure identified → will generate 1 query pair\n\n**Step 2: Detect filter structure**\n- Structure A detected (nested field-keyed)\n\n**Step 3: Detect filter pattern**\n- Pattern 1 detected (TIME_FOR_UNIT_DURATION + TIME_FOR_INTERVAL_DURATION)\n\n**Step 4: Generate query pair with filter modifications**\n- TIME_FOR_UNIT_DURATION: Set left_side from input\n- TIME_FOR_INTERVAL_DURATION: Set hardcoded values\n</processing_steps>\n\n<expected_output>\n```json\n[\n  {\n    \"sorted_by_measure\": \"finance__customer_quarterly_arr.total_ending_arr\",\n    \"current_fiscal_quarter_query\": {\n      \"limit\": 200,\n      \"sorts\": [{\"column_name\": \"finance__customer_quarterly_arr.total_ending_arr\", \"sort_descending\": true}],\n      \"table\": \"finance__customer_quarterly_arr\",\n      \"fields\": [\n        \"finance__customer_quarterly_arr.customer_name\",\n        \"finance__customer_quarterly_arr.total_ending_arr\"\n      ],\n      \"filters\": {\n        \"finance__customer_quarterly_arr.fiscal_quarter\": {\n          \"type\": \"composite\",\n          \"filters\": [\n            {\"kind\": \"TIME_FOR_UNIT_DURATION\", \"type\": \"date\", \"left_side\": \"FY2026 Q3\"},\n            {\"kind\": \"TIME_FOR_INTERVAL_DURATION\", \"type\": \"date\", \"left_side\": \"1 complete fiscal quarters ago\", \"right_side\": \"1 quarters\", \"is_negative\": false}\n          ],\n          \"conjunction\": \"AND\"\n        }\n      },\n      \"modelId\": \"e3a78095-f13c-49a2-9a4c-617fca386ca4\",\n      \"version\": 8\n    },\n    \"previous_fiscal_quarter_query\": {\n      \"limit\": 200,\n      \"sorts\": [{\"column_name\": \"finance__customer_quarterly_arr.total_ending_arr\", \"sort_descending\": true}],\n      \"table\": \"finance__customer_quarterly_arr\",\n      \"fields\": [\n        \"finance__customer_quarterly_arr.customer_name\",\n        \"finance__customer_quarterly_arr.total_ending_arr\"\n      ],\n      \"filters\": {\n        \"finance__customer_quarterly_arr.fiscal_quarter\": {\n          \"type\": \"composite\",\n          \"filters\": [\n            {\"kind\": \"TIME_FOR_UNIT_DURATION\", \"type\": \"date\", \"left_side\": \"FY2026 Q2\"},\n            {\"kind\": \"TIME_FOR_INTERVAL_DURATION\", \"type\": \"date\", \"left_side\": \"2 complete fiscal quarters ago\", \"right_side\": \"1 quarters\", \"is_negative\": false}\n          ],\n          \"conjunction\": \"AND\"\n        }\n      },\n      \"modelId\": \"e3a78095-f13c-49a2-9a4c-617fca386ca4\",\n      \"version\": 8\n    }\n  }\n]\n```\n</expected_output>\n</example_1>\n\n<example_2>\n<title>Pattern 2: TIME_FOR_UNIT_DURATION + BETWEEN (BETWEEN unchanged)</title>\n\n<input>\n```json\n{\n  \"query\": {\n    \"limit\": 1000,\n    \"sorts\": [],\n    \"fields\": [\"sales__opportunity.account_name\", \"sales__opportunity.new_arr_derived\"],\n    \"filters\": {\n      \"sales__opportunity.close_date\": {\n        \"type\": \"composite\",\n        \"filters\": [\n          {\"kind\": \"TIME_FOR_UNIT_DURATION\", \"type\": \"date\", \"left_side\": \"FY2026 Q3\"},\n          {\"kind\": \"BETWEEN\", \"type\": \"date\", \"left_side\": \"2024-05-01\", \"right_side\": \"2025-04-30\"}\n        ],\n        \"conjunction\": \"AND\"\n      }\n    }\n  },\n  \"current_fiscal_quarter\": \"FY2026 Q3\",\n  \"previous_fiscal_quarter\": \"FY2026 Q2\"\n}\n```\n</input>\n\n<expected_output>\n```json\n[\n  {\n    \"sorted_by_measure\": \"sales__opportunity.new_arr_derived\",\n    \"current_fiscal_quarter_query\": {\n      \"limit\": 200,\n      \"sorts\": [{\"column_name\": \"sales__opportunity.new_arr_derived\", \"sort_descending\": true}],\n      \"fields\": [\"sales__opportunity.account_name\", \"sales__opportunity.new_arr_derived\"],\n      \"filters\": {\n        \"sales__opportunity.close_date\": {\n          \"type\": \"composite\",\n          \"filters\": [\n            {\"kind\": \"TIME_FOR_UNIT_DURATION\", \"type\": \"date\", \"left_side\": \"FY2026 Q3\"},\n            {\"kind\": \"BETWEEN\", \"type\": \"date\", \"left_side\": \"2024-05-01\", \"right_side\": \"2025-04-30\"}\n          ],\n          \"conjunction\": \"AND\"\n        }\n      }\n    },\n    \"previous_fiscal_quarter_query\": {\n      \"limit\": 200,\n      \"sorts\": [{\"column_name\": \"sales__opportunity.new_arr_derived\", \"sort_descending\": true}],\n      \"fields\": [\"sales__opportunity.account_name\", \"sales__opportunity.new_arr_derived\"],\n      \"filters\": {\n        \"sales__opportunity.close_date\": {\n          \"type\": \"composite\",\n          \"filters\": [\n            {\"kind\": \"TIME_FOR_UNIT_DURATION\", \"type\": \"date\", \"left_side\": \"FY2026 Q2\"},\n            {\"kind\": \"BETWEEN\", \"type\": \"date\", \"left_side\": \"2024-05-01\", \"right_side\": \"2025-04-30\"}\n          ],\n          \"conjunction\": \"AND\"\n        }\n      }\n    }\n  }\n]\n```\nNote: BETWEEN filter is LEFT UNCHANGED. Only TIME_FOR_UNIT_DURATION is modified.\n</expected_output>\n</example_2>\n\n<example_3>\n<title>Pattern 3: Nested OR Composite → Flatten to Pattern 1</title>\n\n<input>\n```json\n{\n  \"query\": {\n    \"limit\": 1000,\n    \"sorts\": [],\n    \"fields\": [\"sales__opportunity.account_name\", \"sales__opportunity.total_arr\"],\n    \"filters\": {\n      \"sales__opportunity.close_date\": {\n        \"type\": \"composite\",\n        \"filters\": [\n          {\"kind\": \"TIME_FOR_UNIT_DURATION\", \"type\": \"date\", \"left_side\": \"FY2027 Q1\"},\n          {\n            \"type\": \"composite\",\n            \"conjunction\": \"OR\",\n            \"filters\": [\n              {\"kind\": \"TIME_FOR_INTERVAL_DURATION\", \"type\": \"date\", \"left_side\": \"2 complete fiscal quarters ago\", \"right_side\": \"2 quarters\"},\n              {\"kind\": \"BETWEEN\", \"type\": \"date\", \"left_side\": \"0 fiscal quarters ago\", \"right_side\": \"2 fiscal quarters from now\"}\n            ]\n          }\n        ],\n        \"conjunction\": \"AND\"\n      }\n    }\n  },\n  \"current_fiscal_quarter\": \"FY2026 Q3\",\n  \"previous_fiscal_quarter\": \"FY2026 Q2\"\n}\n```\n</input>\n\n<expected_output>\n```json\n[\n  {\n    \"sorted_by_measure\": \"sales__opportunity.total_arr\",\n    \"current_fiscal_quarter_query\": {\n      \"limit\": 200,\n      \"sorts\": [{\"column_name\": \"sales__opportunity.total_arr\", \"sort_descending\": true}],\n      \"fields\": [\"sales__opportunity.account_name\", \"sales__opportunity.total_arr\"],\n      \"filters\": {\n        \"sales__opportunity.close_date\": {\n          \"type\": \"composite\",\n          \"filters\": [\n            {\"kind\": \"TIME_FOR_UNIT_DURATION\", \"type\": \"date\", \"left_side\": \"FY2026 Q3\"},\n            {\"kind\": \"TIME_FOR_INTERVAL_DURATION\", \"type\": \"date\", \"left_side\": \"1 complete fiscal quarters ago\", \"right_side\": \"1 quarters\"}\n          ],\n          \"conjunction\": \"AND\"\n        }\n      }\n    },\n    \"previous_fiscal_quarter_query\": {\n      \"limit\": 200,\n      \"sorts\": [{\"column_name\": \"sales__opportunity.total_arr\", \"sort_descending\": true}],\n      \"fields\": [\"sales__opportunity.account_name\", \"sales__opportunity.total_arr\"],\n      \"filters\": {\n        \"sales__opportunity.close_date\": {\n          \"type\": \"composite\",\n          \"filters\": [\n            {\"kind\": \"TIME_FOR_UNIT_DURATION\", \"type\": \"date\", \"left_side\": \"FY2026 Q2\"},\n            {\"kind\": \"TIME_FOR_INTERVAL_DURATION\", \"type\": \"date\", \"left_side\": \"2 complete fiscal quarters ago\", \"right_side\": \"1 quarters\"}\n          ],\n          \"conjunction\": \"AND\"\n        }\n      }\n    }\n  }\n]\n```\nNote: Nested OR composite is FLATTENED. BETWEEN is DROPPED. TIME_FOR_INTERVAL_DURATION is LIFTED and modified.\n</expected_output>\n</example_3>\n\n<example_4>\n<title>Pattern 4: Two TIME_FOR_INTERVAL_DURATION → Keep Relative Only</title>\n\n<input>\n```json\n{\n  \"query\": {\n    \"limit\": 1000,\n    \"sorts\": [],\n    \"fields\": [\"product__adoption.customer_name\", \"product__adoption.total_users\"],\n    \"filters\": {\n      \"product__adoption.date\": {\n        \"type\": \"composite\",\n        \"filters\": [\n          {\"kind\": \"TIME_FOR_INTERVAL_DURATION\", \"type\": \"date\", \"left_side\": \"6 complete fiscal quarters ago\", \"right_side\": \"6 quarters\"},\n          {\"kind\": \"TIME_FOR_INTERVAL_DURATION\", \"type\": \"date\", \"left_side\": \"2024-05-01\", \"right_side\": \"1 year\"}\n        ],\n        \"conjunction\": \"AND\"\n      }\n    }\n  },\n  \"current_fiscal_quarter\": \"FY2026 Q3\",\n  \"previous_fiscal_quarter\": \"FY2026 Q2\"\n}\n```\n</input>\n\n<expected_output>\n```json\n[\n  {\n    \"sorted_by_measure\": \"product__adoption.total_users\",\n    \"current_fiscal_quarter_query\": {\n      \"limit\": 200,\n      \"sorts\": [{\"column_name\": \"product__adoption.total_users\", \"sort_descending\": true}],\n      \"fields\": [\"product__adoption.customer_name\", \"product__adoption.total_users\"],\n      \"filters\": {\n        \"product__adoption.date\": {\n          \"type\": \"composite\",\n          \"filters\": [\n            {\"kind\": \"TIME_FOR_UNIT_DURATION\", \"type\": \"date\", \"left_side\": \"FY2026 Q3\"},\n            {\"kind\": \"TIME_FOR_INTERVAL_DURATION\", \"type\": \"date\", \"left_side\": \"1 complete fiscal quarters ago\", \"right_side\": \"1 quarters\"}\n          ],\n          \"conjunction\": \"AND\"\n        }\n      }\n    },\n    \"previous_fiscal_quarter_query\": {\n      \"limit\": 200,\n      \"sorts\": [{\"column_name\": \"product__adoption.total_users\", \"sort_descending\": true}],\n      \"fields\": [\"product__adoption.customer_name\", \"product__adoption.total_users\"],\n      \"filters\": {\n        \"product__adoption.date\": {\n          \"type\": \"composite\",\n          \"filters\": [\n            {\"kind\": \"TIME_FOR_UNIT_DURATION\", \"type\": \"date\", \"left_side\": \"FY2026 Q2\"},\n            {\"kind\": \"TIME_FOR_INTERVAL_DURATION\", \"type\": \"date\", \"left_side\": \"2 complete fiscal quarters ago\", \"right_side\": \"1 quarters\"}\n          ],\n          \"conjunction\": \"AND\"\n        }\n      }\n    }\n  }\n]\n```\nNote: Specific date TIME_FOR_INTERVAL_DURATION (\"2024-05-01\") is DROPPED. Relative one is kept and modified. TIME_FOR_UNIT_DURATION is ADDED.\n</expected_output>\n</example_4>\n\n<example_5>\n<title>Pattern 5: BEFORE Filter on Separate Field → Drop BEFORE</title>\n\n<input>\n```json\n{\n  \"query\": {\n    \"limit\": 1000,\n    \"sorts\": [],\n    \"fields\": [\"sales__opportunity.account_name\", \"sales__opportunity.new_arr_derived\"],\n    \"filters\": {\n      \"sales__opportunity.close_date\": {\n        \"type\": \"composite\",\n        \"filters\": [\n          {\"kind\": \"TIME_FOR_UNIT_DURATION\", \"type\": \"date\", \"left_side\": \"FY2027 Q1\"},\n          {\"kind\": \"TIME_FOR_INTERVAL_DURATION\", \"type\": \"date\", \"left_side\": \"2 complete fiscal quarters ago\", \"right_side\": \"2 quarters\"}\n        ],\n        \"conjunction\": \"AND\"\n      },\n      \"sales__opportunity.stage_last_updated\": {\n        \"kind\": \"BEFORE\",\n        \"type\": \"date\",\n        \"right_side\": \"2025-11-03\"\n      }\n    }\n  },\n  \"current_fiscal_quarter\": \"FY2026 Q3\",\n  \"previous_fiscal_quarter\": \"FY2026 Q2\"\n}\n```\n</input>\n\n<expected_output>\n```json\n[\n  {\n    \"sorted_by_measure\": \"sales__opportunity.new_arr_derived\",\n    \"current_fiscal_quarter_query\": {\n      \"limit\": 200,\n      \"sorts\": [{\"column_name\": \"sales__opportunity.new_arr_derived\", \"sort_descending\": true}],\n      \"fields\": [\"sales__opportunity.account_name\", \"sales__opportunity.new_arr_derived\"],\n      \"filters\": {\n        \"sales__opportunity.close_date\": {\n          \"type\": \"composite\",\n          \"filters\": [\n            {\"kind\": \"TIME_FOR_UNIT_DURATION\", \"type\": \"date\", \"left_side\": \"FY2026 Q3\"},\n            {\"kind\": \"TIME_FOR_INTERVAL_DURATION\", \"type\": \"date\", \"left_side\": \"1 complete fiscal quarters ago\", \"right_side\": \"1 quarters\"}\n          ],\n          \"conjunction\": \"AND\"\n        }\n      }\n    },\n    \"previous_fiscal_quarter_query\": {\n      \"limit\": 200,\n      \"sorts\": [{\"column_name\": \"sales__opportunity.new_arr_derived\", \"sort_descending\": true}],\n      \"fields\": [\"sales__opportunity.account_name\", \"sales__opportunity.new_arr_derived\"],\n      \"filters\": {\n        \"sales__opportunity.close_date\": {\n          \"type\": \"composite\",\n          \"filters\": [\n            {\"kind\": \"TIME_FOR_UNIT_DURATION\", \"type\": \"date\", \"left_side\": \"FY2026 Q2\"},\n            {\"kind\": \"TIME_FOR_INTERVAL_DURATION\", \"type\": \"date\", \"left_side\": \"2 complete fiscal quarters ago\", \"right_side\": \"1 quarters\"}\n          ],\n          \"conjunction\": \"AND\"\n        }\n      }\n    }\n  }\n]\n```\nNote: BEFORE filter on `stage_last_updated` is DROPPED since time duration filters exist on `close_date`.\n</expected_output>\n</example_5>\n\n<example_6>\n<title>Structure B: Array-Based Conditions (Original Format)</title>\n\n<input>\n```json\n{\n  \"query\": {\n    \"limit\": 1000,\n    \"sorts\": [],\n    \"table\": \"finance__customer_quarterly_arr\",\n    \"fields\": [\n      \"finance__customer_quarterly_arr.fiscal_quarter_name\",\n      \"finance__customer_quarterly_arr.total_customers\",\n      \"finance__customer_quarterly_arr.total_arr\"\n    ],\n    \"filters\": {\n      \"type\": \"composite\",\n      \"operator\": \"and\",\n      \"conditions\": [\n        {\n          \"type\": \"date\",\n          \"kind\": \"TIME_FOR_UNIT_DURATION\",\n          \"left_side\": \"FY2026 Q1\",\n          \"right_side\": {\n            \"unit\": \"fiscal_quarter\",\n            \"count\": 1\n          }\n        }\n      ]\n    },\n    \"modelId\": \"e3a78095-f13c-49a2-9a4c-617fca386ca4\",\n    \"version\": 8\n  },\n  \"current_fiscal_quarter\": \"FY2026 Q2\",\n  \"previous_fiscal_quarter\": \"FY2026 Q1\"\n}\n```\n</input>\n\n<processing_steps>\nProcessing Steps:\n\n**Step 1: Identify numeric measures**\n- ❌ `fiscal_quarter_name` → ends with `_name` (dimension)\n- ✅ `total_customers` → matches `total_*` (measure)\n- ✅ `total_arr` → matches `total_*` and `*_arr` (measure)\n\n**Result:** 2 numeric measures identified → will generate 2 query pairs\n\n**Step 2: Detect filter structure**\n- Structure B detected (array-based conditions)\n\n**Step 3: Detect filter pattern**\n- Only TIME_FOR_UNIT_DURATION present, no TIME_FOR_INTERVAL_DURATION\n\n**Step 4: Generate query pairs with FQ variations**\n</processing_steps>\n\n<expected_output>\n```json\n[\n  {\n    \"sorted_by_measure\": \"finance__customer_quarterly_arr.total_customers\",\n    \"current_fiscal_quarter_query\": {\n      \"limit\": 200,\n      \"sorts\": [\n        {\n          \"column_name\": \"finance__customer_quarterly_arr.total_customers\",\n          \"sort_descending\": true\n        }\n      ],\n      \"table\": \"finance__customer_quarterly_arr\",\n      \"fields\": [\n        \"finance__customer_quarterly_arr.fiscal_quarter_name\",\n        \"finance__customer_quarterly_arr.total_customers\",\n        \"finance__customer_quarterly_arr.total_arr\"\n      ],\n      \"filters\": {\n        \"type\": \"composite\",\n        \"operator\": \"and\",\n        \"conditions\": [\n          {\n            \"type\": \"date\",\n            \"kind\": \"TIME_FOR_UNIT_DURATION\",\n            \"left_side\": \"FY2026 Q2\",\n            \"right_side\": {\n              \"unit\": \"fiscal_quarter\",\n              \"count\": 1\n            }\n          }\n        ]\n      },\n      \"modelId\": \"e3a78095-f13c-49a2-9a4c-617fca386ca4\",\n      \"version\": 8\n    },\n    \"previous_fiscal_quarter_query\": {\n      \"limit\": 200,\n      \"sorts\": [\n        {\n          \"column_name\": \"finance__customer_quarterly_arr.total_customers\",\n          \"sort_descending\": true\n        }\n      ],\n      \"table\": \"finance__customer_quarterly_arr\",\n      \"fields\": [\n        \"finance__customer_quarterly_arr.fiscal_quarter_name\",\n        \"finance__customer_quarterly_arr.total_customers\",\n        \"finance__customer_quarterly_arr.total_arr\"\n      ],\n      \"filters\": {\n        \"type\": \"composite\",\n        \"operator\": \"and\",\n        \"conditions\": [\n          {\n            \"type\": \"date\",\n            \"kind\": \"TIME_FOR_UNIT_DURATION\",\n            \"left_side\": \"FY2026 Q1\",\n            \"right_side\": {\n              \"unit\": \"fiscal_quarter\",\n              \"count\": 1\n            }\n          }\n        ]\n      },\n      \"modelId\": \"e3a78095-f13c-49a2-9a4c-617fca386ca4\",\n      \"version\": 8\n    }\n  },\n  {\n    \"sorted_by_measure\": \"finance__customer_quarterly_arr.total_arr\",\n    \"current_fiscal_quarter_query\": {\n      \"limit\": 200,\n      \"sorts\": [\n        {\n          \"column_name\": \"finance__customer_quarterly_arr.total_arr\",\n          \"sort_descending\": true\n        }\n      ],\n      \"table\": \"finance__customer_quarterly_arr\",\n      \"fields\": [\n        \"finance__customer_quarterly_arr.fiscal_quarter_name\",\n        \"finance__customer_quarterly_arr.total_customers\",\n        \"finance__customer_quarterly_arr.total_arr\"\n      ],\n      \"filters\": {\n        \"type\": \"composite\",\n        \"operator\": \"and\",\n        \"conditions\": [\n          {\n            \"type\": \"date\",\n            \"kind\": \"TIME_FOR_UNIT_DURATION\",\n            \"left_side\": \"FY2026 Q2\",\n            \"right_side\": {\n              \"unit\": \"fiscal_quarter\",\n              \"count\": 1\n            }\n          }\n        ]\n      },\n      \"modelId\": \"e3a78095-f13c-49a2-9a4c-617fca386ca4\",\n      \"version\": 8\n    },\n    \"previous_fiscal_quarter_query\": {\n      \"limit\": 200,\n      \"sorts\": [\n        {\n          \"column_name\": \"finance__customer_quarterly_arr.total_arr\",\n          \"sort_descending\": true\n        }\n      ],\n      \"table\": \"finance__customer_quarterly_arr\",\n      \"fields\": [\n        \"finance__customer_quarterly_arr.fiscal_quarter_name\",\n        \"finance__customer_quarterly_arr.total_customers\",\n        \"finance__customer_quarterly_arr.total_arr\"\n      ],\n      \"filters\": {\n        \"type\": \"composite\",\n        \"operator\": \"and\",\n        \"conditions\": [\n          {\n            \"type\": \"date\",\n            \"kind\": \"TIME_FOR_UNIT_DURATION\",\n            \"left_side\": \"FY2026 Q1\",\n            \"right_side\": {\n              \"unit\": \"fiscal_quarter\",\n              \"count\": 1\n            }\n          }\n        ]\n      },\n      \"modelId\": \"e3a78095-f13c-49a2-9a4c-617fca386ca4\",\n      \"version\": 8\n    }\n  }\n]\n```\n</expected_output>\n</example_6>\n\n<complete_example>\n<title>Complete Example: Structure A with Both Filters and Multiple Measures</title>\n\n<input>\n```json\n{\n  \"query\": {\n    \"limit\": 1000,\n    \"sorts\": [],\n    \"table\": \"finance__customer_quarterly_arr\",\n    \"fields\": [\n      \"finance__customer_quarterly_arr.customer_name\",\n      \"finance__customer_quarterly_arr.total_ending_arr\",\n      \"finance__customer_quarterly_arr.total_new_arr\"\n    ],\n    \"filters\": {\n      \"finance__customer_quarterly_arr.fiscal_quarter\": {\n        \"type\": \"composite\",\n        \"filters\": [\n          {\n            \"kind\": \"TIME_FOR_UNIT_DURATION\",\n            \"type\": \"date\",\n            \"left_side\": \"FY2026 Q3\"\n          },\n          {\n            \"kind\": \"TIME_FOR_INTERVAL_DURATION\",\n            \"type\": \"date\",\n            \"left_side\": \"6 complete fiscal quarters ago\",\n            \"right_side\": \"6 quarters\",\n            \"is_negative\": false\n          }\n        ],\n        \"conjunction\": \"AND\",\n        \"is_negative\": false\n      },\n      \"finance__customer_quarterly_arr.source_granularity\": {\n        \"kind\": \"EQUALS\",\n        \"type\": \"string\",\n        \"values\": [\"cloud\"]\n      }\n    },\n    \"modelId\": \"e3a78095-f13c-49a2-9a4c-617fca386ca4\",\n    \"version\": 8\n  },\n  \"current_fiscal_quarter\": \"FY2026 Q3\",\n  \"previous_fiscal_quarter\": \"FY2026 Q2\"\n}\n```\n</input>\n\n<processing_steps>\nProcessing Steps:\n\n**Step 1: Identify numeric measures**\n- ❌ `customer_name` → ends with `_name` (dimension)\n- ✅ `total_ending_arr` → matches `total_*` (measure)\n- ✅ `total_new_arr` → matches `total_*` (measure)\n\n**Result:** 2 numeric measures identified → will generate 2 query pairs\n\n**Step 2: Detect filter structure**\n- Structure A detected (nested field-keyed)\n\n**Step 3: Detect filter pattern**\n- Pattern 1 detected (TIME_FOR_UNIT_DURATION + TIME_FOR_INTERVAL_DURATION)\n\n**Step 4: Generate query pairs**\n- Query pair 1: sorted by `total_ending_arr`\n- Query pair 2: sorted by `total_new_arr`\n</processing_steps>\n\n<expected_output>\n```json\n[\n  {\n    \"sorted_by_measure\": \"finance__customer_quarterly_arr.total_ending_arr\",\n    \"current_fiscal_quarter_query\": {\n      \"limit\": 200,\n      \"sorts\": [{\"column_name\": \"finance__customer_quarterly_arr.total_ending_arr\", \"sort_descending\": true}],\n      \"table\": \"finance__customer_quarterly_arr\",\n      \"fields\": [\n        \"finance__customer_quarterly_arr.customer_name\",\n        \"finance__customer_quarterly_arr.total_ending_arr\",\n        \"finance__customer_quarterly_arr.total_new_arr\"\n      ],\n      \"filters\": {\n        \"finance__customer_quarterly_arr.fiscal_quarter\": {\n          \"type\": \"composite\",\n          \"filters\": [\n            {\"kind\": \"TIME_FOR_UNIT_DURATION\", \"type\": \"date\", \"left_side\": \"FY2026 Q3\"},\n            {\"kind\": \"TIME_FOR_INTERVAL_DURATION\", \"type\": \"date\", \"left_side\": \"1 complete fiscal quarters ago\", \"right_side\": \"1 quarters\", \"is_negative\": false}\n          ],\n          \"conjunction\": \"AND\",\n          \"is_negative\": false\n        },\n        \"finance__customer_quarterly_arr.source_granularity\": {\n          \"kind\": \"EQUALS\",\n          \"type\": \"string\",\n          \"values\": [\"cloud\"]\n        }\n      },\n      \"modelId\": \"e3a78095-f13c-49a2-9a4c-617fca386ca4\",\n      \"version\": 8\n    },\n    \"previous_fiscal_quarter_query\": {\n      \"limit\": 200,\n      \"sorts\": [{\"column_name\": \"finance__customer_quarterly_arr.total_ending_arr\", \"sort_descending\": true}],\n      \"table\": \"finance__customer_quarterly_arr\",\n      \"fields\": [\n        \"finance__customer_quarterly_arr.customer_name\",\n        \"finance__customer_quarterly_arr.total_ending_arr\",\n        \"finance__customer_quarterly_arr.total_new_arr\"\n      ],\n      \"filters\": {\n        \"finance__customer_quarterly_arr.fiscal_quarter\": {\n          \"type\": \"composite\",\n          \"filters\": [\n            {\"kind\": \"TIME_FOR_UNIT_DURATION\", \"type\": \"date\", \"left_side\": \"FY2026 Q2\"},\n            {\"kind\": \"TIME_FOR_INTERVAL_DURATION\", \"type\": \"date\", \"left_side\": \"2 complete fiscal quarters ago\", \"right_side\": \"1 quarters\", \"is_negative\": false}\n          ],\n          \"conjunction\": \"AND\",\n          \"is_negative\": false\n        },\n        \"finance__customer_quarterly_arr.source_granularity\": {\n          \"kind\": \"EQUALS\",\n          \"type\": \"string\",\n          \"values\": [\"cloud\"]\n        }\n      },\n      \"modelId\": \"e3a78095-f13c-49a2-9a4c-617fca386ca4\",\n      \"version\": 8\n    }\n  },\n  {\n    \"sorted_by_measure\": \"finance__customer_quarterly_arr.total_new_arr\",\n    \"current_fiscal_quarter_query\": {\n      \"limit\": 200,\n      \"sorts\": [{\"column_name\": \"finance__customer_quarterly_arr.total_new_arr\", \"sort_descending\": true}],\n      \"table\": \"finance__customer_quarterly_arr\",\n      \"fields\": [\n        \"finance__customer_quarterly_arr.customer_name\",\n        \"finance__customer_quarterly_arr.total_ending_arr\",\n        \"finance__customer_quarterly_arr.total_new_arr\"\n      ],\n      \"filters\": {\n        \"finance__customer_quarterly_arr.fiscal_quarter\": {\n          \"type\": \"composite\",\n          \"filters\": [\n            {\"kind\": \"TIME_FOR_UNIT_DURATION\", \"type\": \"date\", \"left_side\": \"FY2026 Q3\"},\n            {\"kind\": \"TIME_FOR_INTERVAL_DURATION\", \"type\": \"date\", \"left_side\": \"1 complete fiscal quarters ago\", \"right_side\": \"1 quarters\", \"is_negative\": false}\n          ],\n          \"conjunction\": \"AND\",\n          \"is_negative\": false\n        },\n        \"finance__customer_quarterly_arr.source_granularity\": {\n          \"kind\": \"EQUALS\",\n          \"type\": \"string\",\n          \"values\": [\"cloud\"]\n        }\n      },\n      \"modelId\": \"e3a78095-f13c-49a2-9a4c-617fca386ca4\",\n      \"version\": 8\n    },\n    \"previous_fiscal_quarter_query\": {\n      \"limit\": 200,\n      \"sorts\": [{\"column_name\": \"finance__customer_quarterly_arr.total_new_arr\", \"sort_descending\": true}],\n      \"table\": \"finance__customer_quarterly_arr\",\n      \"fields\": [\n        \"finance__customer_quarterly_arr.customer_name\",\n        \"finance__customer_quarterly_arr.total_ending_arr\",\n        \"finance__customer_quarterly_arr.total_new_arr\"\n      ],\n      \"filters\": {\n        \"finance__customer_quarterly_arr.fiscal_quarter\": {\n          \"type\": \"composite\",\n          \"filters\": [\n            {\"kind\": \"TIME_FOR_UNIT_DURATION\", \"type\": \"date\", \"left_side\": \"FY2026 Q2\"},\n            {\"kind\": \"TIME_FOR_INTERVAL_DURATION\", \"type\": \"date\", \"left_side\": \"2 complete fiscal quarters ago\", \"right_side\": \"1 quarters\", \"is_negative\": false}\n          ],\n          \"conjunction\": \"AND\",\n          \"is_negative\": false\n        },\n        \"finance__customer_quarterly_arr.source_granularity\": {\n          \"kind\": \"EQUALS\",\n          \"type\": \"string\",\n          \"values\": [\"cloud\"]\n        }\n      },\n      \"modelId\": \"e3a78095-f13c-49a2-9a4c-617fca386ca4\",\n      \"version\": 8\n    }\n  }\n]\n```\n</expected_output>\n</complete_example>\n</examples>\n\n<input>\n{\n  \"query\": {{ $json.query.toJsonString() }},\n  \"current_fiscal_quarter\": \"{{  $('Trigger').item.json.input.current_fiscal_quarter }}\",\n  \"previous_fiscal_quarter\": \"{{ $('Trigger').item.json.input.previous_fiscal_quarter }}\"\n}\n</input>\n\n<edge_cases>\n<description>\nEdge Cases to Handle\n</description>\n\n<case_1>\n1. Query with existing sorts:\n- Existing sorts are **replaced entirely** with the single measure sort\n- Each query pair gets a fresh sorts array with only one sort object\n- The original sorts array is NOT preserved\n\n**Example Input:**\n```json\n{\n  \"sorts\": [\n    {\n      \"column_name\": \"sales__opportunity.new_arr_derived\",\n      \"sort_descending\": true\n    }\n  ],\n  \"fields\": [\n    \"sales__opportunity.account_name\",\n    \"sales__opportunity.new_arr_derived\",\n    \"sales__opportunity.total_arr\"\n  ]\n}\n```\n\n**Processing:**\n- Numeric measures: `new_arr_derived`, `total_arr` (2 measures)\n- Generate 2 query pairs, each with a single-element sorts array\n\n**Result:** Array with 2 query pairs\n- Query pair 1: `sorts: [{ \"column_name\": \"sales__opportunity.new_arr_derived\", ... }]`\n- Query pair 2: `sorts: [{ \"column_name\": \"sales__opportunity.total_arr\", ... }]`\n</case_1>\n\n<case_2>\n2. Query with no numeric measures:\n- Return an array with **one element** containing a query pair with empty sorts\n\n**Example Input:**\n```json\n{\n  \"fields\": [\n    \"sales__accounts.account_name\",\n    \"sales__accounts.owner_name\",\n    \"sales__opportunity.close_date\"\n  ],\n  \"sorts\": []\n}\n```\n\n**Result:**\n```json\n[\n  {\n    \"sorted_by_measure\": null,\n    \"current_fiscal_quarter_query\": {\n      \"sorts\": [],\n      /* ... rest of query with current FQ filter, limit: 200 */\n    },\n    \"previous_fiscal_quarter_query\": {\n      \"sorts\": [],\n      /* ... rest of query with previous FQ filter, limit: 200 */\n    }\n  }\n]\n```\n</case_2>\n\n<case_3>\n3. Query with single numeric measure:\n- Return an array with **one element** containing a query pair sorted by that measure\n\n**Example Input:**\n```json\n{\n  \"fields\": [\n    \"sales__accounts.account_name\",\n    \"sales__opportunity.total_arr\"\n  ]\n}\n```\n\n**Result:** Array with 1 query pair, sorted by `total_arr`\n</case_3>\n\n<case_4>\n4. Query with mixed numeric and dimension fields:\n- Only generate query pairs for true numeric measures\n- Skip all dimension fields even if they contain numbers in their values\n</case_4>\n\n<case_5>\n5. Multiple TIME_FOR_UNIT_DURATION filters:\n- Only modify the FIRST occurrence\n- Leave other TIME_* filters unchanged\n</case_5>\n\n<case_6>\n6. Missing TIME_FOR_UNIT_DURATION filter:\n- Return error object: `{\"error\": \"TIME_FOR_UNIT_DURATION filter not found\"}`\n</case_6>\n\n<case_7>\n7. Malformed JSON:\n- Return error object: `{\"error\": \"Invalid JSON structure\", \"details\": \"<specific issue>\"}`\n</case_7>\n\n<case_8>\n8. Missing TIME_FOR_INTERVAL_DURATION filter:\n- This is NOT an error\n- Only modify TIME_FOR_UNIT_DURATION as required\n- Skip TIME_FOR_INTERVAL_DURATION modification silently\n- All other processing continues normally\n\nExample queries that may NOT have TIME_FOR_INTERVAL_DURATION:\n- Queries with only EQUALS or BETWEEN filters\n- Queries filtering on non-date fields\n</case_8>\n\n<case_9>\n9. Pattern 2 - TIME_FOR_UNIT_DURATION + BETWEEN:\n- Modify TIME_FOR_UNIT_DURATION as normal\n- Leave BETWEEN filter completely unchanged\n- Do NOT add TIME_FOR_INTERVAL_DURATION\n</case_9>\n\n<case_10>\n10. Pattern 3 - Nested OR composite with BETWEEN:\n- Find TIME_FOR_INTERVAL_DURATION inside nested OR composite\n- Lift TIME_FOR_INTERVAL_DURATION to parent filters array\n- Remove the nested OR composite (which contained BETWEEN)\n- Modify TIME_FOR_INTERVAL_DURATION with hardcoded values\n- Result structure matches Pattern 1\n</case_10>\n\n<case_11>\n11. Pattern 4 - Two TIME_FOR_INTERVAL_DURATION filters:\n- Identify which is RELATIVE (contains \"fiscal quarters ago\") vs SPECIFIC DATE (YYYY-MM-DD)\n- Remove the SPECIFIC DATE TIME_FOR_INTERVAL_DURATION\n- Modify the RELATIVE TIME_FOR_INTERVAL_DURATION with hardcoded values\n- Add TIME_FOR_UNIT_DURATION if missing\n</case_11>\n\n<case_12>\n12. BETWEEN filter alongside TIME_FOR_UNIT_DURATION:\n- BETWEEN filters are NOT modified\n- Only TIME_FOR_UNIT_DURATION and TIME_FOR_INTERVAL_DURATION are modified\n</case_12>\n\n<case_13>\n13. Pattern 5 - BEFORE filter on separate field:\n- If query has TIME_FOR_UNIT_DURATION and/or TIME_FOR_INTERVAL_DURATION, DROP the BEFORE filter\n- BEFORE filter is typically on a different field (e.g., stage_last_updated vs close_date)\n- Remove the entire BEFORE filter object from the output\n</case_13>\n</edge_cases>\n\n<guidelines>\n<description>\nProcessing Guidelines\n</description>\n\n- Preserve JSON formatting exactly; do not pretty-print or minify.\n- Generate one query pair per numeric measure identified.\n- Each query pair's sorts array contains **exactly one** sort object for that measure.\n- Existing sorts in the input query are **replaced entirely** - do not append to them.\n- Detect filter structure (nested field-keyed OR array-based) and traverse accordingly.\n- Detect filter pattern (1, 2, 3, 4, or 5) and apply appropriate transformation rules.\n- Do not alter any filters except:\n  - TIME_FOR_UNIT_DURATION: modify `left_side` value\n  - TIME_FOR_INTERVAL_DURATION (if present): modify `left_side` and `right_side` values\n  - Pattern 3: Flatten nested OR composites, remove BETWEEN, lift TIME_FOR_INTERVAL_DURATION\n  - Pattern 4: Keep relative TIME_FOR_INTERVAL_DURATION, remove specific date one\n  - Pattern 5: Drop BEFORE filters on separate fields if time duration filters exist\n- If no matching TIME_FOR_UNIT_DURATION filter exists, return an error object: `{\"error\": \"TIME_FOR_UNIT_DURATION filter not found\"}`\n- TIME_FOR_INTERVAL_DURATION modification is optional - skip silently if not present.\n- For TIME_FOR_INTERVAL_DURATION: use HARDCODED values:\n  - Current query: left_side = \"1 complete fiscal quarters ago\", right_side = \"1 quarters\"\n  - Previous query: left_side = \"2 complete fiscal quarters ago\", right_side = \"1 quarters\"\n- For TIME_FOR_UNIT_DURATION: use INPUT values from current_fiscal_quarter and previous_fiscal_quarter.\n- Only modify the FIRST occurrence of each filter kind.\n- Pattern 2: Leave BETWEEN filters unchanged.\n- Point out any ambiguities or missing data instead of guessing.\n- Do not simply agree with assumptions; highlight logical or data issues and propose corrections.\n- Mention tricky edge cases when they occur.\n- Output only valid JSON array or an error object - no commentary, preamble, or markdown formatting.\n- Within each query pair, both queries must have identical sorts arrays (the same single measure).\n- Set limit to exactly 200 in all output queries.\n- All queries should be complete, valid Omni query objects.\n- If no numeric measures are found, return an array with one element where `sorted_by_measure` is `null` and sorts arrays are empty.\n</guidelines>\n\n<output_format>\n<description>\nExpected Output Structure\n\nThe output is a **JSON array** where each element represents a query pair sorted by a single numeric measure.\n</description>\n\n```json\n[\n  {\n    \"sorted_by_measure\": \"schema__table.measure_name_1\",\n    \"current_fiscal_quarter_query\": {\n      /* Complete query object with:\n         - sorts: single-element array with ONE measure sort\n         - limit: 200\n         - filters: TIME_FOR_UNIT_DURATION.left_side = current_fiscal_quarter\n         - filters: TIME_FOR_INTERVAL_DURATION (if present) with hardcoded values for current query\n         - all other fields: unchanged\n      */\n    },\n    \"previous_fiscal_quarter_query\": {\n      /* Complete query object with:\n         - sorts: single-element array with same ONE measure sort\n         - limit: 200\n         - filters: TIME_FOR_UNIT_DURATION.left_side = previous_fiscal_quarter\n         - filters: TIME_FOR_INTERVAL_DURATION (if present) with hardcoded values for previous query\n         - all other fields: unchanged\n      */\n    }\n  },\n  {\n    \"sorted_by_measure\": \"schema__table.measure_name_2\",\n    \"current_fiscal_quarter_query\": { /* sorted by measure_2 */ },\n    \"previous_fiscal_quarter_query\": { /* sorted by measure_2 */ }\n  }\n  /* ... one element per numeric measure */\n]\n```\n\n<field_definitions>\nArray Element Fields:\n- **sorted_by_measure** (string | null): The full measure name this query pair is sorted by. Set to `null` if no numeric measures exist.\n- **current_fiscal_quarter_query** (object): Query with current FQ filter and limit: 200\n- **previous_fiscal_quarter_query** (object): Query with previous FQ filter and limit: 200\n</field_definitions>\n\nIf there's an error:\n```json\n{\n  \"error\": \"Error description\",\n  \"details\": \"Specific issue details\"\n}\n```\n</output_format>\n\n<validation_checklist>\n<description>\nValidation Before Returning\n\nVerify the following before returning the result:\n</description>\n\n- [ ] Output is a JSON **array** (not an object)\n- [ ] Array has N elements where N = number of numeric measures (or 1 element if no measures)\n- [ ] Each array element has all three keys: `sorted_by_measure`, `current_fiscal_quarter_query`, `previous_fiscal_quarter_query`\n- [ ] Each `sorted_by_measure` is a valid measure name string (or `null` if no measures)\n- [ ] Each query's \"sorts\" array has **exactly one** sort object (or empty array if no measures)\n- [ ] Each sort object has both \"column_name\" and \"sort_descending\" fields\n- [ ] All \"sort_descending\" values are `true`\n- [ ] Both queries in each pair have \"limit\" set to 200\n- [ ] Current query has correct current_fiscal_quarter in TIME_FOR_UNIT_DURATION filter\n- [ ] Previous query has correct previous_fiscal_quarter in TIME_FOR_UNIT_DURATION filter\n- [ ] Both queries in each pair have **identical** \"sorts\" arrays (same single measure)\n- [ ] No dimension fields (names, IDs, dates) appear as `sorted_by_measure`\n- [ ] All other fields (table, modelId, version, etc.) are preserved unchanged in each query\n- [ ] The output is valid JSON with no syntax errors\n- [ ] Filter structure detected correctly (nested field-keyed OR array-based)\n- [ ] Pattern detected correctly (1, 2, 3, 4, or 5)\n- [ ] TIME_FOR_INTERVAL_DURATION (if present): current query has left_side = \"1 complete fiscal quarters ago\"\n- [ ] TIME_FOR_INTERVAL_DURATION (if present): previous query has left_side = \"2 complete fiscal quarters ago\"\n- [ ] TIME_FOR_INTERVAL_DURATION (if present): both queries have right_side = \"1 quarters\"\n- [ ] TIME_FOR_INTERVAL_DURATION modification skipped if not present (no error)\n- [ ] Pattern 2: BETWEEN filter left unchanged\n- [ ] Pattern 3: Nested OR composite flattened, BETWEEN removed, structure matches Pattern 1\n- [ ] Pattern 4: Specific date TIME_FOR_INTERVAL_DURATION removed, relative one kept and modified\n- [ ] Pattern 5: BEFORE filter on separate field removed (if time duration filters exist)\n</validation_checklist>\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[2976,336],"id":"4163a51f-73f3-4e7a-9c30-0e84bad88165","name":"Query JSON Modifier"},{"parameters":{"workflowId":{"__rl":true,"value":"KNaGu0JiDRPuHSkx","mode":"list","cachedResultUrl":"/workflow/KNaGu0JiDRPuHSkx","cachedResultName":"Board_Deck_Drill_Query_Analysis_Subworkflow"},"workflowInputs":{"mappingMode":"defineBelow","value":{"current_fiscal_quarter_query":"={{ $json.current_fiscal_quarter_query }}","previous_fiscal_quarter_query":"={{ $json.previous_fiscal_quarter_query }}","document_query_id":"={{ $json.document_query_id }}","document_query_name":"={{ $json.document_query_name }}","drill_name":"={{ $json.drill_name }}","current_fiscal_quarter":"={{ $json.current_fiscal_quarter }}","previous_fiscal_quarter":"={{ $json.previous_fiscal_quarter }}","current_fiscal_half":"={{ $json.current_fiscal_half }}","previous_fiscal_half":"={{ $json.previous_fiscal_half }}","user_id":"={{ $json.user_id }}","google_document_id":"={{ $json.google_document_id }}"},"matchingColumns":[],"schema":[{"id":"current_fiscal_quarter_query","displayName":"current_fiscal_quarter_query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"previous_fiscal_quarter_query","displayName":"previous_fiscal_quarter_query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"document_query_id","displayName":"document_query_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"document_query_name","displayName":"document_query_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"drill_name","displayName":"drill_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"current_fiscal_quarter","displayName":"current_fiscal_quarter","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"previous_fiscal_quarter","displayName":"previous_fiscal_quarter","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"current_fiscal_half","displayName":"current_fiscal_half","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"previous_fiscal_half","displayName":"previous_fiscal_half","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"user_id","displayName":"user_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"google_document_id","displayName":"google_document_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[4464,560],"id":"60047913-a959-4267-8f79-63f2ef941866","name":"Call 'Board_Deck_Omni_Query_Analysis_Subworkflow'"},{"parameters":{"assignments":{"assignments":[]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2560,336],"id":"228df3d0-95fa-4319-a937-55ed15f26105","name":"Loop Query Item"},{"parameters":{"driveId":"0AMo0z91EPlT1Uk9PVA","folderId":"=1omG14xnIzyoMcZvRqAIdiSPm4U9DFppR","title":"={{ $('Loop Over UUIDs').item.json.document_query_name }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[256,304],"id":"185d26b3-6405-4e35-96ae-a311d9e8d57b","name":"Create Takeaways Doc Shared Drive","credentials":{"googleDocsOAuth2Api":{"id":"dzy8xbOq7YSB6444","name":"Google Docs Cribl"}},"disabled":true},{"parameters":{"folderId":"={{ $('Create folder').item.json.id }}","title":"={{ $('Loop UUID Item').item.document_query_name }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[256,-48],"id":"c6ab6508-f582-447f-bc10-12aa190a9ad5","name":"Create Takeaways Doc","credentials":{"googleDocsOAuth2Api":{"id":"dzy8xbOq7YSB6444","name":"Google Docs Cribl"}},"disabled":true},{"parameters":{"content":"- No matter how many drill query sort versions that a drill query has, this loop (which goes for each drill query) should only still input one takeaway per drill query"},"type":"n8n-nodes-base.stickyNote","position":[2848,944],"typeVersion":1,"id":"b89a1275-eb28-4f70-b8e9-c27aa9ec80d0","name":"Sticky Note2"},{"parameters":{"content":"- No matter how many drill queries (and thus drill query sort versions) that a document query has, this loop (which goes for each document query/chart) should only still create one google doc within the folder per document query","height":208},"type":"n8n-nodes-base.stickyNote","position":[-608,448],"typeVersion":1,"id":"bcd504a8-36dc-4f64-9768-266191c15f9a","name":"Sticky Note3"},{"parameters":{"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,752],"id":"644912ff-e516-47c4-a8d3-db15d4af2f6b","name":"Edit Fields"},{"parameters":{"operation":"copy","fileId":{"__rl":true,"value":"1YKbahJYFRfw9HVcOpU_g8jygoMP8IQtPxtkYcmd9xWc","mode":"list","cachedResultName":"Board_Deck_Template","cachedResultUrl":"https://docs.google.com/document/d/1YKbahJYFRfw9HVcOpU_g8jygoMP8IQtPxtkYcmd9xWc/edit?usp=drivesdk"},"name":"={{ $json.input.document_query_name }}","sameFolder":false,"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.input.google_drive_folder_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[256,144],"id":"20d7d531-df60-4148-a6df-9d7b9101c340","name":"Create Chart Document","credentials":{"googleDriveOAuth2Api":{"id":"SgST8lxFUWMslYat","name":"Google Drive Cribl"}}},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"input\": {}\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-128,144],"id":"948c638e-2392-4b76-81e4-a35412c361ae","name":"Trigger"},{"parameters":{"content":"## Standard Input\n```\n[\n  {\n    \"document_query_id\": \"e440171b-9cd6-49ea-9fe6-a27c51e2c01f\",\n    \"document_query_name\": \"Approved Deal Registrations by FQ\",\n    \"queries\": [\n      {\n        \"document_query_name\": \"Approved Deal Registrations by FQ\",\n        \"drill_name\": \"Deal Registration ID count distinct\",\n        \"query\": {\n          \"limit\": 1000,\n          \"sorts\": [],\n          \"table\": \"sales__opportunity\",\n          \"fields\": [\n            \"sales__registrations.registration_source_type\",\n            \"sales__registrations.registration_id\",\n            \"sales__registrations.registration_name\",\n            \"sales__registrations.type\",\n            \"sales__registrations.created_by_name\",\n            \"sales__registrations.owner_name\",\n            \"sales__registrations.status\",\n            \"sales__registrations.registration_date\",\n            \"sales__registrations.expected_close_date\",\n            \"sales__registrations.approval_date\"\n          ],\n          \"pivots\": [],\n          \"dbtMode\": false,\n          \"filters\": {\n            \"sales__registrations.status\": {\n              \"kind\": \"EQUALS\",\n              \"type\": \"string\",\n              \"values\": [\n                \"Approved\",\n                \"Closed Won\",\n                \"Closed-Won\"\n              ],\n              \"is_negative\": false\n            },\n            \"sales__opportunity.loss_reason\": {\n              \"kind\": \"EQUALS\",\n              \"type\": \"string\",\n              \"values\": [\n                \"Created in Error\",\n                \"Created in Error / Duplicate\",\n                \"Duplicate - Merged w/ Active Opp\"\n              ],\n              \"is_negative\": true\n            },\n            \"sales__opportunity.record_type\": {\n              \"kind\": \"EQUALS\",\n              \"type\": \"string\",\n              \"values\": [\n                \"Expansion\",\n                \"New\",\n                \"Renewal+Upsell\",\n                \"Upsell\"\n              ],\n              \"is_negative\": false\n            },\n            \"sales__opportunity.type_of_opp\": {\n              \"kind\": \"EQUALS\",\n              \"type\": \"string\",\n              \"values\": [\n                \"Downsell\",\n                \"NFR\",\n                \"OEM\",\n                \"Services Only\"\n              ],\n              \"is_negative\": true\n            },\n            \"sales__opportunity.record_type_groups\": {\n              \"kind\": \"EQUALS\",\n              \"type\": \"string\",\n              \"values\": [\n                \"New Logo\"\n              ]\n            },\n            \"sales__registrations.registration_date\": {\n              \"type\": \"composite\",\n              \"filters\": [\n                {\n                  \"kind\": \"TIME_FOR_UNIT_DURATION\",\n                  \"type\": \"date\",\n                  \"left_side\": \"FY2026 Q3\"\n                },\n                {\n                  \"kind\": \"BETWEEN\",\n                  \"type\": \"date\",\n                  \"left_side\": \"2 fiscal years ago\",\n                  \"right_side\": \"1 fiscal quarters ago\",\n                  \"is_negative\": false\n                }\n              ],\n              \"conjunction\": \"AND\",\n              \"is_negative\": false\n            }\n          },\n          \"modelId\": \"3739282e-3287-437c-b998-d07feeb5f910\",\n          \"version\": 8,\n          \"controls\": [],\n          \"rewriteSql\": true,\n          \"row_totals\": {},\n          \"fill_fields\": [],\n          \"calculations\": [],\n          \"column_limit\": 50,\n          \"join_via_map\": {},\n          \"column_totals\": {},\n          \"userEditedSQL\": \"\",\n          \"dimensionIndex\": 0,\n          \"default_group_by\": true,\n          \"custom_summary_types\": {},\n          \"join_paths_from_topic_name\": \"deal_registrations\"\n        }\n      }\n    ],\n    \"queryCount\": 1,\n    \"google_drive_folder_id\": \"1i-Q0pCIIHsMtRC1GelGp1mTdrTa777MZ\"\n  }\n]\n```","width":256},"type":"n8n-nodes-base.stickyNote","position":[-752,-32],"typeVersion":1,"id":"63fe2ad0-2abb-4bb1-a92b-98c856b716b4","name":"Sticky Note"},{"parameters":{"content":"## High number of measures\n```\n[\n  {\n    \"document_query_id\": \"c3023df3-39f1-4913-86c8-07d69f6caeb1\",\n    \"document_query_name\": \"Incremental Cloud ARR and Customers Over Time\",\n    \"queries\": [\n      {\n        \"document_query_name\": \"Incremental Cloud ARR and Customers Over Time\",\n        \"drill_name\": \"total_customers\",\n        \"query\": {\n          \"limit\": 1000,\n          \"sorts\": [],\n          \"table\": \"finance__customer_quarterly_arr\",\n          \"fields\": [\n            \"finance__customer_quarterly_arr.fiscal_quarter[fiscal_quarter]\",\n            \"finance__customer_quarterly_arr.customer_name\",\n            \"finance__customer_quarterly_arr.first_purchase_quarter[date]\",\n            \"finance__customer_quarterly_arr.cribl_id\",\n            \"finance__customer_quarterly_arr.customer_type\",\n            \"finance__customer_quarterly_arr.total_starting_arr\",\n            \"finance__customer_quarterly_arr.total_new_arr\",\n            \"finance__customer_quarterly_arr.total_upsell_arr\",\n            \"finance__customer_quarterly_arr.total_churn_arr\",\n            \"finance__customer_quarterly_arr.total_downsell_arr\",\n            \"finance__customer_quarterly_arr.total_ending_arr\"\n          ],\n          \"pivots\": [],\n          \"dbtMode\": false,\n          \"filters\": {\n            \"finance__customer_quarterly_arr.fiscal_quarter\": {\n              \"type\": \"composite\",\n              \"filters\": [\n                {\n                  \"kind\": \"TIME_FOR_UNIT_DURATION\",\n                  \"type\": \"date\",\n                  \"left_side\": \"FY2026 Q3\"\n                },\n                {\n                  \"kind\": \"TIME_FOR_INTERVAL_DURATION\",\n                  \"type\": \"date\",\n                  \"left_side\": \"6 complete fiscal quarters ago\",\n                  \"right_side\": \"6 quarters\",\n                  \"is_negative\": false\n                }\n              ],\n              \"conjunction\": \"AND\",\n              \"is_negative\": false\n            },\n            \"finance__customer_quarterly_arr.source_granularity\": {\n              \"kind\": \"EQUALS\",\n              \"type\": \"string\",\n              \"values\": [\n                \"cloud\"\n              ]\n            }\n          },\n          \"modelId\": \"e3a78095-f13c-49a2-9a4c-617fca386ca4\",\n          \"version\": 8,\n          \"controls\": [],\n          \"rewriteSql\": true,\n          \"row_totals\": {},\n          \"fill_fields\": [],\n          \"calculations\": [],\n          \"column_limit\": 50,\n          \"join_via_map\": {},\n          \"column_totals\": {},\n          \"userEditedSQL\": \"\",\n          \"dimensionIndex\": 0,\n          \"default_group_by\": true,\n          \"custom_summary_types\": {},\n          \"join_paths_from_topic_name\": \"customer_quarterly_arr\"\n        },\n        \"sql\": \"SELECT 'FY' || CAST(EXTRACT(YEAR FROM (\\\"FISCAL_QUARTER\\\" + INTERVAL '11 month')) AS VARCHAR) || (' Q' || CAST(CAST(FLOOR((MOD(EXTRACT(MONTH FROM \\\"FISCAL_QUARTER\\\") + -13, 12) + 12 - 1) / 3) AS BIGINT) + 1 AS VARCHAR)) AS \\\"finance__customer_quarterly_arr.fiscal_quarter[fiscal_quarter]\\\",\\n    \\\"CUSTOMER_NAME\\\" AS \\\"finance__customer_quarterly_arr.customer_name\\\",\\n    CAST(DATE_TRUNC('DAY', \\\"FIRST_PURCHASE_QUARTER\\\") AS TIMESTAMP(0)) AS \\\"finance__customer_quarterly_arr.first_purchase_quarter[date]__raw\\\",\\n    \\\"CRIBL_ID\\\" AS \\\"finance__customer_quarterly_arr.cribl_id\\\",\\n    \\\"CUSTOMER_TYPE\\\" AS \\\"finance__customer_quarterly_arr.customer_type\\\",\\n    COALESCE(SUM(CASE\\n        WHEN \\\"STARTING_ARR\\\" > 0 THEN \\\"STARTING_ARR_CLOUD\\\"\\n        ELSE NULL\\n    END), 0) AS \\\"finance__customer_quarterly_arr.total_starting_arr\\\",\\n    COALESCE(SUM(CASE\\n        WHEN \\\"NEW_ARR\\\" > 0 THEN \\\"NEW_ARR_CLOUD\\\"\\n        ELSE NULL\\n    END), 0) AS \\\"finance__customer_quarterly_arr.total_new_arr\\\",\\n    COALESCE(SUM(CASE\\n        WHEN \\\"UPSELL_ARR\\\" > 0 THEN \\\"UPSELL_ARR_CLOUD\\\"\\n        ELSE NULL\\n    END), 0) AS \\\"finance__customer_quarterly_arr.total_upsell_arr\\\",\\n    COALESCE(SUM(CASE\\n        WHEN \\\"CHURN_ARR\\\" < 0 THEN \\\"CHURN_ARR_CLOUD\\\"\\n        ELSE NULL\\n    END), 0) AS \\\"finance__customer_quarterly_arr.total_churn_arr\\\",\\n    COALESCE(SUM(CASE\\n        WHEN \\\"DOWNSELL_ARR\\\" < 0 THEN \\\"DOWNSELL_ARR_CLOUD\\\"\\n        ELSE NULL\\n    END), 0) AS \\\"finance__customer_quarterly_arr.total_downsell_arr\\\",\\n    COALESCE(SUM(CASE\\n        WHEN \\\"ENDING_ARR\\\" > 0 THEN \\\"ENDING_ARR_CLOUD\\\"\\n        ELSE NULL\\n    END), 0) AS \\\"finance__customer_quarterly_arr.total_ending_arr\\\",\\n    TO_CHAR(CAST(DATE_TRUNC('DAY', \\\"FIRST_PURCHASE_QUARTER\\\") AS TIMESTAMP(0)), 'YYYY-MM-DD') AS \\\"finance__customer_quarterly_arr.first_purchase_quarter[date]\\\"\\nFROM \\\"FINANCE\\\".\\\"CUSTOMER_QUARTERLY_ARR\\\" AS \\\"finance__customer_quarterly_arr\\\"\\nWHERE \\\"FISCAL_QUARTER\\\" >= CAST(TIMESTAMP '2025-08-01 00:00:00' AS DATE) AND \\\"FISCAL_QUARTER\\\" < CAST((DATE_TRUNC('QUARTER', ((TIMESTAMP '2025-08-01 00:00:00' + INTERVAL '3 month') + INTERVAL '2 month')) + INTERVAL '-2 month') AS DATE) AND \\\"FISCAL_QUARTER\\\" >= CAST((DATE_TRUNC('QUARTER', ((CAST(CURRENT_TIMESTAMP AS TIMESTAMP(0)) + INTERVAL '-18 month') + INTERVAL '2 month')) + INTERVAL '-2 month') AS DATE) AND \\\"FISCAL_QUARTER\\\" < CAST((DATE_TRUNC('QUARTER', (((DATE_TRUNC('QUARTER', ((CAST(CURRENT_TIMESTAMP AS TIMESTAMP(0)) + INTERVAL '-18 month') + INTERVAL '2 month')) + INTERVAL '-2 month') + INTERVAL '18 month') + INTERVAL '2 month')) + INTERVAL '-2 month') AS DATE)\\nGROUP BY 4, 2, 5, 3, 1\\nLIMIT 1000\"\n      },\n      {\n        \"document_query_name\": \"Incremental Cloud ARR and Customers Over Time\",\n        \"drill_name\": \"total_migration_arr\",\n        \"query\": {\n          \"limit\": 1000,\n          \"sorts\": [],\n          \"table\": \"finance__customer_quarterly_arr\",\n          \"fields\": [\n            \"finance__customer_quarterly_arr.fiscal_quarter[fiscal_quarter]\",\n            \"finance__customer_quarterly_arr.customer_name\",\n            \"finance__customer_quarterly_arr.first_purchase_quarter[date]\",\n            \"finance__customer_quarterly_arr.cribl_id\",\n            \"finance__customer_quarterly_arr.customer_type\",\n            \"finance__customer_quarterly_arr.total_migration_arr\",\n            \"finance__customer_quarterly_arr.migration_arr_cloud\",\n            \"finance__customer_quarterly_arr.migration_arr_software\"\n          ],\n          \"pivots\": [],\n          \"dbtMode\": false,\n          \"filters\": {\n            \"finance__customer_quarterly_arr.fiscal_quarter\": {\n              \"type\": \"composite\",\n              \"filters\": [\n                {\n                  \"kind\": \"TIME_FOR_UNIT_DURATION\",\n                  \"type\": \"date\",\n                  \"left_side\": \"FY2026 Q3\"\n                },\n                {\n                  \"kind\": \"TIME_FOR_INTERVAL_DURATION\",\n                  \"type\": \"date\",\n                  \"left_side\": \"6 complete fiscal quarters ago\",\n                  \"right_side\": \"6 quarters\",\n                  \"is_negative\": false\n                }\n              ],\n              \"conjunction\": \"AND\",\n              \"is_negative\": false\n            },\n            \"finance__customer_quarterly_arr.source_granularity\": {\n              \"kind\": \"EQUALS\",\n              \"type\": \"string\",\n              \"values\": [\n                \"cloud\"\n              ]\n            }\n          },\n          \"modelId\": \"df073f20-17b0-4d9c-b667-2b2f86b5fae8\",\n          \"version\": 8,\n          \"controls\": [],\n          \"rewriteSql\": true,\n          \"row_totals\": {},\n          \"fill_fields\": [],\n          \"calculations\": [],\n          \"column_limit\": 50,\n          \"join_via_map\": {},\n          \"column_totals\": {},\n          \"userEditedSQL\": \"\",\n          \"dimensionIndex\": 0,\n          \"default_group_by\": true,\n          \"custom_summary_types\": {},\n          \"join_paths_from_topic_name\": \"customer_quarterly_arr\"\n        },\n        \"sql\": \"SELECT 'FY' || CAST(EXTRACT(YEAR FROM (\\\"FISCAL_QUARTER\\\" + INTERVAL '11 month')) AS VARCHAR) || (' Q' || CAST(CAST(FLOOR((MOD(EXTRACT(MONTH FROM \\\"FISCAL_QUARTER\\\") + -13, 12) + 12 - 1) / 3) AS BIGINT) + 1 AS VARCHAR)) AS \\\"finance__customer_quarterly_arr.fiscal_quarter[fiscal_quarter]\\\",\\n    \\\"CUSTOMER_NAME\\\" AS \\\"finance__customer_quarterly_arr.customer_name\\\",\\n    CAST(DATE_TRUNC('DAY', \\\"FIRST_PURCHASE_QUARTER\\\") AS TIMESTAMP(0)) AS \\\"finance__customer_quarterly_arr.first_purchase_quarter[date]__raw\\\",\\n    \\\"CRIBL_ID\\\" AS \\\"finance__customer_quarterly_arr.cribl_id\\\",\\n    \\\"CUSTOMER_TYPE\\\" AS \\\"finance__customer_quarterly_arr.customer_type\\\",\\n    COALESCE(SUM(\\\"MIGRATION_ARR_CLOUD\\\"), 0) AS \\\"finance__customer_quarterly_arr.total_migration_arr\\\",\\n    \\\"MIGRATION_ARR_CLOUD\\\" AS \\\"finance__customer_quarterly_arr.migration_arr_cloud\\\",\\n    \\\"MIGRATION_ARR_SOFTWARE\\\" AS \\\"finance__customer_quarterly_arr.migration_arr_software\\\",\\n    TO_CHAR(CAST(DATE_TRUNC('DAY', \\\"FIRST_PURCHASE_QUARTER\\\") AS TIMESTAMP(0)), 'YYYY-MM-DD') AS \\\"finance__customer_quarterly_arr.first_purchase_quarter[date]\\\"\\nFROM \\\"FINANCE\\\".\\\"CUSTOMER_QUARTERLY_ARR\\\" AS \\\"finance__customer_quarterly_arr\\\"\\nWHERE \\\"FISCAL_QUARTER\\\" >= CAST(TIMESTAMP '2025-08-01 00:00:00' AS DATE) AND \\\"FISCAL_QUARTER\\\" < CAST((DATE_TRUNC('QUARTER', ((TIMESTAMP '2025-08-01 00:00:00' + INTERVAL '3 month') + INTERVAL '2 month')) + INTERVAL '-2 month') AS DATE) AND \\\"FISCAL_QUARTER\\\" >= CAST((DATE_TRUNC('QUARTER', ((CAST(CURRENT_TIMESTAMP AS TIMESTAMP(0)) + INTERVAL '-18 month') + INTERVAL '2 month')) + INTERVAL '-2 month') AS DATE) AND \\\"FISCAL_QUARTER\\\" < CAST((DATE_TRUNC('QUARTER', (((DATE_TRUNC('QUARTER', ((CAST(CURRENT_TIMESTAMP AS TIMESTAMP(0)) + INTERVAL '-18 month') + INTERVAL '2 month')) + INTERVAL '-2 month') + INTERVAL '18 month') + INTERVAL '2 month')) + INTERVAL '-2 month') AS DATE)\\nGROUP BY 4, 2, 5, 3, 1, 7, 8\\nLIMIT 1000\"\n      },\n      {\n        \"document_query_name\": \"Incremental Cloud ARR and Customers Over Time\",\n        \"drill_name\": \"total_gross_new_arr\",\n        \"query\": {\n          \"limit\": 1000,\n          \"sorts\": [\n            {\n              \"column_name\": \"finance__customer_quarterly_arr.total_starting_arr\",\n              \"sort_descending\": true\n            }\n          ],\n          \"table\": \"finance__customer_quarterly_arr\",\n          \"fields\": [\n            \"finance__customer_quarterly_arr.fiscal_quarter[fiscal_quarter]\",\n            \"finance__customer_quarterly_arr.customer_name\",\n            \"finance__customer_quarterly_arr.first_purchase_quarter[date]\",\n            \"finance__customer_quarterly_arr.cribl_id\",\n            \"finance__customer_quarterly_arr.total_starting_arr\",\n            \"finance__customer_quarterly_arr.total_new_arr\",\n            \"finance__customer_quarterly_arr.total_upsell_arr\"\n          ],\n          \"pivots\": [],\n          \"dbtMode\": false,\n          \"filters\": {\n            \"finance__customer_quarterly_arr.fiscal_quarter\": {\n              \"type\": \"composite\",\n              \"filters\": [\n                {\n                  \"kind\": \"TIME_FOR_UNIT_DURATION\",\n                  \"type\": \"date\",\n                  \"left_side\": \"FY2026 Q3\"\n                },\n                {\n                  \"kind\": \"TIME_FOR_INTERVAL_DURATION\",\n                  \"type\": \"date\",\n                  \"left_side\": \"6 complete fiscal quarters ago\",\n                  \"right_side\": \"6 quarters\",\n                  \"is_negative\": false\n                }\n              ],\n              \"conjunction\": \"AND\",\n              \"is_negative\": false\n            },\n            \"finance__customer_quarterly_arr.source_granularity\": {\n              \"kind\": \"EQUALS\",\n              \"type\": \"string\",\n              \"values\": [\n                \"cloud\"\n              ]\n            }\n          },\n          \"modelId\": \"51b818b3-a897-4ede-a516-ab7436c6be97\",\n          \"version\": 8,\n          \"controls\": [],\n          \"rewriteSql\": true,\n          \"row_totals\": {},\n          \"fill_fields\": [],\n          \"calculations\": [],\n          \"column_limit\": 50,\n          \"join_via_map\": {},\n          \"column_totals\": {},\n          \"userEditedSQL\": \"\",\n          \"dimensionIndex\": 0,\n          \"default_group_by\": true,\n          \"custom_summary_types\": {},\n          \"join_paths_from_topic_name\": \"customer_quarterly_arr\"\n        },\n        \"sql\": \"SELECT 'FY' || CAST(EXTRACT(YEAR FROM (\\\"FISCAL_QUARTER\\\" + INTERVAL '11 month')) AS VARCHAR) || (' Q' || CAST(CAST(FLOOR((MOD(EXTRACT(MONTH FROM \\\"FISCAL_QUARTER\\\") + -13, 12) + 12 - 1) / 3) AS BIGINT) + 1 AS VARCHAR)) AS \\\"finance__customer_quarterly_arr.fiscal_quarter[fiscal_quarter]\\\",\\n    \\\"CUSTOMER_NAME\\\" AS \\\"finance__customer_quarterly_arr.customer_name\\\",\\n    CAST(DATE_TRUNC('DAY', \\\"FIRST_PURCHASE_QUARTER\\\") AS TIMESTAMP(0)) AS \\\"finance__customer_quarterly_arr.first_purchase_quarter[date]__raw\\\",\\n    \\\"CRIBL_ID\\\" AS \\\"finance__customer_quarterly_arr.cribl_id\\\",\\n    COALESCE(SUM(CASE\\n        WHEN \\\"STARTING_ARR\\\" > 0 THEN \\\"STARTING_ARR_CLOUD\\\"\\n        ELSE NULL\\n    END), 0) AS \\\"finance__customer_quarterly_arr.total_starting_arr\\\",\\n    COALESCE(SUM(CASE\\n        WHEN \\\"NEW_ARR\\\" > 0 THEN \\\"NEW_ARR_CLOUD\\\"\\n        ELSE NULL\\n    END), 0) AS \\\"finance__customer_quarterly_arr.total_new_arr\\\",\\n    COALESCE(SUM(CASE\\n        WHEN \\\"UPSELL_ARR\\\" > 0 THEN \\\"UPSELL_ARR_CLOUD\\\"\\n        ELSE NULL\\n    END), 0) AS \\\"finance__customer_quarterly_arr.total_upsell_arr\\\",\\n    TO_CHAR(CAST(DATE_TRUNC('DAY', \\\"FIRST_PURCHASE_QUARTER\\\") AS TIMESTAMP(0)), 'YYYY-MM-DD') AS \\\"finance__customer_quarterly_arr.first_purchase_quarter[date]\\\"\\nFROM \\\"FINANCE\\\".\\\"CUSTOMER_QUARTERLY_ARR\\\" AS \\\"finance__customer_quarterly_arr\\\"\\nWHERE \\\"FISCAL_QUARTER\\\" >= CAST(TIMESTAMP '2025-08-01 00:00:00' AS DATE) AND \\\"FISCAL_QUARTER\\\" < CAST((DATE_TRUNC('QUARTER', ((TIMESTAMP '2025-08-01 00:00:00' + INTERVAL '3 month') + INTERVAL '2 month')) + INTERVAL '-2 month') AS DATE) AND \\\"FISCAL_QUARTER\\\" >= CAST((DATE_TRUNC('QUARTER', ((CAST(CURRENT_TIMESTAMP AS TIMESTAMP(0)) + INTERVAL '-18 month') + INTERVAL '2 month')) + INTERVAL '-2 month') AS DATE) AND \\\"FISCAL_QUARTER\\\" < CAST((DATE_TRUNC('QUARTER', (((DATE_TRUNC('QUARTER', ((CAST(CURRENT_TIMESTAMP AS TIMESTAMP(0)) + INTERVAL '-18 month') + INTERVAL '2 month')) + INTERVAL '-2 month') + INTERVAL '18 month') + INTERVAL '2 month')) + INTERVAL '-2 month') AS DATE)\\nGROUP BY 4, 2, 3, 1\\nLIMIT 1000\"\n      },\n      {\n        \"document_query_name\": \"Incremental Cloud ARR and Customers Over Time\",\n        \"drill_name\": \"total_gross_new_arr\",\n        \"query\": {\n          \"limit\": 1000,\n          \"sorts\": [\n            {\n              \"column_name\": \"finance__customer_quarterly_arr.total_new_arr\",\n              \"sort_descending\": true\n            }\n          ],\n          \"table\": \"finance__customer_quarterly_arr\",\n          \"fields\": [\n            \"finance__customer_quarterly_arr.fiscal_quarter[fiscal_quarter]\",\n            \"finance__customer_quarterly_arr.customer_name\",\n            \"finance__customer_quarterly_arr.first_purchase_quarter[date]\",\n            \"finance__customer_quarterly_arr.cribl_id\",\n            \"finance__customer_quarterly_arr.total_starting_arr\",\n            \"finance__customer_quarterly_arr.total_new_arr\",\n            \"finance__customer_quarterly_arr.total_upsell_arr\"\n          ],\n          \"pivots\": [],\n          \"dbtMode\": false,\n          \"filters\": {\n            \"finance__customer_quarterly_arr.fiscal_quarter\": {\n              \"type\": \"composite\",\n              \"filters\": [\n                {\n                  \"kind\": \"TIME_FOR_UNIT_DURATION\",\n                  \"type\": \"date\",\n                  \"left_side\": \"FY2026 Q3\"\n                },\n                {\n                  \"kind\": \"TIME_FOR_INTERVAL_DURATION\",\n                  \"type\": \"date\",\n                  \"left_side\": \"6 complete fiscal quarters ago\",\n                  \"right_side\": \"6 quarters\",\n                  \"is_negative\": false\n                }\n              ],\n              \"conjunction\": \"AND\",\n              \"is_negative\": false\n            },\n            \"finance__customer_quarterly_arr.source_granularity\": {\n              \"kind\": \"EQUALS\",\n              \"type\": \"string\",\n              \"values\": [\n                \"cloud\"\n              ]\n            }\n          },\n          \"modelId\": \"51b818b3-a897-4ede-a516-ab7436c6be97\",\n          \"version\": 8,\n          \"controls\": [],\n          \"rewriteSql\": true,\n          \"row_totals\": {},\n          \"fill_fields\": [],\n          \"calculations\": [],\n          \"column_limit\": 50,\n          \"join_via_map\": {},\n          \"column_totals\": {},\n          \"userEditedSQL\": \"\",\n          \"dimensionIndex\": 0,\n          \"default_group_by\": true,\n          \"custom_summary_types\": {},\n          \"join_paths_from_topic_name\": \"customer_quarterly_arr\"\n        },\n        \"sql\": \"SELECT 'FY' || CAST(EXTRACT(YEAR FROM (\\\"FISCAL_QUARTER\\\" + INTERVAL '11 month')) AS VARCHAR) || (' Q' || CAST(CAST(FLOOR((MOD(EXTRACT(MONTH FROM \\\"FISCAL_QUARTER\\\") + -13, 12) + 12 - 1) / 3) AS BIGINT) + 1 AS VARCHAR)) AS \\\"finance__customer_quarterly_arr.fiscal_quarter[fiscal_quarter]\\\",\\n    \\\"CUSTOMER_NAME\\\" AS \\\"finance__customer_quarterly_arr.customer_name\\\",\\n    CAST(DATE_TRUNC('DAY', \\\"FIRST_PURCHASE_QUARTER\\\") AS TIMESTAMP(0)) AS \\\"finance__customer_quarterly_arr.first_purchase_quarter[date]__raw\\\",\\n    \\\"CRIBL_ID\\\" AS \\\"finance__customer_quarterly_arr.cribl_id\\\",\\n    COALESCE(SUM(CASE\\n        WHEN \\\"STARTING_ARR\\\" > 0 THEN \\\"STARTING_ARR_CLOUD\\\"\\n        ELSE NULL\\n    END), 0) AS \\\"finance__customer_quarterly_arr.total_starting_arr\\\",\\n    COALESCE(SUM(CASE\\n        WHEN \\\"NEW_ARR\\\" > 0 THEN \\\"NEW_ARR_CLOUD\\\"\\n        ELSE NULL\\n    END), 0) AS \\\"finance__customer_quarterly_arr.total_new_arr\\\",\\n    COALESCE(SUM(CASE\\n        WHEN \\\"UPSELL_ARR\\\" > 0 THEN \\\"UPSELL_ARR_CLOUD\\\"\\n        ELSE NULL\\n    END), 0) AS \\\"finance__customer_quarterly_arr.total_upsell_arr\\\",\\n    TO_CHAR(CAST(DATE_TRUNC('DAY', \\\"FIRST_PURCHASE_QUARTER\\\") AS TIMESTAMP(0)), 'YYYY-MM-DD') AS \\\"finance__customer_quarterly_arr.first_purchase_quarter[date]\\\"\\nFROM \\\"FINANCE\\\".\\\"CUSTOMER_QUARTERLY_ARR\\\" AS \\\"finance__customer_quarterly_arr\\\"\\nWHERE \\\"FISCAL_QUARTER\\\" >= CAST(TIMESTAMP '2025-08-01 00:00:00' AS DATE) AND \\\"FISCAL_QUARTER\\\" < CAST((DATE_TRUNC('QUARTER', ((TIMESTAMP '2025-08-01 00:00:00' + INTERVAL '3 month') + INTERVAL '2 month')) + INTERVAL '-2 month') AS DATE) AND \\\"FISCAL_QUARTER\\\" >= CAST((DATE_TRUNC('QUARTER', ((CAST(CURRENT_TIMESTAMP AS TIMESTAMP(0)) + INTERVAL '-18 month') + INTERVAL '2 month')) + INTERVAL '-2 month') AS DATE) AND \\\"FISCAL_QUARTER\\\" < CAST((DATE_TRUNC('QUARTER', (((DATE_TRUNC('QUARTER', ((CAST(CURRENT_TIMESTAMP AS TIMESTAMP(0)) + INTERVAL '-18 month') + INTERVAL '2 month')) + INTERVAL '-2 month') + INTERVAL '18 month') + INTERVAL '2 month')) + INTERVAL '-2 month') AS DATE)\\nGROUP BY 4, 2, 3, 1\\nLIMIT 1000\"\n      },\n      {\n        \"document_query_name\": \"Incremental Cloud ARR and Customers Over Time\",\n        \"drill_name\": \"total_gross_new_arr\",\n        \"query\": {\n          \"limit\": 1000,\n          \"sorts\": [\n            {\n              \"column_name\": \"finance__customer_quarterly_arr.total_upsell_arr\",\n              \"sort_descending\": true\n            }\n          ],\n          \"table\": \"finance__customer_quarterly_arr\",\n          \"fields\": [\n            \"finance__customer_quarterly_arr.fiscal_quarter[fiscal_quarter]\",\n            \"finance__customer_quarterly_arr.customer_name\",\n            \"finance__customer_quarterly_arr.first_purchase_quarter[date]\",\n            \"finance__customer_quarterly_arr.cribl_id\",\n            \"finance__customer_quarterly_arr.total_starting_arr\",\n            \"finance__customer_quarterly_arr.total_new_arr\",\n            \"finance__customer_quarterly_arr.total_upsell_arr\"\n          ],\n          \"pivots\": [],\n          \"dbtMode\": false,\n          \"filters\": {\n            \"finance__customer_quarterly_arr.fiscal_quarter\": {\n              \"type\": \"composite\",\n              \"filters\": [\n                {\n                  \"kind\": \"TIME_FOR_UNIT_DURATION\",\n                  \"type\": \"date\",\n                  \"left_side\": \"FY2026 Q3\"\n                },\n                {\n                  \"kind\": \"TIME_FOR_INTERVAL_DURATION\",\n                  \"type\": \"date\",\n                  \"left_side\": \"6 complete fiscal quarters ago\",\n                  \"right_side\": \"6 quarters\",\n                  \"is_negative\": false\n                }\n              ],\n              \"conjunction\": \"AND\",\n              \"is_negative\": false\n            },\n            \"finance__customer_quarterly_arr.source_granularity\": {\n              \"kind\": \"EQUALS\",\n              \"type\": \"string\",\n              \"values\": [\n                \"cloud\"\n              ]\n            }\n          },\n          \"modelId\": \"51b818b3-a897-4ede-a516-ab7436c6be97\",\n          \"version\": 8,\n          \"controls\": [],\n          \"rewriteSql\": true,\n          \"row_totals\": {},\n          \"fill_fields\": [],\n          \"calculations\": [],\n          \"column_limit\": 50,\n          \"join_via_map\": {},\n          \"column_totals\": {},\n          \"userEditedSQL\": \"\",\n          \"dimensionIndex\": 0,\n          \"default_group_by\": true,\n          \"custom_summary_types\": {},\n          \"join_paths_from_topic_name\": \"customer_quarterly_arr\"\n        },\n        \"sql\": \"SELECT 'FY' || CAST(EXTRACT(YEAR FROM (\\\"FISCAL_QUARTER\\\" + INTERVAL '11 month')) AS VARCHAR) || (' Q' || CAST(CAST(FLOOR((MOD(EXTRACT(MONTH FROM \\\"FISCAL_QUARTER\\\") + -13, 12) + 12 - 1) / 3) AS BIGINT) + 1 AS VARCHAR)) AS \\\"finance__customer_quarterly_arr.fiscal_quarter[fiscal_quarter]\\\",\\n    \\\"CUSTOMER_NAME\\\" AS \\\"finance__customer_quarterly_arr.customer_name\\\",\\n    CAST(DATE_TRUNC('DAY', \\\"FIRST_PURCHASE_QUARTER\\\") AS TIMESTAMP(0)) AS \\\"finance__customer_quarterly_arr.first_purchase_quarter[date]__raw\\\",\\n    \\\"CRIBL_ID\\\" AS \\\"finance__customer_quarterly_arr.cribl_id\\\",\\n    COALESCE(SUM(CASE\\n        WHEN \\\"STARTING_ARR\\\" > 0 THEN \\\"STARTING_ARR_CLOUD\\\"\\n        ELSE NULL\\n    END), 0) AS \\\"finance__customer_quarterly_arr.total_starting_arr\\\",\\n    COALESCE(SUM(CASE\\n        WHEN \\\"NEW_ARR\\\" > 0 THEN \\\"NEW_ARR_CLOUD\\\"\\n        ELSE NULL\\n    END), 0) AS \\\"finance__customer_quarterly_arr.total_new_arr\\\",\\n    COALESCE(SUM(CASE\\n        WHEN \\\"UPSELL_ARR\\\" > 0 THEN \\\"UPSELL_ARR_CLOUD\\\"\\n        ELSE NULL\\n    END), 0) AS \\\"finance__customer_quarterly_arr.total_upsell_arr\\\",\\n    TO_CHAR(CAST(DATE_TRUNC('DAY', \\\"FIRST_PURCHASE_QUARTER\\\") AS TIMESTAMP(0)), 'YYYY-MM-DD') AS \\\"finance__customer_quarterly_arr.first_purchase_quarter[date]\\\"\\nFROM \\\"FINANCE\\\".\\\"CUSTOMER_QUARTERLY_ARR\\\" AS \\\"finance__customer_quarterly_arr\\\"\\nWHERE \\\"FISCAL_QUARTER\\\" >= CAST(TIMESTAMP '2025-08-01 00:00:00' AS DATE) AND \\\"FISCAL_QUARTER\\\" < CAST((DATE_TRUNC('QUARTER', ((TIMESTAMP '2025-08-01 00:00:00' + INTERVAL '3 month') + INTERVAL '2 month')) + INTERVAL '-2 month') AS DATE) AND \\\"FISCAL_QUARTER\\\" >= CAST((DATE_TRUNC('QUARTER', ((CAST(CURRENT_TIMESTAMP AS TIMESTAMP(0)) + INTERVAL '-18 month') + INTERVAL '2 month')) + INTERVAL '-2 month') AS DATE) AND \\\"FISCAL_QUARTER\\\" < CAST((DATE_TRUNC('QUARTER', (((DATE_TRUNC('QUARTER', ((CAST(CURRENT_TIMESTAMP AS TIMESTAMP(0)) + INTERVAL '-18 month') + INTERVAL '2 month')) + INTERVAL '-2 month') + INTERVAL '18 month') + INTERVAL '2 month')) + INTERVAL '-2 month') AS DATE)\\nGROUP BY 4, 2, 3, 1\\nLIMIT 1000\"\n      }\n    ],\n    \"queryCount\": 5\n  }\n]\n```"},"type":"n8n-nodes-base.stickyNote","position":[-464,-32],"typeVersion":1,"id":"72339903-3bd2-4b70-94bc-334f133cdbbf","name":"Sticky Note1"}],"connections":{"Loop Over Queries":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Loop Query Item","type":"main","index":0}]]},"Extract Queries for UUID":{"main":[[{"node":"Loop Over Queries","type":"main","index":0}]]},"Create Request Payload":{"main":[[{"node":"Call 'Board_Deck_Omni_Query_Analysis_Subworkflow'","type":"main","index":0}]]},"Parse Modified Query AI Output1":{"main":[[{"node":"Create Request Payload","type":"main","index":0}]]},"gpt-5-mini":{"ai_languageModel":[[{"node":"Query JSON Modifier","type":"ai_languageModel","index":0}]]},"Query JSON Modifier":{"main":[[{"node":"Parse Modified Query AI Output1","type":"main","index":0}]]},"Call 'Board_Deck_Omni_Query_Analysis_Subworkflow'":{"main":[[{"node":"Loop Over Queries","type":"main","index":0}]]},"Loop Query Item":{"main":[[{"node":"Query JSON Modifier","type":"main","index":0}]]},"Create Chart Document":{"main":[[{"node":"Extract Queries for UUID","type":"main","index":0}]]},"Trigger":{"main":[[{"node":"Create Chart Document","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Create Takeaways Doc":[{"json":{"kind":"drive#file","id":"1RI2VYYgam1TWgKKJTmPqyKMlZ7D__nSg5SdNiPbxHTQ","name":"Incremental Cloud ARR and Customers Over Time","mimeType":"application/vnd.google-apps.document"}}],"Trigger":[{"json":{"input":{"document_query_id":"b5c07e22-63a7-4c39-b4e1-39fed0467998","document_query_name":"Q3 Won & Q4 Open_Stream","queries":[{"document_query_name":"Q3 Won & Q4 Open_Stream","drill_name":"stream_new_arr","query":{"limit":1000,"sorts":[],"table":"sales__opportunity","fields":["sales__accounts.account_name","sales__opportunity.opportunity_name","sales__accounts.owner_name","sales__opportunity.forecast","sales__opportunity.stage_name","sales__opportunity.record_type","sales__opportunity.new_arr_derived","sales__opportunity.close_date"],"pivots":[],"dbtMode":false,"filters":{"sales__opportunity.close_date":{"type":"composite","filters":[{"kind":"TIME_FOR_UNIT_DURATION","type":"date","left_side":"FY2027 Q1"},{"type":"composite","filters":[{"kind":"TIME_FOR_INTERVAL_DURATION","type":"date","left_side":"2 complete fiscal quarters ago","right_side":"2 quarters","is_negative":false},{"kind":"BETWEEN","type":"date","left_side":"0 fiscal quarters ago","right_side":"2 fiscal quarters from now","is_negative":false}],"conjunction":"OR"}],"conjunction":"AND","is_negative":false},"sales__opportunity.stage_name":{"kind":"EQUALS","type":"string","values":["3. Visible Opportunity"]},"sales__opportunity.type_of_opp":{"kind":"EQUALS","type":"string","values":["Downsell","NFR","Services Only"],"is_negative":true},"sales__opportunity.stage_last_updated":{"kind":"BEFORE","type":"date","right_side":"2025-11-03","is_negative":false}},"modelId":"ff7d6a64-3403-4b84-922d-e8ac1382baf5","version":8,"controls":[],"rewriteSql":true,"row_totals":{},"fill_fields":[],"calculations":[],"column_limit":50,"join_via_map":{},"column_totals":{},"userEditedSQL":"","dimensionIndex":0,"default_group_by":true,"custom_summary_types":{},"join_paths_from_topic_name":"opportunity"}}],"queryCount":1,"google_drive_folder_id":"1i-Q0pCIIHsMtRC1GelGp1mTdrTa777MZ","current_fiscal_quarter":"FY2026 Q3","previous_fiscal_quarter":"FY2026 Q2","default_user_id":"893ce348-0fb2-44ac-b0f8-06521a341580"}}}],"Create Chart Document":[{"json":{"kind":"drive#file","id":"1BPTxQOiRCIf-Qeu6gGSHDvGn8NRs9w3Mwydf8gVErFA","name":"Approved Deal Registrations by FQ","mimeType":"application/vnd.google-apps.document"},"pairedItem":{"item":0}}],"Call 'Board_Deck_Omni_Query_Analysis_Subworkflow'":[{"json":{"output":{"overall_delta_summary":["- Most accounts are stable quarter-to-quarter (many fields = 0). A small set of accounts produced outsized movement in Q3: several large one-off upsells (CDK Global +1.01M; FIS +447k; Siemens +314k; Geico +314k) materially increased ending ARR for those customers, while a few accounts show large downsells (Synopsys -273k; CDW Llc -247k) reducing ARR. These concentrated events drive the quarter’s primary volatility rather than broad-based changes.","- Total new ARR increased from $5,006,059.54 in FY2026 Q2 to $7,943,222.66 in FY2026 Q3 — an absolute increase of $2,937,163.12 (+58.66%). The increase is driven by a very large Q3 new logo (AT&T, $3.66M) plus a set of mid-size education and public-sector wins. Many large Q2 new logos are absent in Q3 new_arr because they were classified as cumulative starting ARR (lifecycle effect), which artificially produces large negative per-account deltas when inspecting new_arr only.","- Total recognized upsell ARR increased from $3,993,048.55 in FY2026 Q2 to $9,487,744.53 in FY2026 Q3 (absolute increase $5,494,695.98, +137.62%). The change is driven primarily by a small set of very large Q3 upsells (IRS, Zoom, CDK) while several Q2 large upsells did not recur in Q3, indicating timing volatility rather than uniform growth across the base.","- Large net moves are dominated by a few accounts: several very large accounts appear in Q2 and are absent in Q3 (e.g., Mercedes, Deloitte), while several large accounts appear newly or show large upsells in Q3 (IRS, Capital Group). This pattern suggests either true customer-level revenue volatility (new large deals / reclassifications) or data/reporting differences between extracts. Many mid-size accounts are stable (e.g., TJX, Ross Stores, Dropbox).","- The current-quarter export contains multiple very large, material increases driven by a small set of accounts (AT&T +3.66M, IRS +1.86M, Zoom +1.53M, CDK +1.46M). Among accounts present in both exports, changes are mostly stable or modest, with notable confirmed upsell at Reinsurance Group (+151k). Several large prior-quarter accounts (Pfizer, Vanguard, McDonald's, MetLife) are present in the previous export but absent from the current export file -- this creates ambiguity for net-quarter comparisons and may reflect differing extraction criteria or timing.","- Q3 shows several very large net positive moves driven by new logos and big upsells: AT&T (+$3.66M), IRS (+$1.86M), Zoom (+$1.53M) and CDK (+$1.01M) — combined positive movement among these top movers ≈ +$8.07M. The largest single decline observed in the provided data is Synopsys (-$272.6k). Net impact among the highlighted movers ≈ +$7.80M. These top changes are concentrated in a handful of accounts rather than broad-based across the portfolio."],"anomalies":["- No anomalies detected."],"growth_drivers":["- CDK Global: Multiple Q3 upsell entries reported. One entry notes a FY2026 Q3 upsell of +$1,009,194 that drove Ending ARR from $447K to $1.46M. Another entry reports a large upsell of +$1,456,405 in the current quarter with Ending ARR $1.46M (absent in prior export). Top-3 accounts explain ~45.6% of Q3 upsell; treat as one-off expansion and validate contract start/recognition with GTM/Finance. Assess repeatability.","- FIS Global: FY2026 Q3 upsell of +$446,725 increased Ending ARR from $792K to $1.24M. This mid-size expansion materially supported net ARR growth; review contract details to assess repeatability and verify data/classification.","- Geico: FY2026 Q3 upsell of +$313,720 moved Ending ARR to $654K, a notable single-account expansion that materially aided quarter growth; capture account-level drivers for scaling.","- Siemens Digital Industries Software: FY2026 Q3 upsell of +$313,684 increased Ending ARR to $504K, indicating program/multi-product expansion; extract GTM learnings to operationalize similar wins.","- AT&T Inc.: Large Q3 new-logo of +$3,664,451 in new ARR (Q3 $3,664,451 vs $0 in Q2) is repeatedly reported and materially drives the +58.7% Q-o-Q new ARR increase. Entries flag single-account concentration risk (46.1% of Q3 new ARR; 35.0% of top-5 ending ARR) -- validate contract terms, timing, and revenue recognition with Finance/GTM.","- Hydro - Québec: Q3 new-logo reported as +$362K (Q3 $361,987 vs $0 in Q2), one of the larger mid-market/public-sector wins; prioritize onboarding and pursue adjacent expansion.","- IRS: Q3 upsell/new booking repeatedly reported at +$1,864,644 (Ending ARR $1.86M vs $0 in Q2). Reported as a primary driver of Q3 upsell and noted as material -- validate recurrence, contract dates, and billing start date with GTM/Finance.","- Zoom Video Conferencing: Q3 upsell/expansion amounts are reported variably (entries cite +$1,531,535 and +$1,450,535 and summaries cite +$1.45M) and drove Ending ARR to $1.53M (absent in prior export). Confirm timing and revenue classification with GTM/finance given the concentrated recognition.","- Prudential Financial: Q3 upsell of +$347,782 (total_upsell_arr $347.8K vs $0 in Q2) is reported as part of top-5 contributors to Q3 upsell concentration; monitor dependency risk.","- Capital Group: New in Q3 with Ending ARR of $1.20M (+$1.20M vs $0 in Q2), reported as a material addition to Q3 ARR; confirm new deal vs reporting inclusion.","- Reinsurance Group of America, Inc.: Confirmed upsell of +$151,040 (+197%) increased Ending ARR from $76,650 to $227,690 in the current quarter vs prior -- clear expansion; evaluate repeatable expansion plays."],"declines":["- Synopsys: Q3 downsell of -$272,583 reduced Ending ARR from $433,898 to $161,315 (reported as -63%), the largest negative mover this quarter. Investigate scope change and monitor for further contraction risk; prioritize account-health follow-up.","- CDW Llc.: FY2026 Q3 downsell of -$247,074 lowered Ending ARR to $123,753, a material account-level loss that warrants immediate root-cause analysis and targeted recovery engagement.","- South Carolina Department of Administration: Q2 upsell of $606,581 → Q3 $0 (-100%) reported as the largest negative mover; likely timing/one-off amendment rather than churn -- verify source and classification.","- Xcel Energy: Q2 upsell of $366,133 → Q3 $0 (-100%) -- investigate contract/recognition timing to confirm status.","- Penn Medicine: Q2 upsell of $281,050 → Q3 $0 (-100%) -- suggests non-recurring item or deferred recognition; confirm with finance/GTM.","- Synchrony Financial: Q2 upsell of $231,651 → Q3 $0 (-100%) -- verify timing vs cancellation and update forecasts accordingly.","- J.C. Penney Co., Inc.: Q2 upsell of $221,967 → Q3 $0 (-100%) -- likely timing-driven; confirm and annotate forecasting inputs.","- Mercedes-Benz: Absent in Q3 after $1.14M Ending ARR in Q2 (reported as -$1.14M, -100% vs Q2). This is a primary negative mover that may indicate churn, reclassification, or export omission -- reconcile promptly.","- Republic Bank and Trust Co. Inc.: Recorded churn of -$41,864 in the current quarter (ending ARR 0) -- confirm whether this is a true lost account or a timing/labeling issue and prioritize retention/contract reconciliation.","- Hitachi Vantara: Recorded churn of -$32,798 in the current quarter (ending ARR reduced) -- investigate contract loss or data correction with CS/GTM and update churn register."],"operational_highlights":["- Paramount: Largest customer by Starting ARR at $1.72M (FY2026 Q3) and by Ending ARR at $1.72M (unchanged Q2→Q3). Stable with no recorded upsell/downsell this quarter -- an anchor account providing portfolio stability at the top of the ARR distribution.","- BlackRock: Second-largest by Starting ARR at $1.55M and flat Ending ARR in Q3 (unchanged vs prior) with no transactional changes recorded; key stable enterprise relationship.","- Desjardins: Starting ARR at $1.21M with stable Ending ARR (no recorded motion) and prior-quarter top-3 positioning, representing steady top-account contribution.","- Capital Group: Starting ARR at $1.20M with no recorded upsell/churn this quarter -- consistent high-value account (new in Q3 as reported).","- Rocket Companies, Inc.: Starting ARR at $1.19M with no recorded quarter activity; stable mid-top account in the portfolio.","- MetLife: Q2 new ARR $795,846 → Q3 new_arr $0 (moved into starting ARR), a lifecycle transition rather than churn; adjust comparisons to account for classification shifts when evaluating new_arr deltas.","- Northwell Health: Q2 new ARR $580,320 → Q3 new_arr $0 (moved to starting ARR); negative new_arr delta reflects lifecycle classification -- confirm capture in starting ARR and reconcile reporting.","- Fairview Health Services: Q2 new ARR $342,000 → Q3 new_arr $0 (moved into starting ARR); consistent lifecycle pattern among top Q2 deals -- ensure cumulative metrics account for these transitions.","- Total recognized Q3 upsell $9,487,744 vs Q2 $3,993,048.55 (+$5,494,695.98, +137.6%) -- growth concentrated in a few large transactions; interpret net change as timing-driven given many zero-upsell records.","- Distribution note: Median upsell = $0 and top-5 Q3 contributors account for ~54.0% of total upsell -- heavy right-skew increases quarter volatility and reduces signal in broad-based metrics.","- TJX Inc.: Stable at $850K Ending ARR in Q3 (no change vs Q2), remaining a top-5 account (~6.6% of Q3 ARR) and a steady revenue anchor across quarters.","- Indeed, Inc.: Stable Ending ARR at $682,600 in the current quarter (unchanged vs prior export), indicating consistent account health and no recorded churn.","- Wynn America Llc.: Ending ARR stable at $250,000 across exports (no change vs prior), representing a reliable mid-large account.","- Graybar Electric Co., Inc.: Ending ARR unchanged at $27,928 (no change vs prior) -- consistent reporting and low volatility."],"recommendations":["- Validate all material Q3 upsells (CDK, FIS, Siemens, Geico) with GTM and Finance to confirm contract start dates, revenue recognition and to rule out data consolidation errors.","- Initiate immediate account reviews and retention playbooks for Synopsys and CDW to recover lost ARR and understand drivers of downsells.","- Quantify concentration risk by calculating percent of net ARR growth attributable to top accounts, then implement diversification targets and sales incentives.","- Capture and formalize the expansion playbook from CDK/FIS wins (offer mix, pricing, sales motion) to replicate into similar accounts.","- Implement monitoring rules to flag single-account ARR moves >$250K in near-real time to trigger GTM/Finance review and rapid remediation.","- Immediately validate the AT&T new-logo: confirm contract start date, ARR recognition, and that +$3.66M is accurately recorded (not a consolidation or classification error).","- Assess concentration risk and run retention stress tests given AT&T represents ~46% of Q3 new ARR; develop mitigation or diversification plans for single-account dependency.","- Revise reporting to include lifecycle-aware views (new_arr vs starting_arr vs upsell) and handle previous=0 cases to avoid misleading percent-change nulls in board reporting.","- Prioritize onboarding and expansion plays for Hydro and other mid-size education/public-sector wins to convert one-off new ARR into sustainable upsell/renewal streams.","- Reconcile top Q2→Q3 movers (top ~10) across new_arr and starting_arr to confirm classification shifts and surface any data quality or recognition issues for corrective action.","- Validate top Q3 upsells (IRS, Zoom, CDK): obtain contract amendments, effective dates, and revenue classification to confirm recurring vs one-time recognition and adjust forecasts.","- Quantify and mitigate concentration risk: report % of upsell from top-3/top-5, set exposure thresholds, and prioritize pipeline diversification and mid-market expansion to reduce single-account dependency.","- Investigate absent Q2 upsells (South Carolina, Xcel, Penn, Synchrony, J.C. Penney): confirm one-off vs deferred recognition; if one-offs, remove from recurring baselines and update churn/renewal models.","- Revise forecasting rules for previous_metric=0 cases: flag zero-prev periods, avoid percent-change reliance, and apply scenario modeling for skewed distributions (median=0).","- Leverage repeatable expansion patterns (e.g., CDK, FIS): coordinate GTM to codify playbooks, replicate contract structures, and lock renewal/recognition timing to reduce volatility.","- Reconcile missing large prior-quarter accounts (Mercedes, Deloitte) against source systems within 48–72 hours to determine churn vs export/segmentation issues; prioritize discrepancies >$1M.","- Validate IRS and Capital Group movements with GTM and finance to confirm contract start dates and one-time adjustments; combined movements represent ~23.8% of estimated Q3 ARR.","- Produce a top-10 concentration analysis (share of total ARR) and scenario stress-test; if top-account reliance >20%, recommend diversification actions.","- Implement monthly automated export reconciliations and clear inclusion rules to prevent quarter-to-quarter extraction gaps and double-counting.","- Create targeted expansion playbooks modeled on IRS/Capital characteristics to replicate upsell motions across similar mid-market accounts.","- Validate all material new bookings (AT&T, IRS, Zoom, CDK) with Finance and GTM: confirm contract start dates, booking paperwork, and revenue recognition to rule out timing or extraction artifacts.","- Perform an ID-level reconciliation and standardize export criteria to resolve cross-quarter absences (Pfizer, Vanguard, McDonald's, MetLife) and ensure consistent net-quarter comparisons.","- Investigate churn cases (Republic Bank, Hitachi) immediately: confirm true loss vs labeling error, engage CS for recovery where appropriate, and update churn/renewal forecasts.","- Assess concentration risk from a few large accounts (~45% of quarter-ending ARR); quantify top-account dependency and develop diversification or upsell plans to reduce single-account exposure.","- Leverage the confirmed expansion at Reinsurance Group to build a repeatable expansion playbook and target similar accounts for prioritized GTM outreach.","- Validate large new deals and upsells (AT&T, IRS, Zoom, CDK) with GTM and finance: confirm contract start dates, revenue recognition, and rule out data consolidation errors.","- Quantify concentration risk driven by AT&T (~35% of top-5); run a full-portfolio concentration analysis and model downside scenarios; set diversification targets.","- Prioritize Synopsys for a QBR/account-health review and retention actions to prevent further ARR erosion following the -63% downsell.","- Leverage CDK and Zoom expansion patterns to create targeted expansion playbooks and replicate upsell motion across similar accounts and segments.","- Flag one-off/new-logo impacts in forecasting (separate recurring vs one-time ARR) to avoid overstating sustained growth in forward plans."]}}}],"Query JSON Modifier":[{"json":{"output":"[{\"sorted_by_measure\":\"sales__opportunity.new_arr_derived\",\"current_fiscal_quarter_query\":{\"limit\":200,\"sorts\":[{\"column_name\":\"sales__opportunity.new_arr_derived\",\"sort_descending\":true}],\"table\":\"sales__opportunity\",\"fields\":[\"sales__accounts.account_name\",\"sales__opportunity.opportunity_name\",\"sales__accounts.owner_name\",\"sales__opportunity.forecast\",\"sales__opportunity.stage_name\",\"sales__opportunity.record_type\",\"sales__opportunity.new_arr_derived\",\"sales__opportunity.close_date\"],\"pivots\":[],\"dbtMode\":false,\"filters\":{\"sales__opportunity.close_date\":{\"type\":\"composite\",\"filters\":[{\"kind\":\"TIME_FOR_UNIT_DURATION\",\"type\":\"date\",\"left_side\":\"FY2026 Q3\"},{\"kind\":\"TIME_FOR_INTERVAL_DURATION\",\"type\":\"date\",\"left_side\":\"1 complete fiscal quarters ago\",\"right_side\":\"1 quarters\",\"is_negative\":false}],\"conjunction\":\"AND\",\"is_negative\":false},\"sales__opportunity.stage_name\":{\"kind\":\"EQUALS\",\"type\":\"string\",\"values\":[\"3. Visible Opportunity\"]},\"sales__opportunity.type_of_opp\":{\"kind\":\"EQUALS\",\"type\":\"string\",\"values\":[\"Downsell\",\"NFR\",\"Services Only\"],\"is_negative\":true}},\"modelId\":\"ff7d6a64-3403-4b84-922d-e8ac1382baf5\",\"version\":8,\"controls\":[],\"rewriteSql\":true,\"row_totals\":{},\"fill_fields\":[],\"calculations\":[],\"column_limit\":50,\"join_via_map\":{},\"column_totals\":{},\"userEditedSQL\":\"\",\"dimensionIndex\":0,\"default_group_by\":true,\"custom_summary_types\":{},\"join_paths_from_topic_name\":\"opportunity\"},\"previous_fiscal_quarter_query\":{\"limit\":200,\"sorts\":[{\"column_name\":\"sales__opportunity.new_arr_derived\",\"sort_descending\":true}],\"table\":\"sales__opportunity\",\"fields\":[\"sales__accounts.account_name\",\"sales__opportunity.opportunity_name\",\"sales__accounts.owner_name\",\"sales__opportunity.forecast\",\"sales__opportunity.stage_name\",\"sales__opportunity.record_type\",\"sales__opportunity.new_arr_derived\",\"sales__opportunity.close_date\"],\"pivots\":[],\"dbtMode\":false,\"filters\":{\"sales__opportunity.close_date\":{\"type\":\"composite\",\"filters\":[{\"kind\":\"TIME_FOR_UNIT_DURATION\",\"type\":\"date\",\"left_side\":\"FY2026 Q2\"},{\"kind\":\"TIME_FOR_INTERVAL_DURATION\",\"type\":\"date\",\"left_side\":\"2 complete fiscal quarters ago\",\"right_side\":\"1 quarters\",\"is_negative\":false}],\"conjunction\":\"AND\",\"is_negative\":false},\"sales__opportunity.stage_name\":{\"kind\":\"EQUALS\",\"type\":\"string\",\"values\":[\"3. Visible Opportunity\"]},\"sales__opportunity.type_of_opp\":{\"kind\":\"EQUALS\",\"type\":\"string\",\"values\":[\"Downsell\",\"NFR\",\"Services Only\"],\"is_negative\":true}},\"modelId\":\"ff7d6a64-3403-4b84-922d-e8ac1382baf5\",\"version\":8,\"controls\":[],\"rewriteSql\":true,\"row_totals\":{},\"fill_fields\":[],\"calculations\":[],\"column_limit\":50,\"join_via_map\":{},\"column_totals\":{},\"userEditedSQL\":\"\",\"dimensionIndex\":0,\"default_group_by\":true,\"custom_summary_types\":{},\"join_paths_from_topic_name\":\"opportunity\"}}]"},"pairedItem":{"item":0}}]},"versionId":"5093430e-0eda-4ac8-8cba-4c096af474c2","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-27T10:27:54.011Z","createdAt":"2026-01-27T10:27:54.011Z","role":"workflow:owner","workflowId":"mDJHNy6DrprAll2W","projectId":"2vHf2VxAoKk0WgJE"}],"activeVersion":null,"tags":[{"updatedAt":"2025-09-29T05:57:24.200Z","createdAt":"2025-09-29T05:57:24.200Z","id":"JC97st4iY7gpPYhF","name":"subworkflow"}]}