workflows/Board_Deck_Takeaways.json
{
  "updatedAt": "2025-12-23T19:28:59.295Z",
  "createdAt": "2025-12-20T02:14:15.837Z",
  "id": "4cCsYYYaNoTNWB3U",
  "name": "Board_Deck_Takeaways",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "trigger1",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        304,
        928
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"dashboard_discovery_model_version\": \"1.0\",\n  \"snowflake_base_url\": \"https://ml16699-hya89079.snowflakecomputing.com\",\n  \"omni_documents_search_service\": {\n    \"snowflake_database\": \"ANALYTICS\",\n    \"snowflake_schema\": \"OMNI\",\n    \"service_name\": \"omni_documents_search_service\"\n  },\n  \"omni_api\": {\n    \"omni_base_url\": \"https://cribl.omniapp.co\",\n    \"model_id\": \"4345b118-cbbe-4f7c-a705-ea0aa8da57c0\"\n  },\n  \"snowflake_tables\": {\n    \"omni_documents\": {\n      \"snowflake_database\": \"ANALYTICS\",\n      \"snowflake_schema\": \"OMNI\",\n      \"table_name\": \"DOCUMENTS\"\n    },\n    \"dashboard_recommendations\": {\n      \"snowflake_database\": \"RAW\",\n      \"snowflake_schema\": \"OMNI\",\n      \"table_name\": \"DASHBOARD_RECOMMENDATIONS\"\n    }\n  },\n  \"default_user_id\": \"893ce348-0fb2-44ac-b0f8-06521a341580\"\n}",
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "headers,params,query,webhookUrl,executionMode",
        "options": {}
      },
      "id": "globalVars1",
      "name": "Global Vars",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        1120
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"551e19e0-6d32-4a5e-9a93-ac81cb486d88\": [\n    {\n      \"drill_name\": \"lake_customers\",\n      \"query\": {\n        \"limit\": 1000,\n        \"sorts\": [],\n        \"table\": \"product__adoption\",\n        \"fields\": [\n          \"product__adoption.customer_name\",\n          \"product__adoption.products_adopted\",\n          \"product__adoption.total_cloud_stream_in_gb_30d\",\n          \"product__adoption.total_cloud_edge_in_gb_30d\",\n          \"product__adoption.total_cloud_edge_nodes_30d\",\n          \"product__adoption.total_cloud_completed_searches_30d\",\n          \"product__adoption.total_software_stream_in_gb_30d\",\n          \"product__adoption.total_software_edge_nodes_30d\",\n          \"product__adoption.total_software_edge_in_gb_30d\",\n          \"product__adoption.lake_gbs_customer_data_max\",\n          \"product__adoption.total_connected_billable_stream_in_gb_30d\",\n          \"product__adoption.total_connected_billable_edge_in_gb_30d\"\n        ],\n        \"pivots\": [],\n        \"dbtMode\": false,\n        \"filters\": {\n          \"product__adoption.date\": {\n            \"type\": \"composite\",\n            \"filters\": [\n              {\n                \"kind\": \"TIME_FOR_UNIT_DURATION\",\n                \"type\": \"date\",\n                \"left_side\": \"FY2026 Q3\"\n              },\n              {\n                \"kind\": \"TIME_FOR_INTERVAL_DURATION\",\n                \"type\": \"date\",\n                \"left_side\": \"6 complete fiscal quarters ago\",\n                \"right_side\": \"6 quarters\",\n                \"is_negative\": false,\n                \"ignore_if_unjoinable\": true\n              }\n            ],\n            \"conjunction\": \"AND\",\n            \"is_negative\": false\n          },\n          \"product__adoption.adopt_lake\": {\n            \"type\": \"boolean\",\n            \"is_negative\": false,\n            \"treat_nulls_as_false\": false\n          },\n          \"product__adoption.is_last_day_of_fiscal_quarter\": {\n            \"type\": \"boolean\",\n            \"is_negative\": false,\n            \"treat_nulls_as_false\": false\n          }\n        },\n        \"modelId\": \"4345b118-cbbe-4f7c-a705-ea0aa8da57c0\",\n        \"version\": 8,\n        \"controls\": [],\n        \"rewriteSql\": true,\n        \"row_totals\": {},\n        \"fill_fields\": [],\n        \"calculations\": [],\n        \"column_limit\": 50,\n        \"join_via_map\": {},\n        \"column_totals\": {},\n        \"userEditedSQL\": \"\",\n        \"dimensionIndex\": 0,\n        \"default_group_by\": true,\n        \"custom_summary_types\": {},\n        \"join_paths_from_topic_name\": \"adoption\"\n      }\n    },\n    {\n      \"drill_name\": \"max_lake_gbs_customer_data\",\n      \"query\": {\n        \"limit\": 1000,\n        \"sorts\": [],\n        \"table\": \"product__adoption\",\n        \"fields\": [\n          \"product__adoption.customer_name\",\n          \"product__adoption.products_adopted\",\n          \"product__adoption.total_cloud_stream_in_gb_30d\",\n          \"product__adoption.total_cloud_edge_in_gb_30d\",\n          \"product__adoption.total_cloud_edge_nodes_30d\",\n          \"product__adoption.total_cloud_completed_searches_30d\",\n          \"product__adoption.total_software_stream_in_gb_30d\",\n          \"product__adoption.total_software_edge_nodes_30d\",\n          \"product__adoption.total_software_edge_in_gb_30d\",\n          \"product__adoption.lake_gbs_customer_data_max\",\n          \"product__adoption.total_connected_billable_stream_in_gb_30d\",\n          \"product__adoption.total_connected_billable_edge_in_gb_30d\"\n        ],\n        \"pivots\": [],\n        \"dbtMode\": false,\n        \"filters\": {\n          \"product__adoption.date\": {\n            \"type\": \"composite\",\n            \"filters\": [\n              {\n                \"kind\": \"TIME_FOR_UNIT_DURATION\",\n                \"type\": \"date\",\n                \"left_side\": \"FY2026 Q3\"\n              },\n              {\n                \"kind\": \"TIME_FOR_INTERVAL_DURATION\",\n                \"type\": \"date\",\n                \"left_side\": \"6 complete fiscal quarters ago\",\n                \"right_side\": \"6 quarters\",\n                \"is_negative\": false\n              }\n            ],\n            \"conjunction\": \"AND\",\n            \"is_negative\": false\n          },\n          \"product__adoption.is_last_day_of_fq\": {\n            \"type\": \"boolean\",\n            \"is_negative\": false,\n            \"treat_nulls_as_false\": false\n          }\n        },\n        \"modelId\": \"d1529738-b066-4b0e-ab06-ce82559602b7\",\n        \"version\": 8,\n        \"controls\": [],\n        \"rewriteSql\": true,\n        \"row_totals\": {},\n        \"fill_fields\": [],\n        \"calculations\": [],\n        \"column_limit\": 50,\n        \"join_via_map\": {},\n        \"column_totals\": {},\n        \"userEditedSQL\": \"\",\n        \"dimensionIndex\": 0,\n        \"default_group_by\": true,\n        \"custom_summary_types\": {},\n        \"join_paths_from_topic_name\": \"adoption\"\n      }    \n    }\n  ],\n    \"56a414f9-4bc9-4d41-958a-9f5652389081\": [\n    {\n      \"drill_name\": \"upsell_opps\",\n      \"query\": {\n        \"limit\": 1000,\n        \"sorts\": [],\n        \"table\": \"sales__opportunity\",\n        \"fields\": [\n          \"sales__accounts.account_name\",\n          \"sales__opportunity.opportunity_name\",\n          \"sales__accounts.owner_name\",\n          \"sales__opportunity.forecast\",\n          \"sales__opportunity.stage_name\",\n          \"sales__opportunity.record_type\",\n          \"sales__opportunity.new_arr_derived\",\n          \"sales__opportunity.close_date\"\n        ],\n        \"pivots\": [],\n        \"dbtMode\": false,\n        \"filters\": {\n          \"sales__opportunity.geo_segment\": {\n            \"kind\": \"EQUALS\",\n            \"type\": \"string\",\n            \"values\": [\n              \"PUBLIC SECTOR\"\n            ],\n            \"is_negative\": true\n          },\n          \"sales__opportunity.type_of_opp\": {\n            \"type\": \"null\",\n            \"is_negative\": false\n          },\n          \"sales__opportunity.deal_generated_source\": {\n            \"type\": \"null\",\n            \"is_negative\": true\n          },\n          \"sales__opportunity.loss_reason_to_exclude\": {\n            \"type\": \"boolean\",\n            \"is_negative\": false,\n            \"treat_nulls_as_false\": false\n          },\n          \"sales__opportunity.record_type_rolled_up_\": {\n            \"kind\": \"EQUALS\",\n            \"type\": \"string\",\n            \"values\": [\n              \"New\",\n              \"Upsell\"\n            ]\n          },\n          \"sales__opportunity.nbm_entered_or_upsell_added_date\": {\n            \"type\": \"composite\",\n            \"filters\": [\n              {\n                \"kind\": \"TIME_FOR_UNIT_DURATION\",\n                \"type\": \"date\",\n                \"left_side\": \"FY2026 Q1\"\n              },\n              {\n                \"kind\": \"TIME_FOR_INTERVAL_DURATION\",\n                \"type\": \"date\",\n                \"left_side\": \"6 complete fiscal quarters ago\",\n                \"right_side\": \"6 quarters\"\n              }\n            ],\n            \"conjunction\": \"AND\",\n            \"is_negative\": false\n          }\n        },\n        \"modelId\": \"3b668837-0ae9-4351-93cf-e36bf88706e1\",\n        \"version\": 8,\n        \"controls\": [],\n        \"rewriteSql\": true,\n        \"row_totals\": {},\n        \"fill_fields\": [],\n        \"calculations\": [],\n        \"column_limit\": 50,\n        \"join_via_map\": {},\n        \"column_totals\": {},\n        \"userEditedSQL\": \"\",\n        \"dimensionIndex\": 0,\n        \"default_group_by\": true,\n        \"model_extension_id\": \"27c7f29d-a2bb-4daf-97af-27e34b9461a2\",\n        \"custom_summary_types\": {},\n        \"join_paths_from_topic_name\": \"opp_creation_marketing_attribution\"\n      },\n      \"sql\": \"SELECT \\\"sales__accounts\\\".\\\"ACCOUNT_NAME\\\" AS \\\"sales__accounts.account_name\\\",\\n    \\\"sales__opportunity\\\".\\\"OPPORTUNITY_NAME\\\" AS \\\"sales__opportunity.opportunity_name\\\",\\n    \\\"sales__accounts\\\".\\\"OWNER_NAME\\\" AS \\\"sales__accounts.owner_name\\\",\\n    \\\"sales__opportunity\\\".\\\"FORECAST\\\" AS \\\"sales__opportunity.forecast\\\",\\n    \\\"sales__opportunity\\\".\\\"STAGE_NAME\\\" AS \\\"sales__opportunity.stage_name\\\",\\n    \\\"sales__opportunity\\\".\\\"RECORD_TYPE\\\" AS \\\"sales__opportunity.record_type\\\",\\n    \\\"sales__opportunity\\\".\\\"NEW_ARR_DERIVED\\\" AS \\\"sales__opportunity.new_arr_derived\\\",\\n    \\\"sales__opportunity\\\".\\\"CLOSE_DATE\\\" AS \\\"sales__opportunity.close_date__raw\\\",\\n    \\\"sales__accounts\\\".\\\"ACCOUNT_ID\\\" AS \\\"sales__accounts.account_id\\\",\\n    \\\"sales__opportunity\\\".\\\"OPPORTUNITY_ID\\\" AS \\\"sales__opportunity.opportunity_id\\\",\\n    TO_CHAR(\\\"sales__opportunity\\\".\\\"CLOSE_DATE\\\", 'YYYY-MM-DD') AS \\\"sales__opportunity.close_date\\\"\\nFROM \\\"SALES\\\".\\\"OPPORTUNITY\\\" AS \\\"sales__opportunity\\\"\\n    LEFT JOIN \\\"SALES\\\".\\\"ACCOUNTS\\\" AS \\\"sales__accounts\\\" ON \\\"sales__opportunity\\\".\\\"ACCOUNT_ID\\\" = \\\"sales__accounts\\\".\\\"ACCOUNT_ID\\\"\\nWHERE (NOT \\\"sales__opportunity\\\".\\\"GEO_SEGMENT\\\" = 'PUBLIC SECTOR' OR \\\"sales__opportunity\\\".\\\"GEO_SEGMENT\\\" IS NULL) AND \\\"sales__opportunity\\\".\\\"TYPE_OF_OPP\\\" IS NULL AND (CASE\\n        WHEN \\\"sales__opportunity\\\".\\\"DEAL_GENERATED_SOURCE\\\" IN ('SDR Generated', 'BDR Generated') THEN 'SDR Generated'\\n        ELSE \\\"sales__opportunity\\\".\\\"DEAL_GENERATED_SOURCE\\\"\\n    END IS NOT NULL AND CASE\\n        WHEN \\\"sales__opportunity\\\".\\\"LOSS_REASON\\\" IS NULL OR \\\"sales__opportunity\\\".\\\"LOSS_REASON\\\" NOT IN ('Created in Error / Duplicate', 'Duplicate - Merged w/ Active Opp', 'Created in Error') THEN TRUE\\n        ELSE FALSE\\n    END) AND (CASE\\n        WHEN \\\"sales__opportunity\\\".\\\"RECORD_TYPE\\\" = 'New' THEN 'New'\\n        WHEN \\\"sales__opportunity\\\".\\\"RECORD_TYPE\\\" IN ('Upsell', 'Expansion', 'Renewal+Upsell') THEN 'Upsell'\\n        ELSE \\\"sales__opportunity\\\".\\\"RECORD_TYPE\\\"\\n    END IN ('New', 'Upsell') AND \\\"sales__opportunity\\\".\\\"NBM_ENTERED_OR_UPSELL_ADDED_DATE\\\" >= CAST(TIMESTAMP '2025-02-01 00:00:00' AS DATE) AND (\\\"sales__opportunity\\\".\\\"NBM_ENTERED_OR_UPSELL_ADDED_DATE\\\" < CAST((DATE_TRUNC('QUARTER', ((TIMESTAMP '2025-02-01 00:00:00' + INTERVAL '3 month') + INTERVAL '2 month')) + INTERVAL '-2 month') AS DATE) AND (\\\"sales__opportunity\\\".\\\"NBM_ENTERED_OR_UPSELL_ADDED_DATE\\\" >= CAST((DATE_TRUNC('QUARTER', ((CAST(CURRENT_TIMESTAMP AS TIMESTAMP(0)) + INTERVAL '-18 month') + INTERVAL '2 month')) + INTERVAL '-2 month') AS DATE) AND \\\"sales__opportunity\\\".\\\"NBM_ENTERED_OR_UPSELL_ADDED_DATE\\\" < CAST((DATE_TRUNC('QUARTER', (((DATE_TRUNC('QUARTER', ((CAST(CURRENT_TIMESTAMP AS TIMESTAMP(0)) + INTERVAL '-18 month') + INTERVAL '2 month')) + INTERVAL '-2 month') + INTERVAL '18 month') + INTERVAL '2 month')) + INTERVAL '-2 month') AS DATE))))\\nGROUP BY 9, 1, 3, 8, 4, 7, 10, 2, 6, 5\\nLIMIT 1000\"\n    },\n    {\n      \"query\": {\n        \"limit\": 1000,\n        \"sorts\": [],\n        \"table\": \"sales__opportunity\",\n        \"fields\": [\n          \"sales__accounts.account_name\",\n          \"sales__opportunity.opportunity_name\",\n          \"sales__accounts.owner_name\",\n          \"sales__opportunity.forecast\",\n          \"sales__opportunity.stage_name\",\n          \"sales__opportunity.record_type\",\n          \"sales__opportunity.new_arr_derived\",\n          \"sales__opportunity.close_date\"\n        ],\n        \"pivots\": [],\n        \"dbtMode\": false,\n        \"filters\": {\n          \"sales__opportunity.geo_segment\": {\n            \"kind\": \"EQUALS\",\n            \"type\": \"string\",\n            \"values\": [\n              \"PUBLIC SECTOR\"\n            ],\n            \"is_negative\": true\n          },\n          \"sales__opportunity.type_of_opp\": {\n            \"type\": \"null\",\n            \"is_negative\": false\n          },\n          \"sales__opportunity.deal_generated_source\": {\n            \"type\": \"null\",\n            \"is_negative\": true\n          },\n          \"sales__opportunity.loss_reason_to_exclude\": {\n            \"type\": \"boolean\",\n            \"is_negative\": false,\n            \"treat_nulls_as_false\": false\n          },\n          \"sales__opportunity.record_type_rolled_up_\": {\n            \"type\": \"composite\",\n            \"filters\": [\n              {\n                \"kind\": \"EQUALS\",\n                \"type\": \"string\",\n                \"values\": [\n                  \"New\"\n                ]\n              },\n              {\n                \"kind\": \"EQUALS\",\n                \"type\": \"string\",\n                \"values\": [\n                  \"New\",\n                  \"Upsell\"\n                ]\n              }\n            ],\n            \"conjunction\": \"AND\",\n            \"is_negative\": false,\n            \"cancel_query_filter\": false\n          },\n          \"sales__opportunity.nbm_entered_or_upsell_added_date\": {\n            \"type\": \"composite\",\n            \"filters\": [\n              {\n                \"kind\": \"TIME_FOR_UNIT_DURATION\",\n                \"type\": \"date\",\n                \"left_side\": \"FY2025 Q4\"\n              },\n              {\n                \"kind\": \"TIME_FOR_INTERVAL_DURATION\",\n                \"type\": \"date\",\n                \"left_side\": \"6 complete fiscal quarters ago\",\n                \"right_side\": \"6 quarters\"\n              }\n            ],\n            \"conjunction\": \"AND\",\n            \"is_negative\": false\n          }\n        },\n        \"modelId\": \"bba18fb9-2b69-414b-838f-669e82422d29\",\n        \"version\": 8,\n        \"controls\": [],\n        \"rewriteSql\": true,\n        \"row_totals\": {},\n        \"fill_fields\": [],\n        \"calculations\": [],\n        \"column_limit\": 50,\n        \"join_via_map\": {},\n        \"column_totals\": {},\n        \"userEditedSQL\": \"\",\n        \"dimensionIndex\": 0,\n        \"default_group_by\": true,\n        \"model_extension_id\": \"efbb2d95-10d0-4ccf-9538-702efeb80a49\",\n        \"custom_summary_types\": {},\n        \"join_paths_from_topic_name\": \"opp_creation_marketing_attribution\"\n      },\n      \"sql\": \"SELECT \\\"sales__accounts\\\".\\\"ACCOUNT_NAME\\\" AS \\\"sales__accounts.account_name\\\",\\n    \\\"sales__opportunity\\\".\\\"OPPORTUNITY_NAME\\\" AS \\\"sales__opportunity.opportunity_name\\\",\\n    \\\"sales__accounts\\\".\\\"OWNER_NAME\\\" AS \\\"sales__accounts.owner_name\\\",\\n    \\\"sales__opportunity\\\".\\\"FORECAST\\\" AS \\\"sales__opportunity.forecast\\\",\\n    \\\"sales__opportunity\\\".\\\"STAGE_NAME\\\" AS \\\"sales__opportunity.stage_name\\\",\\n    \\\"sales__opportunity\\\".\\\"RECORD_TYPE\\\" AS \\\"sales__opportunity.record_type\\\",\\n    \\\"sales__opportunity\\\".\\\"NEW_ARR_DERIVED\\\" AS \\\"sales__opportunity.new_arr_derived\\\",\\n    \\\"sales__opportunity\\\".\\\"CLOSE_DATE\\\" AS \\\"sales__opportunity.close_date__raw\\\",\\n    \\\"sales__accounts\\\".\\\"ACCOUNT_ID\\\" AS \\\"sales__accounts.account_id\\\",\\n    \\\"sales__opportunity\\\".\\\"OPPORTUNITY_ID\\\" AS \\\"sales__opportunity.opportunity_id\\\",\\n    TO_CHAR(\\\"sales__opportunity\\\".\\\"CLOSE_DATE\\\", 'YYYY-MM-DD') AS \\\"sales__opportunity.close_date\\\"\\nFROM \\\"SALES\\\".\\\"OPPORTUNITY\\\" AS \\\"sales__opportunity\\\"\\n    LEFT JOIN \\\"SALES\\\".\\\"ACCOUNTS\\\" AS \\\"sales__accounts\\\" ON \\\"sales__opportunity\\\".\\\"ACCOUNT_ID\\\" = \\\"sales__accounts\\\".\\\"ACCOUNT_ID\\\"\\nWHERE (NOT \\\"sales__opportunity\\\".\\\"GEO_SEGMENT\\\" = 'PUBLIC SECTOR' OR \\\"sales__opportunity\\\".\\\"GEO_SEGMENT\\\" IS NULL) AND \\\"sales__opportunity\\\".\\\"TYPE_OF_OPP\\\" IS NULL AND (CASE\\n        WHEN \\\"sales__opportunity\\\".\\\"DEAL_GENERATED_SOURCE\\\" IN ('SDR Generated', 'BDR Generated') THEN 'SDR Generated'\\n        ELSE \\\"sales__opportunity\\\".\\\"DEAL_GENERATED_SOURCE\\\"\\n    END IS NOT NULL AND (CASE\\n        WHEN \\\"sales__opportunity\\\".\\\"LOSS_REASON\\\" IS NULL OR \\\"sales__opportunity\\\".\\\"LOSS_REASON\\\" NOT IN ('Created in Error / Duplicate', 'Duplicate - Merged w/ Active Opp', 'Created in Error') THEN TRUE\\n        ELSE FALSE\\n    END AND CASE\\n        WHEN \\\"sales__opportunity\\\".\\\"RECORD_TYPE\\\" = 'New' THEN 'New'\\n        WHEN \\\"sales__opportunity\\\".\\\"RECORD_TYPE\\\" IN ('Upsell', 'Expansion', 'Renewal+Upsell') THEN 'Upsell'\\n        ELSE \\\"sales__opportunity\\\".\\\"RECORD_TYPE\\\"\\n    END = 'New')) AND (CASE\\n        WHEN \\\"sales__opportunity\\\".\\\"RECORD_TYPE\\\" = 'New' THEN 'New'\\n        WHEN \\\"sales__opportunity\\\".\\\"RECORD_TYPE\\\" IN ('Upsell', 'Expansion', 'Renewal+Upsell') THEN 'Upsell'\\n        ELSE \\\"sales__opportunity\\\".\\\"RECORD_TYPE\\\"\\n    END IN ('New', 'Upsell') AND \\\"sales__opportunity\\\".\\\"NBM_ENTERED_OR_UPSELL_ADDED_DATE\\\" >= CAST(TIMESTAMP '2024-11-01 00:00:00' AS DATE) AND (\\\"sales__opportunity\\\".\\\"NBM_ENTERED_OR_UPSELL_ADDED_DATE\\\" < CAST((DATE_TRUNC('QUARTER', ((TIMESTAMP '2024-11-01 00:00:00' + INTERVAL '3 month') + INTERVAL '2 month')) + INTERVAL '-2 month') AS DATE) AND (\\\"sales__opportunity\\\".\\\"NBM_ENTERED_OR_UPSELL_ADDED_DATE\\\" >= CAST((DATE_TRUNC('QUARTER', ((CAST(CURRENT_TIMESTAMP AS TIMESTAMP(0)) + INTERVAL '-18 month') + INTERVAL '2 month')) + INTERVAL '-2 month') AS DATE) AND \\\"sales__opportunity\\\".\\\"NBM_ENTERED_OR_UPSELL_ADDED_DATE\\\" < CAST((DATE_TRUNC('QUARTER', (((DATE_TRUNC('QUARTER', ((CAST(CURRENT_TIMESTAMP AS TIMESTAMP(0)) + INTERVAL '-18 month') + INTERVAL '2 month')) + INTERVAL '-2 month') + INTERVAL '18 month') + INTERVAL '2 month')) + INTERVAL '-2 month') AS DATE))))\\nGROUP BY 9, 1, 3, 8, 4, 7, 10, 2, 6, 5\\nLIMIT 1000\",\n      \"drill_name\": \"new_opps\"\n    }\n  ],\n  \"e440171b-9cd6-49ea-9fe6-a27c51e2c01f\": [\n    {\n      \"drill_name\": \"Deal Registration ID count distinct\",\n      \"query\": {\n        \"limit\": 1000,\n        \"sorts\": [],\n        \"table\": \"sales__opportunity\",\n        \"fields\": [\n          \"sales__registrations.registration_source_type\",\n          \"sales__registrations.registration_id\",\n          \"sales__registrations.registration_name\",\n          \"sales__registrations.type\",\n          \"sales__registrations.created_by_name\",\n          \"sales__registrations.owner_name\",\n          \"sales__registrations.status\",\n          \"sales__registrations.registration_date\",\n          \"sales__registrations.expected_close_date\",\n          \"sales__registrations.approval_date\"\n        ],\n        \"pivots\": [],\n        \"dbtMode\": false,\n        \"filters\": {\n          \"sales__registrations.status\": {\n            \"kind\": \"EQUALS\",\n            \"type\": \"string\",\n            \"values\": [\n              \"Approved\",\n              \"Closed Won\",\n              \"Closed-Won\"\n            ],\n            \"is_negative\": false\n          },\n          \"sales__opportunity.loss_reason\": {\n            \"kind\": \"EQUALS\",\n            \"type\": \"string\",\n            \"values\": [\n              \"Created in Error\",\n              \"Created in Error / Duplicate\",\n              \"Duplicate - Merged w/ Active Opp\"\n            ],\n            \"is_negative\": true\n          },\n          \"sales__opportunity.record_type\": {\n            \"kind\": \"EQUALS\",\n            \"type\": \"string\",\n            \"values\": [\n              \"Expansion\",\n              \"New\",\n              \"Renewal+Upsell\",\n              \"Upsell\"\n            ],\n            \"is_negative\": false\n          },\n          \"sales__opportunity.type_of_opp\": {\n            \"kind\": \"EQUALS\",\n            \"type\": \"string\",\n            \"values\": [\n              \"Downsell\",\n              \"NFR\",\n              \"OEM\",\n              \"Services Only\"\n            ],\n            \"is_negative\": true\n          },\n          \"sales__opportunity.record_type_groups\": {\n            \"kind\": \"EQUALS\",\n            \"type\": \"string\",\n            \"values\": [\n              \"New Logo\"\n            ]\n          },\n          \"sales__registrations.registration_date\": {\n            \"type\": \"composite\",\n            \"filters\": [\n              {\n                \"kind\": \"TIME_FOR_UNIT_DURATION\",\n                \"type\": \"date\",\n                \"left_side\": \"FY2026 Q3\"\n              },\n              {\n                \"kind\": \"BETWEEN\",\n                \"type\": \"date\",\n                \"left_side\": \"2 fiscal years ago\",\n                \"right_side\": \"1 fiscal quarters ago\",\n                \"is_negative\": false\n              }\n            ],\n            \"conjunction\": \"AND\",\n            \"is_negative\": false\n          }\n        },\n        \"modelId\": \"3739282e-3287-437c-b998-d07feeb5f910\",\n        \"version\": 8,\n        \"controls\": [],\n        \"rewriteSql\": true,\n        \"row_totals\": {},\n        \"fill_fields\": [],\n        \"calculations\": [],\n        \"column_limit\": 50,\n        \"join_via_map\": {},\n        \"column_totals\": {},\n        \"userEditedSQL\": \"\",\n        \"dimensionIndex\": 0,\n        \"default_group_by\": true,\n        \"custom_summary_types\": {},\n        \"join_paths_from_topic_name\": \"deal_registrations\"\n      },\n      \"sql\": \"SELECT \\\"sales__registrations\\\".\\\"REGISTRATION_SOURCE_TYPE\\\" AS \\\"sales__registrations.registration_source_type\\\",\\n    \\\"sales__registrations\\\".\\\"REGISTRATION_ID\\\" AS \\\"sales__registrations.registration_id\\\",\\n    \\\"sales__registrations\\\".\\\"REGISTRATION_NAME\\\" AS \\\"sales__registrations.registration_name\\\",\\n    \\\"sales__registrations\\\".\\\"TYPE\\\" AS \\\"sales__registrations.type\\\",\\n    \\\"sales__registrations\\\".\\\"CREATED_BY_NAME\\\" AS \\\"sales__registrations.created_by_name\\\",\\n    \\\"sales__registrations\\\".\\\"OWNER_NAME\\\" AS \\\"sales__registrations.owner_name\\\",\\n    \\\"sales__registrations\\\".\\\"STATUS\\\" AS \\\"sales__registrations.status\\\",\\n    \\\"sales__registrations\\\".\\\"REGISTRATION_DATE\\\" AS \\\"sales__registrations.registration_date__raw\\\",\\n    \\\"sales__registrations\\\".\\\"EXPECTED_CLOSE_DATE\\\" AS \\\"sales__registrations.expected_close_date__raw\\\",\\n    \\\"sales__registrations\\\".\\\"APPROVAL_DATE\\\" AS \\\"sales__registrations.approval_date__raw\\\",\\n    TO_CHAR(\\\"sales__registrations\\\".\\\"REGISTRATION_DATE\\\", 'YYYY-MM-DD') AS \\\"sales__registrations.registration_date\\\",\\n    TO_CHAR(\\\"sales__registrations\\\".\\\"EXPECTED_CLOSE_DATE\\\", 'YYYY-MM-DD') AS \\\"sales__registrations.expected_close_date\\\",\\n    TO_CHAR(\\\"sales__registrations\\\".\\\"APPROVAL_DATE\\\", 'YYYY-MM-DD') AS \\\"sales__registrations.approval_date\\\"\\nFROM \\\"SALES\\\".\\\"OPPORTUNITY\\\" AS \\\"sales__opportunity\\\"\\n    LEFT JOIN \\\"SALES\\\".\\\"REGISTRATIONS\\\" AS \\\"sales__registrations\\\" ON \\\"sales__opportunity\\\".\\\"OPPORTUNITY_ID\\\" = \\\"sales__registrations\\\".\\\"OPPORTUNITY_ID\\\"\\nWHERE \\\"sales__registrations\\\".\\\"STATUS\\\" IN ('Approved', 'Closed Won', 'Closed-Won') AND (\\\"sales__opportunity\\\".\\\"LOSS_REASON\\\" NOT IN ('Created in Error', 'Created in Error / Duplicate', 'Duplicate - Merged w/ Active Opp') OR \\\"sales__opportunity\\\".\\\"LOSS_REASON\\\" IS NULL) AND (\\\"sales__opportunity\\\".\\\"RECORD_TYPE\\\" IN ('Expansion', 'New', 'Renewal+Upsell', 'Upsell') AND (\\\"sales__opportunity\\\".\\\"TYPE_OF_OPP\\\" NOT IN ('Downsell', 'NFR', 'OEM', 'Services Only') OR \\\"sales__opportunity\\\".\\\"TYPE_OF_OPP\\\" IS NULL)) AND (CASE\\n        WHEN \\\"sales__opportunity\\\".\\\"RECORD_TYPE\\\" = 'New' THEN 'New Logo'\\n        WHEN \\\"sales__opportunity\\\".\\\"RECORD_TYPE\\\" IN ('Expansion', 'Renewal+Upsell', 'Upsell') THEN 'Incremental'\\n        ELSE 'Other'\\n    END = 'New Logo' AND \\\"sales__registrations\\\".\\\"REGISTRATION_DATE\\\" >= CAST(TIMESTAMP '2025-08-01 00:00:00' AS DATE) AND (\\\"sales__registrations\\\".\\\"REGISTRATION_DATE\\\" < CAST((DATE_TRUNC('QUARTER', ((TIMESTAMP '2025-08-01 00:00:00' + INTERVAL '3 month') + INTERVAL '2 month')) + INTERVAL '-2 month') AS DATE) AND (\\\"sales__registrations\\\".\\\"REGISTRATION_DATE\\\" >= CAST((DATE_TRUNC('YEAR', ((CAST(CURRENT_TIMESTAMP AS TIMESTAMP(0)) + INTERVAL '-1 year') + INTERVAL '11 month')) + INTERVAL '-11 month') AS DATE) AND \\\"sales__registrations\\\".\\\"REGISTRATION_DATE\\\" < CAST((DATE_TRUNC('QUARTER', (CAST(CURRENT_TIMESTAMP AS TIMESTAMP(0)) + INTERVAL '2 month')) + INTERVAL '-2 month') AS DATE))))\\nGROUP BY 10, 5, 9, 6, 8, 2, 3, 1, 7, 4\\nLIMIT 1000\"\n    }\n  ]\n}",
        "includeOtherFields": true,
        "options": {}
      },
      "id": "loadQueries1",
      "name": "Load Drill Queries",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        1120
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "outerLoop1",
      "name": "Loop Over UUIDs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2528,
        1120
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "fieldToSplitOut": "uuid_items[0].queries",
        "include": "allOtherFields",
        "options": {
          "disableDotNotation": false,
          "destinationFieldName": ""
        }
      },
      "id": "extractQueries1",
      "name": "Expand Queries Array",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2656,
        1456
      ],
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "innerLoop1",
      "name": "Loop Over Queries",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3392,
        1456
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-relayer-1.app.n8n.cloud/webhook-test/omni-pattern-detection-subworkflow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "callbackurl",
              "value": "={{ $execution.resumeUrl }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n{\n  user_id: $json.user_id || $('Global Vars').item.json.default_user_id,\n  current_fiscal_quarter_query:  $json.current_fiscal_quarter_query,\n  previous_fiscal_quarter_query:  $json.previous_fiscal_quarter_query\n} \n}}",
        "options": {}
      },
      "id": "httpPost1",
      "name": "POST Drill Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5312,
        1760
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const inputData = $('Load Drill Queries').first().json;\n  const systemFields = ['headers', 'params', 'query', 'webhookUrl', 'executionMode'];\n  const drillQueries = {};\n\n  for (const [key, value] of Object.entries(inputData)) {\n    if (!systemFields.includes(key) && typeof value === 'object' && Array.isArray(value)) {\n      drillQueries[key] = value;\n    }\n  }\n\n  const uuidKeys = Object.keys(drillQueries);\n\n  if (uuidKeys.length === 0) {\n    return [{\n      json: {\n        error: 'No drill query UUIDs found in input data',\n        inputKeys: Object.keys(inputData)\n      }\n    }];\n  }\n\n  let drill_queries = uuidKeys.map(uuid => ({\n    json: {\n      uuid: uuid,\n      queries: drillQueries[uuid],\n      queryCount: drillQueries[uuid].length\n    }\n  }))\n\n  return drill_queries;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        1120
      ],
      "id": "d9071922-dd3c-4544-8313-87cd21b0b593",
      "name": "Prepare UUID Loop Data"
    },
    {
      "parameters": {
        "jsCode": "const currentItem = $input.first().json;\n\n  if (!currentItem.uuid || !currentItem.queries) {\n    return [{\n      json: {\n        error: 'Missing required fields: uuid or queries',\n        received: currentItem\n      }\n    }];\n  }\n\n  const uuid = currentItem.uuid;\n  const queries = currentItem.queries;\n\n  if (!Array.isArray(queries)) {\n    return [{\n      json: {\n        error: 'queries is not an array',\n        type: typeof queries\n      }\n    }];\n  }\n\n  return queries.map(query => ({\n    json: {\n      uuid: uuid,\n      drill_name: query.drill_name || 'unnamed_drill',\n      query: query.query || {},\n      sql: query.sql || ''\n    }\n  }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        1296
      ],
      "id": "5dfd4e0b-b9ab-4a4d-a846-c8ef49e931bd",
      "name": "Extract Queries for UUID"
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "314fa1dd-a8d8-4354-80ef-da7b8dfbcc74",
      "name": "Webhook Callback Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        5216,
        672
      ],
      "webhookId": "5cd058b4-48c8-449a-9c09-959a5b8a2b48",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsCode": "let json = $('If All Finished').first().json;\nif (!json.finishedSet) json.finishedSet = [];\nlet finishedItemId = $('Webhook Callback Wait').item.json.body.finishedItemId;\nif (!json.finishedSet[finishedItemId]) json.finishedSet.push(finishedItemId);\nreturn [json];"
      },
      "id": "3c2603e2-8aee-4535-9439-66fe53a931d0",
      "name": "Update finishedSet",
      "type": "n8n-nodes-base.code",
      "position": [
        5856,
        672
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "193ab8f1-0e23-491c-914e-b8b26b0160f7",
              "name": "finishedSet",
              "type": "array",
              "value": "[]"
            }
          ]
        },
        "options": {}
      },
      "id": "5ae9644b-a5ee-4306-a28b-c7ae6611c0c7",
      "name": "Initialize finishedSet",
      "type": "n8n-nodes-base.set",
      "position": [
        3136,
        512
      ],
      "executeOnce": true,
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "385c3149-3623-4dd2-9022-770c32f82421",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $json.finishedSet.length }}",
              "rightValue": "={{ $('Get Drill Queries Count').first().json.drill_queries_count }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e9a9ea4a-2ef4-4f05-b2b6-c52a1814512c",
      "name": "If All Finished",
      "type": "n8n-nodes-base.if",
      "position": [
        4336,
        512
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9e8c5598-babe-4684-8f76-744f71d8831c",
      "name": "Acknowledge Finished",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        5696,
        896
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "### Pseudo-Synchronously Wait for All Sub-Workflows to finish",
        "height": 80,
        "width": 283,
        "color": 3
      },
      "id": "3fc5a382-5cdd-4559-bdd3-b37073d26d50",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3440,
        592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "0f6a8b67-bd1b-40bc-80d5-b7378ce5b57c",
      "name": "Continue Workflow (noop)",
      "type": "n8n-nodes-base.noOp",
      "position": [
        5584,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const inputData = $('Load Drill Queries').first().json;\n  const systemFields = ['headers', 'params', 'query', 'webhookUrl', 'executionMode'];\n  const drillQueries = {};\n\n  for (const [key, value] of Object.entries(inputData)) {\n    if (!systemFields.includes(key) && typeof value === 'object' && Array.isArray(value)) {\n      drillQueries[key] = value;\n    }\n  }\n\n  const uuidKeys = Object.keys(drillQueries);\n\n  if (uuidKeys.length === 0) {\n    return [{\n      json: {\n        error: 'No drill query UUIDs found in input data',\n        inputKeys: Object.keys(inputData)\n      }\n    }];\n  }\n\n  let count = 0;\n  uuidKeys.forEach(uuid => count += drillQueries[uuid].length);\n\n  return {\n    \"drill_queries_count\": count\n  };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        1120
      ],
      "id": "347e89ad-1d53-4099-8d9d-20a8602b2c12",
      "name": "Get Drill Queries Count"
    },
    {
      "parameters": {
        "amount": 0.4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5712,
        1760
      ],
      "id": "75631430-add9-4385-b26e-6c83f12f04e6",
      "name": "Wait",
      "webhookId": "722519d8-a165-4f2b-a0fc-24915e959db5"
    },
    {
      "parameters": {
        "model": "o4-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        912,
        1328
      ],
      "id": "5421085b-5efc-40de-895d-5f9d003d2ddf",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "N96DE6AiByL8h8kA",
          "name": "Azure OpenAI o4-mini"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"today\": \"2026-02-22\",\n  \"current_fiscal_quarter\": \"FY2027 Q1\",\n  \"previous_fiscal_quarter\": \"FY2026 Q4\",\n  \"current_fiscal_half\": \"FY2027 H1\",\n  \"previous_fiscal_half\": \"FY2026 H2\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1088,
        1328
      ],
      "id": "0f55f706-a159-4c68-bb74-68f7dbe15efe",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<role>\nYou are a date-aware automation agent that, at runtime, uses the current calendar date and converts it into the organization’s fiscal quarter and fiscal half-year.\n</role>\n\n<task>\n1. Capture today’s date in ISO-8601 format (YYYY-MM-DD).  \n2. Derive the current fiscal quarter using this mapping:  \n   • February, March, April → Q1  \n   • May, June, July → Q2  \n   • August, September, October → Q3  \n   • November, December, January → Q4\n3. Similarly, derive the previous fiscal quarter.\n4. Determine the current fiscal half-year: \n   • H1 = Q1 + Q2 (February – July) \n   • H2 = Q3 + Q4 (August – January)\n5. Similarly to deriving the current fiscal half-year, derive the previous fiscal half-year\n6. Assign the fiscal year (FY):  \n   • FY is labelled by the calendar year of the January that closes Q4.  \n     – Example: any date from 2025-11-01 through 2026-01-31 belongs to FY2026 Q4.  \n7. If a month is ever missing from the mapping (unexpected), set  \n   \"fiscal_quarter\": \"Unmapped\", \"fiscal_half\": \"Unmapped\",  \n   add a \"warning\" key explaining why, and continue.  \n8. Produce one JSON object that follows the output_format section exactly.  \n9. Self-check: validate JSON syntax, confirm quarter/half/year logic, and flag any ambiguity or edge case before returning.\n</task>\n\n<context>\nThe organization follows a non-standard fiscal calendar that begins in February and spans ten active months, grouping them into the quarters above.  \nWe prefer the simplest workflow that fully handles edge cases (e.g., leap years, timezone differences, cross-year FY labelling) and follows security-best practices.\n</context>\n\n<examples>\n<fiscal_quarter_examples>\n2024-02-01 → FY2025 Q1  \n2024-05-15 → FY2025 Q2\n2024-07-29 → FY2025 Q2\n2024-08-01 → FY2025 Q3\n2024-10-30 → FY2025 Q3\n2024-12-30 → FY2025 Q4  \n2025-01-31 → FY2025 Q4\n2025-02-01 → FY2026 Q1\n2025-06-10 → FY2026 Q2  \n2025-09-05 → FY2026 Q3  \n2025-12-12 → FY2026 Q4  \n2026-03-03 → FY2027 Q1\n2026-05-22 → FY2027 Q2\n</fiscal_quarter_examples>\n\n<fiscal_half_examples>\n2024-02-01 → FY2025 H1\n2024-05-15 → FY2025 H1\n2024-07-29 → FY2025 H1\n2024-08-01 → FY2025 H2\n2024-10-30 → FY2025 H2\n2024-12-30 → FY2025 H2  \n2025-01-31 → FY2025 H2  \n2025-02-01 → FY2026 H1\n2025-06-10 → FY2026 H1  \n2025-09-05 → FY2026 H2  \n2025-12-12 → FY2026 H2  \n2026-03-03 → FY2027 H1\n2026-05-22 → FY2027 H1\n</fiscal_half_examples>\n\n</examples>\n\n<guidelines>\n- Output only the JSON object—no extra text.  \n- Keys must be lower_snake_case and wrapped in double quotes.  \n- Do not include trailing commas.  \n- Point out any implicit or non-obvious “gotchas” (e.g., FY roll-over rules) in the \"warning\" field instead of silently proceeding.  \n- Do not simply agree; highlight anything incorrect or sub-optimal and suggest improvements.  \n- Think step-by-step, then self-check that the response meets every instruction before returning it.\n</guidelines>\n\n<input>\ntoday: {{ $today.format('yyyy-MM-dd') }}\n</input>\n\n<output_format>\n{\n  \"today\": \"2026-02-22\",\n  \"current_fiscal_quarter\": \"FY2027 Q1\",\n  \"previous_fiscal_quarter\": \"FY2026 Q4\",\n  \"current_fiscal_half\": \"FY2027 H1\",\n  \"previous_fiscal_half\": \"FY2026 H2\"\n}\n</output_format>",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        928,
        1120
      ],
      "id": "627f6fd7-713f-44fe-8a43-511b655cf548",
      "name": "Fiscal Quarter Extractor"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"uuid\": \"{{ $('Loop Over Queries').item.json.uuid }}\",\n  \"drill_name\": \"{{ $('Loop Over Queries').item.json.drill_name }}\",\n  \"query\" : {{  $('Loop Over Queries').item.json.query || {} }},\n  \"current_fiscal_quarter\": \"{{ $('Fiscal Quarter Extractor').item.json.output.current_fiscal_quarter }}\",\n\"previous_fiscal_quarter\": \"{{ $('Fiscal Quarter Extractor').item.json.output.previous_fiscal_quarter }}\",\n\"current_fiscal_half\": \"{{ $('Fiscal Quarter Extractor').item.json.output.current_fiscal_half }}\",\n\"previous_fiscal_half\": \"{{ $('Fiscal Quarter Extractor').item.json.output.previous_fiscal_half }}\"\n\n\n}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4768,
        1760
      ],
      "id": "b62a9170-658d-4907-9592-d33d8e748f5a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": "gpt-5-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        3696,
        1744
      ],
      "id": "0b5d49f3-9f62-4323-93f5-bf49acbe8642",
      "name": "Azure OpenAI Chat Model1",
      "credentials": {
        "azureOpenAiApi": {
          "id": "ljEp6Un527XmKGRN",
          "name": "Azure OpenAI gpt-5-mini"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"current_fiscal_quarter_query\": {\n  \n},\n\t\"previous_fiscal_quarter_query\": {\n  \n}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3888,
        1760
      ],
      "id": "5d7f57ba-6e3f-488c-aaac-d6db6eca7df4",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<role>\nYou are a JSON-transformation agent who edits BI-tool query objects.\n</role>\n\n<task>\nGoal: Produce two modified copies of the supplied query JSON.\n\nPlan of action (follow sequentially):\n1. Parse the input JSON exactly as received; preserve every field order and value.\n2. Locate the first object inside \"filters\" whose inner field \"kind\" equals \"TIME_FOR_UNIT_DURATION\" (case-sensitive).\n3. Duplicate the entire query twice:\n   a. In Copy 1, replace that object’s \"left_side\" value with the provided {current_fiscal_quarter}.\n   b. In Copy 2, replace that same \"left_side\" value with the provided {previous_fiscal_quarter}.\n4. Return a json object with the structured output in the format of output_format with the two edited JSON objects in the for each key: current_fiscal_quarter_query and previous_fiscal_quarter_query\n</task>\n\n<context>\nYou will receive:\n• A complete JSON object named query.\n• Two strings: \n  – current_fiscal_quarter  \n  – previous_fiscal_quarter  \n\nReplace only the \"left_side\" value of the filter having \"kind\": \"TIME_FOR_UNIT_DURATION\". All other content must remain bit-for-bit identical, including whitespace and ordering.  We prefer the simplest workflow that fully handles edge cases and follows security-best practices.\n</context>\n\n<examples>\nInput:\n\n```json\n{\n  \"query\": { ...original JSON... },\n  \"current_fiscal_quarter\": \"FY2026 Q2\",\n  \"previous_fiscal_quarter\": \"FY2026 Q1\"\n}\n\n```\n\nExpected high-level output (schema only):\n\n```json\n{\n  \"current_fiscal_quarter_query\": { /* query with FY2026 Q2 in left_side */ },\n  \"previous_fiscal_quarter_query\": { /* query with FY2026 Q1 in left_side */ }\n}\n```\n</examples>\n\n<input>\n{\n  \"query\": {{ $json.query.toJsonString() }},\n  \"current_fiscal_quarter\": \"{{  $('Fiscal Quarter Extractor').item.json.output.current_fiscal_quarter }}\",\n  \"previous_fiscal_quarter\": \"{{ $('Fiscal Quarter Extractor').item.json.output.previous_fiscal_quarter }}\"\n}\n</input>\n\n<guidelines>\n- Preserve JSON formatting exactly; do not pretty-print or minify.\n- Do not alter any other filters, even if they also contain TIME_* kinds.\n- If no matching filter exists, return an error object explaining “TIME_FOR_UNIT_DURATION filter not found”.\n- Point out any ambiguities or missing data instead of guessing.\n- Do not simply agree; highlight logical or data issues and propose corrections.\n- Mention tricky edge cases (e.g., multiple TIME_FOR_UNIT_DURATION filters, malformed JSON).\n- Output only valid JSON or an error object - no commentary, nor preamble.\n</guidelines>\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        3712,
        1552
      ],
      "id": "3a3a4333-4773-44f9-8d18-103b318fbe67",
      "name": "Query JSON Modifier"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  let output = JSON.parse(item.json.output);\n\n  item.json.current_fiscal_quarter_query = output.current_fiscal_quarter_query;\n  item.json.previous_fiscal_quarter_query = output.previous_fiscal_quarter_query;\n\n  delete item.json.output;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4304,
        1552
      ],
      "id": "39eee60c-2b5f-4c2c-8082-d9b95868ed89",
      "name": "Parse Modified Query AI Output"
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Global Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Vars": {
      "main": [
        [
          {
            "node": "Fiscal Quarter Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Drill Queries": {
      "main": [
        [
          {
            "node": "Get Drill Queries Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over UUIDs": {
      "main": [
        [
          {
            "node": "Initialize finishedSet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Queries for UUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand Queries Array": {
      "main": [
        []
      ]
    },
    "Loop Over Queries": {
      "main": [
        [
          {
            "node": "Loop Over UUIDs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query JSON Modifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST Drill Query": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare UUID Loop Data": {
      "main": [
        [
          {
            "node": "Loop Over UUIDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Queries for UUID": {
      "main": [
        [
          {
            "node": "Loop Over Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Callback Wait": {
      "main": [
        [
          {
            "node": "Update finishedSet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update finishedSet": {
      "main": [
        [
          {
            "node": "Acknowledge Finished",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize finishedSet": {
      "main": [
        [
          {
            "node": "If All Finished",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If All Finished": {
      "main": [
        [
          {
            "node": "Continue Workflow (noop)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webhook Callback Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acknowledge Finished": {
      "main": [
        [
          {
            "node": "If All Finished",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Drill Queries Count": {
      "main": [
        [
          {
            "node": "Prepare UUID Loop Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Fiscal Quarter Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Fiscal Quarter Extractor",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Fiscal Quarter Extractor": {
      "main": [
        [
          {
            "node": "Load Drill Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "POST Drill Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Query JSON Modifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        []
      ]
    },
    "Query JSON Modifier": {
      "main": [
        [
          {
            "node": "Parse Modified Query AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Modified Query AI Output": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Fiscal Quarter Extractor": [
      {
        "json": {
          "output": {
            "today": "2025-12-22",
            "current_fiscal_quarter": "FY2026 Q4",
            "previous_fiscal_quarter": "FY2026 Q3",
            "current_fiscal_half": "FY2026 H2",
            "previous_fiscal_half": "FY2026 H1"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Query JSON Modifier": [
      {
        "json": {
          "output": "{\n  \"current_fiscal_quarter_query\":{\"limit\":1000,\"sorts\":[],\"table\":\"sales__opportunity\",\"fields\":[\"sales__accounts.account_name\",\"sales__opportunity.opportunity_name\",\"sales__accounts.owner_name\",\"sales__opportunity.forecast\",\"sales__opportunity.stage_name\",\"sales__opportunity.record_type\",\"sales__opportunity.new_arr_derived\",\"sales__opportunity.close_date\"],\"pivots\":[],\"dbtMode\":false,\"filters\":{\"sales__opportunity.geo_segment\":{\"kind\":\"EQUALS\",\"type\":\"string\",\"values\":[\"PUBLIC SECTOR\"],\"is_negative\":true},\"sales__opportunity.type_of_opp\":{\"type\":\"null\",\"is_negative\":false},\"sales__opportunity.deal_generated_source\":{\"type\":\"null\",\"is_negative\":true},\"sales__opportunity.loss_reason_to_exclude\":{\"type\":\"boolean\",\"is_negative\":false,\"treat_nulls_as_false\":false},\"sales__opportunity.record_type_rolled_up_\":{\"kind\":\"EQUALS\",\"type\":\"string\",\"values\":[\"New\",\"Upsell\"]},\"sales__opportunity.nbm_entered_or_upsell_added_date\":{\"type\":\"composite\",\"filters\":[{\"kind\":\"TIME_FOR_UNIT_DURATION\",\"type\":\"date\",\"left_side\":\"FY2026 Q4\"},{\"kind\":\"TIME_FOR_INTERVAL_DURATION\",\"type\":\"date\",\"left_side\":\"6 complete fiscal quarters ago\",\"right_side\":\"6 quarters\"}],\"conjunction\":\"AND\",\"is_negative\":false}},\"modelId\":\"3b668837-0ae9-4351-93cf-e36bf88706e1\",\"version\":8,\"controls\":[],\"rewriteSql\":true,\"row_totals\":{},\"fill_fields\":[],\"calculations\":[],\"column_limit\":50,\"join_via_map\":{},\"column_totals\":{},\"userEditedSQL\":\"\",\"dimensionIndex\":0,\"default_group_by\":true,\"model_extension_id\":\"27c7f29d-a2bb-4daf-97af-27e34b9461a2\",\"custom_summary_types\":{},\"join_paths_from_topic_name\":\"opp_creation_marketing_attribution\"},\n  \"previous_fiscal_quarter_query\":{\"limit\":1000,\"sorts\":[],\"table\":\"sales__opportunity\",\"fields\":[\"sales__accounts.account_name\",\"sales__opportunity.opportunity_name\",\"sales__accounts.owner_name\",\"sales__opportunity.forecast\",\"sales__opportunity.stage_name\",\"sales__opportunity.record_type\",\"sales__opportunity.new_arr_derived\",\"sales__opportunity.close_date\"],\"pivots\":[],\"dbtMode\":false,\"filters\":{\"sales__opportunity.geo_segment\":{\"kind\":\"EQUALS\",\"type\":\"string\",\"values\":[\"PUBLIC SECTOR\"],\"is_negative\":true},\"sales__opportunity.type_of_opp\":{\"type\":\"null\",\"is_negative\":false},\"sales__opportunity.deal_generated_source\":{\"type\":\"null\",\"is_negative\":true},\"sales__opportunity.loss_reason_to_exclude\":{\"type\":\"boolean\",\"is_negative\":false,\"treat_nulls_as_false\":false},\"sales__opportunity.record_type_rolled_up_\":{\"kind\":\"EQUALS\",\"type\":\"string\",\"values\":[\"New\",\"Upsell\"]},\"sales__opportunity.nbm_entered_or_upsell_added_date\":{\"type\":\"composite\",\"filters\":[{\"kind\":\"TIME_FOR_UNIT_DURATION\",\"type\":\"date\",\"left_side\":\"FY2026 Q3\"},{\"kind\":\"TIME_FOR_INTERVAL_DURATION\",\"type\":\"date\",\"left_side\":\"6 complete fiscal quarters ago\",\"right_side\":\"6 quarters\"}],\"conjunction\":\"AND\",\"is_negative\":false}},\"modelId\":\"3b668837-0ae9-4351-93cf-e36bf88706e1\",\"version\":8,\"controls\":[],\"rewriteSql\":true,\"row_totals\":{},\"fill_fields\":[],\"calculations\":[],\"column_limit\":50,\"join_via_map\":{},\"column_totals\":{},\"userEditedSQL\":\"\",\"dimensionIndex\":0,\"default_group_by\":true,\"model_extension_id\":\"27c7f29d-a2bb-4daf-97af-27e34b9461a2\",\"custom_summary_types\":{},\"join_paths_from_topic_name\":\"opp_creation_marketing_attribution\"}\n}"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "3eea8075-17b2-4755-a8ae-fa085f9b03a9",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-20T02:14:15.842Z",
      "createdAt": "2025-12-20T02:14:15.842Z",
      "role": "workflow:owner",
      "workflowId": "4cCsYYYaNoTNWB3U",
      "projectId": "2vHf2VxAoKk0WgJE"
    }
  ],
  "activeVersion": null,
  "tags": []
}