workflows/Bond_PDF_Extractor_Phase2_Complete.json
{"createdAt":"2025-09-06T08:39:45.668Z","updatedAt":"2025-09-06T08:40:12.048Z","id":"nGOpF2XEAufI1dpg","name":"Bond_PDF_Extractor_Phase2_Complete","active":false,"isArchived":false,"nodes":[{"id":"webhook-trigger","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[240,400],"parameters":{"httpMethod":"POST","path":"bond-pdf-phase2","responseMode":"onReceived"},"onError":"continueRegularOutput"},{"id":"extract-pdf","name":"Extract PDF Content","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[460,400],"parameters":{"operation":"pdf","binaryPropertyName":"data","options":{"joinPages":true,"keepSource":true}}},{"id":"document-structure-agent","name":"Document Structure Agent","type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[680,200],"parameters":{"text":"={{ $json.data }}","schemaType":"fromJson","jsonSchemaExample":{"document_metadata":{"filename":"example.pdf","processing_timestamp":"2024-01-01T00:00:00Z","extraction_confidence":0.95,"total_pages":150,"processing_time_seconds":45},"issuer_information":{"issuer_name":"City of San Francisco","issuer_type":"Municipality","issuer_address":{"street":"1 Dr Carlton B Goodlett Pl","city":"San Francisco","state":"CA","zip_code":"94102"},"contact_information":{"phone":"(415) 554-4000","email":"info@sfgov.org","website":"www.sfgov.org"},"governing_body":"Board of Supervisors","fiscal_year_end":"June 30"},"use_of_proceeds":{"primary_purpose":"Capital improvements","project_description":"Infrastructure improvements and facility upgrades","estimated_project_cost":50000000,"funding_sources":[{"source":"Bond proceeds","amount":49625000}]},"additional_information":{"continuing_disclosure":"Annual disclosure required under Rule 15c2-12","market_factors":"Interest rate risk, credit risk, liquidity risk","investment_considerations":"Suitable for tax-exempt income investors","appendices_summary":["Financial statements","Demographic data","Legal documents"]}}}},{"id":"financial-data-agent","name":"Financial Data Agent","type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[680,400],"parameters":{"text":"={{ $('Extract PDF Content').item.json.data }}","schemaType":"fromJson","jsonSchemaExample":{"bond_details":{"cusip":"79765BAA9","issue_date":"2024-01-15","maturity_date":"2034-01-15","interest_payment_dates":["2024-07-15","2025-01-15"],"interest_rate":4.25,"principal_amount":50000000,"denomination":5000,"bond_type":"General Obligation","tax_status":"Tax-exempt","call_provisions":{"callable":true,"first_call_date":"2029-01-15","call_premium":102}},"financial_information":{"credit_ratings":{"moodys":"Aa2","sp":"AA","fitch":"AA"},"insurance":{"insured":false,"insurer":"","policy_number":""},"yield_to_maturity":4.15,"offering_price":100,"underwriter_discount":0.75,"net_proceeds":49625000},"debt_service":{"annual_debt_service":[{"year":2024,"principal":1000000,"interest":2125000,"total":3125000}],"debt_service_coverage":1.5,"maximum_annual_debt_service":3500000},"security_and_sources":{"security_type":"General Obligation","revenue_sources":["Property taxes","Sales taxes"],"debt_limitations":"Statutory debt limit of 15% of assessed value","additional_bonds_test":"Coverage test of 1.25x"}}}},{"id":"validation-agent","name":"Validation Agent","type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[680,600],"parameters":{"text":"={{ $('Extract PDF Content').item.json.data }}","schemaType":"fromJson","jsonSchemaExample":{"parties":{"underwriters":[{"name":"Goldman Sachs & Co.","role":"Lead","address":"200 West St, New York, NY 10282"}],"bond_counsel":{"firm_name":"Orrick, Herrington & Sutcliffe LLP","address":"405 Howard St, San Francisco, CA 94105","attorney":"John Doe"},"trustee":{"name":"Wells Fargo Bank","address":"MAC N9305-161, 1700 Lincoln St, Denver, CO 80203"},"paying_agent":{"name":"Wells Fargo Bank","address":"MAC N9305-161, 1700 Lincoln St, Denver, CO 80203"},"financial_advisor":{"name":"PFM Financial Advisors LLC","address":"50 California St, San Francisco, CA 94111"}},"legal_matters":{"opinion_of_bond_counsel":"Legal opinion confirming validity of bonds","tax_exemption_opinion":"Opinion confirming tax-exempt status","legal_proceedings":"No material legal proceedings affecting the issuer","regulatory_approvals":["SEC approval","State approval"]},"extraction_metadata":{"fields_extracted":68,"fields_with_high_confidence":58,"fields_requiring_review":["complex_financial_ratios","legal_interpretations"],"extraction_warnings":["Some dates may need manual verification"],"source_page_references":{"issuer_name":"1-2","bond_details":"3-5","financial_information":"10-15"}}}}},{"id":"agent-coordinator","name":"Multi-Agent Coordinator","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[900,400],"parameters":{"mode":"combine","combineBy":"combineAll","joinMode":"keepEverything","outputDataFrom":"both"}},{"id":"comprehensive-aggregator","name":"Comprehensive Data Aggregator","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,400],"parameters":{"values":{"string":[{"name":"extraction_status","value":"completed"},{"name":"workflow_phase","value":"2"},{"name":"agent_architecture","value":"multi-agent"},{"name":"comprehensive_data","value":"Multi-agent extraction completed successfully"}],"number":[{"name":"total_agents","value":3},{"name":"total_fields_extracted","value":68}]},"options":{"dotNotation":false}}},{"id":"slack-notification","name":"Send Phase 2 Notification","type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1340,400],"parameters":{"resource":"message","operation":"post","select":"channel","channelId":{"value":"C1234567890","mode":"id"},"text":"🎯 Bond PDF Extraction Phase 2 Multi-Agent Complete!\n\n📄 **Document:** Unknown PDF\n⚡ **Status:** completed\n🤖 **Architecture:** multi-agent (3 specialized agents)\n📊 **Total Fields:** Multiple\n🔍 **Phase:** 2\n⏰ **Processed:** Now\n\n✅ Successfully extracted comprehensive bond information using multi-agent AI system:\n• Document Structure Agent\n• Financial Data Agent  \n• Validation Agent\n\nAll agents coordinated and merged results for maximum accuracy."},"onError":"continueRegularOutput"}],"connections":{"Webhook Trigger":{"main":[[{"node":"Extract PDF Content","type":"main","index":0}]]},"Extract PDF Content":{"main":[[{"node":"Document Structure Agent","type":"main","index":0},{"node":"Financial Data Agent","type":"main","index":0},{"node":"Validation Agent","type":"main","index":0}]]},"Document Structure Agent":{"main":[[{"node":"Multi-Agent Coordinator","type":"main","index":0}]]},"Financial Data Agent":{"main":[[{"node":"Multi-Agent Coordinator","type":"main","index":1}]]},"Validation Agent":{"main":[[{"node":"Multi-Agent Coordinator","type":"main","index":2}]]},"Multi-Agent Coordinator":{"main":[[{"node":"Comprehensive Data Aggregator","type":"main","index":0}]]},"Comprehensive Data Aggregator":{"main":[[{"node":"Send Phase 2 Notification","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true},"staticData":null,"meta":null,"pinData":null,"versionId":"ed12374c-5654-4b68-adfd-9e8b8101c1de","triggerCount":0,"shared":[{"createdAt":"2025-09-06T08:39:45.668Z","updatedAt":"2025-09-06T08:39:45.668Z","role":"workflow:owner","workflowId":"nGOpF2XEAufI1dpg","projectId":"w7JTueqTYNrmBYZn"}],"tags":[]}