workflows/Bond_Embed.json
{"createdAt":"2025-07-06T22:46:33.824Z","updatedAt":"2025-07-07T00:51:17.011Z","id":"UiXdE6G92umtXc4B","name":"Bond_Embed","active":false,"isArchived":false,"nodes":[{"parameters":{"trigger":["app_mention"],"channelId":{"__rl":true,"mode":"id","value":"C094CR3GFD1"},"options":{"resolveIds":true}},"id":"bceabe38-d328-4d94-910e-6015aff7ec51","name":"Slack Trigger","type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[-1220,-40],"webhookId":"bond-pdf-webhook-id","credentials":{"slackApi":{"id":"UG215AdgTq0Sluqa","name":"Agentic Workflows Slack API Token"}},"disabled":true},{"parameters":{"resource":"file","operation":"get","fileId":"={{ $json.files[0].id }}"},"id":"97c3a01e-440f-4df5-b7f0-287a9e05587d","name":"Download PDF File","type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[-800,-40],"webhookId":"b20a9547-2baa-4da5-9bfc-4e207bd0e3ad","credentials":{"slackApi":{"id":"UG215AdgTq0Sluqa","name":"Agentic Workflows Slack API Token"}},"disabled":true},{"parameters":{},"id":"45004680-3275-4830-a462-c733f92ec8b2","name":"Extract Text from Chunk","type":"n8n-nodes-base.readPDF","typeVersion":1,"position":[-460,260]},{"parameters":{"chunkSize":3000,"chunkOverlap":450,"options":{}},"id":"a70b36f2-eec0-4451-8758-58a726fbd7e7","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[-800,960]},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"mode":"id","value":"bond-statements"},"options":{"clearNamespace":false}},"id":"a54f4493-1d26-45ce-a774-71eea596f76f","name":"Store in Pinecone","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[-540,660],"disabled":true},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"bond-statements","mode":"id"},"options":{}},"id":"1adf4f8f-c992-4653-b4fd-035abd2ed097","name":"Store in Qdrant","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.3,"position":[-560,480],"alwaysOutputData":true,"credentials":{"qdrantApi":{"id":"Tjd4DnF2L6gIdloo","name":"Local QdrantApi"}}},{"parameters":{"dataType":"binary","loader":"pdfLoader","textSplittingMode":"custom","options":{"splitPages":false}},"id":"2dd2c62a-b19c-45a7-af38-87f336685077","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-800,820]},{"parameters":{"content":"### Bond PDF Embedding Workflow\nProcesses school district bond official statements from EMMA:\n1. Triggered by Slack file uploads\n2. Splits PDF into 12-page chunks with 1-page overlap\n3. Extracts text and creates overlapping text chunks (15%)\n4. Generates embeddings and stores in both Pinecone and Qdrant","height":300,"width":400,"color":7},"id":"2d8e5f0b-a0da-400e-9c03-29c4cda2cb4d","name":"Workflow Description","type":"n8n-nodes-base.stickyNote","position":[-1520,-140],"typeVersion":1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3c179f6b-5d72-4d2c-a510-4128595873e4","leftValue":"={{ $json.files }}","rightValue":0,"operator":{"type":"array","operation":"lengthGt","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1000,-40],"id":"c7092c25-f4a9-4799-b9a0-b3b4da399380","name":"If","disabled":true},{"parameters":{},"id":"3a118139-731d-465e-a08b-d26b47538c32","name":"When clicking 'Test Workflow' button","type":"n8n-nodes-base.manualTrigger","position":[-1240,260],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"d08ef1f5-932b-4bbb-bb02-0cbdff26a636","name":"file_url","type":"string","value":"https://drive.google.com/file/d/1A3IlZYcsGKwHzjUz0JOPPtSsY1OWvdD0/view?usp=drive_link"}]},"options":{}},"id":"205679f9-d4b2-4ac2-8a21-d8e53c22631d","name":"Set Google Drive file URL","type":"n8n-nodes-base.set","position":[-1000,260],"typeVersion":3.4},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"url","value":"={{ $json.file_url }}"},"options":{"binaryPropertyName":"file"}},"id":"0626cf4f-d471-42ac-9434-3d025bce4fb3","name":"Download file","type":"n8n-nodes-base.googleDrive","position":[-800,260],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"iQ8WsxQiCJQjKqZe","name":"Google Drive account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[-820,600],"id":"79ab4d1d-d803-416c-9424-ca7d94401067","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"yw1nLb6Dxz18ENh2","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"content":"### Chat with database\nEmbed the incoming chat message and use it retrieve relevant chunks from the vector store. These are passed to the model to formulate an answer ","height":627,"width":534,"color":7},"id":"cdddc160-24bb-4ce7-bdd9-8480af776298","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[300,-120],"typeVersion":1},{"parameters":{"options":{}},"id":"344eb0ac-8d5f-437e-ab91-50b98a936da8","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[120,-20],"webhookId":"dec328cc-f47e-4727-b1c5-7370be86a958","typeVersion":1.1},{"parameters":{"options":{}},"id":"bcd321a1-a2b6-4433-89b5-acdbc19c29d8","name":"Question & Answer","type":"@n8n/n8n-nodes-langchain.agent","position":[360,-20],"typeVersion":1.8},{"parameters":{"options":{}},"id":"b70fabb0-0af3-467d-af8e-99a6587737f9","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","position":[440,860],"typeVersion":1.2,"disabled":true},{"parameters":{"modelName":"models/gemini-2.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[380,200],"id":"5f7a675e-1f22-4528-8f73-976c5a2491df","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"yw1nLb6Dxz18ENh2","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"bitcoin_paper","toolDescription":"Call this tool to retrieve facts from the bitcoin whitepaper","pineconeIndex":{"__rl":true,"mode":"id","value":"test-index"},"includeDocumentMetadata":false,"options":{}},"id":"4e92198f-5e1a-4d6d-819a-586d450649f0","name":"Pinecone Vector Store1","type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","position":[440,700],"typeVersion":1,"disabled":true},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Call this tool to retrieve information about the bond official statement during the school district election.","qdrantCollection":{"__rl":true,"value":"bond-statements","mode":"id"},"topK":5,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.3,"position":[500,240],"id":"477e4c9c-1a93-46be-a92d-532381cf5f63","name":"Qdrant Vector Store","credentials":{"qdrantApi":{"id":"Tjd4DnF2L6gIdloo","name":"Local QdrantApi"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[440,380],"id":"8b906f86-0b69-4aaf-bf83-4efa8cf3377c","name":"Embeddings Google Gemini1","credentials":{"googlePalmApi":{"id":"yw1nLb6Dxz18ENh2","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Slack Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"Download PDF File":{"main":[[{"node":"Extract Text from Chunk","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Store in Pinecone","type":"ai_document","index":0},{"node":"Store in Qdrant","type":"ai_document","index":0}]]},"If":{"main":[[{"node":"Download PDF File","type":"main","index":0}]]},"When clicking 'Test Workflow' button":{"main":[[{"node":"Set Google Drive file URL","type":"main","index":0}]]},"Set Google Drive file URL":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Store in Qdrant","type":"main","index":0},{"node":"Extract Text from Chunk","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Store in Qdrant","type":"ai_embedding","index":0},{"node":"Store in Pinecone","type":"ai_embedding","index":0}]]},"When chat message received":{"main":[[{"node":"Question & Answer","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Question & Answer","type":"ai_languageModel","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"Question & Answer","type":"ai_tool","index":0}]]},"Qdrant Vector Store":{"ai_tool":[[{"node":"Question & Answer","type":"ai_tool","index":0}]]},"Embeddings Google Gemini1":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Slack Trigger":[{"json":{"text":"<@U094CRENUUB>","files":[{"id":"F094CT3AE7M","created":1751843553,"timestamp":1751843553,"name":"cajon_valley.pdf","title":"cajon_valley.pdf","mimetype":"application/pdf","filetype":"pdf","pretty_type":"PDF","user":"U094JQ44DUJ","user_team":"T094JQ441LJ","editable":false,"size":5232031,"mode":"hosted","is_external":false,"external_type":"","is_public":false,"public_url_shared":false,"display_as_bot":false,"username":"","url_private":"https://files.slack.com/files-pri/T094JQ441LJ-F094CT3AE7M/cajon_valley.pdf","url_private_download":"https://files.slack.com/files-pri/T094JQ441LJ-F094CT3AE7M/download/cajon_valley.pdf","media_display_type":"unknown","thumb_pdf":"https://files.slack.com/files-tmb/T094JQ441LJ-F094CT3AE7M-f0058471ba/cajon_valley_thumb_pdf.png","thumb_pdf_w":933,"thumb_pdf_h":1210,"permalink":"https://agenticworkflowshq.slack.com/files/U094CRENUUB/F094CT3AE7M/cajon_valley.pdf","permalink_public":"https://slack-files.com/T094JQ441LJ-F094CT3AE7M-7c7eba275d","is_starred":false,"skipped_shares":true,"has_rich_preview":false,"file_access":"visible"}],"upload":false,"user":"U094JQ44DUJ","display_as_bot":false,"blocks":[{"type":"rich_text","block_id":"lloXm","elements":[{"type":"rich_text_section","elements":[{"type":"user","user_id":"U094CRENUUB"}]}]}],"type":"app_mention","ts":"1751843556.822119","client_msg_id":"aecce9b2-69bc-43ff-9ec3-5463d2f5a6b3","channel":"C094CR3GFD1","event_ts":"1751843556.822119","user_resolved":"nathan","channel_resolved":"test-bond-statement-extractor"}}],"Download PDF File":[{"json":{"id":"F094CT3AE7M","created":1751843553,"timestamp":1751843553,"name":"cajon_valley.pdf","title":"cajon_valley.pdf","mimetype":"application/pdf","filetype":"pdf","pretty_type":"PDF","user":"U094JQ44DUJ","user_team":"T094JQ441LJ","editable":false,"size":5232031,"mode":"hosted","is_external":false,"external_type":"","is_public":false,"public_url_shared":false,"display_as_bot":false,"username":"","url_private":"https://files.slack.com/files-pri/T094JQ441LJ-F094CT3AE7M/cajon_valley.pdf","url_private_download":"https://files.slack.com/files-pri/T094JQ441LJ-F094CT3AE7M/download/cajon_valley.pdf","media_display_type":"unknown","thumb_pdf":"https://files.slack.com/files-tmb/T094JQ441LJ-F094CT3AE7M-f0058471ba/cajon_valley_thumb_pdf.png","thumb_pdf_w":933,"thumb_pdf_h":1210,"permalink":"https://agenticworkflowshq.slack.com/files/U094CRENUUB/F094CT3AE7M/cajon_valley.pdf","permalink_public":"https://slack-files.com/T094JQ441LJ-F094CT3AE7M-7c7eba275d","is_starred":false,"shares":{"private":{"C094CR3GFD1":[{"reply_users":[],"reply_users_count":0,"reply_count":0,"ts":"1751843556.822119","channel_name":"test-bond-statement-extractor","team_id":"T094JQ441LJ","share_user_id":"U094JQ44DUJ","source":"UNKNOWN","is_silent_share":false}]}},"channels":[],"groups":["C094CR3GFD1"],"ims":[],"has_more_shares":false,"has_rich_preview":false,"file_access":"visible","comments_count":0}}]},"versionId":"96a241e7-5324-42b7-ad27-a79cf0e80a01","triggerCount":1,"tags":[]}