workflows/Congress_Trade_Tracker.json
{
  "createdAt": "2025-08-16T21:57:01.782Z",
  "updatedAt": "2025-08-16T22:20:00.954Z",
  "id": "EsPsERYaQyutkiEy",
  "name": "Congress_Trade_Tracker",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/extract",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"urls\": [\n    \"https://www.quiverquant.com/congresstrading/*\"\n  ],\n  \"prompt\": \"Extract all notable congress member trades over $50,000 USD in the past 1 month. Include the Congress Member's name, party, the Stock/Asset purchased or sold, the Amount of the transaction, and the date of the transaction.\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"notable_trades\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"congress_member_name\": {\n              \"type\": \"string\"\n            },\n            \"party\": {\n              \"type\": \"string\"\n            },\n            \"stock_or_asset\": {\n              \"type\": \"string\"\n            },\n            \"amount\": {\n              \"type\": \"number\"\n            },\n            \"transaction_date\": {\n              \"type\": \"string\"\n            }\n          },\n          \"required\": [\n            \"congress_member_name\",\n            \"stock_or_asset\",\n            \"amount\",\n            \"transaction_date\"\n          ]\n        }\n      }\n    },\n    \"required\": [\n      \"notable_trades\"\n    ]\n  }\n}\n",
        "options": {}
      },
      "id": "3a3191a9-a14e-43fe-9905-35e1141c69a1",
      "name": "Extract",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        928,
        272
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2l2T0gIHT5WIzG0w",
          "name": "Firecrawl Auth Header"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.firecrawl.dev/v1/extract/{{ $('Extract').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "1d647f23-97a4-4c03-95a9-b16dc3478ccd",
      "name": "Get Results",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1360,
        272
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "2l2T0gIHT5WIzG0w",
          "name": "Firecrawl Auth Header"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4188c94f-170b-4f42-8197-675f171bc1a5",
              "name": "data",
              "type": "string",
              "value": "={{ $json.trades }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "24abb00b-f5a5-41bf-935f-4bff916897b1",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        2144,
        288
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "id": "e806e31f-8c00-49a6-8271-a09694798b9f",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        688,
        272
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "6d815b2e-1717-4d52-a30d-74e17a84f0f3",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.trades }}",
              "rightValue": "[empty array]"
            }
          ]
        },
        "options": {}
      },
      "id": "04f54b71-d424-4d42-a176-68d1341d1ab8",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        1888,
        272
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "amount": 15
      },
      "id": "485ce428-c50b-4851-ac43-ee692c685d8b",
      "name": "Wait 15 secs",
      "type": "n8n-nodes-base.wait",
      "position": [
        2000,
        528
      ],
      "typeVersion": 1.1,
      "webhookId": "6f957056-6ff1-4ddc-a914-fd6b7f25cb97",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let data = $json.data;\nif (data && data.notable_trades) {\n  return { trades: data.notable_trades };\n}\nreturn { trades: [] };"
      },
      "id": "ba3a2e34-e040-48df-a061-57a5bc171da7",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        1600,
        272
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "ca2c11d5-e369-491d-a11b-651c33fe0975",
      "name": "Wait 30 Secs",
      "type": "n8n-nodes-base.wait",
      "position": [
        1152,
        272
      ],
      "typeVersion": 1.1,
      "webhookId": "7af1e5ee-f240-4b45-9e72-044229b1d847"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a helpful text editing assistant. You will receive a blob of text as data (they are congressional trading/transaction data). Your job is to format them into an easily readable format where it shows the category of Transaction Date, the Stock/Asset Purchase Amount, The Name of the Stock, the Name of the Purchaser and his/her party."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2432,
        288
      ],
      "id": "713e1e6e-11c5-4680-9e28-f9d921369bb3",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "sendTo": "stocks@mailrelayer.xyz",
        "subject": "=Congress Trades",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "id": "4ee1a013-3666-4368-bb76-8c9a79ad0773",
      "name": "Send a message",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2864,
        288
      ],
      "typeVersion": 2.1,
      "webhookId": "01e9e160-6920-421a-a67c-80e944855f4a",
      "credentials": {
        "gmailOAuth2": {
          "id": "4wzsYdMTAIarBZ2G",
          "name": "Gmail - ngrok"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2368,
        496
      ],
      "id": "68a4825c-df60-4842-8cb9-676d06c79918",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "yw1nLb6Dxz18ENh2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Wait 15 secs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract": {
      "main": [
        [
          {
            "node": "Wait 30 Secs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Results": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15 secs": {
      "main": [
        [
          {
            "node": "Get Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30 Secs": {
      "main": [
        [
          {
            "node": "Get Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "15f86c71-e92c-462b-bb0d-8d38738b4686",
  "triggerCount": 0,
  "tags": []
}