workflows/Congress_Trade_Tracker.json
{"createdAt":"2025-07-03T07:31:58.261Z","updatedAt":"2025-07-03T09:13:32.202Z","id":"FiIne0rQng2KSdt4","name":"Congress_Trade_Tracker","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.firecrawl.dev/v1/extract","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"urls\": [\n    \"https://www.quiverquant.com/congresstrading/*\"\n  ],\n  \"prompt\": \"Extract all notable congress member trades over $50,000 USD in the past 1 month. Include the Congress Member's name, party, the Stock/Asset purchased or sold, the Amount of the transaction, and the date of the transaction.\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"notable_trades\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"congress_member_name\": {\n              \"type\": \"string\"\n            },\n            \"party\": {\n              \"type\": \"string\"\n            },\n            \"stock_or_asset\": {\n              \"type\": \"string\"\n            },\n            \"amount\": {\n              \"type\": \"number\"\n            },\n            \"transaction_date\": {\n              \"type\": \"string\"\n            }\n          },\n          \"required\": [\n            \"congress_member_name\",\n            \"stock_or_asset\",\n            \"amount\",\n            \"transaction_date\"\n          ]\n        }\n      }\n    },\n    \"required\": [\n      \"notable_trades\"\n    ]\n  }\n}\n","options":{}},"id":"3a3191a9-a14e-43fe-9905-35e1141c69a1","name":"Extract","type":"n8n-nodes-base.httpRequest","position":[920,260],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"2l2T0gIHT5WIzG0w","name":"Firecrawl Auth Header"}}},{"parameters":{"url":"=https://api.firecrawl.dev/v1/extract/{{ $('Extract').item.json.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"1d647f23-97a4-4c03-95a9-b16dc3478ccd","name":"Get Results","type":"n8n-nodes-base.httpRequest","position":[1360,260],"typeVersion":4.2,"credentials":{"httpHeaderAuth":{"id":"2l2T0gIHT5WIzG0w","name":"Firecrawl Auth Header"}}},{"parameters":{"assignments":{"assignments":[{"id":"4188c94f-170b-4f42-8197-675f171bc1a5","name":"data","type":"string","value":"={{ $json.trades }}"}]},"includeOtherFields":true,"options":{}},"id":"24abb00b-f5a5-41bf-935f-4bff916897b1","name":"Edit Fields","type":"n8n-nodes-base.set","position":[2140,280],"typeVersion":3.4},{"parameters":{"rule":{"interval":[{"triggerAtHour":18}]}},"id":"e806e31f-8c00-49a6-8271-a09694798b9f","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[680,260],"typeVersion":1.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"or","conditions":[{"id":"6d815b2e-1717-4d52-a30d-74e17a84f0f3","operator":{"type":"array","operation":"empty","singleValue":true},"leftValue":"={{ $json.trades }}","rightValue":"[empty array]"}]},"options":{}},"id":"04f54b71-d424-4d42-a176-68d1341d1ab8","name":"If","type":"n8n-nodes-base.if","position":[1880,260],"typeVersion":2.2},{"parameters":{"amount":15},"id":"485ce428-c50b-4851-ac43-ee692c685d8b","name":"Wait 15 secs","type":"n8n-nodes-base.wait","position":[2000,520],"typeVersion":1.1,"webhookId":"6f957056-6ff1-4ddc-a914-fd6b7f25cb97"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"let trades = $json.data;\nif (!Array.isArray(trades)) {\n  trades = trades ? [trades] : [];\n}\nreturn { trades };"},"id":"ba3a2e34-e040-48df-a061-57a5bc171da7","name":"Code","type":"n8n-nodes-base.code","position":[1600,260],"typeVersion":2},{"parameters":{"content":"Converting to Array","height":280,"color":6},"id":"05a90153-1d83-4a2a-a5d5-8e2b1e78466f","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1540,180],"typeVersion":1},{"parameters":{"content":"Get Request to Firecrawl","height":280},"id":"43cf38b9-8470-4206-bcc7-3ff5ffa1ba69","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1280,180],"typeVersion":1},{"parameters":{"content":"Post Request to Firecrawl","height":280,"color":2},"id":"67d15fe6-0b95-4bf4-9ae2-bc4f80dcd93e","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[840,180],"typeVersion":1},{"parameters":{"amount":30},"id":"ca2c11d5-e369-491d-a11b-651c33fe0975","name":"Wait 30 Secs","type":"n8n-nodes-base.wait","position":[1140,260],"typeVersion":1.1,"webhookId":"7af1e5ee-f240-4b45-9e72-044229b1d847"},{"parameters":{"content":"Scheduled Trigger","height":280,"width":200,"color":6},"id":"b27f980d-6d62-40e9-a64c-9bdfd3c962a1","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[620,180],"typeVersion":1},{"parameters":{"content":"Conditional check if crawl has completed","height":280,"color":3},"id":"d6feaf2d-2ca7-43b3-bf71-cabf112bf5e6","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1800,180],"typeVersion":1},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"chatgpt-4o-latest","cachedResultName":"CHATGPT-4O-LATEST"},"messages":{"values":[{"content":"={{ $json.data }}"},{"content":"You are a helpful text editing assistant. You will receive a blob of text as data (they are congressional trading/transaction data). Your job is to format them into an easily readable format where it shows the category of Transaction Date, the Stock/Asset Purchase Amount, The Name of the Stock, the Name of the Purchaser and his/her party.","role":"system"}]},"options":{}},"id":"e28430d5-22d4-41d3-a864-982ae9feb683","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.openAi","position":[2300,660],"typeVersion":1.8,"credentials":{"openAiApi":{"id":"PghgA1lKgl9wuFVD","name":"LM Studio"}},"disabled":true},{"parameters":{"content":"Formatting + Email Send","height":280,"width":700,"color":4},"id":"5bf0bc88-424c-4990-9db8-0a0aac3faff3","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[2060,180],"typeVersion":1},{"parameters":{"content":"Result not ready - loop to wait for result","height":280,"width":940,"color":4},"id":"6f18956b-a81d-4773-8328-c408a10ca9f7","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[1280,480],"typeVersion":1},{"parameters":{"content":"Wait for result","height":280,"width":160},"id":"da19f194-95a7-41f9-aa1c-cb6e16dee46d","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[1100,180],"typeVersion":1},{"parameters":{"content":"🔧 How It Works\n🕒 Schedule Trigger\nFires daily at a set hour (e.g., 6 PM) to begin the data pipeline.\n\n🔥 Firecrawl Extract API (POST)\nTargets the Quiver Quantitative “Congress Trading” page and sends a structured prompt asking for all trades over $50K in the past month.\n\n⏳ Wait Node\nAllows time for Firecrawl to finish processing before retrieving results.\n\n📥 Firecrawl Get Result API (GET)\nRetrieves the extracted and structured data.\n\n🧠 OpenAI Chat Model (GPT-4o)\nFormats the raw trading data into a readable summary that includes:\n\nDate of Transaction\n\nStock/Asset traded\n\nAmount\n\nCongress member’s name and political party\n\n📧 Gmail Node\nSends the summary to your inbox with the subject “Congress Trade Updates - QQ”.\n\nWatch Full Set Up Tutorial here: https://www.youtube.com/@Automatewithmarc\n\n🧠 Why This is Useful\nCongressional trading activity often reveals valuable signals — especially when high-value trades are made.\nThis workflow:\n\nSaves time manually tracking Quiver Quant updates\n\nConverts complex tables into a daily, readable email\n\nKeeps investors, researchers, and newsrooms in the loop — hands-free\n\n🛠 Requirements\nFirecrawl API Key (with extract access)\n\nOpenAI API Key\n\nGmail OAuth2 credentials\n\nn8n (self-hosted or cloud)\n\n💬 Sample Output:\nCongress Trade Summary – May 21\n\nNancy Pelosi (D) sold TSLA for $85,000 on April 28\n\nJohn Raynor (R) purchased AAPL worth $120,000 on May 2\n... and more\n\n🪜 Setup Steps\nAdd your Firecrawl, OpenAI, and Gmail credentials in n8n.\n\nAdjust the schedule node to your desired time.\n\nCustomize the OpenAI system prompt if you want a different summary style.\n\nDeploy the workflow — and enjoy your daily edge.\n\n","height":1300,"width":600},"id":"edb8da1b-c6f0-43bb-ae67-5aaef0f86398","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"promptType":"define","text":"={{ $json.data }}","messages":{"messageValues":[{"message":"=You are a helpful text editing assistant. You will receive a blob of text as data (they are congressional trading/transaction data). Your job is to format them into an easily readable format where it shows the category of Transaction Date, the Stock/Asset Purchase Amount, The Name of the Stock, the Name of the Purchaser and his/her party."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[2420,280],"id":"713e1e6e-11c5-4680-9e28-f9d921369bb3","name":"Basic LLM Chain1"},{"parameters":{"modelName":"models/gemini-2.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2420,480],"id":"5a6f2ccb-873c-4e14-b621-6ee662a7e187","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"yw1nLb6Dxz18ENh2","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sendTo":"stocks@mailrelayer.xyz","subject":"=Congress Trades","emailType":"text","message":"={{ $json.text }}","options":{}},"id":"4ee1a013-3666-4368-bb76-8c9a79ad0773","name":"Send a message","type":"n8n-nodes-base.gmail","position":[2860,280],"typeVersion":2.1,"webhookId":"01e9e160-6920-421a-a67c-80e944855f4a","credentials":{"gmailOAuth2":{"id":"4wzsYdMTAIarBZ2G","name":"Gmail - ngrok"}}}],"connections":{"If":{"main":[[{"node":"Wait 15 secs","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]},"OpenAI":{"main":[[]]},"Extract":{"main":[[{"node":"Wait 30 Secs","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0},{"node":"OpenAI","type":"main","index":0}]]},"Get Results":{"main":[[{"node":"Code","type":"main","index":0}]]},"Wait 15 secs":{"main":[[{"node":"Get Results","type":"main","index":0}]]},"Wait 30 Secs":{"main":[[{"node":"Get Results","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Extract","type":"main","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Extract":[{"json":{"success":true,"id":"70ec404f-db1e-44d8-8577-910982737951","urlTrace":[]}}],"Get Results":[{"json":{"success":true,"data":{"notable_trades":[{"party":"Republican","amount":100001,"stock_or_asset":"PHILADELPHIA PA AUTH FOR INDL DEV CITY","transaction_date":"2025-06-23","congress_member_name":"David McCormick"},{"party":"Republican","amount":250001,"stock_or_asset":"HATBORO HORSHAM PA SCH DIST GO","transaction_date":"2025-06-23","congress_member_name":"David McCormick"},{"party":"Republican","amount":250001,"stock_or_asset":"PITTSBURGH PA GO","transaction_date":"2025-06-02","congress_member_name":"David McCormick"},{"party":"Republican","amount":500001,"stock_or_asset":"Oklahoma St Wtr Res Brd Revolving Fund Revenue Bond","transaction_date":"2025-06-04","congress_member_name":"Rick Scott"},{"party":"Democratic","amount":500001,"stock_or_asset":"AAPL","transaction_date":"2025-06-22","congress_member_name":"Cleo Fields"},{"party":"Democratic","amount":250001,"stock_or_asset":"AMZN","transaction_date":"2025-06-22","congress_member_name":"Cleo Fields"},{"party":"Democratic","amount":250001,"stock_or_asset":"MSFT","transaction_date":"2025-06-22","congress_member_name":"Cleo Fields"},{"party":"House / D","amount":50000,"stock_or_asset":"GOOGL","transaction_date":"2025-06-10","congress_member_name":"Ro Khanna"},{"party":"House / R","amount":100000,"stock_or_asset":"GOOGL","transaction_date":"2025-06-22","congress_member_name":"Jefferson Shreve"},{"party":"House / D","amount":50000,"stock_or_asset":"GOOGL","transaction_date":"2025-05-12","congress_member_name":"Ro Khanna"},{"party":"House / R","amount":100000,"stock_or_asset":"GOOGL","transaction_date":"2025-05-12","congress_member_name":"Michael T. McCaul"},{"party":"R","amount":50001,"stock_or_asset":"NEE","transaction_date":"2025-05-12","congress_member_name":"Jefferson Shreve"},{"party":"D","amount":50001,"stock_or_asset":"NEE","transaction_date":"2025-04-23","congress_member_name":"George Whitesides"},{"party":"R","amount":50001,"stock_or_asset":"NEE","transaction_date":"2024-08-20","congress_member_name":"C. Scott Franklin"},{"party":"D","amount":100001,"stock_or_asset":"NEE","transaction_date":"2024-04-19","congress_member_name":"Tina Smith"},{"party":"R","amount":50001,"stock_or_asset":"NEE","transaction_date":"2024-01-11","congress_member_name":"Thomas Macarthur"},{"party":"House / D","amount":100000,"stock_or_asset":"AMZN","transaction_date":"2025-06-30","congress_member_name":"Cleo Fields"},{"party":"House / D","amount":100000,"stock_or_asset":"AMZN","transaction_date":"2025-06-25","congress_member_name":"Cleo Fields"},{"party":"House / D","amount":100000,"stock_or_asset":"AMZN","transaction_date":"2025-06-09","congress_member_name":"Cleo Fields"},{"party":"House / D","amount":100000,"stock_or_asset":"AMZN","transaction_date":"2025-06-05","congress_member_name":"Cleo Fields"},{"party":"House / R","amount":250000,"stock_or_asset":"AMZN","transaction_date":"2025-05-12","congress_member_name":"Jefferson Shreve"},{"party":"House / D","amount":250000,"stock_or_asset":"AMZN","transaction_date":"2025-01-14","congress_member_name":"Nancy Pelosi"},{"party":"House / R","amount":50000,"stock_or_asset":"AMZN","transaction_date":"2025-01-09","congress_member_name":"Michael T. McCaul"}]},"status":"completed","expiresAt":"2025-07-03T13:44:38.000Z","tokensUsed":1090}}],"Code":[{"json":{"trades":[{"notable_trades":[{"party":"Republican","amount":100001,"stock_or_asset":"PHILADELPHIA PA AUTH FOR INDL DEV CITY","transaction_date":"2025-06-23","congress_member_name":"David McCormick"},{"party":"Republican","amount":250001,"stock_or_asset":"HATBORO HORSHAM PA SCH DIST GO","transaction_date":"2025-06-23","congress_member_name":"David McCormick"},{"party":"Republican","amount":250001,"stock_or_asset":"PITTSBURGH PA GO","transaction_date":"2025-06-02","congress_member_name":"David McCormick"},{"party":"Republican","amount":500001,"stock_or_asset":"Oklahoma St Wtr Res Brd Revolving Fund Revenue Bond","transaction_date":"2025-06-04","congress_member_name":"Rick Scott"},{"party":"Democratic","amount":500001,"stock_or_asset":"AAPL","transaction_date":"2025-06-22","congress_member_name":"Cleo Fields"},{"party":"Democratic","amount":250001,"stock_or_asset":"AMZN","transaction_date":"2025-06-22","congress_member_name":"Cleo Fields"},{"party":"Democratic","amount":250001,"stock_or_asset":"MSFT","transaction_date":"2025-06-22","congress_member_name":"Cleo Fields"},{"party":"House / D","amount":50000,"stock_or_asset":"GOOGL","transaction_date":"2025-06-10","congress_member_name":"Ro Khanna"},{"party":"House / R","amount":100000,"stock_or_asset":"GOOGL","transaction_date":"2025-06-22","congress_member_name":"Jefferson Shreve"},{"party":"House / D","amount":50000,"stock_or_asset":"GOOGL","transaction_date":"2025-05-12","congress_member_name":"Ro Khanna"},{"party":"House / R","amount":100000,"stock_or_asset":"GOOGL","transaction_date":"2025-05-12","congress_member_name":"Michael T. McCaul"},{"party":"R","amount":50001,"stock_or_asset":"NEE","transaction_date":"2025-05-12","congress_member_name":"Jefferson Shreve"},{"party":"D","amount":50001,"stock_or_asset":"NEE","transaction_date":"2025-04-23","congress_member_name":"George Whitesides"},{"party":"R","amount":50001,"stock_or_asset":"NEE","transaction_date":"2024-08-20","congress_member_name":"C. Scott Franklin"},{"party":"D","amount":100001,"stock_or_asset":"NEE","transaction_date":"2024-04-19","congress_member_name":"Tina Smith"},{"party":"R","amount":50001,"stock_or_asset":"NEE","transaction_date":"2024-01-11","congress_member_name":"Thomas Macarthur"},{"party":"House / D","amount":100000,"stock_or_asset":"AMZN","transaction_date":"2025-06-30","congress_member_name":"Cleo Fields"},{"party":"House / D","amount":100000,"stock_or_asset":"AMZN","transaction_date":"2025-06-25","congress_member_name":"Cleo Fields"},{"party":"House / D","amount":100000,"stock_or_asset":"AMZN","transaction_date":"2025-06-09","congress_member_name":"Cleo Fields"},{"party":"House / D","amount":100000,"stock_or_asset":"AMZN","transaction_date":"2025-06-05","congress_member_name":"Cleo Fields"},{"party":"House / R","amount":250000,"stock_or_asset":"AMZN","transaction_date":"2025-05-12","congress_member_name":"Jefferson Shreve"},{"party":"House / D","amount":250000,"stock_or_asset":"AMZN","transaction_date":"2025-01-14","congress_member_name":"Nancy Pelosi"},{"party":"House / R","amount":50000,"stock_or_asset":"AMZN","transaction_date":"2025-01-09","congress_member_name":"Michael T. McCaul"}]}]}}],"Edit Fields":[{"json":{"trades":[{"notable_trades":[{"party":"Republican","amount":100001,"stock_or_asset":"PHILADELPHIA PA AUTH FOR INDL DEV CITY","transaction_date":"2025-06-23","congress_member_name":"David McCormick"},{"party":"Republican","amount":250001,"stock_or_asset":"HATBORO HORSHAM PA SCH DIST GO","transaction_date":"2025-06-23","congress_member_name":"David McCormick"},{"party":"Republican","amount":250001,"stock_or_asset":"PITTSBURGH PA GO","transaction_date":"2025-06-02","congress_member_name":"David McCormick"},{"party":"Republican","amount":500001,"stock_or_asset":"Oklahoma St Wtr Res Brd Revolving Fund Revenue Bond","transaction_date":"2025-06-04","congress_member_name":"Rick Scott"},{"party":"Democratic","amount":500001,"stock_or_asset":"AAPL","transaction_date":"2025-06-22","congress_member_name":"Cleo Fields"},{"party":"Democratic","amount":250001,"stock_or_asset":"AMZN","transaction_date":"2025-06-22","congress_member_name":"Cleo Fields"},{"party":"Democratic","amount":250001,"stock_or_asset":"MSFT","transaction_date":"2025-06-22","congress_member_name":"Cleo Fields"},{"party":"House / D","amount":50000,"stock_or_asset":"GOOGL","transaction_date":"2025-06-10","congress_member_name":"Ro Khanna"},{"party":"House / R","amount":100000,"stock_or_asset":"GOOGL","transaction_date":"2025-06-22","congress_member_name":"Jefferson Shreve"},{"party":"House / D","amount":50000,"stock_or_asset":"GOOGL","transaction_date":"2025-05-12","congress_member_name":"Ro Khanna"},{"party":"House / R","amount":100000,"stock_or_asset":"GOOGL","transaction_date":"2025-05-12","congress_member_name":"Michael T. McCaul"},{"party":"R","amount":50001,"stock_or_asset":"NEE","transaction_date":"2025-05-12","congress_member_name":"Jefferson Shreve"},{"party":"D","amount":50001,"stock_or_asset":"NEE","transaction_date":"2025-04-23","congress_member_name":"George Whitesides"},{"party":"R","amount":50001,"stock_or_asset":"NEE","transaction_date":"2024-08-20","congress_member_name":"C. Scott Franklin"},{"party":"D","amount":100001,"stock_or_asset":"NEE","transaction_date":"2024-04-19","congress_member_name":"Tina Smith"},{"party":"R","amount":50001,"stock_or_asset":"NEE","transaction_date":"2024-01-11","congress_member_name":"Thomas Macarthur"},{"party":"House / D","amount":100000,"stock_or_asset":"AMZN","transaction_date":"2025-06-30","congress_member_name":"Cleo Fields"},{"party":"House / D","amount":100000,"stock_or_asset":"AMZN","transaction_date":"2025-06-25","congress_member_name":"Cleo Fields"},{"party":"House / D","amount":100000,"stock_or_asset":"AMZN","transaction_date":"2025-06-09","congress_member_name":"Cleo Fields"},{"party":"House / D","amount":100000,"stock_or_asset":"AMZN","transaction_date":"2025-06-05","congress_member_name":"Cleo Fields"},{"party":"House / R","amount":250000,"stock_or_asset":"AMZN","transaction_date":"2025-05-12","congress_member_name":"Jefferson Shreve"},{"party":"House / D","amount":250000,"stock_or_asset":"AMZN","transaction_date":"2025-01-14","congress_member_name":"Nancy Pelosi"},{"party":"House / R","amount":50000,"stock_or_asset":"AMZN","transaction_date":"2025-01-09","congress_member_name":"Michael T. McCaul"}]}],"data":"[{\"notable_trades\":[{\"party\":\"Republican\",\"amount\":100001,\"stock_or_asset\":\"PHILADELPHIA PA AUTH FOR INDL DEV CITY\",\"transaction_date\":\"2025-06-23\",\"congress_member_name\":\"David McCormick\"},{\"party\":\"Republican\",\"amount\":250001,\"stock_or_asset\":\"HATBORO HORSHAM PA SCH DIST GO\",\"transaction_date\":\"2025-06-23\",\"congress_member_name\":\"David McCormick\"},{\"party\":\"Republican\",\"amount\":250001,\"stock_or_asset\":\"PITTSBURGH PA GO\",\"transaction_date\":\"2025-06-02\",\"congress_member_name\":\"David McCormick\"},{\"party\":\"Republican\",\"amount\":500001,\"stock_or_asset\":\"Oklahoma St Wtr Res Brd Revolving Fund Revenue Bond\",\"transaction_date\":\"2025-06-04\",\"congress_member_name\":\"Rick Scott\"},{\"party\":\"Democratic\",\"amount\":500001,\"stock_or_asset\":\"AAPL\",\"transaction_date\":\"2025-06-22\",\"congress_member_name\":\"Cleo Fields\"},{\"party\":\"Democratic\",\"amount\":250001,\"stock_or_asset\":\"AMZN\",\"transaction_date\":\"2025-06-22\",\"congress_member_name\":\"Cleo Fields\"},{\"party\":\"Democratic\",\"amount\":250001,\"stock_or_asset\":\"MSFT\",\"transaction_date\":\"2025-06-22\",\"congress_member_name\":\"Cleo Fields\"},{\"party\":\"House / D\",\"amount\":50000,\"stock_or_asset\":\"GOOGL\",\"transaction_date\":\"2025-06-10\",\"congress_member_name\":\"Ro Khanna\"},{\"party\":\"House / R\",\"amount\":100000,\"stock_or_asset\":\"GOOGL\",\"transaction_date\":\"2025-06-22\",\"congress_member_name\":\"Jefferson Shreve\"},{\"party\":\"House / D\",\"amount\":50000,\"stock_or_asset\":\"GOOGL\",\"transaction_date\":\"2025-05-12\",\"congress_member_name\":\"Ro Khanna\"},{\"party\":\"House / R\",\"amount\":100000,\"stock_or_asset\":\"GOOGL\",\"transaction_date\":\"2025-05-12\",\"congress_member_name\":\"Michael T. McCaul\"},{\"party\":\"R\",\"amount\":50001,\"stock_or_asset\":\"NEE\",\"transaction_date\":\"2025-05-12\",\"congress_member_name\":\"Jefferson Shreve\"},{\"party\":\"D\",\"amount\":50001,\"stock_or_asset\":\"NEE\",\"transaction_date\":\"2025-04-23\",\"congress_member_name\":\"George Whitesides\"},{\"party\":\"R\",\"amount\":50001,\"stock_or_asset\":\"NEE\",\"transaction_date\":\"2024-08-20\",\"congress_member_name\":\"C. Scott Franklin\"},{\"party\":\"D\",\"amount\":100001,\"stock_or_asset\":\"NEE\",\"transaction_date\":\"2024-04-19\",\"congress_member_name\":\"Tina Smith\"},{\"party\":\"R\",\"amount\":50001,\"stock_or_asset\":\"NEE\",\"transaction_date\":\"2024-01-11\",\"congress_member_name\":\"Thomas Macarthur\"},{\"party\":\"House / D\",\"amount\":100000,\"stock_or_asset\":\"AMZN\",\"transaction_date\":\"2025-06-30\",\"congress_member_name\":\"Cleo Fields\"},{\"party\":\"House / D\",\"amount\":100000,\"stock_or_asset\":\"AMZN\",\"transaction_date\":\"2025-06-25\",\"congress_member_name\":\"Cleo Fields\"},{\"party\":\"House / D\",\"amount\":100000,\"stock_or_asset\":\"AMZN\",\"transaction_date\":\"2025-06-09\",\"congress_member_name\":\"Cleo Fields\"},{\"party\":\"House / D\",\"amount\":100000,\"stock_or_asset\":\"AMZN\",\"transaction_date\":\"2025-06-05\",\"congress_member_name\":\"Cleo Fields\"},{\"party\":\"House / R\",\"amount\":250000,\"stock_or_asset\":\"AMZN\",\"transaction_date\":\"2025-05-12\",\"congress_member_name\":\"Jefferson Shreve\"},{\"party\":\"House / D\",\"amount\":250000,\"stock_or_asset\":\"AMZN\",\"transaction_date\":\"2025-01-14\",\"congress_member_name\":\"Nancy Pelosi\"},{\"party\":\"House / R\",\"amount\":50000,\"stock_or_asset\":\"AMZN\",\"transaction_date\":\"2025-01-09\",\"congress_member_name\":\"Michael T. McCaul\"}]}]"}}]},"versionId":"7eb87168-f7cc-4832-9065-9dfa4e705dff","triggerCount":0,"tags":[]}