workflows/Convert to Resume JSON.json
{"createdAt":"2025-06-18T07:40:41.795Z","updatedAt":"2025-06-18T08:18:40.939Z","id":"pcfQkynRQA3vSIZ7","name":"Convert to Resume JSON","active":false,"isArchived":false,"nodes":[{"parameters":{"modelName":"models/gemini-2.0-flash","options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[540,480],"id":"4bf5a1b9-73d6-47bb-bd9a-e327a619f2a5","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"yw1nLb6Dxz18ENh2","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[180,300],"id":"451201e8-ec59-4442-8251-f8798a74e497","name":"When Executed by Another Workflow"},{"parameters":{"text":"={{ $json.text }}","schemaType":"fromJson","jsonSchemaExample":"{\n  \"name\": \"Name\",\n  \"email\": \"email@email.com\",\n  \"experiences\": [\n    {\n      \"role\": \"Role\",\n      \"company\": \"Company\",\n      \"experience\": [\"Led multiple clinical studies as the Bioinformatics Engineer, managing data from site initiation through FDA submission for various investigational medical devices using Oracle SQL and Python.\"\n      ],\n      \"timeline\": \"Jul 2024 - Present\",\n      \"location\": \"Northridge, CA\"\n    }\n  ],\n  \"education\": [\n    {\n      \"degree\": \"Quantic School of Business, Executive MBA\",\n      \"timeline\": \"Dec 2022\",\n      \"location\": \"Washington, DC\"\n    }\n  ],\n  \"skillset\": {\n    \"languages\": [\"Python\", \"R\", \"SQL\"],\n    \"data_stores\": [\"Google BigQuery\", \"OracleDB\"],\n    \"cloud_providers\": [\"AWS\", \"GCP\", \"Oracle\"]\n  }\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.1,"position":[520,300],"id":"66320979-2d85-4fbe-8543-228f4c44c8f2","name":"Convert to Resume JSON","notesInFlow":true,"notes":"Removes the think tags"}],"connections":{"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Convert to Resume JSON","type":"ai_languageModel","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Convert to Resume JSON","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ecfffc41-d779-4c03-9296-c18a543e289e","triggerCount":0,"tags":[{"createdAt":"2025-06-18T07:42:03.828Z","updatedAt":"2025-06-18T07:42:03.828Z","id":"T6InTBvvMKnRTymq","name":"sub-workflow"}]}