workflows/Cortex Search Document Name.json
{"createdAt":"2025-09-26T09:17:14.795Z","updatedAt":"2025-09-26T09:23:18.686Z","id":"2UkK0kjXeuXa0PVS","name":"Cortex Search Document Name","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"={{ $('Trigger').item.json.snowflake_base_url }}/api/v2/databases/{{ $('Trigger').item.json.snowflake_database }}/schemas/{{ $('Trigger').item.json.snowflake_schema }}/cortex-search-services/{{ $('Trigger').item.json.search_service_name }}:query","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"Content-Type\": \"application/json\"\n}","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"query\": \"{{ $('Trigger').item.json.message }}\",\n    \"columns\": [\n        \"name\",\n        \"identifier\",\n        \"scope\",\n        \"has_dashboard\",\n        \"owner_name\",\n        \"owner_id\",\n        \"folder_name\",\n        \"folder_id\",\n        \"folder_path\"\n    ],\n    \"filter\": {\n      \"@and\": [\n        { \n          \"@not\": {\n            \"@eq\": {\n                \"scope\": \"restricted\"\n            }\n          }\n        },\n        { \n          \"@eq\": {\n              \"has_dashboard\": \"true\"\n          }\n        }\n      ]\n    },\n    \"limit\": 3\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,0],"id":"d9232039-659e-4878-8af5-8e1f9c884337","name":"Cortex Document Name Search","credentials":{"httpBearerAuth":{"id":"PnKZCKVe26AxmdDj","name":"Snowflake API"}}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"output\": {{ $json.results.toJsonString() }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,0],"id":"0f835271-5b78-4646-9c9b-1cc6ed3e2bc9","name":"Extract only results"},{"parameters":{"workflowId":{"__rl":true,"value":"TolmVjtkOdfJXQ54","mode":"list","cachedResultUrl":"/workflow/TolmVjtkOdfJXQ54","cachedResultName":"Rename Document Keys"},"workflowInputs":{"mappingMode":"defineBelow","value":{"documents":"={{ $json.output }}"},"matchingColumns":["documents"],"schema":[{"id":"documents","displayName":"documents","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[640,0],"id":"2e321d4a-15b0-40d4-96e5-e19ea66b5b5c","name":"Rename Document Keys"},{"parameters":{"workflowInputs":{"values":[{"name":"message"},{"name":"snowflake_base_url"},{"name":"snowflake_database"},{"name":"snowflake_schema"},{"name":"search_service_name"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"241825e0-8a11-4e41-8263-4f69b22f031a","name":"Trigger"}],"connections":{"Cortex Document Name Search":{"main":[[{"node":"Extract only results","type":"main","index":0}]]},"Extract only results":{"main":[[{"node":"Rename Document Keys","type":"main","index":0}]]},"Trigger":{"main":[[{"node":"Cortex Document Name Search","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Trigger":[{"json":{"message":"customer daily ingest volume, gigabyte, terabyte, analytics dashboard","snowflake_base_url":"https://ml16699-hya89079.snowflakecomputing.com","snowflake_database":"ANALYTICS","snowflake_schema":"OMNI","search_service_name":"omni_documents_search_service"}}]},"versionId":"5c133183-3e45-4030-9714-21c7e5050eba","triggerCount":0,"shared":[{"createdAt":"2025-09-26T09:17:14.795Z","updatedAt":"2025-09-26T09:17:14.795Z","role":"workflow:owner","workflowId":"2UkK0kjXeuXa0PVS","projectId":"w7JTueqTYNrmBYZn"}],"tags":[{"createdAt":"2025-09-23T07:33:31.958Z","updatedAt":"2025-09-23T07:33:31.958Z","id":"iQwJzKyyyBwW6Yxk","name":"subworkflow"}]}