workflows/Daily_AI_News.json
{
  "updatedAt": "2025-11-15T22:17:29.000Z",
  "createdAt": "2025-11-15T20:45:02.369Z",
  "id": "wFn8Ure1vwWwbxQT",
  "name": "Daily_AI_News",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "Search for English AI-related news from the past 48 hours, translate them into Chinese, and organize 5-10 articles for me.\n\nreturn in english\n\n#output in json format only\n{\n  \"title\": \"title\",\n  \"summary\": \"summary\",\n  \"link\": \"link\"\n}"
            }
          ]
        },
        "simplify": true,
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexity",
      "typeVersion": 1,
      "position": [
        -880,
        336
      ],
      "id": "b21c5a7b-8161-4ebf-b1b9-914eaf5433ee",
      "name": "Message a model"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df3fb7c4-c393-45ae-8773-2ec32b952e2f",
              "name": "message",
              "value": "={{ $json.message.parseJson() }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        336
      ],
      "id": "170544e0-3a45-4ac5-9cba-cf483ebd181b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "subject": "={{ $today.format('yyyy-MM-dd')}} [ENG] Daily AI News",
        "emailType": "text",
        "message": "={{ $json.message.map(item => { return \"title : \" + item.title + \"\\n\" + \"summary : \" + item.summary + \"\\n\" + \"link : \" + item.link + \"\\n\\n\" }).join(\"\\n\") }}",
        "options": {
          "senderName": "n8n AI Daily News"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -208,
        336
      ],
      "id": "eed65993-aa16-44b3-843b-9572d19f83e2",
      "name": "Send a message",
      "webhookId": "afd0c522-6026-422f-9e19-92459c1b6fdf"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 35
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1216,
        336
      ],
      "id": "55858d0b-d7cf-4ae0-afda-0e116a9e92a6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "## Email Output\n![](https://st.darrelltw.com/n8n-template-dailynews-eng.png)",
        "height": 720,
        "width": 768
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a00668f3-4133-4b6d-b838-577ba27562d7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Daily Trigger\nTrigger at 9:35 a.m.",
        "height": 256,
        "width": 246,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1280,
        240
      ],
      "id": "92b564af-e5cf-4842-92a0-a8ca20fa8b7b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Perplexity Node\nUse it to find AI news",
        "height": 256,
        "width": 246
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -960,
        240
      ],
      "id": "ea3ba31d-073f-4e5e-95c4-6d9e85a209cf",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Set Field\nParse the JSON from string",
        "height": 256,
        "width": 246,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -624,
        240
      ],
      "id": "daf14feb-3bcc-4175-9877-597360d0b68b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Gmail Node\nSend the gmail to myself",
        "height": 256,
        "width": 246
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -272,
        240
      ],
      "id": "e1e4066f-33cd-4b81-ac75-551d14f741bd",
      "name": "Sticky Note4"
    }
  ],
  "connections": {
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "4aff8738-4147-4fea-9008-2874d7b79b15",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-15T20:45:02.372Z",
      "createdAt": "2025-11-15T20:45:02.372Z",
      "role": "workflow:owner",
      "workflowId": "wFn8Ure1vwWwbxQT",
      "projectId": "2vHf2VxAoKk0WgJE"
    }
  ],
  "tags": []
}