workflows/Get_Email_Attachments.json
{"createdAt":"2025-06-11T20:26:38.406Z","updatedAt":"2025-07-02T22:55:37.538Z","id":"ykM0g56XcKzGPgCM","name":"Get_Email_Attachments","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"50308731-2569-405e-80d1-ca8e93808974","leftValue":"={{ $('When Executed by Another Workflow').item.binary }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[220,0],"id":"db544582-ffbd-4d1e-8bf8-94b788db3b8c","name":"Filter for only emails with attachments","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"4c08d0bf-420d-4769-831d-9bbb44b2d43c","name":"attachments","value":"={{ $('Get a message').item.binary.keys() }}","type":"array"},{"id":"9a50c33e-ac5f-42bb-bd49-8fd05bf66f83","name":"message_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[700,-180],"id":"bf09a54e-9f12-4880-8a01-34b7120bc41b","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"attachments","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[940,-180],"id":"080d0aa3-ac00-4bab-a963-4d26cb31a9b6","name":"Split Out"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"message_id","field2":"=id"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1260,-20],"id":"3732d30d-156d-463a-bb96-92e9f2bb5243","name":"Merge","alwaysOutputData":true},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[440,0],"id":"423bbb48-f72d-4150-b3d6-ec3238033ece","name":"Get a message","webhookId":"41ff8288-ea60-4e80-87d7-b00c53e8a935","retryOnFail":true,"executeOnce":false,"alwaysOutputData":true,"credentials":{"gmailOAuth2":{"id":"4wzsYdMTAIarBZ2G","name":"Gmail - ngrok"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"85c7c84d-340b-44f8-870f-5805a3feaf3b","name":"When Executed by Another Workflow"}],"connections":{"Filter for only emails with attachments":{"main":[[{"node":"Get a message","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Get a message":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"When Executed by Another Workflow":{"main":[[{"node":"Filter for only emails with attachments","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3c01d116-ce96-429d-9e76-d469d425b398","triggerCount":0,"tags":[{"createdAt":"2025-06-18T07:42:03.828Z","updatedAt":"2025-06-18T07:42:03.828Z","id":"T6InTBvvMKnRTymq","name":"sub-workflow"}]}