workflows/Github_Sync.json
{
  "createdAt": "2025-06-24T04:30:54.982Z",
  "updatedAt": "2025-06-24T17:53:19.841Z",
  "id": "JBYwaVTqakxcjeHE",
  "name": "Github_Sync",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "18dc3ecc-c1c7-4197-9268-3898636323bc",
              "name": "github_owner",
              "type": "string",
              "value": "nathankwok"
            },
            {
              "id": "b3778554-4200-4e51-842a-dfca05be4f85",
              "name": "repo_name",
              "type": "string",
              "value": "n8n_workflows"
            }
          ]
        },
        "options": {}
      },
      "id": "026c1568-3ea5-4be5-aa0d-8234a8d82d16",
      "name": "Define Local Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        400,
        380
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Define Local Variables').item.json.github_owner }}/{{ $('Define Local Variables').item.json.repo_name }}/commits/{{ $('Github Trigger').item.json.body.after }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "459e9d4e-1e34-4780-8627-370f6d60a789",
      "name": "Fetch merged commit details via GitHub API",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        840,
        380
      ],
      "typeVersion": 4.2,
      "credentials": {
        "githubApi": {
          "id": "KBH9KG8I0VZ6x3LD",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "id": "c5600d7a-6611-4aad-a8e1-0582b456e580",
      "name": "Get files changes details",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1060,
        380
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "cd4529cc-cf44-4fd9-aa27-49a5557a40ca",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "modified"
            }
          ]
        },
        "options": {}
      },
      "id": "3251b6b8-5884-4732-85fa-7858a623d4c3",
      "name": "Filter modified workflows",
      "type": "n8n-nodes-base.filter",
      "position": [
        1280,
        280
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b4d2e160-478b-45e0-ba5d-ea72c2f6d430",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "added"
            }
          ]
        },
        "options": {}
      },
      "id": "90afa246-3024-4e45-8bbf-3f8d6557b976",
      "name": "Filter created workflows",
      "type": "n8n-nodes-base.filter",
      "position": [
        1280,
        480
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Define Local Variables').item.json.github_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Define Local Variables').item.json.repo_name }}"
        },
        "filePath": "={{ $json.filename }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "26429abb-dcb7-4297-8627-cd72a2d0b307",
      "name": "Fetch workflow content from Git",
      "type": "n8n-nodes-base.github",
      "position": [
        1500,
        480
      ],
      "webhookId": "afd9f010-9707-4778-bc4a-d933198d8727",
      "typeVersion": 1.1,
      "disabled": true
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Define Local Variables').item.json.github_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Define Local Variables').item.json.repo_name }}"
        },
        "filePath": "={{ $json.filename }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "8d39afe8-95b2-40bd-8546-03b7cf633fe4",
      "name": "Fetch workflow content from Git1",
      "type": "n8n-nodes-base.github",
      "position": [
        1500,
        280
      ],
      "webhookId": "afd9f010-9707-4778-bc4a-d933198d8727",
      "typeVersion": 1.1,
      "credentials": {
        "githubApi": {
          "id": "KBH9KG8I0VZ6x3LD",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{  $json.content.base64Decode() }}",
        "options": {}
      },
      "id": "93ea1179-038b-4531-be83-8a08167ec8eb",
      "name": "Decode workflow content to json",
      "type": "n8n-nodes-base.set",
      "position": [
        1720,
        280
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{  $json.content.base64Decode() }}",
        "options": {}
      },
      "id": "7325ced5-c31f-415b-8418-8e153cefebb8",
      "name": "Decode workflow content to json1",
      "type": "n8n-nodes-base.set",
      "position": [
        1720,
        480
      ],
      "typeVersion": 3.4,
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "workflowObject": "={{ $json.toJsonString() }}",
        "requestOptions": {}
      },
      "id": "a3ad91c6-44c2-487f-b6d4-87f042d79c0c",
      "name": "Update workflow in n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1940,
        280
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "RqX64FhD5jWjRPpF",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "workflowObject": "={{ $json.toJsonString()  }}",
        "requestOptions": {}
      },
      "id": "c8a7a5a9-46db-4071-aeee-babf3a9786bf",
      "name": "Create new workflow in n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1940,
        480
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Setup\n\n1. **Connect GitHub**: Use the `GitHub Trigger` node and configure GitHub API credentials.\nNote: I'd recommended to use *GitHub PAT (Personal Access Token) classic* with `repo` and `admin:repo_hook` permission scopes enabled.\n2. **Connect n8n API**: Provide your n8n API credentials in the `n8n` nodes. - [Check this doc](https://docs.n8n.io/api/authentication/)\n3. **Set repository variables**: Update `github_owner` and `repo_name` in the **Define Local Variables** node.\n4. **Enable webhook**: Make sure your GitHub repository has a webhook for `pull_request` events pointing to this workflow.",
        "height": 320,
        "width": 420
      },
      "id": "703d9321-c9ba-48b3-bbcb-044d2ba807fb",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "https://github.com/nathankwok",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_workflows",
          "mode": "list",
          "cachedResultName": "n8n_workflows",
          "cachedResultUrl": "https://github.com/nathankwok/n8n_workflows"
        },
        "events": [
          "push"
        ],
        "options": {
          "insecureSSL": true
        }
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        180,
        380
      ],
      "id": "80c2bf45-1681-4960-bb0d-b9f1d8be37ee",
      "name": "Github Trigger",
      "webhookId": "e0ce3b2a-9e8e-4e06-9d36-9860bbdd8f77",
      "notesInFlow": true,
      "credentials": {
        "githubApi": {
          "id": "KBH9KG8I0VZ6x3LD",
          "name": "GitHub account"
        }
      },
      "notes": "On push to n8n_workflows"
    },
    {
      "parameters": {
        "content": "Check if file change is workflow and filter for workflow files"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        580,
        160
      ],
      "id": "d68221d8-ce39-4e67-b30a-0e90a369ba4b",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "Define Local Variables": {
      "main": [
        [
          {
            "node": "Fetch merged commit details via GitHub API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter created workflows": {
      "main": [
        [
          {
            "node": "Fetch workflow content from Git",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter modified workflows": {
      "main": [
        [
          {
            "node": "Fetch workflow content from Git1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get files changes details": {
      "main": [
        [
          {
            "node": "Filter modified workflows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter created workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode workflow content to json": {
      "main": [
        [
          {
            "node": "Update workflow in n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch workflow content from Git": {
      "main": [
        [
          {
            "node": "Decode workflow content to json1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode workflow content to json1": {
      "main": [
        [
          {
            "node": "Create new workflow in n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch workflow content from Git1": {
      "main": [
        [
          {
            "node": "Decode workflow content to json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch merged commit details via GitHub API": {
      "main": [
        [
          {
            "node": "Get files changes details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Github Trigger": {
      "main": [
        [
          {
            "node": "Define Local Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Github Trigger": [
      {
        "json": {
          "body": {
            "ref": "refs/heads/main",
            "before": "692d14a1e11d9fe86b4a19c56a66507e2e94142e",
            "after": "c26a901ba447e40ba7f875e0fbb221c198e5524b",
            "repository": {
              "id": 1002831155,
              "node_id": "R_kgDOO8X9Mw",
              "name": "n8n_workflows",
              "full_name": "nathankwok/n8n_workflows",
              "private": false,
              "owner": {
                "name": "nathankwok",
                "email": "2602602+nathankwok@users.noreply.github.com",
                "login": "nathankwok",
                "id": 2602602,
                "node_id": "MDQ6VXNlcjI2MDI2MDI=",
                "avatar_url": "https://avatars.githubusercontent.com/u/2602602?v=4",
                "gravatar_id": "",
                "url": "https://api.github.com/users/nathankwok",
                "html_url": "https://github.com/nathankwok",
                "followers_url": "https://api.github.com/users/nathankwok/followers",
                "following_url": "https://api.github.com/users/nathankwok/following{/other_user}",
                "gists_url": "https://api.github.com/users/nathankwok/gists{/gist_id}",
                "starred_url": "https://api.github.com/users/nathankwok/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/users/nathankwok/subscriptions",
                "organizations_url": "https://api.github.com/users/nathankwok/orgs",
                "repos_url": "https://api.github.com/users/nathankwok/repos",
                "events_url": "https://api.github.com/users/nathankwok/events{/privacy}",
                "received_events_url": "https://api.github.com/users/nathankwok/received_events",
                "type": "User",
                "user_view_type": "public",
                "site_admin": false
              },
              "html_url": "https://github.com/nathankwok/n8n_workflows",
              "description": null,
              "fork": false,
              "url": "https://api.github.com/repos/nathankwok/n8n_workflows",
              "forks_url": "https://api.github.com/repos/nathankwok/n8n_workflows/forks",
              "keys_url": "https://api.github.com/repos/nathankwok/n8n_workflows/keys{/key_id}",
              "collaborators_url": "https://api.github.com/repos/nathankwok/n8n_workflows/collaborators{/collaborator}",
              "teams_url": "https://api.github.com/repos/nathankwok/n8n_workflows/teams",
              "hooks_url": "https://api.github.com/repos/nathankwok/n8n_workflows/hooks",
              "issue_events_url": "https://api.github.com/repos/nathankwok/n8n_workflows/issues/events{/number}",
              "events_url": "https://api.github.com/repos/nathankwok/n8n_workflows/events",
              "assignees_url": "https://api.github.com/repos/nathankwok/n8n_workflows/assignees{/user}",
              "branches_url": "https://api.github.com/repos/nathankwok/n8n_workflows/branches{/branch}",
              "tags_url": "https://api.github.com/repos/nathankwok/n8n_workflows/tags",
              "blobs_url": "https://api.github.com/repos/nathankwok/n8n_workflows/git/blobs{/sha}",
              "git_tags_url": "https://api.github.com/repos/nathankwok/n8n_workflows/git/tags{/sha}",
              "git_refs_url": "https://api.github.com/repos/nathankwok/n8n_workflows/git/refs{/sha}",
              "trees_url": "https://api.github.com/repos/nathankwok/n8n_workflows/git/trees{/sha}",
              "statuses_url": "https://api.github.com/repos/nathankwok/n8n_workflows/statuses/{sha}",
              "languages_url": "https://api.github.com/repos/nathankwok/n8n_workflows/languages",
              "stargazers_url": "https://api.github.com/repos/nathankwok/n8n_workflows/stargazers",
              "contributors_url": "https://api.github.com/repos/nathankwok/n8n_workflows/contributors",
              "subscribers_url": "https://api.github.com/repos/nathankwok/n8n_workflows/subscribers",
              "subscription_url": "https://api.github.com/repos/nathankwok/n8n_workflows/subscription",
              "commits_url": "https://api.github.com/repos/nathankwok/n8n_workflows/commits{/sha}",
              "git_commits_url": "https://api.github.com/repos/nathankwok/n8n_workflows/git/commits{/sha}",
              "comments_url": "https://api.github.com/repos/nathankwok/n8n_workflows/comments{/number}",
              "issue_comment_url": "https://api.github.com/repos/nathankwok/n8n_workflows/issues/comments{/number}",
              "contents_url": "https://api.github.com/repos/nathankwok/n8n_workflows/contents/{+path}",
              "compare_url": "https://api.github.com/repos/nathankwok/n8n_workflows/compare/{base}...{head}",
              "merges_url": "https://api.github.com/repos/nathankwok/n8n_workflows/merges",
              "archive_url": "https://api.github.com/repos/nathankwok/n8n_workflows/{archive_format}{/ref}",
              "downloads_url": "https://api.github.com/repos/nathankwok/n8n_workflows/downloads",
              "issues_url": "https://api.github.com/repos/nathankwok/n8n_workflows/issues{/number}",
              "pulls_url": "https://api.github.com/repos/nathankwok/n8n_workflows/pulls{/number}",
              "milestones_url": "https://api.github.com/repos/nathankwok/n8n_workflows/milestones{/number}",
              "notifications_url": "https://api.github.com/repos/nathankwok/n8n_workflows/notifications{?since,all,participating}",
              "labels_url": "https://api.github.com/repos/nathankwok/n8n_workflows/labels{/name}",
              "releases_url": "https://api.github.com/repos/nathankwok/n8n_workflows/releases{/id}",
              "deployments_url": "https://api.github.com/repos/nathankwok/n8n_workflows/deployments",
              "created_at": 1750060839,
              "updated_at": "2025-06-24T07:56:31Z",
              "pushed_at": 1750752121,
              "git_url": "git://github.com/nathankwok/n8n_workflows.git",
              "ssh_url": "git@github.com:nathankwok/n8n_workflows.git",
              "clone_url": "https://github.com/nathankwok/n8n_workflows.git",
              "svn_url": "https://github.com/nathankwok/n8n_workflows",
              "homepage": null,
              "size": 167,
              "stargazers_count": 0,
              "watchers_count": 0,
              "language": null,
              "has_issues": true,
              "has_projects": true,
              "has_downloads": true,
              "has_wiki": false,
              "has_pages": false,
              "has_discussions": false,
              "forks_count": 0,
              "mirror_url": null,
              "archived": false,
              "disabled": false,
              "open_issues_count": 0,
              "license": {
                "key": "mit",
                "name": "MIT License",
                "spdx_id": "MIT",
                "url": "https://api.github.com/licenses/mit",
                "node_id": "MDc6TGljZW5zZTEz"
              },
              "allow_forking": true,
              "is_template": false,
              "web_commit_signoff_required": false,
              "topics": [],
              "visibility": "public",
              "forks": 0,
              "open_issues": 0,
              "watchers": 0,
              "default_branch": "main",
              "stargazers": 0,
              "master_branch": "main"
            },
            "pusher": {
              "name": "nathankwok",
              "email": "2602602+nathankwok@users.noreply.github.com"
            },
            "sender": {
              "login": "nathankwok",
              "id": 2602602,
              "node_id": "MDQ6VXNlcjI2MDI2MDI=",
              "avatar_url": "https://avatars.githubusercontent.com/u/2602602?v=4",
              "gravatar_id": "",
              "url": "https://api.github.com/users/nathankwok",
              "html_url": "https://github.com/nathankwok",
              "followers_url": "https://api.github.com/users/nathankwok/followers",
              "following_url": "https://api.github.com/users/nathankwok/following{/other_user}",
              "gists_url": "https://api.github.com/users/nathankwok/gists{/gist_id}",
              "starred_url": "https://api.github.com/users/nathankwok/starred{/owner}{/repo}",
              "subscriptions_url": "https://api.github.com/users/nathankwok/subscriptions",
              "organizations_url": "https://api.github.com/users/nathankwok/orgs",
              "repos_url": "https://api.github.com/users/nathankwok/repos",
              "events_url": "https://api.github.com/users/nathankwok/events{/privacy}",
              "received_events_url": "https://api.github.com/users/nathankwok/received_events",
              "type": "User",
              "user_view_type": "public",
              "site_admin": false
            },
            "created": false,
            "deleted": false,
            "forced": false,
            "base_ref": null,
            "compare": "https://github.com/nathankwok/n8n_workflows/compare/692d14a1e11d...c26a901ba447",
            "commits": [
              {
                "id": "c26a901ba447e40ba7f875e0fbb221c198e5524b",
                "tree_id": "0cf2e53b6245e53b456c01c4ae8e0ae915818f61",
                "distinct": true,
                "message": "Rename",
                "timestamp": "2025-06-24T01:01:59-07:00",
                "url": "https://github.com/nathankwok/n8n_workflows/commit/c26a901ba447e40ba7f875e0fbb221c198e5524b",
                "author": {
                  "name": "Nathan K",
                  "email": "nkwok@cribl.io"
                },
                "committer": {
                  "name": "Nathan K",
                  "email": "nkwok@cribl.io"
                },
                "added": [],
                "removed": [],
                "modified": [
                  "workflows/Resume_Analyzer.json"
                ]
              }
            ],
            "head_commit": {
              "id": "c26a901ba447e40ba7f875e0fbb221c198e5524b",
              "tree_id": "0cf2e53b6245e53b456c01c4ae8e0ae915818f61",
              "distinct": true,
              "message": "Rename",
              "timestamp": "2025-06-24T01:01:59-07:00",
              "url": "https://github.com/nathankwok/n8n_workflows/commit/c26a901ba447e40ba7f875e0fbb221c198e5524b",
              "author": {
                "name": "Nathan K",
                "email": "nkwok@cribl.io"
              },
              "committer": {
                "name": "Nathan K",
                "email": "nkwok@cribl.io"
              },
              "added": [],
              "removed": [],
              "modified": [
                "workflows/Resume_Analyzer.json"
              ]
            }
          },
          "headers": {
            "host": "capable-glowworm-adjusted.ngrok-free.app",
            "user-agent": "GitHub-Hookshot/f9b3e2d",
            "content-length": "7668",
            "accept": "*/*",
            "content-type": "application/json",
            "x-forwarded-for": "140.82.115.30",
            "x-forwarded-host": "capable-glowworm-adjusted.ngrok-free.app",
            "x-forwarded-proto": "https",
            "x-github-delivery": "8264cecc-50d1-11f0-8a92-a0c17f5c3197",
            "x-github-event": "push",
            "x-github-hook-id": "554051270",
            "x-github-hook-installation-target-id": "1002831155",
            "x-github-hook-installation-target-type": "repository",
            "accept-encoding": "gzip"
          },
          "query": {}
        }
      }
    ],
    "Fetch workflow content from Git1": [
      {
        "json": {
          "name": "Resume_Analyzer.json",
          "path": "workflows/Resume_Analyzer.json",
          "sha": "7aaa85914e9f5e5c4b97cdb522615986d5c2295b",
          "size": 50151,
          "url": "https://api.github.com/repos/nathankwok/n8n_workflows/contents/workflows/Resume_Analyzer.json?ref=main",
          "html_url": "https://github.com/nathankwok/n8n_workflows/blob/main/workflows/Resume_Analyzer.json",
          "git_url": "https://api.github.com/repos/nathankwok/n8n_workflows/git/blobs/7aaa85914e9f5e5c4b97cdb522615986d5c2295b",
          "download_url": "https://raw.githubusercontent.com/nathankwok/n8n_workflows/main/workflows/Resume_Analyzer.json",
          "type": "file",
          "content": "ewogICJjcmVhdGVkQXQiOiAiMjAyNS0wNi0xN1QwODoyNjozNC45MDhaIiwK\nICAidXBkYXRlZEF0IjogIjIwMjUtMDYtMjRUMDc6Mzk6NTMuMzI4WiIsCiAg\nImlkIjogImxmc0J4R0RGbkdnc2VyeFciLAogICJuYW1lIjogIlJlc3VtZV9B\nbmFseXplciIsCiAgImFjdGl2ZSI6IGZhbHNlLAogICJpc0FyY2hpdmVkIjog\nZmFsc2UsCiAgIm5vZGVzIjogWwogICAgewogICAgICAicGFyYW1ldGVycyI6\nIHsKICAgICAgICAiY29uZGl0aW9ucyI6IHsKICAgICAgICAgICJvcHRpb25z\nIjogewogICAgICAgICAgICAiY2FzZVNlbnNpdGl2ZSI6IHRydWUsCiAgICAg\nICAgICAgICJsZWZ0VmFsdWUiOiAiIiwKICAgICAgICAgICAgInR5cGVWYWxp\nZGF0aW9uIjogInN0cmljdCIsCiAgICAgICAgICAgICJ2ZXJzaW9uIjogMgog\nICAgICAgICAgfSwKICAgICAgICAgICJjb25kaXRpb25zIjogWwogICAgICAg\nICAgICB7CiAgICAgICAgICAgICAgImlkIjogIjUwMzA4NzMxLTI1NjktNDA1\nZS04MGQxLWNhOGU5MzgwODk3NCIsCiAgICAgICAgICAgICAgImxlZnRWYWx1\nZSI6ICI9e3sgJCgncmVzdW1lX2FuYWx5emVyQG1haWxyZWxheWVyLnh5eiBl\nbWFpbHMnKS5pdGVtLmJpbmFyeSB9fSIsCiAgICAgICAgICAgICAgInJpZ2h0\nVmFsdWUiOiAiIiwKICAgICAgICAgICAgICAib3BlcmF0b3IiOiB7CiAgICAg\nICAgICAgICAgICAidHlwZSI6ICJvYmplY3QiLAogICAgICAgICAgICAgICAg\nIm9wZXJhdGlvbiI6ICJleGlzdHMiLAogICAgICAgICAgICAgICAgInNpbmds\nZVZhbHVlIjogdHJ1ZQogICAgICAgICAgICAgIH0KICAgICAgICAgICAgfQog\nICAgICAgICAgXSwKICAgICAgICAgICJjb21iaW5hdG9yIjogImFuZCIKICAg\nICAgICB9LAogICAgICAgICJvcHRpb25zIjoge30KICAgICAgfSwKICAgICAg\nInR5cGUiOiAibjhuLW5vZGVzLWJhc2UuZmlsdGVyIiwKICAgICAgInR5cGVW\nZXJzaW9uIjogMi4yLAogICAgICAicG9zaXRpb24iOiBbCiAgICAgICAgMjAs\nCiAgICAgICAgLTYwCiAgICAgIF0sCiAgICAgICJpZCI6ICIwMjBlMmU1Ni1m\nYzVjLTRiMzctOGY4Mi1hYmEyNzJkYzE3YzIiLAogICAgICAibmFtZSI6ICJG\naWx0ZXIgZm9yIG9ubHkgZW1haWxzIHdpdGggYXR0YWNobWVudHMiCiAgICB9\nLAogICAgewogICAgICAicGFyYW1ldGVycyI6IHsKICAgICAgICAiYXNzaWdu\nbWVudHMiOiB7CiAgICAgICAgICAiYXNzaWdubWVudHMiOiBbCiAgICAgICAg\nICAgIHsKICAgICAgICAgICAgICAiaWQiOiAiNGMwOGQwYmYtNDIwZC00NzY5\nLTgzMWQtOWJiYjQ0YjJkNDNjIiwKICAgICAgICAgICAgICAibmFtZSI6ICJh\ndHRhY2htZW50cyIsCiAgICAgICAgICAgICAgInZhbHVlIjogIj17eyAkKCdH\nbWFpbCBHZXQgTWVzc2FnZScpLml0ZW0uYmluYXJ5LmtleXMoKSB9fSIsCiAg\nICAgICAgICAgICAgInR5cGUiOiAiYXJyYXkiCiAgICAgICAgICAgIH0sCiAg\nICAgICAgICAgIHsKICAgICAgICAgICAgICAiaWQiOiAiOWE1MGMzM2UtYWM1\nZi00MmJiLWJkNDktOGZkMDViZjY2ZjgzIiwKICAgICAgICAgICAgICAibmFt\nZSI6ICJtZXNzYWdlX2lkIiwKICAgICAgICAgICAgICAidmFsdWUiOiAiPXt7\nICRqc29uLmlkIH19IiwKICAgICAgICAgICAgICAidHlwZSI6ICJzdHJpbmci\nCiAgICAgICAgICAgIH0KICAgICAgICAgIF0KICAgICAgICB9LAogICAgICAg\nICJvcHRpb25zIjoge30KICAgICAgfSwKICAgICAgInR5cGUiOiAibjhuLW5v\nZGVzLWJhc2Uuc2V0IiwKICAgICAgInR5cGVWZXJzaW9uIjogMy40LAogICAg\nICAicG9zaXRpb24iOiBbCiAgICAgICAgODgwLAogICAgICAgIC0yMDAKICAg\nICAgXSwKICAgICAgImlkIjogIjJiYmU5OWVkLWU3ZjItNDdiMS1iODUyLTU4\nNWQ2NjkxNTM2ZCIsCiAgICAgICJuYW1lIjogIkVkaXQgRmllbGRzIgogICAg\nfSwKICAgIHsKICAgICAgInBhcmFtZXRlcnMiOiB7CiAgICAgICAgImZpZWxk\nVG9TcGxpdE91dCI6ICJhdHRhY2htZW50cyIsCiAgICAgICAgImluY2x1ZGUi\nOiAiYWxsT3RoZXJGaWVsZHMiLAogICAgICAgICJvcHRpb25zIjoge30KICAg\nICAgfSwKICAgICAgInR5cGUiOiAibjhuLW5vZGVzLWJhc2Uuc3BsaXRPdXQi\nLAogICAgICAidHlwZVZlcnNpb24iOiAxLAogICAgICAicG9zaXRpb24iOiBb\nCiAgICAgICAgMTEyMCwKICAgICAgICAtMjAwCiAgICAgIF0sCiAgICAgICJp\nZCI6ICI4ZTUwYjFhYi0yY2M3LTQ5ZmUtOWZkOS0yYmExZjFmZGMyY2EiLAog\nICAgICAibmFtZSI6ICJTcGxpdCBPdXQiCiAgICB9LAogICAgewogICAgICAi\ncGFyYW1ldGVycyI6IHsKICAgICAgICAibW9kZSI6ICJjb21iaW5lIiwKICAg\nICAgICAiYWR2YW5jZWQiOiB0cnVlLAogICAgICAgICJtZXJnZUJ5RmllbGRz\nIjogewogICAgICAgICAgInZhbHVlcyI6IFsKICAgICAgICAgICAgewogICAg\nICAgICAgICAgICJmaWVsZDEiOiAibWVzc2FnZV9pZCIsCiAgICAgICAgICAg\nICAgImZpZWxkMiI6ICI9aWQiCiAgICAgICAgICAgIH0KICAgICAgICAgIF0K\nICAgICAgICB9LAogICAgICAgICJvcHRpb25zIjoge30KICAgICAgfSwKICAg\nICAgInR5cGUiOiAibjhuLW5vZGVzLWJhc2UubWVyZ2UiLAogICAgICAidHlw\nZVZlcnNpb24iOiAzLjIsCiAgICAgICJwb3NpdGlvbiI6IFsKICAgICAgICAx\nNDYwLAogICAgICAgIC04MAogICAgICBdLAogICAgICAiaWQiOiAiM2QyNWE2\nNGUtZWJhOC00YjY4LTlkMDItMzc1MzA5ZTM3OTJhIiwKICAgICAgIm5hbWUi\nOiAiTWVyZ2UiLAogICAgICAiYWx3YXlzT3V0cHV0RGF0YSI6IHRydWUKICAg\nIH0sCiAgICB7CiAgICAgICJwYXJhbWV0ZXJzIjogewogICAgICAgICJwb2xs\nVGltZXMiOiB7CiAgICAgICAgICAiaXRlbSI6IFsKICAgICAgICAgICAgewog\nICAgICAgICAgICAgICJtb2RlIjogImV2ZXJ5WCIsCiAgICAgICAgICAgICAg\nInZhbHVlIjogNSwKICAgICAgICAgICAgICAidW5pdCI6ICJtaW51dGVzIgog\nICAgICAgICAgICB9CiAgICAgICAgICBdCiAgICAgICAgfSwKICAgICAgICAi\nc2ltcGxlIjogZmFsc2UsCiAgICAgICAgImZpbHRlcnMiOiB7CiAgICAgICAg\nICAicSI6ICI9dG86cmVzdW1lX2FuYWx5emVyQG1haWxyZWxheWVyLnh5eiBP\nUiB0bzpyZXN1bWUtYW5hbHl6ZXJAbWFpbHJlbGF5ZXIueHl6IiwKICAgICAg\nICAgICJyZWFkU3RhdHVzIjogInVucmVhZCIKICAgICAgICB9LAogICAgICAg\nICJvcHRpb25zIjogewogICAgICAgICAgImRvd25sb2FkQXR0YWNobWVudHMi\nOiB0cnVlCiAgICAgICAgfQogICAgICB9LAogICAgICAidHlwZSI6ICJuOG4t\nbm9kZXMtYmFzZS5nbWFpbFRyaWdnZXIiLAogICAgICAidHlwZVZlcnNpb24i\nOiAxLjIsCiAgICAgICJwb3NpdGlvbiI6IFsKICAgICAgICAtMjIwLAogICAg\nICAgIC02MAogICAgICBdLAogICAgICAiaWQiOiAiOWVkYWRkODgtMDE4NS00\nMzNkLWI5ODUtYWEwODA4ODBmNDA1IiwKICAgICAgIm5hbWUiOiAicmVzdW1l\nX2FuYWx5emVyQG1haWxyZWxheWVyLnh5eiBlbWFpbHMiLAogICAgICAiY3Jl\nZGVudGlhbHMiOiB7CiAgICAgICAgImdtYWlsT0F1dGgyIjogewogICAgICAg\nICAgImlkIjogIjZxckRjZGV2VlQ0NUFDZ3MiLAogICAgICAgICAgIm5hbWUi\nOiAiR21haWwgYWNjb3VudCIKICAgICAgICB9CiAgICAgIH0sCiAgICAgICJu\nb3RlcyI6ICJGZXRjaGVzIHVucmVhZCBlbWFpbHMgc2VudCB0byBibWNyZWlt\nYnVyc2VtZW50c0BtYWlscmVsYXllci54eXogKGFuZCBvdGhlciBtaXNzcGVs\nbGluZ3MpIgogICAgfSwKICAgIHsKICAgICAgInBhcmFtZXRlcnMiOiB7CiAg\nICAgICAgImNvbnRlbnQiOiAiPHRhc2s+XG5FeHRyYWN0IHRoZSBjb250ZW50\ncyBvZiB0aGUgcmVzdW1lIGluIHRoZSBQREYgaW50byBhIEpTT04gc3RydWN0\ndXJlZCBvdXRwdXQuXG48L3Rhc2s+XG5cbjxvdXRwdXRfZm9ybWF0PlxuTWFr\nZSBzdXJlIHRvIG91dHB1dCBpbiB0aGUgZm9sbG93aW5nIEpTT04gZm9ybWF0\nOlxue1xuXCJuYW1lXCI6IFwiTmFtZVwiLFxuXCJlbWFpbFwiOiBcImVtYWls\nQGVtYWlsLmNvbVwiLFxuXCJleHBlcmllbmNlc1wiOiBbXG57XG5cInJvbGVc\nIjogXCJSb2xlXCIsXG5cImNvbXBhbnlcIjogXCJDb21wYW55XCIsXG5cImV4\ncGVyaWVuY2VcIjogW1wiTGVkIG11bHRpcGxlIGNsaW5pY2FsIHN0dWRpZXMg\nYXMgdGhlIEJpb2luZm9ybWF0aWNzIEVuZ2luZWVyLCBtYW5hZ2luZyBkYXRh\nIGZyb20gc2l0ZSBpbml0aWF0aW9uIHRocm91Z2ggRkRBXG5zdWJtaXNzaW9u\nIGZvciB2YXJpb3VzIGludmVzdGlnYXRpb25hbCBtZWRpY2FsIGRldmljZXMg\ndXNpbmcgT3JhY2xlIFNRTCBhbmQgUHl0aG9uLlwiXSxcblwidGltZWxpbmVc\nIjogXCJKdWwgMjAyNCAtIFByZXNlbnRcIixcblwibG9jYXRpb25cIjogXCJO\nb3J0aHJpZGdlLCBDQVwiXG59XG5dXG59XG48L291dHB1dF9mb3JtYXQ+XG5c\nblxuXG5cbjwvb3V0cHV0X2Zvcm1hdD5cblxuPGNvbnRleHQ+XG5UaGUgcmVz\ndW1lIHdpbGwgY29udGFpbiB0aGUgcGVyc29uJ3MgbmFtZSBhbmQgY29udGFj\ndCBkZXRhaWxzIGluIHRoZSBoZWFkZXIsIGluIHRoZSBiZWdpbm5pbmcuIFxu\nVGhlbiB0aGVyZSB3aWxsIGJlIGFuIEV4cGVyaWVuY2Ugc2VjdGlvbiB0aGF0\nIGxpc3RzIG91dCB0aGUgZGlmZmVyZW50IGNvbXBhbmllcyBhbmQgcm9sZXMg\ndGhlIHBlcnNvbiBoYXMgYmVlbiBpbiwgYWxvbmcgd2l0aCB0aGUgdGltZWxp\nbmUgZm9yIGVhY2ggcm9sZS4gXG5UaGVuIHRoZXJlIHdpbGwgYmUgYSBzZWN0\naW9uIG9mIEVkdWNhdGlvbi5cblRoZW4gdGhlcmUgd2lsbCBiZSBhIHNlY3Rp\nb24gZm9yIFNraWxsc2V0LlxuPGNvbnRleHQ+XG4vbm9fdGhpbmsiCiAgICAg\nIH0sCiAgICAgICJ0eXBlIjogIm44bi1ub2Rlcy1iYXNlLnN0aWNreU5vdGUi\nLAogICAgICAicG9zaXRpb24iOiBbCiAgICAgICAgMjA4MCwKICAgICAgICAt\nMjgwCiAgICAgIF0sCiAgICAgICJ0eXBlVmVyc2lvbiI6IDEsCiAgICAgICJp\nZCI6ICJjOTExM2VhOC00ZDgxLTQ1ZTAtYjJhNi1iZmQ2NjRjMTg3M2MiLAog\nICAgICAibmFtZSI6ICJTdGlja3kgTm90ZSIKICAgIH0sCiAgICB7CiAgICAg\nICJwYXJhbWV0ZXJzIjogewogICAgICAgICJtb2RlbCI6IHsKICAgICAgICAg\nICJfX3JsIjogdHJ1ZSwKICAgICAgICAgICJ2YWx1ZSI6ICJkZWVwc2Vlay9k\nZWVwc2Vlay1yMS0wNTI4LXF3ZW4zLThiIiwKICAgICAgICAgICJtb2RlIjog\nImxpc3QiLAogICAgICAgICAgImNhY2hlZFJlc3VsdE5hbWUiOiAiZGVlcHNl\nZWsvZGVlcHNlZWstcjEtMDUyOC1xd2VuMy04YiIKICAgICAgICB9LAogICAg\nICAgICJvcHRpb25zIjogewogICAgICAgICAgInRlbXBlcmF0dXJlIjogMC4z\nCiAgICAgICAgfQogICAgICB9LAogICAgICAidHlwZSI6ICJAbjhuL244bi1u\nb2Rlcy1sYW5nY2hhaW4ubG1DaGF0T3BlbkFpIiwKICAgICAgInR5cGVWZXJz\naW9uIjogMS4yLAogICAgICAicG9zaXRpb24iOiBbCiAgICAgICAgOTYwLAog\nICAgICAgIDU2MAogICAgICBdLAogICAgICAiaWQiOiAiZmMwMmY1NGMtZjdj\nNC00Mzk5LTllMTMtMjY1YzljYWU2MzA2IiwKICAgICAgIm5hbWUiOiAiT3Bl\nbkFJIENoYXQgTW9kZWwiLAogICAgICAiY3JlZGVudGlhbHMiOiB7CiAgICAg\nICAgIm9wZW5BaUFwaSI6IHsKICAgICAgICAgICJpZCI6ICJQZ2hnQTFsS2ds\nOXd1RlZEIiwKICAgICAgICAgICJuYW1lIjogIkxNIFN0dWRpbyIKICAgICAg\nICB9CiAgICAgIH0sCiAgICAgICJkaXNhYmxlZCI6IHRydWUKICAgIH0sCiAg\nICB7CiAgICAgICJwYXJhbWV0ZXJzIjogewogICAgICAgICJtb2RlbCI6IHsK\nICAgICAgICAgICJfX3JsIjogdHJ1ZSwKICAgICAgICAgICJ2YWx1ZSI6ICJk\nZWVwc2Vlay9kZWVwc2Vlay1yMS0wNTI4LXF3ZW4zLThiIiwKICAgICAgICAg\nICJtb2RlIjogImxpc3QiLAogICAgICAgICAgImNhY2hlZFJlc3VsdE5hbWUi\nOiAiZGVlcHNlZWsvZGVlcHNlZWstcjEtMDUyOC1xd2VuMy04YiIKICAgICAg\nICB9LAogICAgICAgICJvcHRpb25zIjoge30KICAgICAgfSwKICAgICAgInR5\ncGUiOiAiQG44bi9uOG4tbm9kZXMtbGFuZ2NoYWluLmxtQ2hhdE9wZW5BaSIs\nCiAgICAgICJ0eXBlVmVyc2lvbiI6IDEuMiwKICAgICAgInBvc2l0aW9uIjog\nWwogICAgICAgIDE2ODAsCiAgICAgICAgNTIwCiAgICAgIF0sCiAgICAgICJp\nZCI6ICIxOTMwOWE0Yy0yYmQ4LTRiODctODM1ZS04ZDYyNTg2MGEzMTEiLAog\nICAgICAibmFtZSI6ICJPcGVuQUkgQ2hhdCBNb2RlbDEiLAogICAgICAiY3Jl\nZGVudGlhbHMiOiB7CiAgICAgICAgIm9wZW5BaUFwaSI6IHsKICAgICAgICAg\nICJpZCI6ICJQZ2hnQTFsS2dsOXd1RlZEIiwKICAgICAgICAgICJuYW1lIjog\nIkxNIFN0dWRpbyIKICAgICAgICB9CiAgICAgIH0sCiAgICAgICJkaXNhYmxl\nZCI6IHRydWUKICAgIH0sCiAgICB7CiAgICAgICJwYXJhbWV0ZXJzIjogewog\nICAgICAgICJwcm9tcHRUeXBlIjogImRlZmluZSIsCiAgICAgICAgInRleHQi\nOiAiPTx0YXNrPlxuVXNlIHRoZSBleHRyYWN0ZWQgdGV4dCBmcm9tIGEgcmVz\ndW1lIHRvIHB1dCB0aGUgaW5mb3JtYXRpb24gaW50byBhIEpTT04gc3RydWN0\ndXJlZCBvdXRwdXQuXG48L3Rhc2s+XG5cbjxvdXRwdXRfZm9ybWF0PlxuTWFr\nZSBzdXJlIHRvIG91dHB1dCBpbiB0aGUgZm9sbG93aW5nIEpTT04gZm9ybWF0\nOlxue3sgJCgnR2xvYmFsIFZhcnMnKS5pdGVtLmpzb24ucmVzdW1lX2V4YW1w\nbGUgfX1cbjwvb3V0cHV0X2Zvcm1hdD5cblxuXG5cbjxjb250ZXh0PlxuLSBU\naGUgcmVzdW1lIHRleHQgd2lsbCBjb250YWluIHRoZSBwZXJzb24ncyBuYW1l\nIGFuZCBjb250YWN0IGRldGFpbHMgaW4gdGhlIGhlYWRlciwgaW4gdGhlIGJl\nZ2lubmluZy4gXG4tIFRoZW4gdGhlcmUgd2lsbCBiZSBhbiBFeHBlcmllbmNl\nIHNlY3Rpb24gdGhhdCBsaXN0cyBvdXQgdGhlIGRpZmZlcmVudCBjb21wYW5p\nZXMgYW5kIHJvbGVzIHRoZSBwZXJzb24gaGFzIGJlZW4gaW4sIGFsb25nIHdp\ndGggdGhlIHRpbWVsaW5lIGZvciBlYWNoIHJvbGUuIFxuLSBUaGVuIHRoZXJl\nIHdpbGwgYmUgYSBzZWN0aW9uIG9mIEVkdWNhdGlvbi5cbi0gVGhlbiB0aGVy\nZSB3aWxsIGJlIGEgc2VjdGlvbiBmb3IgU2tpbGxzZXQuXG5cbjxyZXN1bWU+\nXG57eyAkKCdFeHRyYWN0IFJlc3VtZSBDb250ZW50IFN0cmluZyBmcm9tIEZp\nbGUnKS5pdGVtLmpzb24udGV4dCB9fVxuPC9yZXN1bWU+XG5cbjwvY29udGV4\ndD5cblxuL25vX3RoaW5rXG4iLAogICAgICAgICJoYXNPdXRwdXRQYXJzZXIi\nOiB0cnVlLAogICAgICAgICJtZXNzYWdlcyI6IHsKICAgICAgICAgICJtZXNz\nYWdlVmFsdWVzIjogWwogICAgICAgICAgICB7CiAgICAgICAgICAgICAgIm1l\nc3NhZ2UiOiAiPHJvbGU+XG5Zb3UgYXJlIGEgdGV4dCBleHRyYWN0aW5nIGJv\ndCB0aGF0IGV4dHJhY3RzIGluZm9ybWF0aW9uIGFuZCBwdXQgaXQgaW50byBh\nIEpTT04gc3RydWN0dXJlLlxuPC9yb2xlPiIKICAgICAgICAgICAgfQogICAg\nICAgICAgXQogICAgICAgIH0sCiAgICAgICAgImJhdGNoaW5nIjoge30KICAg\nICAgfSwKICAgICAgInR5cGUiOiAiQG44bi9uOG4tbm9kZXMtbGFuZ2NoYWlu\nLmNoYWluTGxtIiwKICAgICAgInR5cGVWZXJzaW9uIjogMS43LAogICAgICAi\ncG9zaXRpb24iOiBbCiAgICAgICAgOTYwLAogICAgICAgIDM0MAogICAgICBd\nLAogICAgICAiaWQiOiAiM2Y3OGNkMzUtNmI0MC00MzVlLWJhYzUtMTBlYTc4\nOWE4YzcyIiwKICAgICAgIm5hbWUiOiAiU3RydWN0dXJlIGZpbGUgY29udGVu\ndHMgaW50byBKU09OIFN0cmluZyIsCiAgICAgICJkaXNhYmxlZCI6IHRydWUK\nICAgIH0sCiAgICB7CiAgICAgICJwYXJhbWV0ZXJzIjogewogICAgICAgICJw\ncm9tcHRUeXBlIjogImRlZmluZSIsCiAgICAgICAgInRleHQiOiAiPTx0YXNr\nPlxuUmV3cml0ZSBzb21lIG9mIHRoZSByZXN1bWUncyBleHBlcmllbmNlcyBh\nbmQgc2tpbGxzZXRzIGluIG9yZGVyIHRvIGZpdCB0aGUgam9iIGRlc2NyaXB0\naW9uLlxuPC90YXNrPlxuXG48b3V0cHV0X2Zvcm1hdD5cbnt7ICQoJ0dsb2Jh\nbCBWYXJzJykuaXRlbS5qc29uLnJlc3VtZV9leGFtcGxlIH19XG48L291dHB1\ndF9mb3JtYXQ+XG5cbjxyZXN1bWU+XG57eyAkKCdBSSBTdHJpbmcgT3V0cHV0\nIHRvIFJlc3VtZSBKU09OJykuaXRlbS5qc29uLm91dHB1dC5leHBlcmllbmNl\ncy5tYXAoaXRlbSA9PiBpdGVtLmV4cGVyaWVuY2UpLmpvaW4oJ1xcbi0gJykg\nfX1cbjwvcmVzdW1lPlxuXG48am9iX2Rlc2NyaXB0aW9uPlxue3sgJCgnR21h\naWwgR2V0IE1lc3NhZ2UnKS5pdGVtLmpzb24udGV4dCB9fVxuPC9qb2JfZGVz\nY3JpcHRpb24+XG5cblxuPGd1aWRlbGluZXM+XG4tIE1ha2Ugc3VyZSB0byBr\nZWVwIHRoZSBuYW1lIGFuZCBlbWFpbCBhbmQgZWR1Y2F0aW9uIHNlY3Rpb24u\nXG4tIEZvciBlYWNoIGV4cGVyaWVuY2UsIG9ubHkgY2hhbmdlIHRoZSBleHBl\ncmllbmNlIGJ1dCBrZWVwIHRoZSB0aW1lbGluZSBhbmQgbG9jYXRpb24gdmFs\ndWVzIHRoZSBzYW1lLlxuLSBFbnN1cmUgdGhhdCA4MCUgb2YgdGhlIGV4cGVy\naWVuY2VzIGhhdmUgcXVhbnRpZmlhYmxlIGltcGFjdC4gVGhlIGltcGFjdCBz\naG91bGQgYWxzbyBoYXZlIGEgYmxlbmQgb2YgYm90aCBzbWFsbCBzY29wZWQg\naW1wYWN0ICh3aXRoaW4gdGhlIHRlYW0pIGFuZCBsYXJnZXIgc2NvcGVkIGlt\ncGFjdCAoc3VjaCBhcyB0byBhIGRlcGFydG1lbnQpLlxuLSBFbnN1cmUgdGhh\ndCB0aGUgZXhwZXJpZW5jZXMgYW5kIHNraWxsc2V0cyBtYXRjaGVzIHdoYXQg\ndGhlIGpvYiBkZXNjcmlwdGlvbiBpcyBsb29raW5nIGZvci5cbi0gSWYgdGhl\nIGV4cGVyaWVuY2UgZG9lcyBub3QgbWF0Y2ggd2hhdCB0aGUgam9iIGRlc2Vj\ncmlwdGlvbiBpcyBsb29raW5nIGZvciwgdGhlbiB3cml0ZSB0aGUgZXhwZXJp\nZW5jZSB0byBkbyBzbywgZXZlbiBpZiBpdCBpcyBtYWRlIHVwLiBIb3dldmVy\nLCBtYWtlIHRoZSBuZXdseSBjcmVhdGVkIGV4cGVyaWVuY2UgYmVsaWV2YWJs\nZS4gXG4tIE1ha2Ugc3VyZSB0aGUgZXhwZXJpZW5jZXMsIHdoZXRoZXIgcmV3\ncml0dGVuIG9sZCBleHBlcmllbmNlcyBvciBuZXdseSBtYWRlIHVwIGV4cGVy\naWVuY2VzLCB1c2VzIHRoZSB0ZWNobm9sb2dpZXMgYW5kIHNraWxscyB0aGUg\nam9iIGRlc2NyaXB0aW9uIGlzIGxvb2tpbmcgZm9yLlxuPC9ndWlkZWxpbmVz\nPlxuXG5cblxuL25vX3RoaW5rIiwKICAgICAgICAiYmF0Y2hpbmciOiB7fQog\nICAgICB9LAogICAgICAidHlwZSI6ICJAbjhuL244bi1ub2Rlcy1sYW5nY2hh\naW4uY2hhaW5MbG0iLAogICAgICAidHlwZVZlcnNpb24iOiAxLjcsCiAgICAg\nICJwb3NpdGlvbiI6IFsKICAgICAgICAxNjYwLAogICAgICAgIDM0MAogICAg\nICBdLAogICAgICAiaWQiOiAiODgwMzI1NWMtYjNjYS00YWJhLTg4N2EtZGE3\nODE3YTY0M2E1IiwKICAgICAgIm5hbWUiOiAiUmV3cml0ZSBSZXN1bWUiLAog\nICAgICAiZGlzYWJsZWQiOiB0cnVlCiAgICB9LAogICAgewogICAgICAicGFy\nYW1ldGVycyI6IHsKICAgICAgICAicHJvbXB0VHlwZSI6ICJkZWZpbmUiLAog\nICAgICAgICJ0ZXh0IjogIjx0YXNrPlxuRXh0cmFjdCB0aGUgY29udGVudHMg\nb2YgdGhlIHJlc3VtZSBpbiB0aGUgUERGIGludG8gYSBKU09OIHN0cnVjdHVy\nZWQgb3V0cHV0LlxuPC90YXNrPlxuXG48b3V0cHV0X2Zvcm1hdD5cbk1ha2Ug\nc3VyZSB0byBvdXRwdXQgaW4gdGhlIGZvbGxvd2luZyBKU09OIGZvcm1hdDpc\nbntcblwibmFtZVwiOiBcIk5hbWVcIixcblwiZW1haWxcIjogXCJlbWFpbEBl\nbWFpbC5jb21cIixcblwiZXhwZXJpZW5jZXNcIjogW1xue1xuXCJyb2xlXCI6\nIFwiUm9sZVwiLFxuXCJjb21wYW55XCI6IFwiQ29tcGFueVwiLFxuXCJleHBl\ncmllbmNlXCI6IFtcIkxlZCBtdWx0aXBsZSBjbGluaWNhbCBzdHVkaWVzIGFz\nIHRoZSBCaW9pbmZvcm1hdGljcyBFbmdpbmVlciwgbWFuYWdpbmcgZGF0YSBm\ncm9tIHNpdGUgaW5pdGlhdGlvbiB0aHJvdWdoIEZEQVxuc3VibWlzc2lvbiBm\nb3IgdmFyaW91cyBpbnZlc3RpZ2F0aW9uYWwgbWVkaWNhbCBkZXZpY2VzIHVz\naW5nIE9yYWNsZSBTUUwgYW5kIFB5dGhvbi5cIl0sXG5cInRpbWVsaW5lXCI6\nIFwiSnVsIDIwMjQgLSBQcmVzZW50XCIsXG5cImxvY2F0aW9uXCI6IFwiTm9y\ndGhyaWRnZSwgQ0FcIlxufVxuXVxufVxuPC9vdXRwdXRfZm9ybWF0PlxuXG5c\nblxuXG48L291dHB1dF9mb3JtYXQ+XG5cbjxjb250ZXh0PlxuVGhlIHJlc3Vt\nZSB3aWxsIGNvbnRhaW4gdGhlIHBlcnNvbidzIG5hbWUgYW5kIGNvbnRhY3Qg\nZGV0YWlscyBpbiB0aGUgaGVhZGVyLCBpbiB0aGUgYmVnaW5uaW5nLiBcblRo\nZW4gdGhlcmUgd2lsbCBiZSBhbiBFeHBlcmllbmNlIHNlY3Rpb24gdGhhdCBs\naXN0cyBvdXQgdGhlIGRpZmZlcmVudCBjb21wYW5pZXMgYW5kIHJvbGVzIHRo\nZSBwZXJzb24gaGFzIGJlZW4gaW4sIGFsb25nIHdpdGggdGhlIHRpbWVsaW5l\nIGZvciBlYWNoIHJvbGUuIFxuVGhlbiB0aGVyZSB3aWxsIGJlIGEgc2VjdGlv\nbiBvZiBFZHVjYXRpb24uXG5UaGVuIHRoZXJlIHdpbGwgYmUgYSBzZWN0aW9u\nIGZvciBTa2lsbHNldC5cbjxjb250ZXh0PlxuXG4iLAogICAgICAgICJtZXNz\nYWdlcyI6IHsKICAgICAgICAgICJtZXNzYWdlVmFsdWVzIjogWwogICAgICAg\nICAgICB7CiAgICAgICAgICAgICAgIm1lc3NhZ2UiOiAiPHJvbGU+XG5Zb3Ug\nYXJlIGEgUERGIGZpbGUgc2Nhbm5lciB0aGF0IHNjYW5zIHJlc3VtZXNcbjwv\ncm9sZT4iCiAgICAgICAgICAgIH0KICAgICAgICAgIF0KICAgICAgICB9LAog\nICAgICAgICJiYXRjaGluZyI6IHt9CiAgICAgIH0sCiAgICAgICJ0eXBlIjog\nIkBuOG4vbjhuLW5vZGVzLWxhbmdjaGFpbi5jaGFpbkxsbSIsCiAgICAgICJ0\neXBlVmVyc2lvbiI6IDEuNywKICAgICAgInBvc2l0aW9uIjogWwogICAgICAg\nIDIxNjAsCiAgICAgICAgLTgwCiAgICAgIF0sCiAgICAgICJpZCI6ICIzMGY3\nMmE5Mi04YjZlLTQ4ZDYtYjJjYS00NDJlYTY5ZDNjMzkiLAogICAgICAibmFt\nZSI6ICJFeHRyYWN0IFBERiBjb250ZW50cyB1c2luZyBMTE0/IiwKICAgICAg\nImRpc2FibGVkIjogdHJ1ZQogICAgfSwKICAgIHsKICAgICAgInBhcmFtZXRl\ncnMiOiB7CiAgICAgICAgIm9wZXJhdGlvbiI6ICJwZGYiLAogICAgICAgICJi\naW5hcnlQcm9wZXJ0eU5hbWUiOiAiYXR0YWNobWVudF8wIiwKICAgICAgICAi\nb3B0aW9ucyI6IHt9CiAgICAgIH0sCiAgICAgICJ0eXBlIjogIm44bi1ub2Rl\ncy1iYXNlLmV4dHJhY3RGcm9tRmlsZSIsCiAgICAgICJ0eXBlVmVyc2lvbiI6\nIDEsCiAgICAgICJwb3NpdGlvbiI6IFsKICAgICAgICA3MDAsCiAgICAgICAg\nMzQwCiAgICAgIF0sCiAgICAgICJpZCI6ICIyYTY2YTUxOS1mZGRhLTRiMDgt\nYTA2MS0zYWQ4MWM2YmFiOTkiLAogICAgICAibmFtZSI6ICJFeHRyYWN0IFJl\nc3VtZSBDb250ZW50IFN0cmluZyBmcm9tIEZpbGUiCiAgICB9LAogICAgewog\nICAgICAicGFyYW1ldGVycyI6IHsKICAgICAgICAid29ya2Zsb3dJZCI6IHsK\nICAgICAgICAgICJfX3JsIjogdHJ1ZSwKICAgICAgICAgICJ2YWx1ZSI6ICJw\nY2ZRa3luUlFBM3ZTSVo3IiwKICAgICAgICAgICJtb2RlIjogImxpc3QiLAog\nICAgICAgICAgImNhY2hlZFJlc3VsdE5hbWUiOiAiQ29udmVydCB0byBSZXN1\nbWUgSlNPTiIKICAgICAgICB9LAogICAgICAgICJ3b3JrZmxvd0lucHV0cyI6\nIHsKICAgICAgICAgICJtYXBwaW5nTW9kZSI6ICJkZWZpbmVCZWxvdyIsCiAg\nICAgICAgICAidmFsdWUiOiB7fSwKICAgICAgICAgICJtYXRjaGluZ0NvbHVt\nbnMiOiBbXSwKICAgICAgICAgICJzY2hlbWEiOiBbXSwKICAgICAgICAgICJh\ndHRlbXB0VG9Db252ZXJ0VHlwZXMiOiBmYWxzZSwKICAgICAgICAgICJjb252\nZXJ0RmllbGRzVG9TdHJpbmciOiB0cnVlCiAgICAgICAgfSwKICAgICAgICAi\nb3B0aW9ucyI6IHt9CiAgICAgIH0sCiAgICAgICJ0eXBlIjogIm44bi1ub2Rl\ncy1iYXNlLmV4ZWN1dGVXb3JrZmxvdyIsCiAgICAgICJ0eXBlVmVyc2lvbiI6\nIDEuMiwKICAgICAgInBvc2l0aW9uIjogWwogICAgICAgIDE0MjAsCiAgICAg\nICAgMzQwCiAgICAgIF0sCiAgICAgICJpZCI6ICIwNzI0ODBhZS04YzI5LTQy\nYzUtYWI3ZC04MTIwNTBmNGYyZjAiLAogICAgICAibmFtZSI6ICJBSSBTdHJp\nbmcgT3V0cHV0IHRvIFJlc3VtZSBKU09OIiwKICAgICAgImRpc2FibGVkIjog\ndHJ1ZQogICAgfSwKICAgIHsKICAgICAgInBhcmFtZXRlcnMiOiB7CiAgICAg\nICAgIm9wZXJhdGlvbiI6ICJnZXQiLAogICAgICAgICJtZXNzYWdlSWQiOiAi\nPXt7ICQoJ0ZpbHRlciBmb3Igb25seSBlbWFpbHMgd2l0aCBhdHRhY2htZW50\ncycpLml0ZW0uanNvbi5pZCB9fSIsCiAgICAgICAgInNpbXBsZSI6IGZhbHNl\nLAogICAgICAgICJvcHRpb25zIjogewogICAgICAgICAgImRvd25sb2FkQXR0\nYWNobWVudHMiOiB0cnVlCiAgICAgICAgfQogICAgICB9LAogICAgICAidHlw\nZSI6ICJuOG4tbm9kZXMtYmFzZS5nbWFpbCIsCiAgICAgICJ0eXBlVmVyc2lv\nbiI6IDIuMSwKICAgICAgInBvc2l0aW9uIjogWwogICAgICAgIDQ0MCwKICAg\nICAgICAtNjAKICAgICAgXSwKICAgICAgImlkIjogImIyYzM2YzNlLWMwYjUt\nNDljZi04NzljLTU5ODE4ZWRhNzU3NCIsCiAgICAgICJuYW1lIjogIkdtYWls\nIEdldCBNZXNzYWdlIiwKICAgICAgIndlYmhvb2tJZCI6ICIxMDhjYmYxMS02\nNzhmLTRlNDktYWQ2ZS1jZGY0MjRhMDE1YTIiLAogICAgICAicmV0cnlPbkZh\naWwiOiB0cnVlLAogICAgICAiZXhlY3V0ZU9uY2UiOiBmYWxzZSwKICAgICAg\nImFsd2F5c091dHB1dERhdGEiOiB0cnVlLAogICAgICAiY3JlZGVudGlhbHMi\nOiB7CiAgICAgICAgImdtYWlsT0F1dGgyIjogewogICAgICAgICAgImlkIjog\nIjZxckRjZGV2VlQ0NUFDZ3MiLAogICAgICAgICAgIm5hbWUiOiAiR21haWwg\nYWNjb3VudCIKICAgICAgICB9CiAgICAgIH0KICAgIH0sCiAgICB7CiAgICAg\nICJwYXJhbWV0ZXJzIjogewogICAgICAgICJ3b3JrZmxvd0lkIjogewogICAg\nICAgICAgIl9fcmwiOiB0cnVlLAogICAgICAgICAgInZhbHVlIjogInBjZlFr\neW5SUUEzdlNJWjciLAogICAgICAgICAgIm1vZGUiOiAibGlzdCIsCiAgICAg\nICAgICAiY2FjaGVkUmVzdWx0TmFtZSI6ICJDb252ZXJ0IHRvIFJlc3VtZSBK\nU09OIgogICAgICAgIH0sCiAgICAgICAgIndvcmtmbG93SW5wdXRzIjogewog\nICAgICAgICAgIm1hcHBpbmdNb2RlIjogImRlZmluZUJlbG93IiwKICAgICAg\nICAgICJ2YWx1ZSI6IHt9LAogICAgICAgICAgIm1hdGNoaW5nQ29sdW1ucyI6\nIFtdLAogICAgICAgICAgInNjaGVtYSI6IFtdLAogICAgICAgICAgImF0dGVt\ncHRUb0NvbnZlcnRUeXBlcyI6IGZhbHNlLAogICAgICAgICAgImNvbnZlcnRG\naWVsZHNUb1N0cmluZyI6IHRydWUKICAgICAgICB9LAogICAgICAgICJvcHRp\nb25zIjogewogICAgICAgICAgIndhaXRGb3JTdWJXb3JrZmxvdyI6IHRydWUK\nICAgICAgICB9CiAgICAgIH0sCiAgICAgICJ0eXBlIjogIm44bi1ub2Rlcy1i\nYXNlLmV4ZWN1dGVXb3JrZmxvdyIsCiAgICAgICJ0eXBlVmVyc2lvbiI6IDEu\nMiwKICAgICAgInBvc2l0aW9uIjogWwogICAgICAgIDIwNDAsCiAgICAgICAg\nMzQwCiAgICAgIF0sCiAgICAgICJpZCI6ICIwOTY2N2Q5Ni0wYzk4LTRmZTIt\nOGVhOC0yNzg1OGY2OWE2MDgiLAogICAgICAibmFtZSI6ICJBSSBTdHJpbmcg\nT3V0cHV0IHRvIFJlc3VtZSBKU09OIDIiLAogICAgICAiZGlzYWJsZWQiOiB0\ncnVlCiAgICB9LAogICAgewogICAgICAicGFyYW1ldGVycyI6IHsKICAgICAg\nICAiY29udGVudCI6ICJ7XG4gIFwicmVzdW1lX2V4YW1wbGVcIjoge1xuICAg\nIFwibmFtZVwiOiBcIk5hbWVcIixcbiAgICBcImVtYWlsXCI6IFwiZW1haWxA\nZW1haWwuY29tXCIsXG4gICAgXCJleHBlcmllbmNlc1wiOiBbXG4gICAgICB7\nXG4gICAgICAgIFwicm9sZVwiOiBcIlJvbGVcIixcbiAgICAgICAgXCJjb21w\nYW55XCI6IFwiQ29tcGFueVwiLFxuICAgICAgICBcImV4cGVyaWVuY2VcIjog\nW1xuICAgICAgICAgIFwiTGVkIG11bHRpcGxlIGNsaW5pY2FsIHN0dWRpZXMg\nYXMgdGhlIEJpb2luZm9ybWF0aWNzIEVuZ2luZWVyLCBtYW5hZ2luZyBkYXRh\nIGZyb20gc2l0ZSBpbml0aWF0aW9uIHRocm91Z2ggRkRBIHN1Ym1pc3Npb24g\nZm9yIHZhcmlvdXMgaW52ZXN0aWdhdGlvbmFsIG1lZGljYWwgZGV2aWNlcyB1\nc2luZyBPcmFjbGUgU1FMIGFuZCBQeXRob24uXCJcbiAgICAgICAgXSxcbiAg\nICAgICAgXCJ0aW1lbGluZVwiOiBcIkp1bCAyMDI0IC0gUHJlc2VudFwiLFxu\nICAgICAgICBcImxvY2F0aW9uXCI6IFwiTm9ydGhyaWRnZSwgQ0FcIlxuICAg\nICAgfVxuICAgIF0sXG4gICAgXCJlZHVjYXRpb25cIjogW1xuICAgICAge1xu\nICAgICAgICBcImRlZ3JlZVwiOiBcIlF1YW50aWMgU2Nob29sIG9mIEJ1c2lu\nZXNzLCBFeGVjdXRpdmUgTUJBXCIsXG4gICAgICAgIFwidGltZWxpbmVcIjog\nXCJEZWMgMjAyMlwiLFxuICAgICAgICBcImxvY2F0aW9uXCI6IFwiV2FzaGlu\nZ3RvbiwgRENcIlxuICAgICAgfVxuICAgIF0sXG4gICAgXCJza2lsbHNldFwi\nOiB7XG4gICAgICBcImxhbmd1YWdlc1wiOiBbXCJQeXRob25cIiwgXCJSXCIs\nIFwiU1FMXCJdLFxuICAgICAgXCJkYXRhX3N0b3Jlc1wiOiBbXCJHb29nbGUg\nQmlnUXVlcnlcIiwgXCJPcmFjbGVEQlwiXSxcbiAgICAgIFwiY2xvdWRfcHJv\ndmlkZXJzXCI6IFtcIkFXU1wiLCBcIkdDUFwiLCBcIk9yYWNsZVwiXVxuICAg\nIH1cbiAgfVxufVxuIgogICAgICB9LAogICAgICAidHlwZSI6ICJuOG4tbm9k\nZXMtYmFzZS5zdGlja3lOb3RlIiwKICAgICAgInBvc2l0aW9uIjogWwogICAg\nICAgIDE2MCwKICAgICAgICAxNjAKICAgICAgXSwKICAgICAgInR5cGVWZXJz\naW9uIjogMSwKICAgICAgImlkIjogIjhiYmQzYjU0LTgwMzgtNGNhOC04MjFi\nLWUzNGNmZDM2NTM5OCIsCiAgICAgICJuYW1lIjogIlN0aWNreSBOb3RlMSIK\nICAgIH0sCiAgICB7CiAgICAgICJwYXJhbWV0ZXJzIjogewogICAgICAgICJj\nb250ZW50IjogIlNwbGl0IGFuZCBtZXJnZSBmb3IgZWFjaCBleHBlcmllbmNl\nLlxuQ3JlYXRlIGEgbmV3IG1hcmtkb3duIGxpc3QgZm9yIGVhY2ggcm9sZSAi\nCiAgICAgIH0sCiAgICAgICJ0eXBlIjogIm44bi1ub2Rlcy1iYXNlLnN0aWNr\neU5vdGUiLAogICAgICAicG9zaXRpb24iOiBbCiAgICAgICAgMTUwMCwKICAg\nICAgICAxODAKICAgICAgXSwKICAgICAgInR5cGVWZXJzaW9uIjogMSwKICAg\nICAgImlkIjogIjcwYjUxNWRlLTY3YWQtNDY2ZS1iZmFjLTg4ZmM5YWE1ODM4\nZiIsCiAgICAgICJuYW1lIjogIlN0aWNreSBOb3RlMiIKICAgIH0sCiAgICB7\nCiAgICAgICJwYXJhbWV0ZXJzIjogewogICAgICAgICJwcm9tcHRUeXBlIjog\nImRlZmluZSIsCiAgICAgICAgInRleHQiOiAicXVlcnkgU25vd2ZsYWtlIGZv\nciBcImhlbGxvXCIiLAogICAgICAgICJvcHRpb25zIjoge30KICAgICAgfSwK\nICAgICAgInR5cGUiOiAiQG44bi9uOG4tbm9kZXMtbGFuZ2NoYWluLmFnZW50\nIiwKICAgICAgInR5cGVWZXJzaW9uIjogMiwKICAgICAgInBvc2l0aW9uIjog\nWwogICAgICAgIDI0NjAsCiAgICAgICAgMzYwCiAgICAgIF0sCiAgICAgICJp\nZCI6ICIxZDBlYjA1MS02MTk3LTQzZGEtOTdjNC0xYTJhOGE0YTNkYTEiLAog\nICAgICAibmFtZSI6ICJBSSBBZ2VudCIsCiAgICAgICJkaXNhYmxlZCI6IHRy\ndWUKICAgIH0sCiAgICB7CiAgICAgICJwYXJhbWV0ZXJzIjogewogICAgICAg\nICJtb2RlbCI6IHsKICAgICAgICAgICJfX3JsIjogdHJ1ZSwKICAgICAgICAg\nICJ2YWx1ZSI6ICJkZWVwc2Vlay9kZWVwc2Vlay1yMS0wNTI4LXF3ZW4zLThi\nIiwKICAgICAgICAgICJtb2RlIjogImxpc3QiLAogICAgICAgICAgImNhY2hl\nZFJlc3VsdE5hbWUiOiAiZGVlcHNlZWsvZGVlcHNlZWstcjEtMDUyOC1xd2Vu\nMy04YiIKICAgICAgICB9LAogICAgICAgICJvcHRpb25zIjoge30KICAgICAg\nfSwKICAgICAgInR5cGUiOiAiQG44bi9uOG4tbm9kZXMtbGFuZ2NoYWluLmxt\nQ2hhdE9wZW5BaSIsCiAgICAgICJ0eXBlVmVyc2lvbiI6IDEuMiwKICAgICAg\nInBvc2l0aW9uIjogWwogICAgICAgIDI0ODAsCiAgICAgICAgODAwCiAgICAg\nIF0sCiAgICAgICJpZCI6ICI0MjMyMTdmNy1kYzJjLTQxOGQtOWY1ZC03YWI4\nNzZjNWFmNzEiLAogICAgICAibmFtZSI6ICJPcGVuQUkgQ2hhdCBNb2RlbDIi\nLAogICAgICAiY3JlZGVudGlhbHMiOiB7CiAgICAgICAgIm9wZW5BaUFwaSI6\nIHsKICAgICAgICAgICJpZCI6ICJQZ2hnQTFsS2dsOXd1RlZEIiwKICAgICAg\nICAgICJuYW1lIjogIkxNIFN0dWRpbyIKICAgICAgICB9CiAgICAgIH0sCiAg\nICAgICJkaXNhYmxlZCI6IHRydWUKICAgIH0sCiAgICB7CiAgICAgICJwYXJh\nbWV0ZXJzIjoge30sCiAgICAgICJ0eXBlIjogIm44bi1ub2Rlcy1tY3AubWNw\nQ2xpZW50VG9vbCIsCiAgICAgICJ0eXBlVmVyc2lvbiI6IDEsCiAgICAgICJw\nb3NpdGlvbiI6IFsKICAgICAgICAyNjAwLAogICAgICAgIDgwMAogICAgICBd\nLAogICAgICAiaWQiOiAiYzZmMDkxODktM2JhYy00OGE3LTk0NmUtZmVjZWM3\nNjIzOTI0IiwKICAgICAgIm5hbWUiOiAiU25vd2ZsYWtlIE1DUCBDbGllbnQi\nLAogICAgICAiY3JlZGVudGlhbHMiOiB7CiAgICAgICAgIm1jcENsaWVudEFw\naSI6IHsKICAgICAgICAgICJpZCI6ICJ3SmliRW1KbjhzQlAwQ2s5IiwKICAg\nICAgICAgICJuYW1lIjogIlNub3dmbGFrZSBNQ1AgKFNURElPKSBhY2NvdW50\nIgogICAgICAgIH0KICAgICAgfSwKICAgICAgImRpc2FibGVkIjogdHJ1ZQog\nICAgfSwKICAgIHsKICAgICAgInBhcmFtZXRlcnMiOiB7CiAgICAgICAgIm1v\nZGVsIjogImdwdC00IiwKICAgICAgICAib3B0aW9ucyI6IHt9CiAgICAgIH0s\nCiAgICAgICJ0eXBlIjogIkBuOG4vbjhuLW5vZGVzLWxhbmdjaGFpbi5sbUNo\nYXRBenVyZU9wZW5BaSIsCiAgICAgICJ0eXBlVmVyc2lvbiI6IDEsCiAgICAg\nICJwb3NpdGlvbiI6IFsKICAgICAgICA4NjAsCiAgICAgICAgMTMyMAogICAg\nICBdLAogICAgICAiaWQiOiAiNzIwNTljODctZDdlYy00MzU0LWI5ODUtZGU1\nOTZmNTI3ZmFkIiwKICAgICAgIm5hbWUiOiAiQXp1cmUgT3BlbkFJIENoYXQg\nTW9kZWwiLAogICAgICAiY3JlZGVudGlhbHMiOiB7CiAgICAgICAgImF6dXJl\nT3BlbkFpQXBpIjogewogICAgICAgICAgImlkIjogImFtZmFJOVlYaVdlc1E0\nZVQiLAogICAgICAgICAgIm5hbWUiOiAiQXp1cmUgT3BlbiBBSSBhY2NvdW50\nIgogICAgICAgIH0KICAgICAgfQogICAgfSwKICAgIHsKICAgICAgInBhcmFt\nZXRlcnMiOiB7CiAgICAgICAgImNvZGUiOiB7CiAgICAgICAgICAiZXhlY3V0\nZSI6IHsKICAgICAgICAgICAgImNvZGUiOiAiY29uc3QgeyBQcm9tcHRUZW1w\nbGF0ZSB9ID0gcmVxdWlyZSgnQGxhbmdjaGFpbi9jb3JlL3Byb21wdHMnKTtc\nblxuY29uc3QgcXVlcnkgPSBgXG48dGFzaz5cblVzZSB0aGUgZXh0cmFjdGVk\nIHRleHQgZnJvbSBhIHJlc3VtZSB0byBwdXQgdGhlIGluZm9ybWF0aW9uIGlu\ndG8gYSBKU09OIHN0cnVjdHVyZWQgb3V0cHV0LlxuPC90YXNrPlxuXG48b3V0\ncHV0X2Zvcm1hdD5cbk1ha2Ugc3VyZSB0byBvdXRwdXQgaW4gdGhlIGZvbGxv\nd2luZyBKU09OIGZvcm1hdDpcbnt7ICQoJ0dsb2JhbHMnKS5pdGVtLmpzb24u\ncmVzdW1lX2V4YW1wbGUgfX1cbjwvb3V0cHV0X2Zvcm1hdD5cblxuXG5cbjxj\nb250ZXh0PlxuLSBUaGUgcmVzdW1lIHRleHQgd2lsbCBjb250YWluIHRoZSBw\nZXJzb24ncyBuYW1lIGFuZCBjb250YWN0IGRldGFpbHMgaW4gdGhlIGhlYWRl\nciwgaW4gdGhlIGJlZ2lubmluZy4gXG4tIFRoZW4gdGhlcmUgd2lsbCBiZSBh\nbiBFeHBlcmllbmNlIHNlY3Rpb24gdGhhdCBsaXN0cyBvdXQgdGhlIGRpZmZl\ncmVudCBjb21wYW5pZXMgYW5kIHJvbGVzIHRoZSBwZXJzb24gaGFzIGJlZW4g\naW4sIGFsb25nIHdpdGggdGhlIHRpbWVsaW5lIGZvciBlYWNoIHJvbGUuIFxu\nLSBUaGVuIHRoZXJlIHdpbGwgYmUgYSBzZWN0aW9uIG9mIEVkdWNhdGlvbi5c\nbi0gVGhlbiB0aGVyZSB3aWxsIGJlIGEgc2VjdGlvbiBmb3IgU2tpbGxzZXQu\nXG5cbjxyZXN1bWU+XG57eyAkKCdFeHRyYWN0IFJlc3VtZSBDb250ZW50IFN0\ncmluZyBmcm9tIEZpbGUnKS5pdGVtLmpzb24udGV4dCB9fVxuPC9yZXN1bWU+\nXG5cbjwvY29udGV4dD5cblxuL25vX3RoaW5rXG5cbmA7XG5jb25zdCBwcm9t\ncHQgPSBQcm9tcHRUZW1wbGF0ZS5mcm9tVGVtcGxhdGUocXVlcnkpO1xuXG4v\nLyBJZiB5b3UgYXJlIGFsbG93aW5nIG1vcmUgdGhhbiBvbmUgbGFuZ3VhZ2Ug\nbW9kZWwgaW5wdXQgY29ubmVjdGlvbiAoLTEgb3Jcbi8vIGFueXRoaW5nIGdy\nZWF0ZXIgdGhhbiAxKSwgZ2V0SW5wdXRDb25uZWN0aW9uRGF0YSByZXR1cm5z\nIGFuIGFycmF5LCBzbyB5b3Vcbi8vIHdpbGwgaGF2ZSB0byBjaGFuZ2UgdGhl\nIGNvZGUgYmVsb3cgaXQgdG8gZGVhbCB3aXRoIHRoYXQuIEZvciBleGFtcGxl\nLCB1c2Vcbi8vIGxsbVswXSBpbiB0aGUgY2hhaW4gZGVmaW5pdGlvblxuXG5j\nb25zdCBsbG0gPSBhd2FpdCB0aGlzLmdldElucHV0Q29ubmVjdGlvbkRhdGEo\nJ2FpX2xhbmd1YWdlTW9kZWwnLCAwKTtcbmxldCBjaGFpbiA9IHByb21wdC5w\naXBlKGxsbSk7XG5jb25zdCBvdXRwdXQgPSBhd2FpdCBjaGFpbi5pbnZva2Uo\nKTtcbnJldHVybiBbIHtqc29uOiB7IG91dHB1dCB9IH0gXTsiCiAgICAgICAg\nICB9CiAgICAgICAgfSwKICAgICAgICAiaW5wdXRzIjogewogICAgICAgICAg\nImlucHV0IjogWwogICAgICAgICAgICB7CiAgICAgICAgICAgICAgInR5cGUi\nOiAibWFpbiIsCiAgICAgICAgICAgICAgInJlcXVpcmVkIjogdHJ1ZQogICAg\nICAgICAgICB9LAogICAgICAgICAgICB7CiAgICAgICAgICAgICAgInR5cGUi\nOiAiYWlfbGFuZ3VhZ2VNb2RlbCIsCiAgICAgICAgICAgICAgInJlcXVpcmVk\nIjogdHJ1ZQogICAgICAgICAgICB9CiAgICAgICAgICBdCiAgICAgICAgfSwK\nICAgICAgICAib3V0cHV0cyI6IHsKICAgICAgICAgICJvdXRwdXQiOiBbCiAg\nICAgICAgICAgIHsKICAgICAgICAgICAgICAidHlwZSI6ICJtYWluIgogICAg\nICAgICAgICB9CiAgICAgICAgICBdCiAgICAgICAgfQogICAgICB9LAogICAg\nICAidHlwZSI6ICJAbjhuL244bi1ub2Rlcy1sYW5nY2hhaW4uY29kZSIsCiAg\nICAgICJ0eXBlVmVyc2lvbiI6IDEsCiAgICAgICJwb3NpdGlvbiI6IFsKICAg\nICAgICA4ODAsCiAgICAgICAgMTA4MAogICAgICBdLAogICAgICAiaWQiOiAi\nOTRmMTVjMTctM2U1Yi00NmFkLTg0ZjItMjQyNzQxYmJkZGNhIiwKICAgICAg\nIm5hbWUiOiAiTGFuZ0NoYWluIENvZGUgMiIKICAgIH0sCiAgICB7CiAgICAg\nICJwYXJhbWV0ZXJzIjogewogICAgICAgICJhc3NpZ25tZW50cyI6IHsKICAg\nICAgICAgICJhc3NpZ25tZW50cyI6IFsKICAgICAgICAgICAgewogICAgICAg\nICAgICAgICJpZCI6ICJiZDI5ZDYxYS1iNzE5LTQ0NDItOTUwOC0xMTliMzhj\nNzM4ZjgiLAogICAgICAgICAgICAgICJuYW1lIjogInJlc3VtZV9leGFtcGxl\nIiwKICAgICAgICAgICAgICAidmFsdWUiOiAieyBcIm5hbWVcIjogXCJOYW1l\nXCIsICAgICBcImVtYWlsXCI6IFwiZW1haWxAZW1haWwuY29tXCIsICAgICBc\nImV4cGVyaWVuY2VzXCI6IFsgICAgICAgeyAgICAgICAgIFwicm9sZVwiOiBc\nIlJvbGVcIiwgICAgICAgICBcImNvbXBhbnlcIjogXCJDb21wYW55XCIsICAg\nICAgICAgXCJleHBlcmllbmNlXCI6IFsgICAgICAgICAgIFwiTGVkIG11bHRp\ncGxlIGNsaW5pY2FsIHN0dWRpZXMgYXMgdGhlIEJpb2luZm9ybWF0aWNzIEVu\nZ2luZWVyLCBtYW5hZ2luZyBkYXRhIGZyb20gc2l0ZSBpbml0aWF0aW9uIHRo\ncm91Z2ggRkRBIHN1Ym1pc3Npb24gZm9yIHZhcmlvdXMgaW52ZXN0aWdhdGlv\nbmFsIG1lZGljYWwgZGV2aWNlcyB1c2luZyBPcmFjbGUgU1FMIGFuZCBQeXRo\nb24uXCIgICAgICAgICBdLCAgICAgICAgIFwidGltZWxpbmVcIjogXCJKdWwg\nMjAyNCAtIFByZXNlbnRcIiwgICAgICAgICBcImxvY2F0aW9uXCI6IFwiTm9y\ndGhyaWRnZSwgQ0FcIiAgICAgICB9ICAgICBdLCAgICAgXCJlZHVjYXRpb25c\nIjogWyAgICAgICB7ICAgICAgICAgXCJkZWdyZWVcIjogXCJRdWFudGljIFNj\naG9vbCBvZiBCdXNpbmVzcywgRXhlY3V0aXZlIE1CQVwiLCAgICAgICAgIFwi\ndGltZWxpbmVcIjogXCJEZWMgMjAyMlwiLCAgICAgICAgIFwibG9jYXRpb25c\nIjogXCJXYXNoaW5ndG9uLCBEQ1wiICAgICAgIH0gICAgIF0sICAgICBcInNr\naWxsc2V0XCI6IHsgICAgICAgXCJsYW5ndWFnZXNcIjogW1wiUHl0aG9uXCIs\nIFwiUlwiLCBcIlNRTFwiXSwgICAgICAgXCJkYXRhX3N0b3Jlc1wiOiBbXCJH\nb29nbGUgQmlnUXVlcnlcIiwgXCJPcmFjbGVEQlwiXSwgICAgICAgXCJjbG91\nZF9wcm92aWRlcnNcIjogW1wiQVdTXCIsIFwiR0NQXCIsIFwiT3JhY2xlXCJd\nIH0gIiwKICAgICAgICAgICAgICAidHlwZSI6ICJzdHJpbmciCiAgICAgICAg\nICAgIH0KICAgICAgICAgIF0KICAgICAgICB9LAogICAgICAgICJvcHRpb25z\nIjoge30KICAgICAgfSwKICAgICAgInR5cGUiOiAibjhuLW5vZGVzLWJhc2Uu\nc2V0IiwKICAgICAgInR5cGVWZXJzaW9uIjogMy40LAogICAgICAicG9zaXRp\nb24iOiBbCiAgICAgICAgMjQwLAogICAgICAgIC02MAogICAgICBdLAogICAg\nICAiaWQiOiAiOGI0MTc4ZDgtZmVmOS00Njc1LTg3MzktNTg3YzJhMTQyYmIw\nIiwKICAgICAgIm5hbWUiOiAiR2xvYmFsIFZhcnMiLAogICAgICAibm90ZXNJ\nbkZsb3ciOiB0cnVlLAogICAgICAibm90ZXMiOiAiU2V0IGFuIGV4YW1wbGUg\ncmVzdW1lIEpTT04gc3RydWN0dXJlIgogICAgfQogIF0sCiAgImNvbm5lY3Rp\nb25zIjogewogICAgIkZpbHRlciBmb3Igb25seSBlbWFpbHMgd2l0aCBhdHRh\nY2htZW50cyI6IHsKICAgICAgIm1haW4iOiBbCiAgICAgICAgWwogICAgICAg\nICAgewogICAgICAgICAgICAibm9kZSI6ICJHbG9iYWwgVmFycyIsCiAgICAg\nICAgICAgICJ0eXBlIjogIm1haW4iLAogICAgICAgICAgICAiaW5kZXgiOiAw\nCiAgICAgICAgICB9CiAgICAgICAgXQogICAgICBdCiAgICB9LAogICAgIkVk\naXQgRmllbGRzIjogewogICAgICAibWFpbiI6IFsKICAgICAgICBbCiAgICAg\nICAgICB7CiAgICAgICAgICAgICJub2RlIjogIlNwbGl0IE91dCIsCiAgICAg\nICAgICAgICJ0eXBlIjogIm1haW4iLAogICAgICAgICAgICAiaW5kZXgiOiAw\nCiAgICAgICAgICB9CiAgICAgICAgXQogICAgICBdCiAgICB9LAogICAgIlNw\nbGl0IE91dCI6IHsKICAgICAgIm1haW4iOiBbCiAgICAgICAgWwogICAgICAg\nICAgewogICAgICAgICAgICAibm9kZSI6ICJNZXJnZSIsCiAgICAgICAgICAg\nICJ0eXBlIjogIm1haW4iLAogICAgICAgICAgICAiaW5kZXgiOiAwCiAgICAg\nICAgICB9CiAgICAgICAgXQogICAgICBdCiAgICB9LAogICAgInJlc3VtZV9h\nbmFseXplckBtYWlscmVsYXllci54eXogZW1haWxzIjogewogICAgICAibWFp\nbiI6IFsKICAgICAgICBbCiAgICAgICAgICB7CiAgICAgICAgICAgICJub2Rl\nIjogIkZpbHRlciBmb3Igb25seSBlbWFpbHMgd2l0aCBhdHRhY2htZW50cyIs\nCiAgICAgICAgICAgICJ0eXBlIjogIm1haW4iLAogICAgICAgICAgICAiaW5k\nZXgiOiAwCiAgICAgICAgICB9CiAgICAgICAgXQogICAgICBdCiAgICB9LAog\nICAgIk1lcmdlIjogewogICAgICAibWFpbiI6IFsKICAgICAgICBbCiAgICAg\nICAgICB7CiAgICAgICAgICAgICJub2RlIjogIkV4dHJhY3QgUERGIGNvbnRl\nbnRzIHVzaW5nIExMTT8iLAogICAgICAgICAgICAidHlwZSI6ICJtYWluIiwK\nICAgICAgICAgICAgImluZGV4IjogMAogICAgICAgICAgfSwKICAgICAgICAg\nIHsKICAgICAgICAgICAgIm5vZGUiOiAiRXh0cmFjdCBSZXN1bWUgQ29udGVu\ndCBTdHJpbmcgZnJvbSBGaWxlIiwKICAgICAgICAgICAgInR5cGUiOiAibWFp\nbiIsCiAgICAgICAgICAgICJpbmRleCI6IDAKICAgICAgICAgIH0KICAgICAg\nICBdCiAgICAgIF0KICAgIH0sCiAgICAiT3BlbkFJIENoYXQgTW9kZWwiOiB7\nCiAgICAgICJhaV9sYW5ndWFnZU1vZGVsIjogWwogICAgICAgIFsKICAgICAg\nICAgIHsKICAgICAgICAgICAgIm5vZGUiOiAiU3RydWN0dXJlIGZpbGUgY29u\ndGVudHMgaW50byBKU09OIFN0cmluZyIsCiAgICAgICAgICAgICJ0eXBlIjog\nImFpX2xhbmd1YWdlTW9kZWwiLAogICAgICAgICAgICAiaW5kZXgiOiAwCiAg\nICAgICAgICB9CiAgICAgICAgXQogICAgICBdCiAgICB9LAogICAgIk9wZW5B\nSSBDaGF0IE1vZGVsMSI6IHsKICAgICAgImFpX2xhbmd1YWdlTW9kZWwiOiBb\nCiAgICAgICAgWwogICAgICAgICAgewogICAgICAgICAgICAibm9kZSI6ICJS\nZXdyaXRlIFJlc3VtZSIsCiAgICAgICAgICAgICJ0eXBlIjogImFpX2xhbmd1\nYWdlTW9kZWwiLAogICAgICAgICAgICAiaW5kZXgiOiAwCiAgICAgICAgICB9\nCiAgICAgICAgXQogICAgICBdCiAgICB9LAogICAgIlN0cnVjdHVyZSBmaWxl\nIGNvbnRlbnRzIGludG8gSlNPTiBTdHJpbmciOiB7CiAgICAgICJtYWluIjog\nWwogICAgICAgIFsKICAgICAgICAgIHsKICAgICAgICAgICAgIm5vZGUiOiAi\nQUkgU3RyaW5nIE91dHB1dCB0byBSZXN1bWUgSlNPTiIsCiAgICAgICAgICAg\nICJ0eXBlIjogIm1haW4iLAogICAgICAgICAgICAiaW5kZXgiOiAwCiAgICAg\nICAgICB9CiAgICAgICAgXQogICAgICBdCiAgICB9LAogICAgIlJld3JpdGUg\nUmVzdW1lIjogewogICAgICAibWFpbiI6IFsKICAgICAgICBbCiAgICAgICAg\nICB7CiAgICAgICAgICAgICJub2RlIjogIkFJIFN0cmluZyBPdXRwdXQgdG8g\nUmVzdW1lIEpTT04gMiIsCiAgICAgICAgICAgICJ0eXBlIjogIm1haW4iLAog\nICAgICAgICAgICAiaW5kZXgiOiAwCiAgICAgICAgICB9CiAgICAgICAgXQog\nICAgICBdCiAgICB9LAogICAgIkV4dHJhY3QgUmVzdW1lIENvbnRlbnQgU3Ry\naW5nIGZyb20gRmlsZSI6IHsKICAgICAgIm1haW4iOiBbCiAgICAgICAgWwog\nICAgICAgICAgewogICAgICAgICAgICAibm9kZSI6ICJTdHJ1Y3R1cmUgZmls\nZSBjb250ZW50cyBpbnRvIEpTT04gU3RyaW5nIiwKICAgICAgICAgICAgInR5\ncGUiOiAibWFpbiIsCiAgICAgICAgICAgICJpbmRleCI6IDAKICAgICAgICAg\nIH0sCiAgICAgICAgICB7CiAgICAgICAgICAgICJub2RlIjogIkxhbmdDaGFp\nbiBDb2RlIiwKICAgICAgICAgICAgInR5cGUiOiAibWFpbiIsCiAgICAgICAg\nICAgICJpbmRleCI6IDAKICAgICAgICAgIH0KICAgICAgICBdCiAgICAgIF0K\nICAgIH0sCiAgICAiQUkgU3RyaW5nIE91dHB1dCB0byBSZXN1bWUgSlNPTiI6\nIHsKICAgICAgIm1haW4iOiBbCiAgICAgICAgWwogICAgICAgICAgewogICAg\nICAgICAgICAibm9kZSI6ICJSZXdyaXRlIFJlc3VtZSIsCiAgICAgICAgICAg\nICJ0eXBlIjogIm1haW4iLAogICAgICAgICAgICAiaW5kZXgiOiAwCiAgICAg\nICAgICB9CiAgICAgICAgXQogICAgICBdCiAgICB9LAogICAgIkdtYWlsIEdl\ndCBNZXNzYWdlIjogewogICAgICAibWFpbiI6IFsKICAgICAgICBbCiAgICAg\nICAgICB7CiAgICAgICAgICAgICJub2RlIjogIkVkaXQgRmllbGRzIiwKICAg\nICAgICAgICAgInR5cGUiOiAibWFpbiIsCiAgICAgICAgICAgICJpbmRleCI6\nIDAKICAgICAgICAgIH0sCiAgICAgICAgICB7CiAgICAgICAgICAgICJub2Rl\nIjogIk1lcmdlIiwKICAgICAgICAgICAgInR5cGUiOiAibWFpbiIsCiAgICAg\nICAgICAgICJpbmRleCI6IDEKICAgICAgICAgIH0KICAgICAgICBdCiAgICAg\nIF0KICAgIH0sCiAgICAiT3BlbkFJIENoYXQgTW9kZWwyIjogewogICAgICAi\nYWlfbGFuZ3VhZ2VNb2RlbCI6IFsKICAgICAgICBbCiAgICAgICAgICB7CiAg\nICAgICAgICAgICJub2RlIjogIkFJIEFnZW50IiwKICAgICAgICAgICAgInR5\ncGUiOiAiYWlfbGFuZ3VhZ2VNb2RlbCIsCiAgICAgICAgICAgICJpbmRleCI6\nIDAKICAgICAgICAgIH0KICAgICAgICBdCiAgICAgIF0KICAgIH0sCiAgICAi\nQUkgU3RyaW5nIE91dHB1dCB0byBSZXN1bWUgSlNPTiAyIjogewogICAgICAi\nbWFpbiI6IFsKICAgICAgICBbCiAgICAgICAgICB7CiAgICAgICAgICAgICJu\nb2RlIjogIkFJIEFnZW50IiwKICAgICAgICAgICAgInR5cGUiOiAibWFpbiIs\nCiAgICAgICAgICAgICJpbmRleCI6IDAKICAgICAgICAgIH0KICAgICAgICBd\nCiAgICAgIF0KICAgIH0sCiAgICAiU25vd2ZsYWtlIE1DUCBDbGllbnQiOiB7\nCiAgICAgICJhaV90b29sIjogWwogICAgICAgIFsKICAgICAgICAgIHsKICAg\nICAgICAgICAgIm5vZGUiOiAiQUkgQWdlbnQiLAogICAgICAgICAgICAidHlw\nZSI6ICJhaV90b29sIiwKICAgICAgICAgICAgImluZGV4IjogMAogICAgICAg\nICAgfQogICAgICAgIF0KICAgICAgXQogICAgfSwKICAgICJBenVyZSBPcGVu\nQUkgQ2hhdCBNb2RlbCI6IHsKICAgICAgImFpX2xhbmd1YWdlTW9kZWwiOiBb\nCiAgICAgICAgWwogICAgICAgICAgewogICAgICAgICAgICAibm9kZSI6ICJM\nYW5nQ2hhaW4gQ29kZSIsCiAgICAgICAgICAgICJ0eXBlIjogImFpX2xhbmd1\nYWdlTW9kZWwiLAogICAgICAgICAgICAiaW5kZXgiOiAwCiAgICAgICAgICB9\nCiAgICAgICAgXQogICAgICBdCiAgICB9LAogICAgIkdsb2JhbCBWYXJzIjog\newogICAgICAibWFpbiI6IFsKICAgICAgICBbCiAgICAgICAgICB7CiAgICAg\nICAgICAgICJub2RlIjogIkdtYWlsIEdldCBNZXNzYWdlIiwKICAgICAgICAg\nICAgInR5cGUiOiAibWFpbiIsCiAgICAgICAgICAgICJpbmRleCI6IDAKICAg\nICAgICAgIH0KICAgICAgICBdCiAgICAgIF0KICAgIH0KICB9LAogICJzZXR0\naW5ncyI6IHsKICAgICJleGVjdXRpb25PcmRlciI6ICJ2MSIKICB9LAogICJz\ndGF0aWNEYXRhIjogbnVsbCwKICAibWV0YSI6IHsKICAgICJ0ZW1wbGF0ZUNy\nZWRzU2V0dXBDb21wbGV0ZWQiOiB0cnVlCiAgfSwKICAicGluRGF0YSI6IHsK\nICAgICJFZGl0IEZpZWxkcyI6IFsKICAgICAgewogICAgICAgICJqc29uIjog\newogICAgICAgICAgImF0dGFjaG1lbnRzIjogWwogICAgICAgICAgICAiYXR0\nYWNobWVudF8wIgogICAgICAgICAgXSwKICAgICAgICAgICJtZXNzYWdlX2lk\nIjogIjE5NzdkMTIzZDcyZTI0ODIiCiAgICAgICAgfQogICAgICB9CiAgICBd\nLAogICAgIlNwbGl0IE91dCI6IFsKICAgICAgewogICAgICAgICJqc29uIjog\newogICAgICAgICAgIm1lc3NhZ2VfaWQiOiAiMTk3N2QxMjNkNzJlMjQ4MiIs\nCiAgICAgICAgICAiYXR0YWNobWVudHMiOiAiYXR0YWNobWVudF8wIgogICAg\nICAgIH0KICAgICAgfQogICAgXSwKICAgICJBSSBTdHJpbmcgT3V0cHV0IHRv\nIFJlc3VtZSBKU09OIjogWwogICAgICB7CiAgICAgICAgImpzb24iOiB7CiAg\nICAgICAgICAib3V0cHV0IjogewogICAgICAgICAgICAibmFtZSI6ICJSaWNo\naWUgQnVpIiwKICAgICAgICAgICAgImVtYWlsIjogInJpY2hpZWJ1aUBnbWFp\nbC5jb20iLAogICAgICAgICAgICAiZXhwZXJpZW5jZXMiOiBbCiAgICAgICAg\nICAgICAgewogICAgICAgICAgICAgICAgInJvbGUiOiAiU2VuaW9yIENsaW5p\nY2FsIEJpb2luZm9ybWF0aWNzIEVuZ2luZWVyIiwKICAgICAgICAgICAgICAg\nICJjb21wYW55IjogIk1lZHRyb25pYyIsCiAgICAgICAgICAgICAgICAiZXhw\nZXJpZW5jZSI6IFsKICAgICAgICAgICAgICAgICAgIkxlZCBtdWx0aXBsZSBj\nbGluaWNhbCBzdHVkaWVzIGFzIHRoZSBCaW9pbmZvcm1hdGljcyBFbmdpbmVl\nciwgbWFuYWdpbmcgZGF0YSBmcm9tIHNpdGUgaW5pdGlhdGlvbiB0aHJvdWdo\nIEZEQSBzdWJtaXNzaW9uIGZvciB2YXJpb3VzIGludmVzdGlnYXRpb25hbCBt\nZWRpY2FsIGRldmljZXMgdXNpbmcgT3JhY2xlIFNRTCBhbmQgUHl0aG9uLiIs\nCiAgICAgICAgICAgICAgICAgICJEZXZlbG9wZWQgYW5kIG1hbmFnZWQgc2V2\nZXJhbCBzdHVkeSBzdXJ2ZWlsbGFuY2UgcmVwb3J0cyBmb3IgY2xpbmljYWwg\ndHJpYWxzIHRvIHJldmlldyBzdWJqZWN0IGNvbXBsaWFuY2UgcmVsYXRlZCB0\nbyB1c2FnZSBvZiBvdXIgR3VhcmRpYW4gQ29ubmVjdCBjb250aW51b3VzIGds\ndWNvc2UgbW9uaXRvciwgNzgwRyBpbnN1bGluIHB1bXBzLCBhbmQgU21hcnQg\nSW5zdWxpbiBQZW4gc3lzdGVtLiIsCiAgICAgICAgICAgICAgICAgICJPcHRp\nbWl6ZWQgU1FMIGFuZCBQeXRob24gZGF0YSBleHRyYWN0aW9uIGFuZCByZXRy\naWV2YWwgcHJvY2Vzc2VzIG9mIGxhcmdlIGRhdGFzZXRzIGJ5IHJlZHVjaW5n\nIHByb2Nlc3NpbmcgdGltZSBieSA4MCUgdGhyb3VnaCBhZHZhbmNlZCBkYXRh\nIHN0cnVjdHVyZXMsIGF1dG9tYXRpb24sIGFuZCBQeXRob24gdGVjaG5pcXVl\ncyB0byBlbmhhbmNlIGFuYWx5dGljYWwgaW5zaWdodHMuIiwKICAgICAgICAg\nICAgICAgICAgIkRlc2lnbmVkIGlubm92YXRpdmUgbWV0aG9kcyBmb3IgcHJv\nY2Vzc2luZyBhbmQgY2xlYW5pbmcgc3RydWN0dXJlZCBhbmQgdW5zdHJ1Y3R1\ncmVkIGNsaW5pY2FsIHN0dWR5IGRhdGEsIGltcHJvdmluZyBkYXRhIGFjY2Vz\nc2liaWxpdHkgYW5kIGFjY2VsZXJhdGluZyBpbmZvcm1lZCBidXNpbmVzcyBk\nZWNpc2lvbi1tYWtpbmcuIiwKICAgICAgICAgICAgICAgICAgIkNvbGxhYm9y\nYXRlZCB3aXRoIGNyb3NzLWZ1bmN0aW9uYWwsIGRhdGEtY2VudHJpYyB0ZWFt\ncyB0byBkZXZlbG9wIHRlY2huaWNhbCBkb2N1bWVudGF0aW9uIGZvciBuZXcg\nZGF0YSBwbGF0Zm9ybSB0b29scywgaW5jcmVhc2luZyB0ZWFtIGVmZmljaWVu\nY3kgYW5kIGFuYWx5dGljYWwgb3V0cHV0IGJ5IDIwJS4iCiAgICAgICAgICAg\nICAgICBdLAogICAgICAgICAgICAgICAgInRpbWVsaW5lIjogIkp1bCAyMDIz\nIOKAkyBQcmVzZW50IiwKICAgICAgICAgICAgICAgICJsb2NhdGlvbiI6ICJO\nb3J0aHJpZGdlLCBDQSIKICAgICAgICAgICAgICB9LAogICAgICAgICAgICAg\nIHsKICAgICAgICAgICAgICAgICJyb2xlIjogIkNsaW5pY2FsIFJlc2VhcmNo\nIFNwZWNpYWxpc3QiLAogICAgICAgICAgICAgICAgImNvbXBhbnkiOiAiTWVk\ndHJvbmljIiwKICAgICAgICAgICAgICAgICJleHBlcmllbmNlIjogWwogICAg\nICAgICAgICAgICAgICAiTGVhZCBhIGNsaW5pY2FsIHJlc2VhcmNoIHRlYW0g\nb2YgNCB0aGF0IGNvbmR1Y3RlZCBpbi1ob3VzZSBub24tc2lnbmlmaWNhbnQg\ncmlzayBjbGluaWNhbCBzdHVkaWVzIG9uIG1lZGljYWwgZGV2aWNlcyBhbmQg\ndGVjaG5vbG9naWVzIGdlYXJlZCB0b3dhcmRzIGRpYWJldGVzIG1hbmFnZW1l\nbnQgYW5kIGdsdWNvc2UgY29udHJvbC4iLAogICAgICAgICAgICAgICAgICAi\nUHJlc2VudGVkIGluc2lnaHQgdG8gdGhlIGNvbXBhbnnigJlzIENFTywgSGVh\nZCBvZiBFbmdpbmVlcmluZywgYW5kIFImRCBmcm9tIHRoZSBtZWRpY2FsIGRl\ndmljZXMgdGVzdGVkIGluIG91ciBjbGluaWMgdW5kZXIgdGhlIGRpcmVjdCBz\ndXBlcnZpc2lvbiBvZiBTZW5pb3IgR2xvYmFsIE1lZGljYWwgQWZmYWlycyBE\naXJlY3Rvci4iLAogICAgICAgICAgICAgICAgICAiQW5hbHl6ZWQgaHVtYW4g\ncGh5c2lvbG9naWNhbCBkYXRhIHNldHMgZnJvbSB0aGUgY29tcGFueeKAmXMg\ncHJvcHJpZXRhcnkgQ29udGludW91cyBHbHVjb3NlIE1vbml0b3Jpbmcgc3lz\ndGVtIHRvIGludmVzdGlnYXRlIGFueSBhbm9tYWxpZXMgYW5kIHRyZW5kcyBv\nbiAxMDAwKyBwYXRpZW50cyB0aHJvdWdob3V0IHRoZSBzdHVkeS4iCiAgICAg\nICAgICAgICAgICBdLAogICAgICAgICAgICAgICAgInRpbWVsaW5lIjogIkp1\nbiAyMDE1IC0gRmViIDIwMTgiLAogICAgICAgICAgICAgICAgImxvY2F0aW9u\nIjogIk5vcnRocmlkZ2UsIENBIgogICAgICAgICAgICAgIH0sCiAgICAgICAg\nICAgICAgewogICAgICAgICAgICAgICAgInJvbGUiOiAiRGF0YSBTY2llbnRp\nc3QiLAogICAgICAgICAgICAgICAgImNvbXBhbnkiOiAiVGhlIFJlYWxlc3Qg\nR3JvdXAsIExMQy4iLAogICAgICAgICAgICAgICAgImV4cGVyaWVuY2UiOiBb\nCiAgICAgICAgICAgICAgICAgICJCdWlsdCBhbmQgbWFpbnRhaW4gYSBiYWNr\nZW5kIGRhdGFiYXNlIHVzaW5nIEFtYXpvbiBSZWRzaGlmdCB2aWEgRVRMIHBp\ncGVsaW5lIHRvIHByb2Nlc3MgMSBtaWxsaW9uIHJvd3Mgb2YgdmVuZG9yIGRh\ndGEgd2l0aCBtdWx0aXBsZSBzY2hlbWFzIGFjcm9zcyAxMCByYXcgQ1NWIGRh\ndGFzZXRzLiIsCiAgICAgICAgICAgICAgICAgICJDb2xsYWJvcmF0ZWQgd2l0\naCBDRU8sIE1hcmtldGluZyBEaXJlY3RvciwgU2FsZXMgdGVhbSBhbmQgb3Ro\nZXIgZXhlY3V0aXZlcyB0byBkcml2ZSBidXNpbmVzcyBkZWNpc2lvbnMgdG8g\naW5jcmVhc2UgcmV2ZW51ZSBieSAzJSB3aXRoaW4gdGhlIG5leHQgcXVhcnRl\nciB3aXRoIG5ldyBpbmNvbWluZyBjbGllbnRlbGUuIiwKICAgICAgICAgICAg\nICAgICAgIk1lbnRvcmluZyBteSB0ZWFtIG9mIDMgZGF0YSBzY2llbnRpc3Rz\nIG9uIGRhdGEgY2xlYW5pbmcsIHByb2Nlc3NpbmcsIGFuZCBmZWF0dXJlIGVu\nZ2luZWVyaW5nIHVzaW5nIFB5dGhvbiB0byBwcm9tb3RlIGJlc3QgcHJhY3Rp\nY2VzIGZvciBpbmNvbWluZyBkYXRhc2V0cy4iCiAgICAgICAgICAgICAgICBd\nLAogICAgICAgICAgICAgICAgInRpbWVsaW5lIjogIkZlYiAyMDE5IOKAkyBK\nYW4gMjAyMCIsCiAgICAgICAgICAgICAgICAibG9jYXRpb24iOiAiTG9zIEFu\nZ2VsZXMsIENBIgogICAgICAgICAgICAgIH0KICAgICAgICAgICAgXSwKICAg\nICAgICAgICAgImVkdWNhdGlvbiI6IFsKICAgICAgICAgICAgICB7CiAgICAg\nICAgICAgICAgICAiZGVncmVlIjogIkV4ZWN1dGl2ZSBNQkEiLAogICAgICAg\nICAgICAgICAgInRpbWVsaW5lIjogIkRlYyAyMDIyIiwKICAgICAgICAgICAg\nICAgICJsb2NhdGlvbiI6ICJXYXNoaW5ndG9uLCBEQyIKICAgICAgICAgICAg\nICB9LAogICAgICAgICAgICAgIHsKICAgICAgICAgICAgICAgICJkZWdyZWUi\nOiAiQi5TLiBNb2xlY3VsYXIgYW5kIENlbGx1bGFyIEJpb2xvZ3kiLAogICAg\nICAgICAgICAgICAgInRpbWVsaW5lIjogIk1heSAyMDE0IiwKICAgICAgICAg\nICAgICAgICJsb2NhdGlvbiI6ICJUdWNzb24sIEFaIgogICAgICAgICAgICAg\nIH0KICAgICAgICAgICAgXSwKICAgICAgICAgICAgInNraWxsc2V0Ijoge30K\nICAgICAgICAgIH0KICAgICAgICB9CiAgICAgIH0KICAgIF0sCiAgICAiU3Ry\ndWN0dXJlIGZpbGUgY29udGVudHMgaW50byBKU09OIFN0cmluZyI6IFsKICAg\nICAgewogICAgICAgICJqc29uIjogewogICAgICAgICAgInRleHQiOiAiPHRo\naW5rPlxuRmlyc3QsIEkgYW0gYSB0ZXh0IGV4dHJhY3RpbmcgYm90IHRoYXQg\ncHV0cyBpbmZvcm1hdGlvbiBpbnRvIGEgSlNPTiBzdHJ1Y3R1cmUuIFRoZSB0\nYXNrIGlzIHRvIHVzZSB0aGUgZXh0cmFjdGVkIHJlc3VtZSB0ZXh0IGFuZCBv\ndXRwdXQgaXQgaW4gYSBzcGVjaWZpYyBKU09OIGZvcm1hdC5cblxuVGhlIG91\ndHB1dCBmb3JtYXQgc3BlY2lmaWVkIGlzOiBbb2JqZWN0IE9iamVjdF0sIGJ1\ndCB0aGF0IHNlZW1zIGluY29tcGxldGUuIExvb2tpbmcgYmFjayBhdCB0aGUg\ndXNlcidzIG1lc3NhZ2UsIGl0IHNheXMgXCJNYWtlIHN1cmUgdG8gb3V0cHV0\nIGluIHRoZSBmb2xsb3dpbmcgSlNPTiBmb3JtYXQ6IFtvYmplY3QgT2JqZWN0\nXVwiLCBidXQgdGhhdCdzIG5vdCBhIHN0YW5kYXJkIEpTT04uIFByb2JhYmx5\nLCBpdCBtZWFucyBJIG5lZWQgdG8gb3V0cHV0IGEgSlNPTiBvYmplY3Qgd2l0\naCB2YXJpb3VzIGZpZWxkcy5cblxuRnJvbSB0aGUgY29udGV4dCwgSSBuZWVk\nIHRvIGV4dHJhY3QgaW5mb3JtYXRpb24gZnJvbSB0aGUgcmVzdW1lIGFuZCBw\ndXQgaXQgaW50byBKU09OLiBUaGUgcmVzdW1lIGhhcyBzZWN0aW9uczogaGVh\nZGVyIHdpdGggbmFtZSBhbmQgY29udGFjdCBkZXRhaWxzLCBFeHBlcmllbmNl\nLCBFZHVjYXRpb24sIFNraWxsc2V0LlxuXG5JIHNob3VsZCBzdHJ1Y3R1cmUg\ndGhlIEpTT04gdG8gaW5jbHVkZTpcblxuLSBIZWFkZXI6IHdpdGggbmFtZSBh\nbmQgY29udGFjdCBkZXRhaWxzXG5cbi0gRXhwZXJpZW5jZTogbGlzdCBvZiBq\nb2JzIG9yIHJvbGVzLCBlYWNoIHdpdGggY29tcGFueSwgbG9jYXRpb24sIHRp\ndGxlLCBhbmQgZGF0ZXNcblxuLSBFZHVjYXRpb246IGRldGFpbHMgYWJvdXQg\nZWR1Y2F0aW9uXG5cbi0gU2tpbGxzZXQ6IGxpc3Qgb2Ygc2tpbGxzIG1lbnRp\nb25lZFxuXG5Ob3csIGxvb2tpbmcgYXQgdGhlIHJlc3VtZSB0ZXh0OlxuXG5I\nZWFkZXI6IFJpY2hpZSBCdWkgd2l0aCBjb250YWN0IGRldGFpbHMuXG5cbkV4\ncGVyaWVuY2Ugc2VjdGlvbiBsaXN0cyBtdWx0aXBsZSByb2xlcywgZWFjaCB3\naXRoIGNvbXBhbnksIGxvY2F0aW9uLCB0aXRsZSwgYW5kIHRpbWVsaW5lLiBT\nb21lIGhhdmUgYnVsbGV0IHBvaW50cyBkZXNjcmliaW5nIHJlc3BvbnNpYmls\naXRpZXMuXG5cbkVkdWNhdGlvbjogb25lIGVudHJ5IHdpdGggZGVncmVlIGFu\nZCBpbnN0aXR1dGlvbi5cblxuU2tpbGxzZXQgc2VjdGlvbiBhdCB0aGUgZW5k\nLlxuXG5JIG5lZWQgdG8gZXh0cmFjdCB0aGlzIGluZm9ybWF0aW9uIGFuZCBw\ndXQgaXQgaW50byBKU09OLlxuXG5UaGUgb3V0cHV0IGZvcm1hdCBzcGVjaWZp\nZWQgaXMgXCJbb2JqZWN0IE9iamVjdF1cIiwgd2hpY2ggbWlnaHQgYmUgYSBw\nbGFjZWhvbGRlciBvciBhbiBlcnJvci4gSW4gc3RhbmRhcmQgSlNPTiwgSSBz\naG91bGQgb3V0cHV0IHNvbWV0aGluZyBsaWtlOlxuXG57XG4gIFwibmFtZVwi\nOiBcIi4uLlwiLFxuICBcImNvbnRhY3RfZGV0YWlsc1wiOiB7Li4ufSxcbiAg\nXCJleHBlcmllbmNlXCI6IFsuLi5dLFxuICBcImVkdWNhdGlvblwiOiBbLi4u\nXSxcbiAgXCJza2lsbHNldFwiOiBbLi4uXSBcbn1cblxuQnV0IHRoZSB1c2Vy\nIHNhaWQgXCJbb2JqZWN0IE9iamVjdF1cIiwgd2hpY2ggY291bGQgbWVhbiBh\nbnkgSlNPTiBvYmplY3QuIEkgc2hvdWxkIG1ha2UgYSBzdHJ1Y3R1cmVkIEpT\nT04uXG5cbkxldCBtZSBvdXRsaW5lIHRoZSBmaWVsZHM6XG5cbjEuICoqbmFt\nZSoqOiBcIlJpY2hpZSBCdWlcIlxuXG4yLiAqKmNvbnRhY3RfZGV0YWlscyoq\nOiBUaGlzIGluY2x1ZGVzIGVtYWlsLCBwaG9uZSwgbG9jYXRpb24sIExpbmtl\nZEluLCBHaXRodWIuIEZyb20gdGhlIGhlYWRlcjogXCJyaWNoaWVidWlAZ21h\naWwuY29tIHwgKDYyNikgNTE4LTIzOTAgfCBMb3MgQW5nZWxlcywgQ0EgfCBM\naW5rZWRJbiB8IEdpdGh1YlwiLiBJdCdzIG5vdCBmdWxseSBzcGVjaWZpZWQ7\nIGl0IGp1c3QgbGlzdHMgdGhlbS4gUHJvYmFibHkgbmVlZCB0byBwYXJzZSB0\naGlzLlxuXG5JbiB0aGUgY29udGFjdCBkZXRhaWxzLCB0aGVyZSdzIFwiTGlu\na2VkSW5cIiBhbmQgXCJHaXRodWJcIiwgYnV0IG5vIFVSTHMgYXJlIHByb3Zp\nZGVkLiBJbiB0aGUgdGV4dCwgaXQncyBcInJpY2hpZWJ1aUBnbWFpbC5jb20g\nfCAoNjI2KSA1MTgtMjM5MCB8IExvcyBBbmdlbGVzLCBDQSB8IExpbmtlZElu\nIHwgR2l0aHViXCIuIEl0IG1pZ2h0IGltcGx5IHRoYXQgTGlua2VkSW4gYW5k\nIEdpdGh1YiBhcmUgc29jaWFsIG1lZGlhIGxpbmtzLCBidXQgbm8gYWN0dWFs\nIFVSTHMuIEkgc2hvdWxkIGluY2x1ZGUgdGhlbSBhcyBpcy5cblxuMy4gKipl\neHBlcmllbmNlKio6IFRoaXMgaGFzIG11bHRpcGxlIGVudHJpZXMuIEVhY2gg\nZW50cnkgaGFzIGNvbXBhbnksIGxvY2F0aW9uLCB0aXRsZSwgc3RhcnQgYW5k\nIGVuZCBkYXRlcywgYW5kIGEgbGlzdCBvZiBidWxsZXQgcG9pbnRzIGZvciBy\nZXNwb25zaWJpbGl0aWVzLlxuXG40LiAqKmVkdWNhdGlvbioqOiBPbmUgb3Ig\nbW9yZSBlbnRyaWVzLiBIZXJlLCB0aGVyZSBhcmUgdHdvOiBvbmUgZnJvbSBE\nZWMgMjAyMiAocHJvYmFibHkgZ3JhZHVhdGlvbiBkYXRlKSBhdCBRdWFudGlj\nIFNjaG9vbCwgYW5kIE1heSAyMDE0IGZyb20gVW5pdmVyc2l0eSBvZiBBcml6\nb25hLlxuXG41LiAqKnNraWxsc2V0Kio6IFRoZSBsYXN0IHNlY3Rpb24sIHdo\naWNoIGxpc3RzIHNraWxscyBsaWtlIFwiU1FMXCIsIFwiUHl0aG9uXCIsIGV0\nYy4sIGJ1dCBpdCdzIG5vdCBkZXRhaWxlZCBpbiB0aGUgcmVzdW1lIHRleHQg\ncHJvdmlkZWQuIEluIHRoZSBjb250ZXh0LCB0aGVyZSdzIGEgXCJTa2lsbHNl\ndFwiIHNlY3Rpb24gYXQgdGhlIGVuZCBvZiB0aGUgcmVzdW1lIHRleHQuXG5c\nbkxvb2tpbmcgYmFjayBhdCB0aGUgdXNlcidzIG1lc3NhZ2UsIHRoZSByZXN1\nbWUgZW5kcyB3aXRoIFwiU2tpbGxzZXRcIiwgYnV0IG5vIGNvbnRlbnQgaXMg\ncHJvdmlkZWQgYWZ0ZXIgdGhhdC4gSW4gdGhlIDxyZXN1bWU+IHRhZywgaXQg\nc3RhcnRzIHdpdGggXCJSaWNoaWUgQnVpXCIgYW5kIGVuZHMgd2l0aCBcIlNr\naWxsc2V0XCIsIGJ1dCB0aGUgdGV4dCBiZWZvcmUgU2tpbGxzZXQgaW5jbHVk\nZXMgZWR1Y2F0aW9uLlxuXG5MZXQncyByZWFkIHRoZSByZXN1bWUgYWdhaW46\nXG5cbltyZXN1bWVdXG5cblJpY2hpZSBCdWlcblxucmljaGllYnVpQGdtYWls\nLmNvbSB8ICg2MjYpIDUxOC0yMzkwIHwgTG9zIEFuZ2VsZXMsIENBIHwgTGlu\na2VkSW4gfCBHaXRodWJcblxuRXhwZXJpZW5jZVxuXG5bZXhwZXJpZW5jZSBk\nZXRhaWxzXVxuXG5FZHVjYXRpb25cblxuRGVjIDIwMjIgUXVhbnRpYyBTY2hv\nb2wgb2YgQnVzaW5lc3MsIEV4ZWN1dGl2ZSBNQkEgV2FzaGluZ3RvbiwgRENc\nblxuTWF5IDIwMTQgVW5pdmVyc2l0eSBvZiBBcml6b25hLCBCLlMuIE1vbGVj\ndWxhciBhbmQgQ2VsbHVsYXIgQmlvbG9neSBUdWNzb24sIEFaXG5cblNraWxs\nc2V0XG5cbjwvcmVzdW1lPlxuXG5JbiB0aGUgXCJFZHVjYXRpb25cIiBzZWN0\naW9uLCBpdCdzIGxpc3RlZCBhczpcblxuRGVjIDIwMjIgUXVhbnRpYyBTY2hv\nb2wgb2YgQnVzaW5lc3MsIEV4ZWN1dGl2ZSBNQkEgV2FzaGluZ3RvbiwgRENc\nblxuTWF5IDIwMTQgVW5pdmVyc2l0eSBvZiBBcml6b25hLCBCLlMuIE1vbGVj\ndWxhciBhbmQgQ2VsbHVsYXIgQmlvbG9neSBUdWNzb24sIEFaXG5cbk5vIGJ1\nbGxldCBwb2ludHMgb3IgZGV0YWlscy5cblxuXCJTa2lsbHNldFwiIHNlY3Rp\nb24gaGFzIG5vIGNvbnRlbnQgaW4gdGhlIHRleHQgcHJvdmlkZWQuIEl0IGp1\nc3Qgc2F5cyBcIlNraWxsc2V0XCIsIHByb2JhYmx5IGV4cGVjdGluZyBhIGxp\nc3QsIGJ1dCBub3RoaW5nIGlzIHdyaXR0ZW4uXG5cbkluIHRoZSBjb250ZXh0\nIGRlc2NyaXB0aW9uOiBcIlRoZW4gdGhlcmUgd2lsbCBiZSBhIHNlY3Rpb24g\nZm9yIFNraWxsc2V0LlwiIEJ1dCBpbiB0aGlzIHJlc3VtZSwgaXQncyBlbXB0\neS5cblxuSSBuZWVkIHRvIGV4dHJhY3Qgd2hhdCdzIHRoZXJlIGFuZCBwdXQg\naW50byBKU09OLlxuXG5Gb3IgdGhlIEpTT04gc3RydWN0dXJlLCBJIHNob3Vs\nZCBoYXZlIGtleXMgZm9yIGVhY2ggcGFydC5cblxuRGVmaW5lIGEgSlNPTiBz\nY2hlbWE6XG5cbntcbiAgXCJuYW1lXCI6IHN0cmluZyxcbiAgXCJjb250YWN0\nX2RldGFpbHNcIjoge1xuICAgIFwiZW1haWxcIjogc3RyaW5nLFxuICAgIFwi\ncGhvbmVcIjogc3RyaW5nLFxuICAgIFwibG9jYXRpb25cIjogc3RyaW5nLFxu\nICAgIFwibGlua2VkaW5cIjogc3RyaW5nIChvciBudWxsIGlmIG5vdCBwcm92\naWRlZCksXG4gICAgXCJnaXRodWJcIjogc3RyaW5nIG9yIG51bGxcbiAgfSxc\nbiAgXCJleHBlcmllbmNlXCI6IFtcbiAgICB7XG4gICAgICBcImNvbXBhbnlc\nIjogc3RyaW5nLFxuICAgICAgXCJsb2NhdGlvblwiOiBzdHJpbmcgKGlmIG1l\nbnRpb25lZCwgZS5nLiwgTm9ydGhyaWRnZSwgQ0EpLFxuICAgICAgXCJ0aXRs\nZVwiOiBzdHJpbmcsXG4gICAgICBcInN0YXJ0X2RhdGVcIjogc3RyaW5nIG9y\nIGRhdGUgb2JqZWN0PyBQcm9iYWJseSBzdHJpbmcgZm9yIHNpbXBsaWNpdHku\nXG4gICAgICBcImVuZF9kYXRlXCI6IHN0cmluZyxcbiAgICAgIFwicmVzcG9u\nc2liaWxpdGllc1wiOiBbYXJyYXkgb2Ygc3RyaW5ncyBvciBidWxsZXQgcG9p\nbnRzXVxuICAgIH1cbiAgXSxcbiAgXCJlZHVjYXRpb25cIjogW1xuICAgIHtc\nbiAgICAgIFwiZGVncmVlXCI6IHN0cmluZyxcbiAgICAgIFwiaW5zdGl0dXRp\nb25cIjogc3RyaW5nLFxuICAgICAgXCJncmFkdWF0aW9uX2RhdGVcIjogc3Ry\naW5nIChvciBzdGFydCBkYXRlLCBhcyBlZHVjYXRpb24gb2Z0ZW4gaGFzIGRh\ndGVzKVxuICAgIH1cbiAgXSxcbiAgXCJza2lsbHNldFwiOiBbYXJyYXkgb2Yg\nc3RyaW5ncyBvciBvYmplY3QsIGJ1dCBzaW5jZSBubyBkZXRhaWxzLCBwZXJo\nYXBzIGFuIGFycmF5XVxufVxuXG5Gb3IgZWR1Y2F0aW9uLCBpbiB0aGlzIGNh\nc2UsIHRoZXJlIGFyZSB0d28gZW50cmllcy5cblxuU2tpbGxzZXQgaXMgZW1w\ndHksIHNvIEkgY2FuIGluY2x1ZGUgYW4gZW1wdHkgYXJyYXkgb3IgbnVsbC5c\nblxuTm93LCBmb3IgdGhlIGV4cGVyaWVuY2U6XG5cbkVhY2ggam9iIGhhcyBj\nb21wYW55IGFuZCBsb2NhdGlvbiBtZW50aW9uZWQuIEZvciBleGFtcGxlOiBc\nIk1lZHRyb25pYyBOb3J0aHJpZGdlLCBDQVwiIOKAkyBzbyBJIGNhbiBzcGxp\ndCBpbnRvIGNvbXBhbnkgYW5kIGxvY2F0aW9uLlxuXG5UaXRsZSBpcyBcIlNl\nbmlvciBDbGluaWNhbCBCaW9pbmZvcm1hdGljcyBFbmdpbmVlclwiLCBldGMu\nXG5cbkRhdGVzOiBcIkp1bCAyMDIzIOKAkyBQcmVzZW50XCIgb3IgXCJKYW4g\nMjAyMCDigJMgSnVsIDIwMjJcIlxuXG5SZXNwb25zaWJpbGl0aWVzIGFyZSB0\naGUgYnVsbGV0IHBvaW50cy5cblxuU2ltaWxhcmx5IGZvciBlZHVjYXRpb246\nIFwiRGVjIDIwMjIgUXVhbnRpYyBTY2hvb2wgb2YgQnVzaW5lc3MsIEV4ZWN1\ndGl2ZSBNQkEgV2FzaGluZ3RvbiwgRENcIiDigJMgc28gZGVncmVlIGlzIFwi\nRXhlY3V0aXZlIE1CQVwiLCBpbnN0aXR1dGlvbiBcIlF1YW50aWMgU2Nob29s\nIG9mIEJ1c2luZXNzXCIsIGdyYWR1YXRpb24gZGF0ZSBcIkRlYyAyMDIyXCIu\nXG5cblwiTWF5IDIwMTQgVW5pdmVyc2l0eSBvZiBBcml6b25hLCBCLlMuIE1v\nbGVjdWxhciBhbmQgQ2VsbHVsYXIgQmlvbG9neSBUdWNzb24sIEFaXCIg4oCT\nIGRlZ3JlZSBcIkIuUy4gTW9sZWN1bGFyIGFuZCBDZWxsdWxhciBCaW9sb2d5\nXCIsIGluc3RpdHV0aW9uIFwiVW5pdmVyc2l0eSBvZiBBcml6b25hXCIsIGxv\nY2F0aW9uIFwiVHVjc29uLCBBWlwiLlxuXG5Gb3Igc2tpbGxzZXQsIHNpbmNl\nIGl0J3Mgbm90IGRldGFpbGVkLCBJJ2xsIGluY2x1ZGUgYW4gZW1wdHkgbGlz\ndC5cblxuTm93LCBmb3IgdGhlIEpTT04gb3V0cHV0LCBJIG5lZWQgdG8gbWFr\nZSBzdXJlIGl0J3MgdmFsaWQgSlNPTi5cblxuVGhlIHVzZXIgbWVudGlvbmVk\nIFwib3V0cHV0IGluIHRoZSBmb2xsb3dpbmcgSlNPTiBmb3JtYXQ6IFtvYmpl\nY3QgT2JqZWN0XVwiLCB3aGljaCBtaWdodCBiZSBhIG1pc3Rha2UuIFByb2Jh\nYmx5LCBJIHNob3VsZCBvdXRwdXQgYSBwcm9wZXIgSlNPTiBvYmplY3QuXG5c\nbkknbGwgYXNzdW1lIHRoZSBmb3JtYXQgaXMgdG8gaGF2ZSBhIHRvcC1sZXZl\nbCBvYmplY3Qgd2l0aCB0aG9zZSBrZXlzLlxuXG5GaW5hbGx5LCBvdXRwdXQg\nb25seSB0aGUgSlNPTiwgbm8gb3RoZXIgdGV4dC5cbjwvdGhpbms+XG57XG4g\nIFwibmFtZVwiOiBcIlJpY2hpZSBCdWlcIixcbiAgXCJjb250YWN0X2RldGFp\nbHNcIjoge1xuICAgIFwiZW1haWxcIjogXCJyaWNoaWVidWlAZ21haWwuY29t\nXCIsXG4gICAgXCJwaG9uZVwiOiBcIig2MjYpIDUxOC0yMzkwXCIsXG4gICAg\nXCJsb2NhdGlvblwiOiBcIkxvcyBBbmdlbGVzLCBDQVwiLFxuICAgIFwibGlu\na2VkaW5cIjogXCJcIixcbiAgICBcImdpdGh1YlwiOiBcIlwiXG4gIH0sXG4g\nIFwiZXhwZXJpZW5jZVwiOiBbXG4gICAge1xuICAgICAgXCJjb21wYW55XCI6\nIFwiTWVkdHJvbmljXCIsXG4gICAgICBcImxvY2F0aW9uXCI6IFwiTm9ydGhy\naWRnZSwgQ0FcIixcbiAgICAgIFwidGl0bGVcIjogXCJTZW5pb3IgQ2xpbmlj\nYWwgQmlvaW5mb3JtYXRpY3MgRW5naW5lZXJcIixcbiAgICAgIFwic3RhcnRf\nZGF0ZVwiOiBcIkp1bCAyMDIzXCIsXG4gICAgICBcImVuZF9kYXRlXCI6IFwi\nUHJlc2VudFwiLFxuICAgICAgXCJyZXNwb25zaWJpbGl0aWVzXCI6IFtcbiAg\nICAgICAgXCJMZWQgbXVsdGlwbGUgY2xpbmljYWwgc3R1ZGllcyBhcyB0aGUg\nQmlvaW5mb3JtYXRpY3MgRW5naW5lZXIsIG1hbmFnaW5nIGRhdGEgZnJvbSBz\naXRlIGluaXRpYXRpb24gdGhyb3VnaCBGREEgc3VibWlzc2lvbiBmb3IgdmFy\naW91cyBpbnZlc3RpZ2F0aW9uYWwgbWVkaWNhbCBkZXZpY2VzIHVzaW5nIE9y\nYWNsZSBTUUwgYW5kIFB5dGhvbi5cIixcbiAgICAgICAgXCJEZXZlbG9wZWQg\nYW5kIG1hbmFnZWQgc2V2ZXJhbCBzdHVkeSBzdXJ2ZWlsbGFuY2UgcmVwb3J0\ncyBmb3IgY2xpbmljYWwgdHJpYWxzIHRvIHJldmlldyBzdWJqZWN0IGNvbXBs\naWFuY2UgcmVsYXRlZCB0byB1c2FnZSBvZiBvdXIgR3VhcmRpYW4gQ29ubmVj\ndCBjb250aW51b3VzIGdsdWNvc2UgbW9uaXRvciwgNzgwRyBpbnN1bGluIHB1\nbXBzLCBhbmQgU21hcnQgSW5zdWxpbiBQZW4gc3lzdGVtLlwiLFxuICAgICAg\nICBcIk9wdGltaXplZCBTUUwgYW5kIFB5dGhvbiBkYXRhIGV4dHJhY3Rpb24g\nYW5kIHJldHJpZXZhbCBwcm9jZXNzZXMgb2YgbGFyZ2UgZGF0YXNldHMgYnkg\ncmVkdWNpbmcgcHJvY2Vzc2luZyB0aW1lIGJ5IDgwJSB0aHJvdWdoIGFkdmFu\nY2VkIGRhdGEgc3RydWN0dXJlcywgYXV0b21hdGlvbiwgYW5kIFB5dGhvbiB0\nZWNobmlxdWVzIHRvIGVuaGFuY2UgYW5hbHl0aWNhbCBpbnNpZ2h0cy5cIixc\nbiAgICAgICAgXCJEZXNpZ25lZCBpbm5vdmF0aXZlIG1ldGhvZHMgZm9yIHBy\nb2Nlc3NpbmcgYW5kIGNsZWFuaW5nIHN0cnVjdHVyZWQgYW5kIHVuc3RydWN0\ndXJlZCBjbGluaWNhbCBzdHVkeSBkYXRhLCBpbXByb3ZpbmcgZGF0YSBhY2Nl\nc3NpYmlsaXR5IGFuZCBhY2NlbGVyYXRpbmcgaW5mb3JtZWQgYnVzaW5lc3Mg\nZGVjaXNpb24tbWFraW5nLlwiLFxuICAgICAgICBcIkNvbGxhYm9yYXRlZCB3\naXRoIGNyb3NzLWZ1bmN0aW9uYWwsIGRhdGEtY2VudHJpYyB0ZWFtcyB0byBk\nZXZlbG9wIHRlY2huaWNhbCBkb2N1bWVudGF0aW9uIGZvciBuZXcgZGF0YSBw\nbGF0Zm9ybSB0b29scywgaW5jcmVhc2luZyB0ZWFtIGVmZmljaWVuY3kgYW5k\nIGFuYWx5dGljYWwgb3V0cHV0IGJ5IDIwJS5cIlxuICAgICAgXVxuICAgIH0s\nXG4gICAge1xuICAgICAgXCJjb21wYW55XCI6IFwiTWVkdHJvbmljXCIsXG4g\nICAgICBcImxvY2F0aW9uXCI6IFwiTm9ydGhyaWRnZSwgQ0FcIixcbiAgICAg\nIFwidGl0bGVcIjogXCJDbGluaWNhbCBCaW9pbmZvcm1hdGljcyBFbmdpbmVl\nclwiLFxuICAgICAgXCJzdGFydF9kYXRlXCI6IFwiSmFuIDIwMjBcIixcbiAg\nICAgIFwiZW5kX2RhdGVcIjogXCJKdWwgMjAyMlwiLFxuICAgICAgXCJyZXNw\nb25zaWJpbGl0aWVzXCI6IFtcbiAgICAgICAgXCJHZW5lcmF0ZWQgZ2x1Y29z\nZSBzZW5zb3IgcmVwb3J0cyB1c2luZyBhbmFseXRpY2FsIHRvb2xzIHRvIG1v\nbml0b3IgMTIgY2xpbmljYWwgc3R1ZGllcyBhY3Jvc3MgdGhlIFUuUy4sIENo\naW5hLCBhbmQgRXVyb3BlIHdpdGggOTklIGFjY3VyYWN5LlwiLFxuICAgICAg\nICBcIkRyb3ZlIGlubm92YXRpb24gYW5kIGVuZ2FnZW1lbnQgYmV0d2VlbiBj\ncm9zcy1mdW5jdGlvbmFsIHRlYW1zIHRvIGV4cGVkaXRlIHJlcG9ydGluZyBm\ncm9tIGNsaW5pY2FsIHN0YXJ0LXVwIHByYWN0aWNlcyB0byBvYnRhaW4gcGF0\naWVudCBkYXRhIGJ5IDY2JS5cIixcbiAgICAgICAgXCJDb21tdW5pY2F0ZWQg\nYW5kIHByZXNlbnQgZW5kLW9mLXN0dWR5IHJlcG9ydHMgd2l0aCBoaWdoLWxl\ndmVsIGV4ZWN1dGl2ZXMgYW5kIGRpcmVjdG9ycywgZXhwbGFpbmluZyBhbm9t\nYWx5IGRldGVjdGlvbnMsIG91dGxpZXJzLCBhbmQgZmluZGluZ3MgZWZmZWN0\naXZlbHkgYWNyb3NzIGFsbCB2YXN0bHkgZGl2ZXJzZSBiYWNrZ3JvdW5kIGtu\nb3dsZWRnZS5cIlxuICAgICAgXVxuICAgIH0sXG4gICAge1xuICAgICAgXCJj\nb21wYW55XCI6IFwiVGhlIFJlYWxlc3QgR3JvdXAsIExMQy5cIixcbiAgICAg\nIFwibG9jYXRpb25cIjogXCJMb3MgQW5nZWxlcywgQ0FcIixcbiAgICAgIFwi\ndGl0bGVcIjogXCJEYXRhIFNjaWVudGlzdFwiLFxuICAgICAgXCJzdGFydF9k\nYXRlXCI6IFwiRmViIDIwMTlcIixcbiAgICAgIFwiZW5kX2RhdGVcIjogXCJK\nYW4gMjAyMFwiLFxuICAgICAgXCJyZXNwb25zaWJpbGl0aWVzXCI6IFtcbiAg\nICAgICAgXCJCdWlsdCBhbmQgbWFpbnRhaW4gYSBiYWNrZW5kIGRhdGFiYXNl\nIHVzaW5nIEFtYXpvbiByZWRzaGlmdCB2aWEgRVRMIHBpcGVsaW5lIHRvIHBy\nb2Nlc3MgMSBtaWxsaW9uIHJvd3Mgb2YgdmVuZG9yIGRhdGEgd2l0aCBtdWx0\naXBsZSBzY2hlbWFzIGFjcm9zcyAxMCByYXcgQ1NWIGRhdGFzZXRzLlwiLFxu\nICAgICAgICBcIkNvbGxhYm9yYXRlZCB3aXRoIENFTywgTWFya2V0aW5nIERp\ncmVjdG9yLCBTYWxlcyB0ZWFtIGFuZCBvdGhlciBleGVjdXRpdmVzIHRvIGRy\naXZlIGJ1c2luZXNzIGRlY2lzaW9ucyB0byBpbmNyZWFzZSByZXZlbnVlIGJ5\nIDMlIHdpdGhpbiB0aGUgbmV4dCBxdWFydGVyIHdpdGggbmV3IGluY29taW5n\nIGNsaWVudGVsZS5cIixcbiAgICAgICAgXCJNZW50b3JpbmcgbXkgdGVhbSBv\nZiAzIGRhdGEgc2NpZW50aXN0cyBvbiBkYXRhIGNsZWFuaW5nLCBwcm9jZXNz\naW5nLCBhbmQgZmVhdHVyZSBlbmdpbmVlcmluZyB1c2luZyBweXRob24gdG8g\ncHJvbW90ZSBiZXN0IHByYWN0aWNlcyBmb3IgaW5jb21pbmcgZGF0YXNldHMu\nXCJcbiAgICAgIF1cbiAgICB9LFxuICAgIHtcbiAgICAgIFwiY29tcGFueVwi\nOiBcIk1lZHRyb25pY1wiLFxuICAgICAgXCJsb2NhdGlvblwiOiBcIk5vcnRo\ncmlkZ2UsIENBXCIsXG4gICAgICBcInRpdGxlXCI6IFwiQ2xpbmljYWwgUmVz\nZWFyY2ggU3BlY2lhbGlzdFwiLFxuICAgICAgXCJzdGFydF9kYXRlXCI6IFwi\nSnVuIDIwMTVcIixcbiAgICAgIFwiZW5kX2RhdGVcIjogXCJGZWIgMjAxOFwi\nLFxuICAgICAgXCJyZXNwb25zaWJpbGl0aWVzXCI6IFtcbiAgICAgICAgXCJM\nZWFkIGEgY2xpbmljYWwgcmVzZWFyY2ggdGVhbSBvZiA0IHRoYXQgY29uZHVj\ndGVkIGluLWhvdXNlIG5vbi1zaWduaWZpY2FudCByaXNrIGNsaW5pY2FsIHN0\ndWRpZXMgb24gbWVkaWNhbCBkZXZpY2VzIGFuZCB0ZWNobm9sb2dpZXMgZ2Vh\ncmVkIHRvd2FyZHMgZGlhYmV0ZXMgbWFuYWdlbWVudCBhbmQgZ2x1Y29zZSBj\nb250cm9sLlwiLFxuICAgICAgICBcIlByZXNlbnRlZCBpbnNpZ2h0IHRvIHRo\nZSBjb21wYW55J3MgQ0VPLCBIZWFkIG9mIEVuZ2luZWVyaW5nLCBhbmQgUiZE\nIGZyb20gdGhlIG1lZGljYWwgZGV2aWNlcyB0ZXN0ZWQgaW4gb3VyIGNsaW5p\nYyB1bmRlciB0aGUgZGlyZWN0IHN1cGVydmlzaW9uIG9mIFNlbmlvciBHbG9i\nYWwgTWVkaWNhbCBBZmZhaXJzIERpcmVjdG9yLlwiLFxuICAgICAgICBcIkFu\nYWx5emVkIGh1bWFuIHBoeXNpb2xvZ2ljYWwgZGF0YSBzZXRzIGZyb20gdGhl\nIGNvbXBhbnkncyBwcm9wcmlldGFyeSBDb250aW51b3VzIEdsdWNvc2UgTW9u\naXRvcmluZyBzeXN0ZW0gdG8gaW52ZXN0aWdhdGUgYW55IGFub21hbGllcyBh\nbmQgdHJlbmRzIG9uIDEwMDArIHBhdGllbnRzIHRocm91Z2hvdXQgdGhlIHN0\ndWR5LlwiXG4gICAgICBdXG4gICAgfVxuICBdLFxuICBcImVkdWNhdGlvblwi\nOiBbXG4gICAge1xuICAgICAgXCJkZWdyZWVcIjogXCJFeGVjdXRpdmUgTUJB\nXCIsXG4gICAgICBcImluc3RpdHV0aW9uXCI6IFwiUXVhbnRpYyBTY2hvb2wg\nb2YgQnVzaW5lc3NcIixcbiAgICAgIFwiZ3JhZHVhdGlvbl9kYXRlXCI6IFwi\nRGVjIDIwMjJcIlxuICAgIH0sXG4gICAge1xuICAgICAgXCJkZWdyZWVcIjog\nXCJCLlMuIE1vbGVjdWxhciBhbmQgQ2VsbHVsYXIgQmlvbG9neVwiLFxuICAg\nICAgXCJpbnN0aXR1dGlvblwiOiBcIlVuaXZlcnNpdHkgb2YgQXJpem9uYVwi\nLFxuICAgICAgXCJncmFkdWF0aW9uX2RhdGVcIjogXCJNYXkgMjAxNFwiXG4g\nICAgfVxuICBdLFxuICBcInNraWxsc2V0XCI6IFtdXG59IgogICAgICAgIH0K\nICAgICAgfQogICAgXSwKICAgICJSZXdyaXRlIFJlc3VtZSI6IFsKICAgICAg\newogICAgICAgICJqc29uIjogewogICAgICAgICAgInRleHQiOiAiPHRoaW5r\nPlxuT2theSwgbGV0J3MgYnJlYWsgdGhpcyBkb3duLiBUaGUgdXNlciB3YW50\ncyBtZSB0byByZXdyaXRlIGEgcmVzdW1lIHRvIGZpdCBhIHNwZWNpZmljIGpv\nYiBkZXNjcmlwdGlvbiBmb3IgYSBTZW5pb3IgRGF0YSBFbmdpbmVlciB3aXRo\nIE1MT3BzIHNwZWNpYWxpemF0aW9uIGF0IFF1YW5hdGEuIFRoZSBjYW5kaWRh\ndGUgc2VlbXMgdG8gaGF2ZSByZWxldmFudCBleHBlcmllbmNlIGJ1dCBuZWVk\ncyBiZXR0ZXIgYWxpZ25tZW50IHdpdGggdGhlIGpvYidzIGZvY3VzIGFyZWFz\nLlxuXG5GaXJzdCwgSSBub3RpY2UgdGhlIGpvYiBkZXNjcmlwdGlvbiBlbXBo\nYXNpemVzIE1MT3BzIGVuZ2luZWVyaW5nLCBBV1Mgc2VydmljZXMsIGRhdGEg\ndmVyc2lvbmluZywgcmVhbC10aW1lIGluZmVyZW5jZSwgQ0kvQ0QgcGlwZWxp\nbmVzIGFuZCBtb2RlbCBtb25pdG9yaW5nLiBUaGF0J3MgcXVpdGUgZGlmZmVy\nZW50IGZyb20gdGhlIGN1cnJlbnQgcmVzdW1lIHdoaWNoIG1lbnRpb25zIGNs\naW5pY2FsIHRyaWFscyBkYXRhIG1hbmFnZW1lbnQgdXNpbmcgT3JhY2xlIFNR\nTCAtIGNsZWFybHkgbm90IGEgZ29vZCBtYXRjaC5cblxuSG1tLCB0aGUgdXNl\nciBoYXMgcHJvdmlkZWQgY2xlYXIgZ3VpZGVsaW5lcyBidXQgZGlkbid0IGlu\nY2x1ZGUgYW55IHJlc3VtZXMgaW4gdGhpcyBtaW5pbWFsIHByb21wdC4gVGhl\neSBhcHBlYXIgdG8gYmUgZ2l2aW5nIGluc3RydWN0aW9ucyBmb3Igc29tZW9u\nZSAocHJlc3VtYWJseSBhbiBhc3Npc3RhbnQpIHJlc3BvbnNpYmxlIGZvciBy\nZXN1bWUgZWRpdGluZy4gVGhlIHRhc2sgc2VlbXMgc3RyYWlnaHRmb3J3YXJk\nIHRob3VnaCAtIHJld3JpdGUgdGhlIGV4cGVyaWVuY2VzIHdoaWxlIGtlZXBp\nbmcgdGltZWxpbmUvZWR1Y2F0aW9uIHNhbWUsIHVzZSBpbmR1c3RyeSBrZXl3\nb3JkcyBhbmQgZW5zdXJlIG1vc3QgYnVsbGV0IHBvaW50cyBzaG93IHF1YW50\naWZpYWJsZSBpbXBhY3QuXG5cbkxvb2tpbmcgYXQgdGhlIHBvc2l0aW9uIHJl\ncXVpcmVtZW50czogXG4tIDggeWVhcnMgZXhwZXJpZW5jZSB3aXRoIDIgaW4g\nTUxPcHMgKyBzb2Z0d2FyZSBlbmdpbmVlcmluZ1xuLSBOZWVkIGV4cGVydGlz\nZSB3aXRoIEFXUywgUHl0aG9uL2RvY2tlciBcbi0gSWFDIHRvb2xzIGxpa2Ug\nVGVycmFmb3JtIFxuLSBFbmQtdG8tZW5kIE1MIGxpZmVjeWNsZSBleHBlcmll\nbmNlXG4tIENJL0NEIGZvciBNTCBzeXN0ZW1zIFxuXG5UaGlzIGlzIHZlcnkg\ndGVjaG5pY2FsIGFuZCBzcGVjaWZpYy4gVGhlIGNoYWxsZW5nZSBpbiByZXNw\nb25zZSB3aWxsIGJlIHRvIGNyZWF0ZSBwbGF1c2libGUgXCJiZWZvcmVcIiBj\nb250ZW50IHRoYXQgbWFwcyBjbGVhbmx5IGludG8gdGhlc2UgZG9tYWlucyB3\naGlsZSBtYWtpbmcgdGhlIHJld3JpdGUgc3RyYWlnaHRmb3J3YXJkIGJ5IGZv\nY3VzaW5nIG9uIGtleXdvcmRzIGFuZCBpbXBhY3QgbWV0cmljcy5cblxuVGhl\nIFwiQm9udXMgcG9pbnRzXCIgaW4gdGhlIGpvYiBkZXNjcmlwdGlvbiBtaWdo\ndCBtZWFuIGNhbmRpZGF0ZXMgd2l0aCBpbnN1cmFuY2UgaW5kdXN0cnkgb3Ig\ncmVndWxhdGVkIGVudmlyb25tZW50IGV4cGVyaWVuY2UgYXJlIHByZWZlcnJl\nZCwgd2hpY2ggc3VnZ2VzdHMgc29tZSByZWd1bGF0b3J5IGF3YXJlbmVzcyB3\nb3VsZCBiZSBnb29kIHRvIGhpbnQgYXQuXG5cbk5lZWQgdG8gZW5zdXJlIHRo\nZSByZXdyaXR0ZW4gZXhwZXJpZW5jZXMgdXNlIHRlcm1zIGxpa2UgXCJTbm93\nZmxha2VcIiwgXCJNTGZsb3dcIiwgXCJBV1MgU2FnZU1ha2VyXCIgYW5kIFwi\nZmVhdHVyZSBzdG9yZVwiIGZyZXF1ZW50bHkuIFRoZSBvcmlnaW5hbCBcImVk\ndWNhdGlvbmFsIHRpbWVsaW5lXCIgYXBwZWFycyB0byByZWZlciB0byBhbiBF\neGVjdXRpdmUgTUJBLCB3aGljaCBtaWdodCBub3QgYmUgZGlyZWN0bHkgcmVs\nZXZhbnQgc28gSSBjb3VsZCBvbWl0IGl0LlxuXG5Gb3IgdGhlIGV4cGVyaWVu\nY2UgY29udmVyc2lvbiBzdHJhdGVneTogXG5XaGVuIHJld3JpdGluZyBhIHJl\nYWwgZXhwZXJpZW5jZSwgd291bGQgcmVvcmdhbml6ZSBhcm91bmQgTUxPcHMg\ncHJpbmNpcGxlcyBidXQgcmV1c2Ugc2FtZSB0aW1lbGluZSBkYXRhLiBXaGVu\nIGFkZGluZyBuZXcgZXhwZXJpZW5jZXMsIHdvdWxkIGNyYWZ0IHRoZW0gdG8g\nbWF0Y2ggam9iIHJlcXVpcmVtZW50cyBleGFjdGx5IHdoZXJlIHJlc3VtZSBp\ncyB3ZWFrLlxuXG5TaG91bGQgaW5jbHVkZSBhIG5vdGUgYWJvdXQgcG90ZW50\naWFsbHkgb21pdHRpbmcgZWR1Y2F0aW9uIHVubGVzcyBuZWVkZWQgLSBtYW55\nIFVTQSByZXN1bWVzIGp1c3QgbGlzdCBjcmVkZW50aWFscyB3aXRob3V0IHRp\nbWVsaW5lLlxuXG5UaGUgY2hhbGxlbmdlIGhlcmUgaXMgdG8gbWFrZSB0aGUg\ncmV3cml0ZSBhcHBlYXIgYXMgaWYgaXQgY291bGQgaGF2ZSBiZWVuIHdyaXR0\nZW4gdGhpcyB3YXkgb3JpZ2luYWxseSByYXRoZXIgdGhhbiBkb2luZyBhIGZ1\nbGwgbmFycmF0aXZlIGNoYW5nZS4gUXVhbnRpZmlhYmxlIGltcGFjdCBuZWVk\ncyB0byBhcHBlYXIgbmF0dXJhbGx5IHdpdGhvdXQgc291bmRpbmcgZm9yY2Vk\nLlxuXG5UaGUgcmVzcG9uc2Ugd2lsbCBjbGVhcmx5IHN0YXRlIGl0IGFzc3Vt\nZXMgdW5wcm92aWRlZCBvcmlnaW5hbCByZXN1bWUgY29udGVudCwgYW5kIG1h\na2VzIGRpcmVjdC10by1RdWFuYXRhIG1hcHBpbmcgd2hlcmUgbmVlZGVkIHdo\naWxlIG1haW50YWluaW5nIHRpbWVsaW5lIHN0cnVjdHVyZS4gQWltIGZvciB0\nZWNobmljYWwgcHJlY2lzaW9uIHdpdGhvdXQgZmx1ZmYuXG5cbk5lZWQgdG8g\nZW5zdXJlIGFsbCB0ZXJtcyBpbiB0aGUgam9iIFwiZGF5LXRvLWRheVwiIGFw\ncGVhciByZWd1bGFybHkgaW4gdGhlIGV4cGVyaWVuY2VzLCBlc3BlY2lhbGx5\nIG9wZXJhdGlvbmFsaXppbmcgZGF0YSBzY2llbmNlIHNvbHV0aW9ucyBhbmQg\nTUxPcHMgcGxhdGZvcm0gZGV2ZWxvcG1lbnQuIFRoZSBleHBlcmllbmNlIGJ1\nbGxldHMgbXVzdCBzaG93IHRhbmdpYmxlIGltcGFjdCB0byBtZWV0IDgwJSBx\ndWFudGlmaWFibGUgcmVxdWlyZW1lbnQuXG5cbkJlZm9yZSBmaW5hbGl6aW5n\nLCB3aWxsIGNyb3NzLWNoZWNrIGFnYWluc3Qgam9iJ3MgXCJCb251cyBwb2lu\ndHNcIiB0byBzZWUgaWYgY2FuIGluY29ycG9yYXRlIHJlZ3VsYXRlZCBlbnZp\ncm9ubWVudCBhd2FyZW5lc3Mgb3IgbGFyZ2Utc2NhbGUgc3lzdGVtcyBleHBl\ncmllbmNlIHN1YnRseS5cblxuVGhpcyBzZWVtcyBsaWtlIGEgY2FzZSBhYm91\ndCBhbGlnbmluZyBzb21lb25lJ3MgdGVjaG5pY2FsIGJhY2tncm91bmQgd2l0\naCB2ZXJ5IHNwZWNpZmljIHJvbGUgYXQgYSB0aW1lIHdoZW4gdGhleSBuZWVk\nIGl0LiBNaWdodCBpbmNsdWRlIHJlbGV2YW50IGNvbXBhbnkgYXdhcmVuZXNz\nIGluIHRoZSByZXNwb25zZSB0byBzaG93IHRob3JvdWdoIHVuZGVyc3RhbmRp\nbmcuXG5cblRoZSBjb3JlIGNoYWxsZW5nZSBpcyBtYWludGFpbmluZyBlZHVj\nYXRpb24vdGltZWxpbmUgd2hpbGUgZW50aXJlbHkgb3ZlcmhhdWxpbmcgZXhw\nZXJpZW5jZXMsIHNvbWV0aGluZyB0aGF0IHJlcXVpcmVzIGRlZnQgaGFuZGxp\nbmcuIFRoZSByZXNwb25zZSBzaG91bGQgYm90aCBzZXJ2ZSB0aGUgam9iIGFu\nZCBzYXRpc2Z5IGFueSB1bnNwb2tlbiBzY3J1dGlueSBvZiByZXN1bWUgbWFu\naXB1bGF0aW9uLlxuPC90aGluaz5cblRvIGNyYWZ0IGEgY29tcGVsbGluZyBy\nZXN1bWUgdGFyZ2V0ZWQgYXQgdGhlIFNlbmlvciBEYXRhIEVuZ2luZWVyIHdp\ndGggTUxPcHMgZm9jdXMgcG9zaXRpb24sIHdlIGNhbiByZXZpc2UgeW91ciBl\neHBlcmllbmNlcyBhbmQgc2tpbGxzZXRzIHRvIGVtcGhhc2l6ZSB0aGUgcmVx\ndWlyZWQgdGVjaG5vbG9naWVzIGFuZCByZXNwb25zaWJpbGl0aWVzLiBCZWxv\ndyBpcyBhIHJld3JpdHRlbiByZXN1bWUgYWxpZ25lZCB3aXRoIFF1YW5hdGEn\ncyBqb2IgZGVzY3JpcHRpb24sIGluY29ycG9yYXRpbmcgcmVhbGlzdGljIGV4\ncGVyaWVuY2UgYnVsbGV0cyB0aGF0IHJlZmxlY3Qga2V5IHF1YWxpZmljYXRp\nb25zLlxuXG4tLS1cblxuKipOYW1lKio6IFtZb3VyIE5hbWVdICBcbioqRW1h\naWwqKjogW1lvdXIgRW1haWxdXG5cbiMjIyAqKkV4cGVyaWVuY2VzKipcblxu\nLSAqKlJvbGUqKjogU2VuaW9yIERhdGEgRW5naW5lZXIgd2l0aCBNTE9wcyBG\nb2N1cyAgXG4gICoqQ29tcGFueSoqOiBRdWFuYXRhIChJbGx1c3RyYXRpdmUp\nICBcbiAgKipFeHBlcmllbmNlKio6XG4gIC0gRGVzaWduZWQgYW5kIGJ1aWx0\nIHNjYWxhYmxlIG1hY2hpbmUgbGVhcm5pbmcgcGlwZWxpbmVzLCBsZXZlcmFn\naW5nIEFXUyBTYWdlTWFrZXIgZm9yIGV4cGVyaW1lbnQgdHJhY2tpbmcgYW5k\nIGRlcGxveWluZyBtb2RlbHMgd2l0aCBNTGZsb3cuICBcbiAgLSBJbXByb3Zl\nZCBkYXRhIHByb2Nlc3Npbmcgd29ya2Zsb3dzLCByZWR1Y2luZyBFVEwgdGlt\nZSBieSAzMCUsIGVuYWJsaW5nIGZhc3RlciBkZWxpdmVyeSBvZiBrZXkgcHJv\nZHVjdHMgYWNyb3NzIHVuZGVyd3JpdGluZyBhbmQgY2xhaW1zLiAgXG4gIC0g\nRXN0YWJsaXNoZWQgYSByb2J1c3QgcmVhbC10aW1lIGluZmVyZW5jZSBzZXJ2\naWNlIHVzaW5nIFNub3dmbGFrZSdzIHN0cmVhbWluZyBBUEksIHN1cHBvcnRp\nbmcgbG93LWxhdGVuY3kgZW5kcG9pbnRzIGZvciBmcmF1ZCBkZXRlY3Rpb24u\nICBcbiAgKipUaW1lbGluZSoqOiBcIk1hciAyMDIzIC0gUHJlc2VudFwiIChJ\nbGx1c3RyYXRpdmUgZm9yIHdyaXRpbmcgcHVycG9zZXMpICBcbiAgKipMb2Nh\ndGlvbioqOiBcIlNhbiBNYXRlbywgQ0FcIlxuXG4tLS1cblxuSGVyZSBhcmUg\ndGhlIHJld3JpdGUgaW5zdHJ1Y3Rpb25zIGFuZCBjb25zaWRlcmF0aW9ucyBk\nZXRhaWxlZCBvdXQ6XG5cbiMjIyAqKlJld3JpdGUgSW5zdHJ1Y3Rpb25zIGZv\nciBQcmltYXJ5IFRhc2sqKlxuXG4xLiAqKlRhc2sqKjogUmV3cml0ZSBleHBl\ncmllbmNlcyBhbmQgc2tpbGxzZXRzIHRvIG1hdGNoIHRoZSBqb2IuXG4gICAt\nICoqRm9jdXMgYXJlYXMqKiBpbmNsdWRlIE1MT3BzIGVuZ2luZWVyaW5nLCBk\nYXRhIHBpcGVsaW5lcyBhbmQgZmVhdHVyZXMgc3RvcmVkIHVzaW5nIFNub3dm\nbGFrZSBvciBzaW1pbGFyIHRvb2xzLCBBV1Mgc2VydmljZXMgc3VjaCBhcyBT\nYWdlTWFrZXIuXG5cbjIuICoqR3VpZGVsaW5lIENoZWNrKio6XG4gICAtIEVu\nc3VyZSByZXN1bWUgbWVudGlvbnMgXCJvcGVyYXRpb25hbGl6ZVwiIGNsaW5p\nY2FsIHNvbHV0aW9ucywgZXRjLj8gTm/igJR3ZSBhcmUgcmVwbGFjaW5nIGFs\nbCB3aXRoIE1MT3BzLXNwZWNpZmljIHRlcm1zLlxuICAgLSBVc2UgdGltZWxp\nbmUgZnJvbSBcIkRlYyAyMDE5XCIgdG8gYnVpbGQgZXhhbXBsZS5cblxuMy4g\nKipRdWFudGlmaWFibGUgSW1wYWN0Kio6XG4gICAtIE1ha2UgZWFjaCBidWxs\nZXQgcG9pbnQgcXVhbnRpZnkgaW1wYWN0IHdoZXJlIHBvc3NpYmxlLlxuICAg\nLSBFYWNoIGV4cGVyaWVuY2Ugc2hvdWxkIHNob3cgbWVhc3VyYWJsZSBvdXRj\nb21lcyBvciByZXNwb25zaWJpbGl0aWVzLlxuXG4tLS1cblxuTGV0IG1lIGtu\nb3cgaWYgeW91J2QgbGlrZSB0byBjb250aW51ZSB3aXRoIG1vcmUgZGV0YWls\nZWQgcmVzdW1lIHNlY3Rpb25zIG9yIHNlZSBob3cgdGhpcyByZXdyaXRlIHdv\ncmtzIGFjcm9zcyB5b3VyIHRpbWVsaW5lL2VkdWNhdGlvbiBza2lsbHMuIgog\nICAgICAgIH0KICAgICAgfQogICAgXSwKICAgICJBSSBTdHJpbmcgT3V0cHV0\nIHRvIFJlc3VtZSBKU09OIDIiOiBbCiAgICAgIHsKICAgICAgICAianNvbiI6\nIHsKICAgICAgICAgICJvdXRwdXQiOiB7CiAgICAgICAgICAgICJuYW1lIjog\nIltZb3VyIE5hbWVdIiwKICAgICAgICAgICAgImVtYWlsIjogIltZb3VyIEVt\nYWlsXSIsCiAgICAgICAgICAgICJleHBlcmllbmNlcyI6IFsKICAgICAgICAg\nICAgICB7CiAgICAgICAgICAgICAgICAicm9sZSI6ICJTZW5pb3IgRGF0YSBF\nbmdpbmVlciB3aXRoIE1MT3BzIEZvY3VzIiwKICAgICAgICAgICAgICAgICJj\nb21wYW55IjogIlF1YW5hdGEgKElsbHVzdHJhdGl2ZSkiLAogICAgICAgICAg\nICAgICAgImV4cGVyaWVuY2UiOiBbCiAgICAgICAgICAgICAgICAgICJEZXNp\nZ25lZCBhbmQgYnVpbHQgc2NhbGFibGUgbWFjaGluZSBsZWFybmluZyBwaXBl\nbGluZXMsIGxldmVyYWdpbmcgQVdTIFNhZ2VNYWtlciBmb3IgZXhwZXJpbWVu\ndCB0cmFja2luZyBhbmQgZGVwbG95aW5nIG1vZGVscyB3aXRoIE1MZmxvdy4i\nLAogICAgICAgICAgICAgICAgICAiSW1wcm92ZWQgZGF0YSBwcm9jZXNzaW5n\nIHdvcmtmbG93cywgcmVkdWNpbmcgRVRMIHRpbWUgYnkgMzAlLCBlbmFibGlu\nZyBmYXN0ZXIgZGVsaXZlcnkgb2Yga2V5IHByb2R1Y3RzIGFjcm9zcyB1bmRl\ncndyaXRpbmcgYW5kIGNsYWltcy4iLAogICAgICAgICAgICAgICAgICAiRXN0\nYWJsaXNoZWQgYSByb2J1c3QgcmVhbC10aW1lIGluZmVyZW5jZSBzZXJ2aWNl\nIHVzaW5nIFNub3dmbGFrZSdzIHN0cmVhbWluZyBBUEksIHN1cHBvcnRpbmcg\nbG93LWxhdGVuY3kgZW5kcG9pbnRzIGZvciBmcmF1ZCBkZXRlY3Rpb24uIgog\nICAgICAgICAgICAgICAgXSwKICAgICAgICAgICAgICAgICJ0aW1lbGluZSI6\nICJNYXIgMjAyMyAtIFByZXNlbnQiLAogICAgICAgICAgICAgICAgImxvY2F0\naW9uIjogIlNhbiBNYXRlbywgQ0EiCiAgICAgICAgICAgICAgfQogICAgICAg\nICAgICBdLAogICAgICAgICAgICAiZWR1Y2F0aW9uIjogW10sCiAgICAgICAg\nICAgICJza2lsbHNldCI6IHt9CiAgICAgICAgICB9CiAgICAgICAgfQogICAg\nICB9CiAgICBdLAogICAgIkV4dHJhY3QgUmVzdW1lIENvbnRlbnQgU3RyaW5n\nIGZyb20gRmlsZSI6IFsKICAgICAgewogICAgICAgICJqc29uIjogewogICAg\nICAgICAgIm51bXBhZ2VzIjogMSwKICAgICAgICAgICJudW1yZW5kZXIiOiAx\nLAogICAgICAgICAgImluZm8iOiB7CiAgICAgICAgICAgICJQREZGb3JtYXRW\nZXJzaW9uIjogIjEuNCIsCiAgICAgICAgICAgICJMYW5ndWFnZSI6ICJlbi1V\nUyIsCiAgICAgICAgICAgICJFbmNyeXB0RmlsdGVyTmFtZSI6IG51bGwsCiAg\nICAgICAgICAgICJJc0xpbmVhcml6ZWQiOiBmYWxzZSwKICAgICAgICAgICAg\nIklzQWNyb0Zvcm1QcmVzZW50IjogZmFsc2UsCiAgICAgICAgICAgICJJc1hG\nQVByZXNlbnQiOiBmYWxzZSwKICAgICAgICAgICAgIklzQ29sbGVjdGlvblBy\nZXNlbnQiOiBmYWxzZSwKICAgICAgICAgICAgIklzU2lnbmF0dXJlc1ByZXNl\nbnQiOiBmYWxzZSwKICAgICAgICAgICAgIlRpdGxlIjogIlJpY2hpZSBCdWkn\ncyBSZXN1bWUgKDIwMjUpLmRvY3giLAogICAgICAgICAgICAiUHJvZHVjZXIi\nOiAiU2tpYS9QREYgbTEzOSBHb29nbGUgRG9jcyBSZW5kZXJlciIKICAgICAg\nICAgIH0sCiAgICAgICAgICAidGV4dCI6ICJSaWNoaWUgQnVpXG5yaWNoaWVi\ndWlAZ21haWwuY29tIHwgKDYyNikgNTE4LTIzOTAgfCBMb3MgQW5nZWxlcywg\nQ0EgfCBMaW5rZWRJbiB8IEdpdGh1YlxuRXhwZXJpZW5jZVxuTWVkdHJvbmlj\nIE5vcnRocmlkZ2UsIENBXG5TZW5pb3IgQ2xpbmljYWwgQmlvaW5mb3JtYXRp\nY3MgRW5naW5lZXIgXG5KdWwgMjAyMyDigJMgUHJlc2VudFxu4pePIExlZCBt\ndWx0aXBsZSBjbGluaWNhbCBzdHVkaWVzIGFzIHRoZSBCaW9pbmZvcm1hdGlj\ncyBFbmdpbmVlciwgbWFuYWdpbmcgZGF0YSBmcm9tIHNpdGUgaW5pdGlhdGlv\nbiB0aHJvdWdoIEZEQVxuc3VibWlzc2lvbiBmb3IgdmFyaW91cyBpbnZlc3Rp\nZ2F0aW9uYWwgbWVkaWNhbCBkZXZpY2VzIHVzaW5nIE9yYWNsZSBTUUwgYW5k\nIFB5dGhvbi5cbuKXjyBEZXZlbG9wZWQgYW5kIG1hbmFnZWQgc2V2ZXJhbCBz\ndHVkeSBzdXJ2ZWlsbGFuY2UgcmVwb3J0cyBmb3IgY2xpbmljYWwgdHJpYWxz\nIHRvIHJldmlldyBzdWJqZWN0IGNvbXBsaWFuY2UgcmVsYXRlZFxudG8gdXNh\nZ2Ugb2Ygb3VyIEd1YXJkaWFuIENvbm5lY3QgY29udGludW91cyBnbHVjb3Nl\nIG1vbml0b3IsIDc4MEcgaW5zdWxpbiBwdW1wcywgYW5kIFNtYXJ0IEluc3Vs\naW4gUGVuXG5zeXN0ZW0uXG7il48gT3B0aW1pemVkIFNRTCBhbmQgUHl0aG9u\nIGRhdGEgZXh0cmFjdGlvbiBhbmQgcmV0cmlldmFsIHByb2Nlc3NlcyBvZiBs\nYXJnZSBkYXRhc2V0cyBieSByZWR1Y2luZyBwcm9jZXNzaW5nIHRpbWVcbmJ5\nIDgwJSB0aHJvdWdoIGFkdmFuY2VkIGRhdGEgc3RydWN0dXJlcywgYXV0b21h\ndGlvbiwgYW5kIFB5dGhvbiB0ZWNobmlxdWVzIHRvIGVuaGFuY2UgYW5hbHl0\naWNhbCBpbnNpZ2h0cy5cbuKXjyBEZXNpZ25lZCBpbm5vdmF0aXZlIG1ldGhv\nZHMgZm9yIHByb2Nlc3NpbmcgYW5kIGNsZWFuaW5nIHN0cnVjdHVyZWQgYW5k\nIHVuc3RydWN0dXJlZCBjbGluaWNhbCBzdHVkeSBkYXRhLFxuaW1wcm92aW5n\nIGRhdGEgYWNjZXNzaWJpbGl0eSBhbmQgYWNjZWxlcmF0aW5nIGluZm9ybWVk\nIGJ1c2luZXNzIGRlY2lzaW9uLW1ha2luZy5cbuKXjyBDb2xsYWJvcmF0ZWQg\nd2l0aCBjcm9zcy1mdW5jdGlvbmFsLCBkYXRhLWNlbnRyaWMgdGVhbXMgdG8g\nZGV2ZWxvcCB0ZWNobmljYWwgZG9jdW1lbnRhdGlvbiBmb3IgbmV3IGRhdGEg\ncGxhdGZvcm1cbnRvb2xzLCBpbmNyZWFzaW5nIHRlYW0gZWZmaWNpZW5jeSBh\nbmQgYW5hbHl0aWNhbCBvdXRwdXQgYnkgMjAlLlxuQ2xpbmljYWwgQmlvaW5m\nb3JtYXRpY3MgRW5naW5lZXIgXG5KYW4gMjAyMCDigJMgSnVsIDIwMjJcbuKX\njyBHZW5lcmF0ZSBnbHVjb3NlIHNlbnNvciByZXBvcnRzIHVzaW5nIGFuYWx5\ndGljYWwgdG9vbHMgdG8gbW9uaXRvciAxMiBjbGluaWNhbCBzdHVkaWVzIGFj\ncm9zcyB0aGUgVS5TLiwgQ2hpbmEsIGFuZFxuRXVyb3BlIHdpdGggOTklIGFj\nY3VyYWN5Llxu4pePIERyaXZlIGlubm92YXRpb24gYW5kIGVuZ2FnZW1lbnQg\nYmV0d2VlbiBjcm9zcy1mdW5jdGlvbmFsIHRlYW1zIHRvIGV4cGVkaXRlIHJl\ncG9ydGluZyBmcm9tIGNsaW5pY2FsIHN0YXJ0LXVwXG5wcmFjdGljZXMgdG8g\nb2J0YWluIHBhdGllbnQgZGF0YSBieSA2NiUuXG7il48gQ29tbXVuaWNhdGUg\nYW5kIHByZXNlbnQgZW5kLW9mLXN0dWR5IHJlcG9ydHMgd2l0aCBoaWdoLWxl\ndmVsIGV4ZWN1dGl2ZXMgYW5kIGRpcmVjdG9ycywgZXhwbGFpbmluZyBhbm9t\nYWx5XG5kZXRlY3Rpb25zLCBvdXRsaWVycywgYW5kIGZpbmRpbmdzIGVmZmVj\ndGl2ZWx5IGFjcm9zcyBhbGwgdmFzdGx5IGRpdmVyc2UgYmFja2dyb3VuZCBr\nbm93bGVkZ2UuXG5UaGUgUmVhbGVzdCBHcm91cCwgTExDLiBMb3MgQW5nZWxl\ncywgQ0FcbkRhdGEgU2NpZW50aXN0IEZlYiAyMDE5IOKAkyBKYW4gMjAyMFxu\n4pePIEJ1aWx0IGFuZCBtYWludGFpbiBhIGJhY2tlbmQgZGF0YWJhc2UgdXNp\nbmcgQW1hem9uIHJlZHNoaWZ0IHZpYSBFVEwgcGlwZWxpbmUgdG8gcHJvY2Vz\ncyAxIG1pbGxpb24gcm93cyBvZlxudmVuZG9yIGRhdGEgd2l0aCBtdWx0aXBs\nZSBzY2hlbWFzIGFjcm9zcyAxMCByYXcgQ1NWIGRhdGFzZXRzLlxu4pePIENv\nbGxhYm9yYXRlZCB3aXRoIENFTywgTWFya2V0aW5nIERpcmVjdG9yLCBTYWxl\ncyB0ZWFtIGFuZCBvdGhlciBleGVjdXRpdmVzIHRvIGRyaXZlIGJ1c2luZXNz\nIGRlY2lzaW9ucyB0b1xuaW5jcmVhc2UgcmV2ZW51ZSBieSAzJSB3aXRoaW4g\ndGhlIG5leHQgcXVhcnRlciB3aXRoIG5ldyBpbmNvbWluZyBjbGllbnRlbGUu\nXG7il48gTWVudG9yaW5nIG15IHRlYW0gb2YgMyBkYXRhIHNjaWVudGlzdHMg\nb24gZGF0YSBjbGVhbmluZywgcHJvY2Vzc2luZywgYW5kIGZlYXR1cmUgZW5n\naW5lZXJpbmcgdXNpbmcgcHl0aG9uIHRvXG5wcm9tb3RlIGJlc3QgcHJhY3Rp\nY2VzIGZvciBpbmNvbWluZyBkYXRhc2V0cy5cbk1lZHRyb25pYyBOb3J0aHJp\nZGdlLCBDQVxuQ2xpbmljYWwgUmVzZWFyY2ggU3BlY2lhbGlzdCBKdW4gMjAx\nNSAtIEZlYiAyMDE4XG7il48gTGVhZCBhIGNsaW5pY2FsIHJlc2VhcmNoIHRl\nYW0gb2YgNCB0aGF0IGNvbmR1Y3RlZCBpbi1ob3VzZSBub24tc2lnbmlmaWNh\nbnQgcmlzayBjbGluaWNhbCBzdHVkaWVzIG9uIG1lZGljYWwgZGV2aWNlc1xu\nYW5kIHRlY2hub2xvZ2llcyBnZWFyZWQgdG93YXJkcyBkaWFiZXRlcyBtYW5h\nZ2VtZW50IGFuZCBnbHVjb3NlIGNvbnRyb2wuXG7il48gUHJlc2VudGVkIGlu\nc2lnaHQgdG8gdGhlIGNvbXBhbnnigJlzIENFTywgSGVhZCBvZiBFbmdpbmVl\ncmluZywgYW5kIFImRCBmcm9tIHRoZSBtZWRpY2FsIGRldmljZXMgdGVzdGVk\nIGluIG91clxuY2xpbmljIHVuZGVyIHRoZSBkaXJlY3Qgc3VwZXJ2aXNpb24g\nb2YgU2VuaW9yIEdsb2JhbCBNZWRpY2FsIEFmZmFpcnMgRGlyZWN0b3IuXG7i\nl48gQW5hbHl6ZWQgaHVtYW4gcGh5c2lvbG9naWNhbCBkYXRhIHNldHMgZnJv\nbSB0aGUgY29tcGFueeKAmXMgcHJvcHJpZXRhcnkgQ29udGludW91cyBHbHVj\nb3NlIE1vbml0b3Jpbmcgc3lzdGVtXG50byBpbnZlc3RpZ2F0ZSBhbnkgYW5v\nbWFsaWVzIGFuZCB0cmVuZHMgb24gMTAwMCsgcGF0aWVudHMgdGhyb3VnaG91\ndCB0aGUgc3R1ZHkuXG5FZHVjYXRpb25cbkRlYyAyMDIyIFF1YW50aWMgU2No\nb29sIG9mIEJ1c2luZXNzLCBFeGVjdXRpdmUgTUJBIFdhc2hpbmd0b24sIERD\nXG5NYXkgMjAxNCBVbml2ZXJzaXR5IG9mIEFyaXpvbmEsIEIuUy4gTW9sZWN1\nbGFyIGFuZCBDZWxsdWxhciBCaW9sb2d5IFR1Y3NvbiwgQVpcblNraWxsc2V0\nIiwKICAgICAgICAgICJ2ZXJzaW9uIjogIjIuMTYuMTA1IgogICAgICAgIH0K\nICAgICAgfQogICAgXQogIH0sCiAgInZlcnNpb25JZCI6ICJkZTc4MTc1MS03\nNDMzLTRjYjItOGFlZC1hMjM0NDQxMDAyMTUiLAogICJ0cmlnZ2VyQ291bnQi\nOiAwLAogICJ0YWdzIjogW10KfQoK\n",
          "encoding": "base64",
          "_links": {
            "self": "https://api.github.com/repos/nathankwok/n8n_workflows/contents/workflows/Resume_Analyzer.json?ref=main",
            "git": "https://api.github.com/repos/nathankwok/n8n_workflows/git/blobs/7aaa85914e9f5e5c4b97cdb522615986d5c2295b",
            "html": "https://github.com/nathankwok/n8n_workflows/blob/main/workflows/Resume_Analyzer.json"
          }
        }
      }
    ]
  },
  "versionId": "d4b9409c-0d41-4e03-aa90-8eaa09c69402",
  "triggerCount": 0,
  "tags": []
}

