workflows/Github_Sync.json
{"createdAt":"2025-06-24T04:30:54.982Z","updatedAt":"2025-06-24T04:42:59.694Z","id":"JBYwaVTqakxcjeHE","name":"Github_Sync","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"18dc3ecc-c1c7-4197-9268-3898636323bc","name":"github_owner","type":"string","value":"duynb92"},{"id":"b3778554-4200-4e51-842a-dfca05be4f85","name":"repo_name","type":"string","value":"n8n-workflows"}]},"options":{}},"id":"026c1568-3ea5-4be5-aa0d-8234a8d82d16","name":"Define Local Variables","type":"n8n-nodes-base.set","position":[400,380],"typeVersion":3.4},{"parameters":{"owner":{"__rl":true,"value":"nathankwok","mode":"name"},"repository":{"__rl":true,"mode":"list","value":"n8n-workflows","cachedResultUrl":"https://github.com/duynb92/n8n-workflows","cachedResultName":"n8n-workflows"},"events":["pull_request"],"options":{}},"id":"b0422eef-00aa-415d-bb2c-f18aac27a9eb","name":"Github Trigger - When there is new pull request","type":"n8n-nodes-base.githubTrigger","position":[180,380],"webhookId":"4152c250-0d25-4a1b-8064-1d170c527daf","typeVersion":1,"credentials":{"githubApi":{"id":"KBH9KG8I0VZ6x3LD","name":"GitHub account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"7f447d9f-6a55-4c4c-b9c5-d1f5b5fb1476","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('Github Trigger - When there is new pull request').item.json.body.action }}","rightValue":"closed"},{"id":"ab94d15e-ee80-4f78-8a1a-b9db0c2161ec","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $('Github Trigger - When there is new pull request').item.json.body.pull_request.merged }}","rightValue":""}]},"options":{}},"id":"dc42d9e5-478a-49ce-94ab-da2999a25d75","name":"Check if trigger event is pull request merged","type":"n8n-nodes-base.filter","position":[620,380],"typeVersion":2.2},{"parameters":{"url":"=https://api.github.com/repos/{{ $('Define Local Variables').item.json.github_owner }}/{{ $('Define Local Variables').item.json.repo_name }}/commits/{{ $('Github Trigger - When there is new pull request').item.json.body.pull_request.merge_commit_sha }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{}},"id":"459e9d4e-1e34-4780-8627-370f6d60a789","name":"Fetch merged commit details via GitHub API","type":"n8n-nodes-base.httpRequest","position":[840,380],"typeVersion":4.2},{"parameters":{"fieldToSplitOut":"files","options":{}},"id":"c5600d7a-6611-4aad-a8e1-0582b456e580","name":"Get files changes details","type":"n8n-nodes-base.splitOut","position":[1060,380],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cd4529cc-cf44-4fd9-aa27-49a5557a40ca","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"modified"}]},"options":{}},"id":"3251b6b8-5884-4732-85fa-7858a623d4c3","name":"Filter modified workflows","type":"n8n-nodes-base.filter","position":[1280,280],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"b4d2e160-478b-45e0-ba5d-ea72c2f6d430","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"added"}]},"options":{}},"id":"90afa246-3024-4e45-8bbf-3f8d6557b976","name":"Filter created workflows","type":"n8n-nodes-base.filter","position":[1280,480],"typeVersion":2.2},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.repo_name }}"},"filePath":"={{ $json.filename }}","asBinaryProperty":false,"additionalParameters":{}},"id":"26429abb-dcb7-4297-8627-cd72a2d0b307","name":"Fetch workflow content from Git","type":"n8n-nodes-base.github","position":[1500,480],"webhookId":"afd9f010-9707-4778-bc4a-d933198d8727","typeVersion":1.1},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.repo_name }}"},"filePath":"={{ $json.filename }}","asBinaryProperty":false,"additionalParameters":{}},"id":"8d39afe8-95b2-40bd-8546-03b7cf633fe4","name":"Fetch workflow content from Git1","type":"n8n-nodes-base.github","position":[1500,280],"webhookId":"afd9f010-9707-4778-bc4a-d933198d8727","typeVersion":1.1},{"parameters":{"mode":"raw","jsonOutput":"={{  $json.content.base64Decode() }}","options":{}},"id":"93ea1179-038b-4531-be83-8a08167ec8eb","name":"Decode workflow content to json","type":"n8n-nodes-base.set","position":[1720,280],"typeVersion":3.4},{"parameters":{"mode":"raw","jsonOutput":"={{  $json.content.base64Decode() }}","options":{}},"id":"7325ced5-c31f-415b-8418-8e153cefebb8","name":"Decode workflow content to json1","type":"n8n-nodes-base.set","position":[1720,480],"typeVersion":3.4},{"parameters":{"operation":"update","workflowId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"workflowObject":"={{ $json.toJsonString() }}","requestOptions":{}},"id":"a3ad91c6-44c2-487f-b6d4-87f042d79c0c","name":"Update workflow in n8n","type":"n8n-nodes-base.n8n","position":[1940,280],"typeVersion":1,"credentials":{"n8nApi":{"id":"RqX64FhD5jWjRPpF","name":"n8n account"}}},{"parameters":{"operation":"create","workflowObject":"={{ $json.toJsonString()  }}","requestOptions":{}},"id":"c8a7a5a9-46db-4071-aeee-babf3a9786bf","name":"Create new workflow in n8n","type":"n8n-nodes-base.n8n","position":[1940,480],"typeVersion":1},{"parameters":{"content":"## Setup\n\n1. **Connect GitHub**: Use the `GitHub Trigger` node and configure GitHub API credentials.\nNote: I'd recommended to use *GitHub PAT (Personal Access Token) classic* with `repo` and `admin:repo_hook` permission scopes enabled.\n2. **Connect n8n API**: Provide your n8n API credentials in the `n8n` nodes. - [Check this doc](https://docs.n8n.io/api/authentication/)\n3. **Set repository variables**: Update `github_owner` and `repo_name` in the **Define Local Variables** node.\n4. **Enable webhook**: Make sure your GitHub repository has a webhook for `pull_request` events pointing to this workflow.","height":320,"width":420},"id":"703d9321-c9ba-48b3-bbcb-044d2ba807fb","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1}],"connections":{"Define Local Variables":{"main":[[{"node":"Check if trigger event is pull request merged","type":"main","index":0}]]},"Filter created workflows":{"main":[[{"node":"Fetch workflow content from Git","type":"main","index":0}]]},"Filter modified workflows":{"main":[[{"node":"Fetch workflow content from Git1","type":"main","index":0}]]},"Get files changes details":{"main":[[{"node":"Filter modified workflows","type":"main","index":0},{"node":"Filter created workflows","type":"main","index":0}]]},"Decode workflow content to json":{"main":[[{"node":"Update workflow in n8n","type":"main","index":0}]]},"Fetch workflow content from Git":{"main":[[{"node":"Decode workflow content to json1","type":"main","index":0}]]},"Decode workflow content to json1":{"main":[[{"node":"Create new workflow in n8n","type":"main","index":0}]]},"Fetch workflow content from Git1":{"main":[[{"node":"Decode workflow content to json","type":"main","index":0}]]},"Fetch merged commit details via GitHub API":{"main":[[{"node":"Get files changes details","type":"main","index":0}]]},"Check if trigger event is pull request merged":{"main":[[{"node":"Fetch merged commit details via GitHub API","type":"main","index":0}]]},"Github Trigger - When there is new pull request":{"main":[[{"node":"Define Local Variables","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"541862c3-eacd-4e5a-adbb-985a89be1ac3","triggerCount":0,"tags":[]}