workflows/Github_Sync.json
{"createdAt":"2025-06-24T04:30:54.982Z","updatedAt":"2025-06-24T04:33:54.895Z","id":"JBYwaVTqakxcjeHE","name":"Github_Sync","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"18dc3ecc-c1c7-4197-9268-3898636323bc","name":"github_owner","type":"string","value":"duynb92"},{"id":"b3778554-4200-4e51-842a-dfca05be4f85","name":"repo_name","type":"string","value":"n8n-workflows"}]},"options":{}},"id":"026c1568-3ea5-4be5-aa0d-8234a8d82d16","name":"Define Local Variables","type":"n8n-nodes-base.set","position":[400,380],"typeVersion":3.4},{"parameters":{"owner":{"__rl":true,"mode":"list","value":""},"repository":{"__rl":true,"mode":"list","value":"n8n-workflows","cachedResultUrl":"https://github.com/duynb92/n8n-workflows","cachedResultName":"n8n-workflows"},"events":["pull_request"],"options":{}},"id":"b0422eef-00aa-415d-bb2c-f18aac27a9eb","name":"Github Trigger - When there is new pull request","type":"n8n-nodes-base.githubTrigger","position":[180,380],"webhookId":"4152c250-0d25-4a1b-8064-1d170c527daf","typeVersion":1,"credentials":{"githubApi":{"id":"KBH9KG8I0VZ6x3LD","name":"GitHub account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"7f447d9f-6a55-4c4c-b9c5-d1f5b5fb1476","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('Github Trigger - When there is new pull request').item.json.body.action }}","rightValue":"closed"},{"id":"ab94d15e-ee80-4f78-8a1a-b9db0c2161ec","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $('Github Trigger - When there is new pull request').item.json.body.pull_request.merged }}","rightValue":""}]},"options":{}},"id":"dc42d9e5-478a-49ce-94ab-da2999a25d75","name":"Check if trigger event is pull request merged","type":"n8n-nodes-base.filter","position":[620,380],"typeVersion":2.2},{"parameters":{"url":"=https://api.github.com/repos/{{ $('Define Local Variables').item.json.github_owner }}/{{ $('Define Local Variables').item.json.repo_name }}/commits/{{ $('Github Trigger - When there is new pull request').item.json.body.pull_request.merge_commit_sha }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{}},"id":"459e9d4e-1e34-4780-8627-370f6d60a789","name":"Fetch merged commit details via GitHub API","type":"n8n-nodes-base.httpRequest","position":[840,380],"typeVersion":4.2},{"parameters":{"fieldToSplitOut":"files","options":{}},"id":"c5600d7a-6611-4aad-a8e1-0582b456e580","name":"Get files changes details","type":"n8n-nodes-base.splitOut","position":[1060,380],"typeVersion":1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cd4529cc-cf44-4fd9-aa27-49a5557a40ca","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"modified"}]},"options":{}},"id":"3251b6b8-5884-4732-85fa-7858a623d4c3","name":"Filter modified workflows","type":"n8n-nodes-base.filter","position":[1280,280],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"b4d2e160-478b-45e0-ba5d-ea72c2f6d430","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.status }}","rightValue":"added"}]},"options":{}},"id":"90afa246-3024-4e45-8bbf-3f8d6557b976","name":"Filter created workflows","type":"n8n-nodes-base.filter","position":[1280,480],"typeVersion":2.2},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.repo_name }}"},"filePath":"={{ $json.filename }}","asBinaryProperty":false,"additionalParameters":{}},"id":"26429abb-dcb7-4297-8627-cd72a2d0b307","name":"Fetch workflow content from Git","type":"n8n-nodes-base.github","position":[1500,480],"webhookId":"afd9f010-9707-4778-bc4a-d933198d8727","typeVersion":1.1},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.repo_name }}"},"filePath":"={{ $json.filename }}","asBinaryProperty":false,"additionalParameters":{}},"id":"8d39afe8-95b2-40bd-8546-03b7cf633fe4","name":"Fetch workflow content from Git1","type":"n8n-nodes-base.github","position":[1500,280],"webhookId":"afd9f010-9707-4778-bc4a-d933198d8727","typeVersion":1.1},{"parameters":{"mode":"raw","jsonOutput":"={{  $json.content.base64Decode() }}","options":{}},"id":"93ea1179-038b-4531-be83-8a08167ec8eb","name":"Decode workflow content to json","type":"n8n-nodes-base.set","position":[1720,280],"typeVersion":3.4},{"parameters":{"mode":"raw","jsonOutput":"={{  $json.content.base64Decode() }}","options":{}},"id":"7325ced5-c31f-415b-8418-8e153cefebb8","name":"Decode workflow content to json1","type":"n8n-nodes-base.set","position":[1720,480],"typeVersion":3.4},{"parameters":{"operation":"update","workflowId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"workflowObject":"={{ $json.toJsonString() }}","requestOptions":{}},"id":"a3ad91c6-44c2-487f-b6d4-87f042d79c0c","name":"Update workflow in n8n","type":"n8n-nodes-base.n8n","position":[1940,280],"typeVersion":1},{"parameters":{"operation":"create","workflowObject":"={{ $json.toJsonString()  }}","requestOptions":{}},"id":"c8a7a5a9-46db-4071-aeee-babf3a9786bf","name":"Create new workflow in n8n","type":"n8n-nodes-base.n8n","position":[1940,480],"typeVersion":1},{"parameters":{"content":"## Setup\n\n1. **Connect GitHub**: Use the `GitHub Trigger` node and configure GitHub API credentials.\nNote: I'd recommended to use *GitHub PAT (Personal Access Token) classic* with `repo` and `admin:repo_hook` permission scopes enabled.\n2. **Connect n8n API**: Provide your n8n API credentials in the `n8n` nodes. - [Check this doc](https://docs.n8n.io/api/authentication/)\n3. **Set repository variables**: Update `github_owner` and `repo_name` in the **Define Local Variables** node.\n4. **Enable webhook**: Make sure your GitHub repository has a webhook for `pull_request` events pointing to this workflow.","height":320,"width":420},"id":"703d9321-c9ba-48b3-bbcb-044d2ba807fb","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1}],"connections":{"Define Local Variables":{"main":[[{"node":"Check if trigger event is pull request merged","type":"main","index":0}]]},"Filter created workflows":{"main":[[{"node":"Fetch workflow content from Git","type":"main","index":0}]]},"Filter modified workflows":{"main":[[{"node":"Fetch workflow content from Git1","type":"main","index":0}]]},"Get files changes details":{"main":[[{"node":"Filter modified workflows","type":"main","index":0},{"node":"Filter created workflows","type":"main","index":0}]]},"Decode workflow content to json":{"main":[[{"node":"Update workflow in n8n","type":"main","index":0}]]},"Fetch workflow content from Git":{"main":[[{"node":"Decode workflow content to json1","type":"main","index":0}]]},"Decode workflow content to json1":{"main":[[{"node":"Create new workflow in n8n","type":"main","index":0}]]},"Fetch workflow content from Git1":{"main":[[{"node":"Decode workflow content to json","type":"main","index":0}]]},"Fetch merged commit details via GitHub API":{"main":[[{"node":"Get files changes details","type":"main","index":0}]]},"Check if trigger event is pull request merged":{"main":[[{"node":"Fetch merged commit details via GitHub API","type":"main","index":0}]]},"Github Trigger - When there is new pull request":{"main":[[{"node":"Define Local Variables","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Github Trigger - When there is new pull request":[{"json":{"body":{"action":"closed","number":15,"sender":{"id":10395393,"url":"https://api.github.com/users/duynb92","type":"User","login":"duynb92","node_id":"MDQ6VXNlcjEwMzk1Mzkz","html_url":"https://github.com/duynb92","gists_url":"https://api.github.com/users/duynb92/gists{/gist_id}","repos_url":"https://api.github.com/users/duynb92/repos","avatar_url":"https://avatars.githubusercontent.com/u/10395393?v=4","events_url":"https://api.github.com/users/duynb92/events{/privacy}","site_admin":false,"gravatar_id":"","starred_url":"https://api.github.com/users/duynb92/starred{/owner}{/repo}","followers_url":"https://api.github.com/users/duynb92/followers","following_url":"https://api.github.com/users/duynb92/following{/other_user}","user_view_type":"public","organizations_url":"https://api.github.com/users/duynb92/orgs","subscriptions_url":"https://api.github.com/users/duynb92/subscriptions","received_events_url":"https://api.github.com/users/duynb92/received_events"},"repository":{"id":990786394,"url":"https://api.github.com/repos/duynb92/n8n-workflows","fork":false,"name":"n8n-workflows","size":53,"forks":0,"owner":{"id":10395393,"url":"https://api.github.com/users/duynb92","type":"User","login":"duynb92","node_id":"MDQ6VXNlcjEwMzk1Mzkz","html_url":"https://github.com/duynb92","gists_url":"https://api.github.com/users/duynb92/gists{/gist_id}","repos_url":"https://api.github.com/users/duynb92/repos","avatar_url":"https://avatars.githubusercontent.com/u/10395393?v=4","events_url":"https://api.github.com/users/duynb92/events{/privacy}","site_admin":false,"gravatar_id":"","starred_url":"https://api.github.com/users/duynb92/starred{/owner}{/repo}","followers_url":"https://api.github.com/users/duynb92/followers","following_url":"https://api.github.com/users/duynb92/following{/other_user}","user_view_type":"public","organizations_url":"https://api.github.com/users/duynb92/orgs","subscriptions_url":"https://api.github.com/users/duynb92/subscriptions","received_events_url":"https://api.github.com/users/duynb92/received_events"},"topics":[],"git_url":"git://github.com/duynb92/n8n-workflows.git","license":{"key":"mit","url":"https://api.github.com/licenses/mit","name":"MIT License","node_id":"MDc6TGljZW5zZTEz","spdx_id":"MIT"},"node_id":"R_kgDOOw4zWg","private":true,"ssh_url":"git@github.com:duynb92/n8n-workflows.git","svn_url":"https://github.com/duynb92/n8n-workflows","archived":false,"disabled":false,"has_wiki":false,"homepage":null,"html_url":"https://github.com/duynb92/n8n-workflows","keys_url":"https://api.github.com/repos/duynb92/n8n-workflows/keys{/key_id}","language":null,"tags_url":"https://api.github.com/repos/duynb92/n8n-workflows/tags","watchers":0,"blobs_url":"https://api.github.com/repos/duynb92/n8n-workflows/git/blobs{/sha}","clone_url":"https://github.com/duynb92/n8n-workflows.git","forks_url":"https://api.github.com/repos/duynb92/n8n-workflows/forks","full_name":"duynb92/n8n-workflows","has_pages":false,"hooks_url":"https://api.github.com/repos/duynb92/n8n-workflows/hooks","pulls_url":"https://api.github.com/repos/duynb92/n8n-workflows/pulls{/number}","pushed_at":"2025-05-28T14:56:45Z","teams_url":"https://api.github.com/repos/duynb92/n8n-workflows/teams","trees_url":"https://api.github.com/repos/duynb92/n8n-workflows/git/trees{/sha}","created_at":"2025-05-26T16:24:14Z","events_url":"https://api.github.com/repos/duynb92/n8n-workflows/events","has_issues":true,"issues_url":"https://api.github.com/repos/duynb92/n8n-workflows/issues{/number}","labels_url":"https://api.github.com/repos/duynb92/n8n-workflows/labels{/name}","merges_url":"https://api.github.com/repos/duynb92/n8n-workflows/merges","mirror_url":null,"updated_at":"2025-05-27T16:55:41Z","visibility":"private","archive_url":"https://api.github.com/repos/duynb92/n8n-workflows/{archive_format}{/ref}","commits_url":"https://api.github.com/repos/duynb92/n8n-workflows/commits{/sha}","compare_url":"https://api.github.com/repos/duynb92/n8n-workflows/compare/{base}...{head}","description":null,"forks_count":0,"is_template":false,"open_issues":0,"branches_url":"https://api.github.com/repos/duynb92/n8n-workflows/branches{/branch}","comments_url":"https://api.github.com/repos/duynb92/n8n-workflows/comments{/number}","contents_url":"https://api.github.com/repos/duynb92/n8n-workflows/contents/{+path}","git_refs_url":"https://api.github.com/repos/duynb92/n8n-workflows/git/refs{/sha}","git_tags_url":"https://api.github.com/repos/duynb92/n8n-workflows/git/tags{/sha}","has_projects":true,"releases_url":"https://api.github.com/repos/duynb92/n8n-workflows/releases{/id}","statuses_url":"https://api.github.com/repos/duynb92/n8n-workflows/statuses/{sha}","allow_forking":true,"assignees_url":"https://api.github.com/repos/duynb92/n8n-workflows/assignees{/user}","downloads_url":"https://api.github.com/repos/duynb92/n8n-workflows/downloads","has_downloads":true,"languages_url":"https://api.github.com/repos/duynb92/n8n-workflows/languages","default_branch":"main","milestones_url":"https://api.github.com/repos/duynb92/n8n-workflows/milestones{/number}","stargazers_url":"https://api.github.com/repos/duynb92/n8n-workflows/stargazers","watchers_count":0,"deployments_url":"https://api.github.com/repos/duynb92/n8n-workflows/deployments","git_commits_url":"https://api.github.com/repos/duynb92/n8n-workflows/git/commits{/sha}","has_discussions":false,"subscribers_url":"https://api.github.com/repos/duynb92/n8n-workflows/subscribers","contributors_url":"https://api.github.com/repos/duynb92/n8n-workflows/contributors","issue_events_url":"https://api.github.com/repos/duynb92/n8n-workflows/issues/events{/number}","stargazers_count":0,"subscription_url":"https://api.github.com/repos/duynb92/n8n-workflows/subscription","collaborators_url":"https://api.github.com/repos/duynb92/n8n-workflows/collaborators{/collaborator}","issue_comment_url":"https://api.github.com/repos/duynb92/n8n-workflows/issues/comments{/number}","notifications_url":"https://api.github.com/repos/duynb92/n8n-workflows/notifications{?since,all,participating}","open_issues_count":0,"web_commit_signoff_required":false},"pull_request":{"id":2549822579,"url":"https://api.github.com/repos/duynb92/n8n-workflows/pulls/15","base":{"ref":"main","sha":"ed692330f94f6a25f525d575a2717e2873759b89","repo":{"id":990786394,"url":"https://api.github.com/repos/duynb92/n8n-workflows","fork":false,"name":"n8n-workflows","size":53,"forks":0,"owner":{"id":10395393,"url":"https://api.github.com/users/duynb92","type":"User","login":"duynb92","node_id":"MDQ6VXNlcjEwMzk1Mzkz","html_url":"https://github.com/duynb92","gists_url":"https://api.github.com/users/duynb92/gists{/gist_id}","repos_url":"https://api.github.com/users/duynb92/repos","avatar_url":"https://avatars.githubusercontent.com/u/10395393?v=4","events_url":"https://api.github.com/users/duynb92/events{/privacy}","site_admin":false,"gravatar_id":"","starred_url":"https://api.github.com/users/duynb92/starred{/owner}{/repo}","followers_url":"https://api.github.com/users/duynb92/followers","following_url":"https://api.github.com/users/duynb92/following{/other_user}","user_view_type":"public","organizations_url":"https://api.github.com/users/duynb92/orgs","subscriptions_url":"https://api.github.com/users/duynb92/subscriptions","received_events_url":"https://api.github.com/users/duynb92/received_events"},"topics":[],"git_url":"git://github.com/duynb92/n8n-workflows.git","license":{"key":"mit","url":"https://api.github.com/licenses/mit","name":"MIT License","node_id":"MDc6TGljZW5zZTEz","spdx_id":"MIT"},"node_id":"R_kgDOOw4zWg","private":true,"ssh_url":"git@github.com:duynb92/n8n-workflows.git","svn_url":"https://github.com/duynb92/n8n-workflows","archived":false,"disabled":false,"has_wiki":false,"homepage":null,"html_url":"https://github.com/duynb92/n8n-workflows","keys_url":"https://api.github.com/repos/duynb92/n8n-workflows/keys{/key_id}","language":null,"tags_url":"https://api.github.com/repos/duynb92/n8n-workflows/tags","watchers":0,"blobs_url":"https://api.github.com/repos/duynb92/n8n-workflows/git/blobs{/sha}","clone_url":"https://github.com/duynb92/n8n-workflows.git","forks_url":"https://api.github.com/repos/duynb92/n8n-workflows/forks","full_name":"duynb92/n8n-workflows","has_pages":false,"hooks_url":"https://api.github.com/repos/duynb92/n8n-workflows/hooks","pulls_url":"https://api.github.com/repos/duynb92/n8n-workflows/pulls{/number}","pushed_at":"2025-05-28T14:56:45Z","teams_url":"https://api.github.com/repos/duynb92/n8n-workflows/teams","trees_url":"https://api.github.com/repos/duynb92/n8n-workflows/git/trees{/sha}","created_at":"2025-05-26T16:24:14Z","events_url":"https://api.github.com/repos/duynb92/n8n-workflows/events","has_issues":true,"issues_url":"https://api.github.com/repos/duynb92/n8n-workflows/issues{/number}","labels_url":"https://api.github.com/repos/duynb92/n8n-workflows/labels{/name}","merges_url":"https://api.github.com/repos/duynb92/n8n-workflows/merges","mirror_url":null,"updated_at":"2025-05-27T16:55:41Z","visibility":"private","archive_url":"https://api.github.com/repos/duynb92/n8n-workflows/{archive_format}{/ref}","commits_url":"https://api.github.com/repos/duynb92/n8n-workflows/commits{/sha}","compare_url":"https://api.github.com/repos/duynb92/n8n-workflows/compare/{base}...{head}","description":null,"forks_count":0,"is_template":false,"open_issues":0,"branches_url":"https://api.github.com/repos/duynb92/n8n-workflows/branches{/branch}","comments_url":"https://api.github.com/repos/duynb92/n8n-workflows/comments{/number}","contents_url":"https://api.github.com/repos/duynb92/n8n-workflows/contents/{+path}","git_refs_url":"https://api.github.com/repos/duynb92/n8n-workflows/git/refs{/sha}","git_tags_url":"https://api.github.com/repos/duynb92/n8n-workflows/git/tags{/sha}","has_projects":true,"releases_url":"https://api.github.com/repos/duynb92/n8n-workflows/releases{/id}","statuses_url":"https://api.github.com/repos/duynb92/n8n-workflows/statuses/{sha}","allow_forking":true,"assignees_url":"https://api.github.com/repos/duynb92/n8n-workflows/assignees{/user}","downloads_url":"https://api.github.com/repos/duynb92/n8n-workflows/downloads","has_downloads":true,"languages_url":"https://api.github.com/repos/duynb92/n8n-workflows/languages","default_branch":"main","milestones_url":"https://api.github.com/repos/duynb92/n8n-workflows/milestones{/number}","stargazers_url":"https://api.github.com/repos/duynb92/n8n-workflows/stargazers","watchers_count":0,"deployments_url":"https://api.github.com/repos/duynb92/n8n-workflows/deployments","git_commits_url":"https://api.github.com/repos/duynb92/n8n-workflows/git/commits{/sha}","has_discussions":false,"subscribers_url":"https://api.github.com/repos/duynb92/n8n-workflows/subscribers","allow_auto_merge":false,"contributors_url":"https://api.github.com/repos/duynb92/n8n-workflows/contributors","issue_events_url":"https://api.github.com/repos/duynb92/n8n-workflows/issues/events{/number}","stargazers_count":0,"subscription_url":"https://api.github.com/repos/duynb92/n8n-workflows/subscription","collaborators_url":"https://api.github.com/repos/duynb92/n8n-workflows/collaborators{/collaborator}","issue_comment_url":"https://api.github.com/repos/duynb92/n8n-workflows/issues/comments{/number}","notifications_url":"https://api.github.com/repos/duynb92/n8n-workflows/notifications{?since,all,participating}","open_issues_count":0,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_squash_merge":true,"merge_commit_title":"MERGE_MESSAGE","allow_update_branch":false,"merge_commit_message":"PR_TITLE","delete_branch_on_merge":true,"squash_merge_commit_title":"COMMIT_OR_PR_TITLE","squash_merge_commit_message":"COMMIT_MESSAGES","web_commit_signoff_required":false,"use_squash_pr_title_as_default":false},"user":{"id":10395393,"url":"https://api.github.com/users/duynb92","type":"User","login":"duynb92","node_id":"MDQ6VXNlcjEwMzk1Mzkz","html_url":"https://github.com/duynb92","gists_url":"https://api.github.com/users/duynb92/gists{/gist_id}","repos_url":"https://api.github.com/users/duynb92/repos","avatar_url":"https://avatars.githubusercontent.com/u/10395393?v=4","events_url":"https://api.github.com/users/duynb92/events{/privacy}","site_admin":false,"gravatar_id":"","starred_url":"https://api.github.com/users/duynb92/starred{/owner}{/repo}","followers_url":"https://api.github.com/users/duynb92/followers","following_url":"https://api.github.com/users/duynb92/following{/other_user}","user_view_type":"public","organizations_url":"https://api.github.com/users/duynb92/orgs","subscriptions_url":"https://api.github.com/users/duynb92/subscriptions","received_events_url":"https://api.github.com/users/duynb92/received_events"},"label":"duynb92:main"},"body":null,"head":{"ref":"workflows_2025-05-28-09-56-29","sha":"e886ae1e4b8cbcee88cd1a755e1047dd54061d09","repo":{"id":990786394,"url":"https://api.github.com/repos/duynb92/n8n-workflows","fork":false,"name":"n8n-workflows","size":53,"forks":0,"owner":{"id":10395393,"url":"https://api.github.com/users/duynb92","type":"User","login":"duynb92","node_id":"MDQ6VXNlcjEwMzk1Mzkz","html_url":"https://github.com/duynb92","gists_url":"https://api.github.com/users/duynb92/gists{/gist_id}","repos_url":"https://api.github.com/users/duynb92/repos","avatar_url":"https://avatars.githubusercontent.com/u/10395393?v=4","events_url":"https://api.github.com/users/duynb92/events{/privacy}","site_admin":false,"gravatar_id":"","starred_url":"https://api.github.com/users/duynb92/starred{/owner}{/repo}","followers_url":"https://api.github.com/users/duynb92/followers","following_url":"https://api.github.com/users/duynb92/following{/other_user}","user_view_type":"public","organizations_url":"https://api.github.com/users/duynb92/orgs","subscriptions_url":"https://api.github.com/users/duynb92/subscriptions","received_events_url":"https://api.github.com/users/duynb92/received_events"},"topics":[],"git_url":"git://github.com/duynb92/n8n-workflows.git","license":{"key":"mit","url":"https://api.github.com/licenses/mit","name":"MIT License","node_id":"MDc6TGljZW5zZTEz","spdx_id":"MIT"},"node_id":"R_kgDOOw4zWg","private":true,"ssh_url":"git@github.com:duynb92/n8n-workflows.git","svn_url":"https://github.com/duynb92/n8n-workflows","archived":false,"disabled":false,"has_wiki":false,"homepage":null,"html_url":"https://github.com/duynb92/n8n-workflows","keys_url":"https://api.github.com/repos/duynb92/n8n-workflows/keys{/key_id}","language":null,"tags_url":"https://api.github.com/repos/duynb92/n8n-workflows/tags","watchers":0,"blobs_url":"https://api.github.com/repos/duynb92/n8n-workflows/git/blobs{/sha}","clone_url":"https://github.com/duynb92/n8n-workflows.git","forks_url":"https://api.github.com/repos/duynb92/n8n-workflows/forks","full_name":"duynb92/n8n-workflows","has_pages":false,"hooks_url":"https://api.github.com/repos/duynb92/n8n-workflows/hooks","pulls_url":"https://api.github.com/repos/duynb92/n8n-workflows/pulls{/number}","pushed_at":"2025-05-28T14:56:45Z","teams_url":"https://api.github.com/repos/duynb92/n8n-workflows/teams","trees_url":"https://api.github.com/repos/duynb92/n8n-workflows/git/trees{/sha}","created_at":"2025-05-26T16:24:14Z","events_url":"https://api.github.com/repos/duynb92/n8n-workflows/events","has_issues":true,"issues_url":"https://api.github.com/repos/duynb92/n8n-workflows/issues{/number}","labels_url":"https://api.github.com/repos/duynb92/n8n-workflows/labels{/name}","merges_url":"https://api.github.com/repos/duynb92/n8n-workflows/merges","mirror_url":null,"updated_at":"2025-05-27T16:55:41Z","visibility":"private","archive_url":"https://api.github.com/repos/duynb92/n8n-workflows/{archive_format}{/ref}","commits_url":"https://api.github.com/repos/duynb92/n8n-workflows/commits{/sha}","compare_url":"https://api.github.com/repos/duynb92/n8n-workflows/compare/{base}...{head}","description":null,"forks_count":0,"is_template":false,"open_issues":0,"branches_url":"https://api.github.com/repos/duynb92/n8n-workflows/branches{/branch}","comments_url":"https://api.github.com/repos/duynb92/n8n-workflows/comments{/number}","contents_url":"https://api.github.com/repos/duynb92/n8n-workflows/contents/{+path}","git_refs_url":"https://api.github.com/repos/duynb92/n8n-workflows/git/refs{/sha}","git_tags_url":"https://api.github.com/repos/duynb92/n8n-workflows/git/tags{/sha}","has_projects":true,"releases_url":"https://api.github.com/repos/duynb92/n8n-workflows/releases{/id}","statuses_url":"https://api.github.com/repos/duynb92/n8n-workflows/statuses/{sha}","allow_forking":true,"assignees_url":"https://api.github.com/repos/duynb92/n8n-workflows/assignees{/user}","downloads_url":"https://api.github.com/repos/duynb92/n8n-workflows/downloads","has_downloads":true,"languages_url":"https://api.github.com/repos/duynb92/n8n-workflows/languages","default_branch":"main","milestones_url":"https://api.github.com/repos/duynb92/n8n-workflows/milestones{/number}","stargazers_url":"https://api.github.com/repos/duynb92/n8n-workflows/stargazers","watchers_count":0,"deployments_url":"https://api.github.com/repos/duynb92/n8n-workflows/deployments","git_commits_url":"https://api.github.com/repos/duynb92/n8n-workflows/git/commits{/sha}","has_discussions":false,"subscribers_url":"https://api.github.com/repos/duynb92/n8n-workflows/subscribers","allow_auto_merge":false,"contributors_url":"https://api.github.com/repos/duynb92/n8n-workflows/contributors","issue_events_url":"https://api.github.com/repos/duynb92/n8n-workflows/issues/events{/number}","stargazers_count":0,"subscription_url":"https://api.github.com/repos/duynb92/n8n-workflows/subscription","collaborators_url":"https://api.github.com/repos/duynb92/n8n-workflows/collaborators{/collaborator}","issue_comment_url":"https://api.github.com/repos/duynb92/n8n-workflows/issues/comments{/number}","notifications_url":"https://api.github.com/repos/duynb92/n8n-workflows/notifications{?since,all,participating}","open_issues_count":0,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_squash_merge":true,"merge_commit_title":"MERGE_MESSAGE","allow_update_branch":false,"merge_commit_message":"PR_TITLE","delete_branch_on_merge":true,"squash_merge_commit_title":"COMMIT_OR_PR_TITLE","squash_merge_commit_message":"COMMIT_MESSAGES","web_commit_signoff_required":false,"use_squash_pr_title_as_default":false},"user":{"id":10395393,"url":"https://api.github.com/users/duynb92","type":"User","login":"duynb92","node_id":"MDQ6VXNlcjEwMzk1Mzkz","html_url":"https://github.com/duynb92","gists_url":"https://api.github.com/users/duynb92/gists{/gist_id}","repos_url":"https://api.github.com/users/duynb92/repos","avatar_url":"https://avatars.githubusercontent.com/u/10395393?v=4","events_url":"https://api.github.com/users/duynb92/events{/privacy}","site_admin":false,"gravatar_id":"","starred_url":"https://api.github.com/users/duynb92/starred{/owner}{/repo}","followers_url":"https://api.github.com/users/duynb92/followers","following_url":"https://api.github.com/users/duynb92/following{/other_user}","user_view_type":"public","organizations_url":"https://api.github.com/users/duynb92/orgs","subscriptions_url":"https://api.github.com/users/duynb92/subscriptions","received_events_url":"https://api.github.com/users/duynb92/received_events"},"label":"duynb92:workflows_2025-05-28-09-56-29"},"user":{"id":10395393,"url":"https://api.github.com/users/duynb92","type":"User","login":"duynb92","node_id":"MDQ6VXNlcjEwMzk1Mzkz","html_url":"https://github.com/duynb92","gists_url":"https://api.github.com/users/duynb92/gists{/gist_id}","repos_url":"https://api.github.com/users/duynb92/repos","avatar_url":"https://avatars.githubusercontent.com/u/10395393?v=4","events_url":"https://api.github.com/users/duynb92/events{/privacy}","site_admin":false,"gravatar_id":"","starred_url":"https://api.github.com/users/duynb92/starred{/owner}{/repo}","followers_url":"https://api.github.com/users/duynb92/followers","following_url":"https://api.github.com/users/duynb92/following{/other_user}","user_view_type":"public","organizations_url":"https://api.github.com/users/duynb92/orgs","subscriptions_url":"https://api.github.com/users/duynb92/subscriptions","received_events_url":"https://api.github.com/users/duynb92/received_events"},"draft":false,"state":"closed","title":"Automated PR for workflows_2025-05-28-09-56-29","_links":{"html":{"href":"https://github.com/duynb92/n8n-workflows/pull/15"},"self":{"href":"https://api.github.com/repos/duynb92/n8n-workflows/pulls/15"},"issue":{"href":"https://api.github.com/repos/duynb92/n8n-workflows/issues/15"},"commits":{"href":"https://api.github.com/repos/duynb92/n8n-workflows/pulls/15/commits"},"comments":{"href":"https://api.github.com/repos/duynb92/n8n-workflows/issues/15/comments"},"statuses":{"href":"https://api.github.com/repos/duynb92/n8n-workflows/statuses/e886ae1e4b8cbcee88cd1a755e1047dd54061d09"},"review_comment":{"href":"https://api.github.com/repos/duynb92/n8n-workflows/pulls/comments{/number}"},"review_comments":{"href":"https://api.github.com/repos/duynb92/n8n-workflows/pulls/15/comments"}},"labels":[],"locked":false,"merged":true,"number":15,"commits":3,"node_id":"PR_kwDOOw4zWs6X-zRz","assignee":null,"comments":0,"diff_url":"https://github.com/duynb92/n8n-workflows/pull/15.diff","html_url":"https://github.com/duynb92/n8n-workflows/pull/15","additions":2,"assignees":[],"closed_at":"2025-05-28T14:57:54Z","deletions":1,"issue_url":"https://api.github.com/repos/duynb92/n8n-workflows/issues/15","mergeable":null,"merged_at":"2025-05-28T14:57:54Z","merged_by":{"id":10395393,"url":"https://api.github.com/users/duynb92","type":"User","login":"duynb92","node_id":"MDQ6VXNlcjEwMzk1Mzkz","html_url":"https://github.com/duynb92","gists_url":"https://api.github.com/users/duynb92/gists{/gist_id}","repos_url":"https://api.github.com/users/duynb92/repos","avatar_url":"https://avatars.githubusercontent.com/u/10395393?v=4","events_url":"https://api.github.com/users/duynb92/events{/privacy}","site_admin":false,"gravatar_id":"","starred_url":"https://api.github.com/users/duynb92/starred{/owner}{/repo}","followers_url":"https://api.github.com/users/duynb92/followers","following_url":"https://api.github.com/users/duynb92/following{/other_user}","user_view_type":"public","organizations_url":"https://api.github.com/users/duynb92/orgs","subscriptions_url":"https://api.github.com/users/duynb92/subscriptions","received_events_url":"https://api.github.com/users/duynb92/received_events"},"milestone":null,"patch_url":"https://github.com/duynb92/n8n-workflows/pull/15.patch","auto_merge":null,"created_at":"2025-05-28T14:56:45Z","rebaseable":null,"updated_at":"2025-05-28T14:57:54Z","commits_url":"https://api.github.com/repos/duynb92/n8n-workflows/pulls/15/commits","comments_url":"https://api.github.com/repos/duynb92/n8n-workflows/issues/15/comments","statuses_url":"https://api.github.com/repos/duynb92/n8n-workflows/statuses/e886ae1e4b8cbcee88cd1a755e1047dd54061d09","changed_files":2,"mergeable_state":"unknown","requested_teams":[],"review_comments":0,"merge_commit_sha":"ede7bda7aa8d86ff2b7593eb56300a924787315b","active_lock_reason":null,"author_association":"OWNER","review_comment_url":"https://api.github.com/repos/duynb92/n8n-workflows/pulls/comments{/number}","requested_reviewers":[],"review_comments_url":"https://api.github.com/repos/duynb92/n8n-workflows/pulls/15/comments","maintainer_can_modify":false}},"query":{},"headers":{"host":"workflows.agileops.dev","accept":"*/*","cf-ray":"946e9b701da87faa-IAD","cdn-loop":"cloudflare; loops=1","cf-visitor":"{\"scheme\":\"https\"}","connection":"keep-alive","user-agent":"GitHub-Hookshot/e2f7ff6","cf-ipcountry":"US","content-type":"application/json","cf-warp-tag-id":"df66551b-d6a2-4652-80d0-05d5dbb8fa3f","content-length":"23394","x-github-event":"pull_request","accept-encoding":"gzip, br","x-forwarded-for":"140.82.115.25","cf-connecting-ip":"140.82.115.25","x-github-hook-id":"549091902","x-forwarded-proto":"https","x-github-delivery":"225de610-3bd4-11f0-8d5b-73eeea44cfea","x-github-hook-installation-target-id":"990786394","x-github-hook-installation-target-type":"repository"}}}]},"versionId":"791f10c9-d7d0-41bf-b455-ad99a085b44c","triggerCount":0,"tags":[]}