workflows/Global Vars.json
{
  "createdAt": "2025-09-27T07:26:04.632Z",
  "updatedAt": "2025-10-01T01:21:23.051Z",
  "id": "n0RS6lMwHNeLTrk9",
  "name": "Global Vars",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1584,
        -208
      ],
      "id": "55a7f4d0-35b4-4c0f-8be1-07ebab7fcfb3",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"snowflake_base_url\": \"https://ml16699-hya89079.snowflakecomputing.com\",\n  \"omni_documents_search_service\": {\n    \"snowflake_database\": \"ANALYTICS\",\n    \"snowflake_schema\": \"OMNI\",\n    \"service_name\": \"omni_documents_search_service\"\n  },\n  \"omni_document_queries_query_table_search_service\": {\n    \"snowflake_database\": \"ANALYTICS\",\n    \"snowflake_schema\": \"OMNI\",\n    \"agent_name\": \"omni_document_queries_query_table_search_service\"\n  },\n  \"omni_document_queries_query_name_search_service\": {\n    \"snowflake_database\": \"ANALYTICS\",\n    \"snowflake_schema\": \"OMNI\",\n    \"agent_name\": \"omni_document_queries_query_name_search_service\"\n  },\n  \"omni_documents_analyst_agent\": {\n    \"snowflake_database\": \"SNOWFLAKE_INTELLIGENCE\",\n    \"snowflake_schema\": \"AGENTS\",\n    \"agent_name\": \"OMNI_DOCUMENTS_ANALYST_AGENT\"\n  },\n  \"zapier_slack_response_webhook\": {\n    \"webhook_url\": \"https://hooks.zapier.com/hooks/catch/23046078/u1mp0gx/\"\n  },\n  \"slack\": {\n    \"error_message\": \"The Omni agent could not find relevant dashboards :cry:\"\n  },\n  \"omni_api\":{\n    \"omni_base_url\": \"https://cribl.omniapp.co\",\n    \"model_id\": \"4345b118-cbbe-4f7c-a705-ea0aa8da57c0\"\n  },\n  \"snowflake_tables\": {\n    \"omni_users\": {\n      \"snowflake_database\": \"ANALYTICS\",\n      \"snowflake_schema\": \"OMNI\",\n      \"table_name\": \"OMNI_USERS\"\n    },\n    \"omni_documents\": {\n      \"snowflake_database\": \"ANALYTICS\",\n      \"snowflake_schema\": \"OMNI\",\n      \"table_name\": \"DOCUMENTS\"\n    },\n    \"omni_document_queries\": {\n      \"snowflake_database\": \"ANALYTICS\",\n      \"snowflake_schema\": \"OMNI\",\n      \"table_name\": \"DOCUMENT_QUERIES\"\n    },\n    \"dashboard_recommendations\": {\n      \"snowflake_database\": \"RAW\",\n      \"snowflake_schema\": \"OMNI\",\n      \"table_name\": \"DASHBOARD_RECOMMENDATIONS\"\n    },\n    \"dashboard_recommendations_feedback\": {\n      \"snowflake_database\": \"RAW\",\n      \"snowflake_schema\": \"OMNI\",\n      \"table_name\": \"DASHBOARD_RECOMMENDATIONS_FEEDBACK\"\n    }   \n  }\n}",
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "body",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1264,
        -208
      ],
      "id": "e8df2ca2-ffad-4242-8427-6b4c4f599f19",
      "name": "Global Vars",
      "notes": "Adds common fields for dashboard discovery workflows"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c0597d0-8243-49f8-bd58-5c8b0dc83099",
              "leftValue": "={{ $json.body.message_user_email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "f71ac4db-d2d9-417a-8116-f582b7edd068",
              "leftValue": "={{ $json.body.message_user_email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "0b48e78a-ce21-49a9-b636-1e75255bb59e",
              "leftValue": "={{ $json.body.message_user_email }}",
              "rightValue": "cribl.io",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -976,
        -208
      ],
      "id": "fcf737fc-345e-4b75-94a7-1eb21e6e102a",
      "name": "If",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('Global Vars').item.json.toJsonString() }}\n\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -736,
        48
      ],
      "id": "01d9a42b-4e5f-4ee2-98b2-ec206b645a87",
      "name": "Return Output",
      "notesInFlow": true,
      "notes": "Returns Global Vars output without change"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select user_id from \"{{ $json.snowflake_tables.omni_users.snowflake_database }}\".\"{{ $json.snowflake_tables.omni_users.snowflake_schema }}\".\"{{ $json.snowflake_tables.omni_users.table_name }}\" where user_email = '{{ $('Global Vars').item.json.body.message_user_email }}'"
      },
      "type": "n8n-nodes-base.snowflake",
      "typeVersion": 1,
      "position": [
        -624,
        -304
      ],
      "id": "8fb67344-65cd-4a7e-b0a9-6d7d167e90b9",
      "name": "Get Omni User ID",
      "credentials": {
        "snowflake": {
          "id": "RmOaMDo0Ilqq9Xvl",
          "name": "Snowflake TRANSFORM"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const omni_user_id_obj = $('Get Omni User ID').item.json;\nconst global_vars_obj = $('Global Vars').item.json;\nconst omni_api = global_vars_obj['omni_api'];\n\nomni_api['omni_user_id'] = omni_user_id_obj['USER_ID'];\n\nglobal_vars_obj['omni_api'] = omni_api;\n\nreturn global_vars_obj;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -304
      ],
      "id": "77849ef3-7abc-4234-8773-85d04284702a",
      "name": "Insert Omni User ID into Omni API Obj"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Global Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Vars": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Omni User ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Omni User ID": {
      "main": [
        [
          {
            "node": "Insert Omni User ID into Omni API Obj",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "headers": {
            "host": "n8n-relayer-1.app.n8n.cloud",
            "user-agent": "PostmanRuntime/7.47.1",
            "content-length": "948",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "authorization": "Basic emFwaWVyOldNRXY4NDlmcGZGVlpYNkdoQjM2MGFmT3JmMWtfRFF2TlhfOFRSSjEzS1U=",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "172.56.42.92",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "986fe3e933d24b1f-LAX",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "172.56.42.92, 104.23.251.97",
            "x-forwarded-host": "n8n-relayer-1.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-72-585f59b6c7-ndz7z",
            "x-is-trusted": "yes",
            "x-real-ip": "172.56.42.92"
          },
          "params": {},
          "query": {},
          "body": {
            "channel_id": "C0912AANW1L",
            "channel_name": "data-eng-test-ai-channel",
            "conversation_id": "C0912AANW1L",
            "event_id": "1759194864.008200",
            "event_timestamp": "2025-09-30T01:14:24.008Z",
            "is_message_user_bot": "False",
            "message_text": "Hi team - Is there a dashboard in Omni to see free cribl cloud users, and associated email addresses within accounts I own similar to https://cribl.cloud.looker.com/explore/Product/cloud_orgs?qid=6AczKnvfgAdLscURN8AKDq&amp;toggle=filthis one> I used in looker?",
            "message_timestamp": "2025-09-30T01:14:21.395Z",
            "message_ts": "1759194861.395459",
            "message_user_email": "nkwok@cribl.io",
            "message_user_first_name": "Nathan",
            "message_user_id": "U06PVBEK9T6",
            "message_user_last_name": "Kwok",
            "message_user_name": "nathan_kwok",
            "reaction": "omni",
            "reaction_user_email": "nkwok@cribl.io",
            "reaction_user_id": "U06PVBEK9T6",
            "team_domain": "cribl",
            "team_id": "T3XQYAF26"
          },
          "webhookUrl": "https://n8n-relayer-1.app.n8n.cloud/webhook-test/8394a134-6af3-4ec0-b605-3270129037cc",
          "executionMode": "test"
        }
      }
    ],
    "Global Vars": [
      {
        "json": {
          "body": {
            "channel_id": "C0912AANW1L",
            "channel_name": "data-eng-test-ai-channel",
            "conversation_id": "C0912AANW1L",
            "event_id": "1759194864.008200",
            "event_timestamp": "2025-09-30T01:14:24.008Z",
            "is_message_user_bot": "False",
            "message_text": "Hi team - Is there a dashboard in Omni to see free cribl cloud users, and associated email addresses within accounts I own similar to https://cribl.cloud.looker.com/explore/Product/cloud_orgs?qid=6AczKnvfgAdLscURN8AKDq&amp;toggle=filthis one> I used in looker?",
            "message_timestamp": "2025-09-30T01:14:21.395Z",
            "message_ts": "1759194861.395459",
            "message_user_email": "nkwok@cribl.io",
            "message_user_first_name": "Nathan",
            "message_user_id": "U06PVBEK9T6",
            "message_user_last_name": "Kwok",
            "message_user_name": "nathan_kwok",
            "reaction": "omni",
            "reaction_user_email": "nkwok@cribl.io",
            "reaction_user_id": "U06PVBEK9T6",
            "team_domain": "cribl",
            "team_id": "T3XQYAF26"
          },
          "snowflake_base_url": "https://ml16699-hya89079.snowflakecomputing.com",
          "omni_documents_search_service": {
            "snowflake_database": "ANALYTICS",
            "snowflake_schema": "OMNI",
            "service_name": "omni_documents_search_service"
          },
          "omni_document_queries_query_table_search_service": {
            "snowflake_database": "ANALYTICS",
            "snowflake_schema": "OMNI",
            "agent_name": "omni_document_queries_query_table_search_service"
          },
          "omni_document_queries_query_name_search_service": {
            "snowflake_database": "ANALYTICS",
            "snowflake_schema": "OMNI",
            "agent_name": "omni_document_queries_query_name_search_service"
          },
          "omni_documents_analyst_agent": {
            "snowflake_database": "SNOWFLAKE_INTELLIGENCE",
            "snowflake_schema": "AGENTS",
            "agent_name": "OMNI_DOCUMENTS_ANALYST_AGENT"
          },
          "zapier_slack_response_webhook": {
            "webhook_url": "https://hooks.zapier.com/hooks/catch/23046078/u1mp0gx/"
          },
          "slack": {
            "error_message": "The Omni agent could not find relevant dashboards :cry:"
          },
          "omni_api": {
            "omni_base_url": "https://cribl.omniapp.co",
            "model_id": "4345b118-cbbe-4f7c-a705-ea0aa8da57c0"
          },
          "snowflake_tables": {
            "omni_users": {
              "snowflake_database": "ANALYTICS",
              "snowflake_schema": "OMNI",
              "table_name": "OMNI_USERS"
            },
            "omni_documents": {
              "snowflake_database": "ANALYTICS",
              "snowflake_schema": "OMNI",
              "table_name": "DOCUMENTS"
            },
            "omni_document_queries": {
              "snowflake_database": "ANALYTICS",
              "snowflake_schema": "OMNI",
              "table_name": "DOCUMENT_QUERIES"
            },
            "dashboard_recommendations": {
              "snowflake_database": "RAW",
              "snowflake_schema": "OMNI",
              "table_name": "DASHBOARD_RECOMMENDATIONS"
            },
            "dashboard_recommendations_feedback": {
              "snowflake_database": "RAW",
              "snowflake_schema": "OMNI",
              "table_name": "DASHBOARD_RECOMMENDATIONS_FEEDBACK"
            }
          }
        }
      }
    ],
    "Return Output": [
      {
        "json": {
          "body": {
            "channel_id": "C0912AANW1L",
            "channel_name": "data-eng-test-ai-channel",
            "conversation_id": "C0912AANW1L",
            "event_id": "1759194864.008200",
            "event_timestamp": "2025-09-30T01:14:24.008Z",
            "is_message_user_bot": "False",
            "message_text": "Hi team - Is there a dashboard in Omni to see free cribl cloud users, and associated email addresses within accounts I own similar to https://cribl.cloud.looker.com/explore/Product/cloud_orgs?qid=6AczKnvfgAdLscURN8AKDq&amp;toggle=filthis one> I used in looker?",
            "message_timestamp": "2025-09-30T01:14:21.395Z",
            "message_ts": "1759194861.395459",
            "message_user_email": "nkwok@cribl.io",
            "message_user_first_name": "Nathan",
            "message_user_id": "U06PVBEK9T6",
            "message_user_last_name": "Kwok",
            "message_user_name": "nathan_kwok",
            "reaction": "omni",
            "reaction_user_email": "nkwok@cribl.io",
            "reaction_user_id": "U06PVBEK9T6",
            "team_domain": "cribl",
            "team_id": "T3XQYAF26"
          },
          "snowflake_base_url": "https://ml16699-hya89079.snowflakecomputing.com",
          "omni_documents_search_service": {
            "snowflake_database": "ANALYTICS",
            "snowflake_schema": "OMNI",
            "service_name": "omni_documents_search_service"
          },
          "omni_document_queries_query_table_search_service": {
            "snowflake_database": "ANALYTICS",
            "snowflake_schema": "OMNI",
            "agent_name": "omni_document_queries_query_table_search_service"
          },
          "omni_document_queries_query_name_search_service": {
            "snowflake_database": "ANALYTICS",
            "snowflake_schema": "OMNI",
            "agent_name": "omni_document_queries_query_name_search_service"
          },
          "omni_documents_analyst_agent": {
            "snowflake_database": "SNOWFLAKE_INTELLIGENCE",
            "snowflake_schema": "AGENTS",
            "agent_name": "OMNI_DOCUMENTS_ANALYST_AGENT"
          },
          "zapier_slack_response_webhook": {
            "webhook_url": "https://hooks.zapier.com/hooks/catch/23046078/u1mp0gx/"
          },
          "slack": {
            "error_message": "The Omni agent could not find relevant dashboards :cry:"
          },
          "omni_api": {
            "omni_base_url": "https://cribl.omniapp.co",
            "model_id": "4345b118-cbbe-4f7c-a705-ea0aa8da57c0"
          },
          "snowflake_tables": {
            "omni_users": {
              "snowflake_database": "ANALYTICS",
              "snowflake_schema": "OMNI",
              "table_name": "OMNI_USERS"
            },
            "omni_documents": {
              "snowflake_database": "ANALYTICS",
              "snowflake_schema": "OMNI",
              "table_name": "DOCUMENTS"
            },
            "omni_document_queries": {
              "snowflake_database": "ANALYTICS",
              "snowflake_schema": "OMNI",
              "table_name": "DOCUMENT_QUERIES"
            },
            "dashboard_recommendations": {
              "snowflake_database": "ANALYTICS",
              "snowflake_schema": "OMNI",
              "table_name": "DASHBOARD_RECOMMENDATIONS"
            },
            "dashboard_recommendations_feedback": {
              "snowflake_database": "ANALYTICS",
              "snowflake_schema": "OMNI",
              "table_name": "DASHBOARD_RECOMMENDATIONS_FEEDBACK"
            }
          }
        }
      }
    ],
    "Get Omni User ID": [
      {
        "json": {
          "USER_ID": "893ce348-0fb2-44ac-b0f8-06521a341580"
        }
      }
    ],
    "Insert Omni User ID into Omni API Obj": [
      {
        "json": {
          "body": {
            "channel_id": "C0912AANW1L",
            "channel_name": "data-eng-test-ai-channel",
            "conversation_id": "C0912AANW1L",
            "event_id": "1759194864.008200",
            "event_timestamp": "2025-09-30T01:14:24.008Z",
            "is_message_user_bot": "False",
            "message_text": "Hi team - Is there a dashboard in Omni to see free cribl cloud users, and associated email addresses within accounts I own similar to https://cribl.cloud.looker.com/explore/Product/cloud_orgs?qid=6AczKnvfgAdLscURN8AKDq&amp;toggle=filthis one> I used in looker?",
            "message_timestamp": "2025-09-30T01:14:21.395Z",
            "message_ts": "1759194861.395459",
            "message_user_email": "nkwok@cribl.io",
            "message_user_first_name": "Nathan",
            "message_user_id": "U06PVBEK9T6",
            "message_user_last_name": "Kwok",
            "message_user_name": "nathan_kwok",
            "reaction": "omni",
            "reaction_user_email": "nkwok@cribl.io",
            "reaction_user_id": "U06PVBEK9T6",
            "team_domain": "cribl",
            "team_id": "T3XQYAF26"
          },
          "snowflake_base_url": "https://ml16699-hya89079.snowflakecomputing.com",
          "omni_documents_search_service": {
            "snowflake_database": "ANALYTICS",
            "snowflake_schema": "OMNI",
            "service_name": "omni_documents_search_service"
          },
          "omni_document_queries_query_table_search_service": {
            "snowflake_database": "ANALYTICS",
            "snowflake_schema": "OMNI",
            "agent_name": "omni_document_queries_query_table_search_service"
          },
          "omni_document_queries_query_name_search_service": {
            "snowflake_database": "ANALYTICS",
            "snowflake_schema": "OMNI",
            "agent_name": "omni_document_queries_query_name_search_service"
          },
          "omni_documents_analyst_agent": {
            "snowflake_database": "SNOWFLAKE_INTELLIGENCE",
            "snowflake_schema": "AGENTS",
            "agent_name": "OMNI_DOCUMENTS_ANALYST_AGENT"
          },
          "zapier_slack_response_webhook": {
            "webhook_url": "https://hooks.zapier.com/hooks/catch/23046078/u1mp0gx/"
          },
          "slack": {
            "error_message": "The Omni agent could not find relevant dashboards :cry:"
          },
          "omni_api": {
            "omni_base_url": "https://cribl.omniapp.co",
            "model_id": "4345b118-cbbe-4f7c-a705-ea0aa8da57c0",
            "omni_user_id": "893ce348-0fb2-44ac-b0f8-06521a341580"
          },
          "snowflake_tables": {
            "omni_users": {
              "snowflake_database": "ANALYTICS",
              "snowflake_schema": "OMNI",
              "table_name": "OMNI_USERS"
            },
            "omni_documents": {
              "snowflake_database": "ANALYTICS",
              "snowflake_schema": "OMNI",
              "table_name": "DOCUMENTS"
            },
            "omni_document_queries": {
              "snowflake_database": "ANALYTICS",
              "snowflake_schema": "OMNI",
              "table_name": "DOCUMENT_QUERIES"
            },
            "dashboard_recommendations": {
              "snowflake_database": "RAW",
              "snowflake_schema": "OMNI",
              "table_name": "DASHBOARD_RECOMMENDATIONS"
            },
            "dashboard_recommendations_feedback": {
              "snowflake_database": "RAW",
              "snowflake_schema": "OMNI",
              "table_name": "DASHBOARD_RECOMMENDATIONS_FEEDBACK"
            }
          }
        }
      }
    ]
  },
  "versionId": "de1860db-52aa-41f6-853a-48b8dd710570",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-27T07:26:04.632Z",
      "updatedAt": "2025-09-27T07:26:04.632Z",
      "role": "workflow:owner",
      "workflowId": "n0RS6lMwHNeLTrk9",
      "projectId": "w7JTueqTYNrmBYZn"
    }
  ],
  "tags": [
    {
      "createdAt": "2025-09-23T07:33:31.958Z",
      "updatedAt": "2025-09-23T07:33:31.958Z",
      "id": "iQwJzKyyyBwW6Yxk",
      "name": "subworkflow"
    }
  ]
}