workflows/Insert_into_Snowflake_Table.json
{
  "updatedAt": "2025-11-15T22:09:55.000Z",
  "createdAt": "2025-10-01T23:59:20.315Z",
  "id": "5fLEtpYDMhJTTEzh",
  "name": "Insert_into_Snowflake_Table",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT count(*) as \"count\" FROM \"{{ $json.trigger_obj.snowflake_table_obj.snowflake_database }}\".\"{{ $json.trigger_obj.snowflake_table_obj.snowflake_schema }}\".\"{{ $json.trigger_obj.snowflake_table_obj.table_name }}\" {{ $json.where_statement }}"
      },
      "type": "n8n-nodes-base.snowflake",
      "typeVersion": 1,
      "position": [
        10144,
        2544
      ],
      "id": "3e135750-c1fb-41ce-ae7d-8d37b4a99538",
      "name": "Find Count for Event ID",
      "credentials": {
        "snowflake": {
          "id": "wrOt4AsrYQ8wDZxj",
          "name": "Snowflake DATA_TEAM_BOT RAW"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c806ba43-d60d-4a2e-8d62-281726ec7bf6",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        10496,
        2544
      ],
      "id": "f41a24ce-ce34-44c2-8470-e077e74fb0fc",
      "name": "If",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "table": "={{ $('Store Trigger Obj').item.json.snowflake_table_obj.table_name }}",
        "columns": "={{ $('Stringify JSON objects').item.json.keys().join(\",\") }}"
      },
      "type": "n8n-nodes-base.snowflake",
      "typeVersion": 1,
      "position": [
        11456,
        2528
      ],
      "id": "190bc587-9d4b-4df5-9624-13e3a79248a4",
      "name": "Insert Recommendation into Snowflake",
      "credentials": {
        "snowflake": {
          "id": "wrOt4AsrYQ8wDZxj",
          "name": "Snowflake DATA_TEAM_BOT RAW"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"save_obj\": {\n    \"feedback_id\": \"1759120221.028239\",\n    \"feedback_medium\": \"text\",\n    \"feedback_timestamp\": \"2025-09-29T04:30:21.000Z\",\n    \"feedback_user_email\": \"nkwok@cribl.io\",\n    \"feedback_user_id\": \"U06PVBEK9T6\",\n    \"channel_id\": \"C0912AANW1L\",\n    \"channel_name\": \"data-eng-test-ai-channel\",\n    \"team_id\": \"T3XQYAF26\",\n    \"team_domain\": \"cribl\",\n    \"omni_message_id\": \"1759104317.219099\",\n    \"omni_message_text\": \"Thank you! How can I assist you today?\",\n    \"omni_message_timestamp\": \"2025-09-29T00:05:17.219Z\",\n    \"omni_message_user_name\": \"Omni Bot\",\n    \"original_message_id\": \"1758911151.912309\",\n    \"original_message_text\": \"Hi team - Is there a dashboard in Omni to see free cribl cloud users, and associated email addresses within accounts I own similar to <https://cribl.cloud.looker.com/explore/Product/cloud_orgs?qid=6AczKnvfgAdLscURN8AKDq&amp;toggle=fil|this one> I used in looker?\",\n    \"original_message_user_id\": \"U06PVBEK9T6\",\n    \"original_message_thread_ts\": \"1758911151.912309\",\n    \"thread_timestamp\": \"2025-09-26T18:25:51.000Z\",\n    \"feedback_content\": \"@omni this is the 9th tagged message\",\n    \"permalink\": \"https://cribl.slack.com/archives/C0912AANW1L/p1759120221028239?thread_ts=1758911151.912309&cid=C0912AANW1L\"\n  },\n  \"primary_keys\": [\n    \"feedback_id\"\n  ],\n  \"snowflake_table_obj\": {\n    \"snowflake_database\": \"ANALYTICS\",\n    \"snowflake_schema\": \"OMNI\",\n    \"table_name\": \"DOCUMENT_QUERIES\"\n  }\n}"
      },
      "id": "14c6de82-e737-407e-b573-84f960cc0248",
      "typeVersion": 1.1,
      "name": "Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        9296,
        2544
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('Trigger').item.json }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9616,
        2544
      ],
      "id": "5d2f4d7b-28c6-4a76-a091-4dfed04b8f35",
      "name": "Store Trigger Obj",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Helper: stringify any object/array values in save_obj,\n// put the mutated save_obj back into input, and return [input].\nfunction stringifySaveObjAndWrap(input) {\n  const save = input ?? {};\n  const new_save_obj = Object.fromEntries(\n    Object.entries(save).map(([k, v]) =>\n      v !== null && typeof v === \"object\" ? [k, JSON.stringify(v)] : [k, v]\n    )\n  );\n  return new_save_obj;\n}\n\n// Usage\nconst input = $input.first().json;\nconst updated_input = stringifySaveObjAndWrap(input);\n\nreturn [updated_input];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11120,
        2528
      ],
      "id": "1341b3d3-be99-4928-aabf-484de23fd3b1",
      "name": "Stringify JSON objects"
    },
    {
      "parameters": {
        "jsCode": "function buildWhere( save_obj, primary_keys ) {\n  return (\n    \"WHERE \" +\n    primary_keys\n      .map((k) => `${k} = '${save_obj[k]}'`)\n      .join(\" AND \")\n  );\n}\n\nreturn [\n  {\n    \"where_statement\": buildWhere($input.first().json.save_obj, $input.first().json.primary_keys),\n    \"trigger_obj\": $input.first().json\n  }\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9856,
        2544
      ],
      "id": "4df482e5-044d-4367-9232-3a7dff558091",
      "name": "Build WHERE Filter"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('Store Trigger Obj').item.json.save_obj }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10784,
        2528
      ],
      "id": "6d6dfdd3-a6c6-4338-acb5-306fdc2d8bc0",
      "name": "Retrieve Save Object",
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Find Count for Event ID": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Retrieve Save Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger": {
      "main": [
        [
          {
            "node": "Store Trigger Obj",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Trigger Obj": {
      "main": [
        [
          {
            "node": "Build WHERE Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stringify JSON objects": {
      "main": [
        [
          {
            "node": "Insert Recommendation into Snowflake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build WHERE Filter": {
      "main": [
        [
          {
            "node": "Find Count for Event ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Save Object": {
      "main": [
        [
          {
            "node": "Stringify JSON objects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Trigger": [
      {
        "json": {
          "save_obj": {
            "feedback_id": "1759120221.028239",
            "feedback_medium": "text",
            "feedback_timestamp": "2025-09-29T04:30:21.000Z",
            "feedback_user_email": "nkwok@cribl.io",
            "feedback_user_id": "U06PVBEK9T6",
            "channel_id": "C0912AANW1L",
            "channel_name": "data-eng-test-ai-channel",
            "team_id": "T3XQYAF26",
            "team_domain": "cribl",
            "omni_message_id": "1759104317.219099",
            "omni_message_text": "Thank you! How can I assist you today?",
            "omni_message_timestamp": "2025-09-29T00:05:17.219Z",
            "omni_message_user_name": "Omni Bot",
            "original_message_id": "1758911151.912309",
            "original_message_text": "Hi team - Is there a dashboard in Omni to see free cribl cloud users, and associated email addresses within accounts I own similar to <https://cribl.cloud.looker.com/explore/Product/cloud_orgs?qid=6AczKnvfgAdLscURN8AKDq&amp;toggle=fil|this one> I used in looker?",
            "original_message_user_id": "U06PVBEK9T6",
            "original_message_thread_ts": "1758911151.912309",
            "thread_timestamp": "2025-09-26T18:25:51.000Z",
            "feedback_content": "@omni this is the 9th tagged message",
            "permalink": "https://cribl.slack.com/archives/C0912AANW1L/p1759120221028239?thread_ts=1758911151.912309&cid=C0912AANW1L"
          },
          "primary_keys": [
            "feedback_id"
          ],
          "snowflake_table_obj": {
            "snowflake_database": "RAW",
            "snowflake_schema": "OMNI",
            "table_name": "DASHBOARD_RECOMMENDATIONS_FEEDBACK"
          }
        }
      }
    ],
    "Store Trigger Obj": [
      {
        "json": {
          "save_obj": {
            "feedback_id": "1759120221.028239",
            "feedback_medium": "text",
            "feedback_timestamp": "2025-09-29T04:30:21.000Z",
            "feedback_user_email": "nkwok@cribl.io",
            "feedback_user_id": "U06PVBEK9T6",
            "channel_id": "C0912AANW1L",
            "channel_name": "data-eng-test-ai-channel",
            "team_id": "T3XQYAF26",
            "team_domain": "cribl",
            "omni_message_id": "1759104317.219099",
            "omni_message_text": "Thank you! How can I assist you today?",
            "omni_message_timestamp": "2025-09-29T00:05:17.219Z",
            "omni_message_user_name": "Omni Bot",
            "original_message_id": "1758911151.912309",
            "original_message_text": "Hi team - Is there a dashboard in Omni to see free cribl cloud users, and associated email addresses within accounts I own similar to <https://cribl.cloud.looker.com/explore/Product/cloud_orgs?qid=6AczKnvfgAdLscURN8AKDq&amp;toggle=fil|this one> I used in looker?",
            "original_message_user_id": "U06PVBEK9T6",
            "original_message_thread_ts": "1758911151.912309",
            "thread_timestamp": "2025-09-26T18:25:51.000Z",
            "feedback_content": "@omni this is the 9th tagged message",
            "permalink": "https://cribl.slack.com/archives/C0912AANW1L/p1759120221028239?thread_ts=1758911151.912309&cid=C0912AANW1L"
          },
          "primary_keys": [
            "feedback_id"
          ],
          "snowflake_table_obj": {
            "snowflake_database": "RAW",
            "snowflake_schema": "OMNI",
            "table_name": "DASHBOARD_RECOMMENDATIONS_FEEDBACK"
          }
        }
      }
    ]
  },
  "versionId": "55c4586f-9cfb-46a3-81fd-0b47dbb6bb8f",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-10-01T23:59:20.319Z",
      "createdAt": "2025-10-01T23:59:20.319Z",
      "role": "workflow:owner",
      "workflowId": "5fLEtpYDMhJTTEzh",
      "projectId": "2vHf2VxAoKk0WgJE"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-09-29T05:57:24.200Z",
      "createdAt": "2025-09-29T05:57:24.200Z",
      "id": "JC97st4iY7gpPYhF",
      "name": "subworkflow"
    }
  ]
}