workflows/Invoice_Assistant.json
{
  "updatedAt": "2025-11-15T20:47:57.000Z",
  "createdAt": "2025-11-15T20:45:17.602Z",
  "id": "rl8MU4AaTiSoNkMM",
  "name": "Invoice_Assistant",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyWeek"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "Label_2612250237063953988"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        304,
        16
      ],
      "id": "fa587b4c-afc2-4f8c-b52c-e1e73b7b04ab",
      "name": "Gmail Trigger"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  // Get the body text from Gmail Trigger\n  const bodyRaw = item.json.text || item.json.textPlain || item.json.snippet || \"\";\n  // Normalize newlines into spaces\n  const body = bodyRaw.replace(/\\r?\\n/g, \" \");\n\n  // Extract due date: matches \"before 8/31\" or \"before 08/31/2025\"\n  const dueMatch = body.match(/before\\s+(\\d{1,2}\\/\\d{1,2}(?:\\/\\d{2,4})?)/i);\n\n  // Extract actual amount first, fall back to invoice amount\n  const actualMatch = body.match(/actual\\s+amount[\\s\\S]*?receive:\\s*\\*?\\s*USD\\s*\\**\\s*([0-9][0-9,]*(?:\\.[0-9]{2})?)/i);\n  const invoiceMatch = body.match(/\\*?\\s*Invoice\\s*amount:\\s*USD\\s*\\**\\s*([0-9][0-9,]*(?:\\.[0-9]{2})?)/i);\n\n  // Email subject as service description\n  const subject = item.json.subject || \"\";\n\n  // Format amount with $ and USD, remove commas\n  const amountValue = (actualMatch?.[1] || invoiceMatch?.[1] || \"\").replace(/,/g, \"\");\n  const formattedAmount = amountValue ? `$${amountValue} USD` : \"\";\n\n  return {\n    json: {\n      dueDate: dueMatch?.[1] || \"\",\n      invoiceAmount: formattedAmount,\n      service: subject\n    }\n  };\n});\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        16
      ],
      "id": "f45b6488-4112-43a4-9cde-58d8f3781a8e",
      "name": "extract due date, $, and service"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1Ls4ArryY1UOq6mhDq1-MOYB2MfZ-CtZUMNgh5WL3D98",
          "mode": "list",
          "cachedResultName": "Invoice Template",
          "cachedResultUrl": "https://docs.google.com/document/d/1Ls4ArryY1UOq6mhDq1-MOYB2MfZ-CtZUMNgh5WL3D98/edit?usp=drivesdk"
        },
        "name": "=Invoice_{{$json.service}}_due before {{$json.dueDate}}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        672,
        16
      ],
      "id": "acd9deb5-30e7-4759-83dd-de0b26f414e7",
      "name": "make a copy of the invoice pdf"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{$node[\"make a copy of the invoice pdf\"].json.id}}",
        "simple": false,
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "$0",
              "replaceText": "={{ $('extract due date, $, and service').item.json.invoiceAmount }}"
            },
            {
              "action": "replaceAll",
              "text": "Total",
              "replaceText": "={{ $('extract due date, $, and service').item.json.service }}"
            },
            {
              "action": "replaceAll",
              "text": "due_date",
              "replaceText": "={{ $('extract due date, $, and service').item.json.dueDate }}"
            },
            {
              "action": "replaceAll",
              "text": "2025/06/05",
              "replaceText": "={{ $now.format(\"yyyy-MM-dd\") }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        848,
        16
      ],
      "id": "a34971c1-0ea2-4d7d-9af0-ef7465a78245",
      "name": "update invoice with today's date, service, $, and due date"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$node[\"make a copy of the invoice pdf\"].json.id}}",
          "mode": "id"
        },
        "options": {
          "fileName": "={{$node[\"update invoice with today's date, service, $, and due date\"].json.documentId}}"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1040,
        16
      ],
      "id": "462c511a-93cd-4ef4-ae94-2f5d73f25704",
      "name": "download the invoice"
    },
    {
      "parameters": {
        "sendTo": "yourgmail@gmail.com",
        "subject": "=invoice sent - {{ $('extract due date, $, and service').item.json.service }}",
        "message": "={{ $('extract due date, $, and service').item.json.invoiceAmount }} + due {{ $('extract due date, $, and service').item.json.dueDate }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1392,
        16
      ],
      "id": "f7505b32-b119-4dcd-a47a-e108a61cbd90",
      "name": "send myself a confirmation email",
      "webhookId": "30819eb6-120b-4fa9-a035-9d58ae1dc24b"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{$node[\"Gmail Trigger\"].json.id}}",
        "message": "Hi someone,<br><br> Please find attached the invoice for your records.<br><br> Best regards,<br> Lillian",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1216,
        16
      ],
      "id": "eb40557c-e71f-4135-b706-d6792f836568",
      "name": "reply to accountant",
      "webhookId": "8b004741-7869-49e7-a7b4-c0ed5da0df12"
    },
    {
      "parameters": {
        "content": "## Invoice Template\n[link](https://docs.google.com/document/d/1Ls4ArryY1UOq6mhDq1-MOYB2MfZ-CtZUMNgh5WL3D98/copy)"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9e72c0c8-0b2d-4e9d-af8a-d75aa05cbbac",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "extract due date, $, and service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract due date, $, and service": {
      "main": [
        [
          {
            "node": "make a copy of the invoice pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "make a copy of the invoice pdf": {
      "main": [
        [
          {
            "node": "update invoice with today's date, service, $, and due date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update invoice with today's date, service, $, and due date": {
      "main": [
        [
          {
            "node": "download the invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download the invoice": {
      "main": [
        [
          {
            "node": "reply to accountant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reply to accountant": {
      "main": [
        [
          {
            "node": "send myself a confirmation email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "72347fbc-e72a-4c8c-8996-1ed34fb348ec",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-15T20:45:17.605Z",
      "createdAt": "2025-11-15T20:45:17.605Z",
      "role": "workflow:owner",
      "workflowId": "rl8MU4AaTiSoNkMM",
      "projectId": "2vHf2VxAoKk0WgJE"
    }
  ],
  "activeVersion": null,
  "tags": []
}