workflows/Iron Butterfly Trading Strategy.json
{
  "createdAt": "2025-08-17T08:51:53.016Z",
  "updatedAt": "2025-08-25T00:58:35.452Z",
  "id": "hRpJ1sdf6Mz3Zddb",
  "name": "Iron Butterfly Trading Strategy",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minute"
            }
          ]
        }
      },
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        256,
        304
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "api_health",
        "filters": {
          "conditions": [
            {}
          ]
        }
      },
      "id": "2",
      "name": "Supabase Health Check",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        464,
        304
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "language": "javascript"
      },
      "id": "3",
      "name": "System Health Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        304
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "id": "4",
      "name": "Health Error Handler",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        464,
        576
      ]
    },
    {
      "parameters": {
        "language": "javascript"
      },
      "id": "5",
      "name": "Market Hours Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        304
      ]
    },
    {
      "parameters": {
        "url": "={{$env.ALPACA_API_URL}}/v2/account",
        "authentication": "genericCredentialType",
        "genericAuthType": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "APCA-API-KEY-ID",
              "value": "={{$env.ALPACA_API_KEY}}"
            },
            {
              "name": "APCA-API-SECRET-KEY",
              "value": "={{$env.ALPACA_API_SECRET}}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "6",
      "name": "Account Validation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1056,
        304
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "ignoreCase": false
        }
      },
      "id": "7",
      "name": "Account Status Check",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1264,
        304
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "ignoreCase": false
        }
      },
      "id": "8",
      "name": "Account Error Handler",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1056,
        640
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "workflow_state",
        "filters": {
          "conditions": [
            {
              "condition": "equals"
            },
            {
              "condition": "greaterThan"
            }
          ]
        }
      },
      "id": "9",
      "name": "Load Workflow State",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1456,
        304
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "stock_universe",
        "filters": {
          "conditions": [
            {
              "condition": "equals"
            },
            {
              "condition": "greaterThan"
            },
            {
              "condition": "greaterThan"
            },
            {
              "condition": "greaterThan"
            }
          ]
        }
      },
      "id": "10",
      "name": "Load Stock Universe",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1664,
        304
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.last_price }}",
              "rightValue": 500,
              "operator": {
                "type": "number",
                "operation": "smaller"
              }
            },
            {
              "leftValue": "={{ $json.avg_volume }}",
              "rightValue": 1000000,
              "operator": {
                "type": "number",
                "operation": "largerEqual"
              }
            },
            {
              "leftValue": "={{ $json.enabled }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combineOperation": "all"
        },
        "options": {}
      },
      "id": "11",
      "name": "Filter Universe",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1856,
        304
      ]
    },
    {
      "parameters": {
        "batchSize": 100,
        "options": {}
      },
      "id": "12",
      "name": "Split Into Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2064,
        304
      ]
    },
    {
      "parameters": {
        "language": "javascript"
      },
      "id": "13",
      "name": "Assign Agent Batches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        304
      ]
    },
    {
      "parameters": {},
      "id": "research_agent",
      "name": "Research Agent",
      "type": "nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2528,
        80
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "id": "risk_assessment_agent",
      "name": "Risk Assessment Agent",
      "type": "nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2448,
        560
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "id": "analysis_merge",
      "name": "Analysis Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2960,
        272
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.research.iron_butterfly_suitability.overall_score }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "largerEqual"
              }
            },
            {
              "leftValue": "={{ $json.risk.risk_approval.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            },
            {
              "leftValue": "={{ $json.risk.risk_approval.risk_score }}",
              "rightValue": 60,
              "operator": {
                "type": "number",
                "operation": "smallerEqual"
              }
            }
          ],
          "combineOperation": "all"
        },
        "options": {}
      },
      "id": "candidate_filter",
      "name": "Candidate Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        3152,
        272
      ]
    },
    {
      "parameters": {},
      "id": "trading_execution_agent",
      "name": "Trading Execution Agent",
      "type": "nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        3360,
        272
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "tableId": "execution_log"
      },
      "id": "execution_logger",
      "name": "Execution Logger",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3552,
        272
      ],
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Supabase Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Health Check": {
      "main": [
        [
          {
            "node": "System Health Validation",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Health Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "System Health Validation": {
      "main": [
        [
          {
            "node": "Market Hours Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Error Handler": {
      "main": [
        [
          {
            "node": "System Health Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Market Hours Check": {
      "main": [
        [
          {
            "node": "Account Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Account Validation": {
      "main": [
        [
          {
            "node": "Account Status Check",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Account Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Account Status Check": {
      "main": [
        [
          {
            "node": "Load Workflow State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Workflow State": {
      "main": [
        [
          {
            "node": "Load Stock Universe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Stock Universe": {
      "main": [
        [
          {
            "node": "Filter Universe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Universe": {
      "main": [
        [
          {
            "node": "Split Into Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Batches": {
      "main": [
        [
          {
            "node": "Assign Agent Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Agent Batches": {
      "main": [
        [
          {
            "node": "Research Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Risk Assessment Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "main": [
        [
          {
            "node": "Analysis Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Risk Assessment Agent": {
      "main": [
        [
          {
            "node": "Analysis Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analysis Merge": {
      "main": [
        [
          {
            "node": "Candidate Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Candidate Filter": {
      "main": [
        [
          {
            "node": "Trading Execution Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trading Execution Agent": {
      "main": [
        [
          {
            "node": "Execution Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/New_York",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "2f66c9f9-990f-4afc-abb9-9125e27ba352",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-08-17T08:51:53.016Z",
      "updatedAt": "2025-08-17T08:51:53.016Z",
      "role": "workflow:owner",
      "workflowId": "hRpJ1sdf6Mz3Zddb",
      "projectId": "w7JTueqTYNrmBYZn"
    }
  ],
  "tags": []
}