workflows/Iron Butterfly Strategy - Natural Nodes.json
{"createdAt":"2025-08-25T23:28:16.026Z","updatedAt":"2025-08-25T23:28:16.026Z","id":"DiLNivG1siZs7hrS","name":"Iron Butterfly Strategy - Natural Nodes","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,304],"id":"schedule_trigger","name":"Schedule Trigger"},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"system_check","name":"timestamp","value":"={{ new Date().toISOString() }}","type":"string"},{"id":"memory_mb","name":"memoryMB","value":"={{ Math.floor(Math.random() * 500 + 100) }}","type":"number"},{"id":"uptime_sec","name":"uptimeSeconds","value":"={{ Math.floor(Math.random() * 86400) }}","type":"number"},{"id":"health_status","name":"healthStatus","value":"OK","type":"string"}]},"options":{}},"id":"system_health_set","name":"System Health Data","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[464,304]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.memoryMB }}","rightValue":1024,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"id":"system_health_check","name":"System Health Check","type":"n8n-nodes-base.if","typeVersion":2,"position":[656,304]},{"parameters":{"operation":"getCurrentDate","options":{"timezone":"America/New_York"}},"id":"get_current_time","name":"Get Current Eastern Time","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[848,304]},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"market_hour","name":"marketHour","value":"={{ new Date($json.currentDate).getHours() }}","type":"number"},{"id":"market_minute","name":"marketMinute","value":"={{ new Date($json.currentDate).getMinutes() }}","type":"number"},{"id":"day_of_week","name":"dayOfWeek","value":"={{ new Date($json.currentDate).getDay() }}","type":"number"},{"id":"is_weekday","name":"isWeekday","value":"={{ $json.dayOfWeek >= 1 && $json.dayOfWeek <= 5 }}","type":"boolean"},{"id":"is_market_hours","name":"isMarketHours","value":"={{ ($json.marketHour > 9 || ($json.marketHour === 9 && $json.marketMinute >= 30)) && $json.marketHour < 16 }}","type":"boolean"}]},"options":{}},"id":"market_time_calc","name":"Calculate Market Time","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,304]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.isWeekday }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}},{"leftValue":"={{ $json.isMarketHours }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}}],"combinator":"and"},"options":{}},"id":"market_hours_check","name":"Market Hours Validation","type":"n8n-nodes-base.if","typeVersion":2,"position":[1232,304]},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"session_id","name":"sessionId","value":"={{ 'ib_' + new Date().toISOString().replace(/[:.]/g, '_') }}","type":"string"},{"id":"max_positions","name":"maxPositions","value":3,"type":"number"},{"id":"max_correlation","name":"maxCorrelation","value":0.6,"type":"number"},{"id":"position_size_percent","name":"positionSizePercent","value":0.05,"type":"number"},{"id":"min_credit_target","name":"minCreditTarget","value":0.1,"type":"number"},{"id":"target_dte","name":"targetDTE","value":45,"type":"number"},{"id":"profit_target","name":"profitTarget","value":0.25,"type":"number"},{"id":"stop_loss","name":"stopLoss","value":2,"type":"number"}]},"options":{}},"id":"trading_config","name":"Initialize Trading Config","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1424,304]},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"stock_universe","name":"universe","value":"=[{\"symbol\":\"AAPL\",\"price\":175.50,\"avgVolume\":50000000,\"optionsVolume\":500000,\"sector\":\"Technology\"},{\"symbol\":\"MSFT\",\"price\":420.25,\"avgVolume\":25000000,\"optionsVolume\":300000,\"sector\":\"Technology\"},{\"symbol\":\"GOOGL\",\"price\":152.80,\"avgVolume\":30000000,\"optionsVolume\":250000,\"sector\":\"Technology\"},{\"symbol\":\"TSLA\",\"price\":248.75,\"avgVolume\":75000000,\"optionsVolume\":800000,\"sector\":\"Automotive\"},{\"symbol\":\"NVDA\",\"price\":135.40,\"avgVolume\":45000000,\"optionsVolume\":600000,\"sector\":\"Technology\"},{\"symbol\":\"META\",\"price\":558.20,\"avgVolume\":20000000,\"optionsVolume\":180000,\"sector\":\"Technology\"},{\"symbol\":\"AMZN\",\"price\":185.30,\"avgVolume\":35000000,\"optionsVolume\":220000,\"sector\":\"Consumer\"},{\"symbol\":\"SPY\",\"price\":573.25,\"avgVolume\":80000000,\"optionsVolume\":2000000,\"sector\":\"ETF\"}]","type":"array"},{"id":"universe_count","name":"count","value":8,"type":"number"}]},"options":{}},"id":"stock_universe","name":"Load Stock Universe","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1616,304]},{"parameters":{"batchSize":3,"options":{}},"id":"split_work_batches","name":"Split Work to Agents","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1808,304]},{"parameters":{"text":"You are Research Agent specializing in Iron Butterfly options analysis.\n\nAnalyze these symbols: {{ JSON.stringify($json.universe.slice($json.batchIndex * 3, ($json.batchIndex + 1) * 3)) }}\n\nFor each symbol, calculate:\n1. ATM strike (closest to current price)\n2. Wing width (2-3% from ATM)\n3. Credit received estimate (mock: $0.50-2.00)\n4. Max loss (wing width - credit)\n5. Technical score (0-100, mock random)\n6. Liquidity score (based on volume)\n\nReturn JSON array with analysis for each symbol.","options":{}},"id":"research_agent","name":"Research Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1,"position":[2000,304]},{"parameters":{"mode":"append","combinationMode":"multiplex","options":{}},"id":"merge_research_results","name":"Merge Research Results","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2192,304]},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"opportunities","name":"opportunities","value":"={{ $json.universe.map(stock => {\n  const wingWidth = stock.price * 0.025;\n  const creditReceived = Math.random() * 1.5 + 0.50;\n  const maxLoss = wingWidth - creditReceived;\n  return {\n    symbol: stock.symbol,\n    atmStrike: Math.round(stock.price),\n    shortCallStrike: Math.round(stock.price),\n    shortPutStrike: Math.round(stock.price),\n    longCallStrike: Math.round(stock.price + wingWidth),\n    longPutStrike: Math.round(stock.price - wingWidth),\n    creditReceived: creditReceived,\n    maxLoss: maxLoss,\n    delta: (Math.random() - 0.5) * 0.1,\n    theta: Math.random() * 0.05 + 0.02,\n    ivRank: Math.random() * 100,\n    technicalScore: Math.random() * 100,\n    liquidityScore: Math.min(100, stock.optionsVolume / 10000),\n    compositeScore: Math.random() * 100\n  };\n}).filter(opp => opp.maxLoss > 0 && opp.creditReceived > 0.50).sort((a,b) => b.compositeScore - a.compositeScore) }}","type":"array"}]},"options":{}},"id":"calculate_opportunities","name":"Calculate Opportunities","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2384,304]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.creditReceived }}","rightValue":"={{ $('Initialize Trading Config').item.json.minCreditTarget }}","operator":{"type":"number","operation":"gte"}},{"leftValue":"={{ $json.compositeScore }}","rightValue":50,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"filter_top_trades","name":"Filter Top Trades","type":"n8n-nodes-base.filter","typeVersion":2,"position":[2576,304]},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"selected_trades","name":"selectedTrades","value":"={{ $input.all().slice(0, $('Initialize Trading Config').item.json.maxPositions) }}","type":"array"},{"id":"number_of_contracts","name":"numberOfContracts","value":"={{ Math.floor(5000 / ($json.maxLoss * 100)) }}","type":"number"}]},"options":{}},"id":"select_final_trades","name":"Select Final Trades","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2768,304]},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"executed_trades","name":"executedTrades","value":"={{ $json.selectedTrades.map(trade => ({\n  ...trade,\n  orderId: 'IB_' + Date.now() + '_' + trade.symbol,\n  executionTime: new Date().toISOString(),\n  status: Math.random() > 0.1 ? 'FILLED' : 'REJECTED',\n  actualCredit: trade.creditReceived * (0.95 + Math.random() * 0.1),\n  numberOfContracts: Math.floor(5000 / (trade.maxLoss * 100))\n})) }}","type":"array"},{"id":"execution_summary","name":"executionSummary","value":"={{ {\n  successful: $json.executedTrades.filter(t => t.status === 'FILLED').length,\n  failed: $json.executedTrades.filter(t => t.status === 'REJECTED').length\n} }}","type":"object"}]},"options":{}},"id":"execute_trades","name":"Execute Trades","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2960,304]},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"monitoring_actions","name":"monitoringActions","value":"={{ $json.executedTrades.filter(trade => trade.status === 'FILLED').map(trade => {\n  const currentPrice = trade.atmStrike * (0.98 + Math.random() * 0.04);\n  const timeDecay = Math.random() * 0.02;\n  const currentPnL = (trade.actualCredit - timeDecay) * trade.numberOfContracts * 100;\n  const pnlPercent = currentPnL / (trade.maxLoss * trade.numberOfContracts * 100);\n  \n  let action = 'HOLD';\n  let reason = 'Position within parameters';\n  \n  if (pnlPercent >= 0.25) {\n    action = 'CLOSE';\n    reason = 'Profit target reached (25%)';\n  } else if (currentPnL <= -2 * trade.actualCredit * trade.numberOfContracts * 100) {\n    action = 'CLOSE';\n    reason = 'Loss limit reached';\n  } else if (Math.abs(currentPrice - trade.atmStrike) / trade.atmStrike > 0.05) {\n    action = 'ADJUST';\n    reason = 'Price moved outside comfort zone';\n  }\n  \n  return {\n    symbol: trade.symbol,\n    orderId: trade.orderId,\n    action: action,\n    reason: reason,\n    currentPnL: currentPnL,\n    currentPnLPercent: pnlPercent,\n    currentPrice: currentPrice,\n    originalStrike: trade.atmStrike\n  };\n}) }}","type":"array"}]},"options":{}},"id":"position_monitoring","name":"Monitor Positions","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3152,304]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.monitoringActions.filter(action => action.action === 'CLOSE').length }}","rightValue":"0","operator":{"type":"number","operation":"gt"}}],"combinator":"and"}}]},"options":{}},"id":"alert_router","name":"Alert Router","type":"n8n-nodes-base.switch","typeVersion":3,"position":[3344,304]},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"performance_report","name":"report","value":"={{ {\n  sessionId: $('Initialize Trading Config').item.json.sessionId,\n  timestamp: new Date().toISOString(),\n  summary: {\n    totalOpportunities: $json.opportunities ? $json.opportunities.length : 0,\n    tradesExecuted: $json.executionSummary ? $json.executionSummary.successful : 0,\n    tradesFailed: $json.executionSummary ? $json.executionSummary.failed : 0,\n    positionsRequiringAction: $json.monitoringActions ? $json.monitoringActions.filter(a => a.action !== 'HOLD').length : 0\n  },\n  performance: {\n    totalPnL: $json.monitoringActions ? $json.monitoringActions.reduce((sum, action) => sum + (action.currentPnL || 0), 0) : 0,\n    averagePnLPercent: $json.monitoringActions && $json.monitoringActions.length > 0 ? $json.monitoringActions.reduce((sum, action) => sum + (action.currentPnLPercent || 0), 0) / $json.monitoringActions.length : 0,\n    positionsAtRisk: $json.monitoringActions ? $json.monitoringActions.filter(a => a.currentPnLPercent < -0.5).length : 0\n  },\n  nextActions: $json.monitoringActions ? $json.monitoringActions.filter(a => a.action !== 'HOLD') : [],\n  systemHealth: 'OPERATIONAL'\n} }}","type":"object"}]},"options":{}},"id":"performance_report","name":"Generate Performance Report","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3536,304]},{"parameters":{"mode":"manual","duplicateItem":false,"assignments":{"assignments":[{"id":"error_log","name":"errorLog","value":"={{ {\n  timestamp: new Date().toISOString(),\n  errorType: 'WORKFLOW_ERROR',\n  errorMessage: 'System or market validation failed',\n  source: 'Health Check or Market Hours',\n  severity: 'MEDIUM',\n  recovered: false,\n  action: 'STOPPED'\n} }}","type":"object"}]},"options":{}},"id":"error_handler","name":"Error Handler","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[432,688]}],"connections":{"Schedule Trigger":{"main":[[{"node":"System Health Data","type":"main","index":0}]]},"System Health Data":{"main":[[{"node":"System Health Check","type":"main","index":0}]]},"System Health Check":{"main":[[{"node":"Get Current Eastern Time","type":"main","index":0}],[{"node":"Error Handler","type":"main","index":0}]]},"Get Current Eastern Time":{"main":[[{"node":"Calculate Market Time","type":"main","index":0}]]},"Calculate Market Time":{"main":[[{"node":"Market Hours Validation","type":"main","index":0}]]},"Market Hours Validation":{"main":[[{"node":"Initialize Trading Config","type":"main","index":0}],[{"node":"Error Handler","type":"main","index":0}]]},"Initialize Trading Config":{"main":[[{"node":"Load Stock Universe","type":"main","index":0}]]},"Load Stock Universe":{"main":[[{"node":"Split Work to Agents","type":"main","index":0}]]},"Split Work to Agents":{"main":[[{"node":"Research Agent","type":"main","index":0}]]},"Research Agent":{"main":[[{"node":"Merge Research Results","type":"main","index":0}]]},"Merge Research Results":{"main":[[{"node":"Calculate Opportunities","type":"main","index":0}]]},"Calculate Opportunities":{"main":[[{"node":"Filter Top Trades","type":"main","index":0}]]},"Filter Top Trades":{"main":[[{"node":"Select Final Trades","type":"main","index":0}]]},"Select Final Trades":{"main":[[{"node":"Execute Trades","type":"main","index":0}]]},"Execute Trades":{"main":[[{"node":"Monitor Positions","type":"main","index":0}]]},"Monitor Positions":{"main":[[{"node":"Alert Router","type":"main","index":0}]]},"Alert Router":{"main":[[{"node":"Generate Performance Report","type":"main","index":0}],[{"node":"Generate Performance Report","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true},"staticData":null,"meta":null,"pinData":null,"versionId":"32f670e6-7cf7-4197-8167-e73821671be4","triggerCount":0,"shared":[{"createdAt":"2025-08-25T23:28:16.026Z","updatedAt":"2025-08-25T23:28:16.026Z","role":"workflow:owner","workflowId":"DiLNivG1siZs7hrS","projectId":"w7JTueqTYNrmBYZn"}],"tags":[]}