workflows/My workflow 5.json
{"createdAt":"2025-06-16T11:39:13.737Z","updatedAt":"2025-06-24T06:53:29.618Z","id":"rONgnRPkQ4EhDP1d","name":"My workflow 5","active":false,"isArchived":true,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,0],"id":"a08eec7f-aa9c-42f8-b371-c0dd9c5fad0f","name":"When chat message received","webhookId":"2310a0cc-7412-4797-9bb6-1930c642211f"},{"parameters":{"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[220,0],"id":"46d11c6f-985b-4437-bdc9-378da7913670","name":"Basic LLM Chain"},{"parameters":{"modelName":"=models/gemini-2.0-flash-001","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[240,180],"id":"c8de0117-5d24-46a9-9521-01b5162c1f7f","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"yw1nLb6Dxz18ENh2","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[580,0],"id":"cc230bee-9442-4be4-8b46-29653d51be66","name":"AI Agent"}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0cbea674-da38-4c5c-afb8-c97a6a861144","triggerCount":0,"tags":[]}