workflows/My workflow 3.json
{"createdAt":"2025-06-15T03:40:53.704Z","updatedAt":"2025-06-15T06:01:37.362Z","id":"WnWbiRX5ayJ8mAjP","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"552bf657-141b-4beb-8ec4-63fdcfca5119","options":{"responseData":""}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[620,320],"id":"289c9578-aaa0-489e-a284-10b26cebab37","name":"Webhook","webhookId":"552bf657-141b-4beb-8ec4-63fdcfca5119"},{"parameters":{"sendTo":"webhook@mailrelayer.xyz","subject":"ffaas","emailType":"text","message":"hey","options":{"appendAttribution":false,"attachmentsUi":{"attachmentsBinary":[{}]}}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1060,320],"id":"90d5c7a7-4fd0-4c05-a1fa-dbdca3c1804a","name":"Gmail","webhookId":"7a550d9c-d502-49f7-a233-6b56be4fbd1d","alwaysOutputData":false,"credentials":{"gmailOAuth2":{"id":"6qrDcdevVT45ACgs","name":"Gmail account"}}},{"parameters":{"htmlInput":"={{ $json.body.choices[0].message.content_list[0].text }}"},"type":"@custom-js/n8n-nodes-pdf-toolkit.html2Pdf","typeVersion":1,"position":[840,320],"id":"66dacecd-824a-4095-9cad-d4bcc66c6266","name":"HTML to PDF","credentials":{"customJsApi":{"id":"1ZhUlSEl03z8HPgJ","name":"customjs_0"}}}],"connections":{"Webhook":{"main":[[{"node":"HTML to PDF","type":"main","index":0}]]},"HTML to PDF":{"main":[[{"node":"Gmail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c3e272b4-6cdd-49b8-abd5-e142c01a8141","triggerCount":0,"tags":[]}