workflows/Options_Analysis_Risk_Validator_Subflow.json
{"createdAt":"2025-07-20T06:36:30.094Z","updatedAt":"2025-07-20T06:36:30.094Z","id":"TJHsPe3qYU9MkXqe","name":"Options_Analysis_Risk_Validator_Subflow","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"options-analysis","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-200,300],"id":"subflow-webhook-trigger","name":"Subflow Input Trigger","webhookId":"options-analysis-subflow","notes":"Receives structured input with symbols, market context, and risk parameters"},{"parameters":{"assignments":{"assignments":[{"id":"validate-symbols","name":"symbols","value":"={{ $json.symbols || [] }}","type":"array"},{"id":"validate-market-context","name":"market_context","value":"={{ $json.market_context || {} }}","type":"object"},{"id":"validate-risk-parameters","name":"risk_parameters","value":"={{ $json.risk_parameters || {} }}","type":"object"},{"id":"validate-execution-timestamp","name":"execution_timestamp","value":"={{ $json.execution_timestamp || $now.format('yyyy-MM-dd HH:mm:ss') }}","type":"string"},{"id":"branch-id","name":"branch_id","value":"={{ $json.branch_id || 'analysis-branch-' + Math.random().toString(36).substr(2, 9) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[20,300],"id":"input-validation-processor","name":"Input Validation & Processing","alwaysOutputData":true,"notes":"Validate and process all input parameters with fallback defaults"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-symbols","leftValue":"={{ $json.symbols.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}},{"id":"has-market-context","leftValue":"={{ Object.keys($json.market_context).length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[240,300],"id":"validate-required-inputs","name":"Validate Required Inputs","alwaysOutputData":false,"notes":"Ensure minimum required inputs are present"},{"parameters":{"promptType":"define","text":"Enhanced options analysis with real-time data integration and multi-Greek risk assessment. Process the provided symbols using yfinance, Yahoo Finance, and Alpha Vantage data sources. Implement Black-Scholes Greeks calculation and apply the provided risk parameters for delta, gamma, vega, and theta limits. Adapt strategy selection based on the market regime context (Low/Normal/High volatility). Return structured JSON with branch identification, analysis results, opportunities, and comprehensive metadata.","options":{"systemMessage":"You are an enhanced options analysis specialist with real-time data integration capabilities. Your expertise includes:\n\n**Technical Skills:**\n- Black-Scholes options pricing and Greeks calculation\n- Real-time market data processing from multiple free sources\n- Market regime-aware strategy selection\n- Multi-Greek risk assessment\n\n**Data Source Integration:**\n- yfinance: Primary options chains and historical data\n- Yahoo Finance: Real-time quotes and WebSocket data\n- Alpha Vantage: Fundamentals and earnings (respect 500 calls/day limit)\n- FRED: Economic context and VIX data\n\n**Enhanced Analysis Process:**\n1. **Data Collection**: Use rate-limited API calls efficiently\n2. **Greeks Calculation**: Implement Black-Scholes for all options\n3. **Strategy Selection**: Adapt to current market regime\n4. **Risk Assessment**: Multi-Greek validation framework\n\n**Strategy Adaptation by Regime:**\n- **Low Volatility** (<15 VIX): Focus on short premium strategies\n- **Normal Volatility** (15-25 VIX): Balanced straddles/strangles\n- **High Volatility** (>25 VIX): Long premium, directional strategies\n\n**Quality Controls:**\n- Validate data freshness (<15 minutes)\n- Cross-check prices between sources\n- Ensure options liquidity (tight spreads)\n- Respect API rate limits\n\n**Risk Framework:**\n- Delta: Use provided tolerance for neutrality\n- Gamma: Use provided tolerance for stability\n- Vega: Use provided dollar limit per 1% IV move\n- Theta: Use provided max daily decay limit\n\n**Subflow Integration:**\n- Process parameterized inputs for flexible reuse\n- Return structured JSON with branch identification\n- Include comprehensive metadata for tracking\n- Handle error cases gracefully with fallbacks\n\nReturn clean JSON without markdown formatting."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[460,200],"id":"options-analysis-agent","name":"Options Analysis Agent","alwaysOutputData":true,"retryOnFail":true,"maxTries":2,"continueOnFail":true,"notes":"Consolidated options analysis with real-time data integration"},{"parameters":{"promptType":"define","text":"Enhanced multi-Greek risk validation for analysis results. Validate all options analysis results against configurable risk parameters including delta neutrality, gamma limits, vega sensitivity, and theta decay. Apply market regime consistency checks, liquidity assessment, and position sizing adjustments. Return validated opportunities with branch identification, rejected opportunities with detailed reasons, risk summary, and processing metadata.","options":{"systemMessage":"You are an enhanced multi-Greek risk validator specializing in comprehensive options portfolio risk management. Your expertise includes:\n\n**Risk Management Framework:**\n- Multi-Greek analysis (Delta, Gamma, Vega, Theta, Rho)\n- Portfolio-level risk aggregation\n- Market regime risk adjustments\n- Liquidity and execution risk assessment\n\n**Parameterized Validation:**\n- **Delta Neutrality**: Use provided tolerance for individual positions\n- **Gamma Control**: Use provided limit to prevent acceleration risk\n- **Vega Management**: Use provided dollar limit per 1% IV move\n- **Theta Optimization**: Use provided max daily decay limit\n- **Liquidity Standards**: Tight bid-ask spreads, high volume\n\n**Enhanced Risk Controls:**\n- Real-time data quality validation\n- Market regime consistency checks\n- Position sizing with risk adjustments\n- Correlation and concentration analysis\n\n**Decision Framework:**\n- **PASS**: All Greeks within provided limits, good liquidity, regime-consistent\n- **CONDITIONAL**: Minor adjustments needed (position size, timing)\n- **REJECT**: Greeks violations, poor liquidity, or regime mismatch\n\n**Market Regime Considerations:**\n- Low Vol: Prefer short premium, tighter Greeks limits\n- Normal Vol: Standard Greeks limits apply\n- High Vol: Allow wider Greeks tolerance, prefer long premium\n\n**Subflow Integration:**\n- Use parameterized risk limits from input\n- Apply market regime context for validation\n- Return structured results with branch identification\n- Include detailed rejection reasons for transparency\n- Handle edge cases and data quality issues\n\n**Quality Assurance:**\n- Cross-validate Greeks calculations\n- Verify data source reliability\n- Check for stale or suspicious data\n- Ensure execution feasibility\n\nPrioritize capital preservation while maximizing risk-adjusted returns within provided parameters."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[720,200],"id":"multi-greek-risk-validator","name":"Multi-Greek Risk Validator","alwaysOutputData":true,"retryOnFail":true,"maxTries":2,"continueOnFail":true,"notes":"Consolidated multi-Greek risk validation with parameterized controls"},{"parameters":{"assignments":{"assignments":[{"id":"subflow-error","name":"error_summary","value":"=Required inputs missing or invalid","type":"string"},{"id":"validation-details","name":"validation_details","value":"=Symbols array length and market context validation results","type":"string"},{"id":"empty-result","name":"branch_id","value":"={{ $('Input Validation & Processing').item.json.branch_id || 'error-branch' }}","type":"string"},{"id":"empty-opportunities","name":"validated_opportunities","value":"=[]","type":"array"},{"id":"empty-rejected","name":"rejected_opportunities","value":"=[]","type":"array"},{"id":"error-metadata","name":"processing_metadata","value":"={{ { \"error\": \"Invalid input parameters\", \"timestamp\": $now.format('yyyy-MM-dd HH:mm:ss') } }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[460,400],"id":"input-validation-error","name":"Input Validation Error","alwaysOutputData":true,"notes":"Handle cases where required inputs are missing or invalid"},{"parameters":{"assignments":{"assignments":[{"id":"final-branch-id","name":"branch_id","value":"={{ JSON.parse($json.output).branch_id }}","type":"string"},{"id":"final-validated","name":"validated_opportunities","value":"={{ JSON.parse($json.output).validated_opportunities }}","type":"array"},{"id":"final-rejected","name":"rejected_opportunities","value":"={{ JSON.parse($json.output).rejected_opportunities }}","type":"array"},{"id":"final-risk-summary","name":"branch_risk_summary","value":"={{ JSON.parse($json.output).branch_risk_summary }}","type":"object"},{"id":"final-metadata","name":"processing_metadata","value":"={{ JSON.parse($json.output).processing_metadata }}","type":"object"},{"id":"subflow-completion","name":"subflow_completion_time","value":"={{ $now.format('yyyy-MM-dd HH:mm:ss') }}","type":"string"},{"id":"success-status","name":"status","value":"=SUCCESS","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[980,200],"id":"format-subflow-output","name":"Format Subflow Output","alwaysOutputData":true,"notes":"Format final output for main workflow consumption"}],"connections":{"Subflow Input Trigger":{"main":[[{"node":"Input Validation & Processing","type":"main","index":0}]]},"Input Validation & Processing":{"main":[[{"node":"Validate Required Inputs","type":"main","index":0}]]},"Validate Required Inputs":{"main":[[{"node":"Options Analysis Agent","type":"main","index":0}],[{"node":"Input Validation Error","type":"main","index":0}]]},"Options Analysis Agent":{"main":[[{"node":"Multi-Greek Risk Validator","type":"main","index":0}]]},"Multi-Greek Risk Validator":{"main":[[{"node":"Format Subflow Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true},"staticData":null,"meta":null,"pinData":null,"versionId":"b60928e9-7bad-4ba8-9a5f-733692088020","triggerCount":0,"tags":[]}