workflows/Parallel_Sub-Workflow_Execution_Followed_by_Wait-For-All_Loop.json
{
  "updatedAt": "2025-11-15T21:35:56.000Z",
  "createdAt": "2025-09-29T05:59:00.379Z",
  "id": "Oi26UbfzI0IIDfML",
  "name": "Parallel_Sub-Workflow_Execution_Followed_by_Wait-For-All_Loop",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "ecec24cb-d7ac-41f0-80a3-af6c2b002bd0",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        48,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "93f1956a-bc57-4ccd-9d75-268adbd24ab1",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        480,
        240
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "efe60c02-f1c6-44ea-9b7a-f0d3398a86d0",
      "name": "Webhook Callback Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        1184,
        272
      ],
      "webhookId": "5cd058b4-48c8-449a-9c09-959a5b8a2b48",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsCode": "let json = $('If All Finished').first().json;\nif (!json.finishedSet) json.finishedSet = [];\nlet finishedItemId = $('Webhook Callback Wait').item.json.body.finishedItemId;\nif (!json.finishedSet[finishedItemId]) json.finishedSet.push(finishedItemId);\nreturn [json];"
      },
      "id": "69f91128-1dc9-4da4-8a88-4106d6ac5761",
      "name": "Update finishedSet",
      "type": "n8n-nodes-base.code",
      "position": [
        1408,
        272
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "193ab8f1-0e23-491c-914e-b8b26b0160f7",
              "name": "finishedSet",
              "type": "array",
              "value": "[]"
            }
          ]
        },
        "options": {}
      },
      "id": "701fb982-d24d-47a9-8edb-bd3a0c2d70cc",
      "name": "Initialize finishedSet",
      "type": "n8n-nodes-base.set",
      "position": [
        704,
        112
      ],
      "executeOnce": true,
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "return [\n  {requestId: 'req4567'},\n  {requestId: 'req8765'},\n  {requestId: 'req1234'}\n];"
      },
      "id": "15328e1b-13d1-48e2-abb7-dff8ab214115",
      "name": "Simulate Multi-Item for Parallel Processing",
      "type": "n8n-nodes-base.code",
      "position": [
        240,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "385c3149-3623-4dd2-9022-770c32f82421",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $json.finishedSet.length }}",
              "rightValue": "={{ $('Simulate Multi-Item for Parallel Processing').all().length }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0e75868d-705f-4548-898c-0fc42a41ecc7",
      "name": "If All Finished",
      "type": "n8n-nodes-base.if",
      "position": [
        928,
        112
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://n8n-relayer-1.app.n8n.cloud/webhook/parallel-subworkflow-target",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "callbackurl",
              "value": "={{ $execution.resumeUrl }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "requestItemId",
              "value": "={{ $json.requestId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c474492f-9075-4346-9b15-dd30281aa08e",
      "name": "Start Sub-Workflow via Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        640,
        480
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4f047525-c880-4cd2-bc65-f79326d493e8",
      "name": "Acknowledge Finished",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1248,
        496
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "### Start Multiple Sub-Workflows Asynchronously\n* Note: Callback/Webhook \"internal\" Base-URL should be configured in the n8n instance to reference the k8s service name and internal port.",
        "height": 109,
        "width": 390,
        "color": 3
      },
      "id": "3c93b87b-66c7-4bab-8219-ee66c5533940",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Pseudo-Synchronously Wait for All Sub-Workflows to finish",
        "height": 80,
        "width": 283,
        "color": 3
      },
      "id": "800bce0c-fa3b-42e2-9502-731008eb2e7a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "5a9b7a88-573f-4d93-8894-6c3fff539fb8",
      "name": "Continue Workflow (noop)",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1248,
        32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Main/Parent Workflow\n* This starts multiple executions of the sub-workflow in parallel and then loops until they all report back.",
        "height": 684.1818181818179,
        "width": 1577.931818181817
      },
      "id": "45573923-471f-4785-a671-f26a7c76d0f8",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Sub-Workflow\n**Cut/Paste this into a separate workflow, and activate it!!!**",
        "height": 189.2194473140495,
        "width": 1477.331211260329
      },
      "id": "700d5423-b70c-4c00-882e-e6cfbb382f82",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "d10aa576-1e08-41d9-9a44-93c389df894c",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        912,
        768
      ],
      "webhookId": "2d62e5c2-ad4a-4e90-a075-7ca5212e015a",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').item.json.headers.callbackurl }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "finishedItemId",
              "value": "={{ $('Webhook').item.json.body.requestItemId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "007e1f94-5946-4e54-afc4-4b015f867d9e",
      "name": "Call Resume on Parent Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1120,
        768
      ],
      "retryOnFail": true,
      "typeVersion": 4.2,
      "waitBetweenTries": 3000,
      "notes": "The callback resumes the parent workflow and reports which item finished.  There could be a race condition if the parent workflow was just resumed by a different sub-workflow but hasn't entered a webhook-wait again yet.  The delay and retry mitigates for the possibility that multiple subtasks complete and call back at once."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ \n{\n  \"finishedItemId\": $json.body.requestItemId\n}\n}}",
        "options": {}
      },
      "id": "7fdd8f0f-a171-4ef3-af10-a137bd52c695",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        688,
        768
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "parallel-subworkflow-target",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8cff44d0-406c-4fc2-b357-0cd3e8847717",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        464,
        768
      ],
      "webhookId": "14776b45-77d7-4220-808f-2d0a38bec4de",
      "typeVersion": 2
    }
  ],
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Call Resume on Parent Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If All Finished": {
      "main": [
        [
          {
            "node": "Continue Workflow (noop)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webhook Callback Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Initialize finishedSet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Start Sub-Workflow via Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update finishedSet": {
      "main": [
        [
          {
            "node": "Acknowledge Finished",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acknowledge Finished": {
      "main": [
        [
          {
            "node": "If All Finished",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Callback Wait": {
      "main": [
        [
          {
            "node": "Update finishedSet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize finishedSet": {
      "main": [
        [
          {
            "node": "If All Finished",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Sub-Workflow via Webhook": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Simulate Multi-Item for Parallel Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simulate Multi-Item for Parallel Processing": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "1480f8cb-51a4-4b09-a6b6-2adb28a20c8a",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-09-29T05:59:00.384Z",
      "createdAt": "2025-09-29T05:59:00.384Z",
      "role": "workflow:owner",
      "workflowId": "Oi26UbfzI0IIDfML",
      "projectId": "2vHf2VxAoKk0WgJE"
    }
  ],
  "activeVersion": null,
  "tags": []
}