workflows/PDF_Processing_Pipeline.json
{
  "updatedAt": "2025-11-19T14:44:58.000Z",
  "createdAt": "2025-11-15T23:39:49.140Z",
  "id": "biW8aKwAI78Eo4Gw",
  "name": "PDF_Processing_Pipeline",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "c214b04f-b039-4274-9501-5418fb697e16",
      "name": "Set Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -9904,
        4464
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.gemini_file_store_name }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "60dee38e-ac2d-46e3-9c21-458a6af011fc",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -9120,
        4464
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "mimeType='application/pdf'",
        "limit": 100,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1tWCIBgXf1072fCB2o4g2M2kzPKnnXmFD",
            "mode": "list",
            "cachedResultName": "ingest",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1tWCIBgXf1072fCB2o4g2M2kzPKnnXmFD"
          }
        },
        "options": {}
      },
      "id": "18d75be6-1134-416b-819e-05e2d3e02e14",
      "name": "Search files and folders",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -8672,
        4448
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XOPXkOVbKhQILqsj",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c0f19397-d7cf-43d0-8e93-8da1bc8d2573",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -8144,
        4448
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Search files and folders').item.json.id }}"
        },
        "options": {}
      },
      "id": "426fd173-aa8b-4d3a-b2a6-d54904b1294d",
      "name": "Download file",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -7920,
        4464
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XOPXkOVbKhQILqsj",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.toJsonString() }}",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "3f2638bc-6332-41d0-9aa9-a0af02d6a25e",
      "name": "New Doc?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6608,
        4464
      ],
      "notesInFlow": true,
      "notes": "If something returned, then we have processed the same file_id before.\nTrue means we have not seen file with this file_id before.\nFalse means we have seen file with this file_id before."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.toJsonString() }}",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c6c7045c-8c6c-43b8-be2e-563d1185deec",
      "name": "Identical Content Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5840,
        4000
      ],
      "notesInFlow": true,
      "alwaysOutputData": false,
      "onError": "continueRegularOutput",
      "notes": "Does a different id file with the same contents exist?\nTrue means different file with same content exists. False means content is new."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('Find file by file_id').item.json.document_content_hash }}",
              "rightValue": "={{ $('Document Content Hash').item.json.document_content_hash }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d160b5e1-f738-4320-b85d-abc5e13fde2a",
      "name": "Has it Changed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5840,
        4480
      ],
      "notesInFlow": true,
      "notes": "Compare db's document_content_hash to this workflow's document_content_hash. \nTrue means same document. False means different versions of \"same\" document."
    },
    {
      "parameters": {
        "jsCode": "// Log that the file is being skipped (no changes detected)\nfor (const item of $input.all()) {\n  console.log(`Skipping file: ${item.json.name || 'Unknown'} - No changes detected`);\n}\n\n// Return all input items unchanged\nreturn $input.all();"
      },
      "id": "15fbbb90-bfb8-48e4-9cc0-745a547237e4",
      "name": "Do Nothing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5232,
        3280
      ]
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1cRRMOtEaNWgFeNnzhwkKBzkkhqNcH1gO",
          "mode": "list",
          "cachedResultName": "archive",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1cRRMOtEaNWgFeNnzhwkKBzkkhqNcH1gO"
        }
      },
      "id": "8e5fb666-d494-4055-8209-2592275f35ef",
      "name": "Archive Unchanged File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -5008,
        3280
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XOPXkOVbKhQILqsj",
          "name": "Google Drive"
        }
      },
      "notes": "TODO: Set archive folder ID"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://generativelanguage.googleapis.com/v1beta/{{ $('Search Record Manager').item.json.file_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "4f73f19d-9609-470f-996e-1bf5309792b9",
      "name": "Delete Old from Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5344,
        4672
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "WQrHDqFW3lnlPoJG",
          "name": "Gemini API"
        }
      },
      "disabled": true,
      "notes": "Delete outdated version from Gemini"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM gemini_record_manager WHERE document_id = $1",
        "options": {}
      },
      "id": "44215034-981b-4286-be12-c8bc57c4f7ec",
      "name": "Delete Old Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5120,
        4672
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n\n\nfor (const [index, item] of $input.all().entries()) {\n  item.binary = $(\"Download file\").itemMatching(index).binary;\n}\n\nreturn items;"
      },
      "id": "0c32f510-66e0-40d0-9f86-e2feb06d45c6",
      "name": "Reload Binary for PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4688,
        4512
      ],
      "notes": "Binary reload required due to n8n limitation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $binary }}",
              "operator": {
                "type": "object",
                "operation": "exists"
              }
            },
            {
              "id": "id-2",
              "leftValue": "={{ $binary.data.fileSize.split(\" \")[0].toNumber() }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7fe96413-2762-4a4c-8496-c32799cc5300",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4464,
        4512
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "document_type",
              "value": "<__PLACEHOLDER_VALUE__Document Type (e.g., invoice, contract, report)__>",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "period",
              "value": "<__PLACEHOLDER_VALUE__Period (e.g., 2024-Q1, January 2024)__>",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "entities",
              "value": "[\"<__PLACEHOLDER_VALUE__Entity 1__>\", \"<__PLACEHOLDER_VALUE__Entity 2__>\"]",
              "type": "array"
            },
            {
              "id": "id-4",
              "name": "categories",
              "value": "[\"<__PLACEHOLDER_VALUE__Category 1__>\", \"<__PLACEHOLDER_VALUE__Category 2__>\"]",
              "type": "array"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "93099eb1-7530-4b21-b188-8f0d0da1abb3",
      "name": "Custom Metadata (Manual)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3584,
        4496
      ],
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Parse the following structued output json codeblock into a string:\n{{ $json.content.parts[0].text }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "id": "f7638bc7-0ba4-490d-9b52-cc51b8ff3196",
      "name": "Extract Metadata with Gemini",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -4016,
        4496
      ],
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        }
      },
      "id": "10ea86ce-a71c-4262-ad3b-a8053792c88a",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -4016,
        4720
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "LKQbGwmroZKBfciU",
          "name": "Gemini - Cribl"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"document_title\": \"ABC Elementary School District General Obligation Bonds\",\n  \"school_district_name\": \"ABC Elementary School District\",\n  \"county\": \"San Diego County\",\n  \"state\": \"CA\",\n  \"overall_rating\": \"AA-\",\n  \"overall_rating_agency\": \"S&P\",\n  \"overall_due_date\": \"2045-08-01\",\n  \"bond_issues\": [\n    {\n      \"bond_amount\": 56000000,\n      \"election_year\": \"2024\",\n      \"bond_type\": \"General Obligation Bonds\",\n      \"bond_series\": \"A\",\n      \"due_date\": \"2045-08-01\"\n    },\n    {\n      \"bond_amount\": 22000000,\n      \"election_year\": \"2016\",\n      \"bond_type\": \"2025 Refunding General\",\n      \"bond_series\": \"D\",\n      \"due_date\": \"2045-08-01\"\n    }\n  ]\n}"
      },
      "id": "b9210b09-29ad-4af7-bf40-184c4e74390d",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -3872,
        4720
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/upload/v1beta/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Upload-Protocol",
              "value": "resumable"
            },
            {
              "name": "X-Goog-Upload-Command",
              "value": "start"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Length",
              "value": "={{ $json.file_size }}"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Type",
              "value": "application/pdf"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"file\": {\n    \"display_name\": \"={{ $json.file_name }}\",\n    \"custom_metadata\": \"={{ $json.metadata }}\"\n  }\n}",
        "options": {}
      },
      "id": "9b474dc2-370a-49ea-b74c-f53a7a9a7ecb",
      "name": "Set File Parameters & Get Upload URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3024,
        4496
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "WQrHDqFW3lnlPoJG",
          "name": "Gemini API"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Reload binary from Google Drive for upload (second reload)\nconst fileId = $json.id;\n\n// Re-download file\nconst requestOptions = {\n  method: 'GET',\n  url: `https://www.googleapis.com/drive/v3/files/${fileId}?alt=media`,\n  encoding: null,\n  json: false\n};\n\nconst binaryData = await this.helpers.httpRequestWithAuthentication.call(\n  this,\n  'googleDriveOAuth2Api',\n  requestOptions\n);\n\nreturn {\n  json: $json,\n  binary: {\n    data: await this.helpers.prepareBinaryData(\n      Buffer.from(binaryData),\n      $json.file_name\n    )\n  }\n};"
      },
      "id": "7f4bdd09-6e47-47a4-a532-0a0f4a4b6296",
      "name": "Reload Binary for Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2704,
        4496
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set File Parameters & Get Upload URL').item.json.uploadUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Upload-Offset",
              "value": "0"
            },
            {
              "name": "X-Goog-Upload-Command",
              "value": "upload, finalize"
            },
            {
              "name": "Content-Type",
              "value": "application/pdf"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "ee9520b8-a3c2-4094-9649-fb3e37efad18",
      "name": "Upload to File Search Store",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2416,
        4496
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "WQrHDqFW3lnlPoJG",
          "name": "Gemini API"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "5ab7b75d-0a34-444b-a97b-896bb8723eb3",
      "name": "Initial Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2160,
        4496
      ],
      "webhookId": "65ffbc87-56e5-48ba-bc9d-5e128ced5081",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://generativelanguage.googleapis.com/v1beta/files/{{ $json.file_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "<__PLACEHOLDER_VALUE__Your Gemini API Key__>"
            }
          ]
        },
        "options": {}
      },
      "id": "f0f653ae-a748-46d7-b6a2-f1b2827d160e",
      "name": "Check if Processed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1904,
        4496
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "mode": "id",
          "value": "<__PLACEHOLDER_VALUE__Processed folder ID__>"
        }
      },
      "id": "0dcccf07-7c70-4346-a6d8-1450d27b1551",
      "name": "Archive Processed File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1504,
        5040
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XOPXkOVbKhQILqsj",
          "name": "Google Drive"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"gemini_file_store_name\": \"fileSearchStores/docparsing-q2d4v79x1uw7\"\n}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "id": "83acb5c9-2191-46d9-9f95-532c65cd6709",
      "name": "Global Vars",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -9408,
        4464
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "IlGavx32TAXCSixq",
          "mode": "list",
          "cachedResultName": "workflow_lock",
          "cachedResultUrl": "/projects/2vHf2VxAoKk0WgJE/datatables/IlGavx32TAXCSixq"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_id": "={{ $workflow.id }}",
            "workflow_name": "={{ $workflow.name }}",
            "execution_id": "={{ $execution.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "workflow_name",
              "displayName": "workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -8400,
        4272
      ],
      "id": "420b690c-65c0-4324-91d3-05a71ba06ff4",
      "name": "Obtain Lock"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "IlGavx32TAXCSixq",
          "mode": "list",
          "cachedResultName": "workflow_lock",
          "cachedResultUrl": "/projects/2vHf2VxAoKk0WgJE/datatables/IlGavx32TAXCSixq"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "workflow_id",
              "keyValue": "={{ $workflow.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -7760,
        4176
      ],
      "id": "e3efdb1e-46ef-46b9-96b0-861124fb9c0d",
      "name": "Clear Lock"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "IlGavx32TAXCSixq",
          "mode": "list",
          "cachedResultName": "workflow_lock",
          "cachedResultUrl": "/projects/2vHf2VxAoKk0WgJE/datatables/IlGavx32TAXCSixq"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "workflow_id",
              "keyValue": "={{ $workflow.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -9632,
        4464
      ],
      "id": "a1f23a19-3871-4e6b-85f7-7fe1b756c283",
      "name": "Check if lock exists"
    },
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ $json.name }}",
        "dataPropertyName": "document_name_hash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -7392,
        4464
      ],
      "id": "568fa631-5a11-4bb4-9199-094d4b041f59",
      "name": "Document Name Hash"
    },
    {
      "parameters": {
        "type": "SHA256",
        "binaryData": true,
        "dataPropertyName": "document_content_hash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -7680,
        4464
      ],
      "id": "e5a084fa-63f6-438e-85f3-6e65601bfada",
      "name": "Document Content Hash"
    },
    {
      "parameters": {
        "content": "### TODO\ncheck if id changes with new file version upload. Could use that instead of name hash"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -7440,
        4288
      ],
      "typeVersion": 1,
      "id": "28de8987-4d27-422d-afc5-fa83dda58de6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "gemini_file_store",
        "filters": {
          "conditions": [
            {
              "keyName": "file_id",
              "keyValue": "={{ $('Download file').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -7040,
        4464
      ],
      "id": "2d6bf7c7-ea74-48bc-be1f-31ddb8631693",
      "name": "Find file by file_id",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "V1uzndLMe2n07Mxy",
          "name": "Supabase Bonds"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Returns a row if previous file with same Google Drive file_id"
    },
    {
      "parameters": {
        "content": "Does a different id file with the same contents exist?\nTrue means different file_id but same content exists. \nFalse means different file_id and content is entirely new (new file_id + new contents).",
        "height": 352,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5936,
        3856
      ],
      "typeVersion": 1,
      "id": "a0816630-acbb-4e48-b7ee-9f388dfdd3e0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "gemini_file_store",
        "filters": {
          "conditions": [
            {
              "keyName": "document_content_hash",
              "keyValue": "={{ $('Document Name Hash').item.json.document_content_hash }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -6192,
        4000
      ],
      "id": "f41f05e4-47d5-4249-b3ad-d3c18c2b081b",
      "name": "Get document content hash",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "supabaseApi": {
          "id": "V1uzndLMe2n07Mxy",
          "name": "Supabase Bonds"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Returns if a previously processed file also has the same contents"
    },
    {
      "parameters": {
        "content": "True means it is the same file_id AND the same contents (a row came back). \nTherefore, do nothing and archive this file.",
        "height": 288,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5488,
        3136
      ],
      "typeVersion": 1,
      "id": "01a23695-f831-4d24-a97d-c4c735bbaf9b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "True means new file_id so it is potentially a new file. \n\nHowever, could have same content but different file_id. Therefore, see if different file_id with same content exists.\n\n\nFalse means we have processed this file before (with same file_id). But the file could have had its contents changed.",
        "height": 496,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6720,
        4128
      ],
      "typeVersion": 1,
      "id": "48ae29f6-8935-4c88-abb9-eab75f0d6b1e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Compare db's document_content_hash to this workflow's document_content_hash. \nTrue means same file_id but different contents.\nFalse means same file_id and same contents.",
        "height": 336,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5936,
        4368
      ],
      "typeVersion": 1,
      "id": "717906f7-aa36-468b-92c6-5d78343e0c69",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "Delete old file's vectors so only new content for the same file_id is vectorized",
        "height": 320,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5424,
        4560
      ],
      "typeVersion": 1,
      "id": "ec4ab1f0-c5f4-4b47-a0da-52680afd9fbb",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "### TODO\nAdd row to db",
        "height": 496,
        "width": 624
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1792,
        4848
      ],
      "typeVersion": 1,
      "id": "af23958b-0581-42a0-a24f-2afc7019bc8a",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=<role>\nYou are given the text of a municipal bond PDF. Your task is to extract specific fields and return ONLY a single valid JSON object that follows the schema below.\n</role>\n\n<task>\n1. Find the title of the document.\n   - It should be on the first page.\n   - It may not be at the very top.\n   - The title usually contains: the name of the school district, bond information, and the election year (possibly with a series letter).\n\n2. From the document, extract:\n   - Document title\n   - School district name\n   - County\n   - State\n   - Any overall rating stated for the bonds\n   - Any rating agency for the overall rating\n   - Any overall due date or final maturity date\n\n3. Also identify each bond issue described in the document. For each bond issue, group the following fields together in one object (there may be multiple such objects):\n   - Bond dollar amount\n   - Election year\n   - Type of bond\n   - Bond series\n   - Rating for that bond or series, if available\n   - Due date or final maturity date for that bond or series, if available, in the format of YYYY-MM-DD\n\nIf a field cannot be found, return it as null rather than guessing. Do NOT make up or invent values if they cannot be found in the document.\n</task>\n\n<output_format>\nYour output MUST be valid JSON and match this exact structure:\n\n```\n{\n  \"document_title\": string or null,\n  \"school_district_name\": string or null,\n  \"county\": string or null,\n  \"state\": string or null,\n  \"overall_rating\": string or null,\n  \"overall_rating_agency\": string or null,\n  \"overall_due_date\": string or null,\n  \"bond_issues\": [\n    {\n      \"bond_amount\": integer or null,\n      \"election_year\": string or null,\n      \"bond_type\": string or null,\n      \"bond_series\": string or null,\n      \"due_date\": string or null\n    }\n  ]\n}\n```\n</output_format>\n\n<example>\n```\n{\n  \"document_title\": \"ABC Elementary School District General Obligation Bonds\",\n  \"school_district_name\": \"ABC Elementary School District\",\n  \"county\": \"San Diego County\",\n  \"state\": \"CA\",\n  \"overall_rating\": \"AA-\",\n  \"overall_rating_agency\": \"S&P\",\n  \"overall_due_date\": \"2045-08-01\",\n  \"bond_issues\": [\n    {\n      \"bond_amount\": 56000000,\n      \"election_year\": \"2024\",\n      \"bond_type\": \"General Obligation Bonds\",\n      \"bond_series\": \"A\",\n      \"due_date\": \"2045-08-01\"\n    },\n    {\n      \"bond_amount\": 22000000,\n      \"election_year\": \"2016\",\n      \"bond_type\": \"2025 Refunding General\",\n      \"bond_series\": \"D\",\n      \"due_date\": \"2045-08-01\"\n    }\n  ]\n}\n```\n</example>\n\n<guidelines>\nRules:\n- Return ONLY the JSON. No explanations, no comments, no extra text.\n- If there are no bond issues found, return \"bond_issues\" as an empty array.\n- If there is more than one plausible value for a field, choose the one that best matches typical municipal bond cover-page conventions.\n</guidelines>",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -4224,
        4496
      ],
      "id": "63818a15-5600-45e6-88ab-4bee45834279",
      "name": "Analyze document",
      "credentials": {
        "googlePalmApi": {
          "id": "LKQbGwmroZKBfciU",
          "name": "Gemini - Cribl"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=<role> \nYou are given the text of a municipal bond PDF. Your task is to extract specific fields and return ONLY a single valid JSON object that follows the schema below. \n</role> \n<task> 1. Find the title of the document. \n- The title will appear on the first page, but it may not be at the very top. \n- It usually contains the name of the school district, bond information, and the election year (with a possible series letter). \n- Use this text as the `document_title`.\n\nFrom the document, extract the following summary details (place these as top‑level fields in the JSON):\n\ndocument_title – the full title identified above.\n\nschool_district_name – usually part of the title.\n\ncounty – for example, “San Diego County, California”.\n\nstate – the two‑letter state abbreviation.\n\noverall_rating – the overall bond rating on the cover page.\n\noverall_rating_agency – the rating agency (e.g., S&P, Moody’s, Fitch) associated with the overall rating.\n\noverall_due_date – any final maturity date for the entire bond issue, formatted as YYYY-MM-DD if available.\n\nbond_legal_counsel – the law firm serving as bond counsel (should be a single firm).\n\nbond_disclosure_counsel – the firm serving as disclosure counsel; if not separately provided, use null.\n\ndate_bond_closes – the expected closing date of the bonds (e.g., “on or about July 13, 2023”).\n\ndate_of_delivery – the date of delivery, if given separately.\n\ninterest_payment_dates – how often interest is paid (e.g., “February 1 and August 1 (semiannually)”).\n\ninterest_commencing_date – the first interest payment date, formatted as YYYY-MM-DD if possible.\n\nredemption_dates – a list of any optional or mandatory redemption dates mentioned; if none are provided, use null.\n\nunderwriters – a list of investment banks underwriting the bonds; each entry should have a name field.\n\nsuperintendent – the name of the district’s superintendent.\n\nfinancial_management_contact – an object containing the name, title, address and phone number for the district’s financial management contact (such as a deputy superintendent or chief business official).\n\nboard_of_education – a list of objects, each containing the board member’s name and role (President, Vice President, Clerk, Member, etc.).\n\nassessed_valuation_summary – an object containing:\n\nfiscal_year – the fiscal year of the most recent assessed valuation.\n\ntotal_assessed_valuation – the total assessed valuation (as a number, without commas).\n\nvaluation_source – the source of the data (e.g., “California Municipal Statistics, Inc.”).\n\nis_county_teeter_plan_participant – true if the county uses a Teeter Plan, false otherwise.\n\nnotes – any explanatory notes about changes in assessed valuation or related context.\n\nestimated_sources_and_uses – an object containing:\n\ntotal_sources – the total sources of funds across all issues.\n\ntotal_uses – the total uses of funds across all issues.\n\nsources_by_issue – a list of objects, each with issue (name of the bond issue), principal_amount, net_original_issue_premium (or discount), and total for that issue.\n\nuses_by_category – a list of objects, each with a category (e.g., “Deposit to Building Fund” or “Costs of Issuance”), the total_amount, and columns for each issue listing how much of that category is funded by each issue (use null for issues not contributing to that category).\n\ndebt_service_schedule – a list of schedules, one for each bond series; each schedule entry must include the issue name and a list of annual entries with period_ending (date in YYYY-MM-DD format), principal, interest, and total_debt_service amounts.\n\nIdentify each bond issue described in the document. For each bond issue, create an object containing:\n\nbond_amount – the principal amount of the bond issue.\n\nelection_year – the election year authorizing the issue (e.g., 2018, 2020).\n\nbond_type – a description such as “General Obligation Bonds” or “Refunding Bonds”.\n\nbond_series – the series letter or descriptor (e.g., “Series A”, “Series 2025 Refunding”).\n\nrating – the rating for that series, if provided.\n\ndue_date – the final maturity date for that series, in YYYY-MM-DD format if available.\n\ninterest_commencing_date – the first interest payment date for that series, in YYYY-MM-DD format.\n\nredemption_policy – an object with optional_call_date, maturities_callable_after, and redemption_price if the document describes call provisions; otherwise, use null.\n\nmaturity_schedule – an object with:\n\nbase_cusip – the base CUSIP number for the series.\n\nmaturities – a list of objects, each containing maturity_date (in YYYY-MM-DD), principal_amount, interest_rate, yield, price, and cusip.\n\ndebt_service_schedule – a list of objects with period_ending (in YYYY-MM-DD), principal, interest, and total_debt_service values for that series.\n\nIf any of the fields listed above are not present in the document, set their value to null. Do NOT guess or fabricate values.\n\nReturn exactly one JSON object that matches the structure shown below. Do not include any explanations or additional text outside the JSON.\n</task>\n\n<output_format>\nYour output MUST be valid JSON and match this exact structure:\n```\n{\n  \"document_title\": \"EAST SIDE UNION HIGH SCHOOL DISTRICT GENERAL OBLIGATION BONDS, 2016 ELECTION, SERIES D\",\n  \"school_district_name\": \"East Side Union High School District\",\n  \"county\": \"Santa Clara County, California\",\n  \"state\": \"CA\",\n  \"overall_rating\": \"Aa3\",\n  \"overall_rating_agency\": \"Moody’s\",\n  \"overall_due_date\": \"2035-08-01\",\n  \"bond_legal_counsel\": \"Jones Hall, A Professional Law Corporation\",\n  \"bond_disclosure_counsel\": \"Jones Hall, A Professional Law Corporation\",\n  \"date_bond_closes\": \"2025-05-21\",\n  \"date_of_delivery\": \"Date of Delivery\",\n  \"interest_payment_dates\": \"February 1 and August 1 (semiannually)\",\n  \"interest_commencing_date\": \"2025-08-01\",\n  \"redemption_dates\": null,\n  \"underwriters\": [\n    { \"name\": \"Loop Capital Markets\" }\n  ],\n  \"superintendent\": \"Glenn Vander Zee\",\n  \"financial_management_contact\": {\n    \"name\": \"Tom Huynh\",\n    \"title\": \"Associate Superintendent of Business Services\",\n    \"address\": \"District Address Line\",\n    \"phone\": \"(408) 123-4567\"\n  },\n  \"board_of_education\": [\n    { \"name\": \"Brian Do\", \"role\": \"President\" },\n    { \"name\": \"Van T. Le\", \"role\": \"Vice President\" },\n    { \"name\": \"Lorena Chavez\", \"role\": \"Clerk\" },\n    { \"name\": \"Pattie Cortese\", \"role\": \"Member\" },\n    { \"name\": \"J. Manuel Herrera\", \"role\": \"Member\" }\n  ],\n  \"assessed_valuation_summary\": {\n    \"fiscal_year\": \"2022-23\",\n    \"total_assessed_valuation\": 41140207319,\n    \"valuation_source\": \"California Municipal Statistics, Inc.\",\n    \"is_county_teeter_plan_participant\": true,\n    \"notes\": \"The assessed valuation for fiscal year 2022-23 was $41,140,207,319. This reflects an increase of approximately 25.22% from fiscal year 2018-19. The County utilizes the Teeter Plan, which guarantees the District receives 100% of the secured tax levy, making receipt of property taxes not subject to delinquencies.\"\n  },\n  \"estimated_sources_and_uses\": {\n    \"total_sources\": 104664986.60,\n    \"total_uses\": 104664986.60,\n    \"sources_by_issue\": [\n      {\n        \"issue\": \"2016 Election, Series D Bonds\",\n        \"principal_amount\": 56000000.00,\n        \"net_original_issue_premium\": 3430454.20,\n        \"total\": 59430454.20\n      },\n      {\n        \"issue\": \"2025 Refunding Bonds, Series A\",\n        \"principal_amount\": 6420000.00,\n        \"net_original_issue_premium\": 575387.70,\n        \"total\": 6995387.70\n      },\n      {\n        \"issue\": \"2025 Refunding Bonds, Series B\",\n        \"principal_amount\": 35545000.00,\n        \"net_original_issue_premium\": 2694144.70,\n        \"total\": 38239144.70\n      }\n    ],\n    \"uses_by_category\": [\n      {\n        \"category\": \"Deposit to Building Fund\",\n        \"total_amount\": 55754000.00,\n        \"series_d_amount\": 55754000.00,\n        \"series_a_amount\": null,\n        \"series_b_amount\": null\n      },\n      {\n        \"category\": \"Deposit to Escrow Fund\",\n        \"total_amount\": 44800000.00,\n        \"series_d_amount\": null,\n        \"series_a_amount\": 6809964.91,\n        \"series_b_amount\": 37931962.59\n      },\n      {\n        \"category\": \"Deposit to Debt Service Fund\",\n        \"total_amount\": 3263551.73,\n        \"series_d_amount\": 3263551.73,\n        \"series_a_amount\": null,\n        \"series_b_amount\": null\n      },\n      {\n        \"category\": \"Costs of Issuance\",\n        \"total_amount\": 905507.37,\n        \"series_d_amount\": 412902.47,\n        \"series_a_amount\": 185422.79,\n        \"series_b_amount\": 307182.11\n      }\n    ]\n  },\n  \"debt_service_schedule\": [\n    {\n      \"issue\": \"2016 Election, Series D Bonds\",\n      \"schedule\": [\n        { \"period_ending\": \"2025-08-01\", \"principal\": null, \"interest\": 544444.44, \"total_debt_service\": 544444.44 },\n        { \"period_ending\": \"2026-08-01\", \"principal\": 16080000.00, \"interest\": 2800000.00, \"total_debt_service\": 18880000.00 }\n      ]\n    },\n    {\n      \"issue\": \"2025 Refunding Bonds, Series A\",\n      \"schedule\": [\n        { \"period_ending\": \"2025-08-01\", \"principal\": null, \"interest\": 62416.67, \"total_debt_service\": 62416.67 }\n      ]\n    },\n    {\n      \"issue\": \"2025 Refunding Bonds, Series B\",\n      \"schedule\": [\n        { \"period_ending\": \"2025-08-01\", \"principal\": 560000.00, \"interest\": 345576.39, \"total_debt_service\": 905576.39 }\n      ]\n    }\n  ],\n  \"bond_issues\": [\n    {\n      \"bond_amount\": 56000000,\n      \"election_year\": \"2016\",\n      \"bond_type\": \"General Obligation Bonds\",\n      \"bond_series\": \"Series D\",\n      \"rating\": \"Aa3\",\n      \"due_date\": \"2033-08-01\",\n      \"interest_commencing_date\": \"2025-08-01\",\n      \"redemption_policy\": null,\n      \"maturity_schedule\": {\n        \"base_cusip\": \"275282\",\n        \"maturities\": [\n          {\n            \"maturity_date\": \"2026-08-01\",\n            \"principal_amount\": 16080000,\n            \"interest_rate\": \"5.000%\",\n            \"yield\": \"3.080%\",\n            \"price\": \"102.230\",\n            \"cusip\": \"TA9\"\n          },\n          {\n            \"maturity_date\": \"2027-08-01\",\n            \"principal_amount\": 8160000,\n            \"interest_rate\": \"5.000\",\n            \"yield\": \"3.100\",\n            \"price\": \"103.996\",\n            \"cusip\": \"TB7\"\n          }\n        ]\n      },\n      \"debt_service_schedule\": [\n        { \"period_ending\": \"2025-08-01\", \"principal\": null, \"interest\": 544444.44, \"total_debt_service\": 544444.44 },\n        { \"period_ending\": \"2026-08-01\", \"principal\": 16080000.00, \"interest\": 2800000.00, \"total_debt_service\": 18880000.00 }\n      ]\n    }\n  ]\n}\n```\n</output_format>\n\n<guidelines> \nRules: \n- Return ONLY the JSON. Do not include explanations, comments, or extra text outside of the JSON. \n- Do not include any fields that are not specified in the schema above. \n- Use numeric types for numbers (without commas or currency symbols) unless they are part of a string such as an interest rate. \n- If there are no bond issues found, return `\"bond_issues\"` as an empty array. \n- If there is more than one plausible value for a field, choose the value that best matches typical municipal bond cover‑page conventions. \n</guidelines>\n",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -4208,
        4928
      ],
      "id": "6f3f8aef-1c61-466a-a36c-da3b825c573b",
      "name": "Analyze document1",
      "credentials": {
        "googlePalmApi": {
          "id": "LKQbGwmroZKBfciU",
          "name": "Gemini - Cribl"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Parse the following structued output json codeblock into a string:\n{{ $json.content.parts[0].text }}\n\nOutput only the json string without any extra text and without a preamble.",
        "hasOutputParser": true,
        "batching": {}
      },
      "id": "72d9ed40-67d8-42a0-9efb-97be2f8e512b",
      "name": "Extract Metadata with Gemini1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -4016,
        4928
      ]
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        }
      },
      "id": "2c0744a7-e1fc-4a4f-a28e-3c0da363e3cc",
      "name": "Google Gemini Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -4016,
        5152
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "LKQbGwmroZKBfciU",
          "name": "Gemini - Cribl"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"document_title\": \"EAST SIDE UNION HIGH SCHOOL DISTRICT GENERAL OBLIGATION BONDS, 2016 ELECTION, SERIES D\",\n  \"school_district_name\": \"East Side Union High School District\",\n  \"county\": \"Santa Clara County, California\",\n  \"state\": \"CA\",\n  \"overall_rating\": \"Aa3\",\n  \"overall_rating_agency\": \"Moody’s\",\n  \"overall_due_date\": \"2035-08-01\",\n  \"bond_legal_counsel\": \"Jones Hall, A Professional Law Corporation\",\n  \"bond_disclosure_counsel\": \"Jones Hall, A Professional Law Corporation\",\n  \"date_bond_closes\": \"2025-05-21\",\n  \"date_of_delivery\": \"Date of Delivery\",\n  \"interest_payment_dates\": \"February 1 and August 1 (semiannually)\",\n  \"interest_commencing_date\": \"2025-08-01\",\n  \"redemption_dates\": null,\n  \"underwriters\": [\n    { \"name\": \"Loop Capital Markets\" }\n  ],\n  \"superintendent\": \"Glenn Vander Zee\",\n  \"financial_management_contact\": {\n    \"name\": \"Tom Huynh\",\n    \"title\": \"Associate Superintendent of Business Services\",\n    \"address\": \"District Address Line\",\n    \"phone\": \"(408) 123-4567\"\n  },\n  \"board_of_education\": [\n    { \"name\": \"Brian Do\", \"role\": \"President\" },\n    { \"name\": \"Van T. Le\", \"role\": \"Vice President\" },\n    { \"name\": \"Lorena Chavez\", \"role\": \"Clerk\" },\n    { \"name\": \"Pattie Cortese\", \"role\": \"Member\" },\n    { \"name\": \"J. Manuel Herrera\", \"role\": \"Member\" }\n  ],\n  \"assessed_valuation_summary\": {\n    \"fiscal_year\": \"2022-23\",\n    \"total_assessed_valuation\": 41140207319,\n    \"valuation_source\": \"California Municipal Statistics, Inc.\",\n    \"is_county_teeter_plan_participant\": true,\n    \"notes\": \"The assessed valuation for fiscal year 2022-23 was $41,140,207,319. This reflects an increase of approximately 25.22% from fiscal year 2018-19. The County utilizes the Teeter Plan, which guarantees the District receives 100% of the secured tax levy, making receipt of property taxes not subject to delinquencies.\"\n  },\n  \"estimated_sources_and_uses\": {\n    \"total_sources\": 104664986.60,\n    \"total_uses\": 104664986.60,\n    \"sources_by_issue\": [\n      {\n        \"issue\": \"2016 Election, Series D Bonds\",\n        \"principal_amount\": 56000000.00,\n        \"net_original_issue_premium\": 3430454.20,\n        \"total\": 59430454.20\n      },\n      {\n        \"issue\": \"2025 Refunding Bonds, Series A\",\n        \"principal_amount\": 6420000.00,\n        \"net_original_issue_premium\": 575387.70,\n        \"total\": 6995387.70\n      },\n      {\n        \"issue\": \"2025 Refunding Bonds, Series B\",\n        \"principal_amount\": 35545000.00,\n        \"net_original_issue_premium\": 2694144.70,\n        \"total\": 38239144.70\n      }\n    ],\n    \"uses_by_category\": [\n      {\n        \"category\": \"Deposit to Building Fund\",\n        \"total_amount\": 55754000.00,\n        \"series_d_amount\": 55754000.00,\n        \"series_a_amount\": null,\n        \"series_b_amount\": null\n      },\n      {\n        \"category\": \"Deposit to Escrow Fund\",\n        \"total_amount\": 44800000.00,\n        \"series_d_amount\": null,\n        \"series_a_amount\": 6809964.91,\n        \"series_b_amount\": 37931962.59\n      },\n      {\n        \"category\": \"Deposit to Debt Service Fund\",\n        \"total_amount\": 3263551.73,\n        \"series_d_amount\": 3263551.73,\n        \"series_a_amount\": null,\n        \"series_b_amount\": null\n      },\n      {\n        \"category\": \"Costs of Issuance\",\n        \"total_amount\": 905507.37,\n        \"series_d_amount\": 412902.47,\n        \"series_a_amount\": 185422.79,\n        \"series_b_amount\": 307182.11\n      }\n    ]\n  },\n  \"debt_service_schedule\": [\n    {\n      \"issue\": \"2016 Election, Series D Bonds\",\n      \"schedule\": [\n        { \"period_ending\": \"2025-08-01\", \"principal\": null, \"interest\": 544444.44, \"total_debt_service\": 544444.44 },\n        { \"period_ending\": \"2026-08-01\", \"principal\": 16080000.00, \"interest\": 2800000.00, \"total_debt_service\": 18880000.00 }\n      ]\n    },\n    {\n      \"issue\": \"2025 Refunding Bonds, Series A\",\n      \"schedule\": [\n        { \"period_ending\": \"2025-08-01\", \"principal\": null, \"interest\": 62416.67, \"total_debt_service\": 62416.67 }\n      ]\n    },\n    {\n      \"issue\": \"2025 Refunding Bonds, Series B\",\n      \"schedule\": [\n        { \"period_ending\": \"2025-08-01\", \"principal\": 560000.00, \"interest\": 345576.39, \"total_debt_service\": 905576.39 }\n      ]\n    }\n  ],\n  \"bond_issues\": [\n    {\n      \"bond_amount\": 56000000,\n      \"election_year\": \"2016\",\n      \"bond_type\": \"General Obligation Bonds\",\n      \"bond_series\": \"Series D\",\n      \"rating\": \"Aa3\",\n      \"due_date\": \"2033-08-01\",\n      \"interest_commencing_date\": \"2025-08-01\",\n      \"redemption_policy\": null,\n      \"maturity_schedule\": {\n        \"base_cusip\": \"275282\",\n        \"maturities\": [\n          {\n            \"maturity_date\": \"2026-08-01\",\n            \"principal_amount\": 16080000,\n            \"interest_rate\": \"5.000%\",\n            \"yield\": \"3.080%\",\n            \"price\": \"102.230\",\n            \"cusip\": \"TA9\"\n          },\n          {\n            \"maturity_date\": \"2027-08-01\",\n            \"principal_amount\": 8160000,\n            \"interest_rate\": \"5.000\",\n            \"yield\": \"3.100\",\n            \"price\": \"103.996\",\n            \"cusip\": \"TB7\"\n          }\n        ]\n      },\n      \"debt_service_schedule\": [\n        { \"period_ending\": \"2025-08-01\", \"principal\": null, \"interest\": 544444.44, \"total_debt_service\": 544444.44 },\n        { \"period_ending\": \"2026-08-01\", \"principal\": 16080000.00, \"interest\": 2800000.00, \"total_debt_service\": 18880000.00 }\n      ]\n    }\n  ]\n}"
      },
      "id": "4f5ccfb6-02cc-45a4-8e64-7801c59cd045",
      "name": "Structured Output Parser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -3872,
        5152
      ]
    }
  ],
  "connections": {
    "Set Schedule": {
      "main": [
        [
          {
            "node": "Check if lock exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Obtain Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Clear Lock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Document Content Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Doc?": {
      "main": [
        [
          {
            "node": "Get document content hash",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has it Changed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Unchanged File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identical Content Exists?": {
      "main": [
        [
          {
            "node": "Do Nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reload Binary for PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old from Gemini": {
      "main": [
        [
          {
            "node": "Delete Old Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Do Nothing": {
      "main": [
        [
          {
            "node": "Archive Unchanged File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has it Changed?": {
      "main": [
        [
          {
            "node": "Delete Old from Gemini",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Do Nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Record": {
      "main": [
        [
          {
            "node": "Reload Binary for PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Metadata with Gemini",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Extract Metadata with Gemini",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Reload Binary for PDF": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Analyze document",
            "type": "main",
            "index": 0
          },
          {
            "node": "Analyze document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Metadata with Gemini": {
      "main": [
        [
          {
            "node": "Custom Metadata (Manual)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Custom Metadata (Manual)": {
      "main": [
        [
          {
            "node": "Set File Parameters & Get Upload URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File Parameters & Get Upload URL": {
      "main": [
        [
          {
            "node": "Reload Binary for Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reload Binary for Upload": {
      "main": [
        [
          {
            "node": "Upload to File Search Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to File Search Store": {
      "main": [
        [
          {
            "node": "Initial Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initial Wait": {
      "main": [
        [
          {
            "node": "Check if Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Processed": {
      "main": [
        [
          {
            "node": "Archive Processed File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Processed File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Vars": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtain Lock": {
      "main": [
        []
      ]
    },
    "Check if lock exists": {
      "main": [
        [
          {
            "node": "Global Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Name Hash": {
      "main": [
        [
          {
            "node": "Find file by file_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Content Hash": {
      "main": [
        [
          {
            "node": "Document Name Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find file by file_id": {
      "main": [
        [
          {
            "node": "New Doc?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get document content hash": {
      "main": [
        [
          {
            "node": "Identical Content Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document": {
      "main": [
        [
          {
            "node": "Extract Metadata with Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Metadata with Gemini1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Extract Metadata with Gemini1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Analyze document1": {
      "main": [
        [
          {
            "node": "Extract Metadata with Gemini1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Search files and folders": [
      {
        "json": {
          "id": "1hbH3OO4owrZmTealsg-QfGP0-fJTwcNY",
          "name": "cajon_valley.pdf"
        }
      },
      {
        "json": {
          "id": "13MdCKZ35O7QAflRhXf6tEjWU2Z7bLR1r",
          "name": "east_side_union_high.pdf"
        }
      }
    ],
    "Analyze document": [
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "```json\n{\n  \"document_title\": \"CAJON VALLEY UNION ELEMENTARY SCHOOL DISTRICT\\n(SAN DIEGO COUNTY, CALIFORNIA)\\nGENERAL OBLIGATION BONDS\\n2000 ELECTION, SERIES C\",\n  \"school_district_name\": \"CAJON VALLEY UNION ELEMENTARY SCHOOL DISTRICT\",\n  \"county\": \"SAN DIEGO COUNTY\",\n  \"state\": \"CALIFORNIA\",\n  \"overall_rating\": \"AAA\",\n  \"overall_rating_agency\": \"S&P\",\n  \"overall_due_date\": \"2032-08-01\",\n  \"bond_issues\": [\n    {\n      \"bond_amount\": 16500000,\n      \"election_year\": \"2000\",\n      \"bond_type\": \"GENERAL OBLIGATION BONDS\",\n      \"bond_series\": \"C\",\n      \"due_date\": \"2032-08-01\"\n    }\n  ]\n}\n```"
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "avgLogprobs": -0.004397247825656926
        }
      }
    ],
    "Extract Metadata with Gemini": [
      {
        "json": {
          "output": {
            "document_title": "CAJON VALLEY UNION ELEMENTARY SCHOOL DISTRICT\n(SAN DIEGO COUNTY, CALIFORNIA)\nGENERAL OBLIGATION BONDS\n2000 ELECTION, SERIES C",
            "school_district_name": "CAJON VALLEY UNION ELEMENTARY SCHOOL DISTRICT",
            "county": "SAN DIEGO COUNTY",
            "state": "CALIFORNIA",
            "overall_rating": "AAA",
            "overall_rating_agency": "S&P",
            "overall_due_date": "2032-08-01",
            "bond_issues": [
              {
                "bond_amount": 16500000,
                "election_year": "2000",
                "bond_type": "GENERAL OBLIGATION BONDS",
                "bond_series": "C",
                "due_date": "2032-08-01"
              }
            ]
          }
        }
      }
    ],
    "Analyze document1": [
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "```json\n{\n  \"document_title\": \"CAJON VALLEY UNION ELEMENTARY SCHOOL DISTRICT SAN DIEGO COUNTY, CALIFORNIA GENERAL OBLIGATION BONDS 2000 ELECTION, SERIES C\",\n  \"school_district_name\": \"Cajon Valley Union Elementary School District\",\n  \"county\": \"San Diego County, California\",\n  \"state\": \"CA\",\n  \"overall_rating\": \"AAA\",\n  \"overall_rating_agency\": \"S&P\",\n  \"overall_due_date\": \"2032-08-01\",\n  \"bond_legal_counsel\": \"Jones Hall, A Professional Law Corporation\",\n  \"bond_disclosure_counsel\": null,\n  \"date_bond_closes\": \"2003-06-25\",\n  \"date_of_delivery\": \"2003-06-25\",\n  \"interest_payment_dates\": \"February 1 and August 1 (semiannually)\",\n  \"interest_commencing_date\": \"2004-02-01\",\n  \"redemption_dates\": [\n    \"Optional Redemption: Bonds maturing on or after August 1, 2012, callable on any date on or after August 1, 2011, at 102.0% (August 1, 2012), 101.0% (August 1, 2013), and 100.0% (August 1, 2014 and thereafter).\",\n    \"Mandatory Sinking Fund Redemption: August 1, 2029; August 1, 2030; August 1, 2031; August 1, 2032.\"\n  ],\n  \"underwriters\": null,\n  \"superintendent\": \"Dr. Janice Cook\",\n  \"financial_management_contact\": {\n    \"name\": \"G. Wayne Oetken\",\n    \"title\": \"Assistant Superintendent, Business Services\",\n    \"address\": \"189 Roanoke Road El Cajon, California 92022\",\n    \"phone\": null\n  },\n  \"board_of_education\": [\n    { \"name\": \"Jeff Kover\", \"role\": \"President\" },\n    { \"name\": \"Jane Cruz Alfano\", \"role\": \"Vice President\" },\n    { \"name\": \"Dianne Berto\", \"role\": \"Clerk\" },\n    { \"name\": \"Laoma Dana Davidson\", \"role\": \"Member\" },\n    { \"name\": \"Marsha Saben\", \"role\": \"Member\" }\n  ],\n  \"assessed_valuation_summary\": {\n    \"fiscal_year\": \"2002-03\",\n    \"total_assessed_valuation\": 8716563199,\n    \"valuation_source\": \"California Municipal Statistics, Inc.\",\n    \"is_county_teeter_plan_participant\": true,\n    \"notes\": \"The County of San Diego operates under the Teeter Plan, where public agencies receive their total secured tax levies and special assessments irrespective of actual collections and delinquencies. However, the document notes that the District's assurance of 100% collection of its total secured tax explicitly excludes general obligation bond payments.\"\n  },\n  \"estimated_sources_and_uses\": null,\n  \"debt_service_schedule\": [\n    {\n      \"issue\": \"2000 Election, Series C Bonds\",\n      \"schedule\": [\n        { \"period_ending\": \"2004-06-30\", \"principal\": 0, \"interest\": 397220.38, \"total_debt_service\": 397220.38 },\n        { \"period_ending\": \"2005-06-30\", \"principal\": 240000, \"interest\": 700717.50, \"total_debt_service\": 940717.50 },\n        { \"period_ending\": \"2006-06-30\", \"principal\": 295000, \"interest\": 624197.50, \"total_debt_service\": 919197.50 },\n        { \"period_ending\": \"2007-06-30\", \"principal\": 310000, \"interest\": 647467.50, \"total_debt_service\": 957467.50 },\n        { \"period_ending\": \"2008-06-30\", \"principal\": 325000, \"interest\": 624087.50, \"total_debt_service\": 949087.50 },\n        { \"period_ending\": \"2009-06-30\", \"principal\": 340000, \"interest\": 608722.50, \"total_debt_service\": 948722.50 },\n        { \"period_ending\": \"2010-06-30\", \"principal\": 360000, \"interest\": 588565.00, \"total_debt_service\": 948565.00 },\n        { \"period_ending\": \"2011-06-30\", \"principal\": 375000, \"interest\": 570155.00, \"total_debt_service\": 945155.00 },\n        { \"period_ending\": \"2012-06-30\", \"principal\": 395000, \"interest\": 552125.00, \"total_debt_service\": 947125.00 },\n        { \"period_ending\": \"2013-06-30\", \"principal\": 415000, \"interest\": 527800.00, \"total_debt_service\": 942800.00 },\n        { \"period_ending\": \"2014-06-30\", \"principal\": 430000, \"interest\": 527800.00, \"total_debt_service\": 957800.00 },\n        { \"period_ending\": \"2015-06-30\", \"principal\": 440000, \"interest\": 512325.00, \"total_debt_service\": 952325.00 },\n        { \"period_ending\": \"2016-06-30\", \"principal\": 460000, \"interest\": 497500.00, \"total_debt_service\": 957500.00 },\n        { \"period_ending\": \"2017-06-30\", \"principal\": 470000, \"interest\": 477246.25, \"total_debt_service\": 947246.25 },\n        { \"period_ending\": \"2018-06-30\", \"principal\": 485000, \"interest\": 457608.75, \"total_debt_service\": 942608.75 },\n        { \"period_ending\": \"2019-06-30\", \"principal\": 505000, \"interest\": 436240.00, \"total_debt_service\": 941240.00 },\n        { \"period_ending\": \"2020-06-30\", \"principal\": 530000, \"interest\": 413340.00, \"total_debt_service\": 943340.00 },\n        { \"period_ending\": \"2021-06-30\", \"principal\": 555000, \"interest\": 388855.00, \"total_debt_service\": 943855.00 },\n        { \"period_ending\": \"2022-06-30\", \"principal\": 580000, \"interest\": 363332.50, \"total_debt_service\": 943332.50 },\n        { \"period_ending\": \"2023-06-30\", \"principal\": 610000, \"interest\": 336350.00, \"total_debt_service\": 946350.00 },\n        { \"period_ending\": \"2024-06-30\", \"principal\": 635000, \"interest\": 307687.50, \"total_debt_service\": 942687.50 },\n        { \"period_ending\": \"2025-06-30\", \"principal\": 665000, \"interest\": 277472.50, \"total_debt_service\": 942472.50 },\n        { \"period_ending\": \"2026-06-30\", \"principal\": 695000, \"interest\": 245703.75, \"total_debt_service\": 940703.75 },\n        { \"period_ending\": \"2027-06-30\", \"principal\": 730000, \"interest\": 212442.50, \"total_debt_service\": 942442.50 },\n        { \"period_ending\": \"2028-06-30\", \"principal\": 765000, \"interest\": 177033.75, \"total_debt_service\": 942033.75 },\n        { \"period_ending\": \"2029-06-30\", \"principal\": 800000, \"interest\": 141255.00, \"total_debt_service\": 941255.00 },\n        { \"period_ending\": \"2030-06-30\", \"principal\": 835000, \"interest\": 102985.00, \"total_debt_service\": 937985.00 },\n        { \"period_ending\": \"2031-06-30\", \"principal\": 870000, \"interest\": 62995.00, \"total_debt_service\": 932995.00 },\n        { \"period_ending\": \"2032-06-30\", \"principal\": 910000, \"interest\": 212485.00, \"total_debt_service\": 931485.00 },\n        { \"period_ending\": \"2033-06-30\", \"principal\": 0, \"interest\": 212485.00, \"total_debt_service\": 212485.00 }\n      ]\n    }\n  ],\n  \"bond_issues\": [\n    {\n      \"bond_amount\": 16500000,\n      \"election_year\": \"2000\",\n      \"bond_type\": \"General Obligation Bonds\",\n      \"bond_series\": \"Series C\",\n      \"rating\": \"AAA\",\n      \"due_date\": \"2032-08-01\",\n      \"interest_commencing_date\": \"2004-02-01\",\n      \"redemption_policy\": {\n        \"optional_call_date\": \"2011-08-01\",\n        \"maturities_callable_after\": \"2012-08-01\",\n        \"redemption_price\": null\n      },\n      \"maturity_schedule\": {\n        \"base_cusip\": null,\n        \"maturities\": [\n          { \"maturity_date\": \"2003-08-01\", \"principal_amount\": 240000, \"interest_rate\": \"6.000%\", \"yield\": \"1.000%\", \"price\": \"100.000\", \"cusip\": null },\n          { \"maturity_date\": \"2004-08-01\", \"principal_amount\": 295000, \"interest_rate\": \"6.000%\", \"yield\": \"1.200%\", \"price\": \"100.000\", \"cusip\": null },\n          { \"maturity_date\": \"2005-08-01\", \"principal_amount\": 310000, \"interest_rate\": \"6.000%\", \"yield\": \"1.500%\", \"price\": \"100.000\", \"cusip\": null },\n          { \"maturity_date\": \"2006-08-01\", \"principal_amount\": 325000, \"interest_rate\": \"6.000%\", \"yield\": \"1.750%\", \"price\": \"100.000\", \"cusip\": null },\n          { \"maturity_date\": \"2007-08-01\", \"principal_amount\": 340000, \"interest_rate\": \"5.500%\", \"yield\": \"2.100%\", \"price\": \"100.000\", \"cusip\": null },\n          { \"maturity_date\": \"2008-08-01\", \"principal_amount\": 360000, \"interest_rate\": \"5.500%\", \"yield\": \"2.500%\", \"price\": \"100.000\", \"cusip\": null },\n          { \"maturity_date\": \"2009-08-01\", \"principal_amount\": 375000, \"interest_rate\": \"5.500%\", \"yield\": \"2.800%\", \"price\": \"100.000\", \"cusip\": null },\n          { \"maturity_date\": \"2010-08-01\", \"principal_amount\": 395000, \"interest_rate\": \"4.150%\", \"yield\": \"3.000%\", \"price\": \"100.000\", \"cusip\": null },\n          { \"maturity_date\": \"2011-08-01\", \"principal_amount\": 415000, \"interest_rate\": \"4.150%\", \"yield\": \"100.000%\", \"price\": \"100.000\", \"cusip\": null },\n          { \"maturity_date\": \"2012-08-01\", \"principal_amount\": 430000, \"interest_rate\": \"3.200%\", \"yield\": \"100.000%\", \"price\": \"100.000\", \"cusip\": null },\n          { \"maturity_date\": \"2013-08-01\", \"principal_amount\": 440000, \"interest_rate\": \"3.200%\", \"yield\": \"100.000%\", \"price\": \"100.000\", \"cusip\": null },\n          { \"maturity_date\": \"2014-08-01\", \"principal_amount\": 460000, \"interest_rate\": \"3.375%\", \"yield\": \"100.000%\", \"price\": \"100.000\", \"cusip\": null },\n          { \"maturity_date\": \"2015-08-01\", \"principal_amount\": 470000, \"interest_rate\": \"3.500%\", \"yield\": \"100.000%\", \"price\": \"100.000\", \"cusip\": null },\n          { \"maturity_date\": \"2016-08-01\", \"principal_amount\": 485000, \"interest_rate\": \"3.600%\", \"yield\": \"100.000%\", \"price\": \"100.000\", \"cusip\": null },\n          { \"maturity_date\": \"2017-08-01\", \"principal_amount\": 505000, \"interest_rate\": \"3.675%\", \"yield\": \"3.875%\", \"price\": \"100.000\", \"cusip\": null },\n          { \"maturity_date\": \"2018-08-01\", \"principal_amount\": 530000, \"interest_rate\": \"3.750%\", \"yield\": \"3.900%\", \"price\": \"100.000\", \"cusip\": null },\n          { \"maturity_date\": \"2019-08-01\", \"principal_amount\": 555000, \"interest_rate\": \"4.000%\", \"yield\": \"100.000%\", \"price\": \"100.000\", \"cusip\": null },\n          { \"maturity_date\": \"2020-08-01\", \"principal_amount\": 580000, \"interest_rate\": \"4.100%\", \"yield\": \"100.000%\", \"price\": \"100.000\", \"cusip\": null },\n          { \"maturity_date\": \"2021-08-01\", \"principal_amount\": 610000, \"interest_rate\": \"4.100%\", \"yield\": \"100.000%\", \"price\": \"100.000\", \"cusip\": null },\n          { \"maturity_date\": \"2022-08-01\", \"principal_amount\": 635000, \"interest_rate\": \"4.100%\", \"yield\": \"100.000%\", \"price\": \"100.000\", \"cusip\": null },\n          { \"maturity_date\": \"2023-08-01\", \"principal_amount\": 665000, \"interest_rate\": \"4.200%\", \"yield\": \"4.250%\", \"price\": \"100.000\", \"cusip\": null },\n          { \"maturity_date\": \"2024-08-01\", \"principal_amount\": 695000, \"interest_rate\": \"4.200%\", \"yield\": \"4.250%\", \"price\": \"100.000\", \"cusip\": null },\n          { \"maturity_date\": \"2025-08-01\", \"principal_amount\": 730000, \"interest_rate\": \"4.250%\", \"yield\": \"100.000%\", \"price\": \"100.000\", \"cusip\": null },\n          { \"maturity_date\": \"2026-08-01\", \"principal_amount\": 765000, \"interest_rate\": \"4.250%\", \"yield\": \"100.000%\", \"price\": \"100.000\", \"cusip\": null },\n          { \"maturity_date\": \"2027-08-01\", \"principal_amount\": 800000, \"interest_rate\": \"4.250%\", \"yield\": \"100.000%\", \"price\": \"100.000\", \"cusip\": null },\n          { \"maturity_date\": \"2028-08-01\", \"principal_amount\": 835000, \"interest_rate\": \"4.250%\", \"yield\": \"100.000%\", \"price\": \"100.000\", \"cusip\": null },\n          { \"maturity_date\": \"2029-08-01\", \"principal_amount\": 870000, \"interest_rate\": \"4.250%\", \"yield\": \"100.000%\", \"price\": \"100.000\", \"cusip\": null },\n          { \"maturity_date\": \"2030-08-01\", \"principal_amount\": 910000, \"interest_rate\": \"4.250%\", \"yield\": \"100.000%\", \"price\": \"100.000\", \"cusip\": null },\n          { \"maturity_date\": \"2031-08-01\", \"principal_amount\": 950000, \"interest_rate\": \"4.250%\", \"yield\": \"100.000%\", \"price\": \"100.000\", \"cusip\": null },\n          { \"maturity_date\": \"2032-08-01\", \"principal_amount\": 990000, \"interest_rate\": \"4.300%\", \"yield\": \"100.000%\", \"price\": \"100.000\", \"cusip\": null }\n        ]\n      },\n      \"debt_service_schedule\": [\n        { \"period_ending\": \"2004-06-30\", \"principal\": 0, \"interest\": 397220.38, \"total_debt_service\": 397220.38 },\n        { \"period_ending\": \"2005-06-30\", \"principal\": 240000, \"interest\": 700717.50, \"total_debt_service\": 940717.50 },\n        { \"period_ending\": \"2006-06-30\", \"principal\": 295000, \"interest\": 624197.50, \"total_debt_service\": 919197.50 },\n        { \"period_ending\": \"2007-06-30\", \"principal\": 310000, \"interest\": 647467.50, \"total_debt_service\": 957467.50 },\n        { \"period_ending\": \"2008-06-30\", \"principal\": 325000, \"interest\": 624087.50, \"total_debt_service\": 949087.50 },\n        { \"period_ending\": \"2009-06-30\", \"principal\": 340000, \"interest\": 608722.50, \"total_debt_service\": 948722.50 },\n        { \"period_ending\": \"2010-06-30\", \"principal\": 360000, \"interest\": 588565.00, \"total_debt_service\": 948565.00 },\n        { \"period_ending\": \"2011-06-30\", \"principal\": 375000, \"interest\": 570155.00, \"total_debt_service\": 945155.00 },\n        { \"period_ending\": \"2012-06-30\", \"principal\": 395000, \"interest\": 552125.00, \"total_debt_service\": 947125.00 },\n        { \"period_ending\": \"2013-06-30\", \"principal\": 415000, \"interest\": 527800.00, \"total_debt_service\": 942800.00 },\n        { \"period_ending\": \"2014-06-30\", \"principal\": 430000, \"interest\": 527800.00, \"total_debt_service\": 957800.00 },\n        { \"period_ending\": \"2015-06-30\", \"principal\": 440000, \"interest\": 512325.00, \"total_debt_service\": 952325.00 },\n        { \"period_ending\": \"2016-06-30\", \"principal\": 460000, \"interest\": 497500.00, \"total_debt_service\": 957500.00 },\n        { \"period_ending\": \"2017-06-30\", \"principal\": 470000, \"interest\": 477246.25, \"total_debt_service\": 947246.25 },\n        { \"period_ending\": \"2018-06-30\", \"principal\": 485000, \"interest\": 457608.75, \"total_debt_service\": 942608.75 },\n        { \"period_ending\": \"2019-06-30\", \"principal\": 505000, \"interest\": 436240.00, \"total_debt_service\": 941240.00 },\n        { \"period_ending\": \"2020-06-30\", \"principal\": 530000, \"interest\": 413340.00, \"total_debt_service\": 943340.00 },\n        { \"period_ending\": \"2021-06-30\", \"principal\": 555000, \"interest\": 388855.00, \"total_debt_service\": 943855.00 },\n        { \"period_ending\": \"2022-06-30\", \"principal\": 580000, \"interest\": 363332.50, \"total_debt_service\": 943332.50 },\n        { \"period_ending\": \"2023-06-30\", \"principal\": 610000, \"interest\": 336350.00, \"total_debt_service\": 946350.00 },\n        { \"period_ending\": \"2024-06-30\", \"principal\": 635000, \"interest\": 307687.50, \"total_debt_service\": 942687.50 },\n        { \"period_ending\": \"2025-06-30\", \"principal\": 665000, \"interest\": 277472.50, \"total_debt_service\": 942472.50 },\n        { \"period_ending\": \"2026-06-30\", \"principal\": 695000, \"interest\": 245703.75, \"total_debt_service\": 940703.75 },\n        { \"period_ending\": \"2027-06-30\", \"principal\": 730000, \"interest\": 212442.50, \"total_debt_service\": 942442.50 },\n        { \"period_ending\": \"2028-06-30\", \"principal\": 765000, \"interest\": 177033.75, \"total_debt_service\": 942033.75 },\n        { \"period_ending\": \"2029-06-30\", \"principal\": 800000, \"interest\": 141255.00, \"total_debt_service\": 941255.00 },\n        { \"period_ending\": \"2030-06-30\", \"principal\": 835000, \"interest\": 102985.00, \"total_debt_service\": 937985.00 },\n        { \"period_ending\": \"2031-06-30\", \"principal\": 870000, \"interest\": 62995.00, \"total_debt_service\": 932995.00 },\n        { \"period_ending\": \"2032-06-30\", \"principal\": 910000, \"interest\": 212485.00, \"total_debt_service\": 931485.00 },\n        { \"period_ending\": \"2033-06-30\", \"principal\": 0, \"interest\": 212485.00, \"total_debt_service\": 212485.00 }\n      ]\n    }\n  ]\n}\n```"
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "index": 0,
          "citationMetadata": {
            "citationSources": [
              {
                "startIndex": 25278,
                "endIndex": 25598,
                "uri": "https://www.sausalito.gov/home/showpublisheddocument/17883/636326254065130000",
                "license": ""
              }
            ]
          }
        }
      }
    ],
    "Extract Metadata with Gemini1": [
      {
        "json": {
          "output": {
            "document_title": "CAJON VALLEY UNION ELEMENTARY SCHOOL DISTRICT SAN DIEGO COUNTY, CALIFORNIA GENERAL OBLIGATION BONDS 2000 ELECTION, SERIES C",
            "school_district_name": "Cajon Valley Union Elementary School District",
            "county": "San Diego County, California",
            "state": "CA",
            "overall_rating": "AAA",
            "overall_rating_agency": "S&P",
            "overall_due_date": "2032-08-01",
            "bond_legal_counsel": "Jones Hall, A Professional Law Corporation",
            "bond_disclosure_counsel": "",
            "date_bond_closes": "2003-06-25",
            "date_of_delivery": "2003-06-25",
            "interest_payment_dates": "February 1 and August 1 (semiannually)",
            "interest_commencing_date": "2004-02-01",
            "redemption_dates": null,
            "underwriters": [],
            "superintendent": "Dr. Janice Cook",
            "financial_management_contact": {
              "name": "G. Wayne Oetken",
              "title": "Assistant Superintendent, Business Services",
              "address": "189 Roanoke Road El Cajon, California 92022",
              "phone": ""
            },
            "board_of_education": [
              {
                "name": "Jeff Kover",
                "role": "President"
              },
              {
                "name": "Jane Cruz Alfano",
                "role": "Vice President"
              },
              {
                "name": "Dianne Berto",
                "role": "Clerk"
              },
              {
                "name": "Laoma Dana Davidson",
                "role": "Member"
              },
              {
                "name": "Marsha Saben",
                "role": "Member"
              }
            ],
            "assessed_valuation_summary": {
              "fiscal_year": "2002-03",
              "total_assessed_valuation": 8716563199,
              "valuation_source": "California Municipal Statistics, Inc.",
              "is_county_teeter_plan_participant": true,
              "notes": "The County of San Diego operates under the Teeter Plan, where public agencies receive their total secured tax levies and special assessments irrespective of actual collections and delinquencies. However, the document notes that the District's assurance of 100% collection of its total secured tax explicitly excludes general obligation bond payments."
            },
            "estimated_sources_and_uses": {
              "total_sources": 0,
              "total_uses": 0,
              "sources_by_issue": [],
              "uses_by_category": []
            },
            "debt_service_schedule": [
              {
                "issue": "2000 Election, Series C Bonds",
                "schedule": [
                  {
                    "period_ending": "2004-06-30",
                    "principal": 0,
                    "interest": 397220.38,
                    "total_debt_service": 397220.38
                  },
                  {
                    "period_ending": "2005-06-30",
                    "principal": 240000,
                    "interest": 700717.5,
                    "total_debt_service": 940717.5
                  },
                  {
                    "period_ending": "2006-06-30",
                    "principal": 295000,
                    "interest": 624197.5,
                    "total_debt_service": 919197.5
                  },
                  {
                    "period_ending": "2007-06-30",
                    "principal": 310000,
                    "interest": 647467.5,
                    "total_debt_service": 957467.5
                  },
                  {
                    "period_ending": "2008-06-30",
                    "principal": 325000,
                    "interest": 624087.5,
                    "total_debt_service": 949087.5
                  },
                  {
                    "period_ending": "2009-06-30",
                    "principal": 340000,
                    "interest": 608722.5,
                    "total_debt_service": 948722.5
                  },
                  {
                    "period_ending": "2010-06-30",
                    "principal": 360000,
                    "interest": 588565,
                    "total_debt_service": 948565
                  },
                  {
                    "period_ending": "2011-06-30",
                    "principal": 375000,
                    "interest": 570155,
                    "total_debt_service": 945155
                  },
                  {
                    "period_ending": "2012-06-30",
                    "principal": 395000,
                    "interest": 552125,
                    "total_debt_service": 947125
                  },
                  {
                    "period_ending": "2013-06-30",
                    "principal": 415000,
                    "interest": 527800,
                    "total_debt_service": 942800
                  },
                  {
                    "period_ending": "2014-06-30",
                    "principal": 430000,
                    "interest": 527800,
                    "total_debt_service": 957800
                  },
                  {
                    "period_ending": "2015-06-30",
                    "principal": 440000,
                    "interest": 512325,
                    "total_debt_service": 952325
                  },
                  {
                    "period_ending": "2016-06-30",
                    "principal": 460000,
                    "interest": 497500,
                    "total_debt_service": 957500
                  },
                  {
                    "period_ending": "2017-06-30",
                    "principal": 470000,
                    "interest": 477246.25,
                    "total_debt_service": 947246.25
                  },
                  {
                    "period_ending": "2018-06-30",
                    "principal": 485000,
                    "interest": 457608.75,
                    "total_debt_service": 942608.75
                  },
                  {
                    "period_ending": "2019-06-30",
                    "principal": 505000,
                    "interest": 436240,
                    "total_debt_service": 941240
                  },
                  {
                    "period_ending": "2020-06-30",
                    "principal": 530000,
                    "interest": 413340,
                    "total_debt_service": 943340
                  },
                  {
                    "period_ending": "2021-06-30",
                    "principal": 555000,
                    "interest": 388855,
                    "total_debt_service": 943855
                  },
                  {
                    "period_ending": "2022-06-30",
                    "principal": 580000,
                    "interest": 363332.5,
                    "total_debt_service": 943332.5
                  },
                  {
                    "period_ending": "2023-06-30",
                    "principal": 610000,
                    "interest": 336350,
                    "total_debt_service": 946350
                  },
                  {
                    "period_ending": "2024-06-30",
                    "principal": 635000,
                    "interest": 307687.5,
                    "total_debt_service": 942687.5
                  },
                  {
                    "period_ending": "2025-06-30",
                    "principal": 665000,
                    "interest": 277472.5,
                    "total_debt_service": 942472.5
                  },
                  {
                    "period_ending": "2026-06-30",
                    "principal": 695000,
                    "interest": 245703.75,
                    "total_debt_service": 940703.75
                  },
                  {
                    "period_ending": "2027-06-30",
                    "principal": 730000,
                    "interest": 212442.5,
                    "total_debt_service": 942442.5
                  },
                  {
                    "period_ending": "2028-06-30",
                    "principal": 765000,
                    "interest": 177033.75,
                    "total_debt_service": 942033.75
                  },
                  {
                    "period_ending": "2029-06-30",
                    "principal": 800000,
                    "interest": 141255,
                    "total_debt_service": 941255
                  },
                  {
                    "period_ending": "2030-06-30",
                    "principal": 835000,
                    "interest": 102985,
                    "total_debt_service": 937985
                  },
                  {
                    "period_ending": "2031-06-30",
                    "principal": 870000,
                    "interest": 62995,
                    "total_debt_service": 932995
                  },
                  {
                    "period_ending": "2032-06-30",
                    "principal": 910000,
                    "interest": 212485,
                    "total_debt_service": 931485
                  },
                  {
                    "period_ending": "2033-06-30",
                    "principal": 0,
                    "interest": 212485,
                    "total_debt_service": 212485
                  }
                ]
              }
            ],
            "bond_issues": [
              {
                "bond_amount": 16500000,
                "election_year": "2000",
                "bond_type": "General Obligation Bonds",
                "bond_series": "Series C",
                "rating": "AAA",
                "due_date": "2032-08-01",
                "interest_commencing_date": "2004-02-01",
                "redemption_policy": null,
                "maturity_schedule": {
                  "base_cusip": "",
                  "maturities": [
                    {
                      "maturity_date": "2003-08-01",
                      "principal_amount": 240000,
                      "interest_rate": "6.000%",
                      "yield": "1.000%",
                      "price": "100.000",
                      "cusip": ""
                    },
                    {
                      "maturity_date": "2004-08-01",
                      "principal_amount": 295000,
                      "interest_rate": "6.000%",
                      "yield": "1.200%",
                      "price": "100.000",
                      "cusip": ""
                    },
                    {
                      "maturity_date": "2005-08-01",
                      "principal_amount": 310000,
                      "interest_rate": "6.000%",
                      "yield": "1.500%",
                      "price": "100.000",
                      "cusip": ""
                    },
                    {
                      "maturity_date": "2006-08-01",
                      "principal_amount": 325000,
                      "interest_rate": "6.000%",
                      "yield": "1.750%",
                      "price": "100.000",
                      "cusip": ""
                    },
                    {
                      "maturity_date": "2007-08-01",
                      "principal_amount": 340000,
                      "interest_rate": "5.500%",
                      "yield": "2.100%",
                      "price": "100.000",
                      "cusip": ""
                    },
                    {
                      "maturity_date": "2008-08-01",
                      "principal_amount": 360000,
                      "interest_rate": "5.500%",
                      "yield": "2.500%",
                      "price": "100.000",
                      "cusip": ""
                    },
                    {
                      "maturity_date": "2009-08-01",
                      "principal_amount": 375000,
                      "interest_rate": "5.500%",
                      "yield": "2.800%",
                      "price": "100.000",
                      "cusip": ""
                    },
                    {
                      "maturity_date": "2010-08-01",
                      "principal_amount": 395000,
                      "interest_rate": "4.150%",
                      "yield": "3.000%",
                      "price": "100.000",
                      "cusip": ""
                    },
                    {
                      "maturity_date": "2011-08-01",
                      "principal_amount": 415000,
                      "interest_rate": "4.150%",
                      "yield": "100.000%",
                      "price": "100.000",
                      "cusip": ""
                    },
                    {
                      "maturity_date": "2012-08-01",
                      "principal_amount": 430000,
                      "interest_rate": "3.200%",
                      "yield": "100.000%",
                      "price": "100.000",
                      "cusip": ""
                    },
                    {
                      "maturity_date": "2013-08-01",
                      "principal_amount": 440000,
                      "interest_rate": "3.200%",
                      "yield": "100.000%",
                      "price": "100.000",
                      "cusip": ""
                    },
                    {
                      "maturity_date": "2014-08-01",
                      "principal_amount": 460000,
                      "interest_rate": "3.375%",
                      "yield": "100.000%",
                      "price": "100.000",
                      "cusip": ""
                    },
                    {
                      "maturity_date": "2015-08-01",
                      "principal_amount": 470000,
                      "interest_rate": "3.500%",
                      "yield": "100.000%",
                      "price": "100.000",
                      "cusip": ""
                    },
                    {
                      "maturity_date": "2016-08-01",
                      "principal_amount": 485000,
                      "interest_rate": "3.600%",
                      "yield": "100.000%",
                      "price": "100.000",
                      "cusip": ""
                    },
                    {
                      "maturity_date": "2017-08-01",
                      "principal_amount": 505000,
                      "interest_rate": "3.675%",
                      "yield": "3.875%",
                      "price": "100.000",
                      "cusip": ""
                    },
                    {
                      "maturity_date": "2018-08-01",
                      "principal_amount": 530000,
                      "interest_rate": "3.750%",
                      "yield": "3.900%",
                      "price": "100.000",
                      "cusip": ""
                    },
                    {
                      "maturity_date": "2019-08-01",
                      "principal_amount": 555000,
                      "interest_rate": "4.000%",
                      "yield": "100.000%",
                      "price": "100.000",
                      "cusip": ""
                    },
                    {
                      "maturity_date": "2020-08-01",
                      "principal_amount": 580000,
                      "interest_rate": "4.100%",
                      "yield": "100.000%",
                      "price": "100.000",
                      "cusip": ""
                    },
                    {
                      "maturity_date": "2021-08-01",
                      "principal_amount": 610000,
                      "interest_rate": "4.100%",
                      "yield": "100.000%",
                      "price": "100.000",
                      "cusip": ""
                    },
                    {
                      "maturity_date": "2022-08-01",
                      "principal_amount": 635000,
                      "interest_rate": "4.100%",
                      "yield": "100.000%",
                      "price": "100.000",
                      "cusip": ""
                    },
                    {
                      "maturity_date": "2023-08-01",
                      "principal_amount": 665000,
                      "interest_rate": "4.200%",
                      "yield": "4.250%",
                      "price": "100.000",
                      "cusip": ""
                    },
                    {
                      "maturity_date": "2024-08-01",
                      "principal_amount": 695000,
                      "interest_rate": "4.200%",
                      "yield": "4.250%",
                      "price": "100.000",
                      "cusip": ""
                    },
                    {
                      "maturity_date": "2025-08-01",
                      "principal_amount": 730000,
                      "interest_rate": "4.250%",
                      "yield": "100.000%",
                      "price": "100.000",
                      "cusip": ""
                    },
                    {
                      "maturity_date": "2026-08-01",
                      "principal_amount": 765000,
                      "interest_rate": "4.250%",
                      "yield": "100.000%",
                      "price": "100.000",
                      "cusip": ""
                    },
                    {
                      "maturity_date": "2027-08-01",
                      "principal_amount": 800000,
                      "interest_rate": "4.250%",
                      "yield": "100.000%",
                      "price": "100.000",
                      "cusip": ""
                    },
                    {
                      "maturity_date": "2028-08-01",
                      "principal_amount": 835000,
                      "interest_rate": "4.250%",
                      "yield": "100.000%",
                      "price": "100.000",
                      "cusip": ""
                    },
                    {
                      "maturity_date": "2029-08-01",
                      "principal_amount": 870000,
                      "interest_rate": "4.250%",
                      "yield": "100.000%",
                      "price": "100.000",
                      "cusip": ""
                    },
                    {
                      "maturity_date": "2030-08-01",
                      "principal_amount": 910000,
                      "interest_rate": "4.250%",
                      "yield": "100.000%",
                      "price": "100.000",
                      "cusip": ""
                    },
                    {
                      "maturity_date": "2031-08-01",
                      "principal_amount": 950000,
                      "interest_rate": "4.250%",
                      "yield": "100.000%",
                      "price": "100.000",
                      "cusip": ""
                    },
                    {
                      "maturity_date": "2032-08-01",
                      "principal_amount": 990000,
                      "interest_rate": "4.300%",
                      "yield": "100.000%",
                      "price": "100.000",
                      "cusip": ""
                    }
                  ]
                },
                "debt_service_schedule": [
                  {
                    "period_ending": "2004-06-30",
                    "principal": 0,
                    "interest": 397220.38,
                    "total_debt_service": 397220.38
                  },
                  {
                    "period_ending": "2005-06-30",
                    "principal": 240000,
                    "interest": 700717.5,
                    "total_debt_service": 940717.5
                  },
                  {
                    "period_ending": "2006-06-30",
                    "principal": 295000,
                    "interest": 624197.5,
                    "total_debt_service": 919197.5
                  },
                  {
                    "period_ending": "2007-06-30",
                    "principal": 310000,
                    "interest": 647467.5,
                    "total_debt_service": 957467.5
                  },
                  {
                    "period_ending": "2008-06-30",
                    "principal": 325000,
                    "interest": 624087.5,
                    "total_debt_service": 949087.5
                  },
                  {
                    "period_ending": "2009-06-30",
                    "principal": 340000,
                    "interest": 608722.5,
                    "total_debt_service": 948722.5
                  },
                  {
                    "period_ending": "2010-06-30",
                    "principal": 360000,
                    "interest": 588565,
                    "total_debt_service": 948565
                  },
                  {
                    "period_ending": "2011-06-30",
                    "principal": 375000,
                    "interest": 570155,
                    "total_debt_service": 945155
                  },
                  {
                    "period_ending": "2012-06-30",
                    "principal": 395000,
                    "interest": 552125,
                    "total_debt_service": 947125
                  },
                  {
                    "period_ending": "2013-06-30",
                    "principal": 415000,
                    "interest": 527800,
                    "total_debt_service": 942800
                  },
                  {
                    "period_ending": "2014-06-30",
                    "principal": 430000,
                    "interest": 527800,
                    "total_debt_service": 957800
                  },
                  {
                    "period_ending": "2015-06-30",
                    "principal": 440000,
                    "interest": 512325,
                    "total_debt_service": 952325
                  },
                  {
                    "period_ending": "2016-06-30",
                    "principal": 460000,
                    "interest": 497500,
                    "total_debt_service": 957500
                  },
                  {
                    "period_ending": "2017-06-30",
                    "principal": 470000,
                    "interest": 477246.25,
                    "total_debt_service": 947246.25
                  },
                  {
                    "period_ending": "2018-06-30",
                    "principal": 485000,
                    "interest": 457608.75,
                    "total_debt_service": 942608.75
                  },
                  {
                    "period_ending": "2019-06-30",
                    "principal": 505000,
                    "interest": 436240,
                    "total_debt_service": 941240
                  },
                  {
                    "period_ending": "2020-06-30",
                    "principal": 530000,
                    "interest": 413340,
                    "total_debt_service": 943340
                  },
                  {
                    "period_ending": "2021-06-30",
                    "principal": 555000,
                    "interest": 388855,
                    "total_debt_service": 943855
                  },
                  {
                    "period_ending": "2022-06-30",
                    "principal": 580000,
                    "interest": 363332.5,
                    "total_debt_service": 943332.5
                  },
                  {
                    "period_ending": "2023-06-30",
                    "principal": 610000,
                    "interest": 336350,
                    "total_debt_service": 946350
                  },
                  {
                    "period_ending": "2024-06-30",
                    "principal": 635000,
                    "interest": 307687.5,
                    "total_debt_service": 942687.5
                  },
                  {
                    "period_ending": "2025-06-30",
                    "principal": 665000,
                    "interest": 277472.5,
                    "total_debt_service": 942472.5
                  },
                  {
                    "period_ending": "2026-06-30",
                    "principal": 695000,
                    "interest": 245703.75,
                    "total_debt_service": 940703.75
                  },
                  {
                    "period_ending": "2027-06-30",
                    "principal": 730000,
                    "interest": 212442.5,
                    "total_debt_service": 942442.5
                  },
                  {
                    "period_ending": "2028-06-30",
                    "principal": 765000,
                    "interest": 177033.75,
                    "total_debt_service": 942033.75
                  },
                  {
                    "period_ending": "2029-06-30",
                    "principal": 800000,
                    "interest": 141255,
                    "total_debt_service": 941255
                  },
                  {
                    "period_ending": "2030-06-30",
                    "principal": 835000,
                    "interest": 102985,
                    "total_debt_service": 937985
                  },
                  {
                    "period_ending": "2031-06-30",
                    "principal": 870000,
                    "interest": 62995,
                    "total_debt_service": 932995
                  },
                  {
                    "period_ending": "2032-06-30",
                    "principal": 910000,
                    "interest": 212485,
                    "total_debt_service": 931485
                  },
                  {
                    "period_ending": "2033-06-30",
                    "principal": 0,
                    "interest": 212485,
                    "total_debt_service": 212485
                  }
                ]
              }
            ]
          }
        }
      }
    ]
  },
  "versionId": "5d8f8f00-b5c3-4331-abd9-66658011fa57",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-15T23:39:49.144Z",
      "createdAt": "2025-11-15T23:39:49.144Z",
      "role": "workflow:owner",
      "workflowId": "biW8aKwAI78Eo4Gw",
      "projectId": "2vHf2VxAoKk0WgJE"
    }
  ],
  "tags": []
}