workflows/PDF_Processing_Pipeline.json
{
  "updatedAt": "2025-11-17T10:29:41.000Z",
  "createdAt": "2025-11-15T23:39:49.140Z",
  "id": "biW8aKwAI78Eo4Gw",
  "name": "PDF_Processing_Pipeline",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "c214b04f-b039-4274-9501-5418fb697e16",
      "name": "Set Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -9904,
        4464
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.gemini_file_store_name }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "60dee38e-ac2d-46e3-9c21-458a6af011fc",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -9120,
        4464
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "mimeType='application/pdf'",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "172HxoeJMtLyabbWRfEA9S8goFwOkS4Kq",
            "mode": "list",
            "cachedResultName": "Municipal_Bonds",
            "cachedResultUrl": "https://drive.google.com/drive/folders/172HxoeJMtLyabbWRfEA9S8goFwOkS4Kq"
          }
        },
        "options": {}
      },
      "id": "18d75be6-1134-416b-819e-05e2d3e02e14",
      "name": "Search files and folders",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -8672,
        4448
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XOPXkOVbKhQILqsj",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c0f19397-d7cf-43d0-8e93-8da1bc8d2573",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -8144,
        4448
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Search files and folders').item.json.id }}"
        },
        "options": {}
      },
      "id": "426fd173-aa8b-4d3a-b2a6-d54904b1294d",
      "name": "Download file",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -7920,
        4464
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XOPXkOVbKhQILqsj",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.toJsonString() }}",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "3f2638bc-6332-41d0-9aa9-a0af02d6a25e",
      "name": "New Doc?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6448,
        4464
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.content_hash }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c6c7045c-8c6c-43b8-be2e-563d1185deec",
      "name": "Identical Content Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5984,
        4144
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('Generate Hash').item.json.hash }}",
              "rightValue": "={{ $('Search Record Manager').item.json.hash }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d160b5e1-f738-4320-b85d-abc5e13fde2a",
      "name": "Has it Changed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6032,
        4528
      ]
    },
    {
      "parameters": {
        "jsCode": "// Log that the file is being skipped (no changes detected)\nfor (const item of $input.all()) {\n  console.log(`Skipping file: ${item.json.name || 'Unknown'} - No changes detected`);\n}\n\n// Return all input items unchanged\nreturn $input.all();"
      },
      "id": "15fbbb90-bfb8-48e4-9cc0-745a547237e4",
      "name": "Do Nothing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5696,
        3568
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "### TODO\ncheck for identical contents using hash of contents"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6512,
        4256
      ],
      "typeVersion": 1,
      "id": "f9d65b64-6792-4e60-bb4e-9206219bb19a",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "driveId": {
          "mode": "list",
          "value": ""
        },
        "folderId": {
          "mode": "id",
          "value": "TODO_ARCHIVE_FOLDER_ID"
        }
      },
      "id": "8e5fb666-d494-4055-8209-2592275f35ef",
      "name": "Archive Unchanged File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -5472,
        3568
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XOPXkOVbKhQILqsj",
          "name": "Google Drive"
        }
      },
      "disabled": true,
      "notes": "TODO: Set archive folder ID"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://generativelanguage.googleapis.com/v1beta/{{ $('Search Record Manager').item.json.file_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "={{ $credentials.apiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4f73f19d-9609-470f-996e-1bf5309792b9",
      "name": "Delete Old from Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5744,
        4672
      ],
      "disabled": true,
      "notes": "Delete outdated version from Gemini"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM gemini_record_manager WHERE document_id = $1",
        "options": {}
      },
      "id": "44215034-981b-4286-be12-c8bc57c4f7ec",
      "name": "Delete Old Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5520,
        4672
      ],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Reload binary from Google Drive (n8n limitation workaround)\nconst fileId = $json.id;\n\n// Re-download file\nconst requestOptions = {\n  method: 'GET',\n  url: `https://www.googleapis.com/drive/v3/files/${fileId}?alt=media`,\n  encoding: null,\n  json: false\n};\n\nconst binaryData = await this.helpers.httpRequestWithAuthentication.call(\n  this,\n  'googleDriveOAuth2Api',\n  requestOptions\n);\n\nreturn {\n  json: $json,\n  binary: {\n    data: await this.helpers.prepareBinaryData(\n      Buffer.from(binaryData),\n      $json.file_name\n    )\n  }\n};"
      },
      "id": "0c32f510-66e0-40d0-9f86-e2feb06d45c6",
      "name": "Reload Binary for PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5296,
        4560
      ],
      "disabled": true,
      "notes": "Binary reload required due to n8n limitation"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.binary }}",
              "operator": {
                "type": "object",
                "operation": "exists"
              }
            },
            {
              "id": "id-2",
              "leftValue": "={{ $json.file_size }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7fe96413-2762-4a4c-8496-c32799cc5300",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5072,
        4560
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "joinPages": true,
          "maxPages": 5
        }
      },
      "id": "8f2ab3d7-a7c1-4a68-af65-eb92a0bd00f0",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -4848,
        4560
      ],
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "document_type",
              "value": "<__PLACEHOLDER_VALUE__Document Type (e.g., invoice, contract, report)__>",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "period",
              "value": "<__PLACEHOLDER_VALUE__Period (e.g., 2024-Q1, January 2024)__>",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "entities",
              "value": "[\"<__PLACEHOLDER_VALUE__Entity 1__>\", \"<__PLACEHOLDER_VALUE__Entity 2__>\"]",
              "type": "array"
            },
            {
              "id": "id-4",
              "name": "categories",
              "value": "[\"<__PLACEHOLDER_VALUE__Category 1__>\", \"<__PLACEHOLDER_VALUE__Category 2__>\"]",
              "type": "array"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "93099eb1-7530-4b21-b188-8f0d0da1abb3",
      "name": "Custom Metadata (Manual)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4272,
        4560
      ],
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "id": "f7638bc7-0ba4-490d-9b52-cc51b8ff3196",
      "name": "Extract Metadata with Gemini",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -4624,
        4560
      ],
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "10ea86ce-a71c-4262-ad3b-a8053792c88a",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -4624,
        4784
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "LKQbGwmroZKBfciU",
          "name": "Gemini - Cribl"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"document_type\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"period\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"entities\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t},\n\t\t\"summary\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"categories\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t}\n\t}\n}"
      },
      "id": "b9210b09-29ad-4af7-bf40-184c4e74390d",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -4496,
        4784
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/upload/v1beta/files",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Upload-Protocol",
              "value": "resumable"
            },
            {
              "name": "X-Goog-Upload-Command",
              "value": "start"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Length",
              "value": "={{ $json.file_size }}"
            },
            {
              "name": "X-Goog-Upload-Header-Content-Type",
              "value": "application/pdf"
            },
            {
              "name": "x-goog-api-key",
              "value": "<__PLACEHOLDER_VALUE__Your Gemini API Key__>"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"file\": {\n    \"display_name\": \"={{ $json.file_name }}\",\n    \"custom_metadata\": \"={{ $json.metadata }}\"\n  }\n}",
        "options": {}
      },
      "id": "9b474dc2-370a-49ea-b74c-f53a7a9a7ecb",
      "name": "Set File Parameters & Get Upload URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3856,
        4960
      ],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Reload binary from Google Drive for upload (second reload)\nconst fileId = $json.id;\n\n// Re-download file\nconst requestOptions = {\n  method: 'GET',\n  url: `https://www.googleapis.com/drive/v3/files/${fileId}?alt=media`,\n  encoding: null,\n  json: false\n};\n\nconst binaryData = await this.helpers.httpRequestWithAuthentication.call(\n  this,\n  'googleDriveOAuth2Api',\n  requestOptions\n);\n\nreturn {\n  json: $json,\n  binary: {\n    data: await this.helpers.prepareBinaryData(\n      Buffer.from(binaryData),\n      $json.file_name\n    )\n  }\n};"
      },
      "id": "7f4bdd09-6e47-47a4-a532-0a0f4a4b6296",
      "name": "Reload Binary for Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3536,
        4960
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set File Parameters & Get Upload URL').item.json.uploadUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Upload-Offset",
              "value": "0"
            },
            {
              "name": "X-Goog-Upload-Command",
              "value": "upload, finalize"
            },
            {
              "name": "x-goog-api-key",
              "value": "<__PLACEHOLDER_VALUE__Your Gemini API Key__>"
            },
            {
              "name": "Content-Type",
              "value": "application/pdf"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "ee9520b8-a3c2-4094-9649-fb3e37efad18",
      "name": "Upload to File Search Store",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3248,
        4960
      ],
      "disabled": true
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "5ab7b75d-0a34-444b-a97b-896bb8723eb3",
      "name": "Initial Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2992,
        4960
      ],
      "webhookId": "65ffbc87-56e5-48ba-bc9d-5e128ced5081",
      "disabled": true
    },
    {
      "parameters": {
        "url": "=https://generativelanguage.googleapis.com/v1beta/files/{{ $json.file_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "<__PLACEHOLDER_VALUE__Your Gemini API Key__>"
            }
          ]
        },
        "options": {}
      },
      "id": "f0f653ae-a748-46d7-b6a2-f1b2827d160e",
      "name": "Check if Processed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2736,
        4960
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "mode": "id",
          "value": "<__PLACEHOLDER_VALUE__Processed folder ID__>"
        }
      },
      "id": "0dcccf07-7c70-4346-a6d8-1450d27b1551",
      "name": "Archive Processed File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2432,
        4960
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XOPXkOVbKhQILqsj",
          "name": "Google Drive"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"gemini_file_store_name\": \"fileSearchStores/docparsing-q2d4v79x1uw7\"\n}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "id": "83acb5c9-2191-46d9-9f95-532c65cd6709",
      "name": "Global Vars",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -9408,
        4464
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "IlGavx32TAXCSixq",
          "mode": "list",
          "cachedResultName": "workflow_lock",
          "cachedResultUrl": "/projects/2vHf2VxAoKk0WgJE/datatables/IlGavx32TAXCSixq"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_id": "={{ $workflow.id }}",
            "workflow_name": "={{ $workflow.name }}",
            "execution_id": "={{ $execution.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "workflow_name",
              "displayName": "workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -8400,
        4272
      ],
      "id": "420b690c-65c0-4324-91d3-05a71ba06ff4",
      "name": "Obtain Lock"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "IlGavx32TAXCSixq",
          "mode": "list",
          "cachedResultName": "workflow_lock",
          "cachedResultUrl": "/projects/2vHf2VxAoKk0WgJE/datatables/IlGavx32TAXCSixq"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "workflow_id",
              "keyValue": "={{ $workflow.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -7760,
        4176
      ],
      "id": "e3efdb1e-46ef-46b9-96b0-861124fb9c0d",
      "name": "Clear Lock"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "IlGavx32TAXCSixq",
          "mode": "list",
          "cachedResultName": "workflow_lock",
          "cachedResultUrl": "/projects/2vHf2VxAoKk0WgJE/datatables/IlGavx32TAXCSixq"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "workflow_id",
              "keyValue": "={{ $workflow.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -9632,
        4464
      ],
      "id": "a1f23a19-3871-4e6b-85f7-7fe1b756c283",
      "name": "Check if lock exists"
    },
    {
      "parameters": {
        "type": "SHA256",
        "value": "={{ $json.name }}",
        "dataPropertyName": "document_name_hash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -7392,
        4464
      ],
      "id": "568fa631-5a11-4bb4-9199-094d4b041f59",
      "name": "Document Name Hash"
    },
    {
      "parameters": {
        "type": "SHA256",
        "binaryData": true,
        "dataPropertyName": "document_content_hash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        -7680,
        4464
      ],
      "id": "e5a084fa-63f6-438e-85f3-6e65601bfada",
      "name": "Document Content Hash"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "gemini_file_store",
        "filters": {
          "conditions": [
            {
              "keyName": "document_name_hash",
              "keyValue": "={{ $json.document_name_hash }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -7040,
        4464
      ],
      "id": "2d6bf7c7-ea74-48bc-be1f-31ddb8631693",
      "name": "Get document name hash",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "V1uzndLMe2n07Mxy",
          "name": "Supabase Bonds"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "gemini_file_store",
        "filters": {
          "conditions": [
            {
              "keyName": "document_content_hash",
              "keyValue": "={{ $('Document Name Hash').item.json.document_content_hash }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -6240,
        4144
      ],
      "id": "f41f05e4-47d5-4249-b3ad-d3c18c2b081b",
      "name": "Get document name hash1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "V1uzndLMe2n07Mxy",
          "name": "Supabase Bonds"
        }
      }
    }
  ],
  "connections": {
    "Set Schedule": {
      "main": [
        [
          {
            "node": "Check if lock exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Obtain Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Clear Lock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Document Content Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Doc?": {
      "main": [
        [
          {
            "node": "Get document name hash1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has it Changed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Unchanged File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identical Content Exists?": {
      "main": [
        [
          {
            "node": "Do Nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reload Binary for PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old from Gemini": {
      "main": [
        [
          {
            "node": "Delete Old Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Do Nothing": {
      "main": [
        [
          {
            "node": "Archive Unchanged File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has it Changed?": {
      "main": [
        [
          {
            "node": "Delete Old from Gemini",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Do Nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Record": {
      "main": [
        [
          {
            "node": "Reload Binary for PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Metadata with Gemini",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Extract Metadata with Gemini",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Reload Binary for PDF": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Extract Metadata with Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Metadata with Gemini": {
      "main": [
        [
          {
            "node": "Custom Metadata (Manual)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Custom Metadata (Manual)": {
      "main": [
        [
          {
            "node": "Set File Parameters & Get Upload URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File Parameters & Get Upload URL": {
      "main": [
        [
          {
            "node": "Reload Binary for Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reload Binary for Upload": {
      "main": [
        [
          {
            "node": "Upload to File Search Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to File Search Store": {
      "main": [
        [
          {
            "node": "Initial Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initial Wait": {
      "main": [
        [
          {
            "node": "Check if Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Processed": {
      "main": [
        [
          {
            "node": "Archive Processed File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Processed File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Vars": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtain Lock": {
      "main": [
        []
      ]
    },
    "Check if lock exists": {
      "main": [
        [
          {
            "node": "Global Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Name Hash": {
      "main": [
        [
          {
            "node": "Get document name hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Content Hash": {
      "main": [
        [
          {
            "node": "Document Name Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get document name hash": {
      "main": [
        [
          {
            "node": "New Doc?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get document name hash1": {
      "main": [
        [
          {
            "node": "Identical Content Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Search files and folders": [
      {
        "json": {
          "id": "1hbH3OO4owrZmTealsg-QfGP0-fJTwcNY",
          "name": "cajon_valley.pdf"
        }
      },
      {
        "json": {
          "id": "13MdCKZ35O7QAflRhXf6tEjWU2Z7bLR1r",
          "name": "east_side_union_high.pdf"
        }
      }
    ]
  },
  "versionId": "3fa30366-4683-4601-9358-7e2857800e35",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-15T23:39:49.144Z",
      "createdAt": "2025-11-15T23:39:49.144Z",
      "role": "workflow:owner",
      "workflowId": "biW8aKwAI78Eo4Gw",
      "projectId": "2vHf2VxAoKk0WgJE"
    }
  ],
  "tags": []
}