workflows/PR_Review.json
{"createdAt":"2025-06-24T17:57:48.802Z","updatedAt":"2025-07-03T09:13:52.731Z","id":"lZdabXLeqzUGIbJz","name":"PR_Review","active":false,"isArchived":false,"nodes":[{"parameters":{"multipleMethods":true,"httpMethod":["POST"],"path":"4498f84b-242a-40c1-8cd2-444fc0f9dc1c","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-80,-20],"id":"9cc5523b-0e5b-4889-955b-cff5a687aa22","name":"Webhook","webhookId":"4498f84b-242a-40c1-8cd2-444fc0f9dc1c","notesInFlow":true,"notes":"Listen to Zapier reverse proxy for Bitbucket Webhook requests"},{"parameters":{"promptType":"define","text":"=<role>\nYou are an experienced senior software-engineer and code-reviewer working in Bitbucket.  \nWhen a pull-request (PR) event arrives, you must decide whether to **approve, request changes, or just leave comments**, and then draft the exact review text we should post.\n</role>\n\n<context>\nYou will receive the following runtime variables, injected by n8n:\n\n| Variable | Description |\n|----------|-------------|\n| `{{event_type}}`            | `\"pullrequest:created\"`, `\"pullrequest:updated\"` or `\"pullrequest:comment_created\"`. |\n| `{{ $json.body.repository.name }}`            | Repository name and description. |\n| `{{ $json.body.pullrequest.id }}`                 | Numeric PR ID. |\n| `{{ $json.body.pullrequest.title }}`              | Title of the PR. |\n| `{{ $json.body.pullrequest.description }}`        | Original PR description (Markdown). |\n| `{{ $json.body.pullrequest.author.display_name }}`             | Author display-name and username. |\n| `{{ $json.body.pullrequest.source.branch.name }}`         | Source branch name. |\n| `{{ $json.body.pullrequest.destination.branch.name }}`         | Target branch name (usually the default branch). |\n| `{{diff_files}}`            | *Array* of changed files, each with:<br>• `path` – full file path<br>• `status` – `added` | `modified` | `deleted`<br>• `patch` – unified diff hunk(s)<br>• `content` – full file text *after* the changes. |\n| `{{existing_comments}}`     | Any review comments already present on this PR. |\n| `{{latest_comment_body}}`   | *Only when* `event_type == \"pullrequest:comment_created\"` – the text of the newly added comment. |\n\nAssume all text is UTF-8 and code blocks are preserved exactly.  \nLine numbers in `patch` follow the unified-diff standard.\n</context>\n\n<task>\n1. **Summarize** – In 1-2 sentences, explain the overall intent of the PR.  \n2. **File-by-file review** – For each entry in `diff_files`:  \n   - Point out **logic/bug/security/performance** issues.  \n   - Note any **style or documentation** problems.  \n   - Suggest **concrete improvements or refactors** with brief code examples where helpful.  \n3. **Cross-cutting concerns** – Mention anything that spans multiple files (architecture, naming, tests, infra, backwards-compatibility).  \n4. **Decision** – Choose exactly one:  \n   - `approve` &nbsp;– no blockers.  \n   - `comment` &nbsp;– non-blocking feedback.  \n   - `request_changes` – must be addressed before merge.  \n5. **Optional labels** – Recommend Bitbucket labels (e.g., `bug`, `refactor`, `docs`) that would help triage.  \n\nBe **constructive, professional, and concise**. Reference specific line numbers (e.g., `path/to/file.py :L42`) or quote short code snippets to give context. Use Markdown for headings, bullets and code fencing.\n\n<output_format>\nReturn **one JSON object** – nothing else – that conforms to this schema:\n\n```json\n{\n  \"action\": \"approve | comment | request_changes\",\n  \"summary\": \"<one-sentence PR summary>\",\n  \"comment\": \"<full Markdown review body>\",\n  \"labels\": [\"optional\", \"labels\", \"here\"]\n}\n```\n</output_format>\n\n\n{{ $json.body }}","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[860,-20],"id":"7ab2a291-0f80-4063-8fe2-a8599314b62d","name":"Basic LLM Chain"},{"parameters":{"model":"gpt-4","options":{"responseFormat":"json_object"}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[860,220],"id":"69d8bd61-2175-4c83-ae6d-12408c9d698e","name":"Azure OpenAI Chat Model","credentials":{"azureOpenAiApi":{"id":"amfaI9YXiWesQ4eT","name":"Azure Open AI account"}}},{"parameters":{"assignments":{"assignments":[{"id":"25e42673-e667-4701-bf19-5f9a162cd1f0","name":"body","value":"={{ JSON.parse($json.body) }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,-20],"id":"905ee318-3c51-43f5-95f3-0f7ac89ddd6c","name":"Extract webhook body"}],"connections":{"Azure OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Extract webhook body","type":"main","index":0}]]},"Extract webhook body":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"capable-glowworm-adjusted.ngrok-free.app","user-agent":"python-requests/2.21.0","content-length":"10791","accept":"*/*","accept-encoding":"gzip, deflate","content-type":"application/json","x-forwarded-for":"3.236.8.138","x-forwarded-host":"capable-glowworm-adjusted.ngrok-free.app","x-forwarded-proto":"https"},"params":{},"query":{},"body":"{\"repository\":{\"type\":\"repository\",\"full_name\":\"cribl/analytics-prefect\",\"links\":{\"self\":{\"href\":\"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect\"},\"html\":{\"href\":\"https://bitbucket.org/cribl/analytics-prefect\"},\"avatar\":{\"href\":\"https://bytebucket.org/ravatar/%7B9fb68300-d03b-46f9-a8d5-3fa8ea6345df%7D?ts=default\"}},\"name\":\"analytics-prefect\",\"scm\":\"git\",\"website\":null,\"owner\":{\"display_name\":\"cribl-eng\",\"links\":{\"self\":{\"href\":\"https://api.bitbucket.org/2.0/workspaces/%7Bda54640c-d7fb-494e-bd8d-cacc1bafefdd%7D\"},\"avatar\":{\"href\":\"https://bitbucket.org/account/cribl/avatar/\"},\"html\":{\"href\":\"https://bitbucket.org/%7Bda54640c-d7fb-494e-bd8d-cacc1bafefdd%7D/\"}},\"type\":\"team\",\"uuid\":\"{da54640c-d7fb-494e-bd8d-cacc1bafefdd}\",\"username\":\"cribl\"},\"workspace\":{\"type\":\"workspace\",\"uuid\":\"{da54640c-d7fb-494e-bd8d-cacc1bafefdd}\",\"name\":\"cribl-eng\",\"slug\":\"cribl\",\"links\":{\"avatar\":{\"href\":\"https://bitbucket.org/workspaces/cribl/avatar/?ts=1679338356\"},\"html\":{\"href\":\"https://bitbucket.org/cribl/\"},\"self\":{\"href\":\"https://api.bitbucket.org/2.0/workspaces/cribl\"}}},\"is_private\":true,\"project\":{\"type\":\"project\",\"key\":\"ANLY\",\"uuid\":\"{27749265-f574-4336-a800-673e3e65e5bc}\",\"name\":\"Cribl-Analytics\",\"links\":{\"self\":{\"href\":\"https://api.bitbucket.org/2.0/workspaces/cribl/projects/ANLY\"},\"html\":{\"href\":\"https://bitbucket.org/cribl/workspace/projects/ANLY\"},\"avatar\":{\"href\":\"https://bitbucket.org/cribl/workspace/projects/ANLY/avatar/32?ts=1631894183\"}}},\"uuid\":\"{9fb68300-d03b-46f9-a8d5-3fa8ea6345df}\",\"parent\":null},\"actor\":{\"display_name\":\"Nathan Kwok\",\"links\":{\"self\":{\"href\":\"https://api.bitbucket.org/2.0/users/%7Bf995e0a3-83ab-44d4-9329-21f197c51b22%7D\"},\"avatar\":{\"href\":\"https://secure.gravatar.com/avatar/fb1e0a22a563d68e5ac13b4f3dfd0f39?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FNK-2.png\"},\"html\":{\"href\":\"https://bitbucket.org/%7Bf995e0a3-83ab-44d4-9329-21f197c51b22%7D/\"}},\"type\":\"user\",\"uuid\":\"{f995e0a3-83ab-44d4-9329-21f197c51b22}\",\"account_id\":\"712020:dc7e9b32-b043-4243-9faf-0f8ae8148850\",\"nickname\":\"Nathan Kwok\"},\"pullrequest\":{\"comment_count\":0,\"task_count\":0,\"type\":\"pullrequest\",\"id\":99,\"title\":\"Print url on clari failure \",\"description\":\"* Exception to print failing url\\n* Remove planhat deployment\\n* clean up\\n\\nDATAENG-568\\n\\n‌\",\"rendered\":{\"title\":{\"type\":\"rendered\",\"raw\":\"Print url on clari failure \",\"markup\":\"markdown\",\"html\":\"<p>Print url on clari failure </p>\"},\"description\":{\"type\":\"rendered\",\"raw\":\"* Exception to print failing url\\n* Remove planhat deployment\\n* clean up\\n\\nDATAENG-568\\n\\n‌\",\"markup\":\"markdown\",\"html\":\"<ul>\\n<li>Exception to print failing url</li>\\n<li>Remove planhat deployment</li>\\n<li>clean up</li>\\n</ul>\\n<p><a rel=\\\"nofollow\\\" href=\\\"https://taktak.atlassian.net/browse/DATAENG-568\\\" target=\\\"_blank\\\" data-module-key=\\\"dvcs-connector-issue-key-linker\\\" data-link-key=\\\"dvcs-connector-issue-key-linker\\\" data-app-key=\\\"jira-bitbucket-connector-plugin.6d1ae659-efb2-3589-bdd2-4a944b8fc997\\\" data-principal-uuid=\\\"{da54640c-d7fb-494e-bd8d-cacc1bafefdd}\\\" class=\\\"ap-connect-dialog\\\">DATAENG-568</a></p>\\n<p>‌</p>\"}},\"state\":\"OPEN\",\"draft\":false,\"merge_commit\":null,\"close_source_branch\":false,\"closed_by\":null,\"author\":{\"display_name\":\"Nathan Kwok\",\"links\":{\"self\":{\"href\":\"https://api.bitbucket.org/2.0/users/%7Bf995e0a3-83ab-44d4-9329-21f197c51b22%7D\"},\"avatar\":{\"href\":\"https://secure.gravatar.com/avatar/fb1e0a22a563d68e5ac13b4f3dfd0f39?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FNK-2.png\"},\"html\":{\"href\":\"https://bitbucket.org/%7Bf995e0a3-83ab-44d4-9329-21f197c51b22%7D/\"}},\"type\":\"user\",\"uuid\":\"{f995e0a3-83ab-44d4-9329-21f197c51b22}\",\"account_id\":\"712020:dc7e9b32-b043-4243-9faf-0f8ae8148850\",\"nickname\":\"Nathan Kwok\"},\"reason\":\"\",\"created_on\":\"2025-06-20T23:03:07.006170+00:00\",\"updated_on\":\"2025-06-24T19:10:34.677372+00:00\",\"destination\":{\"branch\":{\"name\":\"main\"},\"commit\":{\"hash\":\"c55bd694b835\",\"links\":{\"self\":{\"href\":\"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect/commit/c55bd694b835\"},\"html\":{\"href\":\"https://bitbucket.org/cribl/analytics-prefect/commits/c55bd694b835\"}},\"type\":\"commit\"},\"repository\":{\"type\":\"repository\",\"full_name\":\"cribl/analytics-prefect\",\"links\":{\"self\":{\"href\":\"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect\"},\"html\":{\"href\":\"https://bitbucket.org/cribl/analytics-prefect\"},\"avatar\":{\"href\":\"https://bytebucket.org/ravatar/%7B9fb68300-d03b-46f9-a8d5-3fa8ea6345df%7D?ts=default\"}},\"name\":\"analytics-prefect\",\"uuid\":\"{9fb68300-d03b-46f9-a8d5-3fa8ea6345df}\"}},\"source\":{\"branch\":{\"name\":\"DATAENG-568\",\"links\":{},\"sync_strategies\":[\"merge_commit\",\"rebase\"]},\"commit\":{\"hash\":\"8b0b161abf9c\",\"links\":{\"self\":{\"href\":\"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect/commit/8b0b161abf9c\"},\"html\":{\"href\":\"https://bitbucket.org/cribl/analytics-prefect/commits/8b0b161abf9c\"}},\"type\":\"commit\"},\"repository\":{\"type\":\"repository\",\"full_name\":\"cribl/analytics-prefect\",\"links\":{\"self\":{\"href\":\"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect\"},\"html\":{\"href\":\"https://bitbucket.org/cribl/analytics-prefect\"},\"avatar\":{\"href\":\"https://bytebucket.org/ravatar/%7B9fb68300-d03b-46f9-a8d5-3fa8ea6345df%7D?ts=default\"}},\"name\":\"analytics-prefect\",\"uuid\":\"{9fb68300-d03b-46f9-a8d5-3fa8ea6345df}\"}},\"reviewers\":[{\"display_name\":\"Priya Gupta\",\"links\":{\"self\":{\"href\":\"https://api.bitbucket.org/2.0/users/%7Bbf85894c-5d10-4fb0-9e25-9ed655ba362c%7D\"},\"avatar\":{\"href\":\"https://secure.gravatar.com/avatar/95fe8043889ee7a17859a3a93fd3bc35?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FPG-4.png\"},\"html\":{\"href\":\"https://bitbucket.org/%7Bbf85894c-5d10-4fb0-9e25-9ed655ba362c%7D/\"}},\"type\":\"user\",\"uuid\":\"{bf85894c-5d10-4fb0-9e25-9ed655ba362c}\",\"account_id\":\"612672fbda0c1a00688f7a76\",\"nickname\":\"Priya Gupta\"},{\"display_name\":\"Alec Taggart\",\"links\":{\"self\":{\"href\":\"https://api.bitbucket.org/2.0/users/%7B2c2eba87-f57b-40b5-a859-f5b8f3808178%7D\"},\"avatar\":{\"href\":\"https://secure.gravatar.com/avatar/a00398b8878bc5d8772a20873bff1c2a?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAT-3.png\"},\"html\":{\"href\":\"https://bitbucket.org/%7B2c2eba87-f57b-40b5-a859-f5b8f3808178%7D/\"}},\"type\":\"user\",\"uuid\":\"{2c2eba87-f57b-40b5-a859-f5b8f3808178}\",\"account_id\":\"6424480c9796ea0a87198b01\",\"nickname\":\"Alec Taggart\"}],\"participants\":[{\"type\":\"participant\",\"user\":{\"display_name\":\"Alec Taggart\",\"links\":{\"self\":{\"href\":\"https://api.bitbucket.org/2.0/users/%7B2c2eba87-f57b-40b5-a859-f5b8f3808178%7D\"},\"avatar\":{\"href\":\"https://secure.gravatar.com/avatar/a00398b8878bc5d8772a20873bff1c2a?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAT-3.png\"},\"html\":{\"href\":\"https://bitbucket.org/%7B2c2eba87-f57b-40b5-a859-f5b8f3808178%7D/\"}},\"type\":\"user\",\"uuid\":\"{2c2eba87-f57b-40b5-a859-f5b8f3808178}\",\"account_id\":\"6424480c9796ea0a87198b01\",\"nickname\":\"Alec Taggart\"},\"role\":\"REVIEWER\",\"approved\":false,\"state\":null,\"participated_on\":null},{\"type\":\"participant\",\"user\":{\"display_name\":\"Priya Gupta\",\"links\":{\"self\":{\"href\":\"https://api.bitbucket.org/2.0/users/%7Bbf85894c-5d10-4fb0-9e25-9ed655ba362c%7D\"},\"avatar\":{\"href\":\"https://secure.gravatar.com/avatar/95fe8043889ee7a17859a3a93fd3bc35?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FPG-4.png\"},\"html\":{\"href\":\"https://bitbucket.org/%7Bbf85894c-5d10-4fb0-9e25-9ed655ba362c%7D/\"}},\"type\":\"user\",\"uuid\":\"{bf85894c-5d10-4fb0-9e25-9ed655ba362c}\",\"account_id\":\"612672fbda0c1a00688f7a76\",\"nickname\":\"Priya Gupta\"},\"role\":\"REVIEWER\",\"approved\":false,\"state\":null,\"participated_on\":null}],\"links\":{\"self\":{\"href\":\"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect/pullrequests/99\"},\"html\":{\"href\":\"https://bitbucket.org/cribl/analytics-prefect/pull-requests/99\"},\"commits\":{\"href\":\"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect/pullrequests/99/commits\"},\"approve\":{\"href\":\"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect/pullrequests/99/approve\"},\"request-changes\":{\"href\":\"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect/pullrequests/99/request-changes\"},\"diff\":{\"href\":\"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect/diff/cribl/analytics-prefect:8b0b161abf9c%0Dc55bd694b835?from_pullrequest_id=99&topic=true\"},\"diffstat\":{\"href\":\"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect/diffstat/cribl/analytics-prefect:8b0b161abf9c%0Dc55bd694b835?from_pullrequest_id=99&topic=true\"},\"comments\":{\"href\":\"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect/pullrequests/99/comments\"},\"activity\":{\"href\":\"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect/pullrequests/99/activity\"},\"merge\":{\"href\":\"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect/pullrequests/99/merge\"},\"decline\":{\"href\":\"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect/pullrequests/99/decline\"},\"statuses\":{\"href\":\"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect/pullrequests/99/statuses\"}},\"summary\":{\"type\":\"rendered\",\"raw\":\"* Exception to print failing url\\n* Remove planhat deployment\\n* clean up\\n\\nDATAENG-568\\n\\n‌\",\"markup\":\"markdown\",\"html\":\"<ul>\\n<li>Exception to print failing url</li>\\n<li>Remove planhat deployment</li>\\n<li>clean up</li>\\n</ul>\\n<p><a rel=\\\"nofollow\\\" href=\\\"https://taktak.atlassian.net/browse/DATAENG-568\\\" target=\\\"_blank\\\" data-module-key=\\\"dvcs-connector-issue-key-linker\\\" data-link-key=\\\"dvcs-connector-issue-key-linker\\\" data-app-key=\\\"jira-bitbucket-connector-plugin.6d1ae659-efb2-3589-bdd2-4a944b8fc997\\\" data-principal-uuid=\\\"{da54640c-d7fb-494e-bd8d-cacc1bafefdd}\\\" class=\\\"ap-connect-dialog\\\">DATAENG-568</a></p>\\n<p>‌</p>\"}}}","webhookUrl":"https://capable-glowworm-adjusted.ngrok-free.app/webhook-test/4498f84b-242a-40c1-8cd2-444fc0f9dc1c","executionMode":"test"}}],"Extract webhook body":[{"json":{"body":{"repository":{"type":"repository","full_name":"cribl/analytics-prefect","links":{"self":{"href":"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect"},"html":{"href":"https://bitbucket.org/cribl/analytics-prefect"},"avatar":{"href":"https://bytebucket.org/ravatar/%7B9fb68300-d03b-46f9-a8d5-3fa8ea6345df%7D?ts=default"}},"name":"analytics-prefect","scm":"git","website":null,"owner":{"display_name":"cribl-eng","links":{"self":{"href":"https://api.bitbucket.org/2.0/workspaces/%7Bda54640c-d7fb-494e-bd8d-cacc1bafefdd%7D"},"avatar":{"href":"https://bitbucket.org/account/cribl/avatar/"},"html":{"href":"https://bitbucket.org/%7Bda54640c-d7fb-494e-bd8d-cacc1bafefdd%7D/"}},"type":"team","uuid":"{da54640c-d7fb-494e-bd8d-cacc1bafefdd}","username":"cribl"},"workspace":{"type":"workspace","uuid":"{da54640c-d7fb-494e-bd8d-cacc1bafefdd}","name":"cribl-eng","slug":"cribl","links":{"avatar":{"href":"https://bitbucket.org/workspaces/cribl/avatar/?ts=1679338356"},"html":{"href":"https://bitbucket.org/cribl/"},"self":{"href":"https://api.bitbucket.org/2.0/workspaces/cribl"}}},"is_private":true,"project":{"type":"project","key":"ANLY","uuid":"{27749265-f574-4336-a800-673e3e65e5bc}","name":"Cribl-Analytics","links":{"self":{"href":"https://api.bitbucket.org/2.0/workspaces/cribl/projects/ANLY"},"html":{"href":"https://bitbucket.org/cribl/workspace/projects/ANLY"},"avatar":{"href":"https://bitbucket.org/cribl/workspace/projects/ANLY/avatar/32?ts=1631894183"}}},"uuid":"{9fb68300-d03b-46f9-a8d5-3fa8ea6345df}","parent":null},"actor":{"display_name":"Nathan Kwok","links":{"self":{"href":"https://api.bitbucket.org/2.0/users/%7Bf995e0a3-83ab-44d4-9329-21f197c51b22%7D"},"avatar":{"href":"https://secure.gravatar.com/avatar/fb1e0a22a563d68e5ac13b4f3dfd0f39?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FNK-2.png"},"html":{"href":"https://bitbucket.org/%7Bf995e0a3-83ab-44d4-9329-21f197c51b22%7D/"}},"type":"user","uuid":"{f995e0a3-83ab-44d4-9329-21f197c51b22}","account_id":"712020:dc7e9b32-b043-4243-9faf-0f8ae8148850","nickname":"Nathan Kwok"},"pullrequest":{"comment_count":0,"task_count":0,"type":"pullrequest","id":99,"title":"Print url on clari failure ","description":"* Exception to print failing url\n* Remove planhat deployment\n* clean up\n\nDATAENG-568\n\n‌","rendered":{"title":{"type":"rendered","raw":"Print url on clari failure ","markup":"markdown","html":"<p>Print url on clari failure </p>"},"description":{"type":"rendered","raw":"* Exception to print failing url\n* Remove planhat deployment\n* clean up\n\nDATAENG-568\n\n‌","markup":"markdown","html":"<ul>\n<li>Exception to print failing url</li>\n<li>Remove planhat deployment</li>\n<li>clean up</li>\n</ul>\n<p><a rel=\"nofollow\" href=\"https://taktak.atlassian.net/browse/DATAENG-568\" target=\"_blank\" data-module-key=\"dvcs-connector-issue-key-linker\" data-link-key=\"dvcs-connector-issue-key-linker\" data-app-key=\"jira-bitbucket-connector-plugin.6d1ae659-efb2-3589-bdd2-4a944b8fc997\" data-principal-uuid=\"{da54640c-d7fb-494e-bd8d-cacc1bafefdd}\" class=\"ap-connect-dialog\">DATAENG-568</a></p>\n<p>‌</p>"}},"state":"OPEN","draft":false,"merge_commit":null,"close_source_branch":false,"closed_by":null,"author":{"display_name":"Nathan Kwok","links":{"self":{"href":"https://api.bitbucket.org/2.0/users/%7Bf995e0a3-83ab-44d4-9329-21f197c51b22%7D"},"avatar":{"href":"https://secure.gravatar.com/avatar/fb1e0a22a563d68e5ac13b4f3dfd0f39?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FNK-2.png"},"html":{"href":"https://bitbucket.org/%7Bf995e0a3-83ab-44d4-9329-21f197c51b22%7D/"}},"type":"user","uuid":"{f995e0a3-83ab-44d4-9329-21f197c51b22}","account_id":"712020:dc7e9b32-b043-4243-9faf-0f8ae8148850","nickname":"Nathan Kwok"},"reason":"","created_on":"2025-06-20T23:03:07.006170+00:00","updated_on":"2025-06-24T19:10:34.677372+00:00","destination":{"branch":{"name":"main"},"commit":{"hash":"c55bd694b835","links":{"self":{"href":"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect/commit/c55bd694b835"},"html":{"href":"https://bitbucket.org/cribl/analytics-prefect/commits/c55bd694b835"}},"type":"commit"},"repository":{"type":"repository","full_name":"cribl/analytics-prefect","links":{"self":{"href":"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect"},"html":{"href":"https://bitbucket.org/cribl/analytics-prefect"},"avatar":{"href":"https://bytebucket.org/ravatar/%7B9fb68300-d03b-46f9-a8d5-3fa8ea6345df%7D?ts=default"}},"name":"analytics-prefect","uuid":"{9fb68300-d03b-46f9-a8d5-3fa8ea6345df}"}},"source":{"branch":{"name":"DATAENG-568","links":{},"sync_strategies":["merge_commit","rebase"]},"commit":{"hash":"8b0b161abf9c","links":{"self":{"href":"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect/commit/8b0b161abf9c"},"html":{"href":"https://bitbucket.org/cribl/analytics-prefect/commits/8b0b161abf9c"}},"type":"commit"},"repository":{"type":"repository","full_name":"cribl/analytics-prefect","links":{"self":{"href":"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect"},"html":{"href":"https://bitbucket.org/cribl/analytics-prefect"},"avatar":{"href":"https://bytebucket.org/ravatar/%7B9fb68300-d03b-46f9-a8d5-3fa8ea6345df%7D?ts=default"}},"name":"analytics-prefect","uuid":"{9fb68300-d03b-46f9-a8d5-3fa8ea6345df}"}},"reviewers":[{"display_name":"Priya Gupta","links":{"self":{"href":"https://api.bitbucket.org/2.0/users/%7Bbf85894c-5d10-4fb0-9e25-9ed655ba362c%7D"},"avatar":{"href":"https://secure.gravatar.com/avatar/95fe8043889ee7a17859a3a93fd3bc35?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FPG-4.png"},"html":{"href":"https://bitbucket.org/%7Bbf85894c-5d10-4fb0-9e25-9ed655ba362c%7D/"}},"type":"user","uuid":"{bf85894c-5d10-4fb0-9e25-9ed655ba362c}","account_id":"612672fbda0c1a00688f7a76","nickname":"Priya Gupta"},{"display_name":"Alec Taggart","links":{"self":{"href":"https://api.bitbucket.org/2.0/users/%7B2c2eba87-f57b-40b5-a859-f5b8f3808178%7D"},"avatar":{"href":"https://secure.gravatar.com/avatar/a00398b8878bc5d8772a20873bff1c2a?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAT-3.png"},"html":{"href":"https://bitbucket.org/%7B2c2eba87-f57b-40b5-a859-f5b8f3808178%7D/"}},"type":"user","uuid":"{2c2eba87-f57b-40b5-a859-f5b8f3808178}","account_id":"6424480c9796ea0a87198b01","nickname":"Alec Taggart"}],"participants":[{"type":"participant","user":{"display_name":"Alec Taggart","links":{"self":{"href":"https://api.bitbucket.org/2.0/users/%7B2c2eba87-f57b-40b5-a859-f5b8f3808178%7D"},"avatar":{"href":"https://secure.gravatar.com/avatar/a00398b8878bc5d8772a20873bff1c2a?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FAT-3.png"},"html":{"href":"https://bitbucket.org/%7B2c2eba87-f57b-40b5-a859-f5b8f3808178%7D/"}},"type":"user","uuid":"{2c2eba87-f57b-40b5-a859-f5b8f3808178}","account_id":"6424480c9796ea0a87198b01","nickname":"Alec Taggart"},"role":"REVIEWER","approved":false,"state":null,"participated_on":null},{"type":"participant","user":{"display_name":"Priya Gupta","links":{"self":{"href":"https://api.bitbucket.org/2.0/users/%7Bbf85894c-5d10-4fb0-9e25-9ed655ba362c%7D"},"avatar":{"href":"https://secure.gravatar.com/avatar/95fe8043889ee7a17859a3a93fd3bc35?d=https%3A%2F%2Favatar-management--avatars.us-west-2.prod.public.atl-paas.net%2Finitials%2FPG-4.png"},"html":{"href":"https://bitbucket.org/%7Bbf85894c-5d10-4fb0-9e25-9ed655ba362c%7D/"}},"type":"user","uuid":"{bf85894c-5d10-4fb0-9e25-9ed655ba362c}","account_id":"612672fbda0c1a00688f7a76","nickname":"Priya Gupta"},"role":"REVIEWER","approved":false,"state":null,"participated_on":null}],"links":{"self":{"href":"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect/pullrequests/99"},"html":{"href":"https://bitbucket.org/cribl/analytics-prefect/pull-requests/99"},"commits":{"href":"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect/pullrequests/99/commits"},"approve":{"href":"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect/pullrequests/99/approve"},"request-changes":{"href":"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect/pullrequests/99/request-changes"},"diff":{"href":"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect/diff/cribl/analytics-prefect:8b0b161abf9c%0Dc55bd694b835?from_pullrequest_id=99&topic=true"},"diffstat":{"href":"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect/diffstat/cribl/analytics-prefect:8b0b161abf9c%0Dc55bd694b835?from_pullrequest_id=99&topic=true"},"comments":{"href":"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect/pullrequests/99/comments"},"activity":{"href":"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect/pullrequests/99/activity"},"merge":{"href":"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect/pullrequests/99/merge"},"decline":{"href":"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect/pullrequests/99/decline"},"statuses":{"href":"https://api.bitbucket.org/2.0/repositories/cribl/analytics-prefect/pullrequests/99/statuses"}},"summary":{"type":"rendered","raw":"* Exception to print failing url\n* Remove planhat deployment\n* clean up\n\nDATAENG-568\n\n‌","markup":"markdown","html":"<ul>\n<li>Exception to print failing url</li>\n<li>Remove planhat deployment</li>\n<li>clean up</li>\n</ul>\n<p><a rel=\"nofollow\" href=\"https://taktak.atlassian.net/browse/DATAENG-568\" target=\"_blank\" data-module-key=\"dvcs-connector-issue-key-linker\" data-link-key=\"dvcs-connector-issue-key-linker\" data-app-key=\"jira-bitbucket-connector-plugin.6d1ae659-efb2-3589-bdd2-4a944b8fc997\" data-principal-uuid=\"{da54640c-d7fb-494e-bd8d-cacc1bafefdd}\" class=\"ap-connect-dialog\">DATAENG-568</a></p>\n<p>‌</p>"}}}}}]},"versionId":"0aa4b1bc-747c-401e-bf21-468b0d361d7b","triggerCount":1,"tags":[]}