workflows/Rename_Document_Keys.json
{
  "updatedAt": "2025-11-15T21:36:06.000Z",
  "createdAt": "2025-09-29T05:58:45.668Z",
  "id": "0ZK5dvO3WYtsza47",
  "name": "Rename_Document_Keys",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "documents",
              "type": "array"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "894d0bde-2cd6-4f34-b48d-bd0b85c36e0a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"field_mapping\": {\n    \"identifier\": \"document_id\",\n    \"owner_name\": \"owner_name\",\n    \"owner_id\": \"owner_id\",\n    \"scope\": \"document_scope\",\n    \"name\": \"document_name\",\n    \"folder_name\": \"folder_name\",\n    \"folder_id\": \"folder_id\",\n    \"has_dashboard\": \"has_dashboard\",\n    \"folder_path\": \"folder_path\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        0
      ],
      "id": "ed615413-e8f4-4321-831f-b6691e7774a9",
      "name": "Field Mapping",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "onError": "continueRegularOutput",
      "notes": "Mapping from old key to new key"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd6534e1-6284-45fd-97db-c6002d062142",
              "name": "output",
              "value": "={{ $('When Executed by Another Workflow').item.json.documents.map(item => \n  Object.fromEntries(\n    Object.entries(item).map(([k, v]) => [$('Field Mapping').item.json.field_mapping[k] ?? k, v])\n  ))\n}}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "23ed3e1c-67a3-4df0-8359-8d51e296cc53",
      "name": "Rename fields in each item",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "notes": "Rename fields in each item using the field mapping"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Field Mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Field Mapping": {
      "main": [
        [
          {
            "node": "Rename fields in each item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "documents": [
            {
              "identifier": "621d0118",
              "owner_name": "Laura Knipe",
              "owner_id": "ebf8342f-9b5f-4efc-92b7-b1210c34cfaf",
              "scope": "organization",
              "name": "Overview: GTM Partner Metrics",
              "folder_name": "Revenue",
              "folder_id": "d20366ff-ebb8-42b0-b2ab-9665f0dc4390",
              "has_dashboard": "true",
              "folder_path": "revenue"
            },
            {
              "identifier": "0e7bb883",
              "owner_name": "Adam Armagost",
              "owner_id": "433b1608-177f-4449-b7bd-470e9283efcd",
              "scope": "organization",
              "name": "Overview: Support Metrics",
              "folder_name": "Support",
              "folder_id": "6d998abd-70e6-4248-b932-72cc8630c269",
              "has_dashboard": "true",
              "folder_path": "support"
            },
            {
              "identifier": "credit-consumption",
              "owner_name": "Matthew Lim",
              "owner_id": "86a545a6-5958-43e5-8f16-68eb9f148744",
              "scope": "organization",
              "name": "Customer: Cloud Credit Consumption",
              "folder_name": "Product",
              "folder_id": "b69a8af3-5d04-4a3e-b610-9a74f4807de0",
              "has_dashboard": "true",
              "folder_path": "product"
            }
          ]
        }
      }
    ]
  },
  "versionId": "3756d169-5af7-45e4-a6ec-d295a4f72bd1",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-09-29T05:58:45.672Z",
      "createdAt": "2025-09-29T05:58:45.672Z",
      "role": "workflow:owner",
      "workflowId": "0ZK5dvO3WYtsza47",
      "projectId": "2vHf2VxAoKk0WgJE"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2025-09-29T05:57:24.200Z",
      "createdAt": "2025-09-29T05:57:24.200Z",
      "id": "JC97st4iY7gpPYhF",
      "name": "subworkflow"
    }
  ]
}