workflows/Resume Analyzer.json
{"createdAt":"2025-06-17T08:26:34.908Z","updatedAt":"2025-06-17T10:24:21.114Z","id":"lfsBxGDFnGgserxW","name":"Resume Analyzer","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[440,-60],"id":"b2c36c3e-c0b5-49cf-879c-59818eda7574","name":"Gmail","webhookId":"108cbf11-678f-4e49-ad6e-cdf424a015a2","retryOnFail":true,"executeOnce":false,"alwaysOutputData":true,"credentials":{"gmailOAuth2":{"id":"6qrDcdevVT45ACgs","name":"Gmail account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"50308731-2569-405e-80d1-ca8e93808974","leftValue":"={{ $('resume_analyzer@mailrelayer.xyz emails').item.binary }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[220,-60],"id":"020e2e56-fc5c-4b37-8f82-aba272dc17c2","name":"Filter for only emails with attachments"},{"parameters":{"assignments":{"assignments":[{"id":"4c08d0bf-420d-4769-831d-9bbb44b2d43c","name":"attachments","value":"={{ $('Gmail').item.binary.keys() }}","type":"array"},{"id":"9a50c33e-ac5f-42bb-bd49-8fd05bf66f83","name":"message_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[700,-180],"id":"2bbe99ed-e7f2-47b1-b852-585d6691536d","name":"Edit Fields"},{"parameters":{"fieldToSplitOut":"attachments","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[940,-180],"id":"8e50b1ab-2cc7-49fe-9fd9-2ba1f1fdc2ca","name":"Split Out"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"message_id","field2":"=id"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1420,0],"id":"3d25a64e-eba8-4b68-9d02-375309e3792a","name":"Merge","alwaysOutputData":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyX","value":5,"unit":"minutes"}]},"simple":false,"filters":{"q":"=to:resume_analyzer@mailrelayer.xyz OR to:resume-analyzer@mailrelayer.xyz","readStatus":"unread"},"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[0,-60],"id":"9edadd88-0185-433d-b985-aa080880f405","name":"resume_analyzer@mailrelayer.xyz emails","credentials":{"gmailOAuth2":{"id":"6qrDcdevVT45ACgs","name":"Gmail account"}},"notes":"Fetches unread emails sent to bmcreimbursements@mailrelayer.xyz (and other misspellings)"},{"parameters":{"operation":"pdf","binaryPropertyName":"attachment_0","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[0,320],"id":"2a66a519-fdda-4b08-a061-3ad81c6bab99","name":"Extract from File"},{"parameters":{"promptType":"define","text":"<task>\nExtract the contents of the resume in the PDF into a JSON structured output.\n</task>\n\n<output_format>\nMake sure to output in the following JSON format:\n{\n\"name\": \"Name\",\n\"email\": \"email@email.com\",\n\"experiences\": [\n{\n\"role\": \"Role\",\n\"company\": \"Company\",\n\"experience\": [\"Led multiple clinical studies as the Bioinformatics Engineer, managing data from site initiation through FDA\nsubmission for various investigational medical devices using Oracle SQL and Python.\"],\n\"timeline\": \"Jul 2024 - Present\",\n\"location\": \"Northridge, CA\"\n}\n]\n}\n</output_format>\n\n\n\n\n</output_format>\n\n<context>\nThe resume will contain the person's name and contact details in the header, in the beginning. \nThen there will be an Experience section that lists out the different companies and roles the person has been in, along with the timeline for each role. \nThen there will be a section of Education.\nThen there will be a section for Skillset.\n<context>\n\n","messages":{"messageValues":[{"message":"<role>\nYou are a PDF file scanner that scans resumes\n</role>"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[2140,0],"id":"30f72a92-8b6e-48d6-b2ca-442ea69d3c39","name":"Basic LLM Chain"},{"parameters":{"promptType":"define","text":"=<task>\nUse the extracted text from a resume to put the information into a JSON structured output.\n</task>\n\n<output_format>\nMake sure to output in the following JSON format:\n{\n  \"name\": \"Name\",\n  \"email\": \"email@email.com\",\n  \"experiences\": [\n    {\n      \"role\": \"Role\",\n      \"company\": \"Company\",\n      \"experience\": [\"Led multiple clinical studies as the Bioinformatics Engineer, managing data from site initiation through FDA submission for various investigational medical devices using Oracle SQL and Python.\"\n      ],\n      \"timeline\": \"Jul 2024 - Present\",\n      \"location\": \"Northridge, CA\"\n    }\n  ],\n  \"education\": [\n    {\n      \"degree\": \"Quantic School of Business, Executive MBA\",\n      \"timeline\": \"Dec 2022\",\n      \"location\": \"Washington, DC\"\n    }\n  ],\n  \"skillset\": {\n    \"languages\": [\"Python\", \"R\", \"SQL\"],\n    \"data_stores\": [\"Google BigQuery\", \"OracleDB\"],\n    \"cloud_providers\": [\"AWS\", \"GCP\", \"Oracle\"]\n  }\n}\n</output_format>\n\n\n\n<context>\nThe resume text will contain the person's name and contact details in the header, in the beginning. \nThen there will be an Experience section that lists out the different companies and roles the person has been in, along with the timeline for each role. \nThen there will be a section of Education.\nThen there will be a section for Skillset.\n\nThe following is the text version of the resume:\n{{ $json.text }}\n<context>\n\n/no_think\n","hasOutputParser":true,"messages":{"messageValues":[{"message":"<role>\nYou are a text extracting bot that extracts information and put it into a JSON structure.\n</role>"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[220,320],"id":"3f78cd35-6b40-435e-bac5-10ea789a8c72","name":"Basic LLM Chain1"},{"parameters":{"content":"<task>\nExtract the contents of the resume in the PDF into a JSON structured output.\n</task>\n\n<output_format>\nMake sure to output in the following JSON format:\n{\n\"name\": \"Name\",\n\"email\": \"email@email.com\",\n\"experiences\": [\n{\n\"role\": \"Role\",\n\"company\": \"Company\",\n\"experience\": [\"Led multiple clinical studies as the Bioinformatics Engineer, managing data from site initiation through FDA\nsubmission for various investigational medical devices using Oracle SQL and Python.\"],\n\"timeline\": \"Jul 2024 - Present\",\n\"location\": \"Northridge, CA\"\n}\n]\n}\n</output_format>\n\n\n\n\n</output_format>\n\n<context>\nThe resume will contain the person's name and contact details in the header, in the beginning. \nThen there will be an Experience section that lists out the different companies and roles the person has been in, along with the timeline for each role. \nThen there will be a section of Education.\nThen there will be a section for Skillset.\n<context>\n/no_think"},"type":"n8n-nodes-base.stickyNote","position":[2120,-220],"typeVersion":1,"id":"c9113ea8-4d81-45e0-b2a6-bfd664c1873c","name":"Sticky Note"},{"parameters":{"model":{"__rl":true,"value":"qwen/qwen3-14b","mode":"list","cachedResultName":"qwen/qwen3-14b"},"options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[320,540],"id":"fc02f54c-f7c4-4399-9e13-265c9cae6306","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"PghgA1lKgl9wuFVD","name":"OpenAi account"}}},{"parameters":{"text":"={{ $json.text }}","schemaType":"fromJson","jsonSchemaExample":"{\n  \"name\": \"Name\",\n  \"email\": \"email@email.com\",\n  \"experiences\": [\n    {\n      \"role\": \"Role\",\n      \"company\": \"Company\",\n      \"experience\": [\"Led multiple clinical studies as the Bioinformatics Engineer, managing data from site initiation through FDA submission for various investigational medical devices using Oracle SQL and Python.\"\n      ],\n      \"timeline\": \"Jul 2024 - Present\",\n      \"location\": \"Northridge, CA\"\n    }\n  ],\n  \"education\": [\n    {\n      \"degree\": \"Quantic School of Business, Executive MBA\",\n      \"timeline\": \"Dec 2022\",\n      \"location\": \"Washington, DC\"\n    }\n  ],\n  \"skillset\": {\n    \"languages\": [\"Python\", \"R\", \"SQL\"],\n    \"data_stores\": [\"Google BigQuery\", \"OracleDB\"],\n    \"cloud_providers\": [\"AWS\", \"GCP\", \"Oracle\"]\n  }\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.1,"position":[580,320],"id":"bf53adab-2571-4306-9298-4a92ed53d675","name":"Information Extractor"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[680,540],"id":"4ee19dac-f8ea-47c6-beca-2948a5c8ee63","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"yw1nLb6Dxz18ENh2","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"=<task>\nRewrite some of the resume's experience in order to fit the job description.\n</task>\n\n<guidelines>\n- Ensure that the experiences have quantifiable impact. The impact should also have a blend of both small scoped impact (within the team) and larger scoped impact (such as to a department)","batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[940,320],"id":"8803255c-b3ca-4aba-887a-da7817a643a5","name":"Basic LLM Chain2"},{"parameters":{"model":{"__rl":true,"value":"qwen/qwen3-14b","mode":"list","cachedResultName":"qwen/qwen3-14b"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1040,540],"id":"19309a4c-2bd8-4b87-835e-8d625860a311","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"PghgA1lKgl9wuFVD","name":"OpenAi account"}}}],"connections":{"Filter for only emails with attachments":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Merge","type":"main","index":0}]]},"resume_analyzer@mailrelayer.xyz emails":{"main":[[{"node":"Filter for only emails with attachments","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Extract from File","type":"main","index":0},{"node":"Basic LLM Chain","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Information Extractor":{"main":[[{"node":"Basic LLM Chain2","type":"main","index":0}]]},"Basic LLM Chain2":{"main":[[]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Basic LLM Chain2","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Edit Fields":[{"json":{"attachments":["attachment_0"],"message_id":"1977d123d72e2482"}}],"Split Out":[{"json":{"message_id":"1977d123d72e2482","attachments":"attachment_0"}}],"Extract from File":[{"json":{"numpages":1,"numrender":1,"info":{"PDFFormatVersion":"1.4","Language":"en-US","EncryptFilterName":null,"IsLinearized":false,"IsAcroFormPresent":false,"IsXFAPresent":false,"IsCollectionPresent":false,"IsSignaturesPresent":false,"Title":"Richie Bui's Resume (2025).docx","Producer":"Skia/PDF m139 Google Docs Renderer"},"text":"Richie Bui\nrichiebui@gmail.com | (626) 518-2390 | Los Angeles, CA | LinkedIn | Github\nExperience\nMedtronic Northridge, CA\nSenior Clinical Bioinformatics Engineer \nJul 2023 – Present\n● Led multiple clinical studies as the Bioinformatics Engineer, managing data from site initiation through FDA\nsubmission for various investigational medical devices using Oracle SQL and Python.\n● Developed and managed several study surveillance reports for clinical trials to review subject compliance related\nto usage of our Guardian Connect continuous glucose monitor, 780G insulin pumps, and Smart Insulin Pen\nsystem.\n● Optimized SQL and Python data extraction and retrieval processes of large datasets by reducing processing time\nby 80% through advanced data structures, automation, and Python techniques to enhance analytical insights.\n● Designed innovative methods for processing and cleaning structured and unstructured clinical study data,\nimproving data accessibility and accelerating informed business decision-making.\n● Collaborated with cross-functional, data-centric teams to develop technical documentation for new data platform\ntools, increasing team efficiency and analytical output by 20%.\nClinical Bioinformatics Engineer \nJan 2020 – Jul 2022\n● Generate glucose sensor reports using analytical tools to monitor 12 clinical studies across the U.S., China, and\nEurope with 99% accuracy.\n● Drive innovation and engagement between cross-functional teams to expedite reporting from clinical start-up\npractices to obtain patient data by 66%.\n● Communicate and present end-of-study reports with high-level executives and directors, explaining anomaly\ndetections, outliers, and findings effectively across all vastly diverse background knowledge.\nThe Realest Group, LLC. Los Angeles, CA\nData Scientist Feb 2019 – Jan 2020\n● Built and maintain a backend database using Amazon redshift via ETL pipeline to process 1 million rows of\nvendor data with multiple schemas across 10 raw CSV datasets.\n● Collaborated with CEO, Marketing Director, Sales team and other executives to drive business decisions to\nincrease revenue by 3% within the next quarter with new incoming clientele.\n● Mentoring my team of 3 data scientists on data cleaning, processing, and feature engineering using python to\npromote best practices for incoming datasets.\nMedtronic Northridge, CA\nClinical Research Specialist Jun 2015 - Feb 2018\n● Lead a clinical research team of 4 that conducted in-house non-significant risk clinical studies on medical devices\nand technologies geared towards diabetes management and glucose control.\n● Presented insight to the company’s CEO, Head of Engineering, and R&D from the medical devices tested in our\nclinic under the direct supervision of Senior Global Medical Affairs Director.\n● Analyzed human physiological data sets from the company’s proprietary Continuous Glucose Monitoring system\nto investigate any anomalies and trends on 1000+ patients throughout the study.\nEducation\nDec 2022 Quantic School of Business, Executive MBA Washington, DC\nMay 2014 University of Arizona, B.S. Molecular and Cellular Biology Tucson, AZ\nSkillset","version":"2.16.105"}}],"Basic LLM Chain1":[{"json":{"text":"<think>\n\n</think>\n\n{\n  \"name\": \"Richie Bui\",\n  \"email\": \"richiebui@gmail.com\",\n  \"experiences\": [\n    {\n      \"role\": \"Senior Clinical Bioinformatics Engineer\",\n      \"company\": \"Medtronic\",\n      \"experience\": [\n        \"Led multiple clinical studies as the Bioinformatics Engineer, managing data from site initiation through FDA submission for various investigational medical devices using Oracle SQL and Python.\",\n        \"Developed and managed several study surveillance reports for clinical trials to review subject compliance related to usage of our Guardian Connect continuous glucose monitor, 780G insulin pumps, and Smart Insulin Pen system.\",\n        \"Optimized SQL and Python data extraction and retrieval processes of large datasets by reducing processing time by 80% through advanced data structures, automation, and Python techniques to enhance analytical insights.\",\n        \"Designed innovative methods for processing and cleaning structured and unstructured clinical study data, improving data accessibility and accelerating informed business decision-making.\",\n        \"Collaborated with cross-functional, data-centric teams to develop technical documentation for new data platform tools, increasing team efficiency and analytical output by 20%.\"\n      ],\n      \"timeline\": \"Jul 2023 - Present\",\n      \"location\": \"Northridge, CA\"\n    },\n    {\n      \"role\": \"Clinical Bioinformatics Engineer\",\n      \"company\": \"Medtronic\",\n      \"experience\": [\n        \"Generated glucose sensor reports using analytical tools to monitor 12 clinical studies across the U.S., China, and Europe with 99% accuracy.\",\n        \"Drove innovation and engagement between cross-functional teams to expedite reporting from clinical start-up practices to obtain patient data by 66%.\",\n        \"Communicated and presented end-of-study reports with high-level executives and directors, explaining anomaly detections, outliers, and findings effectively across all vastly diverse background knowledge.\"\n      ],\n      \"timeline\": \"Jan 2020 - Jul 2022\",\n      \"location\": \"Northridge, CA\"\n    },\n    {\n      \"role\": \"Data Scientist\",\n      \"company\": \"The Realest Group, LLC.\",\n      \"experience\": [\n        \"Built and maintained a backend database using Amazon Redshift via ETL pipeline to process 1 million rows of vendor data with multiple schemas across 10 raw CSV datasets.\",\n        \"Collaborated with CEO, Marketing Director, Sales team and other executives to drive business decisions to increase revenue by 3% within the next quarter with new incoming clientele.\",\n        \"Mentored my team of 3 data scientists on data cleaning, processing, and feature engineering using Python to promote best practices for incoming datasets.\"\n      ],\n      \"timeline\": \"Feb 2019 - Jan 2020\",\n      \"location\": \"Los Angeles, CA\"\n    },\n    {\n      \"role\": \"Clinical Research Specialist\",\n      \"company\": \"Medtronic\",\n      \"experience\": [\n        \"Led a clinical research team of 4 that conducted in-house non-significant risk clinical studies on medical devices and technologies geared towards diabetes management and glucose control.\",\n        \"Presented insight to the company’s CEO, Head of Engineering, and R&D from the medical devices tested in our clinic under the direct supervision of Senior Global Medical Affairs Director.\",\n        \"Analyzed human physiological data sets from the company’s proprietary Continuous Glucose Monitoring system to investigate any anomalies and trends on 1000+ patients throughout the study.\"\n      ],\n      \"timeline\": \"Jun 2015 - Feb 2018\",\n      \"location\": \"Northridge, CA\"\n    }\n  ],\n  \"education\": [\n    {\n      \"degree\": \"Quantic School of Business, Executive MBA\",\n      \"timeline\": \"Dec 2022\",\n      \"location\": \"Washington, DC\"\n    },\n    {\n      \"degree\": \"University of Arizona, B.S. Molecular and Cellular Biology\",\n      \"timeline\": \"May 2014\",\n      \"location\": \"Tucson, AZ\"\n    }\n  ],\n  \"skillset\": {\n    \"languages\": [\"Python\", \"R\", \"SQL\"],\n    \"data_stores\": [\"Amazon Redshift\", \"OracleDB\", \"Google BigQuery\"],\n    \"cloud_providers\": [\"AWS\", \"GCP\", \"Oracle\"]\n  }\n}"}}],"Information Extractor":[{"json":{"output":{"name":"Richie Bui","email":"richiebui@gmail.com","experiences":[{"role":"Senior Clinical Bioinformatics Engineer","company":"Medtronic","experience":["Led multiple clinical studies as the Bioinformatics Engineer, managing data from site initiation through FDA submission for various investigational medical devices using Oracle SQL and Python.","Developed and managed several study surveillance reports for clinical trials to review subject compliance related to usage of our Guardian Connect continuous glucose monitor, 780G insulin pumps, and Smart Insulin Pen system.","Optimized SQL and Python data extraction and retrieval processes of large datasets by reducing processing time by 80% through advanced data structures, automation, and Python techniques to enhance analytical insights.","Designed innovative methods for processing and cleaning structured and unstructured clinical study data, improving data accessibility and accelerating informed business decision-making.","Collaborated with cross-functional, data-centric teams to develop technical documentation for new data platform tools, increasing team efficiency and analytical output by 20%."],"timeline":"Jul 2023 - Present","location":"Northridge, CA"},{"role":"Clinical Bioinformatics Engineer","company":"Medtronic","experience":["Generated glucose sensor reports using analytical tools to monitor 12 clinical studies across the U.S., China, and Europe with 99% accuracy.","Drove innovation and engagement between cross-functional teams to expedite reporting from clinical start-up practices to obtain patient data by 66%.","Communicated and presented end-of-study reports with high-level executives and directors, explaining anomaly detections, outliers, and findings effectively across all vastly diverse background knowledge."],"timeline":"Jan 2020 - Jul 2022","location":"Northridge, CA"},{"role":"Data Scientist","company":"The Realest Group, LLC.","experience":["Built and maintained a backend database using Amazon Redshift via ETL pipeline to process 1 million rows of vendor data with multiple schemas across 10 raw CSV datasets.","Collaborated with CEO, Marketing Director, Sales team and other executives to drive business decisions to increase revenue by 3% within the next quarter with new incoming clientele.","Mentored my team of 3 data scientists on data cleaning, processing, and feature engineering using Python to promote best practices for incoming datasets."],"timeline":"Feb 2019 - Jan 2020","location":"Los Angeles, CA"},{"role":"Clinical Research Specialist","company":"Medtronic","experience":["Led a clinical research team of 4 that conducted in-house non-significant risk clinical studies on medical devices and technologies geared towards diabetes management and glucose control.","Presented insight to the company’s CEO, Head of Engineering, and R&D from the medical devices tested in our clinic under the direct supervision of Senior Global Medical Affairs Director.","Analyzed human physiological data sets from the company’s proprietary Continuous Glucose Monitoring system to investigate any anomalies and trends on 1000+ patients throughout the study."],"timeline":"Jun 2015 - Feb 2018","location":"Northridge, CA"}],"education":[{"degree":"Quantic School of Business, Executive MBA","timeline":"Dec 2022","location":"Washington, DC"},{"degree":"University of Arizona, B.S. Molecular and Cellular Biology","timeline":"May 2014","location":"Tucson, AZ"}],"skillset":{"languages":["Python","R","SQL"],"data_stores":["Amazon Redshift","OracleDB","Google BigQuery"],"cloud_providers":["AWS","GCP","Oracle"]}}}}]},"versionId":"d85198bc-c478-4c29-9e50-0fb755d063c5","triggerCount":0,"tags":[]}