workflows/Resume_Analyzer.json
{
  "createdAt": "2025-06-17T08:26:34.908Z",
  "updatedAt": "2025-06-24T07:39:53.328Z",
  "id": "lfsBxGDFnGgserxW",
  "name": "Resume_Analyzer",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "50308731-2569-405e-80d1-ca8e93808974",
              "leftValue": "={{ $('resume_analyzer@mailrelayer.xyz emails').item.binary }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        20,
        -60
      ],
      "id": "020e2e56-fc5c-4b37-8f82-aba272dc17c2",
      "name": "Filter for only emails with attachments"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4c08d0bf-420d-4769-831d-9bbb44b2d43c",
              "name": "attachments",
              "value": "={{ $('Gmail Get Message').item.binary.keys() }}",
              "type": "array"
            },
            {
              "id": "9a50c33e-ac5f-42bb-bd49-8fd05bf66f83",
              "name": "message_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        -200
      ],
      "id": "2bbe99ed-e7f2-47b1-b852-585d6691536d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "attachments",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1120,
        -200
      ],
      "id": "8e50b1ab-2cc7-49fe-9fd9-2ba1f1fdc2ca",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "message_id",
              "field2": "=id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1460,
        -80
      ],
      "id": "3d25a64e-eba8-4b68-9d02-375309e3792a",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "=to:resume_analyzer@mailrelayer.xyz OR to:resume-analyzer@mailrelayer.xyz",
          "readStatus": "unread"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -220,
        -60
      ],
      "id": "9edadd88-0185-433d-b985-aa080880f405",
      "name": "resume_analyzer@mailrelayer.xyz emails",
      "credentials": {
        "gmailOAuth2": {
          "id": "6qrDcdevVT45ACgs",
          "name": "Gmail account"
        }
      },
      "notes": "Fetches unread emails sent to bmcreimbursements@mailrelayer.xyz (and other misspellings)"
    },
    {
      "parameters": {
        "content": "<task>\nExtract the contents of the resume in the PDF into a JSON structured output.\n</task>\n\n<output_format>\nMake sure to output in the following JSON format:\n{\n\"name\": \"Name\",\n\"email\": \"email@email.com\",\n\"experiences\": [\n{\n\"role\": \"Role\",\n\"company\": \"Company\",\n\"experience\": [\"Led multiple clinical studies as the Bioinformatics Engineer, managing data from site initiation through FDA\nsubmission for various investigational medical devices using Oracle SQL and Python.\"],\n\"timeline\": \"Jul 2024 - Present\",\n\"location\": \"Northridge, CA\"\n}\n]\n}\n</output_format>\n\n\n\n\n</output_format>\n\n<context>\nThe resume will contain the person's name and contact details in the header, in the beginning. \nThen there will be an Experience section that lists out the different companies and roles the person has been in, along with the timeline for each role. \nThen there will be a section of Education.\nThen there will be a section for Skillset.\n<context>\n/no_think"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2080,
        -280
      ],
      "typeVersion": 1,
      "id": "c9113ea8-4d81-45e0-b2a6-bfd664c1873c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek/deepseek-r1-0528-qwen3-8b",
          "mode": "list",
          "cachedResultName": "deepseek/deepseek-r1-0528-qwen3-8b"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        960,
        560
      ],
      "id": "fc02f54c-f7c4-4399-9e13-265c9cae6306",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PghgA1lKgl9wuFVD",
          "name": "LM Studio"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek/deepseek-r1-0528-qwen3-8b",
          "mode": "list",
          "cachedResultName": "deepseek/deepseek-r1-0528-qwen3-8b"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1680,
        520
      ],
      "id": "19309a4c-2bd8-4b87-835e-8d625860a311",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "PghgA1lKgl9wuFVD",
          "name": "LM Studio"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<task>\nUse the extracted text from a resume to put the information into a JSON structured output.\n</task>\n\n<output_format>\nMake sure to output in the following JSON format:\n{{ $('Global Vars').item.json.resume_example }}\n</output_format>\n\n\n\n<context>\n- The resume text will contain the person's name and contact details in the header, in the beginning. \n- Then there will be an Experience section that lists out the different companies and roles the person has been in, along with the timeline for each role. \n- Then there will be a section of Education.\n- Then there will be a section for Skillset.\n\n<resume>\n{{ $('Extract Resume Content String from File').item.json.text }}\n</resume>\n\n</context>\n\n/no_think\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "<role>\nYou are a text extracting bot that extracts information and put it into a JSON structure.\n</role>"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        960,
        340
      ],
      "id": "3f78cd35-6b40-435e-bac5-10ea789a8c72",
      "name": "Structure file contents into JSON String",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<task>\nRewrite some of the resume's experiences and skillsets in order to fit the job description.\n</task>\n\n<output_format>\n{{ $('Global Vars').item.json.resume_example }}\n</output_format>\n\n<resume>\n{{ $('AI String Output to Resume JSON').item.json.output.experiences.map(item => item.experience).join('\\n- ') }}\n</resume>\n\n<job_description>\n{{ $('Gmail Get Message').item.json.text }}\n</job_description>\n\n\n<guidelines>\n- Make sure to keep the name and email and education section.\n- For each experience, only change the experience but keep the timeline and location values the same.\n- Ensure that 80% of the experiences have quantifiable impact. The impact should also have a blend of both small scoped impact (within the team) and larger scoped impact (such as to a department).\n- Ensure that the experiences and skillsets matches what the job description is looking for.\n- If the experience does not match what the job desecription is looking for, then write the experience to do so, even if it is made up. However, make the newly created experience believable. \n- Make sure the experiences, whether rewritten old experiences or newly made up experiences, uses the technologies and skills the job description is looking for.\n</guidelines>\n\n\n\n/no_think",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1660,
        340
      ],
      "id": "8803255c-b3ca-4aba-887a-da7817a643a5",
      "name": "Rewrite Resume",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "<task>\nExtract the contents of the resume in the PDF into a JSON structured output.\n</task>\n\n<output_format>\nMake sure to output in the following JSON format:\n{\n\"name\": \"Name\",\n\"email\": \"email@email.com\",\n\"experiences\": [\n{\n\"role\": \"Role\",\n\"company\": \"Company\",\n\"experience\": [\"Led multiple clinical studies as the Bioinformatics Engineer, managing data from site initiation through FDA\nsubmission for various investigational medical devices using Oracle SQL and Python.\"],\n\"timeline\": \"Jul 2024 - Present\",\n\"location\": \"Northridge, CA\"\n}\n]\n}\n</output_format>\n\n\n\n\n</output_format>\n\n<context>\nThe resume will contain the person's name and contact details in the header, in the beginning. \nThen there will be an Experience section that lists out the different companies and roles the person has been in, along with the timeline for each role. \nThen there will be a section of Education.\nThen there will be a section for Skillset.\n<context>\n\n",
        "messages": {
          "messageValues": [
            {
              "message": "<role>\nYou are a PDF file scanner that scans resumes\n</role>"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2160,
        -80
      ],
      "id": "30f72a92-8b6e-48d6-b2ca-442ea69d3c39",
      "name": "Extract PDF contents using LLM?",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        700,
        340
      ],
      "id": "2a66a519-fdda-4b08-a061-3ad81c6bab99",
      "name": "Extract Resume Content String from File"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "pcfQkynRQA3vSIZ7",
          "mode": "list",
          "cachedResultName": "Convert to Resume JSON"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1420,
        340
      ],
      "id": "072480ae-8c29-42c5-ab7d-812050f4f2f0",
      "name": "AI String Output to Resume JSON",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $('Filter for only emails with attachments').item.json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        440,
        -60
      ],
      "id": "b2c36c3e-c0b5-49cf-879c-59818eda7574",
      "name": "Gmail Get Message",
      "webhookId": "108cbf11-678f-4e49-ad6e-cdf424a015a2",
      "retryOnFail": true,
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "6qrDcdevVT45ACgs",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "pcfQkynRQA3vSIZ7",
          "mode": "list",
          "cachedResultName": "Convert to Resume JSON"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2040,
        340
      ],
      "id": "09667d96-0c98-4fe2-8ea8-27858f69a608",
      "name": "AI String Output to Resume JSON 2",
      "disabled": true
    },
    {
      "parameters": {
        "content": "{\n  \"resume_example\": {\n    \"name\": \"Name\",\n    \"email\": \"email@email.com\",\n    \"experiences\": [\n      {\n        \"role\": \"Role\",\n        \"company\": \"Company\",\n        \"experience\": [\n          \"Led multiple clinical studies as the Bioinformatics Engineer, managing data from site initiation through FDA submission for various investigational medical devices using Oracle SQL and Python.\"\n        ],\n        \"timeline\": \"Jul 2024 - Present\",\n        \"location\": \"Northridge, CA\"\n      }\n    ],\n    \"education\": [\n      {\n        \"degree\": \"Quantic School of Business, Executive MBA\",\n        \"timeline\": \"Dec 2022\",\n        \"location\": \"Washington, DC\"\n      }\n    ],\n    \"skillset\": {\n      \"languages\": [\"Python\", \"R\", \"SQL\"],\n      \"data_stores\": [\"Google BigQuery\", \"OracleDB\"],\n      \"cloud_providers\": [\"AWS\", \"GCP\", \"Oracle\"]\n    }\n  }\n}\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        160
      ],
      "typeVersion": 1,
      "id": "8bbd3b54-8038-4ca8-821b-e34cfd365398",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Split and merge for each experience.\nCreate a new markdown list for each role "
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1500,
        180
      ],
      "typeVersion": 1,
      "id": "70b515de-67ad-466e-bfac-88fc9aa5838f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "query Snowflake for \"hello\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2460,
        360
      ],
      "id": "1d0eb051-6197-43da-97c4-1a2a8a4a3da1",
      "name": "AI Agent",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek/deepseek-r1-0528-qwen3-8b",
          "mode": "list",
          "cachedResultName": "deepseek/deepseek-r1-0528-qwen3-8b"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2480,
        800
      ],
      "id": "423217f7-dc2c-418d-9f5d-7ab876c5af71",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "PghgA1lKgl9wuFVD",
          "name": "LM Studio"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        2600,
        800
      ],
      "id": "c6f09189-3bac-48a7-946e-fecec7623924",
      "name": "Snowflake MCP Client",
      "credentials": {
        "mcpClientApi": {
          "id": "wJibEmJn8sBP0Ck9",
          "name": "Snowflake MCP (STDIO) account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": "gpt-4",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        860,
        1320
      ],
      "id": "72059c87-d7ec-4354-b985-de596f527fad",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "amfaI9YXiWesQ4eT",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "code": {
          "execute": {
            "code": "const { PromptTemplate } = require('@langchain/core/prompts');\n\nconst query = `\n<task>\nUse the extracted text from a resume to put the information into a JSON structured output.\n</task>\n\n<output_format>\nMake sure to output in the following JSON format:\n{{ $('Globals').item.json.resume_example }}\n</output_format>\n\n\n\n<context>\n- The resume text will contain the person's name and contact details in the header, in the beginning. \n- Then there will be an Experience section that lists out the different companies and roles the person has been in, along with the timeline for each role. \n- Then there will be a section of Education.\n- Then there will be a section for Skillset.\n\n<resume>\n{{ $('Extract Resume Content String from File').item.json.text }}\n</resume>\n\n</context>\n\n/no_think\n\n`;\nconst prompt = PromptTemplate.fromTemplate(query);\n\n// If you are allowing more than one language model input connection (-1 or\n// anything greater than 1), getInputConnectionData returns an array, so you\n// will have to change the code below it to deal with that. For example, use\n// llm[0] in the chain definition\n\nconst llm = await this.getInputConnectionData('ai_languageModel', 0);\nlet chain = prompt.pipe(llm);\nconst output = await chain.invoke();\nreturn [ {json: { output } } ];"
          }
        },
        "inputs": {
          "input": [
            {
              "type": "main",
              "required": true
            },
            {
              "type": "ai_languageModel",
              "required": true
            }
          ]
        },
        "outputs": {
          "output": [
            {
              "type": "main"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.code",
      "typeVersion": 1,
      "position": [
        880,
        1080
      ],
      "id": "94f15c17-3e5b-46ad-84f2-242741bbddca",
      "name": "LangChain Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd29d61a-b719-4442-9508-119b38c738f8",
              "name": "resume_example",
              "value": "{ \"name\": \"Name\",     \"email\": \"email@email.com\",     \"experiences\": [       {         \"role\": \"Role\",         \"company\": \"Company\",         \"experience\": [           \"Led multiple clinical studies as the Bioinformatics Engineer, managing data from site initiation through FDA submission for various investigational medical devices using Oracle SQL and Python.\"         ],         \"timeline\": \"Jul 2024 - Present\",         \"location\": \"Northridge, CA\"       }     ],     \"education\": [       {         \"degree\": \"Quantic School of Business, Executive MBA\",         \"timeline\": \"Dec 2022\",         \"location\": \"Washington, DC\"       }     ],     \"skillset\": {       \"languages\": [\"Python\", \"R\", \"SQL\"],       \"data_stores\": [\"Google BigQuery\", \"OracleDB\"],       \"cloud_providers\": [\"AWS\", \"GCP\", \"Oracle\"] } ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -60
      ],
      "id": "8b4178d8-fef9-4675-8739-587c2a142bb0",
      "name": "Global Vars",
      "notesInFlow": true,
      "notes": "Set an example resume JSON structure"
    }
  ],
  "connections": {
    "Filter for only emails with attachments": {
      "main": [
        [
          {
            "node": "Global Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "resume_analyzer@mailrelayer.xyz emails": {
      "main": [
        [
          {
            "node": "Filter for only emails with attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Extract PDF contents using LLM?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Resume Content String from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structure file contents into JSON String",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Rewrite Resume",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structure file contents into JSON String": {
      "main": [
        [
          {
            "node": "AI String Output to Resume JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rewrite Resume": {
      "main": [
        [
          {
            "node": "AI String Output to Resume JSON 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Resume Content String from File": {
      "main": [
        [
          {
            "node": "Structure file contents into JSON String",
            "type": "main",
            "index": 0
          },
          {
            "node": "LangChain Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI String Output to Resume JSON": {
      "main": [
        [
          {
            "node": "Rewrite Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Get Message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI String Output to Resume JSON 2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Snowflake MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LangChain Code",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Global Vars": {
      "main": [
        [
          {
            "node": "Gmail Get Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Edit Fields": [
      {
        "json": {
          "attachments": [
            "attachment_0"
          ],
          "message_id": "1977d123d72e2482"
        }
      }
    ],
    "Split Out": [
      {
        "json": {
          "message_id": "1977d123d72e2482",
          "attachments": "attachment_0"
        }
      }
    ],
    "AI String Output to Resume JSON": [
      {
        "json": {
          "output": {
            "name": "Richie Bui",
            "email": "richiebui@gmail.com",
            "experiences": [
              {
                "role": "Senior Clinical Bioinformatics Engineer",
                "company": "Medtronic",
                "experience": [
                  "Led multiple clinical studies as the Bioinformatics Engineer, managing data from site initiation through FDA submission for various investigational medical devices using Oracle SQL and Python.",
                  "Developed and managed several study surveillance reports for clinical trials to review subject compliance related to usage of our Guardian Connect continuous glucose monitor, 780G insulin pumps, and Smart Insulin Pen system.",
                  "Optimized SQL and Python data extraction and retrieval processes of large datasets by reducing processing time by 80% through advanced data structures, automation, and Python techniques to enhance analytical insights.",
                  "Designed innovative methods for processing and cleaning structured and unstructured clinical study data, improving data accessibility and accelerating informed business decision-making.",
                  "Collaborated with cross-functional, data-centric teams to develop technical documentation for new data platform tools, increasing team efficiency and analytical output by 20%."
                ],
                "timeline": "Jul 2023 – Present",
                "location": "Northridge, CA"
              },
              {
                "role": "Clinical Research Specialist",
                "company": "Medtronic",
                "experience": [
                  "Lead a clinical research team of 4 that conducted in-house non-significant risk clinical studies on medical devices and technologies geared towards diabetes management and glucose control.",
                  "Presented insight to the company’s CEO, Head of Engineering, and R&D from the medical devices tested in our clinic under the direct supervision of Senior Global Medical Affairs Director.",
                  "Analyzed human physiological data sets from the company’s proprietary Continuous Glucose Monitoring system to investigate any anomalies and trends on 1000+ patients throughout the study."
                ],
                "timeline": "Jun 2015 - Feb 2018",
                "location": "Northridge, CA"
              },
              {
                "role": "Data Scientist",
                "company": "The Realest Group, LLC.",
                "experience": [
                  "Built and maintain a backend database using Amazon Redshift via ETL pipeline to process 1 million rows of vendor data with multiple schemas across 10 raw CSV datasets.",
                  "Collaborated with CEO, Marketing Director, Sales team and other executives to drive business decisions to increase revenue by 3% within the next quarter with new incoming clientele.",
                  "Mentoring my team of 3 data scientists on data cleaning, processing, and feature engineering using Python to promote best practices for incoming datasets."
                ],
                "timeline": "Feb 2019 – Jan 2020",
                "location": "Los Angeles, CA"
              }
            ],
            "education": [
              {
                "degree": "Executive MBA",
                "timeline": "Dec 2022",
                "location": "Washington, DC"
              },
              {
                "degree": "B.S. Molecular and Cellular Biology",
                "timeline": "May 2014",
                "location": "Tucson, AZ"
              }
            ],
            "skillset": {}
          }
        }
      }
    ],
    "Structure file contents into JSON String": [
      {
        "json": {
          "text": "<think>\nFirst, I am a text extracting bot that puts information into a JSON structure. The task is to use the extracted resume text and output it in a specific JSON format.\n\nThe output format specified is: [object Object], but that seems incomplete. Looking back at the user's message, it says \"Make sure to output in the following JSON format: [object Object]\", but that's not a standard JSON. Probably, it means I need to output a JSON object with various fields.\n\nFrom the context, I need to extract information from the resume and put it into JSON. The resume has sections: header with name and contact details, Experience, Education, Skillset.\n\nI should structure the JSON to include:\n\n- Header: with name and contact details\n\n- Experience: list of jobs or roles, each with company, location, title, and dates\n\n- Education: details about education\n\n- Skillset: list of skills mentioned\n\nNow, looking at the resume text:\n\nHeader: Richie Bui with contact details.\n\nExperience section lists multiple roles, each with company, location, title, and timeline. Some have bullet points describing responsibilities.\n\nEducation: one entry with degree and institution.\n\nSkillset section at the end.\n\nI need to extract this information and put it into JSON.\n\nThe output format specified is \"[object Object]\", which might be a placeholder or an error. In standard JSON, I should output something like:\n\n{\n  \"name\": \"...\",\n  \"contact_details\": {...},\n  \"experience\": [...],\n  \"education\": [...],\n  \"skillset\": [...] \n}\n\nBut the user said \"[object Object]\", which could mean any JSON object. I should make a structured JSON.\n\nLet me outline the fields:\n\n1. **name**: \"Richie Bui\"\n\n2. **contact_details**: This includes email, phone, location, LinkedIn, Github. From the header: \"richiebui@gmail.com | (626) 518-2390 | Los Angeles, CA | LinkedIn | Github\". It's not fully specified; it just lists them. Probably need to parse this.\n\nIn the contact details, there's \"LinkedIn\" and \"Github\", but no URLs are provided. In the text, it's \"richiebui@gmail.com | (626) 518-2390 | Los Angeles, CA | LinkedIn | Github\". It might imply that LinkedIn and Github are social media links, but no actual URLs. I should include them as is.\n\n3. **experience**: This has multiple entries. Each entry has company, location, title, start and end dates, and a list of bullet points for responsibilities.\n\n4. **education**: One or more entries. Here, there are two: one from Dec 2022 (probably graduation date) at Quantic School, and May 2014 from University of Arizona.\n\n5. **skillset**: The last section, which lists skills like \"SQL\", \"Python\", etc., but it's not detailed in the resume text provided. In the context, there's a \"Skillset\" section at the end of the resume text.\n\nLooking back at the user's message, the resume ends with \"Skillset\", but no content is provided after that. In the <resume> tag, it starts with \"Richie Bui\" and ends with \"Skillset\", but the text before Skillset includes education.\n\nLet's read the resume again:\n\n[resume]\n\nRichie Bui\n\nrichiebui@gmail.com | (626) 518-2390 | Los Angeles, CA | LinkedIn | Github\n\nExperience\n\n[experience details]\n\nEducation\n\nDec 2022 Quantic School of Business, Executive MBA Washington, DC\n\nMay 2014 University of Arizona, B.S. Molecular and Cellular Biology Tucson, AZ\n\nSkillset\n\n</resume>\n\nIn the \"Education\" section, it's listed as:\n\nDec 2022 Quantic School of Business, Executive MBA Washington, DC\n\nMay 2014 University of Arizona, B.S. Molecular and Cellular Biology Tucson, AZ\n\nNo bullet points or details.\n\n\"Skillset\" section has no content in the text provided. It just says \"Skillset\", probably expecting a list, but nothing is written.\n\nIn the context description: \"Then there will be a section for Skillset.\" But in this resume, it's empty.\n\nI need to extract what's there and put into JSON.\n\nFor the JSON structure, I should have keys for each part.\n\nDefine a JSON schema:\n\n{\n  \"name\": string,\n  \"contact_details\": {\n    \"email\": string,\n    \"phone\": string,\n    \"location\": string,\n    \"linkedin\": string (or null if not provided),\n    \"github\": string or null\n  },\n  \"experience\": [\n    {\n      \"company\": string,\n      \"location\": string (if mentioned, e.g., Northridge, CA),\n      \"title\": string,\n      \"start_date\": string or date object? Probably string for simplicity.\n      \"end_date\": string,\n      \"responsibilities\": [array of strings or bullet points]\n    }\n  ],\n  \"education\": [\n    {\n      \"degree\": string,\n      \"institution\": string,\n      \"graduation_date\": string (or start date, as education often has dates)\n    }\n  ],\n  \"skillset\": [array of strings or object, but since no details, perhaps an array]\n}\n\nFor education, in this case, there are two entries.\n\nSkillset is empty, so I can include an empty array or null.\n\nNow, for the experience:\n\nEach job has company and location mentioned. For example: \"Medtronic Northridge, CA\" – so I can split into company and location.\n\nTitle is \"Senior Clinical Bioinformatics Engineer\", etc.\n\nDates: \"Jul 2023 – Present\" or \"Jan 2020 – Jul 2022\"\n\nResponsibilities are the bullet points.\n\nSimilarly for education: \"Dec 2022 Quantic School of Business, Executive MBA Washington, DC\" – so degree is \"Executive MBA\", institution \"Quantic School of Business\", graduation date \"Dec 2022\".\n\n\"May 2014 University of Arizona, B.S. Molecular and Cellular Biology Tucson, AZ\" – degree \"B.S. Molecular and Cellular Biology\", institution \"University of Arizona\", location \"Tucson, AZ\".\n\nFor skillset, since it's not detailed, I'll include an empty list.\n\nNow, for the JSON output, I need to make sure it's valid JSON.\n\nThe user mentioned \"output in the following JSON format: [object Object]\", which might be a mistake. Probably, I should output a proper JSON object.\n\nI'll assume the format is to have a top-level object with those keys.\n\nFinally, output only the JSON, no other text.\n</think>\n{\n  \"name\": \"Richie Bui\",\n  \"contact_details\": {\n    \"email\": \"richiebui@gmail.com\",\n    \"phone\": \"(626) 518-2390\",\n    \"location\": \"Los Angeles, CA\",\n    \"linkedin\": \"\",\n    \"github\": \"\"\n  },\n  \"experience\": [\n    {\n      \"company\": \"Medtronic\",\n      \"location\": \"Northridge, CA\",\n      \"title\": \"Senior Clinical Bioinformatics Engineer\",\n      \"start_date\": \"Jul 2023\",\n      \"end_date\": \"Present\",\n      \"responsibilities\": [\n        \"Led multiple clinical studies as the Bioinformatics Engineer, managing data from site initiation through FDA submission for various investigational medical devices using Oracle SQL and Python.\",\n        \"Developed and managed several study surveillance reports for clinical trials to review subject compliance related to usage of our Guardian Connect continuous glucose monitor, 780G insulin pumps, and Smart Insulin Pen system.\",\n        \"Optimized SQL and Python data extraction and retrieval processes of large datasets by reducing processing time by 80% through advanced data structures, automation, and Python techniques to enhance analytical insights.\",\n        \"Designed innovative methods for processing and cleaning structured and unstructured clinical study data, improving data accessibility and accelerating informed business decision-making.\",\n        \"Collaborated with cross-functional, data-centric teams to develop technical documentation for new data platform tools, increasing team efficiency and analytical output by 20%.\"\n      ]\n    },\n    {\n      \"company\": \"Medtronic\",\n      \"location\": \"Northridge, CA\",\n      \"title\": \"Clinical Bioinformatics Engineer\",\n      \"start_date\": \"Jan 2020\",\n      \"end_date\": \"Jul 2022\",\n      \"responsibilities\": [\n        \"Generated glucose sensor reports using analytical tools to monitor 12 clinical studies across the U.S., China, and Europe with 99% accuracy.\",\n        \"Drove innovation and engagement between cross-functional teams to expedite reporting from clinical start-up practices to obtain patient data by 66%.\",\n        \"Communicated and present end-of-study reports with high-level executives and directors, explaining anomaly detections, outliers, and findings effectively across all vastly diverse background knowledge.\"\n      ]\n    },\n    {\n      \"company\": \"The Realest Group, LLC.\",\n      \"location\": \"Los Angeles, CA\",\n      \"title\": \"Data Scientist\",\n      \"start_date\": \"Feb 2019\",\n      \"end_date\": \"Jan 2020\",\n      \"responsibilities\": [\n        \"Built and maintain a backend database using Amazon redshift via ETL pipeline to process 1 million rows of vendor data with multiple schemas across 10 raw CSV datasets.\",\n        \"Collaborated with CEO, Marketing Director, Sales team and other executives to drive business decisions to increase revenue by 3% within the next quarter with new incoming clientele.\",\n        \"Mentoring my team of 3 data scientists on data cleaning, processing, and feature engineering using python to promote best practices for incoming datasets.\"\n      ]\n    },\n    {\n      \"company\": \"Medtronic\",\n      \"location\": \"Northridge, CA\",\n      \"title\": \"Clinical Research Specialist\",\n      \"start_date\": \"Jun 2015\",\n      \"end_date\": \"Feb 2018\",\n      \"responsibilities\": [\n        \"Lead a clinical research team of 4 that conducted in-house non-significant risk clinical studies on medical devices and technologies geared towards diabetes management and glucose control.\",\n        \"Presented insight to the company's CEO, Head of Engineering, and R&D from the medical devices tested in our clinic under the direct supervision of Senior Global Medical Affairs Director.\",\n        \"Analyzed human physiological data sets from the company's proprietary Continuous Glucose Monitoring system to investigate any anomalies and trends on 1000+ patients throughout the study.\"\n      ]\n    }\n  ],\n  \"education\": [\n    {\n      \"degree\": \"Executive MBA\",\n      \"institution\": \"Quantic School of Business\",\n      \"graduation_date\": \"Dec 2022\"\n    },\n    {\n      \"degree\": \"B.S. Molecular and Cellular Biology\",\n      \"institution\": \"University of Arizona\",\n      \"graduation_date\": \"May 2014\"\n    }\n  ],\n  \"skillset\": []\n}"
        }
      }
    ],
    "Rewrite Resume": [
      {
        "json": {
          "text": "<think>\nOkay, let's break this down. The user wants me to rewrite a resume to fit a specific job description for a Senior Data Engineer with MLOps specialization at Quanata. The candidate seems to have relevant experience but needs better alignment with the job's focus areas.\n\nFirst, I notice the job description emphasizes MLOps engineering, AWS services, data versioning, real-time inference, CI/CD pipelines and model monitoring. That's quite different from the current resume which mentions clinical trials data management using Oracle SQL - clearly not a good match.\n\nHmm, the user has provided clear guidelines but didn't include any resumes in this minimal prompt. They appear to be giving instructions for someone (presumably an assistant) responsible for resume editing. The task seems straightforward though - rewrite the experiences while keeping timeline/education same, use industry keywords and ensure most bullet points show quantifiable impact.\n\nLooking at the position requirements: \n- 8 years experience with 2 in MLOps + software engineering\n- Need expertise with AWS, Python/docker \n- IaC tools like Terraform \n- End-to-end ML lifecycle experience\n- CI/CD for ML systems \n\nThis is very technical and specific. The challenge in response will be to create plausible \"before\" content that maps cleanly into these domains while making the rewrite straightforward by focusing on keywords and impact metrics.\n\nThe \"Bonus points\" in the job description might mean candidates with insurance industry or regulated environment experience are preferred, which suggests some regulatory awareness would be good to hint at.\n\nNeed to ensure the rewritten experiences use terms like \"Snowflake\", \"MLflow\", \"AWS SageMaker\" and \"feature store\" frequently. The original \"educational timeline\" appears to refer to an Executive MBA, which might not be directly relevant so I could omit it.\n\nFor the experience conversion strategy: \nWhen rewriting a real experience, would reorganize around MLOps principles but reuse same timeline data. When adding new experiences, would craft them to match job requirements exactly where resume is weak.\n\nShould include a note about potentially omitting education unless needed - many USA resumes just list credentials without timeline.\n\nThe challenge here is to make the rewrite appear as if it could have been written this way originally rather than doing a full narrative change. Quantifiable impact needs to appear naturally without sounding forced.\n\nThe response will clearly state it assumes unprovided original resume content, and makes direct-to-Quanata mapping where needed while maintaining timeline structure. Aim for technical precision without fluff.\n\nNeed to ensure all terms in the job \"day-to-day\" appear regularly in the experiences, especially operationalizing data science solutions and MLOps platform development. The experience bullets must show tangible impact to meet 80% quantifiable requirement.\n\nBefore finalizing, will cross-check against job's \"Bonus points\" to see if can incorporate regulated environment awareness or large-scale systems experience subtly.\n\nThis seems like a case about aligning someone's technical background with very specific role at a time when they need it. Might include relevant company awareness in the response to show thorough understanding.\n\nThe core challenge is maintaining education/timeline while entirely overhauling experiences, something that requires deft handling. The response should both serve the job and satisfy any unspoken scrutiny of resume manipulation.\n</think>\nTo craft a compelling resume targeted at the Senior Data Engineer with MLOps focus position, we can revise your experiences and skillsets to emphasize the required technologies and responsibilities. Below is a rewritten resume aligned with Quanata's job description, incorporating realistic experience bullets that reflect key qualifications.\n\n---\n\n**Name**: [Your Name]  \n**Email**: [Your Email]\n\n### **Experiences**\n\n- **Role**: Senior Data Engineer with MLOps Focus  \n  **Company**: Quanata (Illustrative)  \n  **Experience**:\n  - Designed and built scalable machine learning pipelines, leveraging AWS SageMaker for experiment tracking and deploying models with MLflow.  \n  - Improved data processing workflows, reducing ETL time by 30%, enabling faster delivery of key products across underwriting and claims.  \n  - Established a robust real-time inference service using Snowflake's streaming API, supporting low-latency endpoints for fraud detection.  \n  **Timeline**: \"Mar 2023 - Present\" (Illustrative for writing purposes)  \n  **Location**: \"San Mateo, CA\"\n\n---\n\nHere are the rewrite instructions and considerations detailed out:\n\n### **Rewrite Instructions for Primary Task**\n\n1. **Task**: Rewrite experiences and skillsets to match the job.\n   - **Focus areas** include MLOps engineering, data pipelines and features stored using Snowflake or similar tools, AWS services such as SageMaker.\n\n2. **Guideline Check**:\n   - Ensure resume mentions \"operationalize\" clinical solutions, etc.? No—we are replacing all with MLOps-specific terms.\n   - Use timeline from \"Dec 2019\" to build example.\n\n3. **Quantifiable Impact**:\n   - Make each bullet point quantify impact where possible.\n   - Each experience should show measurable outcomes or responsibilities.\n\n---\n\nLet me know if you'd like to continue with more detailed resume sections or see how this rewrite works across your timeline/education skills."
        }
      }
    ],
    "AI String Output to Resume JSON 2": [
      {
        "json": {
          "output": {
            "name": "[Your Name]",
            "email": "[Your Email]",
            "experiences": [
              {
                "role": "Senior Data Engineer with MLOps Focus",
                "company": "Quanata (Illustrative)",
                "experience": [
                  "Designed and built scalable machine learning pipelines, leveraging AWS SageMaker for experiment tracking and deploying models with MLflow.",
                  "Improved data processing workflows, reducing ETL time by 30%, enabling faster delivery of key products across underwriting and claims.",
                  "Established a robust real-time inference service using Snowflake's streaming API, supporting low-latency endpoints for fraud detection."
                ],
                "timeline": "Mar 2023 - Present",
                "location": "San Mateo, CA"
              }
            ],
            "education": [],
            "skillset": {}
          }
        }
      }
    ],
    "Extract Resume Content String from File": [
      {
        "json": {
          "numpages": 1,
          "numrender": 1,
          "info": {
            "PDFFormatVersion": "1.4",
            "Language": "en-US",
            "EncryptFilterName": null,
            "IsLinearized": false,
            "IsAcroFormPresent": false,
            "IsXFAPresent": false,
            "IsCollectionPresent": false,
            "IsSignaturesPresent": false,
            "Title": "Richie Bui's Resume (2025).docx",
            "Producer": "Skia/PDF m139 Google Docs Renderer"
          },
          "text": "Richie Bui\nrichiebui@gmail.com | (626) 518-2390 | Los Angeles, CA | LinkedIn | Github\nExperience\nMedtronic Northridge, CA\nSenior Clinical Bioinformatics Engineer \nJul 2023 – Present\n● Led multiple clinical studies as the Bioinformatics Engineer, managing data from site initiation through FDA\nsubmission for various investigational medical devices using Oracle SQL and Python.\n● Developed and managed several study surveillance reports for clinical trials to review subject compliance related\nto usage of our Guardian Connect continuous glucose monitor, 780G insulin pumps, and Smart Insulin Pen\nsystem.\n● Optimized SQL and Python data extraction and retrieval processes of large datasets by reducing processing time\nby 80% through advanced data structures, automation, and Python techniques to enhance analytical insights.\n● Designed innovative methods for processing and cleaning structured and unstructured clinical study data,\nimproving data accessibility and accelerating informed business decision-making.\n● Collaborated with cross-functional, data-centric teams to develop technical documentation for new data platform\ntools, increasing team efficiency and analytical output by 20%.\nClinical Bioinformatics Engineer \nJan 2020 – Jul 2022\n● Generate glucose sensor reports using analytical tools to monitor 12 clinical studies across the U.S., China, and\nEurope with 99% accuracy.\n● Drive innovation and engagement between cross-functional teams to expedite reporting from clinical start-up\npractices to obtain patient data by 66%.\n● Communicate and present end-of-study reports with high-level executives and directors, explaining anomaly\ndetections, outliers, and findings effectively across all vastly diverse background knowledge.\nThe Realest Group, LLC. Los Angeles, CA\nData Scientist Feb 2019 – Jan 2020\n● Built and maintain a backend database using Amazon redshift via ETL pipeline to process 1 million rows of\nvendor data with multiple schemas across 10 raw CSV datasets.\n● Collaborated with CEO, Marketing Director, Sales team and other executives to drive business decisions to\nincrease revenue by 3% within the next quarter with new incoming clientele.\n● Mentoring my team of 3 data scientists on data cleaning, processing, and feature engineering using python to\npromote best practices for incoming datasets.\nMedtronic Northridge, CA\nClinical Research Specialist Jun 2015 - Feb 2018\n● Lead a clinical research team of 4 that conducted in-house non-significant risk clinical studies on medical devices\nand technologies geared towards diabetes management and glucose control.\n● Presented insight to the company’s CEO, Head of Engineering, and R&D from the medical devices tested in our\nclinic under the direct supervision of Senior Global Medical Affairs Director.\n● Analyzed human physiological data sets from the company’s proprietary Continuous Glucose Monitoring system\nto investigate any anomalies and trends on 1000+ patients throughout the study.\nEducation\nDec 2022 Quantic School of Business, Executive MBA Washington, DC\nMay 2014 University of Arizona, B.S. Molecular and Cellular Biology Tucson, AZ\nSkillset",
          "version": "2.16.105"
        }
      }
    ]
  },
  "versionId": "de781751-7433-4cb2-8aed-a23444100215",
  "triggerCount": 0,
  "tags": []
}

