workflows/Snowflake Cortex Analyst Subworkflow.json
{
  "createdAt": "2025-09-23T07:33:17.693Z",
  "updatedAt": "2025-09-23T09:30:47.973Z",
  "id": "d0l6ZepnDYgKyq5P",
  "name": "Snowflake Cortex Analyst Subworkflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Global Vars').item.json.snowflake_base_url }}/api/v2/cortex/threads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"origin_application\": \"slack_bot\"}",
        "options": {}
      },
      "id": "create-cortex-thread",
      "name": "Create Cortex Thread",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2l2T0gIHT5WIzG0w",
          "name": "Firecrawl Auth Header"
        },
        "httpBearerAuth": {
          "id": "PnKZCKVe26AxmdDj",
          "name": "Snowflake API"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "ff22f0c3-42bc-4ff7-8555-177dee86c310",
      "name": "Trigger",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d827ee3-9901-4f0f-b53f-730bf603ee6e",
              "name": "snowflake_base_url",
              "value": "https://ml16699-hya89079.snowflakecomputing.com",
              "type": "string"
            },
            {
              "id": "f56917e6-10bf-47a7-965e-3306a2da1f45",
              "name": "snowflake_database",
              "value": "ANALYTICS_DEV",
              "type": "string"
            },
            {
              "id": "fe44fc50-ba53-4aa9-9bab-c9341415c2e5",
              "name": "snowflake_schema",
              "value": "DEV_OMNI",
              "type": "string"
            },
            {
              "id": "26654413-518d-4543-a16d-412c72be3c9c",
              "name": "snowflake_cortex_analyst_agent_name",
              "value": "OMNI_DOCUMENTS_AGENT",
              "type": "string"
            },
            {
              "id": "155a8d4e-8413-4dd4-ae9c-a808e140740d",
              "name": "snowflake_cortex_search_document_search_service",
              "value": "omni_documents_search_service_dev",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        0
      ],
      "id": "e8378d5d-c522-4f49-b64b-51f95cc72a9e",
      "name": "Global Vars"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Global Vars').item.json.snowflake_base_url }}/api/v2/databases/{{ $('Global Vars').item.json.snowflake_database }}/schemas/{{ $('Global Vars').item.json.snowflake_schema }}/agents/{{ $('Global Vars').item.json.snowflake_cortex_analyst_agent_name }}:run",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"thread_id\": {{ $('Create Cortex Thread').item.json.thread_id }},\n  \"parent_message_id\": 0,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": {{ $('Global Vars').item.json.user_query || '\"Please analyze the data and provide insights.\"' }}\n        }\n      ]\n    }\n  ],\n  \"tool_choice\": {\n    \"type\": \"auto\"\n  }\n}",
        "options": {}
      },
      "id": "send-agent-request",
      "name": "Send Agent Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        944,
        0
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "PnKZCKVe26AxmdDj",
          "name": "Snowflake API"
        }
      }
    }
  ],
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Global Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Vars": {
      "main": [
        [
          {
            "node": "Create Cortex Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Cortex Thread": {
      "main": [
        [
          {
            "node": "Send Agent Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Global Vars": [
      {
        "json": {
          "snowflake_base_url": "https://ml16699-hya89079.snowflakecomputing.com",
          "snowflake_database": "ANALYTICS_DEV",
          "snowflake_schema": "DEV_OMNI",
          "snowflake_cortex_analyst_agent_name": "OMNI_DOCUMENTS_AGENT",
          "snowflake_cortex_search_document_search_service": "omni_documents_search_service_dev"
        }
      }
    ],
    "Create Cortex Thread": [
      {
        "json": {
          "thread_id": 1082229688,
          "thread_name": "",
          "origin_application": "slack_bot",
          "created_on": 1758619739828,
          "updated_on": 1758619739828
        }
      }
    ]
  },
  "versionId": "1a0645ea-d8ff-4f00-b19e-b319689681c9",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-09-23T07:33:17.693Z",
      "updatedAt": "2025-09-23T07:33:17.693Z",
      "role": "workflow:owner",
      "workflowId": "d0l6ZepnDYgKyq5P",
      "projectId": "w7JTueqTYNrmBYZn"
    }
  ],
  "tags": []
}