workflows/Stock_Options_Trader_3.json
{"createdAt":"2025-07-05T07:39:52.236Z","updatedAt":"2025-07-05T07:40:22.690Z","id":"uufrgc6cktVq8ara","name":"Stock_Options_Trader_3","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9,12,15 * * 1-5"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1060,260],"id":"1b25a264-a8ef-44f4-a869-987fd517471f","name":"Market Hours Trigger","notes":"Triggers at 9 AM (market open), 12 PM (mid-day), and 3 PM (market close) EST on weekdays"},{"parameters":{"assignments":{"assignments":[{"id":"max-symbols-per-batch","name":"max_symbols_per_batch","value":8,"type":"number"},{"id":"max-parallel-agents","name":"max_parallel_agents","value":4,"type":"number"},{"id":"risk-tolerance","name":"risk_tolerance","value":0.015,"type":"number"},{"id":"max-position-size","name":"max_position_size","value":2000,"type":"number"},{"id":"target-delta","name":"target_delta","value":0,"type":"number"},{"id":"max-delta-deviation","name":"max_delta_deviation","value":0.05,"type":"number"},{"id":"min-profit-potential","name":"min_profit_potential","value":0.12,"type":"number"},{"id":"max-risk-score","name":"max_risk_score","value":0.4,"type":"number"},{"id":"preferred-dte-min","name":"preferred_dte_min","value":25,"type":"number"},{"id":"preferred-dte-max","name":"preferred_dte_max","value":65,"type":"number"},{"id":"execution-timestamp","name":"execution_timestamp","value":"={{ $now.format('yyyy-MM-dd HH:mm:ss') }}","type":"string"},{"id":"workflow-version","name":"workflow_version","value":"2.0-enhanced","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-820,260],"id":"9af24bc3-c910-4646-b409-37121cf9ad0a","name":"Set Global Configuration","alwaysOutputData":true,"notes":"Configure enhanced workflow parameters and risk management settings"},{"parameters":{"promptType":"define","text":"=You are the main orchestrator for an enhanced automated stock options trading system focused on delta neutral strategies. Your current task is to retrieve a dynamic list of high-quality liquid stock symbols suitable for options analysis.\n\n**Symbol Selection Criteria:**\n1. **Liquidity Requirements**: Select stocks with high daily volume (>1M shares) and active options markets\n2. **Market Cap**: Focus on large-cap stocks (>$10B market cap) for better liquidity\n3. **Options Activity**: Prioritize stocks with high options volume and tight bid-ask spreads\n4. **Volatility**: Include stocks with moderate to high implied volatility (15-40%)\n5. **Earnings**: Avoid stocks with earnings announcements within the next 7 days\n6. **Sector Diversification**: Include stocks from different sectors to reduce correlation risk\n\n**Target Portfolio Size**: Return 20-30 symbols for comprehensive analysis\n\n**Current Market Context:**\n- Execution timestamp: {{ $('Set Global Configuration').item.json.execution_timestamp }}\n- Risk tolerance: {{ $('Set Global Configuration').item.json.risk_tolerance }}\n- Max position size: {{ $('Set Global Configuration').item.json.max_position_size }}\n- Target delta: {{ $('Set Global Configuration').item.json.target_delta }}\n- Preferred DTE range: {{ $('Set Global Configuration').item.json.preferred_dte_min }}-{{ $('Set Global Configuration').item.json.preferred_dte_max }} days\n\n**Output Format**: Return a clean JSON array of symbols without any markdown formatting:\n[\"AAPL\", \"MSFT\", \"GOOGL\", \"AMZN\", \"TSLA\", \"NVDA\", \"META\", \"NFLX\", \"AMD\", \"CRM\", \"PYPL\", \"ADBE\", \"INTC\", \"CSCO\", \"ORCL\", \"IBM\", \"QCOM\", \"TXN\", \"AVGO\", \"MU\", \"JPM\", \"BAC\", \"WFC\", \"GS\", \"MS\", \"C\", \"V\", \"MA\", \"PG\", \"JNJ\"]\n\n**Use MCP Tools**: Leverage Financial Datasets MCP server and MCP Trader for real-time market data and screening capabilities.","options":{"systemMessage":"You are the main orchestrator for an enhanced automated stock options trading system focused on delta neutral strategies. Your primary responsibilities include:\n\n**Core Functions:**\n1. **Symbol Selection**: Retrieve dynamic lists of liquid stocks suitable for options trading using MCP tools\n2. **Market Analysis**: Coordinate with MCP servers for real-time market data and technical analysis\n3. **Risk Oversight**: Ensure all operations align with risk tolerance parameters\n4. **Trade Coordination**: Manage the flow between analysis subagents and validation\n5. **Performance Monitoring**: Track portfolio delta and overall system performance\n\n**MCP Integration:**\n- Use Financial Datasets MCP server for fundamental data and market screening\n- Leverage MCP Trader for technical analysis and market conditions\n- Coordinate with Interactive Brokers MCP server for real-time options data\n\n**Risk Management Priorities:**\n- Maintain portfolio delta neutrality (target: 0 ± 0.05)\n- Ensure adequate diversification across sectors and strategies\n- Monitor position sizing and concentration limits\n- Prioritize capital preservation over aggressive returns\n\n**Quality Standards:**\n- Only select highly liquid stocks with active options markets\n- Avoid stocks with upcoming earnings or major events\n- Focus on stocks with sufficient implied volatility for profitable strategies\n- Ensure all symbols meet minimum volume and market cap requirements\n\n**Output Requirements:**\n- Return symbol lists as clean JSON arrays without markdown formatting\n- Include 20-30 symbols for optimal portfolio construction\n- Provide diversification across sectors and market caps\n- Focus on stocks with 30-60 day options chains available"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-580,260],"id":"19d9a0ee-c100-42ac-9dc0-11356c00e209","name":"Enhanced Orchestrator Agent","alwaysOutputData":true,"retryOnFail":true,"maxTries":3,"notes":"Main coordinator with MCP integration for symbol selection and workflow management"},{"parameters":{"assignments":{"assignments":[{"id":"symbol-list-parsed","name":"symbols","value":"={{ JSON.parse($json.output) }}","type":"array"},{"id":"batch-size","name":"batch_size","value":"={{ $('Set Global Configuration').item.json.max_symbols_per_batch }}","type":"number"},{"id":"total-symbols","name":"total_symbols","value":"={{ JSON.parse($json.output).length }}","type":"number"},{"id":"expected-batches","name":"expected_batches","value":"={{ Math.ceil(JSON.parse($json.output).length / $('Set Global Configuration').item.json.max_symbols_per_batch) }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-340,260],"id":"67225ef9-2b8f-4d86-92f7-c2afda3e06b8","name":"Process Symbol List","alwaysOutputData":true,"notes":"Parse orchestrator output and prepare for enhanced batch processing"},{"parameters":{"batchSize":"={{ $json.batch_size }}","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-100,260],"id":"b33f9048-b237-4492-afb2-277873635666","name":"Split Symbol Batches","executeOnce":false,"alwaysOutputData":true,"notes":"Split symbols into optimal batches for parallel processing"},{"parameters":{"promptType":"define","text":"=You are a specialized delta neutral options analysis agent. Analyze the following symbols for delta neutral trading opportunities:\n\n**Target Symbols**: {{ $json.symbols.join(', ') }}\n\n**Analysis Requirements:**\n\n1. **Market Data Collection**:\n   - Use Financial Datasets MCP server to fetch current stock prices and fundamental data\n   - Retrieve options chains for all available expiration dates\n   - Get historical volatility data and implied volatility rankings\n   - Check for upcoming earnings announcements or events\n\n2. **Technical Analysis**:\n   - Use MCP Trader to perform comprehensive technical analysis\n   - Calculate key indicators: RSI, MACD, Bollinger Bands, Volume Profile\n   - Identify support and resistance levels\n   - Assess overall market trend and momentum\n\n3. **Options Chain Analysis**:\n   - Focus on options with {{ $('Set Global Configuration').item.json.preferred_dte_min }}-{{ $('Set Global Configuration').item.json.preferred_dte_max }} days to expiration\n   - Calculate Greeks (Delta, Gamma, Theta, Vega) for all strikes\n   - Identify at-the-money and near-the-money options\n   - Assess bid-ask spreads and liquidity\n\n4. **Delta Neutral Strategy Identification**:\n   - **Long Straddles**: High IV rank, expecting volatility expansion\n   - **Short Straddles**: Low IV rank, expecting volatility contraction\n   - **Long Strangles**: Moderate IV, wider profit range\n   - **Short Strangles**: High IV, range-bound expectations\n   - **Iron Condors**: High IV, narrow range expectations\n   - **Butterfly Spreads**: Low-cost, limited risk strategies\n\n5. **Risk Assessment**:\n   - Calculate maximum loss and profit potential\n   - Determine breakeven points\n   - Assess probability of profit\n   - Evaluate time decay impact\n\n**Output Format**: Return structured JSON for each symbol:\n```json\n{\n  \"symbol\": \"AAPL\",\n  \"current_price\": 150.25,\n  \"market_cap\": 2400000000000,\n  \"avg_daily_volume\": 50000000,\n  \"technical_analysis\": {\n    \"trend\": \"bullish\",\n    \"rsi\": 65.2,\n    \"support\": 148.50,\n    \"resistance\": 152.00,\n    \"volatility_rank\": 75\n  },\n  \"options_analysis\": {\n    \"iv_rank\": 78,\n    \"historical_volatility\": 0.25,\n    \"implied_volatility\": 0.32,\n    \"earnings_date\": \"2025-01-25\",\n    \"days_to_earnings\": 15\n  },\n  \"delta_neutral_opportunities\": [\n    {\n      \"strategy\": \"long_straddle\",\n      \"strike\": 150,\n      \"expiry\": \"2025-02-21\",\n      \"dte\": 35,\n      \"call_delta\": 0.52,\n      \"put_delta\": -0.48,\n      \"net_delta\": 0.04,\n      \"gamma\": 0.08,\n      \"theta\": -0.15,\n      \"vega\": 0.25,\n      \"iv_call\": 0.31,\n      \"iv_put\": 0.33,\n      \"cost\": 850,\n      \"max_loss\": 850,\n      \"profit_potential\": 0.18,\n      \"risk_score\": 0.25,\n      \"breakeven_upper\": 158.50,\n      \"breakeven_lower\": 141.50,\n      \"probability_of_profit\": 0.35,\n      \"liquidity_score\": 0.85\n    }\n  ]\n}\n```\n\n**Quality Controls**:\n- Only include opportunities with net delta ≤ {{ $('Set Global Configuration').item.json.max_delta_deviation }}\n- Minimum profit potential: {{ $('Set Global Configuration').item.json.min_profit_potential }}\n- Maximum risk score: {{ $('Set Global Configuration').item.json.max_risk_score }}\n- Ensure adequate liquidity (bid-ask spread < 5% of mid-price)\n- Avoid symbols with earnings within 7 days","options":{"systemMessage":"You are a specialized delta neutral options analysis agent with expertise in:\n\n**Technical Competencies:**\n- Advanced options pricing models (Black-Scholes, Binomial, Monte Carlo)\n- Greeks calculation and interpretation (Delta, Gamma, Theta, Vega, Rho)\n- Implied volatility analysis and forecasting\n- Technical analysis and chart pattern recognition\n- Risk management and position sizing\n\n**MCP Integration:**\n- Financial Datasets MCP server for real-time market data and fundamentals\n- MCP Trader for technical analysis and indicators\n- Options chain analysis and Greeks calculations\n\n**Strategy Specialization:**\n- Delta neutral strategy construction and optimization\n- Volatility trading and IV rank analysis\n- Multi-leg options strategies (straddles, strangles, spreads)\n- Risk-reward optimization and probability analysis\n\n**Analysis Framework:**\n1. **Market Context**: Assess overall market conditions and sector trends\n2. **Technical Setup**: Identify optimal technical conditions for each strategy\n3. **Volatility Environment**: Analyze IV rank and expected volatility changes\n4. **Options Selection**: Choose optimal strikes and expiration dates\n5. **Risk Assessment**: Calculate comprehensive risk metrics\n\n**Decision Criteria:**\n- Target delta: 0 ± 0.05 (maximum deviation)\n- Minimum profit potential: 12%\n- Maximum risk score: 0.4\n- Preferred DTE: 25-65 days\n- Liquidity threshold: bid-ask spread < 5% of mid-price\n\n**Quality Standards:**\n- Only recommend high-conviction opportunities\n- Ensure all Greeks are properly calculated\n- Verify adequate liquidity before recommending\n- Consider time decay and volatility impact\n- Provide clear risk/reward ratios\n\n**Output Requirements:**\n- Return clean JSON without markdown formatting\n- Include comprehensive analysis for each symbol\n- Provide detailed strategy parameters\n- Calculate accurate risk metrics and probabilities"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[140,-80],"id":"a881c227-8ae5-4c11-92de-812a248bbc83","name":"Delta Neutral Analysis Agent 1","alwaysOutputData":true,"retryOnFail":true,"maxTries":3,"continueOnFail":true,"notes":"Enhanced options analysis with MCP integration for first batch"},{"parameters":{"promptType":"define","text":"=You are a specialized delta neutral options analysis agent. Analyze the following symbols for delta neutral trading opportunities:\n\n**Target Symbols**: {{ $json.symbols.join(', ') }}\n\n**Analysis Requirements:**\n\n1. **Market Data Collection**:\n   - Use Financial Datasets MCP server to fetch current stock prices and fundamental data\n   - Retrieve options chains for all available expiration dates\n   - Get historical volatility data and implied volatility rankings\n   - Check for upcoming earnings announcements or events\n\n2. **Technical Analysis**:\n   - Use MCP Trader to perform comprehensive technical analysis\n   - Calculate key indicators: RSI, MACD, Bollinger Bands, Volume Profile\n   - Identify support and resistance levels\n   - Assess overall market trend and momentum\n\n3. **Options Chain Analysis**:\n   - Focus on options with {{ $('Set Global Configuration').item.json.preferred_dte_min }}-{{ $('Set Global Configuration').item.json.preferred_dte_max }} days to expiration\n   - Calculate Greeks (Delta, Gamma, Theta, Vega) for all strikes\n   - Identify at-the-money and near-the-money options\n   - Assess bid-ask spreads and liquidity\n\n4. **Delta Neutral Strategy Identification**:\n   - **Long Straddles**: High IV rank, expecting volatility expansion\n   - **Short Straddles**: Low IV rank, expecting volatility contraction\n   - **Long Strangles**: Moderate IV, wider profit range\n   - **Short Strangles**: High IV, range-bound expectations\n   - **Iron Condors**: High IV, narrow range expectations\n   - **Butterfly Spreads**: Low-cost, limited risk strategies\n\n5. **Risk Assessment**:\n   - Calculate maximum loss and profit potential\n   - Determine breakeven points\n   - Assess probability of profit\n   - Evaluate time decay impact\n\n**Output Format**: Return structured JSON for each symbol:\n```json\n{\n  \"symbol\": \"AAPL\",\n  \"current_price\": 150.25,\n  \"market_cap\": 2400000000000,\n  \"avg_daily_volume\": 50000000,\n  \"technical_analysis\": {\n    \"trend\": \"bullish\",\n    \"rsi\": 65.2,\n    \"support\": 148.50,\n    \"resistance\": 152.00,\n    \"volatility_rank\": 75\n  },\n  \"options_analysis\": {\n    \"iv_rank\": 78,\n    \"historical_volatility\": 0.25,\n    \"implied_volatility\": 0.32,\n    \"earnings_date\": \"2025-01-25\",\n    \"days_to_earnings\": 15\n  },\n  \"delta_neutral_opportunities\": [\n    {\n      \"strategy\": \"long_straddle\",\n      \"strike\": 150,\n      \"expiry\": \"2025-02-21\",\n      \"dte\": 35,\n      \"call_delta\": 0.52,\n      \"put_delta\": -0.48,\n      \"net_delta\": 0.04,\n      \"gamma\": 0.08,\n      \"theta\": -0.15,\n      \"vega\": 0.25,\n      \"iv_call\": 0.31,\n      \"iv_put\": 0.33,\n      \"cost\": 850,\n      \"max_loss\": 850,\n      \"profit_potential\": 0.18,\n      \"risk_score\": 0.25,\n      \"breakeven_upper\": 158.50,\n      \"breakeven_lower\": 141.50,\n      \"probability_of_profit\": 0.35,\n      \"liquidity_score\": 0.85\n    }\n  ]\n}\n```\n\n**Quality Controls**:\n- Only include opportunities with net delta ≤ {{ $('Set Global Configuration').item.json.max_delta_deviation }}\n- Minimum profit potential: {{ $('Set Global Configuration').item.json.min_profit_potential }}\n- Maximum risk score: {{ $('Set Global Configuration').item.json.max_risk_score }}\n- Ensure adequate liquidity (bid-ask spread < 5% of mid-price)\n- Avoid symbols with earnings within 7 days","options":{"systemMessage":"You are a specialized delta neutral options analysis agent with expertise in:\n\n**Technical Competencies:**\n- Advanced options pricing models (Black-Scholes, Binomial, Monte Carlo)\n- Greeks calculation and interpretation (Delta, Gamma, Theta, Vega, Rho)\n- Implied volatility analysis and forecasting\n- Technical analysis and chart pattern recognition\n- Risk management and position sizing\n\n**MCP Integration:**\n- Financial Datasets MCP server for real-time market data and fundamentals\n- MCP Trader for technical analysis and indicators\n- Options chain analysis and Greeks calculations\n\n**Strategy Specialization:**\n- Delta neutral strategy construction and optimization\n- Volatility trading and IV rank analysis\n- Multi-leg options strategies (straddles, strangles, spreads)\n- Risk-reward optimization and probability analysis\n\n**Analysis Framework:**\n1. **Market Context**: Assess overall market conditions and sector trends\n2. **Technical Setup**: Identify optimal technical conditions for each strategy\n3. **Volatility Environment**: Analyze IV rank and expected volatility changes\n4. **Options Selection**: Choose optimal strikes and expiration dates\n5. **Risk Assessment**: Calculate comprehensive risk metrics\n\n**Decision Criteria:**\n- Target delta: 0 ± 0.05 (maximum deviation)\n- Minimum profit potential: 12%\n- Maximum risk score: 0.4\n- Preferred DTE: 25-65 days\n- Liquidity threshold: bid-ask spread < 5% of mid-price\n\n**Quality Standards:**\n- Only recommend high-conviction opportunities\n- Ensure all Greeks are properly calculated\n- Verify adequate liquidity before recommending\n- Consider time decay and volatility impact\n- Provide clear risk/reward ratios\n\n**Output Requirements:**\n- Return clean JSON without markdown formatting\n- Include comprehensive analysis for each symbol\n- Provide detailed strategy parameters\n- Calculate accurate risk metrics and probabilities"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[140,260],"id":"bc3b2150-955a-40aa-a6a2-29ec0da32155","name":"Delta Neutral Analysis Agent 2","alwaysOutputData":true,"retryOnFail":true,"maxTries":3,"continueOnFail":true,"notes":"Enhanced options analysis with MCP integration for second batch"},{"parameters":{"promptType":"define","text":"=You are a specialized delta neutral options analysis agent. Analyze the following symbols for delta neutral trading opportunities:\n\n**Target Symbols**: {{ $json.symbols.join(', ') }}\n\n**Analysis Requirements:**\n\n1. **Market Data Collection**:\n   - Use Financial Datasets MCP server to fetch current stock prices and fundamental data\n   - Retrieve options chains for all available expiration dates\n   - Get historical volatility data and implied volatility rankings\n   - Check for upcoming earnings announcements or events\n\n2. **Technical Analysis**:\n   - Use MCP Trader to perform comprehensive technical analysis\n   - Calculate key indicators: RSI, MACD, Bollinger Bands, Volume Profile\n   - Identify support and resistance levels\n   - Assess overall market trend and momentum\n\n3. **Options Chain Analysis**:\n   - Focus on options with {{ $('Set Global Configuration').item.json.preferred_dte_min }}-{{ $('Set Global Configuration').item.json.preferred_dte_max }} days to expiration\n   - Calculate Greeks (Delta, Gamma, Theta, Vega) for all strikes\n   - Identify at-the-money and near-the-money options\n   - Assess bid-ask spreads and liquidity\n\n4. **Delta Neutral Strategy Identification**:\n   - **Long Straddles**: High IV rank, expecting volatility expansion\n   - **Short Straddles**: Low IV rank, expecting volatility contraction\n   - **Long Strangles**: Moderate IV, wider profit range\n   - **Short Strangles**: High IV, range-bound expectations\n   - **Iron Condors**: High IV, narrow range expectations\n   - **Butterfly Spreads**: Low-cost, limited risk strategies\n\n5. **Risk Assessment**:\n   - Calculate maximum loss and profit potential\n   - Determine breakeven points\n   - Assess probability of profit\n   - Evaluate time decay impact\n\n**Output Format**: Return structured JSON for each symbol:\n```json\n{\n  \"symbol\": \"AAPL\",\n  \"current_price\": 150.25,\n  \"market_cap\": 2400000000000,\n  \"avg_daily_volume\": 50000000,\n  \"technical_analysis\": {\n    \"trend\": \"bullish\",\n    \"rsi\": 65.2,\n    \"support\": 148.50,\n    \"resistance\": 152.00,\n    \"volatility_rank\": 75\n  },\n  \"options_analysis\": {\n    \"iv_rank\": 78,\n    \"historical_volatility\": 0.25,\n    \"implied_volatility\": 0.32,\n    \"earnings_date\": \"2025-01-25\",\n    \"days_to_earnings\": 15\n  },\n  \"delta_neutral_opportunities\": [\n    {\n      \"strategy\": \"long_straddle\",\n      \"strike\": 150,\n      \"expiry\": \"2025-02-21\",\n      \"dte\": 35,\n      \"call_delta\": 0.52,\n      \"put_delta\": -0.48,\n      \"net_delta\": 0.04,\n      \"gamma\": 0.08,\n      \"theta\": -0.15,\n      \"vega\": 0.25,\n      \"iv_call\": 0.31,\n      \"iv_put\": 0.33,\n      \"cost\": 850,\n      \"max_loss\": 850,\n      \"profit_potential\": 0.18,\n      \"risk_score\": 0.25,\n      \"breakeven_upper\": 158.50,\n      \"breakeven_lower\": 141.50,\n      \"probability_of_profit\": 0.35,\n      \"liquidity_score\": 0.85\n    }\n  ]\n}\n```\n\n**Quality Controls**:\n- Only include opportunities with net delta ≤ {{ $('Set Global Configuration').item.json.max_delta_deviation }}\n- Minimum profit potential: {{ $('Set Global Configuration').item.json.min_profit_potential }}\n- Maximum risk score: {{ $('Set Global Configuration').item.json.max_risk_score }}\n- Ensure adequate liquidity (bid-ask spread < 5% of mid-price)\n- Avoid symbols with earnings within 7 days","options":{"systemMessage":"You are a specialized delta neutral options analysis agent with expertise in:\n\n**Technical Competencies:**\n- Advanced options pricing models (Black-Scholes, Binomial, Monte Carlo)\n- Greeks calculation and interpretation (Delta, Gamma, Theta, Vega, Rho)\n- Implied volatility analysis and forecasting\n- Technical analysis and chart pattern recognition\n- Risk management and position sizing\n\n**MCP Integration:**\n- Financial Datasets MCP server for real-time market data and fundamentals\n- MCP Trader for technical analysis and indicators\n- Options chain analysis and Greeks calculations\n\n**Strategy Specialization:**\n- Delta neutral strategy construction and optimization\n- Volatility trading and IV rank analysis\n- Multi-leg options strategies (straddles, strangles, spreads)\n- Risk-reward optimization and probability analysis\n\n**Analysis Framework:**\n1. **Market Context**: Assess overall market conditions and sector trends\n2. **Technical Setup**: Identify optimal technical conditions for each strategy\n3. **Volatility Environment**: Analyze IV rank and expected volatility changes\n4. **Options Selection**: Choose optimal strikes and expiration dates\n5. **Risk Assessment**: Calculate comprehensive risk metrics\n\n**Decision Criteria:**\n- Target delta: 0 ± 0.05 (maximum deviation)\n- Minimum profit potential: 12%\n- Maximum risk score: 0.4\n- Preferred DTE: 25-65 days\n- Liquidity threshold: bid-ask spread < 5% of mid-price\n\n**Quality Standards:**\n- Only recommend high-conviction opportunities\n- Ensure all Greeks are properly calculated\n- Verify adequate liquidity before recommending\n- Consider time decay and volatility impact\n- Provide clear risk/reward ratios\n\n**Output Requirements:**\n- Return clean JSON without markdown formatting\n- Include comprehensive analysis for each symbol\n- Provide detailed strategy parameters\n- Calculate accurate risk metrics and probabilities"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[140,600],"id":"ee4971c1-96f6-4ac9-ae4d-d44680ab1fa3","name":"Delta Neutral Analysis Agent 3","alwaysOutputData":true,"retryOnFail":true,"maxTries":3,"continueOnFail":true,"notes":"Enhanced options analysis with MCP integration for third batch"},{"parameters":{"promptType":"define","text":"=You are a specialized delta neutral options analysis agent. Analyze the following symbols for delta neutral trading opportunities:\n\n**Target Symbols**: {{ $json.symbols.join(', ') }}\n\n**Analysis Requirements:**\n\n1. **Market Data Collection**:\n   - Use Financial Datasets MCP server to fetch current stock prices and fundamental data\n   - Retrieve options chains for all available expiration dates\n   - Get historical volatility data and implied volatility rankings\n   - Check for upcoming earnings announcements or events\n\n2. **Technical Analysis**:\n   - Use MCP Trader to perform comprehensive technical analysis\n   - Calculate key indicators: RSI, MACD, Bollinger Bands, Volume Profile\n   - Identify support and resistance levels\n   - Assess overall market trend and momentum\n\n3. **Options Chain Analysis**:\n   - Focus on options with {{ $('Set Global Configuration').item.json.preferred_dte_min }}-{{ $('Set Global Configuration').item.json.preferred_dte_max }} days to expiration\n   - Calculate Greeks (Delta, Gamma, Theta, Vega) for all strikes\n   - Identify at-the-money and near-the-money options\n   - Assess bid-ask spreads and liquidity\n\n4. **Delta Neutral Strategy Identification**:\n   - **Long Straddles**: High IV rank, expecting volatility expansion\n   - **Short Straddles**: Low IV rank, expecting volatility contraction\n   - **Long Strangles**: Moderate IV, wider profit range\n   - **Short Strangles**: High IV, range-bound expectations\n   - **Iron Condors**: High IV, narrow range expectations\n   - **Butterfly Spreads**: Low-cost, limited risk strategies\n\n5. **Risk Assessment**:\n   - Calculate maximum loss and profit potential\n   - Determine breakeven points\n   - Assess probability of profit\n   - Evaluate time decay impact\n\n**Output Format**: Return structured JSON for each symbol:\n```json\n{\n  \"symbol\": \"AAPL\",\n  \"current_price\": 150.25,\n  \"market_cap\": 2400000000000,\n  \"avg_daily_volume\": 50000000,\n  \"technical_analysis\": {\n    \"trend\": \"bullish\",\n    \"rsi\": 65.2,\n    \"support\": 148.50,\n    \"resistance\": 152.00,\n    \"volatility_rank\": 75\n  },\n  \"options_analysis\": {\n    \"iv_rank\": 78,\n    \"historical_volatility\": 0.25,\n    \"implied_volatility\": 0.32,\n    \"earnings_date\": \"2025-01-25\",\n    \"days_to_earnings\": 15\n  },\n  \"delta_neutral_opportunities\": [\n    {\n      \"strategy\": \"long_straddle\",\n      \"strike\": 150,\n      \"expiry\": \"2025-02-21\",\n      \"dte\": 35,\n      \"call_delta\": 0.52,\n      \"put_delta\": -0.48,\n      \"net_delta\": 0.04,\n      \"gamma\": 0.08,\n      \"theta\": -0.15,\n      \"vega\": 0.25,\n      \"iv_call\": 0.31,\n      \"iv_put\": 0.33,\n      \"cost\": 850,\n      \"max_loss\": 850,\n      \"profit_potential\": 0.18,\n      \"risk_score\": 0.25,\n      \"breakeven_upper\": 158.50,\n      \"breakeven_lower\": 141.50,\n      \"probability_of_profit\": 0.35,\n      \"liquidity_score\": 0.85\n    }\n  ]\n}\n```\n\n**Quality Controls**:\n- Only include opportunities with net delta ≤ {{ $('Set Global Configuration').item.json.max_delta_deviation }}\n- Minimum profit potential: {{ $('Set Global Configuration').item.json.min_profit_potential }}\n- Maximum risk score: {{ $('Set Global Configuration').item.json.max_risk_score }}\n- Ensure adequate liquidity (bid-ask spread < 5% of mid-price)\n- Avoid symbols with earnings within 7 days","options":{"systemMessage":"You are a specialized delta neutral options analysis agent with expertise in:\n\n**Technical Competencies:**\n- Advanced options pricing models (Black-Scholes, Binomial, Monte Carlo)\n- Greeks calculation and interpretation (Delta, Gamma, Theta, Vega, Rho)\n- Implied volatility analysis and forecasting\n- Technical analysis and chart pattern recognition\n- Risk management and position sizing\n\n**MCP Integration:**\n- Financial Datasets MCP server for real-time market data and fundamentals\n- MCP Trader for technical analysis and indicators\n- Options chain analysis and Greeks calculations\n\n**Strategy Specialization:**\n- Delta neutral strategy construction and optimization\n- Volatility trading and IV rank analysis\n- Multi-leg options strategies (straddles, strangles, spreads)\n- Risk-reward optimization and probability analysis\n\n**Analysis Framework:**\n1. **Market Context**: Assess overall market conditions and sector trends\n2. **Technical Setup**: Identify optimal technical conditions for each strategy\n3. **Volatility Environment**: Analyze IV rank and expected volatility changes\n4. **Options Selection**: Choose optimal strikes and expiration dates\n5. **Risk Assessment**: Calculate comprehensive risk metrics\n\n**Decision Criteria:**\n- Target delta: 0 ± 0.05 (maximum deviation)\n- Minimum profit potential: 12%\n- Maximum risk score: 0.4\n- Preferred DTE: 25-65 days\n- Liquidity threshold: bid-ask spread < 5% of mid-price\n\n**Quality Standards:**\n- Only recommend high-conviction opportunities\n- Ensure all Greeks are properly calculated\n- Verify adequate liquidity before recommending\n- Consider time decay and volatility impact\n- Provide clear risk/reward ratios\n\n**Output Requirements:**\n- Return clean JSON without markdown formatting\n- Include comprehensive analysis for each symbol\n- Provide detailed strategy parameters\n- Calculate accurate risk metrics and probabilities"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[140,940],"id":"d320e593-300d-45d2-8aa4-c1b9ca1da207","name":"Delta Neutral Analysis Agent 4","alwaysOutputData":true,"retryOnFail":true,"maxTries":3,"continueOnFail":true,"notes":"Enhanced options analysis with MCP integration for fourth batch"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[560,260],"id":"37ca83a0-b14a-4f26-b1bb-8000e690c364","name":"Merge Analysis Results","alwaysOutputData":true,"notes":"Combine results from all enhanced analysis agents"},{"parameters":{"promptType":"define","text":"=You are a senior risk assessment and validation specialist for delta neutral options trading. Perform comprehensive risk assessment and validation of the following opportunities:\n\n**Analysis Data**: {{ JSON.stringify($input.all()) }}\n\n**Enhanced Risk Assessment Framework:**\n\n1. **Portfolio-Level Risk Analysis**:\n   - Calculate combined portfolio delta across all opportunities\n   - Ensure overall position remains within target range: {{ $('Set Global Configuration').item.json.target_delta }} ± {{ $('Set Global Configuration').item.json.max_delta_deviation }}\n   - Assess delta sensitivity to market movements (gamma exposure)\n   - Evaluate correlation risks between positions\n\n2. **Position Sizing and Capital Allocation**:\n   - Verify individual position sizes against limit: ${{ $('Set Global Configuration').item.json.max_position_size }}\n   - Ensure proper diversification across symbols and sectors\n   - Calculate total capital requirements\n   - Assess concentration limits (max 15% in any single position)\n\n3. **Advanced Risk Metrics**:\n   - Value at Risk (VaR) calculation for 1-day and 5-day horizons\n   - Maximum drawdown potential\n   - Stress testing under various market scenarios\n   - Volatility clustering analysis\n\n4. **Market Environment Assessment**:\n   - Verify market hours and liquidity conditions\n   - Check for upcoming earnings announcements\n   - Assess overall market volatility and trend\n   - Evaluate sector-specific risks\n\n5. **Strategy-Specific Validation**:\n   - **Straddles/Strangles**: Verify IV rank and volatility expectations\n   - **Iron Condors**: Confirm range-bound market assumptions\n   - **Butterflies**: Validate low-cost, limited risk parameters\n   - Ensure adequate time to expiration ({{ $('Set Global Configuration').item.json.preferred_dte_min }}-{{ $('Set Global Configuration').item.json.preferred_dte_max }} days)\n\n6. **Liquidity and Execution Risk**:\n   - Verify bid-ask spreads are reasonable (<5% of mid-price)\n   - Assess options volume and open interest\n   - Evaluate market maker presence\n   - Check for potential execution slippage\n\n**Enhanced Approval Criteria**:\n- Minimum profit potential: {{ $('Set Global Configuration').item.json.min_profit_potential * 100 }}%\n- Maximum portfolio delta: ± {{ $('Set Global Configuration').item.json.max_delta_deviation }}\n- Risk score ≤ {{ $('Set Global Configuration').item.json.max_risk_score }}\n- Adequate liquidity (bid-ask spread < 5%)\n- Position size within individual limits\n- No earnings within 7 days\n- Correlation coefficient between positions < 0.7\n\n**Output Format**:\n```json\n{\n  \"approved_opportunities\": [\n    {\n      \"symbol\": \"AAPL\",\n      \"strategy\": \"long_straddle\",\n      \"position_size\": 1500,\n      \"risk_adjusted_score\": 0.35,\n      \"validation_notes\": \"High IV rank, strong liquidity, good risk/reward\"\n    }\n  ],\n  \"rejected_opportunities\": [\n    {\n      \"symbol\": \"XYZ\",\n      \"strategy\": \"short_strangle\",\n      \"rejection_reason\": \"Earnings announcement in 4 days\",\n      \"risk_score\": 0.65\n    }\n  ],\n  \"portfolio_risk_assessment\": {\n    \"total_portfolio_delta\": 0.02,\n    \"total_capital_required\": 8500,\n    \"max_loss_potential\": 2100,\n    \"value_at_risk_1d\": 450,\n    \"value_at_risk_5d\": 890,\n    \"diversification_score\": 0.82,\n    \"correlation_matrix\": {...},\n    \"overall_risk_score\": 0.28,\n    \"expected_return\": 0.15,\n    \"sharpe_ratio\": 1.45\n  },\n  \"market_conditions\": {\n    \"vix_level\": 18.5,\n    \"market_trend\": \"neutral\",\n    \"sector_rotation\": \"moderate\",\n    \"volatility_environment\": \"moderate\"\n  },\n  \"execution_recommendations\": {\n    \"optimal_execution_time\": \"market_open\",\n    \"order_type\": \"limit_orders\",\n    \"staging_strategy\": \"simultaneous_legs\",\n    \"monitoring_requirements\": \"real_time_delta_tracking\"\n  }\n}\n```\n\n**Conservative Risk Management**:\n- Prioritize capital preservation over aggressive returns\n- Reject opportunities with insufficient liquidity\n- Avoid positions with high correlation\n- Maintain strict position sizing discipline\n- Consider market regime changes","options":{"systemMessage":"You are a senior risk assessment specialist for institutional options trading with expertise in:\n\n**Risk Management Expertise:**\n- Advanced portfolio risk modeling and quantitative analysis\n- Multi-dimensional risk factor analysis (delta, gamma, vega, theta)\n- Stress testing and scenario analysis\n- Correlation and concentration risk assessment\n- Regulatory capital requirements and compliance\n\n**Validation Responsibilities:**\n- Approve/reject trading opportunities based on strict quantitative criteria\n- Calculate comprehensive portfolio-level risk metrics\n- Ensure proper diversification and position sizing\n- Monitor market conditions and regime changes\n- Maintain delta neutral positioning within tight tolerances\n\n**Advanced Risk Metrics:**\n- Value at Risk (VaR) and Expected Shortfall calculations\n- Maximum drawdown and stress testing\n- Volatility clustering and regime detection\n- Cross-asset correlation analysis\n- Market microstructure and liquidity risk\n\n**Decision Framework:**\n- **APPROVE**: Low risk, high probability opportunities with excellent risk/reward ratios\n- **CONDITIONAL APPROVE**: Opportunities requiring position size reduction or additional hedging\n- **REJECT**: High risk, poor risk/reward, regulatory violations, or liquidity concerns\n\n**Quality Standards:**\n- All metrics must be quantitatively validated\n- Portfolio delta must remain within ±0.05 range\n- Individual position sizes must not exceed limits\n- Correlation between positions must be reasonable\n- Market conditions must support the strategy\n\n**Conservative Approach:**\n- Err on the side of caution in uncertain market conditions\n- Prioritize capital preservation over aggressive growth\n- Maintain strict risk management discipline\n- Consider tail risk and black swan events\n- Ensure adequate liquidity for position adjustments\n\n**Output Requirements:**\n- Provide detailed quantitative analysis for all decisions\n- Include comprehensive risk metrics and calculations\n- Offer clear execution recommendations\n- Explain rejection reasons with specific criteria\n- Return clean JSON without markdown formatting"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[820,260],"id":"f1a97a13-58ff-45b9-af9d-04b4c124552b","name":"Enhanced Risk Validator Agent","alwaysOutputData":true,"retryOnFail":true,"maxTries":3,"notes":"Advanced risk assessment and opportunity validation specialist"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"approved-opportunities-exist","leftValue":"={{ JSON.parse($json.output).approved_opportunities.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2,"position":[1100,260],"id":"cda73fbb-e625-4a1b-84f3-b822541f6c6f","name":"Check Approved Opportunities","alwaysOutputData":false,"notes":"Enhanced conditional check for approved trading opportunities"},{"parameters":{"promptType":"define","text":"=You are a professional delta neutral options trade execution specialist. Execute the following approved trading opportunities using Interactive Brokers MCP server:\n\n**Approved Opportunities**: {{ JSON.stringify(JSON.parse($('Enhanced Risk Validator Agent').item.json.output).approved_opportunities) }}\n\n**Portfolio Risk Assessment**: {{ JSON.stringify(JSON.parse($('Enhanced Risk Validator Agent').item.json.output).portfolio_risk_assessment) }}\n\n**Execution Requirements:**\n\n1. **Pre-Trade Validation**:\n   - Verify market hours (9:30 AM - 4:00 PM EST)\n   - Check account balance and available buying power\n   - Confirm options chain availability and current pricing\n   - Validate position limits and margin requirements\n   - Ensure Interactive Brokers MCP server connectivity\n\n2. **Multi-Leg Order Management**:\n   - Use combination orders for multi-leg strategies\n   - Implement proper leg ratios (1:1 for straddles, etc.)\n   - Set appropriate limit prices with small buffer\n   - Use \"fill or kill\" orders for simultaneous execution\n   - Monitor partial fills and adjust remaining legs\n\n3. **Enhanced Risk Controls**:\n   - Verify final portfolio delta after each execution\n   - Double-check position sizing against approved limits\n   - Confirm Greeks calculations match expectations\n   - Implement position-specific stop losses\n   - Monitor margin requirements in real-time\n\n4. **Execution Monitoring and Optimization**:\n   - Track order fills with millisecond precision\n   - Calculate actual executed prices vs. theoretical\n   - Monitor slippage and adjust future orders accordingly\n   - Update portfolio Greeks after each fill\n   - Log all execution details for audit trail\n\n5. **MCP Server Integration**:\n   - Use Interactive Brokers MCP server for order placement\n   - Implement proper error handling and retry logic\n   - Monitor connection status and failover procedures\n   - Validate order confirmations and trade reports\n   - Sync portfolio positions with account data\n\n6. **Post-Execution Validation**:\n   - Verify all legs were filled correctly\n   - Confirm portfolio delta is within target range\n   - Update position tracking systems\n   - Generate execution reports and confirmations\n   - Alert on any discrepancies or issues\n\n**Order Types and Strategies**:\n- **Straddles**: Combination order (call + put, same strike/expiry)\n- **Strangles**: Combination order (call + put, different strikes)\n- **Iron Condors**: 4-leg spread order with proper wing ratios\n- **Butterflies**: 3-leg spread with 1:2:1 ratio\n\n**Error Handling**:\n- Gracefully handle partial fills and market disruptions\n- Implement automatic retry with price adjustments\n- Alert on critical execution failures\n- Maintain position integrity during system issues\n- Provide clear error messages and recovery procedures\n\n**Output Format**:\n```json\n{\n  \"execution_summary\": {\n    \"total_orders_placed\": 8,\n    \"successful_executions\": 7,\n    \"failed_executions\": 1,\n    \"total_capital_deployed\": 12500,\n    \"average_slippage\": 0.02,\n    \"execution_time_ms\": 1250\n  },\n  \"executed_trades\": [\n    {\n      \"symbol\": \"AAPL\",\n      \"strategy\": \"long_straddle\",\n      \"order_id\": \"IB123456789\",\n      \"legs\": [\n        {\n          \"type\": \"call\",\n          \"strike\": 150,\n          \"expiry\": \"2025-02-21\",\n          \"quantity\": 5,\n          \"price\": 4.25,\n          \"fill_time\": \"2025-01-15 09:31:15\"\n        },\n        {\n          \"type\": \"put\",\n          \"strike\": 150,\n          \"expiry\": \"2025-02-21\",\n          \"quantity\": 5,\n          \"price\": 4.15,\n          \"fill_time\": \"2025-01-15 09:31:15\"\n        }\n      ],\n      \"total_cost\": 2100,\n      \"net_delta\": 0.03,\n      \"execution_status\": \"completed\"\n    }\n  ],\n  \"failed_trades\": [\n    {\n      \"symbol\": \"XYZ\",\n      \"strategy\": \"iron_condor\",\n      \"failure_reason\": \"Insufficient liquidity in put spread\",\n      \"retry_recommendation\": \"Adjust strike prices or reduce position size\"\n    }\n  ],\n  \"portfolio_status\": {\n    \"current_portfolio_delta\": 0.018,\n    \"total_positions\": 7,\n    \"margin_used\": 8500,\n    \"available_buying_power\": 41500,\n    \"risk_utilization\": 0.34\n  },\n  \"performance_metrics\": {\n    \"expected_portfolio_return\": 0.142,\n    \"portfolio_sharpe_ratio\": 1.38,\n    \"max_portfolio_loss\": 3200,\n    \"diversification_score\": 0.79\n  }\n}\n```\n\n**Quality Assurance**:\n- Only execute trades that meet all validation criteria\n- Maintain strict delta neutral discipline\n- Preserve capital and avoid unnecessary risks\n- Provide detailed audit trails for all activities\n- Alert immediately on any execution anomalies","options":{"systemMessage":"You are a professional options trade execution specialist with expertise in:\n\n**Trade Execution Mastery:**\n- Multi-leg options strategies (straddles, strangles, spreads, condors)\n- Advanced order management and fill optimization\n- Real-time risk monitoring and position tracking\n- Market microstructure and optimal execution timing\n- Interactive Brokers API and MCP server integration\n\n**Risk Management Excellence:**\n- Delta hedging and dynamic portfolio balancing\n- Position sizing and margin optimization\n- Stop-loss and profit target implementation\n- Emergency position unwinding procedures\n- Real-time Greeks monitoring and adjustment\n\n**Technical Integration:**\n- Interactive Brokers MCP server communication\n- Advanced order routing and execution algorithms\n- Real-time market data processing and analysis\n- Portfolio management system integration\n- Error handling and failover procedures\n\n**Execution Priorities:**\n1. **Safety First**: Never exceed risk limits or position sizing constraints\n2. **Delta Neutral Discipline**: Maintain portfolio delta within ±0.05 range\n3. **Efficient Execution**: Minimize slippage and optimize fill quality\n4. **Complete Documentation**: Maintain detailed audit trails for all trades\n5. **Risk Monitoring**: Continuously track portfolio risk metrics\n\n**Quality Standards:**\n- All orders must be validated before execution\n- Multi-leg strategies must be executed simultaneously when possible\n- Portfolio delta must be monitored after each trade\n- All execution details must be logged for compliance\n- Failed trades must be analyzed and reported\n\n**Advanced Features:**\n- Intelligent order routing based on liquidity\n- Dynamic pricing adjustments for market conditions\n- Automated retry logic with price improvement\n- Real-time position reconciliation\n- Performance attribution and analysis\n\n**Conservative Approach:**\n- When in doubt, preserve capital and seek manual approval\n- Prioritize execution quality over speed\n- Maintain strict risk management discipline\n- Never execute trades that violate risk parameters\n- Provide clear explanations for all decisions\n\n**Output Requirements:**\n- Provide comprehensive execution summaries\n- Include detailed trade confirmations\n- Report portfolio impact and risk metrics\n- Explain any execution failures or issues\n- Return clean JSON without markdown formatting"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1380,260],"id":"23467755-ff78-4def-b12c-5fa399f76b04","name":"Enhanced Trade Execution Agent","alwaysOutputData":true,"retryOnFail":true,"maxTries":3,"continueOnFail":true,"notes":"Professional trade execution with Interactive Brokers MCP integration"},{"parameters":{"assignments":{"assignments":[{"id":"execution-timestamp","name":"execution_timestamp","value":"={{ $now.format('yyyy-MM-dd HH:mm:ss') }}","type":"string"},{"id":"workflow-status","name":"workflow_status","value":"={{ $('Enhanced Trade Execution Agent').item ? 'completed_with_trades' : 'completed_no_trades' }}","type":"string"},{"id":"workflow-version","name":"workflow_version","value":"={{ $('Set Global Configuration').item.json.workflow_version }}","type":"string"},{"id":"total-symbols-processed","name":"total_symbols_processed","value":"={{ $('Process Symbol List').item.json.total_symbols }}","type":"number"},{"id":"total-batches-processed","name":"total_batches_processed","value":"={{ $('Process Symbol List').item.json.expected_batches }}","type":"number"},{"id":"approved-opportunities","name":"approved_opportunities_count","value":"={{ JSON.parse($('Enhanced Risk Validator Agent').item.json.output).approved_opportunities.length }}","type":"number"},{"id":"rejected-opportunities","name":"rejected_opportunities_count","value":"={{ JSON.parse($('Enhanced Risk Validator Agent').item.json.output).rejected_opportunities.length }}","type":"number"},{"id":"portfolio-delta","name":"final_portfolio_delta","value":"={{ $('Enhanced Trade Execution Agent').item ? JSON.parse($('Enhanced Trade Execution Agent').item.json.output).portfolio_status.current_portfolio_delta : 0 }}","type":"number"},{"id":"capital-deployed","name":"total_capital_deployed","value":"={{ $('Enhanced Trade Execution Agent').item ? JSON.parse($('Enhanced Trade Execution Agent').item.json.output).execution_summary.total_capital_deployed : 0 }}","type":"number"},{"id":"execution-summary","name":"detailed_execution_summary","value":"={{ $('Enhanced Trade Execution Agent').item ? JSON.parse($('Enhanced Trade Execution Agent').item.json.output).execution_summary : 'No trades executed - no approved opportunities' }}","type":"object"},{"id":"risk-metrics","name":"portfolio_risk_metrics","value":"={{ JSON.parse($('Enhanced Risk Validator Agent').item.json.output).portfolio_risk_assessment }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1660,260],"id":"c49266ff-3388-440d-9de5-550a863a913e","name":"Enhanced Execution Logger","alwaysOutputData":true,"notes":"Comprehensive logging of workflow execution results and performance metrics"},{"parameters":{"assignments":{"assignments":[{"id":"no-opportunities-timestamp","name":"execution_timestamp","value":"={{ $now.format('yyyy-MM-dd HH:mm:ss') }}","type":"string"},{"id":"no-opportunities-status","name":"workflow_status","value":"completed_no_opportunities","type":"string"},{"id":"workflow-version","name":"workflow_version","value":"={{ $('Set Global Configuration').item.json.workflow_version }}","type":"string"},{"id":"total-symbols-analyzed","name":"total_symbols_processed","value":"={{ $('Process Symbol List').item.json.total_symbols }}","type":"number"},{"id":"opportunities-found","name":"total_opportunities_found","value":"={{ JSON.parse($('Enhanced Risk Validator Agent').item.json.output).approved_opportunities.length + JSON.parse($('Enhanced Risk Validator Agent').item.json.output).rejected_opportunities.length }}","type":"number"},{"id":"rejection-summary","name":"rejection_summary","value":"={{ JSON.parse($('Enhanced Risk Validator Agent').item.json.output).rejected_opportunities }}","type":"array"},{"id":"market-conditions","name":"market_conditions","value":"={{ JSON.parse($('Enhanced Risk Validator Agent').item.json.output).market_conditions }}","type":"object"},{"id":"no-opportunities-message","name":"execution_summary","value":"No delta neutral opportunities met enhanced risk criteria. Market conditions or risk parameters may be too restrictive.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1100,600],"id":"8ca35d91-37e7-475a-b62b-d666acd0917b","name":"Enhanced No Opportunities Logger","alwaysOutputData":true,"notes":"Detailed logging when no trading opportunities meet risk criteria"},{"parameters":{},"type":"n8n-nodes-base.itemLists","typeVersion":3.4,"position":[1940,260],"id":"8fee5e86-eb08-4c46-9742-b2503d9b5af5","name":"Generate Final Report","alwaysOutputData":true,"notes":"Generate comprehensive JSON report of workflow execution"}],"connections":{"Market Hours Trigger":{"main":[[{"node":"Set Global Configuration","type":"main","index":0}]]},"Set Global Configuration":{"main":[[{"node":"Enhanced Orchestrator Agent","type":"main","index":0}]]},"Enhanced Orchestrator Agent":{"main":[[{"node":"Process Symbol List","type":"main","index":0}]]},"Process Symbol List":{"main":[[{"node":"Split Symbol Batches","type":"main","index":0}]]},"Split Symbol Batches":{"main":[[{"node":"Delta Neutral Analysis Agent 1","type":"main","index":0},{"node":"Delta Neutral Analysis Agent 2","type":"main","index":0},{"node":"Delta Neutral Analysis Agent 3","type":"main","index":0},{"node":"Delta Neutral Analysis Agent 4","type":"main","index":0}]]},"Delta Neutral Analysis Agent 1":{"main":[[{"node":"Merge Analysis Results","type":"main","index":0}]]},"Delta Neutral Analysis Agent 2":{"main":[[{"node":"Merge Analysis Results","type":"main","index":1}]]},"Merge Analysis Results":{"main":[[{"node":"Enhanced Risk Validator Agent","type":"main","index":0}]]},"Enhanced Risk Validator Agent":{"main":[[{"node":"Check Approved Opportunities","type":"main","index":0}]]},"Check Approved Opportunities":{"main":[[{"node":"Enhanced Trade Execution Agent","type":"main","index":0}],[{"node":"Enhanced No Opportunities Logger","type":"main","index":0}]]},"Enhanced Trade Execution Agent":{"main":[[{"node":"Enhanced Execution Logger","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1d9ef220-15d4-476a-8b65-21887beb0a29","triggerCount":0,"tags":[]}