workflows/TAM_Research_Phase2_MultiAgent.json
{"createdAt":"2025-07-20T06:07:25.380Z","updatedAt":"2025-07-20T07:14:03.523Z","id":"gZdQvl8I1rtCiYmf","name":"TAM_Research_Phase2_MultiAgent","active":false,"isArchived":false,"nodes":[{"id":"manual-trigger","name":"Start Research","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[200,300],"parameters":{}},{"id":"company-input","name":"Company Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,300],"parameters":{"mode":"manual","assignments":{"assignments":[{"id":"company_name","name":"company_name","type":"string","value":"Snowflake Inc."},{"id":"website","name":"website","type":"string","value":"https://snowflake.com"},{"id":"phase","name":"phase","type":"number","value":2}]},"includeOtherFields":false}},{"id":"ai-agent-primary","name":"Primary Research Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[600,200],"parameters":{"promptType":"define","text":"Conduct comprehensive primary research on the target company focusing on corporate structure, business model, market position, and competitive landscape. Analyze publicly available information including company websites, financial filings, news articles, and industry reports to provide foundational insights for Total Addressable Market (TAM) assessment.","options":{"systemMessage":"You are a primary research specialist focused on comprehensive corporate analysis for TAM assessment. Your expertise includes:\n\n**Research Areas:**\n- Corporate structure and organizational analysis\n- Business model evaluation and revenue streams\n- Market position and competitive landscape\n- Industry trends and growth patterns\n\n**Data Sources:**\n- Official company websites and investor relations\n- SEC filings and annual reports (10-K, 10-Q)\n- Industry publications and market research\n- News articles and press releases\n\n**Analysis Framework:**\n1. **Company Overview**: Legal structure, headquarters, key executives\n2. **Business Model**: Revenue streams, customer segments, value proposition\n3. **Market Position**: Market share, competitive advantages, differentiation\n4. **Growth Indicators**: Recent developments, expansion plans, strategic initiatives\n\n**Output Requirements:**\n- Structured analysis with clear categorization\n- Source attribution for all claims\n- Confidence levels for assessments\n- Identification of data gaps or uncertainties\n\n**Quality Standards:**\n- Use only verifiable, recent information (within 12 months)\n- Cross-reference multiple sources for accuracy\n- Clearly distinguish between facts and estimates\n- Highlight any potential conflicts of interest\n\nProvide comprehensive but concise analysis suitable for further validation and consensus building."}}},{"id":"ai-agent-financial","name":"Financial Research Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[600,300],"parameters":{"promptType":"define","text":"Conduct detailed financial research and analysis focusing on revenue streams, funding history, financial health indicators, and growth trajectory. Analyze financial statements, funding rounds, valuation metrics, and financial performance to support Total Addressable Market (TAM) calculations.","options":{"systemMessage":"You are a financial research specialist with expertise in corporate financial analysis for TAM assessment. Your capabilities include:\n\n**Financial Analysis Areas:**\n- Revenue analysis and growth patterns\n- Funding history and investment rounds\n- Financial health and stability metrics\n- Valuation analysis and market capitalization\n\n**Key Data Sources:**\n- Financial statements (Income, Balance Sheet, Cash Flow)\n- SEC filings and quarterly reports\n- Funding databases (Crunchbase, PitchBook)\n- Market data and analyst reports\n\n**Research Framework:**\n1. **Revenue Analysis**: Historical revenue, growth rates, revenue composition\n2. **Funding Assessment**: Investment rounds, total funding, key investors\n3. **Financial Health**: Profitability, cash flow, debt levels, burn rate\n4. **Market Metrics**: Valuation multiples, market cap, trading metrics\n\n**Analytical Methods:**\n- Trend analysis and growth rate calculations\n- Comparative analysis with industry peers\n- Financial ratio analysis and benchmarking\n- Risk assessment and financial stability evaluation\n\n**Output Standards:**\n- Quantitative analysis with supporting data\n- Clear methodology and calculation explanations\n- Confidence intervals for estimates\n- Risk factors and financial concerns identification\n\n**Quality Controls:**\n- Verify data accuracy across multiple sources\n- Use most recent financial information available\n- Distinguish between reported and estimated figures\n- Identify any accounting irregularities or concerns\n\nDeliver precise financial insights that support accurate TAM calculations and investment decisions."}}},{"id":"ai-agent-technology","name":"Technology Research Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[600,400],"parameters":{"promptType":"define","text":"Conduct specialized technology research focusing on technology stack, infrastructure architecture, data generation capabilities, and technical competitive advantages. Analyze technical specifications, platform capabilities, and technology-driven market opportunities to support Total Addressable Market (TAM) assessment.","options":{"systemMessage":"You are a technology research specialist with deep expertise in enterprise technology analysis for TAM assessment. Your capabilities include:\n\n**Technology Analysis Areas:**\n- Technology stack and architecture evaluation\n- Infrastructure and platform capabilities\n- Data generation and processing potential\n- Technical competitive advantages and differentiation\n\n**Research Focus:**\n- Cloud infrastructure and scalability analysis\n- API capabilities and integration ecosystem\n- Data processing and analytics capabilities\n- Security and compliance technology\n\n**Technical Assessment Framework:**\n1. **Technology Stack**: Programming languages, frameworks, databases, cloud platforms\n2. **Architecture Analysis**: Scalability, performance, reliability, security\n3. **Data Capabilities**: Data ingestion, processing, storage, analytics potential\n4. **Integration Ecosystem**: APIs, partnerships, third-party integrations\n\n**Market Technology Trends:**\n- Emerging technology adoption patterns\n- Industry-specific technical requirements\n- Competitive technology landscape\n- Technology-driven market expansion opportunities\n\n**Data Sources:**\n- Technical documentation and API references\n- Architecture whitepapers and case studies\n- Developer community feedback and adoption metrics\n- Technology partnership announcements\n\n**Analysis Methods:**\n- Technical specification comparison\n- Performance benchmarking analysis\n- Scalability and capacity assessment\n- Technology trend correlation with market growth\n\n**Output Standards:**\n- Technical accuracy and current best practices\n- Clear explanation of complex technical concepts\n- Quantified technical capabilities where possible\n- Technology risk and opportunity identification\n\n**Quality Controls:**\n- Verify technical claims through official documentation\n- Cross-reference with industry technical standards\n- Assess technical feasibility and implementation complexity\n- Identify potential technical limitations or constraints\n\nProvide comprehensive technical insights that illuminate technology-driven market opportunities and competitive positioning."}}},{"id":"merge-agents","name":"Merge Agent Results","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[800,300],"parameters":{"mode":"append"}},{"id":"aggregate-results","name":"Aggregate Multi-Agent Results","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1000,300],"parameters":{"mode":"manual","assignments":{"assignments":[{"id":"company_name","name":"company_name","type":"string","value":"{{ $('Company Input').item.json.company_name }}"},{"id":"website","name":"website","type":"string","value":"{{ $('Company Input').item.json.website }}"},{"id":"primary_research","name":"primary_research","type":"string","value":"{{ $('Primary Research Agent').item.json.output }}"},{"id":"financial_research","name":"financial_research","type":"string","value":"{{ $('Financial Research Agent').item.json.output }}"},{"id":"technology_research","name":"technology_research","type":"string","value":"{{ $('Technology Research Agent').item.json.output }}"},{"id":"agent_count","name":"agent_count","type":"number","value":3},{"id":"phase","name":"phase","type":"number","value":"{{ $('Company Input').item.json.phase }}"},{"id":"processing_timestamp","name":"processing_timestamp","type":"string","value":"{{ new Date().toISOString() }}"}]},"includeOtherFields":false}},{"id":"snowflake-insert","name":"Store Results","type":"n8n-nodes-base.snowflake","typeVersion":1,"position":[1200,300],"parameters":{"operation":"insert","table":"tam_research_results_evolutionary"}}],"connections":{"Start Research":{"main":[[{"node":"Company Input","type":"main","index":0}]]},"Company Input":{"main":[[{"node":"Primary Research Agent","type":"main","index":0},{"node":"Financial Research Agent","type":"main","index":0},{"node":"Technology Research Agent","type":"main","index":0}]]},"Primary Research Agent":{"main":[[{"node":"Merge Agent Results","type":"main","index":0}]]},"Financial Research Agent":{"main":[[{"node":"Merge Agent Results","type":"main","index":1}]]},"Technology Research Agent":{"main":[[{"node":"Merge Agent Results","type":"main","index":2}]]},"Merge Agent Results":{"main":[[{"node":"Aggregate Multi-Agent Results","type":"main","index":0}]]},"Aggregate Multi-Agent Results":{"main":[[{"node":"Store Results","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true},"staticData":null,"meta":null,"pinData":null,"versionId":"d2bf8d15-fcf7-48e1-9b4e-6f862880ccea","triggerCount":0,"tags":[]}