workflows/TAM_Research_Phase1_Basic.json
{"createdAt":"2025-07-20T06:06:17.514Z","updatedAt":"2025-07-20T07:13:12.422Z","id":"DlNNzSzDNwP00sv4","name":"TAM_Research_Phase1_Basic","active":false,"isArchived":false,"nodes":[{"id":"manual-trigger","name":"Start Research","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[200,300],"parameters":{}},{"id":"company-input","name":"Company Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,300],"parameters":{"mode":"manual","assignments":{"assignments":[{"id":"company_name","name":"company_name","type":"string","value":"Snowflake Inc."},{"id":"website","name":"website","type":"string","value":"https://snowflake.com"},{"id":"phase","name":"phase","type":"number","value":1}]},"includeOtherFields":false}},{"id":"ai-agent-basic","name":"Basic Research Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[600,300],"parameters":{"promptType":"define","text":"Conduct comprehensive research on the target company to provide foundational insights for Total Addressable Market (TAM) assessment. Analyze company structure, business model, market position, and provide quantitative estimates for key business metrics.","options":{"systemMessage":"You are a comprehensive business research specialist focused on TAM assessment for enterprise companies. Your expertise includes:\n\n**Research Areas:**\n- Company classification and industry analysis\n- Business model evaluation and revenue assessment\n- Market positioning and competitive landscape\n- Technology capabilities and digital maturity\n- Data generation potential and scalability\n\n**Analysis Framework:**\n1. **Company Overview**: Legal structure, headquarters, key executives, employee count\n2. **Industry Classification**: NAICS codes, sector analysis, market categorization\n3. **Business Model**: Revenue streams, customer segments, value proposition\n4. **Financial Metrics**: Revenue estimates, growth indicators, funding status\n5. **Technology Assessment**: Digital capabilities, data generation potential\n6. **Market Position**: Competitive advantages, market share, geographic presence\n\n**Output Requirements:**\n- Industry classification with NAICS code\n- Employee count estimate with confidence interval\n- Annual revenue estimate with methodology\n- Geographic presence and headquarters location\n- Business model description and revenue sources\n- Technology maturity and data generation assessment\n- All estimates with confidence scores (0.0-1.0)\n\n**Data Sources:**\n- Official company websites and investor relations\n- SEC filings and public financial data\n- Industry reports and market research\n- News articles and press releases\n- Technology documentation and case studies\n\n**Quality Standards:**\n- Use only verifiable, recent information\n- Provide confidence levels for all estimates\n- Clearly distinguish between facts and estimates\n- Include methodology for quantitative assessments\n\n**Response Format:**\nProvide structured analysis with clear categorization, source attribution, and confidence scores suitable for TAM calculation and business decision-making.\n\nEnsure comprehensive coverage of all essential business dimensions for reliable TAM assessment."}}},{"id":"format-output","name":"Format Output","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,300],"parameters":{"mode":"manual","assignments":{"assignments":[{"id":"company_name","name":"company_name","type":"string","value":"{{ $('Company Input').item.json.company_name }}"},{"id":"website","name":"website","type":"string","value":"{{ $('Company Input').item.json.website }}"},{"id":"research_results","name":"research_results","type":"string","value":"{{ $json.output }}"},{"id":"confidence_score","name":"confidence_score","type":"number","value":0.7},{"id":"phase","name":"phase","type":"number","value":"{{ $('Company Input').item.json.phase }}"},{"id":"processing_timestamp","name":"processing_timestamp","type":"string","value":"{{ new Date().toISOString() }}"}]},"includeOtherFields":false}},{"id":"snowflake-insert","name":"Store Results","type":"n8n-nodes-base.snowflake","typeVersion":1,"position":[1000,300],"parameters":{"operation":"insert","table":"tam_research_results_evolutionary"}}],"connections":{"Start Research":{"main":[[{"node":"Company Input","type":"main","index":0}]]},"Company Input":{"main":[[{"node":"Basic Research Agent","type":"main","index":0}]]},"Basic Research Agent":{"main":[[{"node":"Format Output","type":"main","index":0}]]},"Format Output":{"main":[[{"node":"Store Results","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true},"staticData":null,"meta":null,"pinData":null,"versionId":"e8cb69ef-45d6-48b0-9e7c-b103a1e2207f","triggerCount":0,"tags":[]}