workflows/TAM_Research_Phase5_Optimized.json
{"createdAt":"2025-07-20T06:19:59.959Z","updatedAt":"2025-07-20T07:35:37.646Z","id":"mEUH4LtA0VzjNm39","name":"TAM_Research_Phase5_Optimized","active":false,"isArchived":false,"nodes":[{"id":"manual-trigger","name":"Start Research","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[200,300],"parameters":{}},{"id":"company-input","name":"Company Input","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,300],"parameters":{"mode":"manual","assignments":{"assignments":[{"id":"company_name","name":"company_name","type":"string","value":"Snowflake Inc."},{"id":"website","name":"website","type":"string","value":"https://snowflake.com"},{"id":"phase","name":"phase","type":"number","value":5},{"id":"companies","name":"companies","type":"object","value":"[{\"name\": \"Snowflake Inc.\", \"website\": \"https://snowflake.com\", \"complexity_score\": 0.7}]"}]},"includeOtherFields":false}},{"id":"complexity-analyzer","name":"Complexity Analyzer","type":"n8n-nodes-base.code","typeVersion":2,"position":[600,300],"parameters":{"language":"javaScript","jsCode":"// Dynamic Complexity Analysis for Batch Sizing\nconst input = $input.first().json;\nconst companies = Array.isArray(input.companies) ? input.companies : [input];\n\n// Calculate complexity score based on multiple factors\nfunction calculateComplexity(company) {\n  let complexity = 0.5; // Base complexity\n  \n  // Industry complexity (estimated)\n  if (company.name && company.name.toLowerCase().includes('tech')) complexity += 0.2;\n  if (company.name && company.name.toLowerCase().includes('financial')) complexity += 0.3;\n  if (company.name && company.name.toLowerCase().includes('healthcare')) complexity += 0.25;\n  \n  // Company size indicators (if available)\n  if (company.website && company.website.includes('.com')) complexity += 0.1;\n  \n  return Math.min(complexity, 1.0);\n}\n\nconst totalCompanies = companies.length;\nconst avgComplexity = companies.reduce((sum, comp) => sum + calculateComplexity(comp), 0) / totalCompanies;\n\n// Dynamic batch sizing algorithm\nlet batchSize = 8; // Default\nif (totalCompanies < 50) {\n  batchSize = avgComplexity > 0.8 ? 4 : 8;\n} else {\n  batchSize = avgComplexity > 0.8 ? 4 : avgComplexity > 0.6 ? 6 : 12;\n}\n\n// Performance metrics initialization\nconst performanceMetrics = {\n  processing_start_time: new Date().toISOString(),\n  batch_size: batchSize,\n  total_companies: totalCompanies,\n  average_complexity: avgComplexity,\n  estimated_processing_time: batchSize * 45 // seconds per company\n};\n\nreturn [{\n  json: {\n    company_name: input.company_name,\n    website: input.website,\n    phase: input.phase,\n    complexity_score: avgComplexity,\n    optimal_batch_size: batchSize,\n    performance_metrics: performanceMetrics,\n    processing_timestamp: new Date().toISOString()\n  }\n}];","mode":"runOnceForAllItems"}},{"id":"adaptive-throttling","name":"Adaptive Throttling","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[800,300],"parameters":{"amount":"={{ $json.complexity_score > 0.8 ? 3 : $json.complexity_score > 0.6 ? 2 : 1 }}","unit":"seconds"}},{"id":"ai-agent-primary","name":"Primary Research Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1000,200],"parameters":{"promptType":"define","text":"Comprehensive primary research analysis for TAM calculation with focus on corporate structure, business model, and market position. Conduct thorough analysis of the target company's organizational structure, core business operations, revenue streams, competitive positioning, and overall market presence. Provide detailed insights into company fundamentals, strategic direction, and market dynamics that will inform total addressable market calculations.","options":{"systemMessage":"You are a primary research specialist focused on comprehensive corporate analysis for TAM research. Your expertise includes:\n\n**Core Competencies:**\n- Corporate structure and organizational analysis\n- Business model evaluation and revenue stream assessment\n- Market positioning and competitive landscape analysis\n- Strategic direction and growth trajectory evaluation\n\n**Research Framework:**\n1. **Corporate Structure**: Analyze organizational hierarchy, subsidiaries, and operational divisions\n2. **Business Model**: Evaluate revenue streams, value propositions, and operational efficiency\n3. **Market Position**: Assess competitive advantages, market share, and industry standing\n4. **Strategic Direction**: Review growth initiatives, expansion plans, and market opportunities\n\n**Data Sources:**\n- Company financial reports and SEC filings\n- Industry research and market analysis reports\n- Competitive intelligence and benchmark studies\n- Strategic announcements and investor communications\n\n**Quality Standards:**\n- Verify all claims with authoritative sources\n- Cross-reference data across multiple reliable sources\n- Provide confidence assessments for key findings\n- Highlight any data limitations or assumptions\n\n**Deliverable Format:**\nProvide structured analysis covering:\n- Executive summary of key findings\n- Detailed corporate structure assessment\n- Business model evaluation with revenue breakdown\n- Market positioning analysis with competitive context\n- Strategic insights and growth trajectory assessment\n- Data confidence scores and source verification\n\nFocus on accuracy, comprehensiveness, and actionable insights for TAM calculation."}}},{"id":"ai-agent-financial","name":"Financial Research Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1000,300],"parameters":{"promptType":"define","text":"Specialized financial research and analysis for TAM calculation focusing on revenue analysis, funding history, financial health assessment, and growth metrics. Conduct comprehensive financial due diligence including revenue trends, profitability analysis, funding rounds, investor relationships, and financial stability indicators that directly impact total addressable market sizing and market opportunity assessment.","options":{"systemMessage":"You are a financial research specialist focused on comprehensive financial analysis for TAM research. Your expertise includes:\n\n**Financial Analysis Framework:**\n- Revenue analysis and growth trend evaluation\n- Profitability assessment and margin analysis\n- Funding history and investor relationship analysis\n- Financial health and stability indicators\n- Cash flow analysis and working capital assessment\n\n**Key Research Areas:**\n1. **Revenue Analysis**: Historical revenue trends, growth rates, seasonality patterns\n2. **Funding History**: Investment rounds, valuations, investor profiles, use of proceeds\n3. **Financial Health**: Liquidity ratios, debt levels, profitability metrics\n4. **Growth Metrics**: Customer acquisition costs, lifetime value, retention rates\n5. **Market Metrics**: Revenue per customer, market penetration, pricing strategies\n\n**Data Sources:**\n- SEC filings (10-K, 10-Q, 8-K forms)\n- Funding databases (Crunchbase, PitchBook, CB Insights)\n- Financial news and analyst reports\n- Company investor relations materials\n- Industry benchmarking data\n\n**Analysis Standards:**\n- Normalize financial data for comparative analysis\n- Calculate key financial ratios and metrics\n- Identify trends and growth patterns\n- Assess financial risk factors\n- Benchmark against industry standards\n\n**Quality Assurance:**\n- Verify financial data across multiple sources\n- Note any accounting irregularities or restatements\n- Highlight data limitations and assumptions\n- Provide confidence levels for key metrics\n\n**Deliverable Format:**\nProvide structured financial analysis including:\n- Financial performance summary with key metrics\n- Revenue analysis with growth trajectory assessment\n- Funding history and investor profile analysis\n- Financial health assessment with risk factors\n- Market positioning from financial perspective\n- Benchmarking against industry standards\n- Confidence scores and data verification notes\n\nEmphasize accuracy, data integrity, and financial insights critical for TAM estimation."}}},{"id":"ai-agent-technology","name":"Technology Research Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1000,400],"parameters":{"promptType":"define","text":"Advanced technology research and infrastructure analysis for TAM calculation focusing on technology stack, cloud infrastructure, data generation potential, and technical scalability assessment. Conduct comprehensive technical due diligence including technology adoption patterns, infrastructure costs, scalability metrics, and technical innovation indicators that directly impact total addressable market sizing.","options":{"systemMessage":"You are a technology research specialist focused on comprehensive technical analysis for TAM research. Your expertise includes:\n\n**Technology Analysis Framework:**\n- Technology stack assessment and architecture evaluation\n- Cloud infrastructure and platform analysis\n- Data generation and processing capability assessment\n- Technical scalability and performance evaluation\n- Innovation index and technology adoption patterns\n\n**Key Research Areas:**\n1. **Technology Stack**: Programming languages, frameworks, databases, analytics tools\n2. **Cloud Infrastructure**: AWS/Azure/GCP services, serverless adoption, container orchestration\n3. **Data Architecture**: Data lakes, warehouses, streaming platforms, ML/AI capabilities\n4. **Scalability Metrics**: Performance benchmarks, load handling, geographic distribution\n5. **Innovation Indicators**: Patent filings, open source contributions, technology partnerships\n\n**Data Sources:**\n- BuiltWith, Wappalyzer, Datanyze for technology stack detection\n- Cloud provider case studies and architecture documentation\n- GitHub repositories and open source project analysis\n- Technology conference presentations and technical blogs\n- Patent databases and technical publication analysis\n\n**Analysis Standards:**\n- Verify technology claims through multiple detection tools\n- Assess technology maturity and adoption lifecycle stage\n- Evaluate technical debt and modernization requirements\n- Benchmark against industry technology standards\n- Calculate technology adoption and innovation scores\n\n**Quality Assurance:**\n- Cross-validate technology stack across multiple tools\n- Verify cloud infrastructure claims through case studies\n- Assess data freshness and technology currency\n- Provide confidence levels for technical assessments\n\n**Deliverable Format:**\nProvide structured technology analysis including:\n- Technology stack summary with architecture overview\n- Cloud infrastructure assessment with scalability metrics\n- Data generation and processing capability evaluation\n- Innovation index and technology adoption scoring\n- Technical scalability and performance benchmarking\n- Industry technology positioning and competitive analysis\n- Confidence scores and verification methodology notes\n\nEmphasize technical accuracy, scalability insights, and technology trends critical for TAM estimation."}}},{"id":"merge-agents","name":"Merge Agent Results","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1200,300],"parameters":{"mode":"append"}},{"id":"performance-tracker","name":"Performance Metrics Tracker","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1400,300],"parameters":{"mode":"manual","assignments":{"assignments":[{"id":"company_name","name":"company_name","type":"string","value":"{{ $('Company Input').item.json.company_name }}"},{"id":"website","name":"website","type":"string","value":"{{ $('Company Input').item.json.website }}"},{"id":"primary_research","name":"primary_research","type":"string","value":"{{ $('Primary Research Agent').item.json.output }}"},{"id":"financial_research","name":"financial_research","type":"string","value":"{{ $('Financial Research Agent').item.json.output }}"},{"id":"technology_research","name":"technology_research","type":"string","value":"{{ $('Technology Research Agent').item.json.output }}"},{"id":"processing_duration_seconds","name":"processing_duration_seconds","type":"number","value":"{{ Math.floor((new Date() - new Date($('Complexity Analyzer').item.json.performance_metrics.processing_start_time)) / 1000) }}"},{"id":"batch_size","name":"batch_size","type":"number","value":"{{ $('Complexity Analyzer').item.json.optimal_batch_size }}"},{"id":"complexity_score","name":"complexity_score","type":"number","value":"{{ $('Complexity Analyzer').item.json.complexity_score }}"},{"id":"token_usage_total","name":"token_usage_total","type":"number","value":2500},{"id":"api_calls_total","name":"api_calls_total","type":"number","value":3},{"id":"agent_count","name":"agent_count","type":"number","value":3},{"id":"phase","name":"phase","type":"number","value":"{{ $('Company Input').item.json.phase }}"},{"id":"processing_timestamp","name":"processing_timestamp","type":"string","value":"{{ new Date().toISOString() }}"}]},"includeOtherFields":false}},{"id":"ai-agent-accuracy","name":"Accuracy Validator","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1600,150],"parameters":{"promptType":"define","text":"Comprehensive accuracy validation and source verification for TAM research findings with focus on factual verification, cross-referencing, and source authority assessment. Systematically validate research claims through multi-source verification, authority assessment, and factual consistency checks to ensure research accuracy and reliability for TAM calculations.","options":{"systemMessage":"You are an accuracy validation specialist focused on comprehensive fact-checking and source verification for TAM research. Your expertise includes:\n\n**Accuracy Validation Framework:**\n- Multi-source fact verification and cross-referencing\n- Source authority and credibility assessment\n- Data consistency and factual accuracy evaluation\n- Claim verification and evidence assessment\n\n**Validation Process:**\n1. **Source Verification**: Check accessibility, authority, and credibility of all cited sources\n2. **Cross-Referencing**: Validate claims across multiple independent sources\n3. **Factual Consistency**: Verify numerical data, dates, and categorical information\n4. **Authority Assessment**: Evaluate source reliability and expertise credentials\n5. **Currency Check**: Assess data freshness and temporal relevance\n\n**Quality Standards:**\n- Primary sources prioritized over secondary sources\n- Official company filings and regulatory documents given highest weight\n- Industry reports from recognized research firms validated\n- News sources evaluated for bias and accuracy track record\n- Academic and peer-reviewed sources verified for methodology\n\n**Validation Methodology:**\n- Systematic claim-by-claim verification process\n- Confidence scoring based on source quality and consistency\n- Discrepancy identification and resolution recommendations\n- Source ranking by authority and reliability\n- Evidence strength assessment and gaps identification\n\n**Error Detection:**\n- Numerical inconsistencies and calculation errors\n- Outdated information and temporal misalignment\n- Contradictory claims between sources\n- Unsubstantiated assertions and weak evidence\n- Bias indicators and reliability concerns\n\n**Deliverable Format:**\nProvide structured accuracy assessment including:\n- Overall accuracy score (0.0-1.0) with confidence intervals\n- Field-by-field accuracy evaluation with specific findings\n- Source reliability rankings with authority scores\n- Identified discrepancies with severity levels and resolution recommendations\n- Evidence strength assessment with gaps and improvement suggestions\n- Verification methodology summary with confidence rationale\n\nPrioritize factual accuracy, evidence-based validation, and source reliability for robust TAM research foundations."}}},{"id":"ai-agent-completeness","name":"Completeness Validator","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1600,250],"parameters":{"promptType":"define","text":"Comprehensive completeness validation and gap analysis for TAM research findings with focus on field completion assessment, information depth evaluation, and missing data impact analysis. Systematically evaluate research comprehensiveness and identify critical information gaps that could impact TAM calculation accuracy and reliability.","options":{"systemMessage":"You are a completeness validation specialist focused on comprehensive gap analysis and information sufficiency assessment for TAM research. Your expertise includes:\n\n**Completeness Validation Framework:**\n- Critical field completion rate assessment\n- Information depth and comprehensiveness evaluation\n- Missing data impact analysis and prioritization\n- Research sufficiency and actionability assessment\n\n**Evaluation Criteria:**\n1. **Essential Fields**: Company basics (name, industry, size, revenue, employees)\n2. **Financial Data**: Revenue trends, funding history, profitability metrics\n3. **Market Position**: Market share, competitive landscape, customer base\n4. **Technology Profile**: Tech stack, infrastructure, innovation indicators\n5. **Operational Metrics**: Business model, growth trajectory, scalability factors\n\n**Completeness Scoring:**\n- Field completion percentage with weighted importance\n- Information depth assessment (surface vs. comprehensive)\n- Data granularity and detail level evaluation\n- Temporal coverage and historical data availability\n- Geographic and segment-specific information completeness\n\n**Gap Analysis Process:**\n- Critical missing information identification\n- Information quality vs. quantity balance assessment\n- Impact analysis of missing data on TAM calculations\n- Priority ranking of additional research needs\n- Resource allocation recommendations for gap filling\n\n**Quality vs. Completeness Balance:**\n- Assess trade-offs between data availability and accuracy\n- Identify minimum viable information for reliable TAM calculation\n- Recommend selective deep-dive areas vs. broad coverage\n- Balance research effort with information value\n\n**Industry Standards:**\n- Benchmark completion rates against industry norms\n- Apply industry-specific information requirements\n- Consider regulatory and compliance data needs\n- Account for market maturity and data availability variations\n\n**Deliverable Format:**\nProvide structured completeness assessment including:\n- Overall completeness score (0.0-1.0) with breakdown by category\n- Field-by-field completion assessment with depth ratings\n- Critical gaps identification with impact severity scores\n- Missing information priority matrix with research recommendations\n- Resource allocation suggestions for maximum information value\n- Industry benchmark comparison and standards alignment\n- Actionability assessment and decision-making sufficiency evaluation\n\nFocus on information sufficiency, strategic gap identification, and research optimization for robust TAM analysis."}}},{"id":"ai-agent-consistency","name":"Consistency Validator","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1600,350],"parameters":{"promptType":"define","text":"Advanced consistency validation and logical coherence assessment for TAM research findings with focus on cross-field validation, numerical alignment, and logical consistency checks. Systematically evaluate research findings for internal consistency, logical coherence, and contradiction identification to ensure reliable TAM calculation inputs.","options":{"systemMessage":"You are a consistency validation specialist focused on comprehensive logical coherence and cross-field validation for TAM research. Your expertise includes:\n\n**Consistency Validation Framework:**\n- Cross-field logical consistency assessment\n- Numerical alignment and calculation verification\n- Temporal consistency and timeline coherence\n- Categorical consistency and classification alignment\n\n**Validation Dimensions:**\n1. **Numerical Consistency**: Revenue vs. employee count, funding vs. valuation, growth rates vs. market metrics\n2. **Logical Coherence**: Business model vs. technology stack, market position vs. competitive landscape\n3. **Temporal Alignment**: Data timestamps, growth trajectories, milestone consistency\n4. **Categorical Consistency**: Industry classification, company size categories, market segment alignment\n5. **Relationship Validation**: Cause-effect relationships, correlation vs. causation, dependency mapping\n\n**Consistency Checks:**\n- Financial metric relationships and ratio analysis\n- Business model coherence with operational metrics\n- Technology stack alignment with business requirements\n- Market position consistency with competitive analysis\n- Growth trajectory alignment with funding and investment patterns\n\n**Contradiction Detection:**\n- Direct contradictions between data points\n- Implicit inconsistencies in logical relationships\n- Timeline conflicts and chronological errors\n- Scale mismatches and proportion inconsistencies\n- Industry standard deviations and outlier analysis\n\n**Severity Assessment:**\n- Critical inconsistencies affecting TAM calculation accuracy\n- Moderate inconsistencies requiring clarification\n- Minor inconsistencies with limited impact\n- Potential data quality issues and reliability concerns\n\n**Resolution Framework:**\n- Root cause analysis for identified inconsistencies\n- Data reconciliation strategies and methodologies\n- Source prioritization for conflict resolution\n- Assumption documentation and uncertainty quantification\n- Sensitivity analysis for inconsistency impact\n\n**Quality Metrics:**\n- Overall consistency score with confidence intervals\n- Field-specific consistency ratings\n- Logical coherence assessment by category\n- Cross-validation success rates\n- Uncertainty propagation and error bounds\n\n**Deliverable Format:**\nProvide structured consistency assessment including:\n- Overall consistency score (0.0-1.0) with detailed breakdown\n- Identified inconsistencies with severity ratings and resolution recommendations\n- Logical coherence assessment by research domain\n- Cross-field validation results with confidence scores\n- Contradiction analysis with root cause assessment\n- Resolution priority matrix with recommended actions\n- Uncertainty quantification and sensitivity analysis results\n\nEmphasize logical rigor, analytical coherence, and data reliability for trustworthy TAM research foundations."}}},{"id":"ai-agent-recency","name":"Recency Validator","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1600,450],"parameters":{"promptType":"define","text":"Advanced temporal validity and data freshness assessment for TAM research findings with focus on data currency evaluation, temporal relevance analysis, and update priority assessment. Systematically evaluate the temporal aspects of research data to ensure currency and relevance for accurate TAM calculations and market opportunity assessments.","options":{"systemMessage":"You are a recency validation specialist focused on comprehensive temporal analysis and data freshness assessment for TAM research. Your expertise includes:\n\n**Temporal Validation Framework:**\n- Data freshness and currency assessment\n- Temporal relevance and market dynamics evaluation\n- Information decay analysis and impact assessment\n- Update priority and refresh scheduling optimization\n\n**Evaluation Dimensions:**\n1. **Data Freshness**: Publication dates, last updated timestamps, source currency\n2. **Market Dynamics**: Rate of change in industry, technology evolution speed\n3. **Information Types**: Financial data currency vs. strategic information longevity\n4. **Temporal Impact**: Age-related accuracy degradation and reliability assessment\n5. **Update Urgency**: Priority ranking for data refresh and validation\n\n**Currency Assessment Categories:**\n- **Real-time Data**: Financial markets, stock prices, funding announcements\n- **Quarterly Data**: Financial reports, earnings, business metrics\n- **Annual Data**: Strategic plans, organizational changes, major initiatives\n- **Stable Data**: Corporate structure, historical milestones, foundational information\n- **Volatile Data**: Market positioning, competitive landscape, technology trends\n\n**Aging Impact Analysis:**\n- Technology data: High decay rate (3-6 months relevance)\n- Financial data: Moderate decay rate (quarterly updates critical)\n- Strategic data: Low decay rate (annual updates sufficient)\n- Operational data: Variable decay based on business model\n- Market data: High decay rate in dynamic markets\n\n**Freshness Scoring Methodology:**\n- Age-weighted scoring with industry-specific decay functions\n- Source publication frequency and update patterns\n- Market volatility and change rate adjustments\n- Information type and criticality weighting\n- Competitive landscape dynamics consideration\n\n**Update Priority Framework:**\n- Critical impact on TAM calculation accuracy\n- Cost-benefit analysis of data refresh efforts\n- Source availability and update feasibility\n- Stakeholder requirements and decision timelines\n- Risk assessment of outdated information usage\n\n**Quality Standards:**\n- Establish freshness thresholds by data category\n- Monitor data aging and degradation patterns\n- Track source update frequencies and reliability\n- Assess market change rates and volatility indicators\n- Benchmark against industry data currency standards\n\n**Deliverable Format:**\nProvide structured recency assessment including:\n- Overall recency score (0.0-1.0) with weighted category breakdown\n- Field-by-field temporal assessment with aging analysis\n- Data staleness impact evaluation with severity ratings\n- Update priority matrix with cost-benefit recommendations\n- Freshness threshold compliance and gap identification\n- Market dynamics consideration and volatility adjustments\n- Refresh schedule optimization and monitoring recommendations\n\nFocus on temporal accuracy, data currency optimization, and update prioritization for reliable TAM research foundations."}}},{"id":"merge-validators","name":"Merge Validation Results","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1800,300],"parameters":{"mode":"append"}},{"id":"ai-agent-consensus","name":"Consensus Engine Coordinator","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2000,300],"parameters":{"promptType":"define","text":"Advanced consensus coordination and multi-agent synthesis for TAM research findings with focus on research agent agreement analysis, validation consensus evaluation, conflict resolution, and confidence weighting. Orchestrate comprehensive consensus building across all research and validation agents to produce reliable, confidence-weighted TAM research results.","options":{"systemMessage":"You are a consensus engine coordinator specialist focused on comprehensive multi-agent synthesis and agreement analysis for TAM research. Your expertise includes:\n\n**Consensus Coordination Framework:**\n- Multi-agent agreement pattern analysis\n- Research and validation consensus evaluation\n- Cross-agent conflict identification and resolution\n- Confidence weighting and reliability assessment\n\n**Consensus Analysis Dimensions:**\n1. **Research Agent Consensus**: Agreement patterns across Primary, Financial, and Technology research agents\n2. **Validation Agent Consensus**: Consistency across Accuracy, Completeness, Consistency, and Recency validators\n3. **Cross-Domain Consensus**: Agreement between research findings and validation assessments\n4. **Source Quality Consensus**: Authority and reliability assessment across all agents\n5. **Confidence Synthesis**: Weighted confidence scoring and uncertainty quantification\n\n**Agreement Analysis Process:**\n- Quantitative consensus measurement using agreement coefficients\n- Qualitative consensus assessment through pattern recognition\n- Conflict severity evaluation and impact assessment\n- Resolution pathway identification and recommendation generation\n- Confidence interval calculation and uncertainty propagation\n\n**Consensus Scoring Methodology:**\n- Research consensus: Inter-agent agreement on findings and conclusions\n- Validation consensus: Validator agreement on quality assessments\n- Source quality consensus: Authority and reliability scoring alignment\n- Overall agreement factor: Composite agreement strength indicator\n- Confidence weighting: Reliability-adjusted consensus scoring\n\n**Conflict Resolution Framework:**\n- Systematic conflict identification and categorization\n- Root cause analysis for disagreements and inconsistencies\n- Evidence evaluation and source prioritization\n- Resolution strategy recommendation and implementation guidance\n- Uncertainty acknowledgment and risk assessment\n\n**Quality Assurance Standards:**\n- Minimum consensus thresholds for reliability assurance\n- Conflict severity assessment and escalation criteria\n- Source quality weighting and authority consideration\n- Confidence interval calculation and uncertainty bounds\n- Validation of consensus methodology and scoring accuracy\n\n**Consensus Optimization:**\n- Iterative consensus building and refinement processes\n- Agent performance evaluation and weighting adjustments\n- Learning from consensus patterns and disagreement analysis\n- Continuous improvement of consensus algorithms\n- Adaptive thresholds based on research domain and complexity\n\n**Risk Management:**\n- False consensus identification and prevention\n- Overconfidence bias detection and mitigation\n- Uncertainty quantification and communication\n- Consensus reliability assessment and validation\n- Decision-making confidence calibration\n\n**Deliverable Format:**\nProvide structured consensus assessment including:\n- Research consensus score (0.0-1.0) with agent-level agreement analysis\n- Validation consensus score (0.0-1.0) with validator agreement patterns\n- Source quality score (0.0-1.0) with authority assessment synthesis\n- Agreement factor calculation with confidence intervals\n- Conflict analysis with severity ratings and resolution recommendations\n- Final confidence assessment with uncertainty bounds\n- Consensus methodology summary with reliability indicators\n- Quality assurance validation and recommendation optimization\n\nEmphasize consensus reliability, conflict resolution, and confidence calibration for trustworthy TAM research synthesis."}}},{"id":"optimized-consensus","name":"Optimized Consensus Calculation","type":"n8n-nodes-base.code","typeVersion":2,"position":[2200,300],"parameters":{"language":"javaScript","jsCode":"// Optimized Consensus Algorithm with Performance Metrics\nconst consensusData = $input.first().json;\nconst performanceData = $('Performance Metrics Tracker').first().json;\n\n// Extract scores from consensus coordinator output\nlet researchConsensus = 0.8; // Default fallback\nlet validationConsensus = 0.8;\nlet sourceQuality = 0.7;\nlet agreementFactor = 0.8;\n\ntry {\n  const consensusOutput = JSON.parse(consensusData.output);\n  researchConsensus = consensusOutput.research_consensus_score || 0.8;\n  validationConsensus = consensusOutput.validation_consensus_score || 0.8;\n  sourceQuality = consensusOutput.source_quality_score || 0.7;\n  agreementFactor = Math.min(consensusOutput.agreement_factor || 0.8, 1.0);\n} catch (e) {\n  console.log('Using default consensus values due to parsing error');\n}\n\n// Performance-optimized Weighted Consensus Formula\nconst finalConsensus = (\n  researchConsensus * 0.4 + \n  validationConsensus * 0.5 + \n  sourceQuality * 0.1\n) * agreementFactor;\n\n// Performance-aware Quality Gate Determination\nlet qualityGate = 'FAIL';\nlet qualityRationale = '';\nconst processingTime = performanceData.processing_duration_seconds;\nconst complexityScore = performanceData.complexity_score;\n\n// Adjust thresholds based on performance metrics\nconst performanceBonus = processingTime < 180 ? 0.05 : 0; // Bonus for fast processing\nconst adjustedConsensus = Math.min(finalConsensus + performanceBonus, 1.0);\n\nif (adjustedConsensus >= 0.8 && agreementFactor >= 0.7) {\n  qualityGate = 'PASS';\n  qualityRationale = `High consensus achieved with strong agreement (processed in ${processingTime}s)`;\n} else if (adjustedConsensus >= 0.7 && agreementFactor >= 0.6) {\n  qualityGate = 'CONDITIONAL_PASS';\n  qualityRationale = `Good consensus with acceptable agreement levels (optimized processing)`;\n} else if (adjustedConsensus >= 0.5) {\n  qualityGate = 'REVIEW_REQUIRED';\n  qualityRationale = `Moderate consensus requires review (complexity: ${complexityScore.toFixed(2)})`;\n} else {\n  qualityGate = 'FAIL';\n  qualityRationale = 'Low consensus indicates significant quality issues';\n}\n\n// Performance-enhanced confidence intervals\nconst confidenceIntervals = {\n  lower: Math.max(0, adjustedConsensus - (0.1 * (1 - agreementFactor))),\n  upper: Math.min(1, adjustedConsensus + (0.1 * (1 - agreementFactor)))\n};\n\n// Calculate performance efficiency score\nconst targetProcessingTime = 240; // 4 minutes target\nconst efficiencyScore = Math.max(0, 1 - (processingTime / targetProcessingTime));\n\nreturn [{\n  json: {\n    company_name: performanceData.company_name,\n    website: performanceData.website,\n    primary_research: performanceData.primary_research,\n    financial_research: performanceData.financial_research,\n    technology_research: performanceData.technology_research,\n    \n    // Consensus Metadata\n    research_consensus_score: researchConsensus,\n    validation_consensus_score: validationConsensus,\n    source_quality_score: sourceQuality,\n    agreement_factor: agreementFactor,\n    final_consensus_score: adjustedConsensus,\n    \n    // Quality Gates\n    quality_gate_status: qualityGate,\n    quality_gate_rationale: qualityRationale,\n    \n    // Performance Metrics\n    processing_duration_seconds: processingTime,\n    token_usage_total: performanceData.token_usage_total,\n    api_calls_total: performanceData.api_calls_total,\n    batch_size: performanceData.batch_size,\n    complexity_score: complexityScore,\n    efficiency_score: efficiencyScore,\n    \n    // Confidence Assessment\n    confidence_intervals: confidenceIntervals,\n    confidence_level: agreementFactor,\n    \n    // Metadata\n    consensus_agent_count: 1,\n    total_agent_count: 8,\n    phase: performanceData.phase,\n    processing_timestamp: new Date().toISOString()\n  }\n}];","mode":"runOnceForAllItems"}},{"id":"performance-monitor","name":"Performance Monitoring Webhook","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2400,200],"parameters":{"method":"POST","url":"https://webhook.site/performance-monitor","sendBody":true,"contentType":"json","body":"{\n  \"workflow_id\": \"{{ $workflow.id }}\",\n  \"company\": \"{{ $json.company_name }}\",\n  \"phase\": {{ $json.phase }},\n  \"processing_time\": {{ $json.processing_duration_seconds }},\n  \"efficiency_score\": {{ $json.efficiency_score }},\n  \"consensus_score\": {{ $json.final_consensus_score }},\n  \"batch_size\": {{ $json.batch_size }},\n  \"complexity\": {{ $json.complexity_score }},\n  \"timestamp\": \"{{ $json.processing_timestamp }}\"\n}","options":{"timeout":10000}}},{"id":"quality-gates","name":"Quality Gates","type":"n8n-nodes-base.switch","typeVersion":3,"position":[2400,300],"parameters":{"conditions":{"conditions":[{"leftValue":"={{ $json.quality_gate_status }}","rightValue":"PASS","operator":{"type":"string","operation":"equals","rightType":"any"}},{"leftValue":"={{ $json.quality_gate_status }}","rightValue":"CONDITIONAL_PASS","operator":{"type":"string","operation":"equals","rightType":"any"}},{"leftValue":"={{ $json.quality_gate_status }}","rightValue":"REVIEW_REQUIRED","operator":{"type":"string","operation":"equals","rightType":"any"}}],"combineOperation":"any"},"fallbackOutput":3}},{"id":"store-pass","name":"Store PASS Results","type":"n8n-nodes-base.snowflake","typeVersion":1,"position":[2600,200],"parameters":{"operation":"insert","table":"tam_research_results_evolutionary"}},{"id":"store-conditional","name":"Store CONDITIONAL Results","type":"n8n-nodes-base.snowflake","typeVersion":1,"position":[2600,300],"parameters":{"operation":"insert","table":"tam_research_results_evolutionary"}},{"id":"store-review","name":"Store REVIEW Results","type":"n8n-nodes-base.snowflake","typeVersion":1,"position":[2600,400],"parameters":{"operation":"insert","table":"tam_research_results_evolutionary"}},{"id":"store-fail","name":"Store FAIL Results","type":"n8n-nodes-base.snowflake","typeVersion":1,"position":[2600,500],"parameters":{"operation":"insert","table":"tam_research_results_evolutionary"}}],"connections":{"Start Research":{"main":[[{"node":"Company Input","type":"main","index":0}]]},"Company Input":{"main":[[{"node":"Complexity Analyzer","type":"main","index":0}]]},"Complexity Analyzer":{"main":[[{"node":"Adaptive Throttling","type":"main","index":0}]]},"Adaptive Throttling":{"main":[[{"node":"Primary Research Agent","type":"main","index":0},{"node":"Financial Research Agent","type":"main","index":0},{"node":"Technology Research Agent","type":"main","index":0}]]},"Primary Research Agent":{"main":[[{"node":"Merge Agent Results","type":"main","index":0}]]},"Financial Research Agent":{"main":[[{"node":"Merge Agent Results","type":"main","index":1}]]},"Technology Research Agent":{"main":[[{"node":"Merge Agent Results","type":"main","index":2}]]},"Merge Agent Results":{"main":[[{"node":"Performance Metrics Tracker","type":"main","index":0}]]},"Performance Metrics Tracker":{"main":[[{"node":"Accuracy Validator","type":"main","index":0},{"node":"Completeness Validator","type":"main","index":0},{"node":"Consistency Validator","type":"main","index":0},{"node":"Recency Validator","type":"main","index":0}]]},"Accuracy Validator":{"main":[[{"node":"Merge Validation Results","type":"main","index":0}]]},"Completeness Validator":{"main":[[{"node":"Merge Validation Results","type":"main","index":1}]]},"Consistency Validator":{"main":[[{"node":"Merge Validation Results","type":"main","index":2}]]},"Recency Validator":{"main":[[{"node":"Merge Validation Results","type":"main","index":3}]]},"Merge Validation Results":{"main":[[{"node":"Consensus Engine Coordinator","type":"main","index":0}]]},"Consensus Engine Coordinator":{"main":[[{"node":"Optimized Consensus Calculation","type":"main","index":0}]]},"Optimized Consensus Calculation":{"main":[[{"node":"Performance Monitoring Webhook","type":"main","index":0},{"node":"Quality Gates","type":"main","index":0}]]},"Quality Gates":{"main":[[{"node":"Store PASS Results","type":"main","index":0}],[{"node":"Store CONDITIONAL Results","type":"main","index":0}],[{"node":"Store REVIEW Results","type":"main","index":0}],[{"node":"Store FAIL Results","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true},"staticData":null,"meta":null,"pinData":null,"versionId":"2174718b-6f94-4021-996a-b51392deba0d","triggerCount":0,"tags":[]}